<div style="font: normal 14px Helvetica, Arial, sans-serif; line-height: 19px; color: #333;">
  <p><%= @trip.user.username %> just posted a Trip from <%= @trip.origin_location %> to <%= @trip.destination_location %></p>
  <p>You can view the post through the link below:</p>
  <br/>
  <%= auto_link(trip_url(@trip)) %>
</div>
