<div style="font: normal 14px Helvetica, Arial, sans-serif; line-height: 19px; color: #333;">

  <%= @commentator.username %> commented on your Wanted Bistiper on <%= l(@created) %>:
  <blockquote>
    <strong><i><%= simple_format @content %></i></strong>
  </blockquote>
  You can view the comment through the link below:
  <br/>
  <%= auto_link(@seeks_show_url) %>

</div>