<% message = locals[:message] %>
<tr>
  <td style="vertical-align: top">
    <%= image_tag message.sender.avatar.url(:thumb), :align => 'center' %>
  </td>
  <td>
    <div class="conversation-name"><%= link_to message.sender.username, user_path(message.sender) %>, <i><%= l(message.created_at) %> - <%= date_age_in_words message.created_at %></i></div>
    <div class="conversation-content blue-link">
      <%= auto_link_in_new_tab(message.body) %>
    </div>
  </td>
</tr>