<% receiver = sent.receiver %>
<tr>
  <td style="vertical-align: top">
    <%= image_tag receiver.avatar.url(:thumb), :align => 'center' %>
  </td>
  <td>
    <div class="message-name"><strong><%= t('message.field.label.receiver') %>:</strong> <%= link_to receiver.username, user_path(receiver) %><i><br/><%= l(sent.created_at) %><br/><%= date_age_in_words sent.created_at %></i></div>
  </td>
  <td>
    <div class="message-content">
      <%= link_to sent.subject_display, user_message_path(current_user, sent) %><br/>
      <% body = sent.body %>
      <% body = body.slice(0,100) + "..." unless body.length <= 100 %>
      <%= body %>
    </div>
  </td>
</tr>