<%= render 'shared/guide_menu' %>
<% page_title t('content.link.guide') %>
<div class="col8">
  <h3 class="textBlack">For fulfiller</h3>
</div>
<div class="col4">
  <p><%= image_tag 'guide/legal.png', :class => 'tipsIcon' %><strong>Legal stuff</strong><br/>
    Say no to illegal stuff. Ask for permission to look inside the item packaging.
  </p>
</div>
<div class="col4">
  <p><%= image_tag 'guide/reputation.png', :class => 'tipsIcon' %><strong>Reputation</strong><br/>Make a deal with
    user who has a complete profile and good reputation.
  </p>
</div>
<div class="col4">
  <p><%= image_tag 'guide/limit.png', :class => 'tipsIcon' %><strong>Describe what you can bring</strong><br/>
    Mention clearly item specification (weight and value) that you can bring.
  </p>
</div>
<div class="col4">
  <p><%= image_tag 'guide/payment.png', :class => 'tipsIcon' %><strong>Payment deal</strong><br/>
    Make a clear deal about the payment and tip you want to get.
  </p>
</div>
<div class="col4">
  <p><%= image_tag 'guide/rekber.png', :class => 'tipsIcon' %><strong>Escrow</strong><br/>
    You can use escrow to ensure the item looker can pay you. See the escrow page for more information.
  </p>
</div>
<div class="col4">
  <p><%= image_tag 'guide/insurance.png', :class => 'tipsIcon' %><strong>Insurance</strong><br/>Suggest the item looker
    to insure their stuff against loss. See the insurance page for more information</p>
</div>
