<%= render 'shared/guide_menu' %>
<% page_title t('content.link.guide') %>
<div class="col9">
  <h2>Trust and Safety</h2>

  <p align="center">
    <%= image_tag 'guides.png', :class => 'defaultShadow' %>
  </p>
  <br/>

  <p>
    We believe people are fundamentally good, But we also believe people deserve peace of mind to do transaction with the one
    they never met before. We will always develop our features to meet the users needs. We also provide some information about
    the tips for your positive experience in using bistip.com.
  </p>

  <p>
    <h4> See the tips based on the user categories below:</h4>
  </p>
</div>

<div class="defaultRound col3 alignCenter">
  <h4><%= link_to t('content.link.guide_all'), guide_all_path, :class=>"btnAction" %></h4>
</div>
<div class="defaultRound col3 alignCenter">
  <h4><%= link_to t('content.link.guide_bistiper'), guide_bistiper_path, :class=>"btnAction" %></h4>
</div>
<div class="defaultRound col3 alignCenter">
  <h4><%= link_to t('content.link.guide_looker'), guide_looker_path, :class=>"btnAction" %></h4>
</div>
