<% page_title t('content.link.guide') %>
<div class="col4">
  <h3 class="textBlack">Untuk Penitip (yang mencari orang untuk dititipi)</h3>
</div>
<div class="col4">
  <p><%= image_tag 'guide/reputation.png', :class => 'tipsIcon' %><strong>Reputation</strong><br/>Make a deal with
    user who has a complete profile and good reputation.
  </p>
</div>
<div class="col4">
  <p><%= image_tag 'guide/legal.png', :class => 'tipsIcon' %><strong>Legal stuff</strong><br/>
    Please do not request for illegal item. Bistip forbids illegal item transaction.
  </p>
</div>
<div class="col4">
  <p><%= image_tag 'guide/payment.png', :class => 'tipsIcon' %><strong>Payment deal</strong><br/>
    Make a clear deal about the payment and the tip that you will give.
  </p>
</div>
<div class="col4">
  <p><%= image_tag 'guide/rekber.png', :class => 'tipsIcon' %><strong>Escrow</strong><br/>
    You can use escrow to protect your payment. See the escrow page for more information.
  </p>
</div>
<div class="col4">
  <p><%= image_tag 'guide/insurance.png', :class => 'tipsIcon' %><strong>Insurance</strong><br/>Insure your item against loss,
     See the insurance page for more information</p>
</div>
<%= render 'shared/guide_menu' %>