<%= render 'shared/static_menu' %>
<% page_title t('content.link.jobs') %>
<div class="col9">
  <h2><%= t('content.link.jobs') %></h2>
  <h3>Available Position(s)</h3>

  <h4>Software Engineer</h4>
  <br/>
  <p>Requirements:</p>
  <ul>
    <li>Required skills: Ruby (Ruby on Rails), MVC web framework, Object-Relational Mapper, JavaScript, and AJAX.</li>
    <li>Good understanding of Object Oriented principle.</li>
    <li>Experience in CSS, J2EE, PHP, Perl, or Python is a plus.</li>
    <li>Fresh graduates are welcome.</li>
  </ul>
  <p>Please send your CV and Resume to: <strong>hire.me[at]bistip.com</strong> good luck! :)</p>
</div>
