<div class="col3">
  <nav class="static">

    <h4 class="textBlack">Event</h4><br/>

    <%= render_sub_menu_link 'Bistipes #4', [{:controller => 'content', :action => "event_bistipes_4"}] %>
    <%= render_sub_menu_link 'Bistipes #3', [{:controller => 'content', :action => "event_bistipes_3"}] %>
    <%= render_sub_menu_link 'Bistipes #2', [{:controller => 'content', :action => "event_bistipes_2"}] %>
    <%= render_sub_menu_link 'Bistipes #1', [{:controller => 'content', :action => "event_bistipes"}] %>
    <%= render_sub_menu_link 'Kompetisi Slogan', [{:controller => 'content', :action => "event_slogan"}] %>
    <%= render_sub_menu_link 'Kompetisi Blog', [{:controller => 'content', :action => "event_blog"}] %>
  </nav>
</div> 