<% similiar_trips = locals[:similiar_trips] %>

<div class="similiar">
<fieldset>
  <legend class="heading-grey"><%=t('trip.show.label.similiar')%></legend>
    <% if similiar_trips.size > 0 %>
      <% similiar_trips.each do |trip| %>
        <div>
          <% info = "" %>
          <% if !trip.routine? %>
            <% info = "#{l(trip.departure_date, :format=>:date_without_day)}" %>
          <% else %>
            <%info = t("week_period.#{trip.period}")%>
          <% end %>
          <span class="blue-link"><%= link_to info, trip_path(trip) %></span>
          <%=" - "+t('trip.show.label.by')%>
          <span class="blue-link"><%=link_to( trip.user.username, trip.user)%></span>
        </div>
      <% end %>
    <% end %>
</fieldset>
</div>
