<% trip = locals[:trip] %>
<% user = trip.user %>
<li class="randomTripsRow">
  <div class="bistiperPlc">
    <div class="avatar">
      <%= render 'shared/trusted_badge', :locals => {:user => user, :small => true} %>
      <%= image_tag user.avatar.url(:thumb), :size=>"48x48", :align => 'center', :class => 'photo' %>
    </div>
    <div class="info">
      <h5><span class="iconUser"><%= user.username %></span></h5>
      <p>
        <span class="iconRoute">
          <%= render 'shared/city_noflag', :locals => {:city => trip.origin_city, :short_name => true} %>
          <span class="dashArrow">-</span>
          <%= render 'shared/city_noflag', :locals => {:city => trip.destination_city, :short_name => true} %>
        </span>
      </p>
    </div>
    <div class="alignright">
      <% url = trip_url(trip) %>
      <% if current_user && trip.user!=current_user %>
        <% data = "#{trip.id} #{current_user.id}" %>
        <% url = influence_url(Base32.encode(data)) %>
      <% end %>
      <%= render 'shared/social_dashboard', :locals => {:url => url, :title => trip.to_s, :owner => trip.user} %>
    </div>
  </div>
</li>