<% comment = locals[:comment] %>
<% user = comment.user %>
<div class="commentRow">
  <div class="info">
    <h5>
      <%= link_to user.username, profile_path(user.username) %>
      <span>&nbsp;&ndash;&nbsp;<%= l(comment.created_at) %> </span>
    </h5>
    <p>
      <%= auto_link_in_new_tab_without_simple_format comment.body %>
    </p>
  </div>
</div>

