<% comment = comment_session(:trip_comment) %>

<div id="postComment">
  <h4><%= t('comment.new.label') %></h4>
  <% if logged_in? %>
    <%= form_for([@trip, @comment]) do |f| %>
      <%= f.text_area :body, :rows => 6, :cols => 50, :value => comment  %>
      <%= enable_character_counter('comment_body',Comment::BODY_MAXIMUM_LENGTH) %>
      <%= f.submit t('button.send'), :class => 'btnAction' %>
    <% end %>
  <% else %>
    <p>
      <%= raw(t('comment.new.not_logged_in',
          :login => ActionController::Base.helpers.link_to(t('login.link'), new_session_path+"?original_uri=#{trip_path(@trip)}"),
          :register => ActionController::Base.helpers.link_to(t('user.new.link'), join_path))) %>
    </p>
  <% end %>
</div>
