<%= form_for(@seek) do |f| %>
<div class="new-form text-01">
  <%= f.hidden_field :origin_location, :value=>"Anywhere, Anywhere"  %>
  <%= f.hidden_field :from_anywhere, :value=>true  %>
  <p style="width:60%;"><b><%= t('seek.new.label.intro') %></b></p><br/>
  <ul>
    <li>
      <label><%= t('seek.field.label.item') %></label>
      <%= f.text_field :item, :class => 'textbox-01' %>
    </li>
    <li>
      <label><%= t('seek.field.label.destination') %></label>
      <%= location_auto_complete_js 'seek_destination_location' %>
      <%= f.text_field :destination_location, :class => 'textbox-01' %>
    </li>
    <li>
      <label>&nbsp;</label>
      <%= render 'shared/new_location_contact_us' %>
    </li>
    <li>
      <label><%= t('seek.field.label.departure_date') %></label>
      <% DatePredicate::ALL.each do |departure_date_predicate| %>
        <%= radio_button_tag 'seek[departure_date_predicate]', departure_date_predicate, @seek.departure_date_predicate == departure_date_predicate %>
        <%= t(departure_date_predicate, :scope => 'date_predicate') %><br/>
      <% end %>
    </li>
    <li>
      <label>&nbsp;</label>
      <%= date_picker_js 'seek_departure_date' %>
      <% departure_date = l(@seek.departure_date) unless @seek.departure_date.nil? %>
      <%= f.text_field :departure_date, :value => departure_date, :readonly => "readonly", :class => 'textbox-01' %>
    </li>
    <li style="padding-top: 0px;">
      <label>&nbsp;</label>
      <%= render_link_to_clear_a_field('seek_departure_date') %>
    </li>
    <li>
      <label><%= t('seek.field.label.notes') %></label>
      <%= enable_character_counter('seek_notes',Seek::NOTES_MAXIMUM_LENGTH)%>
      <%= f.text_area :notes, :rows => 8, :cols => 40, :class => 'textarea-01' %>
    </li>
    <li>
      <label>&nbsp;</label>
      <%= f.submit t('button.submit'), :class => 'button-register' %> / <%= link_to t('button.cancel'), locals[:cancel_path] %>
    </li>
  </ul>
</div>

<% end %>
