<%= form_for(@seek) do |f| %>
  <div class="text-01">
    <div class="mobile-row"><b><%= t('seek.new.label.intro') %></b></div>
    <div class="mobile-row"><%= t('mobile.seek.field.label.origin') %></div>
    <div class="mobile-row">
      <% if @seek.from_anywhere? %>
        <%= f.text_field :origin_location, :value => City::ANYWHERE, :class => 'textbox-01', :readonly => 'readonly', :disabled => 'disabled' %>
      <% else %>
        <%= f.text_field :origin_location, :class => 'textbox-01' %>
      <% end %>
    </div>
    <div class="mobile-row">
      <%= f.check_box :from_anywhere, :onclick => 'handle_from_anywhere(this)' %>
      <span><%= t('seek.field.label.from_anywhere') %></span>
    </div>
    <div class="mobile-row">
      <%= t('mobile.seek.field.label.destination') %>
    </div>
    <div class="mobile-row">
      <%= location_auto_complete_js 'seek_destination_location' %>
      <%= f.text_field :destination_location, :class => 'textbox-01' %>
    </div>
    <div class="mobile-row"><%= render 'shared/new_location_contact_us' %></div>
    <div class="mobile-row"><%= t('seek.field.label.departure_date') %></div>
    <div class="mobile-row">
      <% DatePredicate::ALL.each do |departure_date_predicate| %>
        <%= radio_button_tag 'seek[departure_date_predicate]', departure_date_predicate, @seek.departure_date_predicate == departure_date_predicate %>
        <%= t(departure_date_predicate, :scope => 'date_predicate') %>
      <% end %>
    </div>
    <div class="mobile-row">
      <%= f.datetime_select :departure_date,
        options = {:discard_hour=>true, :discard_minute=>true, :start_year=>Time.now.year, :end_year=>Time.now.year+5, :prompt=>true} %>
    </div>
    <div class="mobile-row"><%= t('seek.field.label.items') %></div>
    <div class="item-details">
      <table>
        <tr>
          <td><%= t('item.field.label.name') %></td>
          <td colspan="2"><%= t('item.field.label.tip') %></td>
          <td></td>
        </tr>
        <%= f.fields_for :items do |builder| %>
          <%= render "item_fields", :f => builder %>
        <% end %>
        <tr>
          <td colspan="4"><%= link_to_add_fields t("general.add_more"), f, :items, SeekItem::MAXIMUM %></td>
        </tr>
      </table>
    </div>
    <div class="mobile-row">
      <%= t('seek.field.label.notes') %>
    </div>
    <div class="mobile-row">
      <%= enable_character_counter('seek_notes',Seek::NOTES_MAXIMUM_LENGTH)%>
      <%= f.text_area :notes, :rows => 5, :cols => 25, :class => 'textarea-01' %>
    </div>
    <div class="mobile-row"><%= f.submit t('button.submit'), :class => 'button-register' %> / <%= link_to t('button.cancel'), locals[:cancel_path] %></div>
  </div>
<% end %>
