<tr class="fields">
  <td>
    <%= f.text_field :name, :size => 10, :class => 'textbox-01' %>
  </td>
  <td>
    <%= f.select :tip_unit_id, TipUnit.all.collect {|c| [c.symbol, c.id]} %>
  </td>
  <td>
    <%= f.text_field :tip, :size => 3, :class => 'textbox-01' %>
  </td>
  <td>
    <span class="red-link"><%= link_to_remove_fields "X", f %></span>
  </td>
</tr>