<% receiver = sent.receiver %>
<%= link_to(user_message_path(current_user, sent), :class => 'divlink') do %>
  <div class="inboxRow">
    <div class="message">
      <h5>
        <%= receiver.username %>
        <span class="date">&nbsp;&ndash;&nbsp;<%= l(sent.created_at) %></span>
      </h5>
      <h6><%= generate_label_for_related_trip_or_seek(sent.trip_id, sent.seek_id) %></h6>
      <h6><%= sent.subject_display %></h6>
      <% body = sent.body %>
      <% body = body.slice(0,100) + "..." unless body.length <= 100 %>
      <p><%= body %></p>
    </div>
  </div>
<% end %>

