<%= form_for([@topic.forum, @topic, @post]) do |f| %>
  <table>
    <tr>
      <td class="forum_form_label"><%= t('topic.new.label.first_post') %></td>
      <%= enable_character_counter('first_post_body', Post::BODY_MAXIMUM_LENGTH) %>
      <td class="forum_form_value">
        <%= f.text_area :body, :class => "textarea-01" %>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>
        <%= f.submit t('button.submit'), :class => 'button-register' %> / <%= link_to t('button.cancel'), forum_topic_path(@topic.forum, @topic) %>
      </td>
    </tr>
  </table>
<% end %>
