<% notification = locals[:notification] %>
<% sender = notification.sender %>
<div class="notificationRow">
  <div class="avatar"><%= image_tag sender.avatar.url(:thumb), :align => 'center', :class => 'photo', :width => 48, :height => 48 %></div>
  <div class="message">
    <h5>
      <span class="date"><%= l(notification.created_at) %></span>
    </h5>
    <p><%= raw notification.to_link %></p>
  </div>
</div>
