<%= render 'shared/guide_menu' %>
<% page_title t('content.link.escrow_payment') %>
<div class="col9">
  <h2><%= t('content.link.escrow_payment') %></h2>


  <p align="center"><%= image_tag 'rekber.png' %></p>

  <p>
    1. Penitip dan yang dititip sepakat untuk menggunakan Rekening Bersama Bistip.com.
  </p>
  <p>
    2. Penitip melakukan transfer dana ke Rekening Bersama Bistip.com
  </p>
    <ul>
      <li>Dalam <strong>USD (Paypal) atau IDR (Transfer Bank)</strong>.</li>
      <li>Dananya adalah total dari harga barang, tip untuk yang dititip dan biaya rekening bersama.</li>
      <li>Biaya Rekening Bersama ditanggung oleh penitip dan yang dititip, besarannya bisa dilihat di bawah ini:</li>
    </ul>
    <blockquote class="defaultRoundHalf">
      <table style="text-align: left; width: 100%;" border="1" cellpadding="2"
         cellspacing="2">
    <tbody>
    <tr>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;">Bank<br>
      </td>
      <td style="vertical-align: top;">Paypal<br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;">Penitip<br>
      </td>
      <td style="vertical-align: top;">2%<br>
      </td>
      <td style="vertical-align: top;">4%<br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;">Yang Dititip<br>
      </td>
      <td style="vertical-align: top;">2%<br>
      </td>
      <td style="vertical-align: top;">4%<br>
      </td>
    </tr>
    </tbody>
  </table>
      </blockquote>
    <p>
    <strong>Contoh transaksi Rekening Bersama melalui PayPal:</strong>
  </p>
  <blockquote class="defaultRound">

    Harga barang: USD 80 <br />
    Tip: USD 20 <br/>
    Subtotal: USD 100 <br />

    Total : USD 100 + (4% x USD 100) = USD 104<br /><br />

    Uang yang akan diterima pihak yang dititipi = USD 100 - (4% x USD 100) = USD 96

  </blockquote>
  <p>
    3. Bistip.com mengkonfirmasi dana masuk
  </p>
  <ul>
   <li>Bistip.com akan menampung sementara pembayaran dari penitip sampai transaksi selesai.</li>
   <li>Yang dititip sudah bisa membelikan barang sesuai kesepakatan.</li>
  </ul>

  <p>
    4. Penitip bertemu dengan yang dititip untuk serah terima barang.
  </p>
  <p>
    5. Penitip melakukan konfirmasi bahwa barang sudah diterima.
  </p>
  <p>
    6. Bistip.com melakukan transfer dana ke pihak yang dititip.
  </p>
  <p>
    7. Yang dititip melakukan konfirmasi bahwa dana sudah diterima
  </p>
  <br />
  <p>
    <strong>KETERANGAN:</strong>
  </p>
  <blockquote class="defaultRound">
    <ul>
    <li>Semua Transaksi Rekening Bersama Bistip.com adalah melalui fitur <span class="italic">"Messaging"</span>.</li>
    <li>Uang bisa dikembalikan oleh Bistip.com dipotong 2% (Bank) dan 4% (PayPal) jika transaksi tidak berjalan seperti seharusnya (misal barang tidak ditemukan atau tidak
    ada kabar dari yang dititip dalam waktu tertentu) sesuai laporan dari pengguna.</li>
    </ul>
  </blockquote>

</div>
