<% page_title t('content.link.escrow_payment') %>
<div class="col4">
  <h2><%= t('content.link.escrow_payment') %></h2>


  <p align="center"><%= image_tag 'rekber-en-m.png' %></p>

  <p>
    1. Both item looker and traveller agree to use Bistip escrow.
  </p>
  <p>
    2. Item looker transfers a certain amount of money to Bistip escrow
  </p>
  <ul>
    <li>We accept <strong>US Dollar (PayPal)</strong> and <strong>IDR (Bank Transfer)</strong> currency for now.</li>
    <li>The amount the item looker (buyer) will deposit should include item's price, tip for the traveller and the escrow fee from the item's price + the tip percentage.</li>
    <li>Both Item looker and traveller bear the cost of the escrow:</li>
    
  </ul>
      <blockquote class="defaultRoundHalf">
      <table style="text-align: left; width: 100%;" border="1" cellpadding="2"
         cellspacing="2">
    <tbody>
    <tr>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;">Bank<br>
      </td>
      <td style="vertical-align: top;">Paypal<br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;">Item Looker<br>
      </td>
      <td style="vertical-align: top;">2%<br>
      </td>
      <td style="vertical-align: top;">4%<br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;">Traveller<br>
      </td>
      <td style="vertical-align: top;">2%<br>
      </td>
      <td style="vertical-align: top;">4%<br>
      </td>
    </tr>
    </tbody>
  </table>
      </blockquote>
  <p>
    <strong>Example (Using PayPal):</strong>
  </p>
  <blockquote class="defaultRound">

    Item's price: USD 80 <br />
    Tip: USD 20 <br/>
    Subtotal: USD 100 <br />

    Total : USD 100 + (4% x USD 100) = USD 104<br /><br />

    Traveller will receive : USD 100 - (4% x USD 100) = USD 96

  </blockquote>
  <p>
    3. Bistip.com confirms that the payment has been received.
  </p>
  <p>
    4. Meetup and exchange item and tip.
  </p>
  <p>
    5. Item looker confirms that he/she received the item.
  </p>
  <p>
    6. Bistip.com transfers the money to the traveller.
  </p>
  <p>
    7. Traveller confirms that he/she received the payment.
  </p>
  <br />
  <p>
    <strong>Important:</strong>
  </p>

  <blockquote class="defaultRound">
    - Bistip escrow is available via <span class="italic">"Messaging"</span> feature.<br />
    - Bistip.com will refund the payment with 4% fee (PayPal) and 2% fee (Bank Transfer) if the transaction failed.
  </blockquote>
</div>
<%= render 'shared/guide_menu' %>