<%= page_title 'Kompetisi Ide Titipan Voting' %>
<%= meta_description 'Tabel voting pemenang favorit. Ayuk pilih ide titipan yang kamu suka!' %>
<div class="col4">
  <h2>Voting Kompetisi Ide Titipan</h2>
  <h4>Tabel Voting Ide Titipan</h4>
  <br/>
  <div class="CSSTableGenerator" >
    <table>
      <tr>
        <td>Ide Titipan</td>
        <td>User</td>
        <td width="10%">Vote</td>
      </tr>
      <% ids = Array.new %>
      <% @suggested_items.each_with_index do |si, index| %>
        <% item = SuggestedItem.find(si.id) %>
        <% ids << si.id %>
        <tr>
          <td>
            <%= link_to item.name, suggested_item_path(si), :target => 'blank' %> from <%= item.origin_location %>
          </td>
          <td>
            <%= link_to item.user.username, profile_path(item.user.username), :target => 'blank' %>
          </td>
          <td>
            <%= SuggestedItemVote.without_disabled_user(item.id).count %>
          </td>
        </tr>
      <% end %>
      <% SuggestedItem.active_only.created_between(SuggestedItem::COMP_START, SuggestedItem::COMP_END).id_not_in(ids).each do |si| %>
        <% item = SuggestedItem.find(si.id) %>
        <tr>
          <td>
            <%= link_to item.name, suggested_item_path(si), :target => 'blank' %> from <%= item.origin_location %>
          </td>
          <td>
            <%= link_to item.user.username, profile_path(item.user.username), :target => 'blank' %>
          </td>
          <td>
            0
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>