<% page_title t('content.link.awards') %>
<div class="col4, padding2point5">
  <h2><%= t('content.link.awards') %></h2>


  <p align="center">
    <%= image_tag 'badges/bistip_as-the-most-promosingstartup_300x250.jpg', :class => 'defaultShadow' %>
  </p>

  <p align="center">
    <%= image_tag 'badges/bistip_as-the-best-socialnetwork_300x250.jpg', :class => 'defaultShadow' %>
  </p>

  <p align="center">
    <%= image_tag 'badges/bistip_as-the-best-UGC_300x250.jpg', :class => 'defaultShadow' %>
  </p>

  <p>
    <%= link_to 'SparxUp', 'http://www.sparxup.com', :target => '_blank' %> is a digital startup award for Indonesian
    digital companies in web and mobile. An appreciation from startups for startups.
  </p>

  <p>
    In SparxUp awards 2011 we were awarded as
    <strong>"<%= link_to 'The Most Promising Startup 2011', 'http://dailysocial.net/2011/10/21/the-best-rising-star-the-most-promising-startup-di-acara-sparxup-award-2011/', :target => '_blank' %>
      "</strong> and also awarded in two categories:
  </p>
  <ul>
    <li>
      <strong><%= link_to 'Best Social Network', 'http://dailysocial.net/2011/10/18/inilah-daftar-pemenang-sparxup-awards-2011/', :target => '_blank' %></strong>
    </li>
    <li>
      <strong><%= link_to 'Best User Generated Content', 'http://dailysocial.net/2011/10/18/inilah-daftar-pemenang-sparxup-awards-2011/', :target => '_blank' %></strong>
    </li>
  </ul>
  <p align="center"><%= image_tag 'media/most-promising-m.png', :class => 'defaultShadow' %></p>

  <p><strong>Photo:</strong> DailySocial.net</p>
</div>