<%= render 'shared/static_menu' %>
<% page_title t('content.link.jobs') %>
<div class="col9">
  <h2><%= t('content.link.jobs') %></h2>
  <h3>Available Position(s)</h3>

  <h4>Software Engineer</h4>
  <br/>
  <p>As a Software Engineer you will be working on a small but passionate startup team. You will deep-dive to the core of Bistip.com.</p>
  <p>Expect to involved from the front-end to back-end. You will also be involved in overall discussions on Bistip, drive it with your innovative idea, and implement it with your own design of the solution.</p>
  <p>We encourage our team to continuously learn new things here. There's just so many things to learn out there :)</p>
  <p>Requirements:</p>
  <ul>
    <li>Fresh graduates or professionals with less than 2 years of work experience preferred.</li>
    <li>Required skills: MVC web framework, Object-Relational Mapper, JavaScript, and AJAX.</li>
    <li>Good understanding of Object Oriented principle.</li>
    <li>Experience in CSS, J2EE, Ruby (Ruby on Rails), PHP, Perl, or Python is a plus.</li>
    <li>Initiative and the ability to work independently and in a team.</li>
    <li>Superior creative and innovative problem-solving skills.</li>
    <li>Interest to learn more about new languages and frameworks.</li>
  </ul>
  <p>Interested candidates should send their: (1) application letter, (2) resume/Curriculum Vitae, and (3) most recent photographs via email to hire.me@bistip.com</p>
  <div class="divider"/>
  <br/>
  <h4>System Administrator</h4>
  <br/>
  <p>Are you an innovative, talented and experienced UNIX systems administrator? If yes then Bistip.com needs you to lookout our cloud servers.</p>
  <p>Expect to monitor, manage and optimize our continuous integration, staging and production servers. You will also design and implement solutions to our system architecture or scaling challenge. We encourage our team to continuously learn new things here. There are just so many things to learn out there :)</p>

  <p>Requirements:</p>
  <ul>
    <li>Fresh graduates or professionals with less than 2 years of work experience preferred.</li>
    <li>Experience with web applications stack on modern platforms (Apache, Nginx, MySQL, etc).</li>
    <li>Proficiency in programming.</li>
    <li>Ability to maintain, monitor and optimize production database servers (primarily MySQL).</li>
    <li>Knowledge how to make things secure.</li>
    <li>Initiative and the ability to work independently and in a team.</li>
    <li>Superior creative and innovative problem-solving skills.</li>
  </ul>

  <p>Interested candidates should send their: (1) application letter, (2) resume/Curriculum Vitae, and (3) most recent photographs via email to hire.me@bistip.com</p>
  <div class="divider"/>
  <br/>
  <h4>Visual Designer</h4>

  <br/>
  <p>Got a good taste how things should look like? help us to advance our brand through awesome design and user experience.</p>
  <p>You will work on our primary website, event graphics, and print materials. Types of tasks will include web design, UI, information architecture, product design, logo design, print design, and illustration. Remember Bistip.com must be friendly and easy to use ☺</p>

  <p>Requirements:</p>
  <ul>
    <li>Bachelor degree in Design, User Experience, or a related field – or equivalent experience.</li>
    <li>	Required skills: Photoshop, Illustrator, and InDesign.</li>
    <li>	Consider everything when designing, including the medium, the aesthetics, the copy, the context.</li>
    <li>	Proactively look for opportunities for improvement.</li>
    <li>	Initiative and the ability to work independently and in a team.</li>
    <li>	Superior creative and innovative problem-solving skills.</li>
  </ul>

  <p>Interested candidates should send their: (1) application letter, (2) resume/Curriculum Vitae, and (3) most recent photographs via email to hire.me@bistip.com</p>

</div>
