<% city = locals[:city] %>
<% country = city.country %>
<% country_code_image_path = "flags/" + country.code + ".png" %>
<%= city.name %>&nbsp;&nbsp;<%= image_tag country_code_image_path, :align => 'absmiddle', :alt => country.name, :title => country.name  %>
