<div class="page-heading" ><%= @user.username %></div>
<div class="sub-menu-border">
  <ul class="text-01" id="sub-menu">
    <%= render_sub_menu_link t('user.show.link'), [profile_path(@user.username),
                                                  {:controller => 'users', :action => "edit", :id => @user.id},
                                                  {:controller => 'passwords', :action => "edit"},
                                                  edit_user_configuration_path(:user_id => @user.id, :id => @user.user_configuration.id),
                                                  influencer_point_user_path(:id => @user.id)]%>

    <%= render_sub_menu_link t('trip.index.link'), [{:controller => 'users', :action => "trips", :id => @user.id}] %>
    <%= render_sub_menu_link t('seek.index.link'), [{:controller => 'users', :action => "seeks", :id => @user.id}] %>
    <%= render_sub_menu_link t('user.field.label.reputation'), [{:controller => 'positive_reputations', :action => "index", :user_id => @user.id},
                                                             {:controller => 'negative_reputations', :action => "index", :user_id => @user.id},
                                                             get_recommendation_path] %>
  </ul>
</div>