<% reply_comment_id = comment_session(:trip_reply_comment_id) %>
<h4><%= t('comment.index.heading') %>&nbsp;<span class="counter"><%=@trcomments.size%></span></h4>
<% if @trcomments.size > 0 %>
  <div id="paginationData">
    <% for comment in @trcomments %>
    
      <%= render "trip_comments/trip_comment", :locals => {:comment => comment, :reply_comment_id => reply_comment_id} %>
    
    <% end %>
    <div>
      <%= get_will_paginate @trcomments %>
    </div>
  </div>
<% else %>
  <br/>
  <p><%= t('comment.index.no_comment') %></p>
<% end %>
<%= render 'trip_comments/trip_new_comment' %>
