<% page_title t('trip.match.label.heading') %>
<div class="col12">
  <h5 class="navBack">
    <%= link_to t('trip.show.link_return'), :back %>
  </h5>
</div>
<div class="col8 bgLightYellow defaultRound">
  <h3 class="textBlack"><%= t('trip.show.label.heading') %></h3>
  <div id="searchResults">
    <%= render 'shared/trip_summary', :locals => {:trip => @trip} %>
  </div>
</div>
<br clear="all"/>
<div id="matchList">
  <div class="col8 bgLightBlue defaultRound">
    <h4 class="textBlack"><%= t('trip.match.label.heading') %> <span class="counter"><%= @matches.count %></span></h4>
    <div id="searchResults">
      <% for match in @matches %>
        <%= render 'shared/seek_summary', :locals => {:seek => match} %>
      <% end %>
    </div>
  </div>
</div>
<br clear="all"/>
<div class="col12">
  <h5 class="navBack">
    <%= link_to t('trip.show.link_return'), :back %>
  </h5>
</div>

