<% asset = locals[:asset] %>
<% identifier = Time.now.usec.to_s %>
<% browserHiddenId = 'browserHidden-' + identifier %>
<% browserVisibleId = 'browserVisible-' + identifier %>
<% fileFieldId = 'fileField-' + identifier %>
<% if asset.object.new_record? %>
  <div class="fileUpload">
    <%= asset.file_field :attachment, :class => 'browserHidden', :id => "#{browserHiddenId}", :onchange => "getElementById('#{fileFieldId}').value = getElementById('#{browserHiddenId}').value;" %>
    <div id="<%= browserVisibleId %>" class="browserVisible"><input type="text" id="<%= fileFieldId %>" class="fileField" /></div>
  </div>
<% end %>