<% page_title t('insurance.new.label.heading') %>
<div class="col12">
  <h2><%= t('insurance.new.label.heading') %></h2>
</div>
<div class="col9 bgLightYellow">
  <div id="applyInsurance">
    <h4 class="textBlack"><%= t('insurance.new.label.intro') %></h4>
    <br/>
    <%= form_tag insurances_path do %>
      <%= hidden_field_tag 'message_id', @message.id  %>
      <p>
        <label><%= t('insurance.new.label.between') %></label>
        <strong><%= @message.sender.username %></strong> <%= t('general.and') %> <strong><%= @message.receiver.username %></strong>
      </p>
      <p>
        <label><%= t('insurance.new.label.applicant') %></label>
        <strong><%= current_user.username %></strong>
      </p>
      <p>
        <label><%= t('insurance.new.label.type') %></label>
        <select id="type" name="type">
          <option><%= t('insurance.new.label.type_10000') %></option>
          <option><%= t('insurance.new.label.type_custom') %></option>
        </select>
      </p>
      <p>
        <strong><%= t('insurance.new.label.terms') %></strong>
      <ul>
        <li><%= raw t('insurance.new.label.terms_one', :link => (link_to t('content.link.insurance'), insurances_path, :target => 'blank')) %></li>
        <li>
          <%= t('insurance.new.label.terms_two', :one => @message.sender.username, :two => @message.receiver.username) %></li>
      </ul>
      </p>
      <p>
        <%= submit_tag t('button.send'), :class => 'defaultButton' %><%= link_to t('button.cancel'), :back, :class => 'cancelLink' %>
      </p>
    <% end %>
  </div>
</div>