<% if flash[:notice] %>
  <script type="text/javascript">
    $(document).ready(function(){
      $.jGrowl(<%= raw collect_flash_messages(:notice) %>, { position: 'center', life: 1000});
    });
  </script>
<% end %>

<% if flash[:escrow] %>
  <script type="text/javascript">
    $(document).ready(function(){
      $.jGrowl(<%= raw collect_flash_messages(:escrow) %>, { position: 'center', life: 6000});
    });
  </script>
<% end %>

<% if flash[:alert] %>
  <script type="text/javascript">
    $(document).ready(function(){
      $.jGrowl(<%= raw collect_flash_messages(:alert) %>, { sticky: true, position: 'center'});
    });
  </script>
<% end %>

<% if flash[:model_alert] %>
  <script type="text/javascript">
    $(document).ready(function(){
      $.jGrowl(<%= raw collect_flash_messages(:model_alert) %>, { sticky: true, position: 'center'});
    });
  </script>
<% end %>
