<a href='http://www.agoda.com/partners/tracking.aspx?cid=1605592&url=http://www.agoda.com&tag=BNR[new-deals_468x49]' rel='nofollow' target="blank">
<img src='http://img.agoda.net/banners/agoda.com/new-deals_468x49.jpg'/></a>