<% random = rand(6) %>
<% if random == 0 %>
  <%= render 'ads/ezytravel_dashboard' %>
<% elsif random == 0 %>
  <%= render 'ads/wego_deals_dashboard' %>
<% else %>
  <%= render 'ads/agoda_dashboard' %>
<% end %>