<% random = rand(6) %>
<% if random == 0 %>
  <%= link_to external_forward_url(:url => 'http://bit.ly/BistipEzytravel', :ref => TrackLink::EMAIL), :target => 'blank' do %>
    Ezytravel.co.id - cara cerdas beli tiket pesawat murah.
  <% end %>
<% elsif random == 1 %>
  <%= render 'ads/wego_deals_email' %>
<% else %>
  <a href="http://www.agoda.com/?cid=1605592">Up to 75% off discount, over 140.000 hotels are available. Book now!</a>
<% end %>