<% deals_json = WegoApi.get_deals_for_dashboard(current_user) %>
<% if deals_json['deals'] %>
  <div class="dashboardPlc bgLightYellow defaultRound defaultShadow wegoDeals">
    <h4 class="textBlack"><%= raw t('dashboard.label.deals') %></h4>
    <br/>
    <%= wego_deals_slider_js %>
    <ul id="dealsScroll">
      <% deals_json['deals'].each do |deal| %>
        <li class="wegoDealRow">
          <%= link_to external_forward_url(:url => deal['url'], :ref => TrackLink::DAS_REF), :class => "divlink", :target => 'blank' do %>
            <div class="wegoDealPlc">
              <div class="avatar">
                <% image_url = 'default_original_avatar.jpg' %>
                <% image_url = deal['image']['original'] if !deal['image'].blank? and !deal['image']['original'].blank? %>
                <%= image_tag image_url, :size => "100x100", :align => 'center', :class => 'photo' %>
              </div>
              <div class="info">
                <h5><%= deal['headline'] %></h5>
                <p>
                  <% if deal['deal_type'] %>
                    <span class="type"><%= deal['deal_type'] %></span>
                  <% end %>
                  <% if deal['price'] %>
                    <span class="price"><%= deal['price']['formatted'] %></span>
                  <% end %>
                </p>
              </div>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% else %>
  <% render 'ads/ezytravel_dashboard' %>
<% end %>