<% deals_json = WegoApi.get_deals_for_email(@user) %>
<% if deals_json['deals'] %>
  <% deal = deals_json['deals'].choice %>
  <%= link_to deal['headline'], external_forward_url(:url => deal['url'], :ref => TrackLink::EMAIL), :target => 'blank' %>
<% end %>
