<% reply_comment_id = comment_session(:item_reply_comment_id) %>
<h4><%= t('comment.index.heading') %>&nbsp;<span class="counter"><%=@item.comments.size%></span></h4>
<% if @itcomments.size > 0 %>
  <div id="paginationData">
    <% for comment in @itcomments %>
    
      <%= render "item_comments/item_comment", :locals => {:comment => comment, :reply_comment_id => reply_comment_id} %>
    
    <% end %>
    <div>
      <%= get_will_paginate @itcomments %>
    </div>
  </div>
<% else %>
  <br/>
  <p><%= t('comment.index.no_comment') %></p>
<% end %>
<%= render 'item_comments/item_new_comment' %>
