<% page_title t('store_item.edit.label.heading') %>
<div id="storeItem">
  <div class="col4">
    <h2>
      <%= t('store_item.edit.label.heading') %>
    </h2>
  </div>

  <div class="col4 bgGreen defaultRound">
    <%= form_for(@store_item, :url => {:controller => "store_items", :action => 'update'}, :html => {:multipart => true}) do |f| %>
      <%= hidden_field_tag :type, @store_item.type %>
      <p class="inline">
        <label><%= t('store_item.new.label.name') %></label>
      </p>
      <p>
        <strong><%= @store_item.name %></strong>
      </p>
      <p class="inline">
        <label><%= raw t('store_item.new.label.price') %></label><%= render 'shared/required' %>
      </p>
      <p>
        <%= f.text_field :price %>
      </p>
      <div id="storeItemAttachPicture">
        <div class="label">
          <span class="attach"><%= t('store_item.general.picture') %></span><%= render 'shared/required' %>
        </div>
        <div class="fields">
          <%= f.fields_for :pictures do |picture_form| %>
            <% if picture_form.object.new_record? %>
              <%= render "item_pictures/field", :picture_form => picture_form %>
            <% else %>
              <%= image_tag picture_form.object.attachment.url(:thumb), :size => '48x48', :class => "photo bgWhite" %>
            <% end %>
          <% end %>
        </div>
      </div>
      <br/>
      <p class="inline">
        <label><%= t('store_item.new.label.city') %></label>
      </p>
      <p>
        <strong><%= @store_item.origin_location %></strong>
      </p>
      <p>
        <label><%= t('store_item.new.label.notes') %></label>
      </p>
      <p>
        <%= f.text_area :notes, :rows => 5, :cols => 60 %>
      </p>
      <br clear="all"/>
      <p><%= f.submit t('button.send'), :class => 'defaultButton', :disable_with => t('button.disabled') %><%= link_to t('button.cancel'), :back, :class => 'cancelLink' %></p>
    <% end %>
    <%= render 'shared/required_label' %>
  </div>
</div>
