<% page_title t('store_item.new.label.heading') %>
<div id="storeItem">
  <div class="col4">
    <h2>
      <%= t('store_item.new.label.heading') %>
    </h2>
  </div>

  <div class="col4 bgGreen defaultRound">
    <%= form_for(@store_item, :url => {:controller => "store_items", :action => 'create'}, :html => {:multipart => true}) do |f| %>
      <%= hidden_field_tag :type, @store_item.type %>
      <p>
        <label><%= t('store_item.new.label.name') %><%= render 'shared/required' %></label>
      </p>
      <p>
        <%= f.text_field :name %>
      </p>
      <p>
        <label><%= raw t('store_item.new.label.price') %><%= render 'shared/required' %></label>
      </p>
      <p>
        <%= f.text_field :price %>
      </p>
      <div class="label">
        <p><%= t('store_item.general.picture') %><%= render 'shared/required' %></p>
      </div>
      <div class="fields">
        <%= f.fields_for :pictures do |picture_form| %>
          <% if picture_form.object.new_record? %>
            <%= render "item_pictures/field", :picture_form => picture_form %>
          <% else %>
            <%= image_tag picture_form.object.attachment.url(:thumb), :size => '48x48', :class => "photo bgWhite" %>
          <% end %>
        <% end %>
      </div>
      <br/>
      <p>
        <label><%= t('store_item.new.label.city') %><%= render 'shared/required' %></label>
      </p>
      <p>
        <%= location_auto_complete_js 'store_item_origin_location', false, true %>
        <% origin_location_value = params[:origin] ? params[:origin] : @store_item.origin_location %>
        <%= f.text_field :origin_location, :value => origin_location_value %>
      </p>
      <p>
        <label><%= t('store_item.new.label.notes') %></label>
      </p>
      <p>
        <%= f.text_area :notes, :rows => 5 %>
      </p>
      <br clear="all"/>
      <p><%= f.submit t('button.send'), :class => 'defaultButton', :disable_with => t('button.disabled') %><%= link_to t('button.cancel'), :back, :class => 'cancelLink' %></p>
    <% end %>
    <%= render 'shared/required_label' %>
  </div>
</div>
