$("#seeks").append("<% for seek in @seeks %><%= escape_javascript(render 'shared/seek_row', :locals => {:seek => seek}) %><% end %>");
$("#seeks_pagination").html("<%= escape_javascript(get_more_will_paginate(@seeks, 'seeks_pagination')) %>");