<div id="payoutMethodView">
  <h4 class="textBlack"><%= t('payout_method.paypal') %></h4>
  <br/>
  <p>
    <label><%= t('payout_method.new.label.email') %> </label>
    <%= payout_method.email %>
  </p>
</div>