<% page_title t('payout_method.link') %>
<div id="dashboard">
  <div id="payoutMethod">
    <%= render 'dashboard/reminder' %>
    <%= render 'dashboard/menu' %>
    <div class="col9">
      <h4><%= t('payout_method.link') %></h4>
      <br/>
      <p>
        <%= t('payout_method.index.label.intro') %>
      </p>
      <% unless current_user.has_payout_method? %>
        <p>
          <%= raw t('payout_method.index.label.call_action') %>
        </p>
        <p>
          <%= link_to t('payout_method.new.link'), new_user_payout_method_path(current_user), :class => 'btnAction' %>
        </p>
      <% else %>
        <%= render "#{@payout.cname}_payout_method", :payout_method => @payout %>
        <div class="adminTools">
          <%= link_to t('payout_method.destroy.link'), [current_user, @payout.becomes(PayoutMethod)], :confirm => t('general.are_you_sure'), :method => :delete, :class => "delete" %>
        </div>
      <% end %>
    </div>
  </div>
</div>