<%#*<table>%>
  <%#*<tr>%>
    <%#*<th>Username</th>%>
    <%#*<th>Fullname</th>%>
    <%#*<th>Email</th>%>
  <%#*</tr>%>
  <%# User.all.each do |u| %>
    <%# activity = Trip.where("user_id = ?", u.id).count + Seek.where("user_id = ?", u.id).count + Message.where("sender_id = ?", u.id).count + Comment.where("user_id = ?",  u.id).count %>
    <%# if activity == 0 %>
      <%#*<tr>%>
        <%#*<td><%= u.username %></td>%>
        <%#*<td><%= u.fullname %></td>%>
        <%#*<td><%= u.email %></td>%>
      <%#*</tr>%>
    <%# end %>
  <%# end %>
<%#*</table>%>
