<% page_title t('message.show.heading') %>
<div class="col4">
  <h2><%= t('message.show.heading') %><%= render('shared/protected') %></h2>
  <div class="notificationBar yellow"><%= raw t('message.show.label.warning', :fullweb => "<a href='?mobile=0'>#{t('mobile.web_link')}</a>") %></div>
</div>
<div class="col4">
  <div class="conversation" id="inbox">
    <h3 class="textBlack"><%= t('message.label.subject') %>: <%= @message.subject_display %></h3>
    <h4 class="textBlack"><%= generate_label_for_related_trip_or_seek(@message.trip_id, @message.seek_id) %></h4>
    <h5 class="navBack">
      <%= link_to t('message.link.inbox_return'), user_messages_path(current_user) %>
    </h5>
    <%= render 'conversation', :locals => {:message => @message} %>
    <% @messages.each do |message| %>
        <%= render 'conversation', :locals => {:message => message} %>
    <% end %>
    <%= render 'reply_form', :locals => {:user_id => @user} %>
    <h5 class="navBack">
      <%= link_to t('message.link.inbox_return'), user_messages_path(current_user) %>
    </h5>
  </div>
</div>
