<div class="content-left">
  <div class="header01" style="margin-bottom: 40px;"><%= t('testimonial.index.heading') %></div>
  <div class="blue-link testimonial-heading"><%= raw t('home.index.label.testimonial', :href => link_to(t('general.here'), new_contact_us_path(:subject => t('contact_us.new.link.testimonial')))) %></div>
  <% @testimonials.each do |testimonial| %>
    <div class="text-01 testimonial">
      <div class="left-quote">&nbsp;</div>
      <div class="testi-text"><%= testimonial.body %></div>
      <div class="testi-name"><strong><%= testimonial.from %></strong></div>
    </div>
  <% end %>
</div>

