<p>Stats (in total)</p>

<table>
  <tr>
    <td>User</td>
    <td><%= @user_count %></td>
  </tr>
  <tr>
    <td>Trip</td>
    <td><%= @trip_count %></td>
  </tr>
  <tr>
    <td>Seek</td>
    <td><%= @seek_count %></td>
  </tr>
  <tr>
    <td>Comment</td>
    <td><%= @comment_count %></td>
  </tr>
  <tr>
    <td>Message</td>
    <td><%= @message_count %></td>
  </tr>
  <tr>
    <td>Good Rep</td>
    <td><%= @good_rep_count %></td>
  </tr>
  <tr>
    <td>Bad Rep</td>
    <td><%= @bad_rep_count %></td>
  </tr>
  <tr>
    <td>Item</td>
    <td><%= @item_count %></td>
  </tr>
  <tr>
    <td>Facebook</td>
    <td><%= @fb_count %></td>
  </tr>
  <tr>
    <td>Twitter</td>
    <td><%= @tw_count %></td>
  </tr>
</table>
