<%= form_for(@trip) do |f| %>
  <div id="postNewRoute">
    <div class="tabular_field">
      <div class="left">
        <p>
          <label><%= t('trip.field.label.route')%></label>
          <%= location_auto_complete_js 'trip_origin_location', true %>
          <%= f.text_field :origin_location, :style=>"width: 170px;", :placeholder => t('trip.field.label.origin')%>
          &nbsp;<span class="dashArrow">-</span>&nbsp;
          <%= location_auto_complete_js 'trip_destination_location', true %>
          <%= f.text_field :destination_location, :style=>"width: 170px;", :placeholder => t('trip.field.label.destination') %>
        </p>
      </div>
      <div class="right">
        <p>
          <label><%= t('trip.field.label.departure_date') %></label>
          <%= date_picker_js 'trip_departure_date' %>
          <% departure_date = l(@trip.departure_date, :format => :date_without_day) unless @trip.departure_date.nil? %>
          <%= f.text_field :departure_date, :value => departure_date, :readonly => "readonly", :style => "width: 155px;" %>
        </p>
      </div>
    </div>

    <% if @trip.new_record? %>
      <% @other_trips.each_with_index do |other_trip, index| %>
        <%= fields_for "other_trips[#{index}]", other_trip do |builder| %>
          <%= render "trip_fields", :f => builder, :locals => {:trip => other_trip, :index => index} %>
        <% end %>
      <% end %>
      <%
        add_more_trips_style = ''
        add_more_trips_style = 'display:none' if @other_trips.length >= Trip::MAXIMUM_MULTIPLE
      %>
      <div class="add_more_trips" style="<%= add_more_trips_style %>">
        <%= link_to_add_other_trip_fields t("general.add_more"), Trip::MAXIMUM_MULTIPLE %>
      </div>
    <% end %>

    <p>
      <%= render 'shared/new_location_contact_us' %>
    </p>
    
    <div class="divider"></div>
    <h4><%= t('trip.field.label.items') %></h4>
    <br/>
    <div class="items">
      <div class="header"><label><%= t('trip_item.field.label.name') %></label> <label><%= t('trip_item.field.label.tip') %></label></div>
      <%= f.fields_for :items do |builder| %>
        <%= render "item_fields", :f => builder %>
      <% end %>
      <%
        add_more_items_style = ''
        add_more_items_style = 'display:none' if @trip.items.length >= TripItem::MAXIMUM
      %>
      <div class="add_more_items" style="<%= add_more_items_style %>">
        <%= link_to_add_fields t("general.add_more"), f, :items, TripItem::MAXIMUM %>
      </div>
    </div>
    <br/>
    <p>
      <label><%= t('trip.field.label.notes') %></label>
      <%= enable_character_counter('trip_notes',Trip::NOTES_MAXIMUM_LENGTH) %>
      <%= f.text_area :notes, :rows => 6, :cols => 60 %>
    </p>

    <p>
      <label>&nbsp;</label>
      <%= f.submit t('button.send'), :class => 'defaultButton' %>
      <%= link_to t('button.cancel'), dashboard_path, :class => 'cancelLink' %>
    </p>
  </div>
<% end %>




