<h3><%= t('home.index.label.bistipers') %></h3>
<% data_num = 10 %>
<% trips = Trip.build_scope_home_index(data_num).all %>
<% escrows = Escrow.where('buyer_review_id is not null and seller_review_id is not null').order('RAND()').limit(data_num) %>
<% activities = Array.new %>
<% if !trips.blank? and !escrows.blank? %>
  <% for i in 1..data_num do %>
    <% trip_activity = TripActivityWrap.new %>
    <% trip_activity.object = trips[i-1] %>
    <% activities << trip_activity unless trip_activity.object.blank? %>
    <% escrow_activity = SellerEscrowActivityWrap.new %>
    <% escrow_activity.object = escrows[i-1] %>
    <% activities << escrow_activity unless escrow_activity.object.blank? %>
  <% end %>
<% end %>
<% unless activities.blank? %>
  <div id="bistiperScrollplc">
    <script type="text/javascript">
      $(document).ready(function() {
        $('#bistiperScroll').bxSlider({
          displaySlideQty: 3,
          moveSlideQty: 1,
          pager: 'false',
          mode: 'vertical',
          auto: true,
          pause: 6000,
          autoHover: true,
          pager: false,
          controls: false,
          infiniteLoop: true
        });

      });
    </script>
    <ul id="bistiperScroll">
      <% for activity in activities %>
        <%= render "#{activity.cname}", :activity => activity %>
      <% end %>
    </ul>
  </div>
<% end %>