<% page_title t('home.index.title') %>
<% meta_keywords(get_trending_items_as_keywords) %>
<section id="callToAction">
  <div class="plc">
    <h2><%= t('general.slogan') %></h2>

    <h3 class="description"><%= t('general.description') %></h3>

    <div class="actionOptions small defaultRound">
      <h3><%= t('home.index.label.bistiper') %></h3>
      <h4><%= link_to t('home.index.label.bistiper_action'), new_trip_path(:denied_redirect => join_path), :class=>"btnAction btnPost" %></h4>
    </div>
    <div class="actionOr small alignCenter">
      <%= t('general.or') %>
    </div>
    <div class="actionOptions small defaultRound">
      <h3><%= t('home.index.label.wanted_bistiper') %></h3>
      <h4><%= link_to t('home.index.label.wanted_bistiper_action'), search_trip_path, :class => 'btnAction btnSearch' %></h4>
    </div>
  </div>
</section>
<section id="popularItems">
  <div class="market">
    <span class="new"><%= t('general.new') %></span>
    &nbsp;&nbsp;
    <%= link_to t('market.link'), market_path %>
  </div>
</section>
<section id="homeTertiary">
  <%= render('tertiary') %>
</section>
