<html>
  <head>
    <style>
      @import url(http://fonts.googleapis.com/css?family=PT+Sans);

      body {
        font-family: 'PT Sans', sans-serif;
      }

      td, th {
        font-size: 1em;
        border: 1px solid #034a80;
        padding: 3px 7px 2px 7px;
      }

      th {
        font-size: 0.9em;
        text-align: left;
        padding-top: 5px;
        padding-bottom: 4px;
        background-color: #034a80;
        color: #ffffff;
      }

      tr.alt td {
        color: #000000;
        background-color: #034a80;
      }
    </style>
  </head>
  <body>
    Date and time: <%= Time.now.in_time_zone('Jakarta') %> (Jakarta)

    <p id="user"><strong>Activity of users that was converted from Ads</strong></p>

    <table>

      <tr>
        <th>Ads</th>
        <th><strong>New Users</strong></th>
        <th><strong>Message</strong></th>
        <th><strong>Comment</strong></th>
        <th><strong>Trip</strong></th>
        <th><strong>Seek</strong></th>
        <th><strong>Validated</strong></th>
        <th><strong>Validated (%)</strong></th>
        <th><strong>Active</strong></th>
        <th><strong>Active (%)</strong></th>
      </tr>

      <% sum_users = 0 %>
      <% sum_messages = 0 %>
      <% sum_comments = 0 %>
      <% sum_trips = 0 %>
      <% sum_seeks = 0 %>
      <% sum_validated = 0 %>
      <% sum_unique = 0 %>

      <% User.select("DISTINCT(eref)").each do |user| %>

        <% unless user.eref.blank? %>
          <% user_ids = User.find_all_by_eref(user.eref).collect(&:id) %>
          <% total_users = user_ids.count %>
          <% message_user_ids = Message.sender_in(user_ids).collect(&:sender_id) %>
          <% comment_user_ids = Comment.user_in(user_ids).collect(&:user_id) %>
          <% trip_user_ids = Trip.user_in(user_ids).collect(&:user_id) %>
          <% seek_user_ids = Seek.user_in(user_ids).collect(&:user_id) %>
          <% unique_user = (message_user_ids + comment_user_ids + trip_user_ids + seek_user_ids).uniq.count %>
          <% validated_user = User.active_only.find_all_by_eref(user.eref).count %>
          <% messages_count = Message.sender_in(user_ids).count %>
          <% comments_count = Comment.user_in(user_ids).count %>
          <% trips_count = Trip.user_in(user_ids).count %>
          <% seeks_count = Seek.user_in(user_ids).count %>

          <tr>
            <td><%= user.eref %></td>
            <td><%= total_users %></td>
            <td><%= messages_count %></td>
            <td><%= comments_count %></td>
            <td><%= trips_count %></td>
            <td><%= seeks_count %></td>
            <td><%= validated_user %></td>
            <td><%= '%.2f' % ((validated_user / (total_users * 1.0)) * 100) %></td>
            <td><%= unique_user %></td>
            <td><%= '%.2f' % ((unique_user / (total_users * 1.0)) * 100) %></td>
          </tr>

          <% sum_users = sum_users + total_users %>
          <% sum_messages = sum_messages + messages_count %>
          <% sum_comments = sum_comments + comments_count %>
          <% sum_trips = sum_trips + trips_count %>
          <% sum_seeks = sum_seeks + seeks_count %>
          <% sum_validated = sum_validated + validated_user %>
          <% sum_unique = sum_unique + unique_user %>

        <% end %>

      <% end %>

      <tr>
        <td>Total</td>
        <td><%= sum_users %></td>
        <td><%= sum_messages %></td>
        <td><%= sum_comments %></td>
        <td><%= sum_trips %></td>
        <td><%= sum_seeks %></td>
        <td><%= sum_validated %></td>
        <td><%= '%.2f' % ((sum_validated / (sum_users * 1.0)) * 100) %></td>
        <td><%= sum_unique %></td>
        <td><%= '%.2f' % ((sum_unique / (sum_users * 1.0)) * 100) %></td>
      </tr>

    </table>

    <table>

      <tr>
        <th>Keywords</th>
        <th><strong>New Users</strong></th>
        <th><strong>Message</strong></th>
        <th><strong>Comment</strong></th>
        <th><strong>Trip</strong></th>
        <th><strong>Seek</strong></th>
        <th><strong>Validated</strong></th>
        <th><strong>Validated (%)</strong></th>
        <th><strong>Active</strong></th>
        <th><strong>Active (%)</strong></th>
      </tr>

      <% sum_users = 0 %>
      <% sum_messages = 0 %>
      <% sum_comments = 0 %>
      <% sum_trips = 0 %>
      <% sum_seeks = 0 %>
      <% sum_validated = 0 %>
      <% sum_unique = 0 %>

      <% User.select("DISTINCT(eref_keyword)").each do |user| %>

        <% unless user.eref_keyword.blank? %>
          <% user_ids = User.find_all_by_eref_keyword(user.eref_keyword).collect(&:id) %>
          <% total_users = user_ids.count %>
          <% message_user_ids = Message.sender_in(user_ids).collect(&:sender_id) %>
          <% comment_user_ids = Comment.user_in(user_ids).collect(&:user_id) %>
          <% trip_user_ids = Trip.user_in(user_ids).collect(&:user_id) %>
          <% seek_user_ids = Seek.user_in(user_ids).collect(&:user_id) %>
          <% unique_user = (message_user_ids + comment_user_ids + trip_user_ids + seek_user_ids).uniq.count %>
          <% validated_user = User.active_only.find_all_by_eref_keyword(user.eref_keyword).count %>
          <% messages_count = Message.sender_in(user_ids).count %>
          <% comments_count = Comment.user_in(user_ids).count %>
          <% trips_count = Trip.user_in(user_ids).count %>
          <% seeks_count = Seek.user_in(user_ids).count %>

          <tr>
            <td><%= user.eref_keyword %></td>
            <td><%= total_users %></td>
            <td><%= messages_count %></td>
            <td><%= comments_count %></td>
            <td><%= trips_count %></td>
            <td><%= seeks_count %></td>
            <td><%= validated_user %></td>
            <td><%= '%.2f' % ((validated_user / (total_users * 1.0)) * 100) %></td>
            <td><%= unique_user %></td>
            <td><%= '%.2f' % ((unique_user / (total_users * 1.0)) * 100) %></td>
          </tr>

          <% sum_users = sum_users + total_users %>
          <% sum_messages = sum_messages + messages_count %>
          <% sum_comments = sum_comments + comments_count %>
          <% sum_trips = sum_trips + trips_count %>
          <% sum_seeks = sum_seeks + seeks_count %>
          <% sum_validated = sum_validated + validated_user %>
          <% sum_unique = sum_unique + unique_user %>

        <% end %>

      <% end %>

      <tr>
        <td>Total</td>
        <td><%= sum_users %></td>
        <td><%= sum_messages %></td>
        <td><%= sum_comments %></td>
        <td><%= sum_trips %></td>
        <td><%= sum_seeks %></td>
        <td><%= sum_validated %></td>
        <td><%= '%.2f' % ((sum_validated / (sum_users * 1.0)) * 100) %></td>
        <td><%= sum_unique %></td>
        <td><%= '%.2f' % ((sum_unique / (sum_users * 1.0)) * 100) %></td>
      </tr>

    </table>

  </body>
</html>