<html>
  <head>
    <style>
      @import url(http://fonts.googleapis.com/css?family=PT+Sans);

      body {
        font-family: 'PT Sans', sans-serif;
      }

      td, th {
        font-size: 1em;
        border: 1px solid #034a80;
        padding: 3px 7px 2px 7px;
      }

      th {
        font-size: 0.9em;
        text-align: left;
        padding-top: 5px;
        padding-bottom: 4px;
        background-color: #034a80;
        color: #ffffff;
      }

      tr.alt td {
        color: #000000;
        background-color: #034a80;
      }
    </style>
  </head>
  <body>
    Date and time: <%= Time.now.in_time_zone('Jakarta') %> (Jakarta)
    <p id="user">Note: all converted to IDR using 9500/USD rate</p>
    <p id="user"><strong>SafePay in Progress</strong></p>
    <table>
      <tr>
        <th>ID</th>
        <th><strong>Seller</strong></th>
        <th><strong>Buyer</strong></th>
        <th><strong>Started</strong></th>
        <th><strong>Amount</strong></th>
        <th><strong>State</strong></th>
        <th><strong>Item</strong></th>
      </tr>
      <% idrusd = 9500 %>
      <% in_progress_total = 0 %>
      <% Escrow.non_internal.each do |esc| %>
        <% current_state = esc.last_log  %>
        <% if current_state.is_a?(BistipReceivedBuyerBankTransferLog) ||
          current_state.is_a?(BuyerReceivedItemLog) ||
          current_state.is_a?(BuyerRequestedPayoutLog) ||
          current_state.is_a?(BuyerResumedLog) ||
          current_state.is_a?(PaypalNotifiedLog) ||
          current_state.is_a?(SellerCancelledLog) ||
          current_state.is_a?(SellerGotItemLog) ||
          current_state.is_a?(SellerRequestedPayoutLog) %>
          <tr>
            <td><%= esc.id %></td>
            <td><%= esc.seller.username %></td>
            <td><%= esc.buyer.username %></td>
            <td><%= smart_date_display(esc.created_at) %> </td>
            <td><%= esc.amount_with_currency %></td>
            <td><%= current_state.to_display_string %></td>
            <td><%= esc.item %></td>
          </tr>
          <% in_progress_total = in_progress_total + (esc.amount * idrusd) if esc.payment_method_id == 1 %>
          <% in_progress_total = in_progress_total + esc.amount if esc.payment_method_id == 2 %>
        <% end %>
      <% end %>
      <tr>
        <td>Total</td>
        <td></td>
        <td></td>
        <td></td>
        <td><%= number_to_currency(in_progress_total.to_s, :unit => ('IDR '), :precision => 0) %></td>
        <td></td>
        <td></td>
      </tr>
    </table>

    <p id="user"><strong>SafePay By Month</strong></p>
    <table>

      <tr>
        <th></th>
        <th><strong>Comp: count</strong></th>
        <th><strong>Comp: value</strong></th>
        <th><strong>Comp: profit</strong></th>
        <th><strong>Canc: count</strong></th>
        <th><strong>Canc: value</strong></th>
        <th><strong>Canc: profit</strong></th>
        <th><strong>Total: count</strong></th>
        <th><strong>Total: value</strong></th>
        <th><strong>Total: profit</strong></th>
      </tr>

      <% start_period = DateTime.now.in_time_zone(Time.zone).beginning_of_month %>
      <% end_report_period = Escrow.where('internal = false').first.created_at.beginning_of_month %>

      <% gt_comp_count = 0 %>
      <% gt_comp_value = 0 %>
      <% gt_comp_profit = 0 %>
      <% gt_canc_count = 0 %>
      <% gt_canc_value = 0 %>
      <% gt_canc_profit = 0 %>

      <% while start_period >= end_report_period %>
        <% end_period = start_period.end_of_month %>

        <% comp_count = 0 %>
        <% comp_value = 0 %>
        <% comp_profit = 0 %>

        <% canc_count = 0 %>
        <% canc_value = 0 %>
        <% canc_profit = 0 %>

        <% Escrow.where('internal = false').created_between(start_period, end_period).each do |e| %>
          <% if SellerRequestedPayoutLog.find_by_escrow_id(e.id) %>
            <% comp_count = comp_count + 1 %>
            <% comp_value = comp_value + (e.amount * idrusd) if e.payment_method_id == 1 %>
            <% comp_value = comp_value + e.amount if e.payment_method_id == 2 %>
          <% elsif BuyerRequestedPayoutLog.find_by_escrow_id(e.id) %>
            <% canc_count = canc_count + 1 %>
            <% canc_value = canc_value + (e.amount * idrusd) if e.payment_method_id == 1 %>
            <% canc_value = canc_value + e.amount if e.payment_method_id == 2 %>
          <% end %>
        <% end %>

        <% comp_profit = comp_value * 0.04 %>
        <% canc_profit = canc_value * 0.02 %>

        <tr>
          <td><%= l(start_period, :format => :month_and_year_only) %></td>
          <td><%= comp_count %></td>
          <td><%= number_to_currency(comp_value, :unit => ('IDR '), :precision => 0) %></td>
          <td><%= number_to_currency(comp_profit, :unit => ('IDR '), :precision => 0) %></td>
          <td><%= canc_count %></td>
          <td><%= number_to_currency(canc_value, :unit => ('IDR '), :precision => 0) %></td>
          <td><%= number_to_currency(canc_profit, :unit => ('IDR '), :precision => 0) %></td>
          <td><%= comp_count + canc_count %></td>
          <td><%= number_to_currency(comp_value + canc_value, :unit => ('IDR '), :precision => 0) %></td>
          <td><%= number_to_currency(comp_profit + canc_profit, :unit => ('IDR '), :precision => 0) %></td>
        </tr>

        <% gt_comp_count = gt_comp_count + comp_count %>
        <% gt_comp_value = gt_comp_value + comp_value %>
        <% gt_comp_profit = gt_comp_profit + comp_profit %>
        <% gt_canc_count = gt_canc_count + canc_count %>
        <% gt_canc_value = gt_canc_value + canc_value %>
        <% gt_canc_profit = gt_canc_profit + canc_profit %>
        <% start_period = start_period.months_ago(1).beginning_of_month %>
      <% end %>

      <tr>
        <td>Grand Total</td>
        <td><%= gt_comp_count %></td>
        <td><%= number_to_currency(gt_comp_value, :unit => ('IDR '), :precision => 0) %></td>
        <td><%= number_to_currency(gt_comp_profit, :unit => ('IDR '), :precision => 0) %></td>
        <td><%= gt_canc_count %></td>
        <td><%= number_to_currency(gt_canc_value, :unit => ('IDR '), :precision => 0) %></td>
        <td><%= number_to_currency(gt_canc_profit, :unit => ('IDR '), :precision => 0) %></td>
        <td><%= gt_comp_count + gt_canc_count %></td>
        <td><%= number_to_currency(gt_comp_value + gt_canc_value, :unit => ('IDR '), :precision => 0) %></td>
        <td><%= number_to_currency(gt_comp_profit + gt_canc_profit, :unit => ('IDR '), :precision => 0) %></td>
      </tr>
    </table>

  </body>
</html>