<html>
  <head>
    <style>
      @import url(http://fonts.googleapis.com/css?family=PT+Sans);

      body {
        font-family: 'PT Sans', sans-serif;
      }

      td, th {
        font-size: 1em;
        border: 1px solid #034a80;
        padding: 3px 7px 2px 7px;
      }

      th {
        font-size: 0.9em;
        text-align: left;
        padding-top: 5px;
        padding-bottom: 4px;
        background-color: #034a80;
        color: #ffffff;
      }

      tr.alt td {
        color: #000000;
        background-color: #034a80;
      }
    </style>
  </head>
  <body>
    Date and time: <%= Time.now.in_time_zone('Jakarta') %> (Jakarta)

    <p id="user"><strong>New users per day and their activity</strong></p>

    <table>

      <tr>
        <th>Period</th>
        <th><strong>New Users</strong></th>
        <th><strong>Message Activity</strong></th>
        <th><strong>Trip Activity</strong></th>
        <th><strong>Seek Activity</strong></th>
        <th><strong>Active Users</strong></th>
        <th><strong>Active Users (%)</strong></th>
      </tr>

      <% start_period = DateTime.now.beginning_of_day - 7.hours %>
      <% end_period = DateTime.now.end_of_day - 7.hours %>
      <% end_report_period = (start_period - 3.months).beginning_of_month - 7.hours %>

      <% while start_period >= end_report_period %>

        <% user_ids = User.created_between(start_period, end_period).collect(&:id) %>
        <% total_users = User.created_between(start_period, end_period).count %>
        <% message_user_ids = Message.sender_in(user_ids).collect(&:sender_id) %>
        <% trip_user_ids = Trip.user_in(user_ids).collect(&:user_id) %>
        <% seek_user_ids = Seek.user_in(user_ids).collect(&:user_id) %>
        <% unique_user = (message_user_ids + trip_user_ids + seek_user_ids).uniq.count %>
      
        <tr>
          <td><%= l(end_period, :format => :date_without_day) %></td>
          <td><%= total_users %></td>
          <td><%= Message.sender_in(user_ids).count %></td>
          <td><%= Trip.user_in(user_ids).count %></td>
          <td><%= Seek.user_in(user_ids).count %></td>
          <td><%= unique_user %></td>
          <td><%= '%.2f' % (unique_user / (total_users * 1.0)) %></td>
        </tr>
        <% start_period = start_period - 24.hours %>
        <% end_period = end_period - 24.hours %>
      <% end %>
        
    </table>

  </body>
</html>