<% unless @comments.blank? %>
  <div class="comments">
    <h4><%= t('trending_item.show.label.comment') %></h4>
    <% @comments.each do |comment| %>
      <%= link_to comment.get_path, :class => 'divlink' do %>
        <% user = comment.user %>
        <div class="commentRow">
          <div class="info">
            <h5>
              <%= user.username %>
              <span>&nbsp;&ndash;&nbsp;<%= l(comment.created_at) %> </span>
            </h5>
            <p>
              <%= auto_link_in_new_tab_without_simple_format (highlight comment.body, search_keyword_to_array(@trending_item.item)) %>
            </p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>


