<% page_title t('user.new.label.heading') %>
<div class="content-middle-graphic-background">
  <%= form_for(@user, :html => { :multipart => true }) do |f| %>
    <table width="550" cellspacing="0" cellpadding="5" border="0" class="text-01">
      <tbody>
        <tr>
          <td class="text-orange" style="text-align: center;" colspan="2"><%= t('user.new.label.heading') %></td>
        </tr>
        <tr>
          <td style="width: 150px; text-align: right;">&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td style="text-align: right;"><%= t('layout.label.social_login') %></td>
          <td>
            <%= popup_auth("fbconnect2","/auth/facebook") %>
              <%= content_tag :button, :type=> "button", :class => 'facebook-login', :id => "fbconnect2" do %>
                <%=  image_tag "facebook_32.png", :border => 0 %>
              <% end %>
              <%= link_to "/auth/twitter" do %>
                <%= image_tag 'twitter_32.png', :border => 0 %>
              <% end %>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <b>OR</b>
          </td>
        </tr>
        <tr>
          <td style="text-align: right;"><%= t('user.field.label.email') %></td>
          <td><%= f.text_field :email, :class => 'textbox-01' %></td>
        </tr>
        <tr>
          <td style="text-align: right;"><%= t('user.field.label.username') %></td>
          <td><%= f.text_field :username, :class => 'textbox-01' %></td>
        </tr>
        <tr>
          <td style="text-align: right;"><%= t('user.field.label.password') %></td>
          <td><%= f.password_field :password, :class => 'textbox-01' %></td>
        </tr>
        <tr>
          <td style="text-align: right;"><%= t('user.field.label.password_confirmation') %></td>
          <td><%= f.password_field :password_confirmation, :class => 'textbox-01' %></td>
        </tr>
        <tr>
          <td style="text-align: right;">&nbsp;</td>
          <td><%= f.check_box :eula %><span class="blue-link"> <%= raw t('user.field.label.eula',
                                            :terms_of_service => link_to(t('content.link.terms_of_service'), terms_of_service_path),
                                          :privacy_policy => link_to(t('content.link.privacy_policy'), privacy_policy_path)) %></span></td>
        </tr>
        <tr>
          <td style="text-align: right;" valign="top"><%=t('user.field.label.captcha')%></td>
          <td><%= recaptcha_tags :display=>{:theme=>'clean'}%></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>
            <%= f.submit t('button.submit'), :class => 'button-register' %> / <%= link_to t('button.cancel'), root_path %>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>
