<nav>
  <% if logged_in? %>
    <span class="logout">
      <%= link_to t('logout.link'), logout_path, :class => 'navLogout', :title => t('logout.link') %>
    </span>
    <span class="menuDivider">&nbsp;</span>
    <span class="notification">
      <% notification = current_user.count_received_notification %>
      <%= link_to t('notification.link.notification'), notifications_path, :class => 'navNotification', :title => t('notification.link.notification') %>
      <% if notification > 0 %>
        <span class="counter defaultShadow"><%= notification %></span>
      <% end %>
    </span>
    <span class="menuDivider">&nbsp;</span>
    <span class="inbox">
      <% inbox = current_user.count_unread_message %>
      <%= link_to t('message.link.inbox'), messages_path, :class => 'navInbox', :title => t('message.link.inbox') %>
      <% if inbox > 0 %>
        <span class="counter defaultShadow"><%= inbox %></span>
      <% end %>
    </span>
    <span class="menuDivider">&nbsp;</span>
    <span class="dashboard">
      <%= link_to t('dashboard.link.general'), dashboard_path, :class => 'navDashboard', :title => t('dashboard.link.general') %>
    </span>
  <% else %>
    <%= link_to t('store_item.new.link'), new_store_item_path(:denied_redirect => join_path), :class => "btnAction" %>
    <%= link_to t('login.link'), login_path, :class => 'login' %>
  <% end %>
</nav>
