<% if !request.env["HTTP_USER_AGENT"].blank? and !request.env["HTTP_USER_AGENT"].match(/\(.*https?:\/\/.*\)/) and !logged_in? and cookies['bistip_welcome_popup_close'].to_s == '' %>
  <div style="display: none">
    <div id="welcomePopup" style="width: 750px; height: 532px;">
      <%= link_to market_path do %>
        <%= image_tag 'bistip-market.jpg' %>
      <% end %>
      <%#*<div class="left">%>
        <%#= welcome_popup_screenshots_slide_js %>
        <%#*<ul id="apps-screenshots" style="width: 400px; height: 300px;">%>
          <%#*<li style="width: 400px; height: 300px;">%>
            <%#= image_tag 'transaction.jpg' %>
          <%#*</li>%>
          <%#*<li style="width: 400px; height: 300px;">%>
            <%#= image_tag 'transaction-2.jpg' %>
          <%#*</li>%>
        <%#*</ul>%>
      <%#*</div>%>
      <%#*<div class="right">%>
        <%#*<div class="logo"><%= image_tag 'logo.png' %>
        <%#*<div class="header"><%= t('general.slogan') %>
        <%#*<div class="body"><%= t('general.popup') %>
        <%#*<div class="callAction"><%= link_to t('user.new.link_long'), join_path(:ref => TrackLink::POPUP), :class => 'btnAction', :onClick => '$.fn.fancybox.close()' %>
        <%#*<div class="alreadyMember">%>
          <%#= link_to 'javascript:void(1)', :onClick => '$.fancybox.close()' do %>
            <%#= image_tag 'already-member.png' %>
          <%# end %>
        <%#*</div>%>
      <%#*</div>%>
    </div>
  </div>
  <%= link_to '', '#welcomePopup', :style => 'display: none', :id => 'linkWelcomePopup' %>
  <script type="text/javascript">
    $(document).ready(function() {
      $("#linkWelcomePopup").fancybox({'hideOnOverlayClick': false, 'padding': '0', 'centerOnScroll' : true, 'showCloseButton' : true, 'onClosed' : function(){$.cookie('bistip_welcome_popup_close', '1', { expires: 700 });} }).trigger('click');
    });
  </script>
<% end %>