<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <title><%= page_title %> | Bistip.com </title>
  <%= include_stylesheets :main %>
  <%= javascript_include_tag 'jquery-1.5.2.min', 'jquery.tools.min', 'jquery.cookie', 'smoothscroll', 'jquery-ui-1.8.7.custom.min', 'jquery.jqEasyCharCounter.min', 'jquery.watermarkinput', 'rails', 'application', 'pagination', 'jquery.oauthpopup', 'jquery.tagcloud', 'jquery.bxSlider.min', 'jquery.shareit', 'jquery.jgrowl', 'quicktip', 'mTip-v1.0.1', 'jquery.tagsinput.min', 'jquery.fancybox-1.3.4.pack', 'ga_social_tracking', 'slides.min.jquery', 'tooltip.dashboard', 'waypoints.min', 'modernizr.custom' %>
  <%= csrf_meta_tag %>
  <meta name="description" content="<%= meta_description.blank? ? t('general.meta.description') : meta_description %>"/>
  <meta name="keywords" content="<%= meta_keywords %>, <%= t('general.meta.keywords') %>"/>
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;"/>
  <meta name="inmobi-site-verification" content="d2fde4fc80ae4d6db8b4a1243f528d8d">
</head>

<body>
  
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=161019173951344";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <header>
    <div class="plc">
      <h1><a href="/"><%= t('general.meta.description') %>. <%= meta_description %></a></h1>
      <%= render 'shared/top_panel' %>
    </div>
  </header>
  <%= render 'shared/notification' %>

  <% if current_page?(root_path) %>
      <%= yield %>
  <% elsif hide_secondary_navigation? %>
      <section id="contents">
        <div class="plc">
          <%= yield %>
        </div>
      </section>
  <% else %>
      <%= render 'shared/secondary_navigation' %>
      <section id="contents">
        <div class="plc">
          <%= yield %>
        </div>
      </section>
  <% end %>

  <%= render 'shared/footer' %>
  <%= link_to t('contact_us.new.link.general'), new_contact_us_path, :id => "feedbackButton" %>
</body>
</html>
