<?xml version="1.0" ?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.2//EN"
  "http://www.openmobilealliance.org/tech/DTD/xhtml-mobile12.dtd">
<html>
  <head>
    <title><%= page_title %> | Bistip.com </title>
    <%= include_stylesheets :mobile %>
    <%= javascript_include_tag 'jquery-1.5.2.min', 'jquery.tools.min', 'smoothscroll', 'jquery-ui-1.8.7.custom.min','jquery.watermarkinput','rails', 'application', 'jquery.shareit', 'quicktip', 'jquery.tagsinput.min' %>
    <%= csrf_meta_tag %>
    <meta name="description" content="<%= meta_description.blank? ? t('general.meta.description') : meta_description %>"/>
    <meta name="keywords" content="<%= meta_keywords %>, <%= t('general.meta.keywords') %>"/>
    <meta name="viewport" content="width=device-width; initial-scale=1.0;"/>
    <meta name="inmobi-site-verification" content="d2fde4fc80ae4d6db8b4a1243f528d8d">
  </head>

  <body>
  <script type="text/javascript">
    var inmobi_conf = {
    siteid : "585bfe1d25eb442fbaf6b241b471a9b2",  // to be replaced by the property ID registered
    slot : "15"
    };
  </script><script type="text/javascript" src="http://cf.cdn.inmobi.com/ad/inmobi.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('input[type=text]').click(function() {
        $(this).select();
      });
    });
  </script>
  <header>
    <div class="plc">
      <h1><a href="/"><%= t('general.meta.description') %>. <%= meta_description %></a></h1>
      <%= render 'shared/top_panel' %>
    </div>
  </header>
  <% if current_page?(root_path) %>
    <%= render 'shared/notification' %>
    <%= yield %>
  <% elsif hide_secondary_navigation? %>
    <%= render 'shared/notification' %>
    <section id="contents">
      <div class="plc">
        <%= yield %>
      </div>
    </section>
  <% else %>
    <%= render 'shared/secondary_navigation' %>
    <%= render 'shared/notification' %>
    <section id="contents">
      <div class="plc">
        <%= yield %>
      </div>
    </section>
  <% end %>
  <%= render 'shared/footer' %>
</body>
</html>

