<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <title>Console | Bistip.com </title>
    <%= include_stylesheets :console %>
    <%= javascript_include_tag 'jquery-1.5.2.min','rails', 'application', 'jquery.jgrowl' %>
    <%= csrf_meta_tag %>
    <meta name="description" content="<%= meta_description %> | <%= t('general.meta.description') %> |"/>
    <meta name="keywords" content="<%= t('general.meta.keywords') %>, <%= meta_keywords %>"/>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;"/>
  </head>

  <body>
    <script type="text/javascript">
      $(document).ready(function() {
        $('input[type=text]').click(function() {
          $(this).select();
        });
      });
    </script>
  <header>
    <div class="plc">
      <h1><a href="/"><%= t('general.meta.description') %>. <%= meta_description %></a></h1>
      <div class="title">Console</div>
      <% if logged_in? %>
        <nav>
          <%= link_to t('logout.link'), logout_path %>
        </nav>
      <% end %>
    </div>
  </header>
  <%= render 'shared/notification' %>

  <section id="contents">
    <div class="plc">
      <%= yield %>
    </div>
  </section>
  <footer>
    <div class="plc">
      <div class="left">
        <span class="copyright">
          Copyright &copy; Bistip.com. All rights reserved.
        </span>
      </div>
      <div class="right">
        <nav>
          <a href="?mobile=1">
            <%= image_tag 'icon-mobile.png' %> <%= t("mobile.link") %>
          </a>
        </nav>
      </div>
    </div>
  </footer>
</body>
</html>
