<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <title>Marketplace | Bistip.com </title>
    <%= include_stylesheets :market %>
    <%= javascript_include_tag 'jquery-1.5.2.min','rails', 'application', 'pagination', 'mTip-v1.0.1', 'jquery.jgrowl' %>
    <%= csrf_meta_tag %>
    <meta name="description" content="<%= t('market.meta_desc') %>"/>
    <meta name="keywords" content="<%= t('market.meta_keywords') %>"/>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;"/>
  </head>

  <body>
  <header>
    <div class="plc">
      <h1><a href="/"><%= t('general.meta.description') %>. <%= meta_description %></a></h1>
      <div class="title"><%= t('market.title') %></div>
      <%= render 'layouts/market_top_panel' %>
    </div>
  </header>
  <%= render 'shared/notification' %>

  <section id="contents">
    <div class="plc">
      <%= yield %>
    </div>
  </section>
  <%= render 'shared/footer' %>

  <%= link_to t('contact_us.new.link.general'), new_contact_us_path, :id => "feedbackButton" %>
</body>
</html>
