<div id="trending">
  <div class="col12">
    <h2><%= t('trending_item.show.heading') %></h2>
  </div>
  <div class="col8 defaultRound">
    <div class="itemDisplay"><%= @trending_item.item %></div>
  </div>
  <div class="col11">
    <%= render_trending_item_trips %>
    <%= render_trending_item_seeks %>
    <%= render 'comments' %>
  </div>
</div>
