
<div class="content-left">
  <% page_title t('message.new.heading') %>
  <div class="heading-grey" style="padding-top: 3px; padding-bottom: 3px"><%= t('message.new.heading') %></div>
  <%= render 'form', :locals => {:user_id => @user}%>
</div>


