<div class="reputation-from">
  <%= form_for([@user, NegativeReputation.new]) do |f| %>
    <table width="800" cellspacing="0" cellpadding="5" border="0" class="text-01">
      <tr>
        <td><%= t('reputation.label.receiver') %></td>
        <td><%= @user.username %></td>
      </tr>
      <tr>
        <td><%= t('reputation.field.label.body') %></td>
        <td>
          <%= enable_character_counter('negative_reputation_body', NegativeReputation::BODY_MAXIMUM_LENGTH) %>
          <%= f.text_area :body, :rows => 7, :cols => 60, :class => 'textarea-01'%>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><%= f.submit t('button.submit'), :class => 'button-register' %> / <%= link_to t('button.cancel'), user_path(@user) %></td>
      </tr>
    </table>
  <% end %>
</div>
