<p>Ada aplikasi asuransi baru:</p>

<table>
  <tr>
    <td>Oleh</td>
    <td><%= @user.username %></td>
  </tr>
  <tr>
    <td>Antara</td>
    <td><%= @message.sender.username %> dan <%= @message.receiver.username %></td>
  </tr>
  <tr>
    <td>Message ID</td>
    <td><%= @message.id %></td>
  </tr>
  <tr>
    <td>Tipe</td>
    <td><%= @type %></td>
  </tr>
</table>
