<% mutual_friends = @mutual_friends %>
<% unless mutual_friends.blank? %>
  <p>
    <span class="fbMutualFriends"><%= t('relation.label.facebook_mutual', :count => mutual_friends.length) %></span>
  </p>
  <div>
    <% mutual_friends.each do |mutual| %>
      <%= link_to mutual['profile_url'] do %>
        <%= image_tag mutual['pic_square'], :alt => mutual['name'], :title => mutual['name'] %>
      <% end %>
    <% end %>
  </div>
  <div class="divider"></div>
<% end %>
