<% user = locals[:user] %>
<div id="userProfile">
  <div class="col4">
    <h2>
      <%= user.username %><%= render 'shared/trusted_badge', :locals => {:user => user} %>
      <br/>
      <span class="memberDate"><%= t('user.member_since') %> <%= @user.member_since %></span>
    </h2>
    <nav id="tabNav">
      <%= render_sub_menu_link t('user.show.link'), [profile_path(@user.username),
        {:controller => 'users', :action => "edit", :id => @user.id},
        {:controller => 'passwords', :action => "edit"},
        edit_user_configuration_path(:user_id => @user.id, :id => @user.user_configuration.id),
        influencer_point_user_path(:id => @user.id)]%>

      <%= render_sub_menu_link t('trip.index.link_short'), [{:controller => 'users', :action => "trips", :id => @user.id}] %>
      <%= render_sub_menu_link t('seek.index.link_short'), [{:controller => 'users', :action => "seeks", :id => @user.id}] %>
      <%= render_sub_menu_link t('user.field.label.reputation'), [reputation_user_path(@user)] %>
    </nav>
  </div>
</div>