<div style="font: normal 14px Helvetica, Arial, sans-serif; line-height: 19px; color: #333;">
  <%= @giver.username %> gave you review on <%= l(@created) %>
  <blockquote>
    <strong><i><%= simple_format @content %></i></strong>
  </blockquote>
  <% unless @review.reply_exist? %>
    You can use below link to give back <%= @giver.username %> a review:
    <br/>
    <% if @review.invitation? %>
      <%= auto_link(new_user_review_url(@review.giver_id, :invitation => true)) %>
    <% else %>
      <%= auto_link(new_user_review_url(@review.giver_id, :message_id => @review.message_id)) %>
    <% end %>
  <% else %>
    You can view the review through the link below:
    <br/>
    <%= auto_link(reviews_user_url(@receiver)) %>
  <% end %>
</div>