<% user = locals[:user] %>
<%= link_to profile_path(user.username), :class => "divlink" do %>
  <div class="userRow">
    <div class="userPlc">
      <div class="avatar">
        <%= render 'shared/trusted_badge', :locals => {:user => user} %>
        <%= image_tag user.avatar.url, :size => "64x64",  :class=>"photo" %>
      </div>
      <div class="info">
        <h5>
          <%= user.username %>
        </h5>
        <% if !string_nil_or_empty?(user.fullname) %>
          <p><strong><%= user.fullname %></strong></p>
        <% end %>
        <% if !string_nil_or_empty?(user.city_location) %>
          <p><strong><%= user.city_location %></strong></p>
        <% end %>
      </div>
      <div class="tools">
        <% if user.received_positive_reviews.count > 0 %>
          <span class="thumbUp"><%= user.received_positive_reviews.count%>&nbsp;<%= image_tag "icon-thumbs-up.png", :size => "10x14" %></span><br/>
        <% end %>
        <% if user.received_negative_reviews.count > 0 %>
          <span class="thumbDown"><%= user.received_negative_reviews.count%>&nbsp;<%= image_tag "icon-thumbs-down.png", :size => "10x14" %></span>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
