<% sender = message.sender %>
<% unread_count = Message.unread_in_thread(current_user.id, message.reply_to_id).count %>
<% all_count = Message.all_in_thread(message.reply_to_id).count %>
<%= link_to(message_path(message, :anchor => message.internal_link_id), :class => 'divlink') do %>
  <div class="inboxRow <%= 'unread' if unread_count > 0 %>">
    <div class="avatar">
      <%= render 'shared/trusted_badge', :locals => {:user => sender, :small => true} %>
      <%= image_tag sender.avatar.url(:thumb), :align => 'center', :class => 'photo', :width => 48, :height => 48 %>
    </div>
    <div class="message">
      <h5> <%= sender.username %> <span class="date"><%= smart_date_display message.created_at %></span> 
        <% if all_count > 1 %><span class="textBlack">&nbsp;(<%= all_count %>)</span><% end %>
        <% if unread_count > 0 %><span class="new"><%= unread_count %>&nbsp;<%= t('general.new') %></span><% end %>
        <% if message.has_escrow? %> <span class="transaction"><%= t('general.transaction') %></span> <% end %>
        <% if Message.thread_has_asset?(message) %> <span class="asset"><%= image_tag 'icon-attachment-12.png', :title => t('message.label.has_asset') %></span> <% end %>
        <% if Message.is_user_already_replied_in_thread?(current_user, message) %> <span class="reply"><%= image_tag 'icon-replied-12.png', :title => t('message.label.replied') %></span> <% end %>
      </h5>
      <p>
        <%= highlight message.subject_display, search_keyword_to_array(params[:keyword]) %>&nbsp;-
        <% body = message.body %>
        <% if params[:keyword] %>
          <%= highlight body, search_keyword_to_array(params[:keyword]) %>
        <% else %>
          <% body = body.slice(0,100) + "..." unless body.length <= 100 %>
          <%= body %>
        <% end %>
      </p>
    </div>
  </div>
<% end %>

