<% page_title t('content.link.point') %>
<div class="col9 padding2point5">
  <h2><%= t('content.link.point') %></h2>
  <p align="center"><%= image_tag 'point-banner-m.png', :class => 'defaultShadow' %></p>
  <h3 class="textBlack">Bagaimana cara mendapatkan Bistip Point?</h3>

   <ul>
    <li>Setiap klik link rute perjalanan yang kamu sebarkan : <strong>1 point</strong></li>
    <li>Untuk setiap cerita kamu yang ditampilkan di <%= link_to t('stories.general.heading'), stories_path, :target => '_blank' %> (tanpa gambar) : <strong>20 point</strong></li>
    <li>Cerita kamu yang ditampilkan dan memiliki gambar : <strong>30 point</strong></li>
    <li>Rekomendasi barang kamu yang ditampilkan : <strong>5 point</strong></li>
    <li>Rekomendasi barang kamu yang ditampilkan dan memiliki gambar : <strong>10 point</strong></li>
   </ul>

  <h3 class="textBlack">Apa yang bisa kamu lakukan dengan point yang telah dikumpulkan?</h3>
  <p>
    <strong>Klaim poin sementara tidak ada karena.. Bistip SafePay lagi bebas biaya!</strong>
  </p>
  <p>
    Dalam rangka ulang tahun Bistip yang pertama, kita sedang membebaskan biaya SafePay untuk periode 9 Maret - 9 April 2012. Baca selengkapnya di halaman <%= link_to t('content.link.safepay'), safepay_path %>.
  </p>
  <br/>

  <h3 class="textBlack">Dimana saya bisa melihat perolehan point?</h3>
  <p>
    Kamu bisa melihat perolehan point di halaman <%= link_to t('dashboard.link.general'), dashboard_path, :target => '_blank' %>.
  </p>

</div>
<%= render 'shared/static_menu' %>