<div class="login-box">
  <div style="height:16px; background-image:url(<%= image_path "login-top.jpg" %>); background-repeat:no-repeat; background-position:center;"></div>
  <div style="height:80px; background-image:url(<%= image_path "login-middle.jpg" %>); background-repeat:repeat-y; background-position:center; padding-left:10px; padding-right:10px;">
    <% if logged_in? %>
      <span>Hello, <%= current_user.username %> !</span><br/>
      <div class="text-white-14">
        <a href="<%= user_path(current_user) %>"><%= image_tag 'profile.png', :border => 0, :align => 'absmiddle'%>&nbsp;<%= t('user.show.top_link')%></a>
        <br/>
        <a href="<%= user_messages_path(current_user) %>">
        <%= image_tag 'mail.png', :border => 0, :align => 'absmiddle'%>&nbsp;
          <% inbox = current_user.received_messages.where(:read => false).count %>
          <% if inbox > 0 %>
            <span class="text-orange-14"><%= t('message.link.inbox') %>&nbsp;(<%= inbox %>)</span>
          <% else %>
            <%= t('message.link.inbox') %>
          <% end %>
        </a>
      </div>
      <div class="buttonlink-red" style="text-align: right; padding-top: 4px;">
        <%= link_to t('logout.link'), logout_path %>
      </div>
    <% else %>
      <div style="text-align: right; padding-bottom: 4px; padding-right: 3px">
        <span><%= t('layout.label.not_registered') %></span>
        <div style="text-align: right; width: 70px; float:right" class="buttonlink-red">
          <%= link_to t('layout.link.register'), new_user_path %>
        </div>
      </div>
      <%= form_tag session_path do %>
        <div align="right" style="padding:3px;">
          <%= watermark_field "email_or_username", "email or username"%>
          <%= text_field_tag :email_or_username, nil, {:size => 16, :class => "textbox-login"} %>
          <%= watermark_field "password", "password" %>
          <%= password_field_tag :password, nil, {:size => 16, :class => "textbox-login"} %>
        </div>
        <div align="right" style="padding:3px;">
          <%= submit_tag t('button.login'), :class => 'button-blue' %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div style="height:13px; background-image:url(<%= image_path "login-bottom.jpg" %>); background-repeat:no-repeat; background-position:center;"></div>
</div>