<% trip = locals[:trip] %>
<div class="summary-table">
  <div class="summary-text">
    <strong><%= t('trip_summary.label.route')%></strong>: <%= render 'shared/city', :locals => {:city => trip.origin_city} %>&nbsp;<%= image_tag 'arrow.png', :align => "absmiddle" %>&nbsp;<%= render 'shared/city', :locals => {:city => trip.destination_city} %>
    <br/>
    <strong><%= t('trip_summary.label.departure_date') %></strong>: <%= l(trip.departure_date) %>  - <span class="blue-link"><%= link_to t('trip_summary.link.details'), trip_path(trip) %></span>
  </div>
  <% if !trip.active? %>
    <div class="summary-text">
      <i>(<%= t('trip_summary.label.departure_date_passed') %>)</i>
    </div>
  <% end %>
  <div align="right" class="summary-text">
    <strong><%= t('trip_summary.label.bistiper') %></strong>: <%= render 'shared/user_summary', :locals => {:user => trip.user} %>
  </div>
  <div class="summary-line"></div>
</div>

