<ul id="sub-menu">
  <%= render_sub_menu_link t('user.show.link'), {:controller => 'users', :action => "show", :id => @user.id} %>
  <% if logged_in? and current_user == @user%>
    <%= render_sub_menu_link t('user.edit.link'), {:controller => 'users', :action => "edit", :id => @user.id} %>
    <%= render_sub_menu_link t('password.edit.link'), {:controller => 'passwords', :action => "edit"} %>
    <%= render_sub_menu_link t('configuration.edit.link'), edit_user_configuration_path(:user_id => @user.id, :id => @user.user_configuration.id) %>
  <% end %>
  <%= render_sub_menu_link t('trip.index.link'), {:controller => 'users', :action => "trips", :id => @user.id} %>
  <%= render_sub_menu_link t('seek.index.link'), {:controller => 'users', :action => "seeks", :id => @user.id} %>
  <%= render_sub_menu_link t('reputation.link.positive'), {:controller => 'positive_reputations', :action => "index", :user_id => @user.id} %>
  <%= render_sub_menu_link t('reputation.link.negative'), {:controller => 'negative_reputations', :action => "index", :user_id => @user.id} %>
</ul>