<% user = locals[:user] %>

<span style="vertical-align: bottom; border-bottom-style: none">
  <span class="blue-link"><strong><%= link_to user.username, user_path(user) %></strong></span>
  <% if logged_in? and user != current_user %>
    <%= link_to image_tag("ui_newmail.png", :border => 0, :title => t('message.link.new'), :align => "absmiddle"), new_user_message_path(:user_id => user) %>
  <% elsif !logged_in? %>
    <%= link_to image_tag("ui_newmail.png", :border => 0, :title => t('message.link.new'), :align => "absmiddle"), new_user_message_path(:user_id => user) %>
  <% end %>
</span>