<% user = locals[:user] %>
<div class="user-medium text-01">
  <div class="user-medium-profile-picture"><%= image_tag user.avatar.url(:thumb), :align => 'center' %></div>
  <div class="user-medium-details">
    <span class="blue-link"><%= link_to user.username, user_path(user), :class => "blue-link" %></span>
    <% if logged_in? and user != current_user %>
      <%= link_to image_tag("ui_newmail.png", :border => 0, :align => "absmiddle"), new_user_message_path(:user_id => user) %>
    <% elsif !logged_in? %>
      <%= link_to image_tag("ui_newmail.png", :border => 0, :align => "absmiddle"), new_user_message_path(:user_id => user) %>
    <% end %>
    <% unless user.fullname.nil? %>
      - <%= user.fullname %>
    <% end %>
    <% unless user.fullname.nil? %>
      - <%= user.location %>
    <% end %>
  </div>
</div>

