<% page_title t('content.link.faq') %>
<div class="text-01 blue-link">
  <h2><%= t('content.link.faq') %></h2>

  <h3>What is Bistiper?</h3>
  <p>Travellers, who is willing to help you bring/buy stuff from other location</p>

  <h3>And Wanted Bistiper?</h3>
  <p>Bistiper in demand by other users.</p>

  <h3>How to do safe money transaction</h3>
  <p>Transaction here is no different compared to buyer and seller transaction. We recommend you to use <i>Escrow Account</i> yang kerap dipakai oleh komunitas forum. Silakan di Google saja <i>Rekening Bersama</i>
    lewat link <%= link_to 'ini', 'http://www.google.co.id/search?q=rekening+bersama', :target => '_blank'%> dan pilihlah yang kamu bisa percayai.
  </p>

  <h3>Untuk keselamatan, apakah tidak sebaiknya pihak yang dititipi diberi kewenangan untuk membuka paketnya? untuk menghindari dititipi barang yang bertentangan dengan hukum.</h3>
  <p>Kita disini hanya mempertemukan orang yang mau nitip dengan yang mau dititipin. Kami sudah pikirkan perihal keselamatan orang yang dititipin, seperti yang kita dokumentasikan di <%= link_to t('content.link.guide'), guide_path %>.
     Disana kita sebut <b>"Pastikan anda tahu barang yang dititipkan melalui anda, minta izin untuk melihat sendiri isi barang tersebut untuk menghindari anda menjadi korban dari kriminalitas."</b> jadi yang terima titipan harus waspada.
  </p>

  <h3>Bagaimana sebaiknya dalam menentukan nilai imbalan untuk titipan?</h3>

  <p>Menurut kami memang tidak mudah untuk memberi standar imbalan. Contoh: mungkin barang berat tapi harga nggak seberapa, namun bisa juga sebuah barang itu penting (seperti untuk kesehatan) jadi penitip tidak keberatan untuk kasih imbalan lebih.
    Untuk ini emang kita serahkan negosiasi antar sesama Bistip user. Silakan juga dibaca <%= link_to t('content.link.guide'), guide_path %> yang kami sudah tulis.
  </p>

  <h3>Bagaimana untuk menghindari penipuan dalam transaksi titip-menitip?</h3>

  <p>Lihat kelengkapan profil, bila perlu kunjungi akun Facebook dan/atau Twitternya. Reputasi juga dilihat, jika banyak yang memberi reputasi negatif maka hindari transaksi besar dengan orang tersebut.</p>

  <i>Kalo ada pertanyaan lainnya silakan kirim ke kami di <%= link_to t('contact_us.new.link.general'), new_contact_us_path %> :)</i>
</div>
