<div style="height: 300px" class="content-middle-graphic-background text-01 blue-link"
  <p>
    Kamu akan kami kembalikan ke halaman utama beberapa saat lagi.
  </p>
  <p>
    Silakan klik link <%= link_to t('home.link'), root_path %> jika auto-redirect tidak bekerja.
  </p>
</div>

<script type="text/javascript">
  setTimeout(function() {
    window.location.href = '/';
}, 5000);
</script>
