<div class="col4">
  <h3><%=t('trip.tips.heading')%></h3>
  <ol class="tips bgGrey defaultRound">
    <li><p><%= t('trip.tips.content.line1') %></p></li>
    <li><p><%= t('trip.tips.content.line2') %></p></li>
    <li><p><%= t('trip.tips.content.line3') %></p></li>
  </ol>
  <br/>
  <p>
    <%= render 'shared/new_location_contact_us' %>
  </p>
</div>
