<% page_title t('search_trip.index.label.heading') %>
<div class="col12">
  <h2><%= t('search_trip.index.label.heading') %></h2>
  <%= render 'shared/search_menu' %>
</div>
<div class="col4">
  <div id="searchRoute">
    <p>
      <label><%= t('trip.field.label.route') %>:</label>
      <%= watermark_field('origin', City::ANYWHERE) %>
      <%= search_location_auto_complete_js 'origin' %>
      <%= text_field_tag 'origin', (@origin.blank? ? params[:origin] : @origin.display_name), :size => 30, :style => "width: 38%;" %>
      &nbsp;<b>&gt;</b>&nbsp;
      <%= watermark_field('destination', City::ANYWHERE) %>
      <%= search_location_auto_complete_js 'destination' %>
      <%= text_field_tag 'destination', (@destination.blank? ? params[:destination] : @destination.display_name), :size => 30, :style => "width: 38%" %>
    </p>
    <%= render 'suggestions' %>
    <br/>
    <p>
      <a class="btnSearch" href="javascript:buildSearchTripURL(true)"><%= t('button.search') %></a>
    </p>
  </div>
</div>
<div class="col4 bgLightYellow defaultRound">
  <h4 class="textBlack">
    <% if @no_valid_parameter %>
      <%= t('search_trip.index.label.all') %>
    <% else %>
      <%= t('search_trip.index.label.result') %>&nbsp;<span class="counter"><%= @total_result %></span>
    <% end %>
    <span class="searchSort">
      <%= select_tag "sort", options_for_select(TripSort.map, params[:sort]), :onchange => 'javascript:buildSearchTripURL()' %>
    </span>
  </h4>
  <div id="searchResults">
    <div id="trips">
      <% if @trips.size > 0 %>
        <% for trip in @trips do %>
          <%= render 'shared/trip_summary', :locals => {:trip => trip, :item_count => TripItem::SUMMARY_COUNT} %>
        <% end %>
      <% else %>
        <div class="notificationBar yellow"><%= t('search_trip.index.label.no_result') %></div>
        <h4 class="textBlack"><%= raw t('search_trip.index.label.no_result_instruction') %></h4>
        <p><%= link_to t('seek.new.link'), new_seek_path + build_params_for_new_seek, :class => 'btnAction' %></p>
      <% end %>
    </div>
    <div class="paginationMorePlaceholder">
      <%= get_will_paginate @trips %>
    </div>
  </div>
</div>
