<% trip = locals[:trip] %>
<% origin_city = trip.origin_city %>
<% destination_city = trip.destination_city %>
<% item_count = locals[:item_count] %>
<% max = 0 %>
<% if item_count %>
  <%  max = item_count %>
<% else %>
  <%  max = trip.items.size %>
<% end %>
<% counter = 1 %>
<div class="routeDisplay bgBlue">
  <%= render 'shared/city', :locals => {:city => trip.origin_city} %>
  &nbsp;<strong>&gt;</strong>&nbsp;
  <%= render 'shared/city', :locals => {:city => trip.destination_city} %>
</div>
<div class="periodDisplay bgYellow">
  <% if trip.routine %>
    <strong><%= t("week_period.#{trip.period}")%></strong>
    <br/>
    <span class="weekDays"><%= trip.week_days_for_display %></span>
  <% else %>
    <strong><%= l(trip.departure_date) %></strong>
  <% end %>
  <% unless trip.arrival_date.blank? %>
    <br/>
    <span class="arrivalDate"><%= t('trip.field.label.arrival_date')%> <%= l(trip.arrival_date) %></span>
  <% end %>
</div>
<% unless trip.items.empty? %>
  <div class="offerDisplay bgWhite">
    <strong><%= t('trip.field.label.items_short')%></strong>
    <br/>
    <% trip.items.each do |item|  %>
      <% if counter <= max %>
          <%= item.name %> 
          <%  if !item.tip.blank? %>
            <em>(<span class="tip"><%= t('trip.show.label.tip')%></span>&nbsp;<%=item.tip_with_unit%>)</em>
          <% end %>
          <br/>
      <% else %>
        <% break %>
      <% end %>
      <% counter+=1 %>
    <% end %>
  </div>
<% end %>