<% trip = locals[:trip] %>
<% item_count = locals[:item_count]  %>
<% show_description = locals[:show_description] %>
<% user = trip.user %>
<%= link_to  trip_path(trip), :class => "infoBlockLink" do %>
  <div class="infoBlock defaultRound mid">
    <div class="left">
      <div class="avatar">
        <%= image_tag user.avatar.url(:thumb), :class => "photo" %>
        <h5><%= user.username %></h5>
        <div class="tools">
          <%= render 'shared/user_reputation', :locals => {:user => user} %>
        </div>
      </div>
    </div>
    <div class="right">
      <% if item_count %>
        <%= render 'shared/trip_data', :locals => {:trip => trip, :item_count => item_count} %>
      <% else %>
        <%= render 'shared/trip_data', :locals => {:trip => trip} %>
      <% end %>
      <% if show_description and !string_nil_or_empty?(trip.notes) %>
        <div class="notesDisplay bgWhite">
          <p><%= highlight trip.notes, search_notes_to_array(params[:notes]) %></p>
        </div>
      <% end %>
    </div>
  </div>
<% end %>