<tr style="font-size: larger;">
  <td><%= trip.id %></td>
  <td><%= trip.origin_location %></td>
  <td><%= trip.destination_location %></td>
  <td><%= l(trip.departure_date) unless trip.departure_date.nil? %></td>
  <td><%= l(trip.arrival_date) unless trip.arrival_date.nil? %></td>
  <td><%= link_to t('trip.show.link'), trip %></td>
  <td><%= link_to t('trip.edit.link_short'), edit_trip_path(trip) %></td>
  <td><%= link_to t('trip.destroy.link_short'), trip, :confirm => 'Are you sure?', :method => :delete %></td>
</tr>
