<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %> | Bistip.com </title>
  <%= stylesheet_link_tag "bistip","jquery-ui-1.8.7.custom" %>
  <% jquery_datepicker_localised = "jquery.ui.datepicker-" + I18n.locale.to_s %>
  <%= javascript_include_tag 'jquery-1.4.4.min', 'jquery-ui-1.8.7.custom.min','jquery.jqEasyCharCounter.min', 'jquery.watermarkinput','rails', 'application', 'pagination', 'jquery.oauthpopup'%>
  <%= csrf_meta_tag %>
  <meta name="description" content="Komunitas mempertemukan yang bisa dititip dan yang ingin menitip" />
  <meta name="keywords" content="titip, nitip, menitip, bawa titipan, jalan jalan, uang sambilan, bikin uang sambilan, titip barang, komunitas" />
</head>
<body>
  <div class="feedback">
    <%= link_to new_contact_us_path do %>
      <%= image_tag 'feedback.png', :border => 0, :title => t('contact_us.new.link.general') %>
    <% end %>
  </div>
  <table class="table-main" border="0" cellspacing="0" cellpadding="0" align="center">
    <tr>
      <td>
        <div style="float:left; ">
          <%= link_to root_path do %>
            <%= image_tag "logo.jpg", :border => 0%>
          <% end %>
        </div>
        <div class="text-01 blue-link" style="text-align: center; border: solid 1px; float: left; padding: 5px; margin-left: 35px; margin-top: 25px">
          <span class="text-red-01"><b>new </b></span><b>Kompetisi bikin slogan untuk Bistip.</b><br/>
          Berhadiah 1 juta untuk pemenang utama. <br/> Klik <%= link_to 'disini', 'slogan/competition.html', :target => '_blank' %> untuk info selengkapnya.
        </div>
        <%= render "shared/quick_login" %>
      </td>
    </tr>
    <tr>
      <td align="center" style="text-align: right;" colspan="2"></td>
      <td align="center"></td>
    </tr>
    <tr>
      <td>
        <div class="menu">
          <div style="width:10px;float:left;"><%= image_tag("menu-left.jpg")%></div>
          <div class="menu-content">
            <div style="padding-top:10px; float:left">
              <%= render_menu_link t('content.link.how'), how_path %>
              <%= render_menu_link t('content.link.new'), new_path %>
              <%= render_menu_link t('trip.new.link'), {:controller => 'trips', :action => "new" } %>
              <%= render_menu_link t('seek.new.link'), {:controller => 'seeks', :action => "new" } %>
              <%= render_menu_link t('search_trip.link'), {:controller => 'search_trip', :action => "index" } %>
              <%= render_menu_link t('search_seek.link'), {:controller => 'search_seek', :action => "index" } %>
              <%= render_menu_link t('search_user.link'), {:controller => 'search_user', :action => "index" } %>
            </div>
            <div style="padding-top:5px; float:right">
              <%= link_to (image_tag 'fb.png', :border => 0), 'http://www.facebook.com/bistip', :target => '_blank', :title => 'Bistip on Facebook', :style => 'padding: 0px' %>
              <%= link_to (image_tag 'tweet.png', :border => 0), 'http://www.twitter.com/bistip', :target => '_blank', :title => 'Follow Bistip on Twitter', :style => 'padding: 0px' %>
            </div>
          </div>
          <div style="width:10px;float:right;"><%= image_tag("menu-right.jpg")%></div>
        </div>
      </td>
    </tr>
    <tr>
      <td style="padding-top:10px;">
        <%= render 'shared/notification' %>
      </td>
    </tr>
    <tr>
      <td>
          <%= yield %>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td align="center" class="footer-text" style="height:20px; border-bottom : 1px solid #999;  ">
        <span class="text-red-01"><b>new </b></span><%= link_to 'Kompetisi Slogan', 'http://bistip.com/slogan/competition.html', :target => '_blank' %> |
        <%= link_to t('content.link.about'), about_path %> |
        <%= link_to t('content.link.how'), how_path %> |
        <%= link_to t('content.link.guide'), guide_path %> |
        <%= link_to t('content.link.faq_short'), faq_path %> |
        <%= link_to 'Blog', 'http://blog.bistip.com', :target => '_blank' %> |
        <%= link_to t('content.link.privacy_policy'), privacy_policy_path %> |
        <%= link_to t('content.link.terms_of_service'), terms_of_service_path %> |
        <span class="blue-link"><%= link_to t("mobile.link"), :mobile => 1 %></span>
      </td>
    </tr>
    <tr>
      <td align="center" class="footer-text blue-link" style="height:20px; color:#666">Copyright &copy; <%= link_to 'bistip.com', 'http://www.bistip.com' %>. All Rights Reserved</td>
    </tr>
  </table>
  <%= render 'shared/google_analytics' if ::Rails.env == 'production' %>
</body>
</html>
