<% page_title t('content.link.rekber') %>
<div class="text-01 blue-link">
  <h2><%= t('content.link.rekber') %></h2>

  <p align="center"><%= image_tag 'rekber-flow.png'  %></p>

  <p><span><b>Prosedur Rekening Bersama secara detil adalah sebagai berikut * :</b></span></p>

  <p><span></span></p>

  <p>
    <span>Deal nilai transaksi dan kesepakatan antara penitip dan yang dititip, termasuk deskripsi barang secara detil, garansi, asuransi (jika diinginkan), ongkos kirim (jika kesepakatannya menggunakan jasa pengiriman) , pemahaman akan aturan rekening bersama, dsb.</span>
  </p>

  <p><span></span></p>

  <p>
    <span>1. Penitip dan yang dititip memilih pemegang RekBer yang disepakati akan digunakan untuk bertransaksi</span>
  </p>

  <p>
    <span>Pemilik RekBer yang ditunjuk akan menjelaskan prosedur singkat transaksi serta nomor rekening bank yang digunakan. Untuk melihat para pemilik RekBer dan penjelasannya silakan akses link berikut <%= link_to 'ini', 'http://bistip.com/forums/2/topics/7', :target => '_blank' %></span>
  </p>

  <p><span></span></p>

  <p>
    <span>2. Penitip mentransfer nilai (transaksi + komisi titipan + fee Rekber) ke RekBer</span></p>

  <p>
    <span>Penitip mengkonfirmasi transfer tersebut di <%= link_to t('general.rekber'), 'http://bistip.com/forums/2/topics/7', :target => '_blank' %> dengan format sebagai berikut:</span>
  </p>

  <p><span></span></p>

  <p><span></span></p>
  <table cellpadding="1" cellspacing="1">
    <tbody>
    <tr>
      <td><p><span><b> &ldquo;Sudah transfer sebesar Rp xx.000</span></p>

        <p><span>Ke rekening : xxxxxxxxxx a/n: xxxxx xxxxxx</span></p>

        <p><span>Bank : *nama bank*</span></p>

        <p><span>*Tanggal-bulan-tahun*, jam xx.xx:xx WIB</span></p>

        <p><span>user-id penitip : *xxx*</span></p>

        <p><span>user-id yang dititip : *xxx* </span></p>

        <p class="c4 c5"><span>Keterangan: Untuk penitipan barang *xxxxx*, dengan trip ID : *xxx*</b></span></p>
      </td>
    </tr>
    </tbody>
  </table>
  <p><span></span></p>

  <p><span></span></p>

  <p>
    <span>3. Pemilik RekBer yang ditunjuk melakukan verifikasi dan menyalin bukti transfer tersebut di <%= link_to t('general.rekber'), 'http://bistip.com/forums/2/topics/7', :target => '_blank' %>
  </p>

  <p>
    <span>Pemilik RekBer mengkonfirmasi ke yang dititip bahwa dana dari penitip sudah masuk, dan mempersilakan yang ditiitip untuk membelikan barang.</span>
  </p>

  <p><span></span></p>

  <p>
    <span>4. Setelah yang dititip membelikan barang , maka yang dititip bertemu dengan penitip di mana yang dititip membawakan barang pesanan dan memberikannya kepada si penitip.</span>
  </p>

  <p><span></span></p>

  <p>
    <span>5. Apabila penitip telah menerima barang yang ditransaksikan, melakukan pengecekan dan mengkonfirmasi &ldquo;OK&rdquo;
      baru penitip mempersilahkan pemilik RekBer untuk meneruskan dana kepada yang dititip. Caranya adalah dengan mengkonfirmasi di thread RekBer di bistip.com yang bisa diakses <%= link_to 'disini', 'http://bistip.com/forums/2/topics/7', :target => '_blank' %> bahwa barang telah diterima ( maksimal : 3 hari setelah barang diterima ) .</span>
  </p>

  <p><span></span></p>
  <table cellpadding="0" cellspacing="0">
    <tbody>
    <tr>
      <td><p>
        <b>
        <span>&ldquo;Sudah diterima barang &ldquo;xxxxxx&ldquo; dengan trip ID : *xxx* </span></p>

        <p><span>user-id penitip : *xxx*</span></p>

        <p><span>user-id yang dititip : *xxx* </span></p>

        <p><span>Tanggal-bulan-tahun , jam xx.xx:xx WIB&rdquo;</span></p>
      </b>
      </td>
    </tr>
    </tbody>
  </table>
  <p><span></span></p>

  <p><span></span></p>

  <p>
    <span>6. Pemilik RekBer meneruskan dana (transaksi + komisi titipan) yang sudah dipotong fee RekBer, kemudian menunjukkan posting di thread rekber di bistip.com disertai dengan bukti transfer. Untuk referensi fee yang akan dibebankan RekBer dapat dilihat <%= link_to 'disini', 'http://bistip.com/forums/2/topics/7', :target => '_blank' %>.</span>
  </p>

    <p>
    <span>7. Yang dititip melakukan konfirmasi pada thread Rekber di bistip.com bahwa dana transaksi telah diterima melalui RekBer dengan format sebagai berikut:</span>
  </p>
  <table cellpadding="0" cellspacing="0">
    <tbody>
    <tr>
      <td><p><b>
        <span>&ldquo;Sudah diterima dana sebesar Rp.xx.000 untuk penitipan dengan trip ID : *xxx*</span></p>

        <p><span>user-id penitip : *xxx*</span></p>

        <p><span>user-id yang dititip : *xxx* </span></p>

        <p><span>Tanggal-bulan-tahun , jam xx.xx:xx WIB&rdquo;</span></b></p></td>
    </tr>
    </tbody>
  </table>
  <p><span></span></p>

  <p><span></span></p>

  <p><span>Warning</span></p>
  <ol start="1">
    <li>
      <span>Mengingat titip menitip bergantung pada timing berangkatnya pembawa titipan. Maka pemakai rekber kami ingatkan bahwa proses RekBer akan memakan waktu. Sebaiknya sediakan waktu untuk berkomunikasi dengan pihak RekBer sedikitnya </span><span>seminggu (7 hari)</span><span> sebelum berangkatnya pembawa titipan. Karena yang dititip perlu waktu untuk mencarikan barang titipan.</span>
    </li>
  </ol>
  <p><span></span></p>
  <ol start="2">
    <li>
      <span>Zona Waktu yang digunakan oleh RekBer adalah </span><span>GMT + 7</span><span> atau </span><span>WIB</span><span>.</span>
    </li>
  </ol>
  <p><span></span></p>

  <p><span>Disclaimer : </span></p>

  <p><span></span></p>
  <ol start="1">
    <li>
      <span>Rekening bersama (selanjutnya disebut RekBer) adalah tidak terkait secara institusional dengan pihak </span><span><a href="http://bistip.com">bistip.com</a></span><span> .</span>
    </li>
    <li>
      <span>Partner jasa RekBer yang disarankan oleh </span><span><a href="http://bistip.com">bistip.com</a></span><span> adalah </span><span><a href="http://rekeningbersama.com">rekeningbersama.com</a></span>
    </li>
    <li>
      <span>Segala bentuk </span><span>transaksi yang dilakukan oleh pengguna </span><span><a href="http://bistip.com">bistip.com</a></span><span> melalui jasa RekBer adalah </span><span>di luar tanggung jawab</span><span> </span><span><a href="http://bistip.com">bistip.com</a></span><span> </span><span>tanpa terkecuali</span><span>.</span>
    </li>
    <li><span>Segala bentuk respon</span><span> untuk RekBer (pertanyaan , pengaduan dll) harus dicantumkan di <%= link_to t('general.rekber'), 'http://bistip.com/forums/2/topics/7', :target => '_blank' %> . Pihak bistip.com akan berusaha sedapat mungkin membantu menindaklanjutinya. Apabila post mengenai RekBer dilakukan melalui kotak saran (feedback) kami, maka kami mohon maaf sebesarnya karena kami tidak akan menindaklanjutinya.</span>
    </li>
  </ol>
  <p><span></span></p>

  <p><span>Keterangan : </span></p>

  <p>
    <span>* Prosedur rekening bersama ini adalah hasil saduran dari website </span><span><a href="http://rekeningbersama.com">rekeningbersama.com</a></span><span> dan telah disetujui oleh pemiliknya untuk diubah sesuai dengan kebutuhan </span><span><a href="http://bistip.com">bistip.com</a></span><span> .</span>
  </p>

  <p><span></span></p>

  <p align="center">
    <%= link_to 'http://bistip.com/forums/2/topics/7', :target => '_blank' do %>
    <%= image_tag "rekber-link.png"  %>
    <% end %>
  </p>
</div>
