<% page_title t('search_seek.index.label.heading') %>
<%= render 'shared/search_sub_menu' %>
<div class="page-heading"><%= t('search_seek.index.label.heading') %></div>
<div class="content-left text-01">
  <table width="100%" cellspacing="0" cellpadding="1" border="0" align="center" class="text-01">
    <tbody>
      <tr>
        <td colspan="3"><b style="font-size: 11px;"><%= t('search_seek.index.label.intro') %></b></td>
      </tr>
      <tr>
        <td width="25%">
          <%= location_auto_complete_js 'origin' %>
          <%= t('seek.field.label.origin') %>
        </td>
        <td width="3%">&nbsp;</td>
        <td width="64%">
          <%= text_field_tag 'origin', params[:origin], :size => 30, :class => 'textbox-01' %>
        </td>
      </tr>
      <tr>
        <td>
          <%= location_auto_complete_js 'destination' %>
          <%= t('seek.field.label.destination') %>
        </td>
        <td>&nbsp;</td>
        <td>
          <%= text_field_tag 'destination', params[:destination], :size => 30, :class => 'textbox-01' %>
        </td>
      </tr>
      <tr>
        <td><%= t('search_seek.index.label.notes') %></td>
        <td>&nbsp;</td>
        <td>
          <%= text_field_tag 'notes', params[:notes], :size => 30, :class => 'textbox-01' %>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td align="left">
          <div style="padding-top: 0px;" class="buttonlink-blue">
            <a href="javascript:buildSearchSeekURL()">Search</a>
          </div>
        </td>
      </tr>
      <tr><td colspan="3">&nbsp;</td></tr>
    </tbody>
  </table>

  <div id="seeks">
    <div class="page-heading"><%= t('search_seek.index.label.result') %></div>
    <% if @seeks.size > 0 %>
      <% for seek in @seeks %>
        <%= render 'shared/seek_summary', :locals => {:seek => seek, :show_description => true} %>
      <% end %>
    <% else %>
      <%= t('search_seek.index.label.no_result') %>
    <% end %>
  </div>
  <div style="text-align: center">
      <%= will_paginate(@seeks, :params => params) %>
  </div>
</div>