<html>
  <head>
    <style>
      @import url(http://fonts.googleapis.com/css?family=PT+Sans);

      body {
        font-family: 'PT Sans', sans-serif;
      }

      td, th {
        font-size: 1em;
        border: 1px solid #034a80;
        padding: 3px 7px 2px 7px;
      }

      th {
        font-size: 0.9em;
        text-align: left;
        padding-top: 5px;
        padding-bottom: 4px;
        background-color: #034a80;
        color: #ffffff;
      }

      tr.alt td {
        color: #000000;
        background-color: #034a80;
      }
    </style>
  </head>
  <body>
    <%= get_will_paginate @rit %>
    <table>

      <tr>
        <th width="100px"><strong>Item name</strong></th>
        <th><strong>From</strong></th>
        <th><strong>Total Requested</strong></th>
        <th><strong>Already suggested?</strong></th>
        <th><strong>Action</strong></th>
      </tr>

      <% @rit.each do |rit| %>
        <tr>
          <td><%= rit.name %></td>
          <td><%= rit.origin_city.name %></td>
          <td><%= rit.count %></td>
          <td><%= SuggestedItem.find_all_by_name_and_origin_city_id(rit.name, rit.origin_city.id).count > 0 ? true : false %></td>
          <td><%= link_to 'Post as Suggested', new_suggested_item_path(:name => rit.name, :origin => rit.origin_city.display_name, :type => ConversationSuggestedItem.name), :target => '_blank' %></td>
        </tr>
      <% end %>
    </table>
    <%= get_will_paginate @rit %>
  </body>
</html>

