<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %> | Bistip.com </title>
    <%= stylesheet_link_tag "bistip","forum", "jquery-ui-1.8.7.custom" %>
    <% jquery_datepicker_localised = "jquery.ui.datepicker-" + I18n.locale.to_s %>
    <%= javascript_include_tag 'jquery-1.4.4.min', 'jquery-ui-1.8.7.custom.min','jquery.jqEasyCharCounter.min', 'jquery.watermarkinput','rails', 'application' %>
    <%= csrf_meta_tag %>
    <meta name="description" content="Forum untuk mendiskusikan Bistip.com" />
    <meta name="keywords" content="titip, nitip, menitip, bawa titipan, jalan jalan, uang sambilan, bikin uang sambilan, titip barang, komunitas" />
  </head>
  <body>
    <div class="feedback">
      <%= link_to new_contact_us_path do %>
        <%= image_tag 'bistip-saran-en.png', :border => 0, :title => t('contact_us.new.link.general') %>
      <% end %>
    </div>
    <table class="table-main" border="0" cellspacing="0" cellpadding="0" align="center">
      <tr>
        <td>
          <div style="float:left; ">
            <%= link_to root_path do %>
              <%= image_tag "logo.png", :border => 0%>
            <% end %>
          </div>
          <%= render "shared/quick_login" %>
        </td>
      </tr>
    </table>
    <table class="table-main" border="0" cellspacing="0" cellpadding="0" align="center">
      <tr>
        <td align="center" style="text-align: right;" colspan="2"></td>
        <td align="center"></td>
      </tr>
      <tr>
        <td colspan="3"><div class="text-01 blue-link"><%= raw get_forum_breadcrumb(request.fullpath) %></div></td>
      </tr>
      <tr>
        <td style="padding-top:10px;">
          <%= render 'shared/notification' %>
        </td>
      </tr>
      <tr>
        <td>
          <%= yield %>
        </td>
      </tr>
      <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td align="center" class="footer-text" style="height:20px;">
        <%= link_to t('content.link.about'), about_path %> |
        <%= link_to t('content.link.how'), how_path %> |
        <%= link_to t('content.link.new'), new_path %> |
        <%= link_to t('content.link.guide'), guide_path %> |
        <%= link_to t('content.link.faq_short'), faq_path %> |
        <%= link_to t('general.blog'), 'http://blog.bistip.com', :target => '_blank' %> |
        <%= link_to t('content.link.privacy_policy'), privacy_policy_path %> |
        <%= link_to t('content.link.terms_of_service'), terms_of_service_path %> |
        <%= link_to t('general.slogan_competition'), 'http://bistip.com/contests/slogan/competition.html', :target => '_blank' %>
      </td>
    </tr>
    <tr>
      <td align="center" class="footer-text" style="height:20px; border-bottom : 1px solid #999;">
        <span class="blue-link">
          <%= link_to t("mobile.link"), :mobile => 1 %> |
          <% if I18n.locale == :en %>
            <%= link_to t('language.indonesia'), :locale => 'id' %>
          <% else %>
            <%= link_to t('language.english'), :locale => 'en' %>
          <% end %>
        </span>
      </td>
    </tr>
      <tr>
        <td align="center" class="footer-text blue-link" style="height:20px; color:#666">Copyright &copy; <%= link_to 'bistip.com', 'http://www.bistip.com' %>. All Rights Reserved</td>
      </tr>
    </table>
    <%= render 'shared/google_analytics' if ::Rails.env == 'production' %>
  </body>
</html>
