<%= form_for(@trip) do |f| %>
  <div id="postNewRoute">
    <p>
      <label><%= t('trip.field.label.route')%></label>
      <%= location_auto_complete_js 'trip_origin_location', true %>
      <%= f.text_field :origin_location, :class => 'defaultText', :style=>"width: 38%;", :placeholder => t('trip.field.label.origin')%>
      &nbsp;<b>&gt;</b>&nbsp;
      <%= location_auto_complete_js 'trip_destination_location', true %>
      <%= f.text_field :destination_location, :class => 'defaultText', :style=>"width: 38%;", :placeholder => t('trip.field.label.destination') %>
      <br/>
      <%= render 'shared/new_location_contact_us' %>
    </p>
    <p>
      <label><%= t('trip.field.label.departure_date') %></label>
      <%= f.datetime_select :departure_date,
        options = {:discard_hour=>true, :discard_minute=>true, :start_year=>Time.now.year, :end_year=>Time.now.year+5, :prompt=>true} %>
      <br/>
      <input type="checkbox" id="arrival-date-toggle" name="arrival-date-toggle" <%= 'checked' unless @trip.arrival_date.nil? %>/><%= t('trip.new.label.arrival_date_instruction') %>
    </p>
    <script type="text/javascript">
      $("#arrival-date-toggle").click(function () {
        $("#arrival-date-field").toggle();
        $("#trip_arrival_date").val('');
        return true;
      });
    </script>
    <div id="arrival-date-field" style="<%= 'display: none' if @trip.arrival_date.nil?%>">
      <p>
        <label><%= t('trip.field.label.arrival_date') %></label>
        <%= f.datetime_select :arrival_date,
        options = {:discard_hour=>true, :discard_minute=>true, :start_year=>Time.now.year, :end_year=>Time.now.year+5, :prompt=>true} %>
      </p>
    </div>

    <div class="divider"></div>
    <h4><%= t('trip.field.label.items') %></h4>
    <br/>
    <div class="items">
      <div class="header"><label><%= t('trip_item.field.label.name') %></label> <label><%= t('trip_item.field.label.tip') %></label></div>
      <%= f.fields_for :items do |builder| %>
        <%= render "item_fields", :f => builder %>
      <% end %>
      <div>
        <%= link_to_add_fields t("general.add_more"), f, :items, TripItem::MAXIMUM %>
      </div>
    </div>
    <br/>
    <p>
      <label><%= t('trip.field.label.notes') %></label>
      <%= enable_character_counter('trip_notes',Trip::NOTES_MAXIMUM_LENGTH) %>
      <%= f.text_area :notes, :rows => 6, :cols => 60 %>
    </p>

    <p>
      <%= f.submit t('button.send'), :class => 'defaultButton' %>
      <%= link_to t('button.cancel'), dashboard_path, :class => 'cancelLink' %>
    </p>
  </div>
<% end %>




