<% page_title t('password.edit.label.heading') %>
<%= render 'shared/left_menu' %>
<div class="content-middle">
  <%= form_tag(:action => 'update', :controller => 'passwords') do %>
    <table cellspacing="1" cellpadding="1" border="0" class="text-01">
      <tbody>
        <tr>
          <td style="text-align: right;"><%= t('password.edit.field.label.current_password') %></td>
          <td><%= password_field_tag 'current_password', nil, :class => 'textbox-01' %></td>
        </tr>
        <tr>
          <td style="text-align: right;"><%= t('password.edit.field.label.new_password') %></td>
          <td><%= password_field_tag 'new_password', nil, :class => 'textbox-01' %></td>
        </tr>
        <tr>
          <td style="text-align: right;"><%= t('password.edit.field.label.new_password_confirmation') %></td>
          <td><%= password_field_tag 'new_password_confirmation', nil, :class => 'textbox-01' %></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>
            <%= submit_tag t('button.submit'), :class => 'button-register' %>
          </td>
        </tr>
        
      </tbody>
    </table>
  <% end %>
</div>
