<% page_title t('password.reset.label.heading') %>
<div class="content-middle-graphic-background">
  <%= form_tag(:action => 'send_email', :controller => 'passwords') do %>
    <table width="550" cellspacing="0" cellpadding="5" border="0" class="text-01">
      <tbody>
        <tr>
          <td class="text-orange" style="text-align: center;" colspan="2"><%= t('password.reset.label.heading') %></td>
        </tr>
        <tr>
          <td style="text-align: right;">&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td style="width: 187px; text-align: right;"><%= t('password.reset.label.email') %></td>
          <td><%= text_field_tag 'email', nil, :class => 'textbox-01' %></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>
            <%= submit_tag t('button.submit'), :class => 'button-register' %> / <%= link_to t('button.cancel'), root_path %>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>
