<nav>
  <% if logged_in? %>
    <span class="logout">
      <%= link_to t('logout.link'), logout_path, :class => 'navLogout', :title => t('logout.link') %>
    </span>
    <span class="menuDivider">&nbsp;</span>
    <span class="notification">
      <% notification = current_user.count_received_notification %>
      <%= link_to t('notification.link.notification'), user_notifications_path(current_user), :class => 'navNotification', :title => t('notification.link.notification') %>
      <% if notification > 0 %>
        <span class="counter defaultShadow"><%= notification %></span>
      <% end %>
    </span>
    <span class="menuDivider">&nbsp;</span>
    <span class="inbox">
      <% inbox = current_user.count_unread_message %>
      <%= link_to t('message.link.inbox'), user_messages_path(current_user), :class => 'navInbox', :title => t('message.link.inbox') %>
      <% if inbox > 0 %>
        <span class="counter defaultShadow"><%= inbox %></span>
      <% end %>
    </span>
    <span class="menuDivider">&nbsp;</span>
    <span class="dashboard">
      <%= link_to t('dashboard.link.general'), dashboard_path, :class => 'navDashboard', :title => t('dashboard.link.general') %>
    </span>

  <% else %>
      <%= link_to t('layout.link.register'), join_path, :class => "btnAction" %>
      <%= link_to t('login.link'), login_path, :class => 'btnAction' %>
  <% end %>
</nav>

