<% user = locals[:user] %>
<% small = locals[:small] ? locals[:small] : false %>
<% image = small ? 'icon-trusted-16.png' : 'icon-trusted-24.png' %>
<% if user.has_trusted_badge? %>
  <span class="trusted"><%= image_tag image, :class => 'trustedIcon', :title => t('badge.title.trusted') %></span>
<% end %>