<% message = locals[:message] %>
<tr>
  <td style="position: relative;vertical-align: top;">
    <span class="profile-picture"><%= image_tag message.sender.avatar.url(:thumb), :align => 'center' %></span>
  </td>
  <td>
    <div class="conversation-name"><%= link_to message.sender.username, user_path(message.sender) %>, 
      <span class="grey-date"><i><%= l(message.created_at) %> - <%= date_age_in_words message.created_at %></i></span>
    </div>
    <div class="conversation-content blue-link">
      <%= auto_link_in_new_tab(message.body) %>
    </div>
  </td>
</tr>
