<div style="font: normal 14px Helvetica, Arial, sans-serif; line-height: 19px; color: #333;">

  <%= @store_order.seller.username %> quoted <%= @store_order.delivery_fee_with_unit %> delivery fee for your order of
  <strong><%= @store_order.order_items.first.item.name %> x <%= @store_order.order_items.first.quantity %> piece(s)</strong>.

  <p>Amount that you need to transfer is as follow:</p>
  <table>
    <tr>
      <td>Amount to transfer:&nbsp;&nbsp;</td>
      <td><strong><%= @store_order.total_all_with_unit %></strong></td>
    </tr>
    <tr>
      <td valign="top">Transfer to:</td>
      <td>
        <strong>Bank Central Asia (BCA)</strong><br/>
        <strong>PT. AFILIASI KONTENINDO JAYA</strong><br/>
        <strong>8780188988</strong>
      </td>
    </tr>
    <tr>
      <td>Transfer notes:</td>
      <td>
        <strong><%= @store_order.bank_transfer_notes %></strong>
      </td>
    </tr>
  </table>
  <br/>
  <p>To speed up checking process, you can inform us or attach your transfer receipt by replying to this email. To see more info: <%= link_to 'view order', dashboard_store_orders_url(:anchor => @store_order.internal_id) %>. </p>
</div>