<div style="font: normal 14px Helvetica, Arial, sans-serif; line-height: 19px; color: #333;">
  <%= @from_user.username.capitalize %> indicated that he/she knows you.
  <br/>
  <br/>
  <% unless @back_relation_exist %>
    Do you know <%= @from_user.username %> as well? if yes please follow the link below:
    <br/>
    <%= auto_link(new_social_url(:user => @from_user.username)) %>
  <% end %>
</div>