<div style="font: normal 14px Helvetica, Arial, sans-serif; line-height: 19px; color: #333;">
  <%= @store_order.buyer.username %> just submitted the following order:<br/><br/>
  <% order_item = @store_order.order_items.first %>
  <table>
    <tr>
      <td>Item name</td>
      <td><strong><%= order_item.item.name %></strong></td>
    </tr>
    <tr>
      <td>Quantity</td>
      <td><strong><%= order_item.quantity %></strong></td>
    </tr>
    <tr>
      <td>Price per unit</td>
      <td><strong><%= order_item.price_with_unit %></strong></td>
    </tr>
    <tr>
      <td>Total amount</td>
      <td><strong><%= order_item.total_price_with_unit %></strong></td>
    </tr>
  </table>
  <p>
    To be delivered to:<br/>
    <strong><%= @store_order.delivery_address %></strong>
  </p>
  <p>
    Please quote the delivery fee through the following link: <%= link_to 'Quote Delivery', quote_delivery_store_order_url(@store_order) %>
  </p>
</div>