<div style="font: normal 14px Helvetica, Arial, sans-serif; line-height: 19px; color: #333;">
  <p>The following is an update to the SafePay transaction between <%= @escrow.buyer.username %> and <%= @escrow.seller.username %>:</p>
  <blockquote>
    <strong><i><%= @escrow.last_log.to_notifier_string %></i></strong>
  </blockquote>
  <p>The next step is:</p>
  <blockquote>
    <strong><i><%= @escrow.last_log.get_awaiting_string %></i></strong>
  </blockquote>
  <br/>
  You can view the transaction through the link below:
  <br/>
  <%= auto_link(view_store_order_url(@store_order)) %>
</div>