<div style="font: normal 14px Helvetica, Arial, sans-serif; line-height: 19px; color: #333;">
  <%= @comment.user.username %> replied on a comment thread that you commented previously:
  <blockquote>
    <strong><i><%= simple_format @comment.body_display %></i></strong>
  </blockquote>
  <br/>
  <b>QuickComment!</b> <a href="<%= "mailto:#{@reply_addr}" %>">Reply this email</a> to post comment reply to the thread.
  <br/>
  <br/>
  Or you can view the comment through the link below:
  <br/>
  <%= auto_link(@url) %>
</div>
