<div style="font: normal 14px Helvetica, Arial, sans-serif; line-height: 19px; color: #333;">
  <%= @message.sender.username %> sent you a message on:
  <blockquote>
    <% unless @message.thread_no_subject? %>
      <strong><i>Subject: <%= @message.thread_starter? ? @message.subject : @message.parent.subject %> </i></strong>
    <% end %>
    <strong><i><%= simple_format @message.body_display %></i></strong>
  </blockquote>
  <% if @message.has_asset? %>
    <br/>
    This message has <%= @message.assets.count %> picture attachment(s).
    <br/>
  <% end %>
  <br/>
  <b>QuickMessage!</b> <a href="<%= "mailto:#{@reply_addr}" %>">Reply this email</a> to send a message to <%= @message.sender.username %>. You can also attach up to 3 pictures.
  <br/>
  <% previous_messages = @message.previous_messages %>
  <% unless previous_messages.blank? %>
    <br/>
    Conversation history:
    <% previous_messages.each do |m| %>
      <% body = m.body_display %>
      <% body = body.slice(0,120) + "..." unless body.length <= 120 %>
      <blockquote>
        <strong><i><%= m.sender.username %>: <%= body %></i></strong>
      </blockquote>
    <% end %>
  <% end %>
  <br/>
  Or you can also <%= link_to('view full conversation', message_url(@message, :anchor => @message.internal_link_id)) %> and reply from there.
</div>