<div style="font: normal 14px Helvetica, Arial, sans-serif; line-height: 19px; color: #333;">
  We have approved your store item post for <%= @store_item.name %>.
  <br/>
  <br/>
  Now you can start sharing your post from the following link:
  <br/>
  <%= auto_link(item_url(@store_item)) %>
  <br/>
  <br/>
  Good luck :)
</div>