<div style="font: normal 14px Helvetica, Arial, sans-serif; line-height: 19px; color: #333;">
  Thank you for using Bistip SafePay :)
  <br/>
  <br/>
  We are inviting you to share your Bistip experience by writing your story. Please tell your friends and families about your Bistip experience, and help us grow! :)
  <br/>
  <br/>
  <%= link_to 'OK I want to write my story!', new_story_url %>
</div>