<div style="font: normal 14px Helvetica, Arial, sans-serif; line-height: 19px; color: #333;">
  There is a problem when processing your message to <%= @receiver.username %>:
  <blockquote>
    <% @errors.each do |msg| %>
      <div><strong><i><%= raw(msg) %></i></strong></div>
    <% end %>
  </blockquote>
  <br/>
  <b>You can <a href="<%= "mailto:#{@reply_addr}" %>">Reply this email</a> to send a message to <%= @receiver.username %> again.</b>
</div>