<div style="font: normal 14px Helvetica, Arial, sans-serif; line-height: 19px; color: #333;">

  Sorry :( <%= @store_order.seller.username %> says the item is out of stock.
  <br/>
  <br/>
  <%= link_to 'Click here', market_url %> to shop again at Bistip Market :)
</div>