<% page_title t('content.link.faq') %>
<div class="col4, padding2point5">
  <h2><%= t('content.link.faq') %></h2>

  <h3>Bistiper itu apa yah?</h3>
  <p>Kami memanggil semua pengguna Bistip sebagai "Bistiper", mungkin juga kamu yang sedang membaca ini :)</p>

  <h3>Kalo Request Post?</h3>
  <p>Traveler yang sedang dicari oleh yang mau <strong>nitip</strong>.</p>

  <h3>Gimana cara bertransaksi uang yang aman untuk titip menitip?</h3>
   <p>Kami merekomendasikan kamu untuk menggunakan <%= link_to t('content.link.safepay'), safepay_path %> untuk kemudahan dan
     kenyamanan dalam bertransaksi di bistip.
  </p>

  <h3>Untuk keselamatan, apakah tidak sebaiknya pihak yang dititipi diberi kewenangan untuk membuka paketnya? untuk menghindari dititipi barang yang bertentangan dengan hukum.</h3>
  <p>Kita disini hanya mempertemukan orang yang mau nitip dengan yang mau dititipin. Kami sudah pikirkan perihal keselamatan orang yang dititipin, seperti yang kita dokumentasikan di <%= link_to t('content.link.guide'), guide_path %>.
     Disana kita sebut     <strong>"Pastikan kamu tahu barang yang dititipkan padamu, minta izin untuk melihat sendiri isi barang tersebut
      untuk menghindari kamu menjadi korban dari kriminalitas."</strong>
  </p>

  <h3>Bagaimana sebaiknya dalam menentukan nilai imbalan untuk titipan?</h3>

  <p>Menurut kami memang tidak mudah untuk memberi standar imbalan. Contoh: mungkin barang berat tapi harga nggak seberapa, namun bisa juga sebuah barang itu penting (seperti untuk kesehatan) jadi penitip tidak keberatan untuk kasih imbalan lebih.
    Untuk ini emang kita serahkan negosiasi antar sesama Bistip user. Silakan juga dibaca <%= link_to t('content.link.guide'), guide_path %> yang kami sudah tulis.
  </p>

  <h3>Bagaimana untuk menghindari penipuan dalam transaksi titip-menitip?</h3>

  <p>Lihat kelengkapan profil, bila perlu kunjungi akun Facebook dan/atau Twitternya. Reputasi juga dilihat, jika banyak yang memberi reputasi buruk maka hindari transaksi besar dengan orang tersebut.</p>

  <p><strong>Kalo ada pertanyaan lainnya silakan kirim ke kami di <%= link_to t('contact_us.new.link.general'), new_contact_us_path %> :)</strong></p>
</div>

<%= render 'shared/static_menu' %>