<% page_title t('content.link.guide') %>
<div class="col4">
  <h3 class="textBlack">Untuk Requester</h3>
</div>
<div class="col4">
  <p><%= image_tag 'guide/review.png', :class => 'tipsIcon' %><strong>Perhatikan
    reputasi</strong><br/>Bertransaksi dengan traveler yang memiliki
    kelengkapan profil dan reputasi yang baik.
  </p>
</div>
<div class="col4">
  <p><%= image_tag 'guide/legal.png', :class => 'tipsIcon' %><strong>Barang legal</strong><br/>
    Pastikan kamu menitipkan atau minta dibelikan barang yang legal.
  </p>
</div>
<div class="col4">
  <p><%= image_tag 'guide/payment.png', :class => 'tipsIcon' %><strong>Kesepakatan
    pembayaran</strong><br/>Buat juga kesepakatan yang jelas mengenai pembayaran dari komisi yang akan kamu berikan.
  </p>
</div>
<div class="col4">
  <p><%= image_tag 'guide/rekber.png', :class => 'tipsIcon' %><strong>Bistip SafePay</strong><br/>
    Untuk pengaman transaksi kamu bisa menggunakan Bistip SafePay. Silakan lihat
    halaman <%= link_to t('content.link.safepay'), safepay_path %> untuk keterangan lebih lanjut.
  </p>
</div>
<div class="col4">
  <p><%= image_tag 'guide/insurance.png', :class => 'tipsIcon' %><strong>Bistip Insurance</strong><br/>Asuransikan barang
    titipan kamu dengan bistip untuk mengurangi resiko kehilangan, untuk mengetahui lebih lanjut
    silakan lihat halaman <%= link_to 'Bistip Insurance', insurances_path %></p>
</div>
<%= render 'shared/guide_menu' %>