<%= render 'shared/static_menu' %>
<% page_title t('content.link.new') %>
<div class="col9">
  <h2><%= t('content.link.new') %></h2>

  <h4 class="textBlack">In here you can find news about bistip :)</h4><br/>
  <h4><span class="textBlack">22-10-2011 - </span><%= link_to 'The Most Promising Startup 2011 in Indonesia', 'http://blog.bistip.com/post/11767409722/the-most-promising-startup-2011-in-indonesia', :target => '_blank' %></h4>
  <h4><span class="textBlack">14-10-2011 - </span><%= link_to 'Now, you can use our escrow with PayPal for your transactions', 'http://blog.bistip.com/post/11429953084/now-you-can-use-our-escrow-with-paypal-for-your', :target => '_blank' %></h4>
  <h4><span class="textBlack">03-08-2011 - </span><%= link_to 'New User Interface and Insurance', 'http://blog.bistip.com/post/8415213916/tampilan-antarmuka-baru-bistip-com-dan-asuransi', :target => '_blank' %></h4>
  <h4><span class="textBlack">31-05-2011 - </span><%= link_to 'Notification', 'http://blog.bistip.com/post/6026734244/fitur-baru-bistip-com-notifikasi', :target => '_blank' %></h4>
  <h4><span class="textBlack">13-05-2011 - </span><%= link_to 'Forum, RekeningBersama.com, and Influencer', 'http://blog.bistip.com/post/5447354571/rekeningbersama-com-barang-titipan-populer-dan-forum', :target => '_blank' %></h4>
  <h4><span class="textBlack">19-04-2011 - </span><%= link_to 'Bistip.com Homepage Tweak', 'http://blog.bistip.com/post/5033092835/ui-tweak-di-bistip-com-bagaimana-menurut-kalian', :target => '_blank' %></h4>
  <h4><span class="textBlack">14-04-2011 - </span><%= link_to 'Routine Trip (Perjalanan Rutin) and English version (beta)', 'http://blog.bistip.com/post/4624714315/fitur-baru-i18n-internationalization-beta-dan', :target => '_blank' %></h4>
  <h4><span class="textBlack">02-04-2011 - </span><%= link_to 'Bistip for Mobile', 'http://blog.bistip.com/post/4281724123/bistip-com-sekarang-ada-di-perangkat-mobile-d', :target => '_blank' %></h4>
  <h4><span class="textBlack">25-03-2011 - </span><%= link_to 'Twitter login and Interface enhancement', 'http://blog.bistip.com/post/4083879085/twitter-login-dan-optimasi-beberapa-fitur-bistip', :target => '_blank' %></h4>
  <h4><span class="textBlack">25-03-2011 - </span><%= link_to 'Bistip.com slogan Competition!', 'http://blog.bistip.com/post/4083639193/kompetisi-slogan-bistip-com', :target => '_blank' %></h4>
  <h4><span class="textBlack">21-03-2011 - </span><%= link_to 'Bistip team @ FOWAB', 'http://blog.bistip.com/post/3998653162/bistip-com-ikutan-10-by-10-di-fowab-5-bandung', :target => '_blank' %></h4>
  <h4><span class="textBlack">21-03-2011 - </span><%= link_to 'Facebook login, Search through Notes field, and Profile friendly URL', 'http://blog.bistip.com/post/3998138476/fitur-baru-facebook-login-pencocokan-pencarian', :target => '_blank' %></h4>
  <h4><span class="textBlack">13-03-2011 - </span><%= link_to 'Frequently Asked Questions', 'http://blog.bistip.com/post/3824711635/frequently-asked-questions', :target => '_blank' %></h4>
  <h4><span class="textBlack">11-03-2011 - </span><%= link_to 'Bistip.com launched!', 'http://blog.bistip.com/post/3780490799/bistip-com-launched', :target => '_blank' %></h4>
</div>
