<% page_title t('escrow.new.heading') %>
<div id="escrow">
  <div class="col12">
    <h2><%= t('escrow.new.heading') %><%= render('shared/protected') %></h2>
  </div>
  <div class="col7 bgLightYellow defaultRound">
    <%= form_for(@escrow) do |f| %>
      <%= f.hidden_field :buyer_id, :value => @escrow.buyer_id %>
      <%= f.hidden_field :seller_id, :value => @escrow.seller_id %>
      <%= f.hidden_field :message_id, :value => @escrow.message_id %>
      <%= f.hidden_field :payment_method_id, :value => @escrow.payment_method_id %>
      <%= render "#{@escrow.current_step}_step", :f => f %>
      <br/>
      <p>
        <%= f.submit t('button.continue') %>
        <%= link_to t('button.cancel'), user_message_path(current_user, @escrow.message), :class => 'cancelLink' if @escrow.first_step? %>
        <%= f.submit t('button.back'), :name => "back_button" unless @escrow.first_step? %>
      </p>
    <% end %>
  </div>
</div>
