<div class="login-box">
    <% if logged_in? %>
      <span style="padding-right: 15px;">
        Hello, <%= current_user.username %> 
      </span>
      <span class="top-menu blue-link">
        <%= link_to t('forum.link'), forums_path %>
      </span>
      <span class="top-menu blue-link">
        <%= link_to t('general.blog'), 'http://blog.bistip.com/', :target => 'blank' %>
      </span>
      <span class="top-menu blue-link">
        <a href="<%= profile_path(current_user.username) %>"><%= t('user.show.top_link')%></a>
      </span>
      <% inbox = current_user.received_messages.where(:read => false).count %>
      <% message_link_style = inbox > 0 ? 'orange-link' : 'blue-link' %>
      <span class="top-menu <%= message_link_style %>">
        <a href="<%= user_messages_path(current_user) %>">
          <% if inbox > 0 %>
            <%= t('message.link.inbox') %>&nbsp;(<%= inbox %>)
          <% else %>
            <%= t('message.link.inbox') %>
          <% end %>
        </a>
      </span>
      <span style="padding-left: 15px; border-left: 1px solid;" class="buttonlink-red-16">
        <%= link_to t('logout.link'), logout_path %>
      </span>
    <% else %>
      <span style="padding-right: 15px;" class="blue-link">
        <%= link_to t('forum.link'), forums_path %>
      </span>
      <span class="top-menu blue-link">
        <%= link_to t('general.blog'), 'http://blog.bistip.com/', :target => 'blank' %>
      </span>
      <span style="padding-left: 15px; border-left: 1px solid;" class="buttonlink-blue-16">
        <%= link_to t('login.link'), new_session_path %>
      </span>
      <span>&nbsp;&nbsp;or&nbsp;&nbsp;</span>
      <span class="buttonlink-red-16">
        <%= link_to t('layout.link.register'), new_user_path %>
      </span>
    <% end %>
</div>
