<div style="font: normal 14px Helvetica, Arial, sans-serif; line-height: 19px; color: #333;">
  The link below will take you to reset password form:
</div>

<div style="font: normal 12px Helvetica, Arial, sans-serif; line-height: 19px; color: #333;">
  <a href="<%= @reset_password_url %>"><%= @reset_password_url %></a>
</div>
