<% page_title t('search_seek.index.label.heading') %>
<div class="col12">
  <h2><%= t('search_seek.index.label.heading') %></h2>
  <%= render 'shared/search_menu' %>
</div>
<div class="col8 bgLightBlue defaultRound">
  <h4 class="textBlack"><%= t('search_seek.index.label.intro') %></h4>
  <div id="searchSeek">
    <p>
      <label><%= t('seek.field.label.off_to_where') %></label>
      <%= location_auto_complete_js 'destination' %>
      <%= text_field_tag 'destination', (@destination.blank? ? params[:destination] : @destination.display_name), :size => 30, :style => "width: 220px;", :onkeyup => 'javascript:search_seek_field_key_up(event)' %>
      <a class="btnSearch" href="javascript:buildSearchSeekURL()"><%= t('button.search') %></a>
    </p>
    <%= render 'suggestions' %>
    <%
    search_more_options_style = 'display:none'
    toggle_text = t('general.more_options');
    if params[:departure_date_predicate] or params[:departure_date] or params[:keyword]
      search_more_options_style = ''
      toggle_text = t('general.hide_options');
    end
    %>
    <div id="search-more-options" style="<%= search_more_options_style %>">
      <p>
        <label><%= t('search_seek.index.label.keyword') %></label>
        <%= text_field_tag 'keyword', params[:keyword], :size => 30, :style=>"width: 220px;", :onkeyup => 'javascript:search_seek_field_key_up(event)' %>
      </p>
    </div>
    <p>
      <a href="" id="search-form-toggle"><%= toggle_text %></a>&nbsp;
      <script type="text/javascript">
        $("#search-form-toggle").click(function () {
          $("#search-more-options").toggle();
          $("#keyword").val('');
          current_toggle_text = $("#search-form-toggle").text();
          more_options_text = '<%= t('general.more_options') %>';
          hide_options_text = '<%= t('general.hide_options') %>';

          if (current_toggle_text == more_options_text)
          {
            $("#search-form-toggle").text(hide_options_text);
          }
          else
          {
            $("#search-form-toggle").text(more_options_text);
          }
          return false;
        });
      </script>
    </p>
  </div>
  <div class="divider"></div>
  <div id="searchResults">
    <h4 class="textBlack">
    <% if @no_valid_parameter %>
      <%= t('search_seek.index.label.all') %>
    <% else %>
      <%= t('search_seek.index.label.result') %>&nbsp;<span class="counter"><%= @total_result %></span>
    <% end %>
  </h4>
    <div id="seeks">
      <%= render 'seeks' %>
      </div>
     
    </div>
  </div>