<div class="reply-form text-01">
  <%= form_for([@sender,Message.new]) do |f| %>
    <div>
      <input type="hidden" value="<%= @reply_to_id %>" name="message[reply_to_id]" />
      <input type="hidden" value="<%= @receiver.id %>" name="receiver_id" />
      <input type="hidden" value="<%= @sender.id %>" name="sender_id" />
    </div>
    <%= t('message.field.label.reply') %>:<br /><br />
    <%= enable_character_counter('message_body',Message::BODY_MAXIMUM_LENGTH) %>
    <%= f.text_area :body, :rows => 5, :class=>'textarea-01' %>
    <div style="padding-top: 5px; padding-bottom: 20px">
      <%= f.submit t('button.submit'), :class => 'button-register' %>
    </div>
  <% end %>
</div>
