<% unless SuggestedItem.get_top_voted_from(@trip.origin_city, 2).blank? %>
  <div id="itemSuggestions">
    <% if logged_in? and @trip.owner?(current_user) %> <h4><%= t('trip.show.label.suggested_items_call_action', :location => @trip.origin_city.name) %></h4>
      <br/>
      <p>
        <%= link_to t('suggested_items.show.label.call_action'), new_suggested_item_path, :class => 'btnAction' %>
      </p>
      <br/>
    <% end %> <h4><%= t('trip.show.label.suggested_items', :location => @trip.origin_city.name) %></h4>
    <br />
    <% SuggestedItem.get_top_voted_from(@trip.origin_city, 2).each do |suggestion| %>
      <% link_to suggested_item_path(suggestion), :target => '_blank' do %>
        <div class="miniRow bgLightGreen">
          <p>
            <% unless suggestion.has_picture? %>
              <%= image_tag 'default_original_item.png', :size => "32x32", :class => "photo bgWhite" %>
            <% else %>
              <%= image_tag suggestion.pictures.first.attachment.url(:thumb), :size => "32x32", :class => "photo bgWhite" %>
            <% end %>
            &nbsp;&nbsp;&nbsp;<%= suggestion.name_short %>
          </p>
        </div>
      <% end %>
    <% end %>
    <% total = SuggestedItem.get_top_voted_from(@trip.origin_city, nil).count %>
    <% if total > 2 %>
      <p>
        <%= link_to t('general.see_all'), search_item_path(:origin => @trip.origin_location),:target =>'_blank' %> <span class="counter"><%= total %></span>
      </p>
    <% end %>
  </div>
<% end %>
