<footer>
  <div class="plc">
    <div class="left">
      <nav>
        <%= link_to t('content.link.about'), about_path %>&nbsp;&bull;&nbsp;
        <%= link_to t('content.link.how'), how_path %>&nbsp;&bull;&nbsp;
        <%= link_to t('content.link.new'), new_path %>&nbsp;&bull;&nbsp;
        <%= link_to t('content.link.guide'), guide_path %>&nbsp;&bull;&nbsp;
        <%= link_to t('content.link.faq_short'), faq_path %>&nbsp;&bull;&nbsp;
        <%= link_to t('general.blog'), 'http://blog.bistip.com', :target => '_blank' %>&nbsp;&bull;&nbsp;
        <%= link_to t('content.link.api'), api_path %>
      </nav>
      <nav>
        <%= link_to t('content.link.jobs'), jobs_path %>&nbsp;&bull;&nbsp;
        <%= link_to t('content.link.privacy_policy'), privacy_policy_path %>&nbsp;&bull;&nbsp;
        <%= link_to t('content.link.terms_of_service'), terms_of_service_path %>
      </nav>
      <span class="copyright">
        Copyright &copy; Bistip.com. All rights reserved.
      </span>
    </div>
    <div class="right">
      <nav>
        <a href="?mobile=1">
          <%= image_tag 'icon-mobile.png' %> <%= t("mobile.link") %>
        </a>
        <% if I18n.locale == :id %>
          &nbsp;&bull;&nbsp;
          <a href="?locale=en">
            <%= image_tag 'flag-uk.png' %> <%= t('language.english') %>
          </a>
        <% else %>
          &nbsp;&bull;&nbsp;
          <a href="?locale=id">
            <%= image_tag 'flag-id.png' %> <%= t('language.indonesia') %>
          </a>
        <% end %>
      </nav>
    </div>
  </div>
</footer>
<%= render 'shared/google_analytics' if ::Rails.env == 'production' %>
