<div class="col9">
  <div id="viewProfile">
    <div class="avatar">
      <%= image_tag @user.avatar.url, :size=>"128x128", :class=>"photo" %>
      <div class="tools">
        <span class="thumbUp"><%= @user.received_positive_reputations.count%>&nbsp;<%= image_tag "icon-thumbs-up.png", :size => "10x14" %></span>
        <span class="thumbDown"><%= @user.received_negative_reputations.count%>&nbsp;<%= image_tag "icon-thumbs-down.png", :size => "10x14" %></span>
      </div>
      <br/>
      <% if logged_in_and_not_current_user?(@user) %>
        <p>
          <%= link_to new_user_positive_reputation_path(:user_id => @user), :class => 'btnAction' do %>
            <%= image_tag "icon-thumb.png", :size => "10x14" %>
            <%= t('reputation.label.give') %>
          <% end %>
        </p>
      <% elsif !logged_in? %>
        <p>
          <%= link_to new_user_positive_reputation_path(:user_id => @user), :class => 'btnAction' do %>
            <%= image_tag "icon-thumb.png", :size => "10x14" %>
            <%= t('reputation.label.give') %>
          <% end %>
        </p>
      <% end %>
    </div>
    <div class="info">
      <% unless @user.fullname.blank? %>
        <p>
          <label><%= t('user.field.label.fullname') %></label>
          <%= @user.fullname %>
        </p>
      <% end %>

      <% unless @user.gender.blank? %>
        <p>
          <label><%= t('user.field.label.gender') %></label>
          <%= @user.gender.name %>
        </p>
      <% end %>

      <% unless @user.birth_year.blank? %>
        <p>
          <label><%= t('user.field.label.age') %></label>
          <%= t('user.field.label.age_value', :age => @user.age) %>
        </p>
      <% end %>
        
      <% unless @user.city_location.blank? and @user.location.blank? %>
        <p>
          <label><%= t('user.field.label.location') %></label>
          <% if !@user.city_location.blank? %>
            <%= @user.city_location %>
          <% end %>
          <% if !@user.city_location.blank? and !@user.location.blank? %>
            <br/>
            <label>&nbsp;</label>
          <% end %>
          <% if !@user.location.blank? %>
            <%= @user.location %>
          <% end %>
        </p>
      <% end %>

      <% unless @user.work.blank? %>
        <p>
          <label><%= t('user.field.label.work') %></label>
          <%= @user.work %>
        </p>
      <% end %>
        
      <% count = 0 %>
      <% count = InfluencerLog.influencer_point(@user) if InfluencerLog.influencer_point(@user) %>
      <% unless count == 0 %>
        <p>
          <label><%= t('user.field.label.influencer_point') %></label>

          <% if current_user == @user %>
            <%= link_to count, influencer_point_user_path(current_user) %>
          <% else %>
            <%= count %>
          <% end %>
        </p>
      <% end %>

      <% unless @user.response_rate.blank? %>
        <p>
          <label><%= t('user.field.label.response_rate') %></label>
          <%= @user.response_rate %> %
        </p>
      <% end %>
        
      <% unless @user.contact_number.blank? %>
        <p>
          <label><%= t('user.field.label.contact_number') %></label>
          <% if (logged_in? and current_user.email_validated?) %>
            <%= @user.contact_number %>
          <% else %>
            <%=  @user.contact_number.gsub(/[0123456789]/, '*') unless string_nil_or_empty?(@user.contact_number) %>
          <% end %>
        </p>
      <% end %>

      <% unless @user.extra_contact_number.blank? %>
        <p>
          <label>&nbsp;</label>
          <% if (logged_in? and current_user.email_validated?) %>
            <%= @user.extra_contact_number %>
          <% else %>
            <%=  @user.extra_contact_number.gsub(/[0123456789]/, '*') unless string_nil_or_empty?(@user.extra_contact_number) %>
          <% end %>
        </p>
      <% end %>

      <% unless @user.web.blank? %>
        <p>
          <label><%= t('user.field.label.web') %></label>
          <%= (link_to nil, User::WEB_PREFIX + subtract_dup_from_web_url(@user.web), :target => '_blank') unless string_nil_or_empty?(@user.web) %>
        </p>
      <% end %>

      <% unless @user.facebook.blank? and @user.twitter.blank? %>
        <p>
          <label><%= t('user.field.label.social') %></label>
          <% if !string_nil_or_empty?(@user.facebook) %>
            <%= link_to User::FACEBOOK_PREFIX + subtract_dup_from_facebook_url(@user.facebook), :target => '_blank' do %>
              <%= image_tag "social-facebook-16.png", :size => "16x16" %>
            <% end %>
          <% end %>
          &nbsp;
          <% if !string_nil_or_empty?(@user.twitter) %>
            <%= link_to User::TWITTER_PREFIX + subtract_dup_from_twitter_url(@user.twitter), :target => '_blank' do %>
              <%= image_tag "social-twitter-16.png", :size => "16x16" %>
            <% end %>
          <% end %>
        </p>
      <% end %>

      <% unless @user.languages.empty? %>
        <p>
          <label for=""><%= t('user.field.label.languages') %></label>
          <%= @user.display_languages %>
        </p>
      <% end %>
        
      <% unless @user.bio.blank? %>
        <div class="divider"></div>
        <p class="bio">
          <%= auto_link_in_new_tab_without_simple_format @user.bio %>
        </p>
      <% end %>
      
      <% if logged_in? and !(current_user == @user) %>
        <p>
          <br/>
          <%= link_to new_user_message_path(:user_id => @user), :class => "btnAction" do %>
            <%= image_tag 'icon-email-bistiper.png', :size => "22x14" %>&nbsp;
            <%= t('message.link.new', :username => @user.username) %>
          <% end %>
        </p>
      <% elsif !logged_in? %>
        <p>
          <br/>
          <%= link_to new_user_message_path(:user_id => @user), :class => "btnAction" do %>
            <%= image_tag 'icon-email-bistiper.png', :size => "22x14" %>&nbsp;
            <%= t('message.link.new',:username => @user.username) %>
          <% end %>
        </p>
      <% end %>
    </div>
  </div>
</div>

