$("#suggestedItems").append("<% for suggestedItem in @suggested_items %><% if params[:keyword] %><%= escape_javascript(render 'suggested_items/summary', :locals => {:suggested_item => suggestedItem, :keyword_specified => true}) %><% else %><%= escape_javascript(render 'suggested_items/summary', :locals => {:suggested_item => suggestedItem}) %><% end %><% end %>");
$("#suggested_items_pagination").html("<%= escape_javascript(get_more_will_paginate(@suggested_items, 'suggested_items_pagination')) %>");