There are <%= @subscribers.count %> new subscribers to Wego Deals Newsletter. They are the following:
<ol>
  <% @subscribers.each do |s| %>
    <li><%= s.email %> - <%= s.fullname %> - <%= s.city_location %></li>
  <% end %>
</ol>