<% page_title t('reputation.index.positive.heading') %>
<%= render 'shared/user_sub_menu' %>
<%= render 'shared/user_reputation_sub_menu' %>
<div class="text-01">
  <% if logged_in? and !(current_user == @user) %>
    <div class="reputation-action buttonlink-blue">
      <%= link_to t('reputation.new.link.positive'), new_user_positive_reputation_path(:user_id => @user) %>
    </div>
  <% end %>
  <div id="reputations">
    <% if @positives.size > 0 %>
      <% @positives.each do |reputation| %>
        <%= render 'shared/reputation', :locals => {:reputation => reputation} %>
      <% end %>
    <% else %>
      <i><%= t('reputation.index.positive.no_result') %></i>
    <% end %>
  </div>
  <div style="text-align: center; clear: both;">
    <%= will_paginate(@positives)%>
  </div>
</div>