<% user = locals[:user] %>
<div id="relation">
  <% if logged_in? and !(current_user == user) and !current_user.relate_to?(user) %>
    <p>
      <%= link_to new_user_social_path(:user_id => user, :original_uri => request.path), :class => "btnAction" do %>
        <%= image_tag 'icon-people-16.png', :size => "16x16" %>&nbsp;
        <%= t('relation.link.new', :username => user.username) %>
      <% end %>
    </p>
  <% elsif !logged_in? %>
    <p>
      <%= link_to new_user_social_path(:user_id => user, :original_uri => request.path), :class => "btnAction" do %>
        <%= image_tag 'icon-people-16.png', :size => "16x16" %>&nbsp;
        <%= t('relation.link.new',:username => user.username) %>
      <% end %>
    </p>
  <% end %>
  <% if logged_in? and current_user.relate_to?(user)%>
    <% relations = user.received_relations %>
    <% total_relations = relations.count - 1 %>
    <% if total_relations > 0 %>
      <% sentence_to_use = 'relation.label.you_other_know_singular' %>
      <% sentence_to_use = 'relation.label.you_other_know_plural' if total_relations > 1 %>
      <p><%= t(sentence_to_use, :total => total_relations, :username => user.username) %></p>
      <% relations.take(Relation::TOTAL_SHOW_ON_SUMMARY).each do |relation| %>
        <% relate_user = User.find(relation.from_id) %>
        <%= link_to profile_path(relate_user.username) do %>
          <%= image_tag relate_user.avatar.url(:thumb), :size=>"32x32", :class => "photo", :alt => relate_user.username, :title => relate_user.username %>
        <% end %>
      <% end %>
      <% if (total_relations + 1) > Relation::TOTAL_SHOW_ON_SUMMARY %>
        <p><%= link_to t('general.see_all'), user_social_index_path(user) %> <span class="counter"><%= total_relations + 1 %></span></p>
      <% end %>
    <% else %>
      <p><%= t('relation.label.you_know', :username => user.username) %></p>
    <% end %>
  <% else %>
    <% relations = user.received_relations %>
    <% total_relations = relations.count %>
    <% if total_relations > 0 %>
      <% sentence_to_use = 'relation.label.know_singular' %>
      <% sentence_to_use = 'relation.label.know_plural' if total_relations > 1 %>
      <% user_word_to_use = user.username %>
      <% user_word_to_use = t('general.you') if logged_in_and_current_user?(user) %>
      <p><%= t(sentence_to_use, :total => total_relations, :username => user_word_to_use) %></p>
      <% relations.take(Relation::TOTAL_SHOW_ON_SUMMARY).each do |relation| %>
        <% relate_user = User.find(relation.from_id) %>
        <%= link_to profile_path(relate_user.username) do %>
          <%= image_tag relate_user.avatar.url(:thumb), :size=>"32x32", :class => "photo", :alt => relate_user.username, :title => relate_user.username %>
        <% end %>
      <% end %>

      <% if total_relations > Relation::TOTAL_SHOW_ON_SUMMARY %>
        <p><%= link_to t('general.see_all'), user_social_index_path(user) %> <span class="counter"><%= total_relations %></span></p>
      <% end %>
    <% end %>
  <% end %>
  <%= render 'facebook/mutual_friends_count_caller', :locals => {:user => user} %>
</div>