<% trip = locals[:trip] %>
<% color = locals[:color] %>
<% color = 'bgLightYellow' if color.nil? %>
<% show_route = locals[:show_route] %>
<% show_route = true if show_route.nil? %>
<%= link_to search_trip_path(:origin => (trip.origin_city.name + ', ' + trip.origin_city.country.name), :destination => trip.destination_city.name + ', ' + trip.destination_city.country.name), :class => 'divlink' do %>
    <div class="miniRow <%= color %>">
      <div class="info">
        <p>
          <% if show_route %>
          <span class="iconRoute">
            <strong>
              <%= render 'shared/city', :locals => {:city => trip.origin_city, :short_name => true} %>
            </strong> <span class="dashArrow">-</span>
            <strong>
              <%= render 'shared/city', :locals => {:city => trip.destination_city, :short_name => true} %>
            </strong>
          </span>
              <span class="alignright">
              [
                <%= Trip.where("origin_city_id = ? AND destination_city_id = ?", trip.origin_city, trip.destination_city).count %>
              ]
              </span>
                [[3203, 1200].4], [[1202, 2320],5]
              <br/>
          <% end %>
        </p>
      </div>
    </div>
<% end %>
