<% page_title t('trip.match.label.heading') %>
<div class="content-left">
  <div style="padding-bottom: 20px" class="blue-link"><%= link_to t('trip.show.link_return'), trip_path(@trip) %></div>
  <div class="heading-grey"><%= t('trip.match.label.heading') %></div>
  <div class="match text-01">
    <table width="650px" cellspacing="0" cellpadding="0" border="0">
      <tbody>
        <tr>
          <td height="30px" width="140px"><%= t('trip.field.label.origin')%></td>
          <td width="20px">:</td>
          <td><%= render 'shared/city', :locals => {:city => @trip.origin_city} %></td>
        </tr>
        <tr>
          <td height="30px"><%= t('trip.field.label.destination')%></td>
          <td>:</td>
          <td><%= render 'shared/city', :locals => {:city => @trip.destination_city} %></td>
        </tr>
        <%if !@trip.routine?%>
          <tr>
            <td height="30px"><%= t('trip.field.label.departure_date')%></td>
            <td>:</td>
            <td><%= l(@trip.departure_date) %></td>
          </tr>
          <% unless @trip.arrival_date.nil? %>
            <tr>
              <td height="30px"><%= t('trip.field.label.arrival_date')%></td>
              <td>:</td>
              <td><%= l(@trip.arrival_date)%></td>
            </tr>
          <% end %>
        <%else%>
          <tr>
            <td height="30px"><%= t('trip.field.label.period')%></td>
            <td>:</td>
            <td><%= t "week_period.#{@trip.period}" %></td>
          </tr>
          <tr>
            <td height="30px"><%= t('trip.field.label.day')%></td>
            <td>:</td>
            <td>
              <%max = @trip.day.length%>
              <%0.step(max-1,1){|i|%>
                <%if i==max -1%>
                  <%= @trip.day[i] %>
                <%else%>
                  <%= @trip.day[i] %>,&nbsp;
                <%end%>
              <%}%>
            </td>
          </tr>
        <%end%>
        <% unless string_nil_or_empty?(@trip.notes) %>
        <tr>
          <td height="30px"><%= t('trip.field.label.notes')%></td>
          <td>:</td>
          <td><%=auto_link_in_new_tab @trip.notes %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="heading-grey"><%= t('trip.match.label.result', :count => @matches.count) %></div>
  <div class="match-result">
    <% for match in @matches %>
      <%= render 'shared/seek_summary', :locals => {:seek => match} %>
    <% end %>
  </div>
  <div style="padding-top: 20px" class="blue-link"><%= link_to t('trip.show.link_return'), trip_path(@trip) %></div>
</div>
