<% page_title t('content.link.point') %>
<div class="col9">
  <h2><%= t('content.link.point') %></h2>

  <h3 class="textBlack">How to get Bistip Point?</h3>

   <ul>
    <li>For every click of the route's link you've shared in your network : <strong>1 point</strong></li>
    <li>For every approved story posted in "<%= link_to t('stories.general.heading'), stories_path, :target => '_blank' %>" : <strong>20 points</strong>
    </li>
   </ul>

  <h3 class="textBlack">What can i do with the points?</h3>

  <p>
    Get <strong>USD 20 Cashback</strong> for every <strong>100 points</strong> you collect. You will get the cashback after using <%= link_to t('content.link.safepay'), safepay_path, :target => '_blank' %> for your transaction.
  </p>

  <h3 class="textBlack">where can i see my points?</h3>
  <p>
    Go to <%= link_to t('dashboard.link.general'), dashboard_path, :target => '_blank' %> to see your latest Bistip Points.
  </p>

</div>
<%= render 'shared/static_menu' %>