<% page_title t('content.link.point') %>
<div class="col9">
  <h2><%= t('content.link.point') %></h2>

  <h3 class="textBlack">Bagaimana cara mendapatkan Bistip Point?</h3>

   <ul>
    <li>Setiap klik link rute perjalanan yang kamu sebarkan : <strong>1 point</strong></li>
    <li>Untuk setiap cerita kamu yang ditampilkan di <%= link_to t('stories.general.heading'), stories_path, :target => '_blank' %> : <strong>20 point</strong>
    </li>
   </ul>

  <h3 class="textBlack">Apa yang bisa kamu lakukan dengan point yang telah dikumpulkan?</h3>

  <p>
    Dengan mengumpulkan <strong>100 point</strong>, kamu bisa mendapatkan <strong>USD 20 Cashback</strong> yang akan didapatkan setelah menggunakan <%= link_to t('content.link.safepay'), safepay_path, :target => '_blank' %>.
  </p>

  <h3 class="textBlack">Dimana saya bisa melihat perolehan point?</h3>
  <p>
    Kamu bisa melihat perolehan poin di halaman <%= link_to t('dashboard.link.general'), dashboard_path, :target => '_blank' %>.
  </p>

</div>
<%= render 'shared/static_menu' %>