<% page_title t('content.link.faq') %>
<div class="col4, padding2point5">
  <h2><%= t('content.link.faq') %></h2>

  <h3>What is Bistiper?</h3>
  <p>We call all the Bistip members as "Bistiper" :)</p>

  <h3>And Request Post?</h3>
  <p>Traveler in demand by other users.</p>

  <h3>How to do safe money transaction</h3>
<p>We recommend you to use our <%= link_to t('content.link.safepay'), safepay_path %> for easy and secure transaction in bistip.
  </p>

  <h3>For safety, should not you allow the travelers to open the stuff he got entrusted from someone?</h3>
  <p>First of all, Bistip.com just connect you who needs help and travelers who is willing to be entrusted to. We already thought about the safety of the travelers, check out our <%= link_to t('content.link.guide'), guide_path %>.
  In the Guide we mentioned that <strong>You must make sure you know what exactly the item you entrusted to. Ask for permission to open the content of the package and check it thoroughly.</strong></p>

  <h3>How can we decide the Tip amount for the Traveler?</h3>
  <p>We think it's not easy to set a standard for the Tip amount. For example: a small and light item might be an expensive item, or an item can be very important/urgent that someone is willing to pay high TIp for it.
  For now, we let the negotiation to be done amongst Bistip users. Please also read our <%= link_to t('content.link.guide'), guide_path %></p>

  <h3>How can we avoid scam?</h3>

  <p>Check the profile of a Bistip member, also if given check out their Facebook and Twitter account. Bistip also provide Reputation system, you can use it to find out about a member track record.</p>

  <p><strong>Any questions not answered yet? send it us through <%= link_to t('contact_us.new.link.general'), new_contact_us_path %> :)</strong></p>
</div>

<%= render 'shared/static_menu' %>