$("#reputations").append("<% for reputation in @positives %><%= escape_javascript(render 'shared/reputation', :locals => {:reputation => reputation}) %><% end %>");
$("#reputations_pagination").html("<%= escape_javascript(will_paginate(@positives, :renderer => TwitterPagination::LinkRenderer, :id => 'reputations_pagination')) %>");