<% page_title t('reputation.index.positive.heading') %>
<%= render 'shared/user_sub_menu' %>
<br/>
<div class="content-left"
  <div class="heading-text-orange" style="padding-bottom: 10px"><%= t('reputation.index.positive.heading') %></div>
  <div id="reputations">
    <% if @positives.size > 0 %>
      <% @positives.each do |reputation| %>
        <%= render 'shared/reputation', :locals => {:reputation => reputation} %>
      <% end %>
    <% else %>
      <i><%= t('reputation.index.positive.no_result') %></i>
    <% end %>
  </div>
  <div style="text-align: center; clear: both;">
    <%= will_paginate(@positives, :renderer => TwitterPagination::LinkRenderer, :id => 'reputations_pagination') %>
  </div>
</div>