<% page_title t('password.reset_edit.label.heading') %>
<div id="resetEditPassword">
  <div class="col12">
    <h2><%= t('password.reset_edit.label.heading') %><%= render('shared/protected') %></h2>
  </div>
  <div class="col6 bgLightYellow defaultRound">
    <h4 class="textBlack"><%= t('password.reset_edit.label.intro') %></h4>
    <%= form_tag(:action => 'reset_update', :controller => 'passwords') do %>
      <%=  hidden_field_tag 'email', params[:email] %>
      <%=  hidden_field_tag 'key', params[:key] %>
      <p>
        <label><%= t('password.edit.field.label.new_password') %></label>
        <%= password_field_tag 'new_password', nil, :class => 'textbox-01' %>
      </p>
      <p>
        <label><%= t('password.edit.field.label.new_password_confirmation') %></label>
        <%= password_field_tag 'new_password_confirmation', nil, :class => 'textbox-01' %>
      </p>
      <p>
        <label>&nbsp;</label>
        <%= submit_tag t('button.update'), :class => 'defaultButton' %>
      </p>
    <% end %>
  </div>
</div>


