<div style="font: normal 14px Helvetica, Arial, sans-serif; line-height: 19px; color: #333;">

  <%= @commentator.username %> commented on your request post on <%= l(@created) %>:
  <blockquote>
    <strong><i><%= simple_format @content %></i></strong>
  </blockquote>
  <br/>
  <b>QuickComment!</b> Reply to this email to post comment reply to <%= @commentator.username %>.
  <br/>
  <br/>
  Or you can view the comment through the link below:
  <br/>
  <%= auto_link(@seeks_show_url) %>

</div>