<% trip = locals[:trip] %>
<% index = locals[:index] ? locals[:index] : 'new_trip' %>
<div class="tabular_field other_trip">
  <div class="left">
    <p>
      <%= location_auto_complete_js "other_trips_#{index}_origin_location", true %>
      <%= f.text_field :origin_location, :style=>"width: 170px;", :placeholder => t('trip.field.label.origin')%>
      &nbsp;<span class="dashArrow">-</span>&nbsp;
      <%= location_auto_complete_js "other_trips_#{index}_destination_location", true %>
      <%= f.text_field :destination_location, :style=>"width: 170px;", :placeholder => t('trip.field.label.destination') %>
    </p>
  </div>
  <div class="right">
    <p>
      <%= date_picker_js "other_trips_#{index}_departure_date" %>
      <% departure_date = l(trip.departure_date, :format => :date_without_day) unless trip.departure_date.nil? %>
      <%= f.text_field :departure_date, :value => departure_date, :readonly => "readonly", :style=>"width: 155px;" %>
      <%= link_to_remove_other_trip_fields "X", f %>
    </p>
  </div>
</div>