<% seek = locals[:seek] %>
<% user = seek.user %>

<%= link_to seek_path(seek), :class => 'divlink' do %>
  <div class="seekRow bgLightBlue">
    <div class="info">
      <p>
        <span class="iconShopping"><strong><%= seek.item.name %></strong></span>
        <br/>
        <span class="iconTip">
          <% if seek.item.tip.blank? %>
            <em>N/A</em>
          <% else %>
            <strong><%= seek.item.tip_with_unit %></strong>
          <% end %>
        </span>
        <br/>
        <span class="iconUser"><strong><%= user.username %></strong></span>
      </p>
    </div>
  </div>
<% end %>
