<%= javascript_tag "
  if (window.opener != null)
  {
    window.close();
    window.opener.location = \"#{request.fullpath}\";
  }"
%>

<div class="text-01" style="text-align: center">
  <b><%= t("user.create.oauth.failure")%></b>
</div>

