<% if @user.provider == 'facebook' %>
  <%= javascript_tag "
  if (window.opener != null)
  {
  window.close();
  window.opener.location = \"#{request.fullpath}\";
  }"
%>
<% end %>
<% page_title t('user.new.label.heading') %>
<div id="registration">
  <div class="col12">
    <h2><%= t('user.new.label.heading') %></h2>
  </div>
  <div class="col6 bgYellow defaultRound">
    <h3 class="textBlack"><%= t('user.new.label.social_login_intro') %></h3>
    <%= form_for(@user, :html => { :multipart => true }) do |f| %>
      <%= f.hidden_field :uid %>
      <%= f.hidden_field :provider %>
      <%= f.hidden_field :fullname %>
      <%= f.hidden_field :facebook %>
      <%= f.hidden_field :twitter %>
      <%= f.hidden_field :web %>
      <%= f.hidden_field :bio %>
      <%= f.hidden_field :location %>
      <p>
        <label><%= t('user.field.label.email') %></label>
        <%= f.text_field :email %>
      </p>
      <p>
        <label><%= t('user.field.label.username') %></label>
        <%= f.text_field :username %>
      </p>
      <p>
        <label><%= t('user.field.label.fullname') %></label>
        <%= f.text_field :fullname %>
      </p>
      <p>
        <label><%= t('user.field.label.city') %></label>
        <%= location_auto_complete_js 'user_city_location', true %>
        <%= f.text_field :city_location %>
      </p>
      <p class="overflow">
        <label><%= t('user.field.label.password') %></label>
        <%= f.password_field :password %>
      </p>
      <p>
          <%= raw t('user.field.label.eula',
            :terms_of_service => link_to(t('content.link.terms_of_service'), terms_of_service_path),
            :privacy_policy => link_to(t('content.link.privacy_policy'), privacy_policy_path)) %>
      </p>
      <p>
        <label></label>
        <%= f.submit t('button.register'), :class => 'defaultButton', :disable_with => t('button.disabled') %>
      </p>
    <% end %>
  </div>
</div>