<% page_title t('user.review_title', :name => @user.name_for_display) %>
<% meta_description @user.meta_desc %>
<%= render 'shared/user_sub_menu', :locals => {:user => @user} %>

<div class="col4">
  <%= render 'shared/reviews_header', :user => @user %>
  <% if @reviews.size > 0 %>
    <% @reviews.each do |review| %>
      <%= render "shared/#{review.cname}", :review => review %>
    <% end %>
  <% else %>
    <div class="notificationBar yellow"><%= t('review.index.no_result') %></div>
  <% end %>
</div>