<% if @user.deleted? %>
  <p>
    <%= t('user.deleted.body') %>
  </p>
<% else %>
  <% page_title (@user.name_for_display + '\'s profile')  %>
  <% meta_description @user.meta_desc %>
  <%= render 'shared/user_sub_menu', :locals => {:user => @user} %>
  <%= render 'shared/user_profile' %>
<% end %>
  