<% page_title t('user.trip_title', :name => @user.name_for_display) %>
<% meta_description @user.meta_desc %>
<%= render 'shared/user_sub_menu', :locals => {:user => @user} %>
<div class="col8 bgLightYellow defaultRound">
  <div id="trips">
    <% if @trips.size > 0 %>
      <% for trip in @trips %>
        <%= render 'shared/trip_row', :locals => {:trip => trip} %>
      <% end %>
    <% else %>
      <div class="notificationBar yellow"><%= t('trip.index.no_result') %></div>
    <% end %>
  </div>
  <%= get_more_will_paginate(@trips, 'trips_pagination') %>
</div>

