<% trip = locals[:trip] %>
<% old = trip.active? ? "" : "old" %>
<div class="activityWrap">
  <%= link_to trip_path(trip), :class => "infoBlockLink defaultRound" do %>
    <div class="infoBlock defaultRound mid <%= old %> ">
      <% unless trip.active?  %>
        <div class="oldinfo"><%= t('trip_summary.label.not_active') %></div>
      <% end %>
      <div class="left"></div>
      <div class="right">
        <%= render 'shared/trip_data', :locals => {:trip => trip, :item_count => TripItem::SUMMARY_COUNT} %>
      </div>
    </div>
  <% end %>

  <% if trip.active? %>
    <div class="tools">
      <% seeks_match_count = trip.find_matching_seeks.count %>
      <% if seeks_match_count > 0 %>
        <p><%= link_to t('trip.index.table.match_count', :count => seeks_match_count), match_trip_path(trip), :class => "btnAction" %></p>
      <% end %>
      <div class="adminTools">
        <%= link_to t('trip.edit.link_short'), edit_trip_path(trip) %>
        <%= link_to t('trip.destroy.link_short'), trip, :confirm => 'Are you sure?', :method => :delete, :class=>"delete" %>
      </div>
    </div>
  <% end %>
</div>