<%= render 'shared/static_menu' %>
<% page_title t('content.link.terms_of_service') %>
<div class="col9">

<h2><%= t('content.link.terms_of_service') %></h2>

<h3 class="textBlack">A. TERMS FOR TRANSACTIONS IN BISTIP.COM </h3>

<p>Bistip.com facilitate you to engage in transactions with other users of the website.
  Any form of transaction is your agreement with the other Bistip.com users.
  Bistip.com is not responsible for everything that happens before, during and after the transaction took place unless
  to refund payment to Bistip SafePay if the transaction canceled with a valid reason and to payment for loss value if transaction is insured by Bistip Insurance and claim request approved by Bistip.com.</p>

<h3 class="textBlack">ELECTRONIC CONTRACTS</h3>

<p>The use of Bistip.com by you includes your ability to become parties to the agreement and / or
  your ability to conduct transactions electronically. YOU ACKNOWLEDGE THAT YOUR ELECTRONIC
  CONTACT IS AT YOUR OWN RISK AND UNDERSTANDING TO BE BOUND BY AND TO PAY ANY COSTS
  ARISING UNDER SUCH AGREEMENTS AND TRANSACTIONS. AGREEMENT AND YOUR DESIRE TO BE BOUND BY AN
  ELECTRONIC CONTACT APPLY TO ALL NOTES RELATING TO ALL TRANSACTIONS THAT YOU ENGAGE IN THIS SITE,
  INCLUDING NOTICE OF CANCELLATION, POLICIES, AGREEMENTS AND IMPLEMENTATION.
  To access and maintain your electronic records, you may be required to have hardware and certain software,
  which will be your responsibility entirely. </p>

  <div class="divider"></div>

<h3 class="textBlack">B. BISTIP.COM TERMS AND CONDITIONS</h3>

<p>TERMS AND CONDITIONS OF THIS AGREEMENT IS BETWEEN YOU AND BISTIP.COM THAT GOVERN
  YOUR USE TO BISTIP.COM SITE.</p>

<p>Bistip.com can be used by any person aged 18 years or older. If you are younger
  than age 18 years, you should review this Terms and Conditions with your parent
  or guardian to ensure that you and your parent or guardian understand this Terms and Conditions.</p>

<p>Usage of Bistip.com requires proper equipment, Internet access, and certain software, 
  which may require periodic updates, and can affected by the performance of these factors.
  The use of high-speed Internet access highly recommended. We recommend use of latest version browser
  to access Bistip.com and it is necessary to engage in transaction or certain features. 
  You agree with these terms, which may change from time to time without prior notice, it is your responsibility. </p>

<h3 class="textBlack">USER ACCOUNT</h3>

<p>As a registered user of Bistip.com, you can acquire or create an account ("Account").
  Do not disclose your account information to others. You are solely responsible for maintaining
  the confidentiality and security of your Account, and for all activities that occur on and / or
  through your Account, and you agree to immediately notify Bistip.com in the event of any breach
  of security on your account. Bistip.com not responsible for any losses that arise as a result of
  unauthorized use of your account.
</p>

<p>You agree to provide accurate and complete data when you sign on, and when you are using,
  Bistip.com, and you agree to the renewal of your Registration Information, so that your Registration
  Information is accurate and complete and current. You agree that Bistip.com can save and use the
  Registration Information you provide for purposes bistip.com. </p>

<h3 class="textBlack">THIRD PARTY MATERIALS</h3>

<p>Content, Products and services from Bistip.com may include material from third parties.
  Bistip.com may provide links to certain third party sites. You agree that Bistip.com is
  not responsible to examine or evaluate the content or accuracy of, and Bistip.com does not
  guarantee and will not have any liability or responsibility for, the materials or any third
  party sites, as well as materials, products, or other services from third party. You agree that you
  will not use any third-party materials in a manner that violates any rights of another party,
  and Bistip.com is not liable for the actions undertaken by you. </p>

<h3 class="textBlack">UNACCEPTABLE MATERIALS</h3>

<p>You understand that by using Bistip.com, you might find material that you may deem offensive,
  inappropriate or unacceptable, and such content may or may not be identified as objectionable material
  (explicit material). Nevertheless, you agree to use Bistip.com at your sole risk and will not have
  Bistip.com liable for the material you may consider offensive, indecent, or objectionable.
</p>

<h3 class="textBlack">INTELLECTUAL PROPERTY</h3>

<p>You agree that Bistip.com, includes but not limited to Products, graphics, user interfaces,
  editorial content, as well as scripts and software that is used to implement Bistip.com,
  containing information and materials owned by Bistip.com and / or Publisher, and protected by
  legislation in the field of intellectual property and other laws and regulations applicable,
  including but not limited to copyright. You agree that you will not use information or material
  in any way whatsoever except for use Bistip.com accordance with this Agreement. No part of Bistip.com
  may be reproduced in any form or manner, except as expressly permitted in this Agreement. You agree not
  to modify, loan, lease, sell, distribute or create derivative products (derivatives) of Bistip.com in any
  form, and you shall not exploit Bistip.com in any way that is unlawful, including but not limited to,
  violations or burdening network capacity and software bistip.com. </p>

<p>Regardless of any other provision of this Agreement, Bistip.com and Publisher 
  reserves the right to modify, suspend, delete or disable access to content, or
  any other materials that are part of Bistip.com at any time without prior notice.
  Bistip.com is not liable for any result arising from these changes. Bistip.com can 
  also apply restrictions on the use of or access to certain features or parts of Bistip.com,
  in any case, without notice or obligation to be responsible for this action.</p>

<p>All copyrights in and to Bistip.com (including a combination of content, postings,
  links to other Internet resources, and descriptions of those resources) and associated software
  is owned by Bistip.com, who have rights under the law and justice.
  USE OF THE SOFTWARE OR ANY PART OF BISTIP.COM, EXCEPT AS PERMITTED BISTIP.COM USAGE OF THIS AGREEMENT,
  IS PROHIBITED TO BE USED FOR INTELLECTUAL PROPERTY INFRINGEMENT OF ANY THIRD PARTY AND CAN CAUSE YOU
  TO BE SUBJECT OF CIVIL AND CRIMINAL PUNISHMENT, INCLUDING DAMAGES FOR FINANCIAL LOSS THAT MAY OCCUR,
  FOR COPYRIGHT INFRINGEMENT. </p>

<p>Bistip.com, Bistip.com logos, and trademarks, their services, graphic or other Bistip.com
  logos used in connection with Bistip.com are trademarks or registered trademarks of Bistip.com and PT Afiliasi Kontenindo
  Jaya in Indonesia and / or in other countries. You are not granted any right or license to use the
  trademark in connection with any of the above and any use of such trademarks.</p>

<h3 class="textBlack">TERMINATION</h3>

<p>If you do not comply, or Bistip.com suspect that you do not comply, with any provision of this Agreement, 
  Bistip.com, at its discretion, without notice to you may: (i) terminate this Agreement and / or your Account,
  and / or (ii) blocking your access to Bistip.com (or any part of Bistip.com). </p>

<p>Bistip.com reserves the right to modify, suspend or discontinue bistip.com as a whole or any part or any
  of bistip.com content at any time with or without notice to you, and Bistip.com will not be liable to you 
  or any third party due to carry out this action. </p>

<h3 class="textBlack">WARRANTY; LIMITATION OF LIABILITY </h3>

<p>BISTIP.COM DOES NOT WARRANT OR REPRESENT THAT YOUR USE BISTIP.COM BY YOU WILL BE UNINTERRUPTED OR 
  ERROR-FREE, AND YOU AGREE BISTIP.COM MAY REMOVE BISTIP.COM FOR INDEFINITE PERIODS OF TIME, OR CANCEL AT
  ANY TIME, WITHOUT NOTICE TO YOU. </p>

<p>YOU EXPRESSLY AGREE THAT YOUR USE OF, OR YOUR INABILITY TO USE BISTIP.COM IS YOUR SOLE RISK.
  BISTIP.COM AND ALL PRODUCTS AND SERVICES ARE TRANSMITTED TO YOU THROUGH BISTIP.COM (EXCEPT IF
  OTHERWISE EXPRESSLY PERMITTED BY BISTIP.COM) ARE PROVIDED "AS IS" AND "AS AVAILABLE" FOR YOUR USE
  ACCORDING YOUR AGREEMENT WITH OTHER USERS, WITHOUT WARRANTY OF ANY KIND OF BISTIP.COM,
  EITHER EXPRESS OR IMPLIED PROVIDED, INCLUDING ALL IMPLIED WARRANTIES OF MERCHANTABILITY,
  COMPATIBILITY WITH A PARTICULAR PURPOSE, TITLE, AND NON-INFRINGEMENT. BECAUSE SOME JURISDICTIONS
  DO NOT ALLOW THE EXCLUSION OF IMPLIED WARRANTIES, EXCLUSION SUBJECT AS MENTION IN THIS ARTICLE MAY NOT
  APPLY TO YOU.</p>

<p>BISTIP.COM AND DIRECTORS, OFFICERS, EMPLOYEES, AND AFFILIATES FROM BISTIP.COM, NOT BE LIABLE FOR
  ANY DIRECT OR INDIRECT DAMAGES, WHETHER INCIDENTAL NATURE, PUNISHMENT, SPECIAL, OR CONSEQUENTIAL DAMAGES
  ARISING FROM ANY USE OF BISTIP.COM BY YOU OR FOR ANY OTHER CLAIM THAT ASSOCIATED WITH BISTIP.COM FROM YOUR USAGE,
  INCLUDING, BUT NOT LIMITED TO, ANY ERRORS OR INCOMPLETENESS IN ANY CONTENT, OR LOSS OR DAMAGE OF ANY KIND ARISING
  AS RESULT OF USE OF THE CONTENT OR ANY PRODUCT THAT POSTED, DISTRIBUTED, OR OTHERWISE MADE AVAILABLE THROUGH THE BISTIP.COM,
  EVEN IF THE POSSIBILITY OF SUCH DAMAGES AND CLAIMS HAVE BEEN ADVISED. BECAUSE SOME STATES OR JURISDICTIONS DO NOT ALLOW
  THE EXCLUSION OR LIMITATION OF LIABILITY FOR ANY CONSEQUENTIAL OR INCIDENTAL, THEN IN SUCH STATES OR JURISDICTIONS SHALL BE
  BISTIP.COM LIABILITY IS LIMITED TO THE EXTENT PERMITTED BY APPLICABLE LAW.
</p>

<p>BISTIP.COM WILL COMPLY TO FAIR BUSINESS TO PROTECT THE INFORMATION THAT YOU PROVIDED TO BISTIP.COM, BUT YOU
  ALSO AGREE THAT YOUR SUBMISSION OF SUCH INFORMATION IS AT YOUR SOLE RISK, AND HEREBY DISCLAIM BISTIP.COM ANY
  AND ALL LIABILITY TO YOU FOR DAMAGES OR LIABILITY WHATSOEVER ASSOCIATED TO THE INFORMATION IN ANY FORM
  AND HOW.</p>

<p>BISTIP.COM DOES NOT EXPRESS AND MAKES NO WARRANTY THAT BISTIP.COM WILL BE FREE FROM LOSS, CORRUPTION, 
  ATTACK, VIRUSES, INTERFERENCE, HACKING, OR OTHER SECURITY INTRUSION, AND BISTIP.COM DISCLAIM ANY LIABILITY
  RELATING THERETO. YOU WILL BE SOLELY RESPONSIBLE FOR BACKING UP YOUR OWN SYSTEM.</p>

<h3 class="textBlack">RELEASE AND INDEMNITY</h3>

<p>BY USING BISTIP.COM, YOU AGREE TO GIVE INDEMNIFY AND HOLD HARMLESS BISTIP.COM 
  AND DIRECTORS, OFFICERS, EMPLOYEES, AND AFFILIATES OF BISTIP.COM, FROM ANY CLAIM
  ARISING OUT OF YOUR BREACH OF THIS AGREEMENT, YOUR USE OF THE BISTIP.COM, OR ANY
  OTHER ACTION BY BISTIP.COM PART OF INVESTIGATIONS AS THE POSSIBILITY OF A VIOLATION 
  OF THE TERMS OF THIS AGREEMENT, OR AS A RESULT OF FINDING OR DECISION FROM BISTIP.COM THAT
  A VIOLATION OF THIS AGREEMENT HAS OCCURRED. THIS MEANS YOU CAN NOT SUE OR OBTAIN INDEMNITY
  OF ANY KIND FOR ANY DAMAGES OF BISTIP.COM AND DIRECTORS, OFFICERS, EMPLOYEES, AND AFFILIATES
  OF BISTIP.COM AS A RESULT OF ANY SUCH DECISION TO REMOVE OR REFUSE TO ANY INFORMATION OR CONTENT
  PROCESSING, To WARN YOU, TO SUSPEND OR TERMINATE YOUR ACCESS TO BISTIP.COM, OR ANY OTHER STEPS 
  TO TAKE IN THE INVESTIGATION OF A POSSIBLE VIOLATION OR AS A RESULT OF THE CONCLUSION FROM BISTIP.COM
  THAT A VIOLATION OF THIS AGREEMENT HAS OCCURRED. RELEASE AND INDEMNIFICATION APPLIES TO ALL VIOLATIONS DESCRIBED
  OR SUBJECT OF THIS AGREEMENT.</p>

<h3 class="textBlack">CHANGES</h3>

<p>Bistip.com memiliki hak untuk, pada setiap waktu, mengubah
  Perjanjian ini dan untuk menerapkan syarat dan ketentuan baru atau
  tambahan atas pemakaian Bistip.com oleh anda. Perubahan serta syarat
  dan ketentuan tambahan tersebut akan segera berlaku efektif dan
  diikutsertakan ke dalam Perjanjian ini. Pemakaian anda yang
  berkelanjutan terhadap Bistip.com akan dianggap sebagai persetujuan
  anda untuk tunduk pada perubahan serta syarat dan ketentuan baru atau
  tambahan tersebut.</p>

<p>Bistip.com have the right to, at any time, modify this Agreement and to implement
  new or additional terms and conditions for Bistip.com usage by you. Changes and additional
  terms and conditions will be effective immediately and incorporated into this Agreement.
  Consistent use of Bistip.com you will be deemed as your agreement to abide 
  to change, new, or addition to the terms and conditions. </p>

<h3 class="textBlack">MISCELLANEOUS</h3>

<p>This is the entire agreement between you and Bistip.com and regulate Bistip.com usage by you, 
  and supersedes all prior agreements between you and Bistip.com. You also may be subject to
  additional terms and conditions that may apply when you use affiliate services, third-party
  content or third-party software. If any part of this Agreement becomes invalid or legally
  unenforceable, that part will be interpreted in a manner consistent with applicable law to reflect, 
  as closely as possible, will start from the parties, and other parts of this Agreement shall remain
  in force full. Bistip.com Failure to implement any right or provision of this Agreement is not a
  release of such right or provision, nor to any other provision of this Agreement.
  Bistip.com is not liable for failure to fulfill any obligation caused by matters beyond his control. </p>

<p>Bistip.com operated by Bistip.com from all facilities located in Indonesia. You agree to comply
  with all local laws, national laws, statutes, rules, and regulations that apply to your use of Bistip.com by you.
  All transactions on Bistip.com governed by the laws of the Republic of Indonesia. You expressly states
  that exclusive jurisdiction for any claim or dispute with Bistip.com or related in any way with your
  use of Bistip.com are on trial in the Republic of Indonesia. No one Bistip.com employee or agent of the
  right to modify this Agreement. </p>

<p>Bistip.com may give notice in connection with Bistip.com to you by sending an e-mail 
  to e-mail address registered in your account or by mail to the contact address listed on your Account,
  or by a posting on Bistip.com. Notices will be effective on the spot. </p>

<p>Bistip.com have the right to take measures that Bistip.com deem reasonably necessary
  or appropriate to carry out and / or check compliance with any provision of this Agreement.
  You agree that Bistip.com have the right, without liability to you, to disclose Registration Data
  and / or any account information to law enforcement officers, government officials and / or third party,
  as Bistip.com deem reasonably necessary or appropriate to carry out and / or check compliance with any
  provision of this Agreement including but not limited to Bistip.com right to cooperate with any legal
  process relating to the use Bistip.com and / or the Products by you, and / or a third party claim
  that the use Bistip. com and / or the Product by you is against the law and / or infringes such third party. </p>

<p>PT Afiliasi Kontenindo Jaya</p>

<p>Last updated : 15 November 2011</p>
</div>
