<% escrow = locals[:escrow] %>
<% if current_user.eql?(escrow.buyer) %>
  <% form_tag buyer_received_payout_escrows_path do %>
    <%= hidden_field_tag :escrow_id, escrow.id %>
    <%= submit_tag t('escrow.actions.bistip_released_buyer_payout.buyer_received_payout') %>
  <% end %>
<% end %>