<% sender = message.sender %>
<% new = !message.read %>
<%= link_to(user_message_path(current_user, message, :anchor => message.internal_link_id), :class => 'divlink') do %>
  <div class="inboxRow <%= 'unread' if new %>">
    <div class="message">
      <h5>
        <%= sender.username %><%= render 'shared/trusted_badge', :locals => {:user => sender} %>
        <% if new %>
          <span class="new"><%= t('general.new') %></span>
        <% end %>
         &nbsp; &nbsp;
        <% if message.replied? %>
          <span class="reply"><%= image_tag 'icon-replied-12.png' %></span>
        <% end %>
        <% if message.has_asset? %>
          <span class="asset"><%= image_tag 'icon-attachment-12.png' %></span>
        <% end %>
        <span class="date">&nbsp;&ndash;&nbsp;<%= smart_date_display message.created_at %></span>
      </h5>
      <h6><%= generate_label_for_related_trip_or_seek(message.trip_id, message.seek_id) %></h6>
      <h6><%= highlight message.subject_display, search_keyword_to_array(params[:keyword]) %></h6>
      <% body = message.body %>
      <% if params[:keyword] %>
        <p><%= highlight body, search_keyword_to_array(params[:keyword]) %></p>
      <% else %>
        <% body = body.slice(0,100) + "..." unless body.length <= 100 %>
        <p><%= body %></p>
      <% end %>
    </div>
  </div>
<% end %>
