<% receiver = sent.receiver %>
<%= link_to(user_message_path(current_user, sent, :anchor => sent.internal_link_id), :class => 'divlink') do %>
  <div class="inboxRow">
    <div class="message">
      <h5>
        <%= receiver.username %><%= render 'shared/trusted_badge', :locals => {:user => receiver} %>
        <% if sent.has_asset? %>
          <span class="asset"><%= image_tag 'icon-attachment-12.png' %></span>
        <% end %>
        <span class="date">&nbsp;&ndash;&nbsp;<%= smart_date_display(sent.created_at) %></span>
      </h5>
      <h6><%= generate_label_for_related_trip_or_seek(sent.trip_id, sent.seek_id) %></h6>
      <h6><%= sent.subject_display %></h6>
      <% body = sent.body %>
      <% body = body.slice(0,100) + "..." unless body.length <= 100 %>
      <p><%= body %></p>
    </div>
  </div>
<% end %>

