$("#inbox").append("<%= escape_javascript(render :partial => 'sent', :collection => @sents) %>");
$("#messages_pagination").html("<%= escape_javascript(get_more_will_paginate(@sents, 'messages_pagination')) %>");