<div class="col4">
  <nav class="static">
    <%= render_sub_menu_link t('dashboard.link.general'), [dashboard_path] %>
    <%= render_sub_menu_link t('user.show.link'), [dashboard_profile_path] %>
    <%= render_sub_menu_link t('user.edit.link'), [edit_user_path(@user)] %>
    <%= render_sub_menu_link t('password.edit.link'), [edit_password_path] %>
    <%= render_sub_menu_link t('configuration.edit.link'), [edit_user_configuration_path(:user_id => @user.id, :id => @user.user_configuration.id)] %>
    <%= render_sub_menu_link t('payout_method.link'), [user_payout_methods_path(@user)] %>
    <%= render_sub_menu_link t('trip.index.link'), [dashboard_trips_path] %>
    <%= render_sub_menu_link t('seek.index.link'), [dashboard_seeks_path] %>
    <%= render_sub_menu_link t('dashboard.link.points'), [dashboard_points_path] %>
    <%= render_sub_menu_link t('dashboard.link.stories'), [dashboard_stories_path] %>
    <%= render_sub_menu_link t('dashboard.link.suggested_items'), [dashboard_suggested_items_path] %>
    <%= render_sub_menu_link t('user.field.label.review'), [dashboard_reviews_path] %>
    <%= render_sub_menu_link t('dashboard.link.escrows'), [dashboard_transactions_path] %>
    <%= render_sub_menu_link t('dashboard.link.recommendation'), [get_recommendation_path] %>
  </nav>
</div>