<% trip = locals[:trip] %>
<%= t('message.field.label.trip') %>:
<span class="iconRoute">
  <%= render 'shared/city', :locals => {:city => trip.origin_city} %>
  <span class="dashArrow">-</span>
  <%= render 'shared/city', :locals => {:city => trip.destination_city} %>
</span>
