<% sender = message.sender %>
<tr>
  <td style="vertical-align: top">
    <%= image_tag sender.avatar.url(:thumb), :align => 'center' %>
  </td>
  <td>
    <div class="message-name"><strong><%= t('message.field.label.sender') %>:</strong>&nbsp;<%= link_to sender.username, profile_path(sender.username) %>,&nbsp;
      <%= l(message.created_at, :format=>:short) %>
    </div>
    <div class="message-content blue-link">
      <% body = message.body %>
      <% body = body.slice(0,100) + "..." unless body.length <= 100 %>
      <%= generate_label_for_related_trip_or_seek(message.type, message.trip_id, message.seek_id) %>
      <% if !message.read? %>
        <strong><%= link_to message.subject_display, user_message_path(current_user, message) %> (<%= t('message.label.new') %>)</strong><br/><%= auto_link_in_new_tab body %>
      <% else %>
        <%= link_to message.subject_display, user_message_path(current_user, message) %><br/><%= auto_link_in_new_tab body %>
      <% end %>
    </div>
  </td>
  
</tr>