<% receiver = sent.receiver %>
<tr>
  <td style="vertical-align: top">
    <%= image_tag receiver.avatar.url(:thumb), :align => 'center' %>
  </td>
  <td>
    <div>
      <div class="message-name"><strong><%= t('message.field.label.receiver') %>:</strong>&nbsp;<%= link_to receiver.username, profile_path(receiver.username) %>
        <%= l(sent.created_at, :format => :short) %></div>
      <div class="message-content">
        <%= generate_label_for_related_trip_or_seek(sent.type, sent.trip_id, sent.seek_id) %>
        <%= link_to sent.subject_display, user_message_path(current_user, sent) %><br/>
        <% body = sent.body %>
        <% body = body.slice(0,100) + "..." unless body.length <= 100 %>
        <%= body %>
      </div>
    </div>
  </td>
</tr>