<% page_title t('message.link.inbox') %>
<div class="col12">
  <h2><%= t('message.link.inbox') %><%= render('shared/protected') %></h2>

    
  <%= render 'shared/message_sub_menu' %>
</div>
<div class="col9">
  <div id="inbox">
    <% if @messages.size > 0 %>
      <%= render :partial => 'message', :collection => @messages %>
    <% else %>
      <div class="notificationBar yellow"><%= t('message.index.no_result') %></div>
    <% end %>
    
  </div>

  <div class="paginationMorePlaceholder">
    <%= will_paginate(@messages, :renderer => TwitterPagination::LinkRenderer, :id => 'messages_pagination') %>
  </div>
</div>