<% page_title t('message.show.heading') %>
<div class="col12">
  <h2><%= t('message.show.heading') %><%= render('shared/protected') %></h2>
</div>
<div class="col9">
  <div class="conversation" id="inbox">
    <h3 class="textBlack"><%= t('message.show.heading') %>: <%= @message.subject_display %></h3>
    <h4 class="textBlack"><%= generate_label_for_related_trip_or_seek(@message.type, @message.trip_id, @message.seek_id) %></h4>
    <h5 class="navBack">
      <%= link_to t('message.link.inbox_return'), user_messages_path(current_user) %>
    </h5>
    <%= render 'conversation', :locals => {:message => @message} %>
    <% @messages.each do |message| %>
        <%= render 'conversation', :locals => {:message => message} %>
    <% end %>
    <%= render 'reply_form', :locals => {:user_id => @user} %>
    <h5 class="navBack">
      <%= link_to t('message.link.inbox_return'), user_messages_path(current_user) %>
    </h5>
  </div>
</div>
<div class="col3">
  <h4>Bistip Asuransi</h4>
  <br/>
  <p>
    Untuk mengajukan permohonan asuransi berdasarkan percakapan ('messages') ini:
  </p>
  <p>
    <%= link_to 'Ajukan Asuransi', new_insurance_path(:message_id => @message.id), :class => 'btnAction' %>
  </p>
  <p>
    Info lengkapnya dapat dibaca di:
  </p>
  <p>
    <%= link_to 'Baca Selengkapnya', root_path, :class => 'btnAction', :target => 'blank' %>
  </p>
</div>
