<p>Total User: <%= User.count %></p>
<p>Total Rute Jalan Aktif: <%= Trip.active_only.count %></p>
<p>Total Request Post Aktif: <%= Seek.active_only.count %></p>
<p>Total Comment: <%= Comment.count %> (<%= Comment.where(:reply_to_id => nil).count %>) (<%= Comment.where(:email_reply => true).count %>)</p>
<p>Total Message: <%= Message.count %> (<%= Message.where(:email_reply => true).count %>)</p>
<p>Total Attachment: <%= Asset.count %></p>
<p>Total Good Review <%= PositiveReview.count %></p>
<p>Total Bad Review <%= NegativeReview.count %></p>
<p>Total Item: <%= Item.count %></p>
<p>Total Relation: <%= Relation.count %></p>
<p>Total Suggested Item: <%= SuggestedItem.count %></p>