<% sender = message.sender %>
<% new = !message.read %>
<%= link_to(user_message_path(current_user, message, :anchor => message.internal_link_id), :class => 'divlink') do %>
  <div class="inboxRow <%= 'unread' if new %>">
    <div class="message">
      <h5>
        <%= sender.username %>
        <% if new %>
          <span class="new"><%= t('general.new') %></span>
        <% end %>
         &nbsp; &nbsp;
        <% if message.replied? %>
          <span class="reply"><%= image_tag 'icon-replied-12.png' %></span>
        <% end %>
        <% if message.has_asset? %>
          <span class="asset"><%= image_tag 'icon-attachment-12.png' %></span>
        <% end %>
        <span class="date">&nbsp;&ndash;&nbsp;<%= l(message.created_at) %></span>
      </h5>
      <h6><%= generate_label_for_related_trip_or_seek(message.trip_id, message.seek_id) %></h6>
      <h6><%= message.subject_display %></h6>
      <% body = message.body %>
      <% body = body.slice(0,100) + "..." unless body.length <= 100 %>
      <p><%= body %></p>
    </div>
  </div>
<% end %>
