<div class="notificationBar yellow"><%= t('escrow.new.label.currency') %></div>
<p><%= t('escrow.new.label.scenario_heading') %></p>
<ol class="tips bgGrey defaultRound">
  <li><p><strong><%= t('escrow.new.label.scenario_a', :username => @escrow.buyer.username) %></strong></p></li>
  <li><p><strong><%= t('escrow.new.label.scenario_b', :username => @escrow.buyer.username) %></strong></p></li>
  <li><p><strong><%= t('escrow.new.label.scenario_c', :username => @escrow.seller.username) %></strong></p></li>
  <li><p><strong><%= t('escrow.new.label.scenario_d', :username => @escrow.seller.username) %></strong></p></li>
</ol>
<p><%= t('escrow.new.label.form_intro') %></p>
<p>
  <label><%= t('escrow.new.label.item') %></label>
  <%= f.text_field :item %>
</p>
<div id="escrowAmount">
  <p>
    <label><%= t('escrow.new.label.amount') %></label>
    <%= calculate_escrow_amount_js %>
    <%= f.text_field :amount %>&nbsp;&nbsp;&nbsp;
    <%= t('escrow.new.label.seller_receive', :seller => @escrow.seller.username)%>&nbsp;<span id="escrow_amount_after_fee"><%= Escrow.calculate_amount_after_fee(@escrow.amount) %></span>
  </p>
</div>
<div class="escrowAmountInfo italic">
  <ul>
    <li><%= t('escrow.new.label.amount_info_a', :seller => @escrow.seller.username) %></li>
    <li><%= t('escrow.new.label.amount_info_b', :seller => @escrow.seller.username) %></li>
  </ul>
</div>
