<% escrow = locals[:escrow] %>
<% if current_user.eql?(escrow.buyer) %>
  <% form_tag buyer_requested_payout_escrows_path do %>
    <%= hidden_field_tag :escrow_id, escrow.id %>
    <%= submit_tag t('escrow.actions.seller_cancelled.buyer_requested_payout') %>
  <% end %>
  <% form_tag buyer_resumed_escrows_path do %>
    <%= hidden_field_tag :escrow_id, escrow.id %>
    <%= submit_tag t('escrow.actions.seller_cancelled.buyer_resumed') %>
  <% end %>
<% end %>