<%= form_for(@trip) do |f| %>
  <%= f.hidden_field :routine, :value => true %>

  <div id="postNewRoute">
    <p>
      <label><%= t('trip.field.label.route')%></label>
      <%= location_auto_complete_js 'trip_origin_location', true %>
      <%= f.text_field :origin_location, :class => 'defaultText', :style=>"width: 38%;", :placeholder => t('trip.field.label.origin')%>
      &nbsp;<b>&gt;</b>&nbsp;
      <%= location_auto_complete_js 'trip_destination_location', true %>
      <%= f.text_field :destination_location, :class => 'defaultText', :style=>"width: 38%;", :placeholder => t('trip.field.label.destination') %>
      <br/>
      <%= render 'shared/new_location_contact_us' %>
    </p>

    <p>
      <label><%= t('trip.field.label.period')%></label>
      <% period = Period.map %>
      <%= select_tag "trip[period]", options_for_select(period, @trip.period) %>
    </p>
    <p style="width: 60%;">
      <% i = 1 %>
      <% Day::ALL.each_with_index do |day, index|%>
        <% selected = false %>
        <% selected = @trip.day.include?(day) unless @trip.day.nil? %>
        <% if i % 2 != 0 %>
          <div class="d1">
            <%= check_box_tag "trip[day][]",day, selected %><%= day %>
          </div>
        <% else %>
          <div class="d2">
            <%= check_box_tag "trip[day][]",day, selected %><%= day %>
          </div>      
        <% end %>
        
        <% i += 1 %>
      <% end %>
    </p>

    <div class="divider"></div>

    <h4><%= t('trip.field.label.items') %></h4>
    <br/>
    <div class="items">
      <div class="header"><label><%= t('trip_item.field.label.name') %></label> <label><%= t('trip_item.field.label.tip') %></label></div>
      <%= f.fields_for :items do |builder| %>
        <%= render "item_fields", :f => builder %>
      <% end %>
      <div>
        <%= link_to_add_fields t("general.add_more"), f, :items, TripItem::MAXIMUM %>
      </div>
    </div>
    <br/>
    <p>
      <label><%= t('trip.field.label.notes') %></label>
      <%= enable_character_counter('trip_notes',Trip::NOTES_MAXIMUM_LENGTH) %>
      <%= f.text_area :notes, :rows => 6, :cols => 60 %>
    </p>

    <p>
      <%= f.submit t('button.send'), :class => 'defaultButton' %><%= link_to t('button.cancel'), dashboard_path, :class => 'cancelLink' %>
    </p>
  </div>
<% end %>