<% page_title t('seek.index.link') %>
<div id="dash" class="content-left text-01">
  <div class="left-section panel-blue">
    <%= render 'shared/left_menu' %>
  </div>
  <div class="main-section">
    <div class="panel-blue">
      <table class="text-01" id="seeks" border="0" width="100%">
        <tbody id="seeks">
          <% if @seeks.size > 0 %>
            <% for seek in @seeks %>
              <%= render 'shared/seek_row', :locals => {:seek => seek, :write => true} %>
            <% end %>
          <% else %>
          <i><%= t('seek.index.no_result') %> </i>
        <% end %>
        </tbody>
      </table>
      <div style="text-align: center;">
        <%= will_paginate(@seeks, :renderer => TwitterPagination::LinkRenderer, :id => 'seeks_pagination') %>
      </div>
    </div>
  </div>
</div>