<% page_title t('trip.index.link') %>
<%= render 'shared/left_menu' %>
<%#= render 'shared/dashboard_activity_sub_menu' %>
<div class="text-01">
  <table>
    <tbody class="text-01" id="trips">
      <% if @trips.size > 0 %>
        <% for trip in @trips %>
          <%= render 'shared/trip_row', :locals => {:trip => trip, :write => true} %>
        <% end %>
      <% else %>
        <i><%= t('trip.index.no_result') %> </i>
      <% end %>
    </tbody>
  </table>
  <div style="text-align: center;">
    <%= will_paginate(@trips)%>
  </div>
</div>
