<% page_title t('stories.general.heading') %>
<div class="col9">
  <h2><%= t('stories.general.heading') %></h2>

  <h3 class="textBlack">
    <%= raw t('stories.index.description_mobile', :href => link_to(t('stories.index.submit'), new_story_path, :class => 'btnAction')) %>
  </h3>

  <div id="stories">
    <%= render 'stories' %>
  </div>

</div>