<%= form_for(@idea_item, :url => {:controller => "idea_items", :action => action}, :html => {:multipart => true}) do |f| %>
  <%= hidden_field_tag :type, @idea_item.type %>
  <h3 class="textBlack"><%= t('suggested_items.new.heading') %></h3>
  <p class="inline">
    <label><%= t('suggested_items.new.label.name') %></label>
    <% if true %>
      <% name_value = params[:name] ? params[:name] : @idea_item.name %>
      <%= f.text_field :name, :value => name_value %><%= render 'shared/required' %>
    <% else %>
      <strong><%= @idea_item.name %></strong>
    <% end %>
  </p>
  <div id="suggestedItemAttachPicture">
    <div class="label">
      <span class="attach"><%= t('suggested_items.general.picture') %></span>
    </div>
    <div class="fields">
      <%= f.fields_for :pictures do |picture_form| %>
        <% if picture_form.object.new_record? %>
          <%= render "item_pictures/field", :picture_form => picture_form %>
        <% else %>
          <%= image_tag picture_form.object.attachment.url(:thumb), :size => '48x48', :class => "photo bgWhite" %>
        <% end %>
      <% end %>
    </div>
  </div>
  <br/>
  <p class="inline">
    <label><%= t('suggested_items.new.label.city') %></label>
    <% if true %>
      <%= location_auto_complete_js 'idea_item_origin_location', false, true %>
      <% origin_location_value = params[:origin] ? params[:origin] : @idea_item.origin_location %>
      <%= f.text_field :origin_location, :value => origin_location_value %><%= render 'shared/required' %>
    <% else %>
      <strong><%= @idea_item.origin_location %></strong>
    <% end %>
  </p>
  <p>
    <label><%= t('suggested_items.new.label.reason') %><%= render 'shared/required' %></label>
    <%= f.text_area :reason, :rows => 3, :cols => 60 %>
  </p>
  <p>
    <label><%= t('suggested_items.new.label.notes') %></label>
    <%= f.text_area :notes, :rows => 5, :cols => 60 %>
  </p>
  <br clear="all"/>
  <p><%= f.submit t('button.send'), :class => 'defaultButton' %><%= link_to t('button.cancel'), :back, :class => 'cancelLink' %></p>
<% end %>
<%= render 'shared/required_label' %>