<% item = locals[:item] %>
<% ref = locals[:ref] %>
<%= link_to item_path(item, :ref => ref), :class => "infoBlockLink suggestedItemRow #{'old' unless item.active?}" do %>
  <div class="infoBlock">
    <% unless item.active?  %>
      <div class="oldinfo"><%= t('suggested_items.show.label.not_active_short') %></div>
    <% end %>
    <div class="left">
      <div class="avatar">
        <% if item.has_picture? %>
          <%= image_tag item.pictures.first.attachment.url, :size => "64x64", :class => "photo bgWhite" %>
        <% else %>
          <%= image_tag 'default_original_item.png', :size => "64x64", :class => "photo bgWhite" %>
        <% end %>
      </div>
    </div>
    <div class="right">
      <div class="itemDisplay defaultRound">
        <%= item.name %>
      </div>
      <div class="locationDisplay defaultRound">
        <%= item.origin_city.name %>, <%= item.origin_city.country.name %>
      </div>
    </div>
  </div>
<% end %>