<div id="paginationData">
  <% if @results.size > 0 %>
    <% @results.each do |trip| %>
      <div id="trip">
        <%= render 'idea_items/trip', :trip => trip %>
      </div>
    <% end %>
  <% end %>
  <div>
    <%= get_will_paginate @results %>
  </div>
</div>