<div class="col4">
  <nav class="static">
    <%= render_sub_menu_link t('dashboard.link.general'), [dashboard_path] %>
    <%= render_sub_menu_link t('user.show.link'), [dashboard_profile_path] %>
    <%= render_sub_menu_link t('user.edit.link'), [edit_user_path(@user)] %>
    <%= render_sub_menu_link t('password.edit.link'), [edit_password_path] %>
    <%= render_sub_menu_link t('configuration.edit.link'), [edit_user_configuration_path(:user_id => @user.id, :id => @user.user_configuration.id)] %>
    <%= render_sub_menu_link t('trip.index.link'), [dashboard_trips_path] %>
    <%= render_sub_menu_link t('seek.index.link'), [dashboard_seeks_path] %>
    <%= render_sub_menu_link t('user.field.label.reputation'), [dashboard_reputation_path] %>
    <%= render_sub_menu_link t('dashboard.link.transactions'), [dashboard_transactions_path] %>
  </nav>
</div>