<% page_title t('user.field.label.reputation') %>
<div id="dashboard">
  <%= render 'reminder' %>
  <%= render 'menu' %>
  <div class="col9">
    <% if @escrows.size > 0 %>
      <% @escrows.each do |escrow| %>
        <div class="escrowRow">
          <%= render 'shared/escrow_info', :locals => {:escrow => escrow} %>
        </div>
      <% end %>
    <% else %>
      <div class="notificationBar yellow"><%= t('reputation.index.positive.no_result') %></div>
    <% end %>
  </div>
</div>