<% page_title t('api.index.label.heading') %>
<div class="text-01">
  <span class="heading-grey">Search API</span><br/><br/>
  <p>This is read-only API, no user authentication</p>
  <div class="content-left">
    <fieldset class="panel-blue">
      <legend class="api-title">GET /api/v1/trips.format</legend>
      <p class="api-content">
        To obtain list of trips from specified origin and destination location in <b>json or xml</b> format.
      <br/><br/>
      <span class="api-url-label">Resource URL : </span>
      <span class="api-url">
        http://www.bistip.com/api/v1/trips.format
      </span>
      <br/><br/>
        Example: http://www.bistip.com/api/v1/trips.json?from=jakarta&to=singapore
      </p>
      <div class="api-content">
        <p class="header01">parameter :</p>
        <table cellpadding="0" cellspacing="0" width="650px" style="border: solid 1px lightgray; padding: 5px 5px 5px 5px; background-color: white;">
          <tr>
            <td colspan="2">
              Only one of the <b>from</b> or <b>to</b> must be specified
            </td>
          </tr>
          <tr>
            <td colspan="2"><div class="summary-line">&nbsp;</div></td>
          </tr>
          <tr>
            <td style="width: 20%;" valign="top"><span><b>from</b></span><br/><span class="api-param-option">required</span></td>
            <td valign="top">
              Specify name of origin location of trip.
              This parameter accept value in <b>city_name</b> or <b>city_name, country_name</b>.
              <p><b>example values : </b>Jakarta, Indonesia <b>OR</b> bandung</p>
            </td>
          </tr>
          <tr>
            <td colspan="2"><div class="summary-line">&nbsp;</div></td>
          </tr>
          <tr>
            <td valign="top"><span><b>to</b></span><br/><span class="api-param-option">required</span></td>
            <td valign="top">
              Specify name of destination location of trip.
              This parameter accept value in <b>city_name</b> or <b>city_name, country_name</b>.
              <p><b>example values : </b>Bogor <b>OR</b> Tokyo, Japan</p>
            </td>
          </tr>
          <tr>
            <td colspan="2"><div class="summary-line">&nbsp;</div></td>
          </tr>
          <tr>
            <td valign="top"><span><b>page</b></span><br/><span class="api-param-option">optional</span></td>
            <td valign="top">default 1, result position index<p><b>example values : </b>1</p></td>
          </tr>
          <tr>
            <td colspan="2"><div class="summary-line">&nbsp;</div></td>
          </tr>
          <tr>
            <td valign="top"><span><b>per_page</b></span><br/><span class="api-param-option">optional</span></td>
            <td valign="top">default 10, maximum number of result<p><b>example values : </b>10</p></td>
          </tr>
        </table>

      </div>
    </fieldset>
    <br/>
    <fieldset class="panel-blue">
      <legend class="api-title">GET /api/v1/seeks.format</legend>
      <p class="api-content">
        To obtain list of wanted post from specified origin and destination location in <b>json or xml</b> format.
        <br/><br/>
      <span class="api-url-label">Resource URL : </span>
      <span class="api-url">
        http://www.bistip.com/api/v1/seeks.format
      </span>
        <br/><br/>
        Example: http://www.bistip.com/api/v1/seeks.json?from=jakarta&to=singapore
      </p>
      <div class="api-content">
        <p class="header01">parameter :</p>
        <table cellpadding="0" cellspacing="0" width="650px" style="border: solid 1px lightgray; padding: 5px 5px 5px 5px; background-color: white;">
          <tr>
            <td colspan="2">
              Only one of the <b>from</b> or <b>to</b> must be specified
            </td>
          </tr>
          <tr>
            <td colspan="2"><div class="summary-line">&nbsp;</div></td>
          </tr>
          <tr>
            <td style="width: 20%;" valign="top"><span><b>from</b></span><br/><span class="api-param-option">required</span></td>
            <td valign="top">
              Specify name of origin location of wanted post.
              This parameter accept value in <b>city_name</b> or <b>city_name, country_name</b>.
              <p><b>example values : </b>Jakarta, Indonesia <b>OR</b> bandung</p>
            </td>
          </tr>
          <tr>
            <td colspan="2"><div class="summary-line">&nbsp;</div></td>
          </tr>
          <tr>
            <td valign="top"><span><b>to</b></span><br/><span class="api-param-option">required</span></td>
            <td valign="top">
              Specify name of destination location of wanted post.
              This parameter accept value in <b>city_name</b> or <b>city_name, country_name</b>.
              <p><b>example values : </b>Bogor <b>OR</b> Tokyo, Japan</p>
            </td>
          </tr>
          <tr>
            <td colspan="2"><div class="summary-line">&nbsp;</div></td>
          </tr>
          <tr>
            <td valign="top"><span><b>page</b></span><br/><span class="api-param-option">optional</span></td>
            <td valign="top">default 1, result position index<p><b>example values : </b>1</p></td>
          </tr>
          <tr>
            <td colspan="2"><div class="summary-line">&nbsp;</div></td>
          </tr>
          <tr>
            <td valign="top"><span><b>per_page</b></span><br/><span class="api-param-option">optional</span></td>
            <td valign="top">default 10, maximum number of result<p><b>example values : </b>10</p></td>
          </tr>
        </table>
      </div>
    </fieldset>
    <br/>
  </div>
</div>