<%= render 'shared/static_left_menu' %>
<% page_title t('api.index.label.heading') %>
<div class="col9">
  <h2>Search API</h2>

  <p>
    This is read-only API, no user authentication
  </p>

  <h3 class="textBlack">GET /api/v1/trips.format</h3>

  <p>
    To obtain list of trips from specified origin and destination location in <b>json or xml</b> format.
  </p>

  <p>
    <strong>Resource URL :</strong> http://www.bistip.com/api/v1/trips.format
  </p>

  <p>
    <strong>Example:</strong> http://www.bistip.com/api/v1/trips.json?from=jakarta&to=singapore
  </p>

  <div class="StaticTable">
    <ul>
      <li class="title">Parameters</li>
      <li><strong>from</strong><br><br>required</li>
      <li><strong>to</strong><br><br>required</li>
      <li><strong>page</strong><br><br>optional</li>
      <li><strong>per_page</strong><br><br>optional</li>
    </ul>
    <ul>
      <li><strong>Description</strong></li>
      <li>Specify name of origin location of trip. <br>This parameter accept value in city_name or
        city_name, country_name.<br>
        <span class="underlineText">example values : Jakarta, Indonesia OR bandung</span>
      </li>
      <li>Specify name of destination location of trip. <br>This parameter accept value in city_name or
        city_name, country_name.<br>
        <span class="underlineText">example values : Bogor OR Tokyo, Japan</span>
      </li>
      <li>default : 1 <br>result position index<br>
        <span class="underlineText">example values : 1</span>
      </li>
      <li>default : 10 <br>maximum number of result<br>
        <span class="underlineText">example values : 10</span>
      </li>
    </ul>
  </div>

    <div class="dividerZero"></div>

  <h3 class="textBlack">GET /api/v1/seeks.format</h3>
  <p>
    To obtain list of wanted post from specified origin and destination location in <strong>json or xml</strong> format.
  </p>

  <p>
    <strong>Resource URL :</strong> http://www.bistip.com/api/v1/seeks.format
  </p>

  <p>
    <strong>Example :</strong> http://www.bistip.com/api/v1/seeks.xml?from=jakarta&to=singapore
  </p>

  <div class="StaticTable">
    <ul>
      <li class="title">Parameters</li>
      <li><strong>from</strong><br><br>required</li>
      <li><strong>to</strong><br><br>required</li>
      <li><strong>page</strong><br><br>optional</li>
      <li><strong>per_page</strong><br><br>optional</li>
    </ul>
    <ul>
      <li><strong>Description</strong></li>
      <li>Specify name of origin location of trip. <br>This parameter accept value in city_name or
        city_name, country_name.<br>
        <span class="underlineText">example values : Jakarta, Indonesia OR bandung</span>
      </li>
      <li>Specify name of destination location of trip. <br>This parameter accept value in city_name or
        city_name, country_name.<br>
        <span class="underlineText">example values : Bogor OR Tokyo, Japan</span>
      </li>
      <li>default : 1 <br>result position index<br>
        <span class="underlineText">example values : 1</span>
      </li>
      <li>default : 10 <br>maximum number of result<br>
        <span class="underlineText">example values : 10</span>
      </li>
    </ul>
  </div>
</div>
