<% page_title t('forum.index.label.heading') %>
<div class="text-01">
<div style="padding-top: 20px; padding-bottom: 20px;" class="header01"><%= t('forum.index.label.heading') %></div>
<table class="forum_table">
  <tr>
    <th class="forum_title_col"><%= t('forum.index.label.title') %></th>
    <th class="forum_topics_col"><%= t('forum.index.label.topics_count') %></th>
    <th class="forum_posts_col"><%= t('forum.index.label.posts_count') %></th>
    <th class="forum_last_post_col"><%= t('forum.index.label.last_post') %></th>
  </tr>

  <% @forums.each do |forum| %>
    <tr>
      <td class="forum_title_col">
        <div class="forum_title_column blue-link"><%= link_to forum.title, forum_path(forum) %></div>
        <span class="smaller-text-01"><%= forum.description %></span>
      </td>
      <td class="forum_topics_col"><%= forum.topics.active_only.count %></td>
      <td class="forum_posts_col"><%= forum.posts_count %></td>
      <td class="forum_last_post_col blue-link">
        <% last_post = forum.last_post %>
        <% if last_post.nil? %>
          <%= t('forum.no_post_yet') %>
        <% else %>
          <% last_post = forum.last_post %>
          <% topic = last_post.topic %>
          <%= link_to topic.title, forum_topic_path(topic.forum, topic, :page => topic.posts_last_page) %><br/>
          <span class="smaller-text-01"><%= date_age_in_words last_post.created_at %></span><br/>
          <% user = last_post.user %>
          <span class="smaller-text-01"><%= t('forum.from') %> <%= link_to user.username, profile_path(user.username) %></span>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
</div>