<% page_title t('login.label.heading') %>
<div id="login">
  <div class="col4">
    <h2><%= t('login.label.heading') %><%= render('shared/protected') %></h2>
  </div>
  <div class="bgYellow defaultRound col4">
    <%= form_tag session_path do %>
      <p>
        <label><%=  t('login.label.email_or_username') %></label>
        <%= text_field_tag :email_or_username, nil %>
      </p>
      <p>
        <label><%= t('login.label.password') %></label>
        <%= password_field_tag :password, nil %>
      </p>
      <p>
        <%= check_box_tag 'remember_me', nil, params[:remember_me] == 'on' ? true : false %><%= t('login.label.remember_me') %>
      </p>
      <p>
        <%= link_to t('password.forgot.link'), reset_password_path %>
      </p>
      <p>
        <%= submit_tag t('login.link'), :class => 'defaultButton' %>
      </p>
    <% end %>
  </div>
</div>
