<table width="100%;" border="0" class="text-01" >
  <tr class="form-border">
  <th style="width: 7%">No.</th>
  <th style="width: 65%">Trip</th>
  <th>Point</th>
  </tr>
<tbody>
  <% @data.each do |inf| %>
    <% color = "#DFEFFF" %>
    <% color = "#FFFFFF" if inf[0]%2==0 %>
    <%# color = "#FF5577" if inf[2] >= InfluencerLog::MINIMUM_CLICK %>
    <tr >
      <td align="center" style="font-weight: bold;font-size: 16px; color: #035088; padding-top: 5px;" valign="top"><%= inf[0] %></td>
      <td align="left">
        <% trip = Trip.unscoped.find(inf[1]) %>
        <%= render 'shared/trip_summary', :locals => {:trip => trip} %>
      </td>
      <td align="center" class="texthover" valign="top" style="padding-top: 5px;">
        <span ><strong><%= inf[2] %></strong></span>
      </td>
    </tr>
  <% end %>
</tbody>
<tfoot>
  <tr style="background: #FFF;" >
    <td colspan="3" align="center"><strong><%=  will_paginate @data%><%= page_entries_info @data, :entry_name => 'influencer'%></strong></td>
  </tr>
</tfoot>
</table>