<% seek = locals[:seek] %>
<tr>
  <td><%= render 'shared/seek_summary',  :locals => {:seek => seek} %></td>
</tr>
<tr>
  <% if logged_in? and seek.owner?(current_user) %>
    <td>
      <% trips_match_count = seek.find_matching_trips.count %>
      <% if trips_match_count > 0 %>
        <%= t('seek.index.table.match_count', :count => trips_match_count) %> -
        <span class="red-link"><%= link_to t('seek.show.label.auto_match_link'), match_seek_path(seek) %></span>
      <% end %>
    </td>
  <% end %>
</tr>
<tr>
  <td>
    <div class="buttonlink-grey-01">
      <%= link_to t('seek.edit.link_short'), edit_seek_path(seek) %>
      <%= link_to t('seek.destroy.link_short'), seek, :confirm => 'Are you sure?', :method => :delete %>
    </div>
  </td>
</tr>
<tr>
  <td>&nbsp;</td>
</tr>

  