<% page_title t('message.show.heading') %>
<div id="inbox">
  <div class="col12">
    <h2><%= t('message.show.heading') %><%= render('shared/protected') %></h2>
  </div>
  <div class="col8">
    <div class="conversation">
      <h5 class="navBack">
        <%= link_to t('message.link.inbox_return'), user_messages_path(current_user) %>
      </h5>
      <div class="header bgGrey defaultRound">
        <h3 class="textBlack"><%= t('message.label.subject') %>: <%= @message.subject_display %><span class="participants"><%= t('message.show.label.opening', :sender => @message.sender.username, :receiver => @message.receiver.username) %></span></h3>
        <h4 class="textBlack"><%= generate_label_for_related_trip_or_seek(@message.trip_id, @message.seek_id) %></h4>
      </div>
      <%= render 'conversation', :locals => {:message => @message} %>
      <% @messages.each do |message| %>
        <%= render 'conversation', :locals => {:message => message} %>
      <% end %>
      <br/>
      <% if (@message.trip_id or @message.seek_id or @message.suggested_item_id) and session[:new] %>
        <% session[:new] = false %>
        <div class="callForBrowsing">
          <p>
            <% if @message.suggested_item_id %>
              <% continue_browsing_url = suggested_item_path(Item.find(@message.suggested_item_id)) %>
              <% link_to continue_browsing_url,  :class => "btnAction" do %>
                <%= t('message.link.continuebrowsing_item', :origin=>Trip.find(@message.trip_id).origin_city.name) %>
              <% end %>
            <% elsif @message.trip_id %>
              <% continue_browsing_url = search_trip_path(:origin => City.find(Trip.find(@message.trip_id).origin_city).name, :destination =>City.find(Trip.find(@message.trip_id).destination_city).name) %>
              <% link_to continue_browsing_url,  :class => "btnAction" do %>
                <%= t('message.link.continuebrowsing_trip', :origin =>Trip.find(@message.trip_id).origin_city.name, :destination=> Trip.find(@message.trip_id).destination_city.name) %>
              <% end %>
            <% elsif @message.seek_id %>
              <% continue_browsing_url = search_seek_path(:origin => City.find(Seek.find(@message.seek_id).origin_city).name, :destination =>City.find(Seek.find(@message.seek_id).destination_city).name) %>
              <% link_to continue_browsing_url,  :class => "btnAction" do %>
                <%= t('message.link.continuebrowsing_seek', :origin =>Seek.find(@message.seek_id).origin_city.name, :destination=>Seek.find(@message.seek_id).destination_city.name) %>
              <% end %>
            <% end %>
          </p>
        </div>
      <% else %>
      <% end %>
      <%= render 'reply_form', :locals => {:user_id => @user} %>
      <h5 class="navBack">
        <%= link_to t('message.link.inbox_return'), user_messages_path(current_user) %>
      </h5>
    </div>
  </div>
  <div class="col4 messageRightPanel">
    <%= render 'protection_widget' %>
    <% if @message.escrow.blank? and @message.reviewable_by(current_user) %>
      <div class="bgGrey defaultRound" id="messageReview">
        <h4 class="textBlack"><%= t('message.show.label.review') %></h4>
        <br/>
        <p>
          <% receiver = @message.not_this_user(current_user) %>
          <% id_to_use = @message.thread_starter? ? @message.id : @message.parent.id %>
          <%= link_to new_user_review_path(:user_id => receiver.id, :message_id => id_to_use), :class => 'btnAction' do %>
            <%= image_tag "icon-thumb.png", :size => "10x14" %>
            <%= t('review.label.give', :receiver => receiver.username) %>
          <% end %>
        </p>
      </div>
      <%= sticky_js 'messageReview' %>
    <% end %>
  </div>
</div>
