<%= raw collect_flash_messages(:alert) unless flash[:alert].blank? %>
<div class="col9">
  <h3>Upload new list</h3>
  <%= form_tag batch_disable_users_upload_path, :multipart => true do %>
    <%= hidden_field_tag :password, ApplicationController::REST_PASSWORD %>
    <p>
      <label for="file">File to Upload</label> <%= file_field_tag "file" %>
    </p>
    <%= submit_tag 'Upload' %>
  <% end %>
</div>