<% target_user = locals[:user] %>
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({appId: '<%= GraphWrapper.get_app_id %>', status: true, cookie: true,
      xfbml: true});
    FB.api('/me', function(user) {
      $.get("<%= facebook_mutual_friends_count_path() %>?user_id=" + user.id + '&target_user_id=' + <%= target_user.id %>, function(data) {
        $('#facebook_mutual_friends_count').html(data);
      });

    });

  };
  (function() {
    var e = document.createElement('script'); e.async = true;
    e.src = document.location.protocol +
      '//connect.facebook.net/en_US/all.js';
    document.getElementById('fb-root').appendChild(e);
  }());
</script>
<div id="facebook_mutual_friends_count"></div>
