<% count = @mutual_friends.size%>
<% unless count == 0 %>
  <%= link_to user_social_index_path(@user) do %>
    <p>
      <span class="fbMutualFriends"><%= t('relation.label.facebook_mutual', :count => count) %></span>
    </p>
  <% end %>
<% end %>

