<% page_title t('seek.index.link') %>
<div id="dashboard">
  <%= render 'reminder' %>
  <%= render 'menu' %>
  <div class="col9">
    <div class="dashboardPlc bgLightBlue defaultRound">
      <h4><%= t('seek.index.link') %></h4>
      <div id="searchResults" class="dashboard activity">
        <div id="dashboard_activity">
          <div id="seeks">
            <% if @seeks.size > 0 %>
              <% for seek in @seeks %>
                <%= render "seek", :locals => {:seek => seek} %>
              <% end %>
            <% else %>
              <div class="notificationBar yellow"><%= t('seek.index.no_result') %> </div>
            <% end %>
          </div>
        </div>
      </div>
      <%= get_more_will_paginate(@seeks, 'seeks_pagination') %>
    </div>
  </div>
</div>
