<% count = @mutual_friends.size%>
<% unless count == 0 %>
  <p>
    <%= link_to user_social_index_path(@user) do %>
      <span class="fbMutualFriends"><%= t('relation.label.facebook_mutual', :count => count) %></span>
    <% end %>
  </p>
<% end %>

