<% insurance = locals[:insurance] %>
<script type="text/javascript">
  $(document).ready(function() {
    $('#linkBankTransferPopup').fancybox({
      'transitionIn' : 'none',
      'transitionOut' : 'none',
      'scrolling': 'no'
    });
  });
</script>
<% if current_user == insurance.buyer %>
  <br/>
  <p>
    <%= link_to t('insurance.widget.label.bank_transfer'), '#bankTransferPopup', :class => 'btnAction', :id => 'linkBankTransferPopup' %>
  </p>
<% end %>
<div style="display: none">
  <div id="bankTransferPopup">
    <div class="col6 bgLightYellow defaultRound">
      <h3 class="textBlack alignCenter"><%= t('escrow.redirect_indonesia_bank_transfer.label.intro') %></h3>
      <p class="alignCenter">
        <%= image_tag 'bca.png' %>
      </p>
      <div class="largerText">
        <%= render 'insurances/bank_transfer_widget', :locals => {:insurance => insurance} %>
      </div>
    </div>
  </div>
</div>
