<% seek = locals[:seek] %>
<% origin_city = seek.origin_city %>
<% destination_city = seek.destination_city %>
<% item_count = locals[:item_count] %>
<% max = 0 %>
<% if item_count %>
  <%  max = item_count %>
<% else %>
  <%  max = seek.items.size %>
<% end %>
<% counter = 1 %>
<div class="routeDisplay bgBlue">
  <%= render 'shared/city', :locals => {:city => seek.origin_city} %>
  &nbsp;<strong>&gt;</strong>&nbsp;
  <%= render 'shared/city', :locals => {:city => seek.destination_city} %>
</div>
<% unless seek.departure_date.nil? %>
  <div class="periodDisplay bgYellow">
    <strong><%= t(seek.departure_date_predicate, :scope => 'date_predicate') unless seek.departure_date_predicate.nil? %> <%= l(seek.departure_date) %></strong>
  </div>
<% end %>
<% unless seek.items.empty? %>
  <div class="offerDisplay bgWhite">
    <strong><%= t('seek.field.label.items_short')%></strong>
    <br/>
    <% seek.items.each do |item|  %>
      <% if counter <= max %>
          <%= item.name %> 
          <%  if !item.tip.blank? %>
            <em>(<span class="tip"><%= t('seek.show.label.tip')%></span>&nbsp;<%=item.tip_with_unit%>)</em>
          <% end %>
          <br/>
      <% else %>
        <% break %>
      <% end %>
      <% counter+=1 %>
    <% end %>
  </div>
<% end %>