<% receiver = sent.receiver %>
<tr>
  <td style="vertical-align: top">
    <span class="profile-picture"><%= image_tag receiver.avatar.url(:thumb), :align => 'center' %></span>
  </td>
  <td>
    <div class="message-name"><strong><%= t('message.field.label.receiver') %>:</strong> <%= link_to receiver.username, user_path(receiver) %>
      <span class="grey-date">
        <i><br/><%= l(sent.created_at) %><br/><%= date_age_in_words sent.created_at %></i>
      </span>
    </div>
  </td>
  <td>
    <div class="message-content blue-link">
      <%= link_to sent.subject_display, user_message_path(current_user, sent) %><br/>
      <% body = sent.body %>
      <% body = body.slice(0,100) + "..." unless body.length <= 100 %>
      <%= body %>
    </div>
  </td>
</tr>
