<% escrow = locals[:escrow] %>
<% if current_user.eql?(escrow.seller) %>
  <%= form_tag seller_got_item_escrows_path do %>
    <%= hidden_field_tag :escrow_id, escrow.id %>
    <%= submit_tag t('escrow.actions.paypal_notified.seller_got_item') %>
  <% end %>
  <%= form_tag seller_cancelled_escrows_path do %>
    <%= hidden_field_tag :escrow_id, escrow.id %>
    <%= submit_tag t('escrow.actions.paypal_notified.seller_cancelled') %>
  <% end %>
<% end %>