<% user = @story.user %>
<%= page_title @story.title %>
<div class="col4">
  <% if !@story.title.blank? %>
      <h2><%= @story.title %></h2>
  <% end %>
  <% link_to profile_path(user.username) do %>
      <h4><%= raw t('stories.general.by', :user => user.username) %></h4>
  <% end %>
</div>
<div class="col4 defaultRound padding2point5 bgLightYellow">
  <div id="viewStory">

    <div class="info">
      <% unless @story.active? %>
          <div class="notificationBar yellow">
            <%= t('stories.show.label.not_active') %>
          </div>
      <% end %>

      <p>
        <% url = story_url(@story) %>
        <%= render 'shared/social_share_story', :locals => {:url => url, :title => @story.title} %>
      </p>
      <br/>

      <p><%= auto_link_in_new_tab(@story.body) %></p>
      <% @story.story_pictures.each_with_index do |story_picture, index| %>
          <% identifier = "story_" + @story.id.to_s + "_story_picture_" + index.to_s %>
          <%= picture_popup_js(identifier) %>
          <p align="center">
            <%= link_to story_pictures_path(:story_id => @story.id, :story_picture_id => @story_picture.id) do %>
                <%= image_tag story_picture.attachment(:original), :align => 'center', :class => 'photo', :width => '50%' %>
            <% end %>
          </p>
      <% end %>
    </div>
  </div>
  <br clear="all"/> <br clear="all"/>

  <div class="alignleft edit">
    <% if logged_in? and @story.owner?(current_user) %>
        <%= link_to t('stories.edit.link'), edit_story_path(@story), :class => 'btnAction' %>
    <% end %>
  </div>

</div>
