<% page_title t('search_seek.index.label.heading') %>
<%= render 'shared/search_sub_menu' %>
<div class="content-left text-01">
  <div class="table-half-page">
    <div style="padding-bottom: 10px;" class="heading-text-orange"><%= t('search_seek.index.label.heading') %></div>
    <p><b><%= t('search_seek.index.label.intro') %></b></p>
    <div class="search-form">
      <ul class="panel-blue" style="width: 580px;">
        <li>
          <div class="fieldset-group">
            <fieldset style="float: left;">
              <legend><%= t('seek.field.label.origin') %></legend>
              <%= location_auto_complete_js 'origin' %>
              <%= text_field_tag 'origin', params[:origin], :size => 30, :class => 'textbox-01' %>
            </fieldset>
            <fieldset>
              <legend><%= t('seek.field.label.destination') %></legend>
              <%= location_auto_complete_js 'destination' %>
              <%= text_field_tag 'destination', params[:destination], :size => 30, :class => 'textbox-01' %>
            </fieldset>
          </div>
        </li>
        <%
        search_more_options_style = 'display:none'
        toggle_text = t('general.more_options');
        if params[:departure_date_predicate] or params[:departure_date] or params[:notes]
          search_more_options_style = ''
          toggle_text = t('general.hide_options');
        end
        %>
        <div id="search-more-options" style="<%= search_more_options_style %>">
          <li>
            <div class="fieldset-group">
              <fieldset style="float:left;">
                <legend><%= t('search_seek.index.label.notes') %></legend>
                <%= text_field_tag 'notes', params[:notes], :size => 30, :class => 'textbox-01' %>
              </fieldset>
            </div>
            <div class="fieldset-group">&nbsp;</div>
          </li>
          <li>&nbsp;</li>
        </div>
        
        <li>
          <div class="fieldset-group" style="padding-top: 5px;">
            <div id="option">
              <span class="blue-link" style="padding-left: 10px;"><a href=""id="search-form-toggle"><%= toggle_text %></a></span>
              <script type="text/javascript">
                $("#search-form-toggle").click(function () {
                  $("#search-more-options").toggle();
                  $("#notes").val('');
                  current_toggle_text = $("#search-form-toggle").text();
                  more_options_text = '<%= t('general.more_options') %>';
                  hide_options_text = '<%= t('general.hide_options') %>';

                  if (current_toggle_text == more_options_text)
                  {
                    $("#search-form-toggle").text(hide_options_text);
                  }
                  else
                  {
                    $("#search-form-toggle").text(more_options_text);
                  }
                  return false;
                });
              </script>
            </div>
            <div id="button" class="buttonlink-blue">
              <span style="float: left;">
                <strong><a href="javascript:buildSearchTripURL()">Search</a></strong>
              </span>
            </div>
          </div>
        </li>
        <li>&nbsp;</li>
      </ul>
    </div>   
  </div>
  <div class="table-half-page">
    <div style="text-align: left; padding-bottom: 10px;" class="heading-text-orange"><%= t('search_seek.index.label.result') %></div>
    <div id="seeks">
      <% if @seeks.size > 0 %>
        <% for seek in @seeks %>
          <%= render 'shared/seek_summary', :locals => {:seek => seek, :show_description => true} %>
        <% end %>
      <% else %>
        <%= t('search_seek.index.label.no_result') %>
      <% end %>
    </div>
    <div style="text-align: center">
        <%= will_paginate(@seeks, :renderer => TwitterPagination::LinkRenderer, :id => 'seeks_pagination') %>
      </div>
  </div>
</div>