<%= render 'shared/guide_menu' %>
<% page_title t('content.link.guide') %>
<div class="col8">
  <h3 class="textBlack">For requester</h3>
</div>
<div class="col4">
  <p><%= image_tag 'guide/review.png', :class => 'tipsIcon' %><strong>Review</strong><br/>Make a deal with
    user who has a complete profile and good review.
  </p>
</div>
<div class="col4">
  <p><%= image_tag 'guide/legal.png', :class => 'tipsIcon' %><strong>Legal stuff</strong><br/>
    Please do not request for illegal item. Bistip forbids illegal item transaction.
  </p>
</div>
<div class="col4">
  <p><%= image_tag 'guide/payment.png', :class => 'tipsIcon' %><strong>Payment deal</strong><br/>
    Make a clear deal about the payment and the tip that you will give.
  </p>
</div>
<div class="col4">
  <p><%= image_tag 'guide/rekber.png', :class => 'tipsIcon' %><strong>Bistip SafePay</strong><br/>
    You can use Bistip SafePay to ensure the requester can pay you. See this <%= link_to t('content.link.safepay'), safepay_path %> page for more information.
  </p>
</div>
<div class="col4">
  <p><%= image_tag 'guide/insurance.png', :class => 'tipsIcon' %><strong>Bistip Insurance</strong><br/>Insure your item against loss,
     See the <%= link_to 'Bistip Insurance', insurances_path %> page for more information</p>
</div>