<% page_title t('content.link.widget') %>
<div class="col4, padding2point5">
  <h2><%= t('content.link.widget') %></h2>
  <div class="alignCenter">
    <iframe src="<%= widget_search_url %>" width="300" height="258" scrolling="no" frameborder="0"></iframe>
  </div>
  <br/>
  <h3 class="textBlack">How to get</h3>
  <p>
    Visitor of your site might like our service? we have a widget for you to use. Copy and paste this code snippet into your webpage:
  </p>
  <textarea cols="35" rows="6" readonly="readonly"><iframe src="<%= widget_search_url %>" width="300" height="258" scrolling="no" frameborder="0"></iframe></textarea>
  <p>
    Feel free to <%= link_to 'contact us', contact_us_path %> if there is any problem.
  </p>
</div>
<% render 'shared/static_menu' %>