<div class="col3">
  <nav id="dashboardMenu">
    <%= render_sub_menu_link t('dashboard.link.general'), [dashboard_path] %>
    <%= render_sub_menu_link t('user.show.link'), [dashboard_profile_path,
        {:controller => 'users', :action => "edit", :id => current_user.id},
        {:controller => 'passwords', :action => "edit"},
        {:controller => 'passwords', :action => "update"},
        {:controller => 'users', :action => "update", :id => current_user.id},
        edit_user_configuration_path(:user_id => current_user.id, :id => current_user.user_configuration.id),
        influencer_point_user_path(:id => current_user.id)] %>
    <% if check_selected_sub_menu([dashboard_profile_path,
        {:controller => 'users', :action => "edit", :id => current_user.id},
        {:controller => 'passwords', :action => "edit"},
        {:controller => 'passwords', :action => "update"},
        {:controller => 'users', :action => "update",:id => current_user.id},
        edit_user_configuration_path(:user_id => current_user.id, :id => current_user.user_configuration.id),
        influencer_point_user_path(:id => current_user.id)]) %>
      <div class="submenu">
        <%= link_to t('user.show.link'), dashboard_profile_path %>
        <%= link_to t('user.edit.link'), edit_user_path(current_user) %>
        <%= link_to t('password.edit.link'), edit_password_path %>
        <%= link_to t('configuration.edit.link'), edit_user_configuration_path(:user_id => current_user.id, :id => current_user.user_configuration.id) %>
        <%= link_to t('influencer.link'), influencer_point_user_path(:id => current_user.id) %>
      </div>
    <% end %>
    <%= render_sub_menu_link t('dashboard.link.activity'), [dashboard_trips_path, dashboard_seeks_path] %>
    <% if check_selected_sub_menu([dashboard_trips_path, dashboard_seeks_path]) %>
    <div class="submenu">
        <%= link_to t('trip.index.link'), dashboard_trips_path %>
        <%= link_to t('seek.index.link'), dashboard_seeks_path %>
    </div>
    <% end %>
    <%= render_sub_menu_link t('dashboard.link.escrows'), [dashboard_transactions_path] %>
    <%= render_sub_menu_link t('user.field.label.reputation'), [dashboard_reputation_path] %>
    <%= render_sub_menu_link t('dashboard.link.recommendation'), [get_recommendation_path] %>
  </nav>
</div>
