<% page_title t('seek.index.link') %>
<%= render 'shared/user_sub_menu' %>
<div class="content-left">
  <div class="heading-text-orange" style="padding-bottom: 10px;"><%= t('seek.index.link') %></div>
  <table class="text-01" id="seeks">
    <tbody id="seeks">
      <% if @seeks.size > 0 %>
        <% for seek in @seeks %>
        <%= render 'seek_row', :locals => {:seek => seek} %>
      <% end %>
      <% else %>
        <i><%= t('seek.index.no_result') %> </i>
      <% end %>
    </tbody>
  </table>
  <div style="text-align: center;">
    <%= will_paginate(@seeks, :renderer => TwitterPagination::LinkRenderer, :id => 'seeks_pagination') %>
  </div>
</div>
