<% page_title t('topic.new.heading') %>
<div class="text-01">
  <div style="padding-top: 20px; padding-bottom: 20px;" class="header01"><%= t('topic.new.heading') %></div>
  <%= render 'form' %>
</div>