<div class="plc">
  <div class="lines">
    <div class="col3">
      <%= render 'social_tertiary' %>
    </div>
    <% rndm=rand(3)+1 %>
    <% if rndm==1 %>
        <div class="col3">
          <%= link_to guide_path do %>
              <%= image_tag 'safety.png', :alt => 'Panduan Keamanan', :class => 'defaultShadow' %>
          <% end %>
        </div>
    <% else %>
        <div class="col3">
          <%= link_to safepay_path do %>
              <%= image_tag 'banners/safepay.png', :alt => 'Easy and secure transaction with Bistip SafePay', :class => 'defaultShadow' %>
          <% end %>
        </div>
    <% end %>
    <div class="col3">
      <h4>
        <%= link_to how_path do %>
            <%= image_tag 'img-cara-kerja.png', :alt => 'Cara Kerja Bistip', :class => 'defaultShadow' %>
        <% end %>
      </h4>
    </div>

    <div class="col3">
      <h4>
        <%= link_to 'http://crunchies2011.techcrunch.com/nominate/?MTA6YmlzdGlwLmNvbQ==', :target => '_blank' do %>
            <%= image_tag 'banners/crunchies.png', :alt => 'Vote us', :class => 'defaultShadow' %>
        <% end %>
      </h4>
    </div>

  </div>
  <br clear="all"/>
</div>
