<div class="col9">
  <h3><%= t('relation.index.heading', :username => @user.username) %></h3>
  <p class="navBack">
    <%= link_to t('general.link_return'), :back %>
  </p>
  <%= render 'facebook/mutual_friends_caller', :locals => {:user => @user} %>
  <% if @user.received_relations.size > 0 %>
    <% @user.received_relations.each do |relation| %>
      <% user = User.find(relation.from_id) %>
      <%= render 'shared/user_medium', :locals => {:user => user} %>
    <% end %>
  <% else %>
    <div class="notificationBar yellow"><%= t('relation.index.unknown', :username => @user.username) %></div>
  <% end %>
</div>

