<%= form_for(@story) do |f| %>
    <% if logged_in? %>
        <h3 class="textBlack"><%= t('stories.general.heading') %></h3>
        <p>
          <label><%= t('stories.new.label.title') %></label>
          <%= f.text_field :title, :size => 30, :class => 'textbox-01' %>
        </p>
        <p>
          <label><%= t('stories.new.label.body') %></label>
          <%= enable_character_counter('story_body', 1000) %>
          <%= f.text_area :body, :rows => 8, :cols => 40, :class => 'textbox-01' %>
        </p>
        <p>
          <%= f.submit t('button.send'), :class => 'defaultButton' %><%= link_to t('button.cancel'), :back, :class => 'cancelLink' %>
        </p>
    <% end %>
<% end %>