<blockquote class="blockquote">
  <h3><%= story.title %></h3>
  "<%= story.body %>"
  <br />
  <br />

  <strong>- <%= link_to story.user.username, profile_path(story.user.username) %> -</strong>

  <br />

  <%= link_to profile_path(story.user.username) do%>
    <div class="alignright">
            <div class="avatar">
                <%= image_tag story.user.avatar.url, :size => "36x36", :class => "photo" %>
            </div>
    </div>
  <% end %>
  <br />
  <br />
</blockquote>

