<% if @stories.size > 0 %>
    <div id="story">
      <div id="paginationData">
        <%= render :partial => 'story', :collection => @stories %>
      </div>
    </div>
<% end %>
<div>
  <%= get_will_paginate @stories %>
</div>