<%= render 'shared/static_menu' %>
<div class="col9">
  <h2><%= t('stories.general.heading') %></h2>

  <h3 class="textBlack"><%= raw t('home.index.label.story', :href => link_to(t('general.here'), new_story_path, :class => 'btnAction')) %></h3>
  <div id="stories">
    <%= render 'stories' %>
    </div>

</div>