<% page_title t('stories.general.heading') %>
<div id="story">
  <div class="col12">
    <h2><%= t('stories.general.heading') %></h2>
  </div>
  <div class="col7 bgLightYellow defaultRound">
    <%= render 'form' %>
  </div>
</div>
