<% comment = locals[:comment] %>
<% reply_comment_id = locals[:reply_comment_id] %>
<% user = comment.user %>
<% replied_comment = (reply_comment_id == comment.id) %>
<% reply_body = comment_session(:item_reply_comment) if replied_comment %>
<div class="commentRow" id="<%= comment.internal_id %>">
  <div class="avatar">
    <%= render 'shared/trusted_badge', :locals => {:user => user} %>
    <%= link_to profile_path(user.username) do %>
      <%= image_tag user.avatar.url, :size=>"48x48", :class => "photo" %>
    <% end %>
    <div class="tools">
      <%= render 'shared/send_message_lite', :locals => {:user => user} %>
    </div>
  </div>

  <div class="info">
    
    <h5>
      <%= link_to user.username, profile_path(user.username) %>
      <span>&nbsp;&ndash;&nbsp;<%= smart_date_display(comment.created_at) %> </span>
      <% if logged_in? and !comment.deleted and comment.user==current_user%>
        <span class="deleteButton">
          <%= link_to t("comment.deletebutton"), item_comment_path(comment.item.id, comment.id), :confirm => t('general.are_you_sure'), :method => :delete, :class => "delete" %>
        </span>
      <% end %>
    </h5>
    <p>
      <%= auto_link_in_new_tab_without_simple_format comment.body_display %>
    </p>


    <% comment.replies.each do |reply| %>
      <%= render 'item_comments/item_comment_reply', :reply => reply %>
    <% end %>

    <% if logged_in? %>
      <div class="replyTools">
        <%= link_to t('general.reply'), "", :onclick => "$(\"##{comment.reply_internal_id}\").toggle(); return false;" %>
      </div>

      <div id="<%= comment.reply_internal_id %>" class="replyComment" style="<%= 'display: none' unless replied_comment %>">
        <%= form_for([@item.becomes(Item), Comment.new]) do |f| %>
          <%= f.hidden_field :reply_to_id, :value => comment.id %>
          <%= f.text_area :body, :rows => 3, :cols => 48, :value => reply_body %>
          <%= f.submit t('button.send'), :class => 'btnAction', :disable_with => t('button.disabled') %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

