<% page_title t('message.link.sent') %>
<div class="col12">
  <h2><%= t('message.link.sent') %><%= render('shared/protected') %></h2>
  <%= render 'shared/message_sub_menu' %>
</div>
<div class="col8">
  <div id="inbox">
    <div id="sents">
    <%= render 'sents' %>
    </div>
  </div>
</div>