<% page_title t('configuration.edit.label') %>
<%= render 'shared/user_sub_menu' %>
<%= render 'shared/user_profile_sub_menu' %>
<div class="content-left">
  <%= form_for(@config) do |f| %>
    <table cellspacing="0" cellpadding="0"  class="text-01">
      <tbody>
        <tr>
          <td><%=  t('configuration.field.label.message')%></td>
          <td><%= f.check_box :email_receive_message%></td>
        </tr>
        <tr style="background-color: lightgoldenrodyellow;">
          <td><%= t('configuration.field.label.trip_comment')%></td>
          <td><%= f.check_box :email_receive_trip_comment%></td>
        </tr>
        <tr>
          <td><%= t('configuration.field.label.seek_comment')%></td>
          <td><%= f.check_box :email_receive_seek_comment %></td>
        </tr>
        <tr style="background-color: lightgoldenrodyellow;">
          <td><%= t('configuration.field.label.reputation')%></td>
          <td><%= f.check_box :email_receive_reputation %></td>
        </tr>
        <tr>
          <td><%= t('configuration.field.label.match_seek')%></td>
          <td><%= f.check_box :email_match_seek %></td>
        </tr>
        <tr style="background-color: lightgoldenrodyellow;">
          <td><%= t('configuration.field.label.match_trip')%></td>
          <td><%= f.check_box :email_match_trip %></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td colspan="2" style="text-align: center"><%= f.submit t('button.submit'), :class => 'button-register' %> / <%= link_to t('button.cancel'), profile_path(@user.username) %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>
