<div id="paginationData">
<% if @seeks.size > 0 %>
        <% for seek in @seeks do%>
            <% if params[:keyword] %>
              <%= render 'shared/seek_summary', :locals => {:seek => seek, :keyword_specified => true, :ref => TrackLink.generate(request.path,TrackLink::SRC_SK)} %>
            <% else %>
              <%= render 'shared/seek_summary', :locals => {:seek => seek, :item_count => SeekItem::SUMMARY_COUNT, :ref => TrackLink.generate(request.path,TrackLink::SRC_SK)} %>
            <% end %>
          <% end %>
        <% else %>
          <div class="notificationBar yellow"><%= t('search_trip.index.label.no_result') %></div>
        <% end %>
         <div>
    <%= get_will_paginate @seeks %>
  </div>
</div>