<% escrow = locals[:escrow] %>
<% if escrow.payment_method_bank_trasnfer? %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#linkBankTransferPopup').fancybox({
        'transitionIn' : 'none',
        'transitionOut' : 'none',
        'scrolling': 'no'
      });
    });
  </script>
  <% if current_user == escrow.buyer %>
    <br/>
    <p>
      <%= link_to t('escrow.widget.label.bank_transfer'), '#bankTransferPopup', :class => 'btnAction', :id => 'linkBankTransferPopup' %>
    </p>
  <% end %>
  <div style="display: none">
    <div id="bankTransferPopup">
      <div class="col6">
        <h3><%= t('escrow.redirect_indonesia_bank_transfer.label.header') %></h3>
        <p>
          <%= raw t('escrow.redirect_indonesia_bank_transfer.label.intro', :amount => '<strong>' + escrow.amount_after_fee_with_currency + '</strong>') %>
        </p>
        <div class="widget bgLightYellow">
          <%= render 'escrows/bank_transfer_widget', :locals => {:escrow => escrow} %>
        </div>
        <br/>
        <p><%= t('escrow.redirect_indonesia_bank_transfer.label.after_transfer') %></p>
        <ul>
          <li><%= raw t('escrow.redirect_indonesia_bank_transfer.label.send_email', :email => '<a href="mailto:team@bistip.com?Subject=SafePay">team@bistip.com</a>') %></li>
          <li><%= raw t('escrow.redirect_indonesia_bank_transfer.label.send_message', :link => (link_to 'Admin', new_message_path(:user => 'admin'))) %></li>
        </ul>
      </div>
    </div>
  </div>
<% end %>