<% escrow = locals[:escrow] %>
<% if escrow.payment_method_bank_trasnfer? %>
  <% if current_user == escrow.buyer %>
    <br/>
    <p>
      <%= link_to t('escrow.widget.label.bank_transfer'), '', :class => 'btnAction', :id => 'linkBankTransferPopup', :onclick => '$("#bankTransferPopup").toggle(); return false;' %>
    </p>
  <% end %>
  <div id="bankTransferPopup" style="display: none">
    <br/>
    <div class="widget">
      <%= render 'escrows/bank_transfer_widget', :locals => {:escrow => escrow} %>
    </div>
  </div>
<% end %>