<div id="nextTrip">
  <% unless @trip.previous.blank? %>
    <h4><%= t('trip.show.label.previous', :username => @trip.user.username) %></h4>
    <br/>
    <%= render 'shared/trip_summary_mini', :locals => {:trip => @trip.previous, :show_user => false, :ref => TrackLink.generate(request.path.split("-")[0], TrackLink::TRIP_PREV, @trip.id)} %>
    <br/>
  <% end %>
</div>
<div id="previousTrip">
  <% unless @trip.upcoming.blank? %>
    <h4><%= t('trip.show.label.next', :username => @trip.user.username) %></h4>
    <br/>
    <%= render 'shared/trip_summary_mini', :locals => {:trip => @trip.upcoming, :show_user => false, :ref => TrackLink.generate(request.path.split("-")[0], TrackLink::TRIP_NEXT, @trip.id)} %>
    <br/>
  <% end %>
</div>

