<% page_title t('seek.edit.link') %>
<div class="col4">
  <h2><%= t('seek.edit.link') %></h2>
</div>
<div class="col4 bgLightBlue defaultRound">
  <h3 class="textBlack"><%= t('seek.new.label.intro') %></h3>
  <%= render 'form', :locals => {:cancel_path => seek_path(@seek)}%>
</div>
