<% page_title @seek.to_s %>
<% user = @seek.user %>
<% meta_description "#{@seek.to_s} #{@seek.notes} #{user.meta_desc}" %>
<% meta_keywords @seek.item.name %>

<div class="col12">
  <h2><%= t('seek.show.label.heading') %></h2>
  <p class="navBack">
    <%= link_to t('general.link_return'), :back %>
  </p>
</div>
<div class="col8 bgLightBlue defaultRound">
  <div id="viewWanted">
    <div class="avatar">
      <%= render 'shared/trusted_badge', :locals => {:user => user} %>
      <%= image_tag user.avatar.url, :size => "84x84", :class => "photo" %> <h5><%= link_to user.username, profile_path(user.username) %></h5>
      <div class="tools">
        <%= render 'shared/user_review_link', :locals => {:user => user} %>
      </div>
      <% if logged_in? and @seek.owner?(current_user) and @seek.active? %>
        <div class="adminTools">
          <%= link_to t('seek.edit.link_short'), edit_seek_path(@seek) %>
          <%= link_to t('seek.destroy.link_short'), @seek, :confirm => t('general.are_you_sure'), :method => :delete, :class => "delete" %>
        </div>
      <% end %>
    </div>
    <div class="info">
      <% unless @seek.active? %>
        <div class="notificationBar red">
          <%= t('seek.show.label.not_active') %>
        </div>
      <% end %>
      <div class="infoBlock defaultRound">
        <%= render 'shared/seek_data', :locals => {:seek => @seek, :extra_info => true} %>
        <% unless @seek.item.pictures.blank? %>
          <br/>
          <% @seek.item.pictures.each_with_index do |item_picture, index| %>
            <% identifier = "seek" + @seek.id.to_s + "_item_picture_" + index.to_s %>
            <%= picture_popup_js(identifier) %>
            <%= link_to item_picture.attachment(:original), :id => identifier do %>
              <%= image_tag item_picture.attachment(:thumb), :class => 'photo bgWhite', :size => '50x50' %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <% unless @seek.notes.blank? %> <h5><%= t('seek.field.label.notes') %></h5>
        <p>
          <%= auto_link_in_new_tab @seek.notes_display %>
        </p>
      <% end %>
      <p>
        <% if logged_in? %>
          <% if current_user.sent_messages.find_all_by_seek_id_and_thread_starter(@seek.id, true).any? %>
            <br />
            <% link_to message_path(:id=>current_user.sent_messages.find_all_by_seek_id(params[:id]).first.id), :class => "btnAction" do %>
              <%= image_tag 'icon-email-bistiper.png', :size => "22x14" %>&nbsp;
              <%= t('message.link.seek_contacted', :username => user.username) %>
            <% end %>

          <% elsif !@seek.owner?(current_user) %>
            <br />
            <%= link_to new_message_path(:user => user.username, :seek_id => @seek.id), :class => "btnAction" do %>
              <%= image_tag 'icon-email-bistiper.png', :size => "22x14" %>&nbsp;
              <%= t('message.link.seek', :username => user.username) %>
            <% end %>
            <br/>
          <% end %>
        <% else %>
          <br/>
          <%= link_to new_message_path(:user => user.username, :seek_id => @seek.id), :class => "btnAction" do %>
            <%= image_tag 'icon-email-bistiper.png', :size => "22x14" %>&nbsp;
            <%= t('message.link.seek', :username => user.username) %>
          <% end %>
          <br/>
        <% end %>
        <%= render 'shared/social_share', :locals => {:url => seek_url(@seek), :title => @seek.to_s, :owner => @seek.user } %>
      </p>
    </div>
  </div>
  <br clear="all"/>
  <div id="comments" class="bgWhite defaultRound">
    <%= render 'comments' %>
  </div>
</div>
<div class="col4">
  <h4 class="textBlack"><%= t('message.show.label.safepay') %></h4>
  <br/>
  <p><%= raw t('message.show.label.safepay_avoid') %> - <strong> <%= link_to t('general.how_it_works'), safepay_path, :target => '_blank' %></strong></p>
  <% if logged_in? and current_user == user and @seek.active? %>
    <div class="bgGrey defaultRound activePeriod">
      <%= t('seek.show.label.active') %><br/><strong><%= l(@seek.created_at + Seek::MAXIMUM_AGE.days) %></strong>
    </div>
    <br/>
  <% end %>
  <% if logged_in? and current_user == user and !@seek.find_matching_trips.blank? %>
    <div id="match">
      <h4><%= t('seek.show.label.match_heading') %></h4>
      <% @seek.find_matching_trips.take(Seek::SUMMARY_MATCH_COUNT).each do |match_trip| %>
        <%= render 'shared/trip_summary_mini', :locals => {:trip => match_trip, :ref => TrackLink.generate(request.path, TrackLink::MATCH, @seek.id)} %>
      <% end %>
      <% if @seek.find_matching_trips.size > Trip::SUMMARY_MATCH_COUNT %>
        <p>
          <%= link_to t('general.see_all'), match_seek_path(@seek, :ref => TrackLink.generate(request.path, TrackLink::MATCH_SEE_ALL, @seek.id)) %> <span class="counter"><%= @seek.find_matching_trips.size %></span>
        </p>
      <% end %>
    </div>
  <% end %>
  <br/>
  <% if !logged_in? or (logged_in? and !(current_user == user)) %>
    <div id="viewWantedRepost">
      <h4><%= t('seek.show.label.repost_intro') %></h4>
      <br/>
      <p>
        <%= link_to new_seek_path(:original_id => @seek.id, :ref => TrackLink.generate(request.path, TrackLink::NEW_SEEK, @seek.id)), :class => 'btnActionSecond' do %>
          <%= image_tag 'icon-add-16-black.png', :size => "16x16" %>&nbsp;
          <%= t('seek.show.label.repost_action') %>
        <% end %>
      </p>
    </div>
    <br/>
  <% end %>
</div>