<% sender = message.sender %>
<tr>
  <td style="vertical-align: top">
    <%= image_tag sender.avatar.url(:thumb), :align => 'center' %>
  </td>
  <td>
    <div class="message-name"><strong><%= t('message.field.label.sender') %>:</strong> <%= link_to sender.username, user_path(sender) %><i><br/><%= l(message.created_at) %><br/><%= date_age_in_words message.created_at %></i></div>
  </td>
  <td>
    <div class="message-content blue-link">
      <% body = message.body %>
      <% body = body.slice(0,100) + "..." unless body.length <= 100 %>
      <% if !message.read? %>
        <strong><%= link_to message.subject_display, user_message_path(current_user, message) %> (<%= t('message.label.new') %>)</strong><br/><%= auto_link_in_new_tab body %>
      <% else %>
        <%= link_to message.subject_display, user_message_path(current_user, message) %><br/><%= auto_link_in_new_tab body %>
      <% end %>
    </div>
  </td>
</tr>