<% page_title t('message.link.sent') %>
<%= render 'shared/message_sub_menu' %>
<div class="text-01">
  <table id="messages" class="messages"  style="padding-left: 5px;" border="0">
    <% if @sents.size > 0 %>
      <%= render :partial => 'sent', :collection => @sents %>
    <% else %>
      <i><%= t('message.sent.no_result')%></i>
    <% end %>
  </table>
  <div style="text-align: center">
    <%= will_paginate(@sents) %>
  </div>
</div>