<% notification = locals[:notification] %>
<% sender = notification.sender %>
<div class="notificationRow">
  <div class="message">
    <h5>
      <span class="date"><%= smart_date_display(notification.created_at) %></span>
    </h5>
    <p><%= raw notification.to_link(current_user) %></p>
  </div>
</div>
