<% page_title t('trip.edit.link') %>
<div class="col4">
  <h2><%= t('trip.edit.link') %></h2>
</div>
<div class="col4 bgLightYellow defaultRound">
  <h3 class="textBlack"><%= t('trip.new.label.intro') %></h3>
  <% if !@trip.routine?%>
    <%= render 'form', :locals => {:cancel_path => trip_path(@trip)} %>
  <%else%>
    <%= render 'form_routine', :locals => {:cancel_path => trip_path(@trip)} %>
  <%end%>
</div>