<% page_title @trip.to_s %>
<div class="content-middle transitpage">
  <p>
    <%=t('influencer.label.transit_pre')%>
  </p>
  <p>
    <% data = params[:code] if params[:code] %>
    <% if data || !data.nil? %>
      <% path = insert_path(data) %>
    <% else %>
      <% path = root_path %>
    <% end %>
    <%=t('influencer.label.transit_please')%><span class="blue-link" style="font-weight: bold; font-size: 24px;"><%= link_to t('general.click_here').downcase, path %></span><%=t('influencer.label.transit_suf')%>
  </p>
  <p>
  <%= image_tag "logo.png", :border => 0, :style => 'display:none'%>
</p>
</div>

<script type="text/javascript">
  setTimeout(function() {
    window.location.href = '<%= path %>';
}, 5000);
</script>
