<% seek = locals[:seek] %>
<%= t('message.field.label.seek') %>:
<%= render 'shared/city', :locals => {:city => seek.origin_city} %>
&nbsp;<b>&gt;</b>&nbsp;
<%= render 'shared/city', :locals => {:city => seek.destination_city} %>
