<% page_title t('message.show.heading') %>
<div id="inbox">
  <div class="col12">
    <h2><%= t('message.show.heading') %><%= render('shared/protected') %></h2>
  </div>
  <div class="col8">
    <div class="conversation">
      <h3 class="textBlack"><%= t('message.label.subject') %>: <%= @message.subject_display %></h3>
      <h4 class="textBlack"><%= generate_label_for_related_trip_or_seek(@message.trip_id, @message.seek_id) %></h4>
      <h5 class="navBack">
        <%= link_to t('message.link.inbox_return'), user_messages_path(current_user) %>
      </h5>
      <%= render 'conversation', :locals => {:message => @message} %>
      <% @messages.each do |message| %>
        <%= render 'conversation', :locals => {:message => message} %>
      <% end %>
      <%= render 'reply_form', :locals => {:user_id => @user} %>
      <h5 class="navBack">
        <%= link_to t('message.link.inbox_return'), user_messages_path(current_user) %>
      </h5>
    </div>
  </div>
  <div class="col4 bgLightYellow defaultRound" id="protectionWidget">
    <% unless @message.escrow.blank? %>
      <%= render "escrows/widget", :locals => {:escrow => @message.escrow} %>
    <% else %>
      <h4 class="textBlack"><%= t('message.show.label.protection') %></h4>
      <br/>
      <p><%= t('message.show.label.deal') %></p>
      <p>
        <%= link_to t('message.show.label.rekber'), rekber_path, :class => 'btnAction', :target => '_blank' %>
      </p>
      <br/>
      <p>
        <% seller = current_user == @message.sender ? @message.receiver : @message.sender %>
        <%= link_to t('message.show.label.paypal'), new_escrow_path(:seller_id => seller, :message_id => @message.id), :class => 'btnAction' %>
      </p>
      <br/>
      <p>
        <%= link_to t('message.show.insurance.apply'), new_insurance_path(:message_id => @message.id), :class => 'btnAction' %>
      </p>
    <% end %>
  </div>
</div>
