<div class="panel-blue mid-panel">
  <div class="registered-header"><%= t('dashboard.label.call_action')%></div>
  <table width="100%">
    <tr>
      <td width="50%">
        <div class="form-border" style="padding-top: 20px; padding-bottom: 20px; width: 80%; height: 80px;">
          <div class="header01" style="text-align: center"><%= raw  t('home.index.label.bistiper') %></div>
          <div class="blue-link home-action"><%= link_to t('home.index.label.bistiper_action'), new_trip_path, :class => 'large white awesome' %></div>
        </div>
      </td>
      <td width="50%">
        <div class="form-border" style="padding-top: 20px; padding-bottom: 20px; width: 80%; height: 80px;">
          <div class="header01" style="text-align: center"><%= raw  t('home.index.label.wanted_bistiper') %></div>
          <div class="blue-link home-action"><%= link_to t('home.index.label.wanted_bistiper_action'), search_trip_path, :class => 'large white awesome' %></div>
        </div>
      </td>
    </tr>
  </table>
</div>