<% page_title t('user.field.label.reputation') %>
<div id="dashboard">
  <%= render 'reminder' %>
  <%= render 'left_menu' %>
  <div class="col9">
    <div style="width:49%;float:left;">
      <%= render 'shared/positive_reputations' %>
    </div>
    <div style="width:49%;float:right;">
      <%= render 'shared/negative_reputations' %>
    </div>
  </div>
</div>