<% page_title t('seek.index.link') %>
<div id="dashboard">
  <%= render 'reminder' %>
  <%= render 'left_menu' %>
  <div class="col9">
    <div class="dashboardPlc bgLightBlue defaultRound">
      <h4><%= t('seek.index.link') %></h4>
      <div id="searchResults" class="dashboard activity">
        <div id="dashboard_activity">
          <div id="seeks">
            <% if @seeks.size > 0 %>
              <% for seek in @seeks %>
                <div class="activityWrap">
                  <%= link_to seek_path(seek), :class => "infoBlockLink defaultRound" do %>
                    <div class="infoBlock defaultRound mid">
                      <div class="left"></div>
                      <div class="right">
                        <%= render 'shared/seek_data', :locals => {:seek => seek, :item_count => SeekItem::SUMMARY_COUNT} %>
                      </div>
                    </div>
                  <% end %>
    
                  <% if seek.active? %>
                    <div class="tools">
                      <% trips_match_count = seek.find_matching_trips.count %>
                      <% if trips_match_count > 0 %>
                        <p>
                          <%= link_to t('seek.index.table.match_count', :count => trips_match_count), match_seek_path(seek), :class => "btnAction" %>
                        </p>
                      <% end %>
                      <div class="adminTools">
                        <%= link_to t('seek.edit.link_short'), edit_seek_path(seek) %>
                        <%= link_to t('seek.destroy.link_short'), seek, :confirm => 'Are you sure?', :method => :delete, :class => "delete" %>
                      </div>
                    </div>
                  <% else %>
                  <div class="tools">
                    <div class="expireInfo">
                      <%= t('seek_summary.label.not_active') %>
                    </div>
                  </div>
                  <% end %>
                </div>
              <% end %>
            <% else %>
              <div class="notificationBar yellow"><%= t('seek.index.no_result') %> </div>
            <% end %>
          </div>
        </div>
      </div>
      
      <div style="text-align: center;">
        <%= will_paginate(@seeks, :renderer => TwitterPagination::LinkRenderer, :id => 'seeks_pagination') %>
      </div>
      
    </div>
  </div>
</div>
