<% trip = locals[:trip] %>
<% show_description = locals[:show_description] %>
<div class="summary-table">
  <div class="summary-text">
    <strong><%= t('trip_summary.label.route')%></strong>: <%= render 'shared/city', :locals => {:city => trip.origin_city} %>&nbsp;<%= image_tag 'arrow.png', :align => "absmiddle" %>&nbsp;<%= render 'shared/city', :locals => {:city => trip.destination_city} %>
    <br/>
    <% 
      comments_count = trip.comments.count
      show_label = t('trip_summary.link.details')
      if comments_count > 0
        show_label = show_label + " " + t('trip_summary.label.comments_count', :count => comments_count)
      end
    %>
    <% if !trip.routine? %>
      <strong><%= t('trip_summary.label.departure_date') %></strong>: <%= l(trip.departure_date) %> -
    <% else %>
      <strong><%= t('trip_summary.label.routine') %></strong>:
      <%= t "week_period.#{trip.period}"%> -
      <% total_day = trip.day.length %>
      <% max = total_day %>
      <% max = 2 if total_day > 2 %>
      <% 0.step(max-1,1){|i|%>
        <% if i == (max-1) %>
          <%= trip.day[i] %>
          <% if total_day > 2 %>...<% end %>&nbsp;-&nbsp;
        <% else %>
          <%= trip.day[i] %>,
        <% end %>
      <%}%>
    <% end %>
    <span class="blue-link"><%= link_to show_label, trip_path(trip) %></span>
    <% if show_description and !string_nil_or_empty?(trip.notes) %>
      <br/>
      <strong><%= t('trip_summary.label.notes') %></strong>: <i><%= highlight trip.notes, search_notes_to_array(params[:notes]) %></i>
    <% end %>
  </div>
  <% if !trip.active? %>
    <div class="summary-text">
      <i>(<%= t('trip_summary.label.departure_date_passed') %>)</i>
    </div>
  <% end %>
  <div align="right" class="summary-text">
    <strong><%= t('trip_summary.label.bistiper') %></strong>: <%= render 'shared/user_summary', :locals => {:user => trip.user} %>
  </div>
  <div class="summary-line"></div>
</div>

