<table width="95%;" border="0" class="text-01" style="background-color: #62ACE3; border-radius:5px;" >
  <tr class="form-border">
  <th style="width: 15%"><%= t('influencer.field.label.number') %></th>
  <th style="width: 55%"><%= t('influencer.field.label.influencer') %></th>
  <th><%= t('influencer.field.label.point')%></th>
  </tr>
<tbody>
  <% @influencer.each do |inf| %>
    <% color = "#DFEFFF" %>
    <% color = "#FFFFFF" if inf[0]%2==0 %>
    <tr style="background: <%=color%>">
      <td align="center" style="font-weight: bold;font-size: 14px;"><%= inf[0] %></td>
      <td align="center">
        <% user = User.find(inf[1]) %>
        <span>
          <span class="blue-link"><strong><%= link_to user.username, profile_path(user.username) %></strong>
            <% if logged_in? and user != current_user %>
              (<strong><%= link_to t('mobile.user_summary.new_message'), new_user_message_path(:user_id => user) %></strong>)
            <% elsif !logged_in? %>
              (<strong><%= link_to t('mobile.user_summary.new_message'), new_user_message_path(:user_id => user) %></strong>)
            <% end %>
          </span>
        </span>
      </td>
      <td align="center">
        <strong><%= inf[2] %></strong>
      </td>
    </tr>
  <% end %>
</tbody>
<tfoot>
  <tr style="background: #FFF;" >
    <% entry_name = t('influencer.label.influencer') %>
    <% entry_name = t('influencer.label.influencers') if @influencer.size > 1%>
    <td colspan="3" align="center"><strong><%=  will_paginate @influencer%><%= page_entries_info @influencer, :entry_name => entry_name%></strong></td>
  </tr>
</tfoot>
</table>

