<% page_title t('influencer.heading.top_influencer') %>
<div style="width: 100%;">
  <div style="padding: 3px 3px 3px 3px;">
    <br/>

    <div style="margin-left: auto; margin-right: auto;" id="influencer" align="center">
      <%= render 'influencer' %>
    </div>
  </div>
  <br/><br/>
</div>
<br/>
 <div class="form-border header-mid-text" align="center">
    Apa itu "Influencer" ?
  </div>
  <br/>
<div style="padding: 3px 3px 3px 3px;" align="center">
  <%= image_tag 'flow-id.m.png', :border => 0 %></div>
