<h3 class="padding2point5"><%= t('registered.label.whats_next') %></h3>
<div id="registered">
  <h3 class="textBlack"><%= t('registered.label.get_recomendation') %></h3>

  <div class="recommendation">
     <h4 class="textBlack"> <%= t('registered.label.share_recommend_link') %><br />
      <%= text_field_tag 'recommend', generate_recommend_url(current_user), :size => 25, :readonly => 'readonly' %></h4>

    <div style="padding-left: 5px; padding-top: 5px;">
      <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
        <a class="addthis_button_facebook" addthis:url="<%= generate_recommend_url(current_user) %>" addthis:title="<%= generate_recommend_title(current_user) %>"></a>
        <a class="addthis_button_twitter" addthis:url="<%= generate_recommend_url(current_user) %>" addthis:title="<%= generate_recommend_title(current_user) %>"></a>

        <script type="text/javascript">
            var addthis_config = {"data_track_clickback":true};
        </script>
        <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4d71069d1b32853e"></script>
        <script type="text/javascript" src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
        <fb:send href="<%= generate_recommend_url(current_user) %>" font="arial"></fb:send>
      </div>
    </div>
  </div>
  <p>&nbsp;</p>
<section id="callToAction">
      <br />
  <h3 class="textWhite"><%= t('registered.label.call_action') %></h3>

    <div class="actionOptions small defaultRound">
      <h3><%= t('home.index.label.bistiper') %></h3>
      <h4><%= link_to t('home.index.label.bistiper_action'), new_trip_path, :class=>"btnAction btnPost" %></h4>
    </div>
    <div class="actionOr small alignCenter">
      <%= t('general.or') %>
    </div>
    <div class="actionOptions small defaultRound">
      <h3><%= t('home.index.label.wanted_bistiper') %></h3>
      <h4><%= link_to t('home.index.label.wanted_bistiper_action'), search_trip_path, :class => 'btnAction btnSearch' %></h4>
    </div>
  <br />
</section>
</div>