<% page_title t('user.field.label.review') %>
<%= render 'shared/user_sub_menu', :locals => {:user => @user} %>
<% if logged_in_and_not_current_user?(@user) %>
  <div class="col12">
    <h4 class="textBlack"><%= t('review.index.intro', :username => @user.username) %>&nbsp;&nbsp;
      <%= link_to new_user_review_path(:user_id => @user), :class => 'btnAction' do %>
        <%= image_tag "icon-thumb.png", :size => "10x14" %>
        <%= t('review.label.give') %>
      <% end %>
    </h4>
  </div>
<% elsif !logged_in? %>
  <div class="col12">
    <h4 class="textBlack"><%= t('review.index.intro', :username => @user.username) %>&nbsp;&nbsp;
      <%= link_to new_user_review_path(:user_id => @user), :class => 'btnAction' do %>
        <%= image_tag "icon-thumb.png", :size => "10x14" %>
        <%= t('review.label.give') %>
      <% end %>
    </h4>
  </div>
<% end %>

<div class="col8">
  <%= render 'shared/reviews_header', :user => @user %>
  <% if @reviews.size > 0 %>
    <% @reviews.each do |review| %>
      <%= render "shared/#{review.cname}", :review => review %>
    <% end %>
  <% else %>
    <div class="notificationBar yellow"><%= t('review.index.no_result') %></div>
  <% end %>
</div>