<% page_title t('trip.similar.label.heading') %>
<div class="col12">
  <h5 class="navBack">
    <%= link_to t('general.link_return'), :back %>
  </h5>
</div>
<div class="col8 bgLightYellow defaultRound">
  <h3 class="textBlack"><%= t('trip.show.label.heading') %></h3>
  <div id="searchResults">
    <%= render 'shared/trip_summary', :locals => {:trip => @trip} %>
  </div>
</div>
<br clear="all"/>
<div id="matchList">
  <div class="col8 bgLightYellow defaultRound">
    <h3 class="textBlack"><%= t('general.suggestions') %> <span class="counter"><%= @suggested_trips.count %></span></h3>
    <div id="searchResults">
      <% for similar in @suggested_trips %>
        <%= render 'shared/trip_summary', :locals => {:trip => similar, :ref => TrackLink.generate(request.path, TrackLink::SIMILAR, @trip.id)} %>
      <% end %>
    </div>
  </div>
</div>
<br clear="all"/>
<div class="col12">
  <h5 class="navBack">
    <%= link_to t('general.link_return'), :back %>
  </h5>
</div>

