<% user = locals[:user] %>
<% positive_reputation_count = user.received_positive_reputations.count %>
<% negative_reputation_count = user.received_negative_reputations.count %>
<% if positive_reputation_count > 0 or negative_reputation_count > 0 %>
  <% total_reputation_count = positive_reputation_count - negative_reputation_count %>
  <span class="user-reputation">
    <% if total_reputation_count >= 0 %>
      <%= image_tag "thumb-up.png", :align => 'absmiddle', :alt => t('user.field.label.positive_reputation'), :title => t('user.field.label.positive_reputation') %>
    <% else %>
      <%= image_tag "thumb-down.png", :align => 'absmiddle', :alt => t('user.field.label.negative_reputation'), :title => t('user.field.label.negative_reputation') %>
    <% end %>
    <span class="blue-link"> (<%= link_to  user.received_positive_reputations.count, user_positive_reputations_path(:user_id => user) %></span> / <span class="blue-link"><%= link_to  user.received_negative_reputations.count, user_negative_reputations_path(:user_id => user) %></span>)
  </span>
<% end %>
