<div class="plc">
  <div class="lines">
    <div class="col3">
      <%= render 'social_tertiary' %>
    </div>
    <% rndm=rand(3)+1 %>
    <% if rndm==1 %>
        <div class="col3">
          <%= link_to guide_path do %>
              <%= image_tag 'safety.png', :alt => 'Panduan Keamanan', :class => 'defaultShadow' %>
          <% end %>
        </div>
    <% else %>
        <div class="col3">
          <%= link_to escrow_payment_path do %>
              <%= image_tag 'banners/rekber.png', :alt => 'Transaksi aman dengan Rekening Bersama Bistip.com!', :class => 'defaultShadow' %>
          <% end %>
        </div>
    <% end %>
    <div class="col3">
      <h4>
        <%= link_to how_path do %>
            <%= image_tag 'img-cara-kerja.png', :alt => 'Cara Kerja Bistip', :class => 'defaultShadow' %>
        <% end %>
      </h4>
    </div>

    <div class="col3">
      <%= link_to awards_path do %>
        <%= image_tag 'banners/sparxup-banner.png', :alt => 'The Most Promising Startup 2011', :class => 'defaultShadow' %>
      <% end %>
    </div>
  </div>
  <br clear="all"/>
</div>
