<h4>Social Media</h4>

<p>
<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js#appId=113536205400277&amp;xfbml=1"></script>
<fb:like href="facebook.com/bistip" send="true" layout="button_count" width="150" show_faces="true" font=""></fb:like>
<br/>
</p>
<br/>

<p>
<iframe allowtransparency="true" frameborder="0" scrolling="no" align="middle"
        src="http://platform.twitter.com/widgets/follow_button.html?screen_name=bistip&show_count=true"
        style="width:180px; height:30px;"></iframe>
<!-- Place this tag where you want the +1 button to render -->
<g:plusone size="medium" href="http://www.bistip.com"></g:plusone>

<!-- Place this tag after the last plusone tag -->
<script type="text/javascript">
    (function() {
        var po = document.createElement('script');
        po.type = 'text/javascript';
        po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(po, s);
    })();
</script>
</p>

<!-- Google Analytics Social Button Tracking -->

<script>
    _ga.trackSocial();
</script>
