<% page_title t('trip.index.link') %>
<div id="dashboard">
<%= render 'reminder' %>
<%= render 'menu' %>
<div class="col9">
  <div class="dashboardPlc bgLightYellow defaultRound">
    <h4><%= t('trip.index.link') %></h4>
    <div id="searchResults" class="dashboard activity">
      <div id="dashboard_activity">
        <div id="trips">
          <% if @trips.size > 0 %>
            <% for trip in @trips %>
              <% old = trip.active? ? "" : "old" %>
              <div class="activityWrap">
                <%= link_to trip_path(trip), :class => "infoBlockLink defaultRound" do %>
                  <div class="infoBlock defaultRound mid <%= old %> ">
                    <% unless trip.active?  %>
                      <div class="oldinfo"><%= t('trip_summary.label.not_active') %></div>
                    <% end %>
                    <div class="left"></div>
                    <div class="right">
                      <%= render 'shared/trip_data', :locals => {:trip => trip, :item_count => TripItem::SUMMARY_COUNT} %>
                    </div>
                  </div>
                <% end %>
    
                <% if trip.active? %>
                  <div class="tools">
                    <% seeks_match_count = trip.find_matching_seeks.count %>
                    <% if seeks_match_count > 0 %>
                      <p><%= link_to t('trip.index.table.match_count', :count => seeks_match_count), match_trip_path(trip), :class => "btnAction" %></p>
                    <% end %>
                    <div class="adminTools">
                      <%= link_to t('trip.edit.link_short'), edit_trip_path(trip) %>
                      <%= link_to t('trip.destroy.link_short'), trip, :confirm => 'Are you sure?', :method => :delete, :class=>"delete" %>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% else %>
            <div class="notificationBar yellow"><%= t('trip.index.no_result') %> </div>
          <% end %>
        </div>
      </div>
    </div>
    <%= get_more_will_paginate(@trips, 'trips_pagination') %>
  </div>
</div>

</div>