<div style="font: normal 14px Helvetica, Arial, sans-serif; line-height: 19px; color: #333;">
  Selamat bergabung di Bistip.com, sebuah komunitas untuk dititip dan menitip barang.<br/><br/>
  Untuk mengaktifasi akun silakan klik link di bawah ini:
</div>
<br/>
<div style="font: normal 12px Helvetica, Arial, sans-serif; line-height: 19px; color: #333;">
  <a href="<%= @email_validation_url %>"><%= @email_validation_url %></a>
</div>
<br/>
<div style="font: normal 14px Helvetica, Arial, sans-serif; line-height: 19px; color: #333;">
  Kamu mendapatkan email ini karena kamu atau ada orang lain yang telah mendaftar di<br>
  bistip.com dengan menggunakan alamat email ini.<br/><br/>

  Jika kamu tidak merasa melakukan pendaftaran, silakan abaikan email ini.

</div>