<div style="font: normal 14px Helvetica, Arial, sans-serif; line-height: 19px; color: #333;">
  <p>The following is an update to the insurance application for transaction between <%= @insurance.buyer.username %> and <%= @insurance.seller.username %>:</p>
  <blockquote>
    <strong><i><%= t("notifier.insurance.#{@log_state}", :buyer => @insurance.buyer.username, :seller => @insurance.seller.username) %></i></strong>
  </blockquote>
  <br/>
  You can view the insurance status through the link below:
  <br/>
  <%= auto_link(user_message_url(@user, @insurance.message)) %>
</div>