<div style="font: normal 14px Helvetica, Arial, sans-serif; line-height: 19px; color: #333;">
  <p><%= @seek.user.username %> just created a Wanted post from <%= @seek.origin_location %> to <%= @seek.destination_location %></p>
  <% unless @seek.items.blank? %>
    <p><%= @seek.user.username %> wants to get: <b><%= @seek.items_name_all %></b>. Can you help?</p>
  <% end %>
  <p><b>QuickMessage!</b> Reply to this email to send a message to <%= @seek.user.username %>. You can also attach up to 3 pictures.</p>
  <p>Or view the post and send a message through the link below:</p>
  <%= auto_link(seek_url(@seek)) %>
</div>
