<% page_title t('message.link.inbox') %>
<div class="col12">
  <h2><%= t('message.link.inbox') %><%= render('shared/protected') %></h2>
  <%= render 'shared/message_sub_menu' %>
</div>
<div class="col8">
  <div id="inbox">
    <div class="panel">
      <%= image_tag 'icon-search-22.png' %>
      <span class="filter">
        <% sender_list = [[I18n.t('message.filter.user.blank'), '']] + Message.all_sender_list(current_user).collect{ |u| [u.username, u.id] } %>
        <%= select_tag "sender", options_for_select(sender_list, params[:sender]), :onchange => "javascript:buildSearchMessageURL('#{request.path}')" %>
      </span>
      <span class="filter">
        <%= select_tag "status", options_for_select(MessageStatus.map, params[:status]), :onchange => "javascript:buildSearchMessageURL('#{request.path}')" %>
      </span>
      <span class="filter">
        <%= watermark_field('keyword', Message::KEYWORD) %>
        <%= text_field_tag 'keyword', params[:keyword], :size => 20, :onkeyup => "javascript:search_message_field_key_up(event, '#{request.path}')" %>
      </span>
      <a class="btnSearch" href="javascript:buildSearchMessageURL('<%= request.path %>')"><%= t('button.search') %></a>
    </div>
    <div id="messages">
      <%= render 'messages' %>
    </div>
  </div>
  
</div>