<div class="searchForm">
  <p>
    <form method="get" target="_blank" action="<%= search_trip_url %>" name="frmSearch" id="frmSearch">
      <label><%= t('widget.search.label.get_from') %>:&nbsp;&nbsp;</label>
      <input type="hidden" name="ref" value="widget"/>
      <%= location_auto_complete_js 'origin' %>
      <input type="text" name="origin" size="18" id="origin" placeholder="<%= t('widget.search.label.watermark') %>"></input>&nbsp;
      <a class="btnAction btnSearch" href="javascript:document.frmSearch.submit();"><%= t('general.go') %></a>
    </form>
  </p>
  <% unless @trips.blank? %>
    <div id="bistiperScrollplc">
      <script type="text/javascript">
        $(document).ready(function() {
          $('#bistiperScroll').bxSlider({
            displaySlideQty: 2,
            moveSlideQty: 1,
            pager: 'false',
            mode: 'vertical',
            auto: true,
            pause: 6000,
            autoHover: true,
            pager: false,
            controls: false,
            infiniteLoop: true
          });

        });
      </script>
      <ul id="bistiperScroll">
        <% for trip in @trips %>
          <%= render 'trip', :locals => {:trip => trip} %>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>