<% page_title t('search_user.index.label.heading') %>
<%= render 'shared/search_sub_menu' %>
<div class="text-01">
  <div class="page-heading"><%= t('search_user.index.label.heading') %></div>
  <%= form_tag search_user_path do %>
    <table width="100%" cellspacing="0" cellpadding="1" border="0" align="center" class="text-01">
      <tr>
        <td>
          <%=t('search_user.index.label.field')%>
        </td>
      </tr>
      <tr>
        <td>
          <%= text_field_tag :keyword, nil, :class => "textbox-01"%>
        </td>
      </tr>
      <tr>
        <td><%= submit_tag 'Search', :class => 'button-blue' %></td>
      </tr>
    </table>
  <%end%>
  <br/>
  <div id="users">
    <div class="page-heading"><%= t('search_user.index.label.result') %></div>
    <% if @users.size > 0%>
      <table width="100%">
        <% for user in @users do %>
            <tr>
              <td><%= render 'shared/user_medium', :locals => {:user => user}%></td>
            </tr>
          <% end%>
        </table>
        <div style="text-align: center">
          <%= will_paginate(@users, :params => params) %>
        </div>
      <% else %>
        <%= t('search_user.index.label.no_result')  %>
      <% end %>
    </div>
    <br/>



  </div>
