<% page_title t('search_user.index.label.heading') %>
<%= render 'shared/search_sub_menu' %>
<div class="content-left text-01">
  <div class="table-half-page" style="padding-bottom: 10px;">
    <div style="padding-bottom: 10px;" class="heading-text-orange"><%= t('search_user.index.label.heading') %></div>
    <div class="search-form">
    <div class="panel-blue" style="width: 80%;">
      <%= form_tag search_user_path do %>
      <div class="fieldset-group">
        <fieldset style="width: 100%; padding: 0px 0px 15px 5px;">
          <legend style="padding-top: 5px;"><%=t('search_user.index.label.field')%></legend>
          <%= text_field_tag :keyword, nil,:size => 40, :class => "textbox-01"%>
          <%= submit_tag 'Search', :class => 'button-blue' %>
        </fieldset>
      </div>
      <%end%>
    </div>
    </div>
  </div>
  <div class="table-half-page">
    <div style="text-align: left; padding-bottom: 10px;" class="heading-text-orange"><%= t('search_user.index.label.result') %></div>
    <div id="users">
      <% if @users.size > 0%>
        <% for user in @users do %>
          <%= render 'shared/user_medium', :locals => {:user => user}%>
        <% end%>
      <% else %>
        <%= t('search_user.index.label.no_result')  %>
      <% end %>
    </div>
  </div>
</div>
