<% escrow = activity.object %>
<% user = escrow.seller %>
<li class="bistiperRow">
  <%= link_to(reviews_user_path(:username => user.username, :anchor => escrow.buyer_review.internal_link_id), :class => 'divlink') do %>
    <div class="bistiperPlc">
      <div class="avatar">
        <%= render 'shared/trusted_badge', :locals => {:user => user} %>
        <%= image_tag user.avatar.url, :size=>"64x64", :class=>"photo" %>
      </div>
      <div class="info">
        <h5><span class="iconCheck"><%= user.username %> </span><span class="textBlack"><%= t('seller_escrow_activity_wrap.label.finished_a_job') %></span></h5>
        <p>
          <span class="iconUser"><span class="textBlack"><%= t('general.for') %></span>&nbsp;<%= escrow.buyer.username %><br/></span>
          <span class="iconShopping"><%= escrow.item_short %></span>
        </p>
      </div>
      <div class="badge">
        <%= image_tag 'job-done-badge.png' %>
      </div>
    </div>
  <% end %>
</li>
