<% seek = locals[:seek] %>
<% user = seek.user %>
<%= link_to seek_path(seek), :class => 'divlink' do %>
    <div class="miniRow bgLightBlue">
      <div class="info">
        <p>
          <span class="iconUser"><strong><%= user.username %></strong></span>
          <br/>
        <span class="iconRoute">
          <% if seek.origin_city.name != City::ANYWHERE %>
          <strong>
            <%= render 'shared/city', :locals => {:city => seek.origin_city, :short_name => true} %>
          <% end %>
          </strong> <span class="dashArrow">-</span>
          <% if seek.destination_city.name != City::ANYWHERE %>
          <strong>
            <%= render 'shared/city', :locals => {:city => seek.destination_city, :short_name => true} %>
          </strong>
          <% end %>
        </span>
          <br/>
          <% unless seek.items.blank? %>
              <span class="iconShopping"><%= seek.items_name_for_display %></span>
          <% end %>
        </p>
      </div>
    </div>
<% end %>
