<script type="text/javascript">
  $(document).ready(function() {

    $('.navNotification, .navInbox, .navDashboard').mTip({
      align : 'bottom'
    });

  });
</script>
<nav>
  <% if logged_in? %>
    <%= link_to t('logout.link'), logout_path, :class => "btnAction" %>
    <span class="notification">
      <% notification = current_user.count_received_notification %>
      <%= link_to t('notification.link.notification'), user_notifications_path(current_user), :class => 'navNotification', :title => t('notification.link.notification') %>
      <% if notification > 0 %>
        <span class="counter defaultShadow"><%= notification %></span>
      <% end %>
    </span>

    <span class="inbox">
      <% inbox = current_user.count_unread_message %>
      <%= link_to t('message.link.inbox'), user_messages_path(current_user), :class => 'navInbox', :title => t('message.link.inbox') %>
      <% if inbox > 0 %>
        <span class="counter defaultShadow"><%= inbox %></span>
      <% end %>
    </span>

    <span class="dashboard">
      <%= link_to t('dashboard.link.general'), dashboard_path, :class => 'navDashboard', :title => t('dashboard.link.general') %>
    </span>

    <span class="welcome"><%= "Hai, #{current_user.username}" %></span>
    <span class="menuDivider">&nbsp;</span>
    <%= link_to t('content.link.jobs'), jobs_path %>
    <%= link_to t('forum.link'), forums_path %>
  <% else %>
    <%= link_to t('login.link'), new_session_path, :class=>"btnAction" %>
    <%= link_to t('layout.link.register'), join_path, :class=>"btnAction" %>
    <%= link_to t('content.link.jobs'), jobs_path %>
    <%= link_to t('forum.link'), forums_path %>
  <% end %>
</nav>

