<% page_title t('login.label.heading') %>
<div class="content-middle-graphic-background">
  <%= form_tag session_path do %>
    <table width="550" cellspacing="0" cellpadding="5" border="0" class="text-01">
      <tbody>
        <tr>
          <td class="text-orange" style="text-align: center;" colspan="2"><%= t('login.label.heading') %></td>
        </tr>
        <tr>
          <td style="text-align: right;">&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td style="text-align: right;"><%=  t('login.label.email_or_username') %></td>
          <td><%= text_field_tag :email_or_username, nil, :class => 'textbox-01' %></td>
        </tr>
        <tr>
          <td style="text-align: right;"><%= t('login.label.password') %></td>
          <td><%= password_field_tag :password, nil, :class => 'textbox-01' %></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>
            <%= submit_tag t('button.submit'), :class => 'button-register' %> / <%= link_to t('button.cancel'), root_path %>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td style="text-align: right;"><span class="blue-link"><%= link_to t('password.forgot.link'), reset_password_path %></span></td>
          <td>
            <div style="width: 220px"">
              <span><%= t('layout.label.not_registered') %></span>
              <div style="width: 70px; float:right;" class="buttonlink-red">
                <%= link_to t('layout.link.register'), new_user_path %>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>