<div style="font: normal 14px Helvetica, Arial, sans-serif; line-height: 19px; color: #333;">
  <%= @post.user.username %> quoted your post on <%= l(@created) %>:
  <blockquote>
    <strong><i><%= simple_format @post.body %></i></strong>
  </blockquote>
  You can view the post through the link below:
  <br/>
  <%= auto_link(forum_topic_path(@topic.forum, @topic, :page => @post.find_page)) %>
</div>