<%= form_for(@seek) do |f| %>
  <table width="550" cellspacing="0" cellpadding="5" border="0" class="text-01">
    <tbody>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2"><b><%= t('seek.new.label.intro') %></b></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><%= t('seek.field.label.origin') %></td>
        <td>
          <%= location_auto_complete_js 'seek_origin_location' %>
          <%= f.text_field :origin_location, :class => 'textbox-01' %>
        </td>
      </tr>
      <tr>
        <td><%= t('seek.field.label.destination') %></td>
        <td>
          <%= location_auto_complete_js 'seek_destination_location' %>
          <%= f.text_field :destination_location, :class => 'textbox-01' %>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><%= render 'shared/new_location_contact_us' %></td>
      </tr>
      <tr>
        <td><%= t('seek.field.label.departure_date') %></td>
        <td>
          <% DatePredicate::ALL.each do |departure_date_predicate| %>
            <%= radio_button_tag 'seek[departure_date_predicate]', departure_date_predicate, @seek.departure_date_predicate == departure_date_predicate %>
            <%= t(departure_date_predicate, :scope => 'date_predicate') %><br/>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>
          <%= date_picker_js 'seek_departure_date' %>
          <% departure_date = l(@seek.departure_date) unless @seek.departure_date.nil? %>
          <%= f.text_field :departure_date, :value => departure_date, :readonly => "readonly", :class => 'textbox-01' %>
          <%= render_link_to_clear_a_field('seek_departure_date') %>
        </td>
      </tr>
      <tr>
        <td><%= t('seek.field.label.notes') %></td>
        <td>
          <%= enable_character_counter('seek_notes',Seek::NOTES_MAXIMUM_LENGTH)%>
          <%= f.text_area :notes, :rows => 8, :cols => 40, :class => 'textarea-01' %>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>
          <%= f.submit t('button.submit'), :class => 'button-register' %> / <%= link_to t('button.cancel'), locals[:cancel_path] %>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>
<% end %>
