<% page_title @trip.to_s %>
<div class="content-left text-01">
  <div class="text-orange" style="padding-bottom: 20px"><%= t('trip.show.label.heading') %></div>
  <% user = @trip.user %>
  <div style="float: left;" class="panel-blue">
    <div style="position: relative;" class="profile-picture">
      <%= image_tag user.avatar.url %>
      <br/>
      <span class="blue-link"><%= link_to user.username, profile_path(user.username) %></span>
      <%= render 'shared/user_reputation', :locals => {:user => user} %>
      <br/>
      <div style="padding-top: 5px;">
        <% if logged_in? %>
          <% if !@trip.owner?(current_user) %>
            <span class="buttonlink-blue">
              <%= link_to t('message.link.new'), new_user_message_path(:user_id => user) %>
            </span>
          <% end %>
        <% else %>
          <span class="buttonlink-blue">
            <%= link_to t('message.link.new'), new_user_message_path(:user_id => user) %>
          </span>
        <% end %>
      </div>
    </div>

    <div class="profile-form-table table">
      <table width="100%" cellspacing="0" cellpadding="0" border="0">
        <tbody>
          <% unless @trip.active? %>
            <tr>
              <% if !@trip.routine? %>
                <td colspan="3"><span class="text-red-01"><%= t('trip_summary.label.departure_date_passed') %></span>
                </td>
              <% else %>
                <td colspan="3"><span class="text-red-01"><%= t('trip_summary.label.deleted') %></span></td>
              <% end %>
            </tr>
          <% end %>
          <tr>
            <td height="30px" width="130px"><%= t('trip.field.label.origin') %></td>
            <td width="10px">:</td>
            <td width="200px"><%= render 'shared/city', :locals => {:city => @trip.origin_city} %>
              <% if logged_in? and @trip.owner?(current_user) and @trip.active? %>
              <div style="float:right;">
                <div style="float:left; text-align: right; padding-right: 20px;" class="buttonlink-grey-01">
                  <%= link_to t('trip.edit.link_short'), edit_trip_path(@trip) %>
                </div>
                <div style="float:right; text-align: right; padding-right: 10px;" class="buttonlink-grey-01">
                  <%= link_to t('trip.destroy.link_short'), @trip, :confirm => 'Are you sure?', :method => :delete %>
                </div>
              </div>
              <% end %>
            </td>
          </tr>
          <tr>
            <td height="30px"><%= t('trip.field.label.destination') %></td>
            <td>:</td>
            <td><%= render 'shared/city', :locals => {:city => @trip.destination_city} %></td>
          </tr>

          <% if !@trip.routine? %>
            <tr>
              <td height="30px"><%= t('trip.field.label.departure_date') %></td>
              <td>:</td>
              <td><%= l(@trip.departure_date) %></td>
            </tr>
            <% unless @trip.arrival_date.nil? %>
              <tr>
                <td height="30px"><%= t('trip.field.label.arrival_date') %></td>
                <td>:</td>
                <td><%= l(@trip.arrival_date) %></td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td height="30px"><%= t('trip.field.label.period') %></td>
              <td>:</td>
              <td><%= t "week_period.#{@trip.period}" %></td>
            </tr>
            <tr>
              <td height="30px"><%= t('trip.field.label.day') %></td>
              <td>:</td>
              <td>
                <% max = @trip.day.length %>
                <% 0.step(max-1, 1) { |i| %>
                  <% if i == (max -1) %>
                    <%= @trip.day[i] %>
                  <% else %>
                    <%= @trip.day[i] %>,&nbsp;
                  <% end %>
                <% } %>
              </td>
            </tr>
          <% end %>


          <% unless string_nil_or_empty?(@trip.notes) %>
            <tr>
              <td height="30px" valign="top"><%= t('trip.field.label.notes') %></td>
              <td valign="top">:</td>
              <td width="350px" valign="top"><%= auto_link_in_new_tab_without_simple_format @trip.notes %></td>
            </tr>
          <% end %>
          <tr>
            <td colspan="3">

              <% if current_user && !@trip.owner?(current_user) %>
                <% label = t('social_share.influencer') %>
              <% else %>
                <% label = t('social_share.label') %>
              <% end %>
              <% url = trip_url(@trip) %>
              <% if current_user && @trip.user!=current_user %>
                <% data = "#{@trip.id} #{current_user.id}" %>
                <% url = influence_url(Base32.encode(data)) %>
              <% end %>
              <%= render 'shared/social_share', :locals => {:url => url, :title => @trip.to_s, :label => label} %>
            </td>
          </tr>
        </tbody>
      </table>
      
    </div>
  </div>
  <div style="float: left; width: 10px;">
    &nbsp;
  </div>

  <% show = (@visible and @similiar_trips.size > 0) || (logged_in? and @trip.owner?(current_user) and @trip.active? and @trip.find_matching_seeks.count > 0)%>
  <% if show %>
    <div style="width: 280px; float: left;" class="panel-blue">
      <% if logged_in? and @trip.owner?(current_user) and @trip.active? %>     
        <% seeks_match_count = @trip.find_matching_seeks.count %>
        <% if seeks_match_count > 0 %>
          <div class="auto-match">
            <div style="text-align: center;"><%= t('trip.show.label.auto_match', :count => seeks_match_count) %></div>
            <div class="buttonlink-red link"><%= link_to t('trip.show.label.auto_match_link'), match_trip_path(@trip) %></div>
          </div>
        <% end %>
      <% end %>

      <% if @visible %>
        <div>
          <%= render 'shared/similiar_trips', :locals => {:similiar_trips => @similiar_trips} %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div style="padding-top: 10px; padding-left: 20px;" class="heading-grey"><%= t('comment.index.heading') %>
    (<%= @trip.comments.count %>)
  </div>
  <div class="line-separator-01"></div>
  <% if @trcomments.size > 0 %>
    <table style="padding-left: 20px" cellpadding="5" id="trcomments">
      <tbody>
        <% for comment in @trcomments %>
          <%= render "trip_comments/trip_comment", :locals => {:comment => comment} %>
        <% end %>
      </tbody>
    </table>
    <div style="padding-top: 10px; text-align: center;">
      <%= will_paginate(@trcomments, :renderer => TwitterPagination::LinkRenderer, :id => 'trcomments_pagination') %>
    </div>
  <% else %>
    <span class="text-01" style="padding-left: 20px"><i><%= t('comment.index.no_comment') %></i></span>
  <% end %>

  <%= render "trip_comments/trip_new_comment" %>
</div>
