<% page_title t('content.link.guide') %>
<div class="text-01 blue-link">

  <h2>Guides</h2>

  <h3>For all Bistip members:</h3>
  <ul>
    <li>Fill and complete your personal data, also make sure that you use proper profile picture. Good profile will make people trust you more. To do this go to "My Account" and then "Edit Profile"</li>
    <li>Use a strong password with combination of alphabet, number dan symbol ( for example: b1stip3r ) and keep it secret.</li>
    <li>When accessing Bistip.com from a public computers, make sure you 'Log Out' before you leave the computer.</li>
    <li>Stay away from inappropriate language</li>
    <li>Give good and bad reputation for those who deserve it.</li>
  </ul>


  <h3>For Bistiper (someone who will help you to carry your item):</h3>
  <ul>
    <li>When deal with a Bistip member make sure that you exchange contact number and also check their reputation.</li>
    <li>Make sure that you mention the maximum weight for the item you can carry in your trip.</li>
    <li>Make sure that you are able to check the content of the item you will carry. Ask for their permission to open the packaged item. keep away from carrying illegal items.</li>
    <li>Always check and be sure that the items you carry is legal in the countries you are about to travel to.</li>
    <li>When making a deal with other person, set a clear amount about the tip you are about to receive in return to your service. when you are buying expensive items for someone, please make sure that you receive down payment for the item.</li>
    <li>To ensure safety in your transaction you can use <i>Escrow Account</i> service. Just Google <i>Rekening Bersama</i> (Escrow Account)
    through this link <%= link_to 'ini', 'http://www.google.co.id/search?q=rekening+bersama', :target => '_blank'%> and choose a provider that you can trust. (Only for Indonesian based users).</li>
  </ul>

  <h3>For Buyer or Item Looker (person who going to entrust his/her item)</h3>
  <ul>
    <li>Deal with a bistiper who gives you complete contact details and has good reputation</li>
    <li>When you ask a bistiper to buy an item for you, make a clear information regarding where the place to meet to get your item. Do not pay full amount for the item, instead negotiate a down payment and pay the rest of the price when you get the item.</li>
    <li>If you are asking a Bistiper to pass an item to someone else on another location, make sure you reach an agreement about the amount of Tip that you gonna pay.</li>
    <li>To ensure safety in your transaction you can use Escrow Account service <i>Escrow Account</i> service. Just Google <i>Rekening Bersama</i> (Escrow Account)
    through this link <%= link_to 'ini', 'http://www.google.co.id/search?q=rekening+bersama', :target => '_blank'%> and choose a provider that you can trust. (Only for Indonesian based users).</li>
  </ul>
</div>