<% page_title t('content.link.how') %>
<%= image_tag 'instruct.gif' %>
<div class="text-01 blue-link content-left">
  <h2><%= t('content.link.how') %></h2>
  <h3>Skenario titip menitip di Bistip.com</h3>
  <ol>
    <li>
      <p>Amy seorang penggemar produk Apple, menginginkan iPad 2.</p>
    </li>
    <li>
      <p>Amy mencari dan menemukan rute jalan Bob dari Singapura ke Jakarta.</p>
    </li>
    <li>
      <p>Bob bersedia membelikan iPad2. Negosiasi berlangsung antara Amy dan Bob.</p>
    </li>
    <li>
      <p>Amy dan Bob ketemuan untuk tuker iPad 2 dan tip.</p>
    </li>
  </ol>
  <h3>Istilah di bistip.com</h3>
  <ul>
    <li>
      <p><i>Bistiper</i></p>
      <p>Arti : pengguna yang bisa dititipi barang</p>
    </li>
  </ul>
  <ul>
    <li>
      <p><i>Wanted Post</i></p>
      <p>Arti : sebuah posting dari pengguna yang mencari bistiper</p>
    </li>
  </ul>
  <h3>Menu di web bistip.com</h3>
  <ul>
    <li>
      <p><i>Post Rute Jalan</i></p>
      <p>Kamu ingin jadi Bistiper (orang yang mau bawa titipan barang). Sebelum perjalanan, masukkan rute jalan kamu disini supaya bisa dititipin.</p>
    </li>
  </ul>
  <ul>
    <li>
      <p><i>Post Wanted</i></p>
      <p>Di menu ini kamu bisa memasukkan rute jalan yang kamu cari (seperti <i>ASK</i>).</p>
    </li>
  </ul>
  <br/>
  <p><i>*Untuk tips dalam penggunaan bistip.com , silakan menuju ke <%= link_to 'Tips & Tata Cara', guide_path %> </i>
  </p>
</div>
