<% page_title t('content.link.media') %>
<div class="text-01 blue-link">
<h2><%= t('content.link.media') %></h2>
<table style="text-align: left; width: 100%;" border="0" cellpadding="2" cellspacing="2" class="text-01 blue-link">
  <tbody>
  <tr>
    <td style="vertical-align: top; width: 242px;"><%= image_tag 'media/DS.png', :border => 0 %>
    </td>
  </tr>
  <tr>
    <td style="vertical-align: top; width: 100%;">Title :
      "<%= link_to 'Bistip: Layanan Online Untuk Aktivitas Titip-Menitip', 'http://dailysocial.net/2011/03/22/bistip-aplikasi-online-untuk-aktivitas-titip-menitip/', :target => '_blank' %>
      "
      <hr>
    </td>
  </tr>
  <tr>
    <td style="vertical-align: top; width: 242px;"><%= image_tag 'media/navinot.png', :border => 0 %>
      <br>
    </td>
  </tr>
  <tr>
    <td style="vertical-align: top; width:  100%;">Title :
      "<%= link_to 'Bistip', 'http://www.navinot.com/2011/03/19/bistip/', :target => '_blank' %>"
      <hr>
    </td>
  </tr>
  <tr>
    <td style="vertical-align: top; width: 242px;"><%= image_tag 'media/detik.png', :border => 0 %>
      <br>
    </td>
  </tr>
  <tr>
    <td style="vertical-align: top; width:  100%;">Title :
      "<%= link_to 'Bistip, Situs Buat Nitip dan Dapat Tip', 'http://www.detikinet.com/read/2011/04/18/123443/1619648/398/bistip-situs-buat-nitip-dan-dapat-tip', :target => '_blank' %>
      "
      <hr>
    </td>
  </tr>
  <tr>
    <td style="vertical-align: top; width: 242px;"><%= image_tag 'media/vivanews.png', :border => 0 %>
      <br>
    </td>
  </tr>
  <tr>
    <td style="vertical-align: top; width:  100%;">Title :
      "<%= link_to 'Bistip, Situs untuk Titip-Menitip Barang', 'http://teknologi.vivanews.com/news/read/213608-bistip--situs-untuk-titip-menitip-barang', :target => '_blank' %>
      "
      <hr>
    </td>
  </tr>
  <tr>
    <td style="vertical-align: top; width: 242px;"><%= image_tag 'media/kompas.png', :border => 0 %>
      <br>
    </td>
  </tr>
  <tr>
    <td style="vertical-align: top; width:  100%;">Title :
      "<%= link_to 'Bistip.com Mudahkan Titip-menitip Barang', 'http://tekno.kompas.com/read/2011/04/04/12504553/Bistip.com.Mudahkan.Titip.menitip.Barang', :target => '_blank' %>
      "
      <hr>
    </td>
  </tr>
  <tr>
    <td style="vertical-align: top; width: 242px;">
      <%= image_tag 'media/okezone.png', :border => 0 %>
      <br>
    </td>
  </tr>
  <tr>
    <td style="vertical-align: top; width:  100%;">Title :
      "<%= link_to 'Bistip.com, Komunitas Online Titip-Menitip Barang', 'http://techno.okezone.com/read/2011/04/19/90/447765/bistip-com-komunitas-online-titip-menitip-barang', :target => '_blank' %>
      "
    </td>
  </tr>
  </tbody>
</table>
</div>