<% page_title t('message.link.inbox') %>
<div class="col14">
  <h2><%= t('message.link.inbox') %><%= render('shared/protected') %></h2>
  <%= render 'shared/message_sub_menu' %>
</div>
<div class="col4">
  <div id="inbox">
    <% if @messages.size > 0 %>
      <%= render :partial => 'message', :collection => @messages %>
    <% else %>
      <div class="notificationBar yellow"><%= t('message.index.no_result') %></div>
    <% end %>

  </div>

  <div class="alignCenter">
    <%= get_will_paginate @messages %>
  </div>
</div>