<% title = 'Europe Wish Competition from Bistip.com with prize of EUR 50 for multiple winners' %>
<%= page_title title %>
<%= meta_description 'Got a europe wish? let us know what was that and get voted for a chance to win EUR 50!' %>
<div class="col4">
  <h2>Europe Wish Competition</h2>
  <%= link_to new_idea_item_path do %>
    <% random = rand(2) %>
    <% if random == 0 %>
      <%= image_tag('events/bistipes-europe-2-en_m.jpg') %>
    <% else %>
      <%= image_tag('events/bistipes-europe-en_m.jpg') %>
    <% end %>
  <% end %>
  <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4d71069d1b32853e"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $("a.bmarks-btn").shareitBtn(); // the button function
      $(".bmarks a").shareitHover(); // the hover effect (optional)
    });
    var addthis_share = {
      templates: { twitter: '{{title}} {{url}} via @bistip' }
    }
  </script>
  <br/>
  <h5 class="shareHeader textBlack">Share to your friends</h5>
  <% url = 'http://www.bistip.com/event_europe_wish' %>
  <a class="addthis_button_facebook socialButton" addthis:url="<%= url %>" addthis:title="<%= title %>"><img src="/images/social/fb-24.png" height="24" border="0" alt="Share to Facebook"/></a>
  <a class="addthis_button_twitter socialButton" addthis:url="<%= url %>" addthis:title="<%= title %>"><img src="/images/social/tw-24.png" height="24" border="0" alt="Tweet this"/></a>
  <script type="text/javascript">
    var addthis_config = {"data_track_clickback":true};
  </script>
  <!-- AddThis Button END -->

  <!--<input type="hidden" id="fe_text" onChange="clip.setText(this.value)" value="url"/>
  <div id="clip_container">
    <div id="clip_button" class="socialButton"><strong id="bold">Copy URL</strong></div>
  </div>-->

  <script type="text/javascript" src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
  <fb:send href="<%= url %>" font="arial"></fb:send>
  <br/>
  <br/>
  <h4>Additional Info</h4>
  <br/>
  <ol>
    <li>Our beloved <a href="http://www.bistip.com/u/bistipes">bistipes</a> is the one who gonna make your Europe Wish comes true :)</li>
    <li>Entry period ends on<strong>20 December 2012 - 23:59 PM</strong></li>
    <li>Winners will be chosen by Bistip using the following criteria: <strong>vote count</strong>, <strong>item type (possibility of buying and carrying it)</strong>, and <strong>completeness of information (picture, spec, price, size)</strong>.</li>
    <li>3 winners will be chosen and each winner will get <strong>EUR 50</strong>. If the item price is more than <strong>EUR 50</strong> then winner must pay for the remaining.</li>
    <li>You can view latest voting result on: <%= link_to 'voting table', event_europe_wish_voting_path %>.</li>
    <li>You are allowed to post <strong>more than one</strong> Europe Wish.</li>
    <li>All winners will be announced on <strong>26th of February 2013.</strong></li>
    <li>Come and make your Europe wish comes true! <%= link_to 'Post Your Europe Wish', new_idea_item_path %> :)</li>
  </ol>
  <br/>
  <h4>Important Dates</h4>
  <br/>
  <ul>
    <li><strong>15 February 2013:</strong> entry period starts</li>
    <li><strong>26 February 2013 - 11:59 AM:</strong> public voting ends</li>
    <li><strong>26 February 2013 - 11:59 AM:</strong> entry period ends</li>
    <li><strong>26 February 2013:</strong> all winners announced!</li>
  </ul>
</div>