<% title = 'Kompetisi Europe Wish dari Bistip.com berhadiah voucher EUR 50' %>
<%= page_title title %>
<%= meta_description 'Punya ide titipan menarik dari Eropa? ayuk post ide kamu untuk berkesempatan memenangkan voucher titipan EUR 50!' %>
<div class="col4">
  <h2>Kompetisi Europe Wish</h2>
  <%= link_to new_idea_item_path do %>
    <% random = rand(2) %>
    <% if random == 0 %>
      <%= image_tag('events/bistipes-europe-2_m.jpg') %>
    <% else %>
      <%= image_tag('events/bistipes-europe_m.jpg') %>
    <% end %>
  <% end %>
  <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4d71069d1b32853e"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $("a.bmarks-btn").shareitBtn(); // the button function
      $(".bmarks a").shareitHover(); // the hover effect (optional)
    });
    var addthis_share = {
      templates: { twitter: '{{title}} {{url}} via @bistip' }
    }
  </script>
  <br/>
  <h5 class="shareHeader textBlack">Bagikan ke temen kamu</h5>
  <% url = 'http://www.bistip.com/event_europe_wish' %>
  <a class="addthis_button_facebook socialButton" addthis:url="<%= url %>" addthis:title="<%= title %>"><img src="/images/social/fb-24.png" height="24" border="0" alt="Share to Facebook"/></a>
  <a class="addthis_button_twitter socialButton" addthis:url="<%= url %>" addthis:title="<%= title %>"><img src="/images/social/tw-24.png" height="24" border="0" alt="Tweet this"/></a>
  <script type="text/javascript">
    var addthis_config = {"data_track_clickback":true};
  </script>
  <!-- AddThis Button END -->

  <!--<input type="hidden" id="fe_text" onChange="clip.setText(this.value)" value="url"/>
  <div id="clip_container">
    <div id="clip_button" class="socialButton"><strong id="bold">Copy URL</strong></div>
  </div>-->

  <script type="text/javascript" src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
  <fb:send href="<%= url %>" font="arial"></fb:send>
  <br/>
  <br/>
  <h4>Info Tambahan</h4>
  <br/>
  <ol>
    <li>Barang titipan dari Erope akan dibawakan oleh our beloved <a href="http://www.bistip.com/u/bistipes">bistipes</a> :)</li>
    <li>Batas akhir posting wish dan voting adalah <strong>jam 23:59 tanggal 25 Februari 2013</strong></li>
    <li>Pemenang akan dipilih oleh Tim Bistip berdasarkan: <strong>jumlah voting</strong> dan <strong>tipe barang (masuk akal untuk dibeli dan dibawa)</strong>.</li>
    <li>3 pemenang akan dipilih, masing masing mendapatkan voucher titipan <strong>EUR 50</strong>. Jika harga barang melebihi <strong>EUR 50</strong> maka penitip akan menambahkan sisanya.</li>
    <li>Progres hasil voting publik dapat dilihat di: <%= link_to 'tabel voting', event_europe_wish_voting_path %>.</li>
    <li>Kontestan diperbolehkan untuk posting ide titipan <strong>lebih dari satu</strong> atau <strong>sebanyak-banyaknya.</strong></li>
    <li>Semua pemenang akan diumumkan <strong>tanggal 26 Februari 2013.</strong></li>
    <li>Ayo buruan ikutan lewat sini <%= link_to 'Post Europe Wish Kamu', new_idea_item_path %> :)</li>
  </ol>
  <br/>
  <h4>Tanggal Penting</h4>
  <br/>
  <ul>
    <li><strong>15 Februari 2013:</strong> kompetisi dimulai!</li>
    <li><strong>Jam 11:59 tanggal 26 Februari 2013:</strong> voting publik berakhir</li>
    <li><strong>Jam 11:59 tanggal 26 Februari 2013:</strong> pendaftaran Europe Wish ditutup</li>
    <li><strong>Tanggal 26 Februari 2013:</strong> pemenang diumumkan!</li>
  </ul>
</div>