<%= page_title 'Kompetisi Ide Titipan Voting' %>
<%= meta_description 'Tabel voting pemenang favorit. Ayuk pilih ide titipan yang kamu suka!' %>
<div class="col9">
  <h2>Idea Contest Voting</h2>
  <h4>Latest Voting Results</h4>
  <br/>
  <div class="CSSTableGenerator" >
    <table>
      <tr>
        <td width="10%" align="center">Rank</td>
        <td>Ide Titipan</td>
        <td>User</td>
        <td width="10%">Vote</td>
      </tr>
      <% ids = Array.new %>
      <% @suggested_items.each_with_index do |si, index| %>
        <% item = SuggestedItem.find(si.id) %>
        <% ids << si.id %>
        <tr>
          <td>
            <% page_index = 0 %>
            <% page_index = (params[:page].to_i * SuggestedItem::VOTING_PER_PAGE) if params[:page] %>
            <%= index + 1 + page_index %>
          </td>
          <td>
            <%= link_to item.name, suggested_item_path(si), :target => 'blank' %> from <%= item.origin_location %>
          </td>
          <td>
            <%= link_to item.user.username, profile_path(item.user.username), :target => 'blank' %>
          </td>
          <td>
            <%= SuggestedItemVote.without_disabled_user(item.id).count %>
          </td>
        </tr>
      <% end %>
      <% SuggestedItem.active_only.created_between(SuggestedItem::COMP_START, SuggestedItem::COMP_END).id_not_in(ids).each do |si| %>
        <% item = SuggestedItem.find(si.id) %>
        <tr>
          <td>
            NR
          </td>
          <td>
            <%= link_to item.name, suggested_item_path(si), :target => 'blank' %> from <%= item.origin_location %>
          </td>
          <td>
            <%= link_to item.user.username, profile_path(item.user.username), :target => 'blank' %>
          </td>
          <td>
            0
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>