<% page_title t('content.link.safepay') %>
<div class="col4">
  <h2><%= t('content.link.safepay') %></h2>
  <p>
    <span class="textRed">SPECIAL: For travelers, 0% fee for payout payment through BCA Bank Transfer - valid for all SafePay initiated between 9 April 2013 - 31 May 2013.</span>
  </p>
  <h3 class="textBlack">Why SafePay?</h3>
  <p>
    + As a <strong>requester</strong>, you do not commit payment straightaway to traveler.<br/>
    + If item can not be found we will <strong>refund</strong> your payment.<br/>
    + As a <strong>traveler</strong>, you know that the requester has the money.<br/>
    + Both sides will get <strong>'Verified'</strong> review :)
  </p>
  <br/>
  <h3 class="textBlack"><%= t('escrow.label.how') %></h3>
  <p align="center"><%= image_tag 'rekber-en-m.png' %></p>
  <p>
    Bistip SafePay fee depends on requester's payment method and traveler's payout method.
  </p>
  <p>
    <strong>Fee for requester by payment method: </strong>
  </p>
  <blockquote class="defaultRound30">
    <table style="text-align: left; width: 100%;" border="1" cellpadding="2"
           cellspacing="2">
      <tbody>
      <tr>
        <td style="vertical-align: top;">BCA Bank Transfer<br/>
        </td>
        <td style="vertical-align: top;">2%<br/>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top;">PayPal<br/>
        </td>
        <td style="vertical-align: top;">4%<br/>
        </td>
      </tr>
      </tbody>
    </table>
  </blockquote>
  <p>
    <strong>Fee for traveler by payout method: </strong>
    <br/>
    <span class="textRed">(valid for all SafePay initiated between 9 April 2013 - 31 May 2013)</span>
  </p>
  <blockquote class="defaultRound30">
    <table style="text-align: left; width: 100%;" border="1" cellpadding="2"
           cellspacing="2">
      <tbody>
      <tr>
        <td style="vertical-align: top;">BCA Bank Transfer<br/>
        </td>
        <td style="vertical-align: top;">0%<br>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top;">PayPal<br/>
        </td>
        <td style="vertical-align: top;">2%<br/>
        </td>
      </tr>
      </tbody>
    </table>
  </blockquote>
  <p>
    <strong>Example: </strong>
  </p>
  <p>
    1. Both requester and traveler agree to use Bistip SafePay.
  </p>
  <p>
    2. Requester transfers the amount of money to Bistip SafePay.
  </p>
  <ul>
    <li>We accept <strong>US Dollar (PayPal)</strong> and <strong>IDR (BCA Bank Transfer)</strong> currency for now.</li>
    <li>The amount the requester (buyer) will deposit should include item's price + tip for the traveler + Bistip SafePay fee.</li>
  </ul>
  <blockquote class="defaultRound50">
    <table style="text-align: left; width: 60%;" border="1" cellpadding="2"
           cellspacing="2">
      <tbody>
        <tr>
          <td style="vertical-align: top;">Item's price<br/>
          </td>
          <td style="vertical-align: top;">IDR 800.000<br/>
          </td>
        </tr>
        <tr>
          <td style="vertical-align: top;">Tip<br/>
          </td>
          <td style="vertical-align: top;">IDR 200.000<br/>
          </td>
        </tr>
        <tr>
          <td style="vertical-align: top;">Subtotal<br/>
          </td>
          <td style="vertical-align: top;">IDR 1.000.000<br/>
          </td>
        </tr>
      </tbody>
    </table>
    <br />
    <p>
      Requester pays with BCA:
      <br />IDR 1.000.000 + (2% x IDR 1.000.000) = IDR 1.020.000
    </p>
  </blockquote>
  <p>
    3. Bistip.com confirms that the payment has been received.
  </p>
  <p>
    4. Requester and traveler meetup to pass the item.
  </p>
  <p>
    5. Requester confirms that he/she received the item.
  </p>
  <p>
    6. Bistip.com transfers the money to the traveler.
  </p>
  <blockquote class="defaultRound50">
    <p>
      Traveler request payout payment with BCA:
      <br />IDR 1.000.000 - (2% x IDR 1.000.000) = IDR 980.000
    </p>
  </blockquote>
  <p>
    7. Traveler confirms that he/she received the payment.
  </p>
  <p>
    <strong>IMPORTANT:</strong>
  </p>
  <blockquote class="defaultRound">
    <ul>
      <li>Bistip SafePay is available via <span class="italic">"Messaging"</span> feature.</li>
      <li>Bistip.com will refund the payment with 4% fee (PayPal) and 2% fee (BCA Bank Transfer) if the transaction failed.</li>
      <li>If requester does not confirm (as in no. 5 above) therefore payout payment will be released at least 30 days from the start of transaction date.</li>
      <li>Transfer fee between Banks during payment will be requester's obligation.</li>
      <li>Transfer fee between Banks during payout will be traveler's obligation.</li>
    </ul>
  </blockquote>
</div>
<%= render 'shared/guide_menu' %>