<% page_title t('message.link.inbox') %>
<%= render 'shared/message_sub_menu' %>
<table id="messages" class="messages"  style="padding-left: 20px">
  <% if @messages.size > 0 %>
    <%= render :partial=>'message', :collection=>@messages %>
  <% else %>
    <i><%= t('message.index.no_result') %></i>
  <% end %>
</table>
<div style="text-align: center">
  <%= will_paginate(@messages, :renderer => TwitterPagination::LinkRenderer, :id => 'messages_pagination') %>
</div>