<% page_title t('message.show.heading') %>
<div class="content-left text-01">
  <div class="conversations">
    <%= link_to t('message.link.inbox_return'), user_messages_path(current_user) %>
    <div class="heading-grey" style="padding-top: 10px; padding-bottom: 10px"><%= t('message.show.heading') %>: <%= @message.subject_display %> </div>
    <p><%= t('message.show.label.opening', :sender => @sender.username,  :receiver => @receiver.username ) %></p>
    <table>
      <%= render 'conversation', :locals => {:message => @message} %>
      <% @messages.each do |message| %>
        <%= render 'conversation', :locals => {:message => message} %>
      <% end %>
    </table>
    <%= render 'reply_form', :locals => {:user_id => @user} %>
    <%= link_to t('message.link.inbox_return'), user_messages_path(current_user) %>
  </div>
</div>
