<div class="plc">
  <div class="lines">
    <div class="col3">
      <%= render 'social_tertiary' %>
    </div>
    <%# rndm=rand(3)+1 %>
    <%# if rndm==1 %>
        <%#*<div class="col3">%>
          <%#= link_to guide_path do %>
              <%#= image_tag 'safety-en.png', :alt => 'Trust and Safety', :class => 'defaultShadow' %>
          <%# end %>
        <%#*</div>%>
    <%# else %>
        <%#*<div class="col3">%>
          <%#= link_to safepay_path do %>
              <%#= image_tag 'banners/safepay.png', :alt => 'Easy and Secure Transaction with Bistip SafePay!', :class => 'defaultShadow' %>
          <%# end %>
        <%#*</div>%>
    <%# end %>
    <div class="col3">
      <%= link_to safepay_path do %>
          <%= image_tag 'free-safepay.png', :alt => 'Use SafePay for free!', :class => 'defaultShadow' %>
      <% end %>
    </div>
    <div class="col3">
      <h4>
        <%= link_to how_path do %>
            <%= image_tag 'how-it-works.png', :alt => 'How Bistip works', :class => 'defaultShadow' %>
        <% end %>
      </h4>
    </div>


    <div class="col3">
      <%= link_to 'http://www.lintas.me', :target => '_blank' do %>
          <%= image_tag 'banners/lintasme.png', :alt => 'Lintas.Me | Social Sharing Curation', :class => 'defaultShadow' %>
      <% end %>
    </div>

  </div>
  <br clear="all"/>
</div>