$("#trips").append("<% for trip in @trips %><%= escape_javascript(render 'shared/trip_row', :locals => {:trip => trip}) %><% end %>");
$("#trips_pagination").html("<%= escape_javascript(will_paginate(@trips,:renderer => TwitterPagination::LinkRenderer, :id => 'trips_pagination')) %>");