<% page_title t('user.disabled.heading') %>
<div class="col4">
  <h2><%= t('user.disabled.heading') %></h2>
</div>
<div class="col4 bgLightYellow defaultRound">
  <h4 class="textBlack"><%= t('user.disabled.opening')%></h4>
  <br/>
  <p><%= t('user.disabled.body') %></p>
</div>
