<% giver = review.giver %>
<div class="reviewRow">
  <div class="info">
    <h5>
      <%= link_to giver.username, profile_path(giver.username) %>&nbsp;
      <% if review.invitation? %>
        <span class="recommendation"><%= t('general.recommendation') %></span>
      <% end %>
      <% if review.verified? %>
        <span class="verified"><%= t('general.verified') %></span>
      <% end %>
      <span class="date">&ndash; <%= smart_date_display(review.created_at) %></span>
    </h5>
    <p><%= auto_link_in_new_tab(review.body) %></p>
  </div>
</div>