<% if logged_in? and current_user == @user %>
  <% if current_user.need_notify? %>
    <div class="panel-blue top_panel">
      <div>
        <% if current_user.need_to_complete_profile? %>
          <div class="alert blue-link"><%= link_to t('user.reminder.complete_profile'), edit_user_path(current_user), :class => 'user-reminder' %></div>
        <% end %>
        <% if current_user.received_positive_reputations.size == 0 %>
          <div class="alert blue-link"><%= link_to t('user.reminder.get_recommendation'), get_recommendation_path, :class => 'user-reminder' %></div>
        <% end %>
        <% if !current_user.has_location? %>
          <div class="alert blue-link"><%= link_to t('user.reminder.complete_location'), edit_user_path(current_user), :class => 'user-reminder' %></div>
        <% end %>
        <% if !current_user.has_avatar? %>
          <div class="alert blue-link"><%= link_to t('user.reminder.complete_avatar'), edit_user_path(current_user), :class => 'user-reminder' %> </div>
        <% end %>
      </div>
    </div>
    <div style="padding-top: 5px;"></div>
  <% end %>
<% end %>