<% page_title (@user.username + '\'s profile')  %>
<div id="dash" class="content-left text-01">
  <div class="left-section panel-blue">
    <%= render 'shared/left_menu' %>
  </div>
  <div class="main-section">
    <div style="height: 420px" class="panel-blue">
      <%= render 'shared/user_profile', :locals => {:display_avatar => false} %>
    </div>
  </div>
</div>
