<% page_title t('content.link.point') %>
<div class="col9 padding2point5">
  <h2><%= t('content.link.point') %></h2>
  <p align="center"><%= image_tag 'point-banner-m.png', :class => 'defaultShadow' %></p>
  <h3 class="textBlack">How to get Bistip Point?</h3>

   <ul>
    <li>For every click of the route's link you've shared in your network : <strong>1 point</strong></li>
    <li>For every approved story posted in <%= link_to t('stories.general.heading'), stories_path, :target => '_blank' %> (without a picture): <strong>20 points</strong></li>
    <li>For every approved story with a picture : <strong>30 points</strong></li>
    <li>For every approved item suggestion : <strong>5 points</strong></li>
    <li>For every approved item suggestion with picture(s) : <strong>10 points</strong></li>
   </ul>

  <h3 class="textBlack">What can i do with the points?</h3>
  <p class="textGreen"><i>We are working on the next deal, stay tune :)</i></p>
  <p>
    <strong>Previous deal</strong><br/>
    Get <strong>USD 20 Cashback</strong> for every <strong>50 points</strong> you collect. You will get the cashback after using <%= link_to t('content.link.safepay'), safepay_path, :target => '_blank' %> for your transaction.
    <strong>Valid for cashback requested before 18 Januari 2012.</strong>
  </p>

  <h3 class="textBlack">Where can i see my points?</h3>
  <p>
    Go to <%= link_to t('dashboard.link.general'), dashboard_path, :target => '_blank' %> to see your latest Bistip Points.
  </p>

</div>
<%= render 'shared/static_menu' %>