<% page_title 'Bistipes' %>
<div class="col4, padding2point5">

  <h2>Bistipes</h2>

  <h3 class="textBlack">Gratis nitip Rute: Jakarta > Singapura > Jakarta!</h3>

  <p align="center">
    <%= image_tag 'events/bistipes_mob.png', :class => 'defaultShadow' %>
  </p>
  <br/>

  <h3 class="textBlack">Siapa sih Bistipes?</h3>

  <p>
    Halo, perkenalkan nama saya Bistipes. lho, kok Bistipes? apa bedanya dengan Bistiper? Tidak terlalu berbeda kok,
    saya bisa dibilang <strong>official ambassador</strong> dari Bistip yang hobi jalan-jalan dan gemar membantu
    Bistiper dalam
    titip-menitip barang. Bedanya? <strong>Tidak akan ada tip untuk kalian yang ingin menitip barang lewat saya</strong>.
    Dan karena
    Bistipes juga produk resmi Bistip, jadinya kamu bisa percayakan barang kamu di tangan Bistipes, hehe.
    <strong>Bisa nitip bebas tip!</strong>.
  </p>

  <h3 class="textBlack">Jadwal dan Rute Bistipes</h3>

  <p>
    Karena hobi saya jalan-jalan, rencananya saya akan rutin jalan-jalan dan sharing rute trip saya ke Bistiper. Nah,
    kali ini rute pertama saya adalah <strong>Jakarta - Singapura</strong>. Saya berangkat tanggal
    <strong>13 Agustus 2011</strong> dan balik lagi ke
    Jakarta tanggal <strong>15 Agustus 2011</strong>. Jadi kalo pengen nitip gratis barang dari Singapura, inilah
    saatnya!
  </p>

  <p>
    Follow twitter saya <%= link_to '@bistipes', 'http://twitter.com/bistipes', :target => '_blank' %> buat mengikuti
    kegiatan saya selama jalan-jalan membawakan titipan kalian :)
  </p>

  <p>
    Yang mau nitip bisa liat rute perjalananku:
  </p>
  <ul>
    <li><%= link_to 'Jakarta > Singapura', 'http://www.bistip.com/trips/514', :target => '_blank' %></li>
    <li><%= link_to 'Singapura > Jakarta', 'http://www.bistip.com/trips/515', :target => '_blank' %></li>
  </ul>

  <p>
    Saya gak bisa bawain yang berat-berat ya, namanya juga backpacker :D
  </p>

  <p>
    Tertanda,
  </p>

  <p>
    Bistipes
  </p>

</div>

<%= render 'shared/static_menu' %>