<% page_title t('content.link.insurance') %>
<div class="col4, padding2point5">
  <h2><%= t('content.link.insurance') %>  </h2>

  <h3 class="textBlack">What can be insured?</h3>

  <p>
    All item negotiated in Bistip can be insured from <strong>risk of loss</strong>.
  </p>

  <h3 class="textBlack">How can I insure my item?</h3>

  <p>
    All conversation must be carried out using Bistip built-in private messaging. In the conversation view, you can find <strong>'Apply Bistip Insurance'</strong> on the right bar.
  </p>

  <h3 class="textBlack">How much I should pay for the insurance?</h3>

  <p>
    The Bistip Insurance fee or premium are as follow:
  </p>
  <ul>
    <li><strong>IDR 10.000 (USD 1.2)</strong> to cover <strong>maximum</strong> item value of  <strong>IDR 1.000.000 (USD 110)</strong></li>
    <li><strong>Custom</strong> - negotiable</li>
  </ul>

  <h3 class="textBlack">How do we pay the Bistip Insurance premium?</h3>
  <p>
    We accept payment from Indonesia local bank through BCA. We also accept payment by PayPal.
  </p>

  <h3 class="textBlack">How can we make a claim?</h3>
  <p>
    Just send a message to Bistip Admin through <%= link_to 'this page','http://www.bistip.com/users/1/messages/new' %>. Tell us in details about your claim and we will ask some information from you to proceed with the claim.
  </p>

  <h3 class="textBlack">Terms and condition</h3>
  <ul>
    <li>Bistip Insurance only applicable to transactions which are negotiated using built-in Bistip <strong>messaging</strong>.</li>
    <li>We have the <strong>right to reject</strong> your Bistip Insurance application or your claim with or without any specific reason.</li>
    <li>By using Bistip Insurance, you agree not to involve us with any country law or jurisdiction.</li>
  </ul>
</div>

<%= render 'shared/guide_menu' %>