<% city = locals[:city] %>
<% country = city.country %>
<% city_name = city.name %>
<% city_name = city_name[0,8] + '..' if city_name.length > 8 %>
<% if country.code == Country::CONTINENT_CODE %>
  <strong><%= country.name %></strong>
<% else %>
  <strong><%= city.name %></strong>
<% end %>

