<p>There's an update to the following insurance application:</p>

<table>
  <tr>
    <td>Between</td>
    <td><%= @insurance.buyer.username %> (Buyer) and <%= @insurance.seller.username %> (Seller)</td>
  </tr>
  <tr>
    <td>Escrow ID</td>
    <td><%= @insurance.id %></td>
  </tr>
  <tr>
    <td>Status</td>
    <td><%= @insurance.current_state %></td>
  </tr>
  <tr>
    <td>Amount</td>
    <td><%= @insurance.amount %></td>
  </tr>
  <tr>
    <td>Cover Value</td>
    <td><%= @insurance.cover_value %></td>
  </tr>
</table>