<% suggested_item = locals[:suggested_item] %>
<% keyword_specified = locals[:keyword_specified] %>
<%= link_to suggested_item_path(suggested_item), :class => "infoBlockLink suggestedItemRow #{'old' unless suggested_item.active?} bgLightGreen" do %>
  <% unless suggested_item.active?  %>
    <div class="oldinfo"><%= t('suggested_items.show.label.not_active_short') %></div>
  <% end %>
  <div class="left">
    <div class="avatar">
      <% if suggested_item.has_picture? %>
        <%= image_tag suggested_item.pictures.first.attachment.url, :size => "48x48", :class => "photo bgWhite" %>
      <% else %>
        <%= image_tag 'default_original_item.png', :size => "48x48", :class => "photo bgWhite" %>
      <% end %>
    </div>
    <% if suggested_item.is_a?(UserSuggestedItem) %>
      <div class="owner">
        <span class="textBlack"><%= t('suggested_items.show.label.suggester') %>:</span><br/><%= suggested_item.user.username %>
      </div>
    <% end %>
  </div>
  <div class="right">
    <div class="itemDisplay">
      <%= keyword_specified ? (highlight suggested_item.name, search_keyword_to_array(params[:keyword])) : suggested_item.name %>
    </div>
    <h5 class="textBlack"><%= t('suggested_items.show.label.location') %></h5>
    <p>
      <%= suggested_item.origin_city.name %>, <%= suggested_item.origin_city.country.name %>
    </p>
  </div>
<% end %>
