<div class="col9">
  <% if @influencer.size > 0 %>
    <% @influencer.each do |inf| %>

      <% user = User.find(inf[1]) %>

      <div id="influencerPoint" class="dashboardPlc bgLightWhite defaultRound">
        <div class="infoBlock defaultRound">
          <%= render 'shared/user_medium', :locals => {:user => user} %>
          <div class="pointDisplayFloatLeft bgYellow defaultRound">
            <%= inf[2] %>
            <span><%= t('influencer.field.label.point') %></span>
          </div>
        </div>
      </div>

    <% end %>
  <% else %>

    <div class="notificationBar yellow"><%= t('influencer.label.not_found_influencer') %></div>
  <% end %>

</div>