<div class="notificationBar yellow"><%= raw t('escrow.new.label.instruction', :link => (link_to t('content.link.safepay'), safepay_path, :target => '_blank') ) %></div>
<p><%= t('escrow.new.label.scenario_heading') %></p>
<ol class="tips bgGrey defaultRound">
  <li><p><strong><%= t('escrow.new.label.scenario_a', :username => @escrow.buyer.username) %></strong></p></li>
  <li><p><strong><%= t('escrow.new.label.scenario_b', :username => @escrow.buyer.username) %></strong></p></li>
  <li><p><strong><%= t('escrow.new.label.scenario_c', :username => @escrow.seller.username) %></strong></p></li>
  <li><p><strong><%= t('escrow.new.label.scenario_d', :username => @escrow.seller.username) %></strong></p></li>
  <li><p><strong><%= t('escrow.new.label.scenario_e') %></strong></p></li>
</ol>
<p><%= t('escrow.new.label.form_intro') %></p>
<p>
  <label><%= t('escrow.new.label.item') %></label>
  <%= f.text_field :item %><%= render 'shared/required' %>
</p>
<div id="escrowPaymentMethod">
  <p>
    <label><%= t('escrow.new.label.payment_method') %></label>
    <% PaymentMethod.all.each_with_index do |pm, index| %>
      <%= show_payment_amount_form_js 'escrow_payment_method_id_' + (index + 1).to_s %>
      <%= f.radio_button("payment_method_id", pm.id) %><%= t("payment_method.#{pm.cname}") %>
    <% end %><%= render 'shared/required' %>
  </p>
</div>
<div id="escrowAmount" style="<%= @escrow.payment_method_id.blank? ? 'display:none' : '' %>">
  <p>
    <label><%= t('escrow.new.label.amount') %></label>
    <%= calculate_escrow_amount_js %>
    <%= f.text_field :amount %>&nbsp;&nbsp;&nbsp;
    <%= t('escrow.new.label.seller_receive', :seller => @escrow.seller.username)%>&nbsp;
    <span id="escrow_amount_after_fee">
      <% if @escrow.payment_method.blank? %>
        0.0
      <% else %>
        <%= t("payment_method.amount_after_cost.#{@escrow.payment_method.cname}", :amount => @escrow.payment_method.calculate_amount_after_cost(@escrow.amount)) %>
      <% end %>
    </span><%= render 'shared/required' %>
  </p>
  <div class="escrowAmountInfo italic">
    <ul>
      <li><%= t('escrow.new.label.amount_info', :seller => @escrow.seller.username) %></li>
    </ul>
  </div>
</div>
<br/>
<p>
  <%= f.submit t('button.continue') %>
  <%= link_to t('button.cancel'), user_message_path(current_user, @escrow.message), :class => 'cancelLink' if @escrow.first_step? %>
</p>

