<div id="redirectIndonesiaBankTransfer">
  <div class="col4">
    <h2><%= t('escrow.redirect_indonesia_bank_transfer.label.header') %></h2>
    <p>
      <%= raw t('escrow.redirect_indonesia_bank_transfer.label.intro', :amount => '<strong>' + @escrow.amount_after_fee_with_currency + '</strong>') %>
    </p>
    <div class="widget bgLightYellow">
      <%= render 'bank_transfer_widget', :locals => {:escrow => @escrow} %>
    </div>
    <br/>
    <p><%= t('escrow.redirect_indonesia_bank_transfer.label.after_transfer') %></p>
    <ul>
      <li><%= raw t('escrow.redirect_indonesia_bank_transfer.label.send_email', :email => '<a href="mailto:team@bistip.com?Subject=SafePay">team@bistip.com</a>') %></li>
      <li><%= raw t('escrow.redirect_indonesia_bank_transfer.label.send_message', :link => (link_to 'Admin', new_user_message_path(:user_id => 1))) %></li>
    </ul>
    <p>
      <%= link_to t('escrow.redirect_indonesia_bank_transfer.label.back'), user_message_path(current_user, @escrow.message.id) %>
    </p>
  </div>
</div>