<div class="col4">
  <p>
    <% link_path = console_escrow_path %>
    <% unless current_page?(link_path) %>
      <%= link_to 'SafePay', link_path %>
    <% else %>
      <%= 'SafePay' %>
    <% end %>
    &nbsp;-&nbsp;
    <% link_path = console_payout_method_path %>
    <% unless current_page?(link_path) %>
      <%= link_to 'Payout Method', link_path %>
    <% else %>
      <%= 'Payout Method' %>
    <% end %>
    &nbsp;-&nbsp;
    <% link_path = console_conversations_path %>
    <% unless current_page?(link_path) %>
      <%= link_to 'Conversations', link_path %>
    <% else %>
      <%= 'Conversations' %>
    <% end %>
    &nbsp;-&nbsp;
    <% link_path = console_store_item_path %>
    <% unless current_page?(link_path) %>
      <%= link_to 'Store Item', link_path %>
    <% else %>
      <%= 'Store Item' %>
    <% end %>
    &nbsp;-&nbsp;
    <% link_path = console_store_order_path %>
    <% unless current_page?(link_path) %>
      <%= link_to 'Store Order', link_path %>
    <% else %>
      <%= 'Store Order' %>
    <% end %>
    &nbsp;-&nbsp;
    <% link_path = console_idea_item_path %>
    <% unless current_page?(link_path) %>
      <%= link_to 'Suggested Item', link_path %>
    <% else %>
      <%= 'Suggested Item' %>
    <% end %>
    &nbsp;-&nbsp;
    <% link_path = console_story_path %>
    <% unless current_page?(link_path) %>
      <%= link_to 'Story', link_path %>
    <% else %>
      <%= 'Story' %>
    <% end %>
    &nbsp;-&nbsp;
    <% link_path = console_forums_path %>
    <% unless current_page?(link_path) %>
      <%= link_to 'Forums', link_path %>
    <% else %>
      <%= 'Forums' %>
    <% end %>
  </p>
</div>
