<%= render 'menu' %>
<div class="col9">
  <div id="inbox">
    <div class="conversation">
      <%= render 'conversation', :locals => {:message => @message} %>
      <% @messages.each do |message| %>
        <%= render 'conversation', :locals => {:message => message} %>
      <% end %>
    </div>
  </div>
</div>