<%= render 'menu' %>
<div class="col4">
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>B - S</th>
        <th>Amount</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <% @escrows.each do |escrow| %>
      <tr>
        <td><%= escrow.id %></td>
        <td><%= escrow.buyer.username %> - <%= escrow.seller.username %></td>
        <td>
          <%= escrow.amount_with_currency %><br/>
          In: <%= escrow.amount_after_fee_with_currency %>
        </td>
        <td><%= escrow.last_log.to_display_string %></td>
        <td>
          <% if escrow.current_state.eql? Escrow::STATE_BUYER_INITIATED %>
            <div><%= link_to 'Bistip received the transfer!', create_received_buyer_bank_transfer_log_path(:escrow_id => escrow.id, :password => ApplicationController::REST_PASSWORD) %></div>
          <% end %>
          <% if escrow.current_state.eql? Escrow::STATE_BUYER_REQUESTED_PAYOUT %>
            <div><%= link_to 'Bistip released Buyer payout!', create_released_buyer_payout_log_path(:escrow_id => escrow.id, :password => ApplicationController::REST_PASSWORD) %></div>
          <% end %>
          <% if escrow.current_state.eql? Escrow::STATE_SELLER_REQUESTED_PAYOUT %>
            <div><%= link_to 'Bistip released Seller payout!', create_released_seller_payout_log_path(:escrow_id => escrow.id, :password => ApplicationController::REST_PASSWORD) %></div>
          <% end %>
          <% if !escrow.current_state.eql?(Escrow::STATE_SELLER_REQUESTED_PAYOUT) and !escrow.current_state.eql?(Escrow::STATE_BUYER_REQUESTED_PAYOUT) %>
            <div><%= link_to 'Edit', console_escrow_edit_path(:id => escrow.id) %></div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= get_will_paginate @escrows %>
</div>