<div id="consoleDashboard">
  <%= render 'menu' %>
  <div class="col9">
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>User</th>
          <th>Action</th>
        </tr>
      </thead>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.id %></td>
          <td><%= post.body %></td>
          <td><%= post.user.username %></td>
          <td><%= link_to 'Delete', console_delete_post_path(:id => post.id) if post.deleted == false %></td>
        </tr>
      <% end %>
    </table>
    <%= get_will_paginate @posts %>
  </div>
</div>