<div id="consoleDashboard">
  <%= render 'menu' %>
  <div class="col9">
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Buyer</th>
          <th>Seller</th>
          <th>Item</th>
          <th>Delivery Fee</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <% @store_orders.each do |so| %>
        <tr>
          <td><%= so.id %></td>
          <td><%= so.buyer.username %></td>
          <td><%= so.seller.username %></td>
          <td><%= so.order_items.first.item.name %> (<%= so.order_items.first.quantity %>)</td>
          <td><%= so.delivery_fee %></td>
          <td><%= so.current_state_display_string %></td>
          <td><%= link_to 'Create SafePay', console_create_store_safepay_path(:id => so.id) if so.delivery_fee_quoted? and so.escrow.blank? %></td>
        </tr>
      <% end %>
    </table>
    <%= get_will_paginate @store_orders %>
  </div>
</div>