<% user = @suggested_item.user %>
<% city = @suggested_item.origin_city %>
<% label_city = city.all_cities? ? city.country.name : city.name %>
<%= page_title(raw t 'suggested_items.show.label.meta_desc', :item => @suggested_item.name, :location => label_city )  %>
<%= meta_description(raw t 'suggested_items.show.label.meta_desc', :item => @suggested_item.name, :location => label_city )  %>
<div class="col4">
  <h2><%= t('suggested_items.show.label.heading') %></h2>
</div>
<div class="col4 bgLightGreen defaultRound">
  <div id="viewItem">
    <div class="avatar">
      <% if !@main_picture.blank? %>
        <%= image_tag @main_picture.attachment.url(:thumb), :size => '50x50', :class => "photo bgWhite" %>
      <% else %>
        <%= image_tag 'default_original_item.png', :size => '50x50' %>
      <% end %>
      <div class="tools">
        <%= render 'new_vote' %>
      </div>
      <div class="adminTools">
        <% if logged_in? and @suggested_item.user == current_user %>
          <%= link_to t('suggested_items.edit.link'), edit_suggested_item_path(@suggested_item) %>
        <% end %>
      </div>
    </div>

    <div class="info">
      <% unless @suggested_item.active? %>
        <div class="notificationBar yellow">
          <%= t('suggested_items.show.label.not_active') %>
        </div>
      <% end %>
      <div class="itemDisplay defaultRound"><%= @suggested_item.name %></div>
      <div class="locationDisplay defaultRound">
        <%= @suggested_item.origin_city.name %>, <%= @suggested_item.origin_city.country.name %>
      </div>
      <br/>
      <% if @suggested_item.is_a?(UserSuggestedItem) %>
        <h4><%= t('suggested_items.show.label.suggester') %></h4>
        <p>
          <%= link_to user.username, profile_path(user.username) %>
        </p>
      <% end %>
      <h4><%= t('suggested_items.show.label.location') %></h4>
      <p>
        <%= city.name %>, <%= city.country.name %>
      </p>
      <h4><%= raw t('suggested_items.show.label.reason', :location => label_city, :item => @suggested_item.name) %></h4>
      <p>
        <%= @suggested_item.reason %>
      </p>
      <% unless @suggested_item.notes.blank? %>
        <h4><%= t('suggested_items.show.label.notes') %></h4>
        <p>
          <%= auto_link_in_new_tab(@suggested_item.notes) %>
        </p>
      <% end %>
      <p>
        <% url = suggested_item_url(@suggested_item) %>
        <%= render 'shared/social_share_item', :locals => {:url => url, :title => (raw t 'suggested_items.show.label.meta_desc', :item => @suggested_item.name, :location => label_city )} %>
      </p>
    </div>
  </div>
  <br clear="all"/>
  <br clear="all"/>

  <% unless @suggested_item_pictures.blank? %>
    <h4><%= raw t('suggested_items.show.label.pictures', :item => @suggested_item.name) %></h4>
    <div id="itemPictures" class="bgWhite defaultRound">
      <% @suggested_item_pictures.each_with_index do |suggested_item_picture, index| %>
        <% identifier = "suggested_item_" + @suggested_item.id.to_s + "_suggested_item_picture_" + index.to_s %>
        <%= link_to suggested_item_pictures_path(:suggested_item_id => @suggested_item.id, :suggested_item_picture_id => suggested_item_picture.id) do %>
          <%= image_tag suggested_item_picture.attachment(:thumb), :align => 'center', :class => 'photo', :size => '50x50' %>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <br/>
  <% if @total_result > 0 %>
    <h4><%= raw t('suggested_items.show.label.route') %>&nbsp;<%= render 'shared/city', :locals => {:city => city, :short_name => false} %>&nbsp;<span class="counter"><%= @total_result %></span></h4>
    <div id="searchResults">
      <div class="defaultRound">
        <div id="trip">
          <%= render :partial => 'trip', :collection => @results %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="alignCenter">
    <%= get_will_paginate @results %>
  </div>


</div>
