<% page_title t('home.index.title') %>
<table width="100%" cellspacing="0" cellpadding="0" border="0" class="text-title-01">
  <tbody>
    <tr>
      <td colspan="2" align="center" >
        <span class="blue-link"><i><%=raw t('home.index.questions', :faq => (link_to t('content.link.faq_short'), faq_path), :guide => (link_to t('content.link.guide'), guide_path))%></i></span>
      </td>
    </tr>
    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td width="50%">
        <div class="header01" style="text-align: center"><%= t('home.index.label.bistiper') %></div>
        <div style="background-image: url(<%= image_path 'instruction_head.gif' %>); background-position: center center; width: 100%; height: 129px; background-repeat: no-repeat;">
          <div class="header-sub-text blue-link"><%= raw t('home.index.label.bistiper_sub_one') %></div>
          <div class="header-sub-text blue-link"><%= raw t('home.index.label.bistiper_sub_two', :href => link_to('disini', new_trip_path)) %></div>
          <div class="header-sub-text blue-link"><%= raw t('home.index.label.bistiper_sub_three') %></div>
        </div>
      </td>
      <td width="50%">
        <div class="header01" style="text-align: center"><%= t('home.index.label.wanted_bistiper') %></div>
        <div style="background-image: url(<%= image_path 'instruction_head.gif' %>); background-position: center center; width: 100%; height: 129px; background-repeat: no-repeat;">
          <div class="header-sub-text blue-link"><%= raw t('home.index.label.wanted_bistiper_sub_one', :href => link_to('disini', search_trip_path)) %></div>
          <div class="header-sub-text blue-link"><%= raw t('home.index.label.wanted_bistiper_sub_two', :href => link_to('wanted bistiper', new_seek_path)) %></div>
          <div class="header-sub-text blue-link"><%= raw t('home.index.label.wanted_bistiper_sub_three') %></div>
        </div>
      </td>
    </tr>
    <tr>
      <td height="31" align="right" style="background-image: url(<%= image_path 'para_bistiper.jpg' %>); background-repeat: no-repeat; background-position: center bottom; padding-right: 50px;">
        <%= link_to search_trip_path do %>
          <%= image_tag "search_icon.jpg", :border => 0 %>
        <% end %>
      </td>
      <td height="31" align="right" style="background-image: url(<%= image_path 'wanted_bistiper.jpg' %>); background-repeat: no-repeat; background-position: center bottom; padding-right: 50px;">
        <%= link_to search_seek_path do %>
          <%= image_tag "search_icon.jpg", :border => 0 %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td valign="top" align="left" style="background-image: url(<%= image_path "bg_01.jpg" %> ); background-repeat: repeat-y; background-position: center center; padding-left: 50px;">
        <% if @trips.size > 0 %>
          <% for trip in @trips %>
            <%= render 'shared/trip_summary', :locals => {:trip => trip} %>
          <% end %>
        <% else %>
          <div><%= t('home.index.label.no_result') %></div>
        <% end %>
      </td>
      <td valign="top" align="left" style="background-image: url(<%= image_path "bg_01.jpg" %> ); background-repeat: repeat-y; background-position: center center; padding-left: 50px;">
        <% if @seeks.size > 0 %>
          <% for seek in @seeks %>
            <%= render 'shared/seek_summary', :locals => {:seek => seek} %>
          <% end %>
        <% else %>
          <div><%= t('home.index.label.no_result') %></div>
        <% end %>
      </td>
    </tr>
    <tr>
      <td align="left" style="background-image: url(<%= image_path "table_bottom.jpg" %>); background-repeat: no-repeat; background-position: center center;">&nbsp;</td>
      <td align="left" style="background-image: url(<%= image_path "table_bottom.jpg" %>); background-repeat: no-repeat; background-position: center center;">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2">
        <div class="blue-link" style="font-size: 15px; padding-top: 20px; text-align: center"><b><%= raw t('home.index.label.footer', :href => link_to('ini', how_path)) %></b></div>
      </td>
    </tr>
  </tbody>
</table>