<div id="escrow_confirmation">
  <div class="notificationBar yellow"><%= t('escrow.new.label.double_check') %></div>
  <p>
    <label><%= t('escrow.new.label.item') %></label>
    <strong class="largerText"><%= @escrow.item %></strong>
  </p>
  <p>
    <label><%= t('escrow.new.label.payment_method') %></label>
    <%= t("payment_method.#{@escrow.payment_method.cname}") %>
  </p>
  <p>
    <label><%= t('escrow.new.label.amount') %></label>
    <strong class="largerText"><%= t("payment_method.amount_after_cost.#{@escrow.payment_method.cname}", :amount => number_to_currency(@escrow.amount, :unit => '', :precision => 0)) %></strong>&nbsp;
    <%= t('escrow.new.label.seller_receive', :seller => @escrow.seller.username)%>&nbsp;
    <span id="escrow_amount_after_fee" class="largerText">
      <strong>
        <%= t("payment_method.amount_after_cost.#{@escrow.payment_method.cname}", :amount => number_to_currency(@escrow.payment_method.calculate_amount_after_cost(@escrow.amount), :unit => '', :precision => 0)) %>
      </strong>
    </span>
  </p>
  <br/>
  <p class="italic"><%= raw t('escrow.new.label.terms', :link => (link_to t('content.link.safepay'), safepay_path, :target => '_blank')) %></p>
</div>