<p class="textGreen">
  <strong>Klaim poin sementara tidak ada karena.. Bistip SafePay lagi bebas biaya!</strong>
</p>
<p>
  Dalam rangka ulang tahun Bistip yang pertama, kita sedang membebaskan biaya SafePay untuk periode 9 Maret - 9 April 2012. Baca selengkapnya di halaman <%= link_to t('content.link.safepay'), safepay_path %>.
</p>