<div class="col4">
  <nav class="static">

    <%= render_sub_menu_link t('content.link.guide'), [{:controller => 'content', :action => "guide"}] %>
    <%= render_sub_menu_link t('content.link.guide_all'), [{:controller => 'content', :action => "guide_all"}] %>
    <%= render_sub_menu_link t('content.link.guide_bistiper'), [{:controller => 'content', :action => "guide_bistiper"}] %>
    <%= render_sub_menu_link t('content.link.guide_looker'), [{:controller => 'content', :action => "guide_looker"}] %>
    <%= render_sub_menu_link t('content.link.insurance'), [insurances_path] %>
    <%= render_sub_menu_link t('content.link.rekber'), [{:controller => 'content', :action => "rekber"}] %>
  </nav>
</div> 