<% page_title t('content.link.jobs') %>
<div class="col4, padding2point5">
  <h2><%= t('content.link.jobs') %></h2>
  <h3>Available Position(s)</h3>

  <h4>Software Engineer</h4>
  <br/>
  <p>As a Software Engineer you will be working on a small but passionate startup team. You will deep-dive to the core of Bistip.com.</p>
  <p>Expect to involved from the front-end to back-end. You will also be involved in overall discussions on Bistip, drive it with your innovative idea, and implement it with your own design of the solution.</p>
  <p>We encourage our team to continuously learn new things here. There's just so many things to learn out there :)</p>
  <p>Requirements:</p>
  <ul>
    <li>Fresh graduates or professionals with less than 2 years of work experience preferred.</li>
    <li>Required skills: MVC web framework, Object-Relational Mapper, JavaScript, and AJAX.</li>
    <li>Good understanding of Object Oriented principle.</li>
    <li>Experience in CSS, J2EE, Ruby (Ruby on Rails), PHP, Perl, or Python is a plus.</li>
  </ul>
  <p>Please send your CV and Resume to: <strong>hire.me[at]bistip.com</strong> good luck! :)</p>
</div>
<%= render 'shared/static_menu' %>
