<% page_title t('dashboard.index.title') %>
<div id="dashboard">
  <%= render 'reminder' %>
  <%= render 'menu' %>
  <div class="col9">
    <% if @incoming_trips.size > 0 %>
    <div class="dashboardPlc bgLightYellow defaultRound defaultShadow">
      <h4><%= "#{t('dashboard.label.incoming_bistiper')} (#{current_user.city_location})" %></h4>
      <div id="searchResults" class="dashboard">
        <%= render 'shared/incoming_trips', :locals => {:incoming_trips => @incoming_trips} %>
      </div>
    </div>
    <br/>
    <% end %>
    <div class="dashboardPlc bgLightYellow defaultRound defaultShadow" style="overflow: hidden;">
      <div class="defaultRound defaultShadow dashboardCallToAction left">
        <h3><%= raw t('home.index.label.bistiper') %></h3>
        <h3><%= link_to t('home.index.label.bistiper_action'), new_trip_path, :class=>"btnAction btnPost" %></h3>
      </div>
      <div class="defaultRound defaultShadow dashboardCallToAction right">
        <h3><%= raw t('home.index.label.wanted_bistiper') %></h3>
        <h3><%= link_to t('home.index.label.wanted_bistiper_action'), search_trip_path, :class => 'btnAction btnSearch' %></h3>
      </div>
    </div>
  </div>
</div>