<div style="font: normal 14px Helvetica, Arial, sans-serif; line-height: 19px; color: #333;">
  We have approved your story "<strong><%= @story.title %></strong>".
  <br/>
  <br/>
  You can view the story through the link below:
  <br/>
  <%= auto_link(story_url(@story)) %>
</div>