<% page_title @seek.to_s %>
<% user = @seek.user %>
<% meta_description @seek.to_s %>
<% meta_keywords @seek.items_name_all %>
<div class="col4">
  <h2><%= t('seek.show.label.heading') %></h2>
  <p>
    <%= link_to t('general.link_return'), :back %>
  </p>
</div>
<div class="col4 bgLightBlue defaultRound">
  <div id="viewWanted">
    <div class="avatar">
      <%= render 'shared/trusted_badge', :locals => {:user => user} %>
      <%= image_tag user.avatar.url(:thumb), :class => "photo" %>
      <h5><%= link_to user.username, profile_path(user.username) %></h5>

      <div class="tools">
        <%= render 'shared/user_review_link', :locals => {:user => user} %>
      </div>

      <% if logged_in? and @seek.owner?(current_user) and @seek.active? %>
        <div class="adminTools">
          <%= link_to t('seek.edit.link_short'), edit_seek_path(@seek) %>
          <%= link_to t('seek.destroy.link_short'), @seek, :confirm => t('general.are_you_sure'), :method => :delete, :class => "delete" %>
        </div>
      <% end %>
    </div>
    <div class="info">
      <% unless @seek.active? %>
        <div class="notificationBar red">
          <%= t('seek.show.label.not_active') %>
        </div>
      <% end %>

      <div class="infoBlock defaultRound">
        <%= render 'shared/seek_data', :locals => {:seek => @seek} %>
      </div>

      <% unless @seek.notes.blank? %>
        <h5><%= t('seek.field.label.notes') %></h5>
        <p>
          <%= auto_link_in_new_tab @seek.notes %>
        </p>
      <% end %>

      <p>
        <% if logged_in? %>
          
				<% if current_user.sent_messages.find_all_by_seek_id(@seek.id).any? %>
				<br />
				<% link_to user_message_path(:user_id=>user, :id=>current_user.sent_messages.find_all_by_seek_id(params[:id]).first.id), :class => "btnAction" do %>
				<%= image_tag 'icon-email-bistiper.png', :size => "22x14" %>&nbsp;
				<%= t('message.link.seek_contacted_short', :username => user.username) %>
				<% end %>

				<% elsif !@seek.owner?(current_user) %>
				<br />
				<%= link_to new_user_message_path(:user_id => user, :seek_id => @seek.id), :class => "btnAction" do %>
				<%= image_tag 'icon-email-bistiper.png', :size => "22x14" %>&nbsp;
				<%= t('message.link.seek_short', :username => user.username) %>
				<% end %>
				<br/>
				<% end %>
        

        <%= render 'shared/social_share', :locals => {:url => seek_url(@seek), :title => @seek.to_s, :owner => @seek.user } %>
     <% end %>
     </p>
    </div>
  </div>
  <br clear="all"/>
  <div id="comments" class="bgWhite defaultRound">
    <%= render 'comments' %>
  </div>
</div>