<% page_title t('influencer.link') %>
<div id="dash" class="content-left text-01">
  <div class="left-section panel-blue">
    <%= render 'shared/left_menu' %>
  </div>
  <div class="main-section">
  <center>
    <br/>
    <br/>
    <div id="mypoint" style="border: 2px solid #62ACE3;width: 90%; border-radius:5px;">
      <%= render 'influencer'  %>
    </div>
  </center>
    </div>
</div>

