<div id="paginationData">
 <% if @trips.size > 0 %>
 <% for trip in @trips do%>
            <% if params[:keyword] %>
              <%= render 'shared/trip_summary', :locals => {:trip => trip, :keyword_specified => true} %>
            <% else %>
              <%= render 'shared/trip_summary', :locals => {:trip => trip, :item_count => TripItem::SUMMARY_COUNT} %>
            <% end %>
          <% end %>
        <% else %>
          <div class="notificationBar yellow"><%= t('search_trip.index.label.no_result') %></div>
          <h4 class="textBlack"><%= raw t('search_trip.index.label.no_result_instruction') %></h4>
          <p><%= link_to t('seek.new.link'), new_seek_path + build_params_for_new_seek, :class => 'btnAction' %></p>
        <% end %>
        <div>
    <%= get_will_paginate @trips %>
  </div>
</div>