$("#skcomments").append("<% for c in @skcomments %><%= escape_javascript(render 'seek_comments/seek_comment',:locals => {:comment => c}) %><%end%> ");
$("#skcomments_pagination").html("<%= escape_javascript(will_paginate(@skcomments,:renderer=>TwitterPagination::LinkRenderer,:id=>'skcomments_pagination')) %>");