<% unless SuggestedItem.get_top_voted_from(@trip.origin_city, 2).blank? %>
  <div id="itemSuggestions">
    <h4><%= t('trip.show.label.suggested_items') %></h4>
    <br />
    <% SuggestedItem.get_top_voted_from(@trip.origin_city, 2).each do |suggestion| %>
      <% link_to suggested_item_path(suggestion), :target => '_blank' do %>
        <div class="miniRow bgLightGreen">
          <p>
            <% unless suggestion.has_picture? %>
              <%= image_tag 'default_original_item.png', :size => "32x32", :class => "photo bgWhite" %>
            <% else %>
              <%= image_tag suggestion.pictures.first.attachment.url(:thumb), :size => "32x32", :class => "photo bgWhite" %>
            <% end %>
            &nbsp;&nbsp;&nbsp;<%= suggestion.name %>
          </p>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>