<%= render 'shared/event_menu' %>
<% page_title 'Bistipes #2' %>
<div class="col9">

  <h2>Bistipes #2</h2>

  <h3 class="textBlack">Gratis nitip Rute: Jakarta > Sydney > Jakarta!</h3>

  <p align="center">
    <%= image_tag 'events/bistipes-sydney.png', :class => 'defaultShadow' %>
  </p>

  <h3 class="textBlack">Siapa sih Bistipes?</h3>

  <p>
    Halo, perkenalkan nama saya Bistipes. lho, kok Bistipes? apa bedanya dengan Bistiper? Tidak terlalu berbeda kok,
    saya bisa dibilang <strong>official ambassador</strong> dari Bistip yang hobi jalan-jalan dan gemar membantu
    Bistiper dalam
    titip-menitip barang. Bedanya? <strong>Kalian tidak perlu memberikan tip ke saya kalo ingin menitip! :) gratis!</strong>.
    Dan karena
    Bistipes juga produk resmi Bistip, jadinya kamu bisa percayakan barang kamu di tangan Bistipes, hehe.
    <strong>Bisa nitip bebas tip!</strong>.
  </p>

  <h3 class="textBlack">Jadwal dan Rute Bistipes</h3>

  <p>
    Setelah sukses dengan perjalanan sebelumnya yaitu Jakarta > Sydney > Jakarta, kini saya kembali lagi dengan
    perjalanan ke tempat seru lainnya, kali ini rute saya adalah <strong>Jakarta - Sydney</strong>. Saya berangkat tanggal
    <strong>16 September 2011</strong> dan balik lagi ke
    Jakarta tanggal <strong>25 September 2011</strong>. Jadi kalo pengen nitip gratis barang dari Sydney, inilah
    saatnya!
  </p>
  <p>
    Follow twitter saya <%= link_to'@bistipes', 'http://twitter.com/bistipes', :target => '_blank' %> buat mengikuti kegiatan saya selama jalan-jalan membawakan titipan kalian :)
  </p>

  <p>
    Yang mau nitip bisa liat rute perjalanan saya di sini:
  </p>
  <ul>
    <li><%= link_to 'Jakarta > Sydney', 'http://www.bistip.com/trips/713', :target => '_blank' %></li>
    <li><%= link_to 'Sydney > Jakarta', 'http://www.bistip.com/trips/714', :target => '_blank' %></li>
  </ul>

  <p>
    Saya gak bisa bawain yang berat-berat ya, namanya juga backpacker :D
  </p>

  <p>
    Tertanda,
  </p>

  <p>
    Bistipes
  </p>

</div>