<% page_title t('content.link.faq') %>
<%= faq_slide_js %>
<div class="col4, padding2point5">
  <h2><%= t('content.link.faq') %></h2>

  <div id="faqs">

    <h4 class="textBlack">> What is Bistiper, Traveler and Requester?</h4>

    <div>
      <p>We call all the Bistip members as "Bistiper", while Traveler is the Bistiper who is willing to help you to get
        what you need from other location, and Requester is the item looker.</p>

      <div class="divider"></div>
    </div>
    <h4 class="textBlack">> And Request Post?</h4>

    <div>
      <p>Traveler in demand by other users.</p>

      <div class="divider"></div>
    </div>

    <h4 class="textBlack">> How to do safe money transaction?</h4>

    <div>
      <p>We recommend you to use our <%= link_to t('content.link.safepay'), safepay_path %> for easy and secure
        transaction in bistip.
      </p>

      <div class="divider"></div>
    </div>

    <h4 class="textBlack">> How do i start using Bistip SafePay?</h4>

    <div>
      <p>
        You can click <strong>"Pay to" button on the right side</strong> of the message you sent to the
        Traveler.
      </p>

      <p align="center">
        <%= image_tag 'escrow_faq/009-m.png', :class => "defaultShadow" %>
      </p>

      <p>
        Fill the details of your transaction and click "Continue".
      </p>

      <p align="center">
        <%= image_tag 'escrow_faq/003-m.png', :class => "defaultShadow" %>
      </p>
      <br/>

      <div class="divider"></div>
    </div>

    <h4 class="textBlack">> Who should initiate Bistip SafePay?</h4>

    <div>
      <p>
        The Requester or the person who wants to pay.
      </p>
    </div>

    <h4 class="textBlack">> Can i cancel the SafePay transaction and get a refund?</h4>

    <div>
      <p><strong>YES YOU CAN</strong>, under these conditions:</p>
      <ul>
        <li>Requester has sent money for transaction and Traveler can cancel it because he/she could not get the item or
          rejected the request fron the Requester.
          Once the transaction is canceled, the Requester's money will be refunded.
          <p align="center">
            <%= image_tag 'escrow_faq/007-m.png', :class => "defaultShadow" %>
          </p>
        </li>
        <li>No news from the traveler for 30 days after the payment by Requester, and the transaction money will be
          refunded.
        </li>
      </ul>
      <div class="divider"></div>
    </div>

    <h4 class="textBlack">> Where can i find the information about Bistip SafePay Bank account?</h4>

    <div>
      <p>After filling the transaction details,</p>

      <p align="center">
        <%= image_tag 'escrow_faq/003-m.png', :class => "defaultShadow" %>
      </p>

      <p>the Bank account information will appear including what to put for Bank Transfer
        Notes<strong>("Notes")</strong>.</p>

      <p align="center">
        <%= image_tag 'escrow_faq/006-m.png', :class => "defaultShadow" %>
      </p>  <br/>

      <div class="divider"></div>
    </div>


    <h4 class="textBlack">> Can I open the package that I got entrusted from someone?</h4>

    <div>
      <p>First of all, Bistip.com just connect you who needs help and travelers who is willing to be entrusted to. We
        already thought about the safety of the travelers for this scenario, check out
        our <%= link_to t('content.link.guide'), guide_path %>
        .
        In the Guide we mentioned that
        <strong>You must make sure you know what exactly the item you entrusted to. Ask for permission to open the
          content of the
          package and check it thoroughly.</strong></p>

      <div class="divider"></div>
    </div>

    <h4 class="textBlack">> How can we decide the Tip amount for the Traveler?</h4>

    <div>
      <p>We think it's not easy to set a standard for the Tip amount. For example: a small and light item might be an
        expensive item, or an item can be very important/urgent that someone is willing to pay high TIp for it.
        For now, we let the negotiation to be done amongst Bistip users. Please also read
        our <%= link_to t('content.link.guide'), guide_path %>.</p>

      <div class="divider"></div>
    </div>

    <h4 class="textBlack">> How can we avoid scam?</h4>

    <div>
      <p>Check the profile of a Bistip member, also if given check out their Facebook and Twitter account. Bistip also
        provide review system, you can use it to find out about a member track record.</p>

      <div class="divider"></div>
    </div>
    <h4 class="textBlack">> What does "Trusted by bistip team" means?</h4>

    <div>
      <p>The Badge "Trusted by bistip team" only given to those that bistip team know and trust.</p>

      <div class="divider"></div>
    </div>
    <h4 class="textBlack">> How to get "Verified" review?</h4>

    <div>
      <p>All review from <%= link_to t('content.link.safepay'), safepay_path %> transaction, will get "Verified" tag
        automatically.</p>
    </div>

    <br/>

    <p><strong>Any questions not answered yet? send it us
      through <%= link_to t('contact_us.new.link.general'), new_contact_us_path %> :)</strong></p>
  </div>
</div>
<%= render 'shared/guide_menu' %>