<% page_title t('seek.index.link') %>
<%= render 'shared/user_sub_menu', :locals => {:user => @user} %>
<div class="col4 bgLightBlue defaultRound">
  <div id="seeks">
    <% if @seeks.size > 0 %>
      <% for seek in @seeks %>
        <%= render 'shared/seek_row', :locals => {:seek => seek} %>
      <% end %>
    <% else %>
      <div class="notificationBar yellow"><%= t('seek.index.no_result') %></div>
    <% end %>
  </div>
  <div class="alignCenter">
    <%= get_will_paginate(@seeks) %>
  </div>
</div>