<% page_title t('password.reset.label.heading') %>
<div id="resetPassword">
  <div class="col4">
    <h2><%= t('password.reset.label.heading') %></h2>
  </div>
  <div class="col4 bgLightYellow defaultRound">
    <h4 class="textBlack"><%= t('password.reset.label.intro') %></h4>
    <%= form_tag(:action => 'send_email', :controller => 'passwords') do %>
      <p>
        <label><%= t('password.reset.label.email') %></label>
        <%= text_field_tag 'email', nil, :class => 'textbox-01' %>
      </p>
      <p>
        <%= submit_tag t('button.send'), :class => 'defaultButton' %>
      </p>
    <% end %>
  </div>
</div>
