<table width="80%;" border="0" class="text-01" style="background-color: #62ACE3; border-radius:5px;" >
  <tr class="form-border">
  <th style="width: 7%">No.</th>
  <th style="width: 65%">User</th>
  <th>Point</th>
  </tr>
<tbody>
  <% @influencer.each do |inf| %>
    <% color = "#DFEFFF" %>
    <% color = "#FFFFFF" if inf[0]%2==0 %>
    <%# color = "#FF5577" if inf[2] >= InfluencerLog::MINIMUM_CLICK %>
    <tr style="background: <%=color%>">
      <td align="center" style="font-weight: bold;font-size: 16px; color: #035088;"><%= inf[0] %></td>
      <td align="center">
        <% user = User.find(inf[1]) %>
        <%= render 'shared/user_medium', :locals => {:user => user}%>
      </td>
      <td align="center" class="texthover">
        <span ><strong><%= inf[2] %></strong></span>
      </td>
    </tr>
  <% end %>
</tbody>
<tfoot>
  <tr style="background: #FFF;" >
    <td colspan="3" align="center"><strong><%=  will_paginate @influencer%><%= page_entries_info @influencer, :entry_name => 'influencer'%></strong></td>
  </tr>
</tfoot>
</table>

