<div style="width: 100%;">
<div style="padding: 3px 3px 3px 3px;">
  <div class="form-border text-01" style="color: white;">
INFLUENCER IS Just like the other premium themes from The Theme Foundry Linen is packed with features.
Linen beautifully highlights posts with featured images by sliding them across the home page.
You can add thumbnails to each post and upload your own logo or custom background.
You can even customize the typography with a selection of seven accent fonts and eight different body fonts
</div>
  <br/>
  <center>
  <div style="margin-left: auto; margin-right: auto;" id="influencer">
      <%= render 'influencer' %>
  </div>
 
  </center>
</div>
</div>