<div style="height: 300px;" class="content-middle-graphic-background text-01">
  <p>
    Kamu akan kami kembalikan ke halaman utama beberapa saat lagi.
  </p>
  <p>
    <% data = params[:decodedurl] if params[:decodedurl] %>
    <% if data || !data.nil? %>
      <% path = insert_path(data) %>
    <% else %>
      <% path = root_path %>
    <% end %>
    Silakan klik link <span class="buttonlink-blue"><%= link_to t('general.here'), path %></span> jika auto-redirect tidak bekerja.
  </p>
  <p>
    <center>
      <%= image_tag 'ajax-loader1.gif' %>
    </center>
  </p>
</div>

<script type="text/javascript">
  setTimeout(function() {
    window.location.href = '<%=path%>';
}, 5000);
</script>
