<div style="font-family: 'Crafty Girls', arial, serif;" class="content-middle-graphic-background">
  <div class="transitpage">
      <p>
        Harap tunggu 5 detik ya, sebentar lagi kamu diarahkan ke halaman yang kamu minta
      </p>
      <p>
        <% data = params[:decodedurl] if params[:decodedurl] %>
        <% if data || !data.nil? %>
          <% path = insert_path(data) %>
        <% else %>
          <% path = root_path %>
        <% end %>
        Silakan <span class="blue-link" style="font-weight: bold; font-size: 24px;"><%= link_to t('general.click_here'), path %></span> jika auto-redirect tidak bekerja.
      </p>
      <p>
      <center>
        <%= image_tag 'ajax-loader1.gif' %>
      </center>
    </p>
  </div>
</div>

<script type="text/javascript">
  setTimeout(function() {
    window.location.href = '<%=path%>';
}, 5000);
</script>
