<% page_title t('trip.edit.link') %>
<div class="content-left">
  <div class="text-orange"><%= t('trip.edit.link') %></div>
  <%= render 'form', :locals => {:cancel_path => trip_path(@trip)} %>
</div>