<% comment = locals[:comment] %>
<% user = comment.user %>
<div class="commentRow">
  <div class="avatar">
    <%= link_to profile_path(user.username) do %>
      <%= image_tag user.avatar.url, :size=>"64x64", :class => "photo" %>
    <% end %>
    <div class="tools">
      <%= render 'shared/user_reputation', :locals => {:user => user} %>
      <%= render 'shared/send_message_lite', :locals => {:user => user} %>
    </div>
  </div>

  <div class="info">
    <% if logged_in? and comment.owner?(current_user) %>
      <div class="adminTools">
        <%= link_to t('comment.destroy.link'), seek_comment_path(@seek, comment), :confirm => t('confirmation.label'), :method => :delete, :class => "delete" %>
      </div>
    <% end %>
    <h5>
      <%= link_to user.username, profile_path(user.username) %>
      <span>&nbsp;&ndash;&nbsp;<%= l(comment.created_at) %> </span>
    </h5>
    <p>
      <%= auto_link_in_new_tab_without_simple_format comment.body %>
    </p>
  </div>
</div>
