<% seller = current_user == @message.sender ? @message.receiver : @message.sender %>
<% pay_to = @message.not_this_user(current_user) %>

<% if !@message.escrow.blank? %>
  <div class="bgLightYellow defaultRound" id="protectionWidget">
    <%= render "escrows/widget", :locals => {:escrow => @message.escrow} %><br/>
    <p><%= raw t('message.show.label.apps', :link => (link_to t('content.link.apps'), apps_path, :target => 'blank')) %></p>
  </div>
<% elsif !@message.insurance.blank? %>
  <div class="bgLightYellow defaultRound" id="protectionWidget">
    <%= render "insurances/widget", :locals => {:insurance => @message.insurance} %>
  </div>
<% else %>
  <div class="bgLightYellow defaultRound" id="protectionWidget">
    <p class="escrowHeadingWrap">
      <span class="escrowHeading"><%= t('message.show.label.safepay') %></span><br/>
      <%= raw t('message.show.label.safepay_avoid') %> - <strong> <%= link_to t('general.how_it_works'), safepay_path, :target => '_blank' %></strong>
    </p>
    <p>
      <%= link_to t('message.show.label.pay', :pay_to => pay_to.username), new_escrow_path(:seller_id => seller, :message_id => @message.id), :class => 'btnSafepay' %>
    </p>
  </div>
<% end %>

<%= sticky_js 'protectionWidget' %>