<%= render 'shared/guide_menu' %>
<% page_title t('content.link.paypal_escrow') %>
<div class="col9">
  <h2><%= t('content.link.paypal_escrow') %></h2>


  <p align="center"><%= image_tag 'rekber-paypal-en-m.png' %></p>

  <p>
    1. Both item looker and traveller agree to use PayPal escrow.
  </p>
  <p>
    2. Item looker transfers a certain amount of money to Bistip's PayPal escrow
  </p>
  <ul>
    <li>We only accept <strong>US Dollar</strong> currency for now.</li>
    <li>The processing fee of using the PayPal Escrow is 8%</li>
    <li>The amount the item looker (buyer) will deposit should include item's price, tip for the traveller and 8% fee from the item's price + the tip.</li>

  </ul>
  <p>
    <strong>Example:</strong>
  </p>
  <blockquote class="defaultRound">

    Item's price: USD 100 <br />
    Tip: USD 20 <br/>
    Subtotal: USD 100 <br />

    Total : USD 100 x (100/92) = USD 108.69<br /><br />

    Above calculation is for a scenario where the item looker pay for the 8% fee. <br/><br/>
    The 8% fee can be split between both sides which will yield different calculation.

  </blockquote>
  <p>
    3. Bistip.com confirms that the payment has been received.
  </p>
  <p>
    4. Meetup and exchange item and tip.
  </p>
  <p>
    5. Item looker confirms that he/she received the item.
  </p>
  <p>
    6. Bistip.com transfers the money to the traveller's PayPal account.
  </p>
  <p>
    7. Traveller confirms that he/she received the payment.
  </p>
  <br />
  <p>
    <strong>Important:</strong>
  </p>

  <blockquote class="defaultRound">
    - PayPal escrow is available via <span class="italic">"Messaging"</span> feature.<br />
    - Bistip.com will refund the payment (with 4% fee) if the transaction failed.
  </blockquote>
</div>
