<% page_title t('content.link.rekber') %>
<div class="col4, padding2point5">
  <h2><%= t('content.link.rekber') %></h2>

  <% if I18n.locale == :en %>

  <p><strong> (Indonesian Bank Account holders only) </strong></p>

  <% end %>



  <p align="center"><%= image_tag 'rekber-bistip-new-m.png' %></p>

  <h3 class="textBlack">Prosedur Rekening Bersama secara detil adalah sebagai berikut * :</h3>

  <p>
    <span>Deal nilai transaksi dan kesepakatan antara penitip dan yang dititip, termasuk deskripsi barang secara detil, garansi, asuransi (jika diinginkan), ongkos kirim (jika kesepakatannya menggunakan jasa pengiriman) , pemahaman akan aturan rekening bersama, dsb.
    Untuk keterangan lebih lengkap silakan menuju halaman <%= link_to t('general.rekber'), 'http://bistip.com/forums/2/topics/7', :target => '_blank' %></span>
  </p>
  <p>
    <strong>Langkah-langkah transaksi :</strong>
  </p>
  <ol>
  <li>
     Penitip dan yang dititip memilih pemegang RekBer yang disepakati akan digunakan untuk bertransaksi.
  </li>

  <li>
    Penitip mentransfer nilai (transaksi + komisi titipan + fee Rekber) ke RekBer.
  </li>

  <li>
    Pemilik RekBer yang ditunjuk melakukan verifikasi dan menyalin bukti transfer tersebut di <%= link_to t('general.rekber'), 'http://bistip.com/forums/2/topics/7', :target => '_blank' %>.
  </li>

  <li>
    Setelah yang dititip membelikan barang , maka yang dititip bertemu dengan penitip di mana yang dititip membawakan barang pesanan dan memberikannya kepada si penitip.
  </li>

  <li>
   Apabila penitip telah menerima barang yang ditransaksikan, melakukan pengecekan dan mengkonfirmasi &ldquo;OK&rdquo;
      baru penitip mempersilahkan pemilik RekBer untuk meneruskan dana kepada yang dititip.
  </li>

  <li>
    Pemilik RekBer meneruskan dana (transaksi + komisi titipan) yang sudah dipotong fee RekBer, kemudian menunjukkan posting di thread rekber di bistip.com disertai dengan bukti transfer.
  </li>

  <li>
    Yang dititip melakukan konfirmasi pada thread Rekber di bistip.com bahwa dana transaksi telah diterima melalui RekBer.
  </li>
</ol>
  <h3 class="textBlack">Warning</h3>
  <ol start="1">
    <li>
      <span>Mengingat titip menitip bergantung pada timing berangkatnya pembawa titipan. Maka pemakai rekber kami ingatkan bahwa proses RekBer akan memakan waktu. Sebaiknya sediakan waktu untuk berkomunikasi dengan pihak RekBer sedikitnya </span><span>seminggu (7 hari)</span><span> sebelum berangkatnya pembawa titipan. Karena yang dititip perlu waktu untuk mencarikan barang titipan.</span>
    </li>
  </ol>
   <ol start="2">
    <li>
      <span>Zona Waktu yang digunakan oleh RekBer adalah </span><span>GMT + 7</span><span> atau </span><span>WIB</span><span>.</span>
    </li>
  </ol>

  <h3 class="textBlack">Disclaimer</h3>

  <ol start="1">
    <li>
      <span>Rekening bersama (selanjutnya disebut RekBer) adalah tidak terkait secara institusional dengan pihak </span><span><a href="http://bistip.com">bistip.com</a></span><span> .</span>
    </li>
    <li>
      <span>Partner jasa RekBer yang disarankan oleh </span><span><a href="http://bistip.com">bistip.com</a></span><span> adalah </span><span><a href="http://rekeningbersama.com">rekeningbersama.com</a></span>
    </li>
    <li>
      <span>Segala bentuk </span><span>transaksi yang dilakukan oleh pengguna </span><span><a href="http://bistip.com">bistip.com</a></span><span> melalui jasa RekBer adalah </span><span>di luar tanggung jawab</span><span> </span><span><a href="http://bistip.com">bistip.com</a></span><span> </span><span>tanpa terkecuali</span><span>.</span>
    </li>
    <li>
      <span>Segala bentuk respon</span><span> untuk RekBer (pertanyaan , pengaduan dll) harus dicantumkan di <%= link_to t('general.rekber'), 'http://bistip.com/forums/2/topics/7', :target => '_blank' %>
      . Pihak bistip.com akan berusaha sedapat mungkin membantu menindaklanjutinya. Apabila post mengenai RekBer dilakukan melalui kotak saran (feedback) kami, maka kami mohon maaf sebesarnya karena kami tidak akan menindaklanjutinya.</span>
    </li>
  </ol>

  <h3 class="textBlack">Keterangan</h3>

  <p>
    <span>* Prosedur rekening bersama ini adalah hasil saduran dari website </span><span><a href="http://rekeningbersama.com">rekeningbersama.com</a></span><span> dan telah disetujui oleh pemiliknya untuk diubah sesuai dengan kebutuhan </span><span><a href="http://bistip.com">bistip.com</a></span><span> .</span>
  </p>

</div>

<%= render 'shared/guide_menu' %>