<% if (message.trip_id or message.seek_id) and session[:new] %>
  <% session[:new] = false %>
  <div class="callForBrowsing">
    <h5><%= t('message.link.continue_browsing.heading') %></h5>
    <% if message.trip_id %>
      <% trip = Trip.find(message.trip_id) %>
      <% suggestions = Trip.get_suggestions(trip) %>
      <% if suggestions.size > 0 %>
        <% link_to suggestions_trip_path(trip, :ref => 'msg-trip-cont_browsing'),  :class => "btnAction" do %>
          <%= t('message.link.continue_browsing.trip', :owner => trip.user.username) %>
        <% end %>
      <% else %>
        <div class="intro"><%= t('message.link.continue_browsing.no_suggestions', :owner => trip.user.username) %></div>
        <% link_to new_seek_path(:ref => 'msg-trip-cont_browsing'),  :class => "btnAction" do %>
          <%= t('seek.new.link') %>
        <% end %>
        &nbsp;&nbsp;or&nbsp;
        <% link_to search_trip_path(:ref => 'msg-trip-cont_browsing'),  :class => "btnActionSecond" do %>
          <%= t('message.link.continue_browsing.trip_search') %>
        <% end %>
      <% end %>
    <%# elsif message.seek_id %>
      <%# continue_browsing_url = search_seek_path(:destination =>City.find(Seek.find(message.seek_id).destination_city).name, :ref => 'msg-seek-cont_browsing') %>
      <%# link_to continue_browsing_url,  :class => "btnAction" do %>
        <%#= t('message.link.continue_browsing.seek', :destination=>Seek.find(message.seek_id).destination_city.name) %>
      <%# end %>
    <% end %>
  </div>
<% end %>