<% trip = locals[:trip] %>
<%= t('message.field.label.trip') %>:
<%= render 'shared/city', :locals => {:city => trip.origin_city} %>
&nbsp;<b>&gt;</b>&nbsp;
<%= render 'shared/city', :locals => {:city => trip.destination_city} %>
