<% receiver = sent.receiver %>
<%= link_to(message_path(sent, :anchor => sent.internal_link_id), :class => 'divlink') do %>
  <div class="inboxRow">
    <div class="avatar">
      <%= render 'shared/trusted_badge', :locals => {:user => receiver, :small => true} %>
      <%= image_tag receiver.avatar.url(:thumb), :align => 'center', :class => 'photo', :width => 48, :height => 48 %>
    </div>
    <div class="message">
      <h5>
        <%= t('general.to')%>:&nbsp;<%= receiver.username %>
        <span class="date"><%= smart_date_display(sent.created_at) %></span>
        <% if sent.has_escrow? %>
          <span class="transaction"><%= t('general.transaction') %></span>
        <% end %>
        <% if sent.has_asset? %>
          <span class="asset"><%= image_tag 'icon-attachment-16.png', :title => t('message.label.has_asset') %></span>
        <% end %>
      </h5>
      <% body = sent.body_display %>
      <% body = body.slice(0,100) + "..." unless body.length <= 100 %>
      <p><%= sent.subject_display %>&nbsp;-<%= body %></p>
    </div>
  </div>
<% end %>

