<% receiver = sent.receiver %>
<%= link_to(message_path(sent, :anchor => sent.internal_link_id), :class => 'divlink') do %>
  <div class="inboxRow">
    <div class="message">
      <h5>
        <%= t('general.to')%>:&nbsp;<%= receiver.username %><%= render 'shared/trusted_badge', :locals => {:user => receiver} %>
        <% if sent.has_escrow? %>
          <span class="transaction"><%= t('general.transaction') %></span>
        <% end %>
        <% if sent.has_asset? %>
          <span class="asset"><%= image_tag 'icon-attachment-12.png' %></span>
        <% end %>
        <span class="date">&nbsp;&ndash;&nbsp;<%= smart_date_display(sent.created_at) %></span>
      </h5>
      <% body = sent.body_display %>
      <% body = body.slice(0,100) + "..." unless body.length <= 100 %>
      <p><%= sent.subject_display %>&nbsp;-<%= body %></p>
    </div>
  </div>
<% end %>

