<section id="secondaryNav">
  <div class="plc">
    <nav>
      <%= link_to t('trip.new.link'), {:controller => 'trips', :action => "new" }%>
      <%= link_to t('store_item.new.link'), {:controller => 'store_items', :action => "new" }%>
      <%= link_to t('seek.new.link'), {:controller => 'seeks', :action => "new" }%>
      <%= link_to t('layout.link.search'), {:controller => 'search_trip', :action => "index" } %>
      <%= link_to t('forum.link'), forums_path, :target => 'blank' %>
    </nav>
  </div>
</section>
