<% seek = locals[:seek] %>
<% user = seek.user %>
<% ref = locals[:ref] %>

<%= link_to seek_path(seek, :ref => ref), :class => 'divlink' do %>
  <div class="miniRow bgLightBlue">
    <div class="info">
      <p>
        <span class="iconShopping"><strong><%= seek.item_name_for_display %></strong></span>
        <br/>
        <span class="iconUser"><strong><%= user.username %></strong></span>
      </p>
    </div>
  </div>
<% end %>
