<% user = locals[:user] %>
<% if Review.find_all_by_receiver_id(user.id).size > 0 %>
    <%= link_to reviews_user_path(:username => user.username) do %>
        <%= render 'shared/user_review', :locals => {:user => user} %>
    <% end %>
<% end %>