<div style="font: normal 14px Helvetica, Arial, sans-serif; line-height: 19px; color: #333;">
  <p><%= @seek.user.username %> just created a Wanted post from <%= @seek.origin_location %> to <%= @seek.destination_location %></p>
  <% unless @seek.items.blank? %>
    <p><%= @seek.user.username %> wants to get: <b><%= @seek.items_name_all %></b>. Can you help?</p>
  <% end %>
  <p>You can view the post through the link below:</p>
  <br/>
  <%= auto_link(seek_url(@seek)) %>
</div>
