<div style="font: normal 14px Helvetica, Arial, sans-serif; line-height: 19px; color: #333;">
  <p>You have been granted with Trusted Badge!</p>
  <p>The badge can be viewed on your profile through the link below:</p>
  <br/>
  <%= auto_link(profile_url(@user.username)) %>
</div>