<% page_title @trip.to_s %>
<div class="col4">
  <h2><%= t('influencer.label.transit_heading') %></h2>
</div>
<div class="col4 bgLightYellow defaultRound">
  <h4 class="textBlack"><%=t('influencer.label.transit_pre')%></h4>
  <br/>
  <p>
    <% data = params[:code] if params[:code] %>
    <% if data || !data.nil? %>
      <% path = insert_path(data) %>
    <% else %>
      <% path = root_path %>
    <% end %>
    <%= t('influencer.label.transit_please')%><%= link_to t('general.click_here').downcase, path %><%=t('influencer.label.transit_suf')%>
  </p>
  <p>
  <%= image_tag "logo.png", :border => 0, :style => 'display:none'%>
  </p>
</div>

<script type="text/javascript">
  setTimeout(function() {
    window.location.href = '<%= path %>';
}, 5000);
</script>
