<h3><%= t('search_trip.index.label.tips.heading') %></h3>
<p><%= t('search_trip.index.label.tips.all_cities') %>: <br/><strong>'&ltall cities&gt, USA'</strong> or <strong>'&ltall cities&gt, Europe'</strong></p>
