<% page_title t('error.title') %>
<div class="col12">
  <h2><%= t('error.title') %></h2>
</div>
<div class="col7 bgLightYellow defaultRound">
  <h4><%= t('error.not_found.heading') %></h4>
  <br/>
  <p><%= t('error.not_found.body') %></p>
  <p>
    <%= raw t('error.tell_us') %>
  </p>
  <p>
    <%= link_to t('contact_us.new.link.general'), new_contact_us_path(:subject => t('contact_us.new.link.problem')), :class => 'btnAction' %>
  </p>
  <p>
    <%= raw t('error.back_to_home', :home => (link_to t('home.link'), root_path))  %>
  </p>
</div>
  
