<% page_title t('content.link.guide') %>
<div class="text-01 blue-link">

  <h2>Tips dan Tata Cara menggunakan Bistip.com</h2>

  <h3>Untuk Semua Pengguna Bistip.com</h3>
  <ul>
    <li>Isilah data anda dengan lengkap dan jelas, gunakan pula avatar yang jelas agar reputasi anda bisa baik (kepercayaan transaksi) jika belum lengkap, lengkapilah dengan Login dan klik link “Akun Saya” pada area kanan atas lalu klik “Edit Profil”</li>
    <li>Luangkan waktu anda untuk membuat biodata yang valid dan menarik, dan ini berkenaan lagi dengan reputasi anda.</li>
    <li>Gunakan password dengan kombinasi huruf, angka dan simbol ( contoh: b1sA-d!t!tip ) dan jaga kerahasiaan password anda.</li>
    <li>Jika mengakses Bistip.com dari komputer yang digunakan bersama ( contoh : warnet ) pastikan anda sudah “log out” sebelum anda meninggalkan komputer tersebut.</li>
    <li>Gunakan kata-kata yang tidak menyinggung dan tidak mengandung SARA</li>
    <li>Berikan reputasi baik atau buruk kepada orang yang berhak</li>
  </ul>


  <h3>Untuk Bistiper (yang bisa dititipi)</h3>
  <ul>
    <li>Buat kesepakatan dengan penitip yang ingin memberikan kontak nomer telepon yang bisa dihubungi dan memiliki reputasi yang baik.</li>
    <li>Berikan batasan jelas berapa jumlah atau nilai dari barang yang anda sanggup dititipi. ( contoh: “saya hanya bisa membawakan barang yang beratnya di bawah 10 Kg”)</li>
    <li>Pastikan anda tahu barang yang dititipkan melalui anda, minta izin untuk melihat sendiri isi barang tersebut untuk menghindari anda menjadi korban dari kriminalitas.</li>
    <li>Pastikan barang yang dititipkan melalui anda adalah barang yang sah secara hukum di negara lokasi anda akan masuki dan bertransaksi.</li>
    <li>Buat juga kesepakatan yang jelas mengenai pembayaran dari komisi yang akan anda terima, jika titipan berupa barang yang ingin dibeli melalui anda dan harganya tidak murah, buat kesepatakan untuk adanya biaya pendahuluan yang bisa anda gunakan untuk membelikan barang tersebut.</li>
    <li>Untuk pengaman transaksi kamu bisa memakai jasa <i>Rekening Bersama</i> yang kerap dipakai oleh komunitas forum. Silakan di Google saja <i>Rekening Bersama</i>
    lewat link <%= link_to 'ini', 'http://www.google.co.id/search?q=rekening+bersama', :target => '_blank'%> dan pilihlah yang kamu bisa percayai.</li>
  </ul>

  <h3>Untuk Wanted Bistiper (yang mencari orang untuk dititipi)</h3>
  <ul>
    <li>Cari Bistiper yang bisa dihubungi nomer teleponnya dan memiliki reputasi yang baik.</li>
    <li>Jika skenarionya adalah anda ingin menitip untuk dibelikan sesuatu, berarti ada dua pihak yang berperan, yaitu Anda dan Bistiper. Pastikan buat kesepakatan yang jelas untuk pembayaran dan janji untuk pertemuan. Jika dimungkinkan gunakan sistem permbayaran dengan memberikan DP ( Down Payment ) dulu atau dengan kata lain jangan membayar dengan harga penuh. Lakukan pembayaran penuh jika sudah bertemu dengan Bistiper.</li>
    <li>Skenario lainnya adalah anda ingin menitip untuk dibawakan barang yang sudah ada di kerabat atau kenalan anda, berarti ada tiga pihak yang berperan, yaitu Anda, Bistiper, dan Kerabat anda. Pastikan buat kesepakatan yang jelas dan komunikasi yang lancar antara ketiga pihak. Dan sepakati juga berapa komisi yang akan anda berikan kepada Bistiper tersebut dan bagaimana cara pembayarannya. Disarankan agar memberikan komisi di saat anda sudah bertemu dengan Bistiper tersebut dan berhati-hatilah menitipkan barang anda.</li>
    <li>Untuk pengaman transaksi kamu bisa memakai jasa <i>Rekening Bersama</i> yang kerap dipakai oleh komunitas forum. Silakan di Google saja <i>Rekening Bersama</i>
    lewat link <%= link_to 'ini', 'http://www.google.co.id/search?q=rekening+bersama', :target => '_blank'%> dan pilihlah yang kamu bisa percayai.</li>
  </ul>
</div>