<% page_title t('content.link.guide') %>
<div class="text-01 blue-link">

  <h2>Guides</h2>

  <h3>For all Bistip members:</h3>
  <ul>
    <li>Fill in your profile data as complete as you can, also make sure that you're using proper profile picture. Good profile will make people trust you more. To do this go to "My Account" and then "Edit Profile"</li>
    <li>Use a strong password with combination of alphabet, number dan symbol ( for example: b1stip3r ) and keep it secret.</li>
    <li>When accessing Bistip.com from a public computers, make sure you 'Log Out' before you leave the computer.</li>
    <li>Stay away from inappropriate language</li>
    <li>Give good and bad reputation for those who deserve it.</li>
  </ul>


  <h3>For Bistiper (person you can entrust your item to)</h3>
  <ul>
    <li>Deal with a person that give you his/her contact number and also check his/her good reputation.</li>
    <li>Express clearly and control the number or weight of items that you can carry on your trip.</li>
    <li>Make sure you know exactly the content that someone entrusted to you. Ask for permission to open tha content package. Stay away from carrying illegal goods or items.</li>
    <li>Make sure the goods or items that you gonna carry is legal in the country that you travelling to.</li>
    <li>Make a deal clearly about the Tip payment for your service. If you're buying an expensive item for someone, make sure you ask for a down payment or portion of the full price.</li>
    <li>For safety in transaction you can use <i>Escrow Account</i> service. Just Google <i>Rekening Bersama</i> (Escrow Account)
    through this link <%= link_to 'ini', 'http://www.google.co.id/search?q=rekening+bersama', :target => '_blank'%> and choose a provider that you can trust. (Only for Indonesian based users).</li>
  </ul>

  <h3>For Wanted Bistiper (person who going to entrust his/her item)</h3>
  <ul>
    <li>Find a Bistiper that give you a contact number and has good reputation.</li>
    <li>If you are asking a Bistiper to buy an item for you, make it clear about the appointment where to meet to get the item. Do not pay full price of them item, instead negotiate for a down payment and pay for the rest when you get the item.</li>
    <li>If you are asking a Bistiper to pass an item to someone else on another location, make sure you reach an agreement about the amount of Tip that you gonna pay</li>
    <li>For safety in transaction you can use <i>Escrow Account</i> service. Just Google <i>Rekening Bersama</i> (Escrow Account)
    through this link <%= link_to 'ini', 'http://www.google.co.id/search?q=rekening+bersama', :target => '_blank'%> and choose a provider that you can trust. (Only for Indonesian based users).</li>
  </ul>
</div>