<% page_title t('content.link.privacy_policy') %>
<div class="text-01 blue-link">
  <i>English version of this page is coming soon :)</i>
  <br/>
  <h2>KEBIJAKAN PRIVASI</h2>

  <p>Privasi
    Anda penting bagi bistip.com. Bistip.com telah menyusun Kebijakan
    Privasi yang mencakup bagaimana kami mengumpulkan, menggunakan,
    mengungkapkan, mengalihkan, dan menyimpan informasi Anda. Luangkan
    waktu sejenak untuk mempelajari praktik privasi kami dan sampaikan
    kepada kami jika Anda memiliki pertanyaan.</p>

  <h3>Pengumpulan dan Penggunaan Informasi Pribadi</h3>

  <p>Informasi pribadi adalah data yang dapat digunakan untuk mengidentifikasi secara khusus atau menghubungi
    seseorang.</p>

  <p>Anda
    mungkin diminta memberikan informasi pribadi setiap kali berhubungan
    dengan bistip.com atau perusahaan afiliasi bistip.com. Bistip.com dan
    afiliasi-afiliasinya mungkin berbagi informasi pribadi ini satu sama
    lain dan menggunakannya sesuai dengan Kebijakan Privasi ini.</p>

  <p>Berikut
    ini beberapa contoh mengenai jenis informasi pribadi yang mungkin
    dikumpulkan bistip.com dan bagaimana kami menggunakannya.</p>

  <p>Informasi pribadi apa yang kami kumpulkan</p>

  <p>
  </p>
  <ul>
    <li>Ketika
      anda membuat ID bistip.com , kami mengumpulkan berbagai informasi
      meliputi Nama Lengkap , email , Lokasi sekarang, Nomor Telepon , Laman
      Web , Alamat Akun Facebook , Alamat Akun Twitter , dan Biodata.
    </li>
  </ul>

  <p>Bagaimana kami menggunakan informasi pribadi anda</p>
  <ul>
    <li>Dengan
      informasi pribadi yang kami kumpulkan, kami dapat memberikan kepada
      Anda pengumuman produk terbaru, pembaruan perangkat lunak, dan acara
      yang akan diadakan Bistip.com. Hal ini membantu kami dalam meningkatkan
      layanan, konten, dan iklan.
    </li>

    <li>Dari waktu ke waktu, kami
      mungkin menggunakan informasi pribadi Anda untuk mengirimkan
      pemberitahuan penting, seperti pemberitahuan tentang perubahan syarat,
      ketentuan, dan kebijakan kami. Karena informasi ini penting bagi
      interaksi Anda dengan Bistip.com, Anda mungkin sebaiknya tidak memilih
      untuk menolak pengiriman pemberitahuan ini.
    </li>

    <li>Kami juga
      menggunakan informasi pribadi untuk tujuan internal seperti proses
      audit, analisis data, dan penelitian untuk memperbaiki produk dan
      komunikasi pelanggan Bistip.com.
    </li>

    <li>Jika Anda mengikuti
      acara sampel dan undian, kontes, atau promosi sejenis, kami mungkin
      menggunakan informasi yang Anda berikan untuk mendaftar ke
      program-program tersebut.
    </li>
  </ul>

  <h3>Cookie dan Teknologi Lain</h3>

  <p>Situs
    web, layanan online, aplikasi interaktif, pesan email Bistip.com
    mungkin menggunakan &#8220;cookie&#8221; dan teknologi lain. Teknologi-teknologi
    ini membantu kami lebih memahami perilaku pengguna, menyampaikan kepada
    kami bagian mana dari situs web kami yang telah dikunjungi, dan
    memudahkan serta mengukur efektivitas iklan dan pencarian web. Kami
    memperlakukan informasi yang dikumpulkan oleh cookie dan
    teknologi-teknologi lain sebagai informasi non-pribadi. Akan tetapi,
    jika alamat Internet Protocol (IP) atau petunjuk sejenis dianggap
    informasi rahasia oleh hukum setempat, kami juga memperlakukan
    petunjuk-petunjuk tersebut sebagai informasi rahasia. Demikian juga,
    jika informasi non-pribadi digabungkan dengan informasi pribadi, kami
    memperlakukan informasi gabungan tersebut sebagai informasi pribadi
    untuk tujuan Kebijakan Privasi.</p>

  <p>Bistip.com juga menggunakan
    cookie dan teknologi-teknologi lainnya untuk mengingat informasi
    pribadi ketika Anda menggunakan situs web, layanan online, dan aplikasi
    kami. Tujuan kami dalam hal ini adalah membuat pengalaman Anda dengan
    Bistip.com menjadi lebih nyaman dan pribadi. Misalnya, mengetahui nama
    depan Anda membuat kami dapat menyambut Anda ketika Anda mengunjungi
    Bistip.com lagi.</p>

  <p>Sebagaimana yang dilakukan pada sebagian
    besar situs web, kami mengumpulkan informasi secara otomatis dan
    menyimpannya dalam file log. Informasi ini meliputi alamat Internet
    Protocol (IP), jenis peramban dan bahasa, penyedia layanan internet
    (ISP), laman rujukan dan keluar, sistem operasi, teraan tanggal/waktu,
    dan data arus klik.</p>

  <p>Kami menggunakan informasi ini untuk
    memahami dan menganalisa tren, mengelola situs, mempelajari perilaku
    pengguna di situs, dan mengumpulkan informasi demografis tentang basis
    pengguna kami secara keseluruhan. Bistip.com mungkin menggunakan
    informasi ini dalam layanan pemasaran dan iklan kami.</p>

  <h3>Pengungkapan ke pihak ke tiga</h3>

  <p>Mungkin
    Bistip.com diharuskan - oleh undang-undang, proses hukum, litigasi,
    dan/atau permintaan publik dan pihak berwenang pemerintahan di dalam
    atau di luar negara tempat tinggal Anda - untuk mengungkap informasi
    pribadi Anda. Kami juga mungkin mengungkapkan informasi tentang Anda
    jika kami menetapkan bahwa untuk tujuan keamanan nasional, penegakan
    hukum, atau hal kepentingan umum lainnya, pengungkapan diperlukan atau
    dianggap tepat.</p>

  <p>Kami juga mengungkapkan informasi tentang
    Anda jika kami menetapkan bahwa pengungkapan cukup beralasan untuk
    menegakkan syarat dan ketentuan kami atau melindungi operasi dan usaha
    kami. Selain itu, jika ada reorganisasi, penggabungan, atau penjualan,
    kami mungkin mengalihkan seluruh informasi pribadi yang kami kumpulkan
    ke pihak ketiga terkait.</p>

  <h3>Integritas dan Penyimpanan Informasi Pribadi</h3>

  <p>Bistip.com
    membuat Anda mudah menjaga informasi pribadi Anda tetap akurat,
    lengkap, dan terkini. Kami akan menyimpan informasi pribadi Anda selama
    waktu yang diperlukan untuk memenuhi tujuan yang ditetapkan dalam
    Kebijakan Privasi ini kecuali waktu penyimpanan informasi yang lebih
    lama diperlukan atau diizinkan oleh hukum.</p>

  <h3>Akses ke Informasi Pribadi</h3>

  <p>Anda
    dapat memastikan bahwa informasi kontak dan preferensi Anda adalah
    akurat, lengkap, dan terkini dengan masuk ke akun Anda di
    www.bistip.com/users/:id. Untuk informasi pribadi lainnya, kami berniat
    baik memberikan akses kepada Anda sehingga Anda dapat meminta agar kami
    melakukan koreksi data jika tidak benar atau menghapus data jika
    Bistip.com tidak harus menyimpannya berdasarkan hukum atau untuk tujuan
    bisnis yang sah. Kami mungkin menolak untuk memproses permohonan
    berulang yang tidak logis, mengharuskan upaya teknis yang tidak
    proporsional, membahayakan privasi orang lain, sangat tidak praktis,
    atau untuk akses yang tidak diharuskan oleh hukum setempat. Permohonan
    akses, koreksi, atau penghapusan dapat diajukan ke alamat email Privasi.</p>

  <h3>Pengguna di Bawah Umur<br>
  </h3>

  <p>Kami tidak secara sadar mengumpulkan informasi pribadi dari
    para pengguna di bawah 18 tahun. Jika kami mengetahui bahwa kami telah
    mengumpulkan informasi pribadi dari seorang di bawah 18 tahun, maka
    kami akan mengambil langkah-langkah untuk menghapus informasi tersebut
    sesegera mungkin.</p>

  <h3>Layanan Berbasis Lokasi</h3>

  <p>Untuk
    menyediakan layanan berbasis lokasi pada produk-produk Bistip.com,
    Bistip.com boleh mengumpulkan, menggunakan, dan membagi data lokasi
    tepat, termasuk lokasi geografis terkini dari komputer atau perangkat
    mobile Anda. Data lokasi ini dikumpulkan secara anonim dalam bentuk
    yang tidak mengenali Anda secara pribadi dan digunakan oleh Bistip.com
    untuk menyediakan dan memperbaiki produk dan layanan berbasis lokasi.
    Misalnya, kami boleh membagi lokasi geografis dengan penyedia aplikasi
    Peta ketika Anda menggunakan Bistip.com.</p>

  <h3>Komitmen bistip.com pada Privasi Anda</h3>

  <p>Untuk
    memastikan informasi pribadi Anda aman, kami menyampaikan panduan
    privasi dan keamanan kami kepada para karyawan Bistip.com dan
    menegakkan dengan ketat pengamanan privasi dalam perusahaan.</p>

  <p>Bistip.com
    mungkin memperbaharui Kebijakan Privasi dari waktu ke waktu. Ketika
    kami mengubah kebijakan secara material, pemberitahuan akan dipasang di
    situs web kami bersama dengan Kebijakan Privasi yang telah diperbaharui.</p>

  <p>PT Afiliasi Kontenindo Jaya</p>

  <p>Terakhir diperbaharui : 11 Maret 2011</p></div>
