<% page_title @seek.to_s %>
<div class="content-left text-01">
  <div class="text-orange" style="padding-bottom: 20px"><%= t('seek.show.label.heading') %></div>
  <% user = @seek.user %>
  <div style="padding-left: 40px;" class="profile-picture">
    <%= image_tag user.avatar.url %>
    <br/>
    <span class="blue-link"><%= link_to user.username,  user_path(user) %></span>
    <%= render 'shared/user_reputation', :locals => {:user => user} %>
    <br/>
    <% if logged_in? and !@seek.owner?(current_user) %>
      <span class="buttonlink-grey">
         <%= link_to t('message.link.new'), new_user_message_path(:user_id => user) %>
      </span>
    <% end %>
  </div>
  <div class="profile-form-table table">
    <table width="100%" cellspacing="0" cellpadding="0" border="0">
      <tbody>
        <% unless @seek.active? %>
        <tr>
          <td colspan="3"><span class="text-red-01"><%= t('seek_summary.label.not_active') %></span></td>
        </tr>
        <% end %>
        <tr>
          <td height="30px" width="130px"><%= t('seek.field.label.origin')%></td>
          <td>:</td>
          <td width="350px"><%= render 'shared/city', :locals => {:city => @seek.origin_city} %></td>
        </tr>
        <tr>
          <td height="30px"><%= t('seek.field.label.destination')%></td>
          <td>:</td>
          <td><%= render 'shared/city', :locals => {:city => @seek.destination_city} %></td>
        </tr>
        <% unless @seek.departure_date.nil? %>
        <tr>
          <td height="30px"><%= t('seek.field.label.departure_date')%></td>
          <td>:</td>
          <td><i><%= t(@seek.departure_date_predicate, :scope => 'date_predicate') unless @seek.departure_date_predicate.nil? %></i> <%= l(@seek.departure_date) %></td>
        </tr>
        <% end %>
        <% unless string_nil_or_empty?(@seek.notes) %>
        <tr>
          <td valign="top" height="30px"><%= t('seek.field.label.notes')%></td>
          <td valign="top">:</td>
          <td width="350px"><%=auto_link_in_new_tab @seek.notes %></td>
        </tr>
        <% end %>
        <tr>
          <td><%= t('social_share.label') %></td>
          <td>:</td>
          <td>
            <%= render 'shared/social_share', :locals => {:url => seek_url(@seek), :title => @seek.to_s } %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <% if logged_in? and @seek.owner?(current_user) and @seek.active?%>
    <div style="float:right">
      <div style="float:left; text-align: right; padding-right: 20px" class="buttonlink-grey-01">
        <%= link_to t('seek.edit.link_short'), edit_seek_path(@seek) %>
      </div>
      <div style="float:right; text-align: right; padding-right: 10px" class="buttonlink-grey-01">
        <%= link_to t('seek.destroy.link_short'), @seek, :confirm => 'Are you sure?', :method => :delete %>
      </div>
    </div>

    <% trips_match_count = @seek.find_matching_trips.count %>
    <% if trips_match_count > 0 %>
      <div class="auto-match">
        <div><%= t('seek.show.label.auto_match', :count => trips_match_count) %></div>
        <div class="buttonlink-red link"><%= link_to t('seek.show.label.auto_match_link'), match_seek_path(@seek) %></div>
      </div>
    <% end %>
  <% end %>
  <div style="padding-top: 30px; padding-left: 20px;" class="heading-grey"><%= t('comment.index.heading') %> (<%= @seek.comments.count %>)</div>
  <div class="line-separator-01"></div>
  <% if @skcomments.size > 0 %>
    <table style="padding-left: 20px" cellpadding="5" id="skcomments">
      <tbody>
      <% for comment in @skcomments %>
        <%= render "seek_comments/seek_comment", :locals => {:comment => comment} %>
      <% end %>
      </tbody>
    </table>
    <div style="padding-top: 10px; text-align: center;">
      <%= will_paginate(@skcomments, :renderer => TwitterPagination::LinkRenderer, :id => 'skcomments_pagination') %>
    </div>
  <% else %>
    <span class="text-01" style="padding-left: 20px"><i><%= t('comment.index.no_comment') %></i></span>
  <% end %>

  <%= render "seek_comments/seek_new_comment" %>
</div>