<% user = locals[:user] %>
<% if (logged_in_and_current_user?(user) && user.received_relations.count > 0) or (!logged_in?) or (logged_in_and_not_current_user?(user)) %>
  <div class="col3 bgGrey">
    <h4><%= t('relation.heading') %></h4>
    <br/>
    <%= render 'shared/relation', :locals => {:user => user} %>
  </div>
<% end %>
