<% page_title t('user.field.label.reputation') %>
<%= render 'shared/user_sub_menu', :locals => {:user => @user} %>

<% if logged_in_and_not_current_user?(@user) %>
  <div class="col12">
    <h4 class="textBlack"><%= t('reputation.index.intro', :username => @user.username) %>&nbsp;&nbsp;
      <%= link_to new_user_positive_reputation_path(:user_id => @user), :class => 'btnAction' do %>
        <%= image_tag "icon-thumb.png", :size => "10x14" %>
        <%= t('reputation.label.give') %>
      <% end %>
    </h4>
  </div>
<% elsif !logged_in? %>
  <div class="col12">
    <h4 class="textBlack"><%= t('reputation.index.intro', :username => @user.username) %>&nbsp;&nbsp;
      <%= link_to new_user_positive_reputation_path(:user_id => @user), :class => 'btnAction' do %>
        <%= image_tag "icon-thumb.png", :size => "10x14" %>
        <%= t('reputation.label.give') %>
      <% end %>
    </h4>
  </div>
<% end %>

<div class="col6">
  <%= render 'shared/positive_reputations' %>
</div>
<div class="col6">
  <%= render 'shared/negative_reputations' %>
</div>