<% page_title t('recommend.handle.title', :receiver => @user.username) %>
<% forward_url = new_user_review_path(:user_id => @user, :invitation => true) %>
<div class="col12">
  <h2><%= t('recommend.handle.title', :receiver => @user.username) %></h2>
</div>
<div class="col7 bgLightYellow defaultRound">
  <h4 class="textBlack"><%= t('recommend.handle.label.header', :receiver => @user.username) %></h4>
  <br/>
  <p><%= raw t('recommend.handle.label.body', :here => link_to(t('general.here'), forward_url) ) %></p>
  <%= image_tag "logo.png", :border => 0, :style => 'display:none'%>
</div>

<script type="text/javascript">
  setTimeout(function() {
    window.location.href = '<%= forward_url %>';
}, 5000);
</script>
