<%= form_for(@trip) do |f| %>
  <%= f.hidden_field :routine, :value => true %>

  <div id="postNewRoute">
    <p>
      <label><%= t('trip.field.label.route')%><%= render 'shared/required' %></label>
      <%= trip_location_auto_complete_js 'trip_origin_location', true %>
      <%= f.text_field :origin_location, :style=>"width: 38%;", :placeholder => t('trip.field.label.origin')%>
      &nbsp;<b>&gt;</b>&nbsp;
      <%= trip_location_auto_complete_js 'trip_destination_location', true %>
      <%= f.text_field :destination_location, :style=>"width: 38%;", :placeholder => t('trip.field.label.destination') %>
    </p>

    <p>
      <label><%= t('trip.field.label.period')%><%= render 'shared/required' %></label>
      <% period = Period.map %>
      <%= select_tag "trip[period]", options_for_select(period, @trip.period) %>
    </p>
    <div style="width: 60%; overflow: hidden;">
      <% i = 1 %>
      <% Day::ALL.each_with_index do |day, index|%>
        <% selected = false %>
        <% selected = @trip.day.include?(day) unless @trip.day.nil? %>
        <% if i % 2 != 0 %>
          <div class="d1">
            <%= check_box_tag "trip[day][]",day, selected %><%= day %>
          </div>
        <% else %>
          <div class="d2">
            <%= check_box_tag "trip[day][]",day, selected %><%= day %>
          </div>      
        <% end %>
        
        <% i += 1 %>
      <% end %>
    </div>
    <br/>
    <p>
      <label><%= t('trip.field.label.notes') %></label>
      <%= enable_character_counter('trip_notes',Trip::NOTES_MAXIMUM_LENGTH) %>
      <%= f.text_area :notes, :rows => 6, :cols => 60 %>
    </p>

    <p>
      <%= f.submit t('button.send'), :class => 'defaultButton' %>
      <%= link_to t('button.cancel'), locals[:cancel_path], :class => 'cancelLink' %>
    </p>
    <%= render 'shared/required_label' %>
  </div>
<% end %>