<div class="itemRow">
  <div class="itemRowBody">
    <p>
      <label><%= t('trip.field.label.item_name') %></label>
      <%= f.text_field :name %>
    </p>
    <div class="offerMethod">
      <div class="left"><%= t('trip.field.label.item_charge') %></div>
      <div class="right">
        <div class="option">
          <%= f.radio_button("offer_method", ItemOfferMethod::SELL_PRICE, :onClick => "javascript:toggle_trip_item_price(this);") %><%= t("item_offer_method.#{ItemOfferMethod::SELL_PRICE}") %>
          <%= f.radio_button("offer_method", ItemOfferMethod::TIP, :onClick => "javascript:toggle_trip_item_tip(this);") %><%= t("item_offer_method.#{ItemOfferMethod::TIP}") %>
        </div>
        <%
          price_style = ''
          price_style = 'display:none' if f.object.offer_method != ItemOfferMethod::SELL_PRICE
        %>
        <div class="price" style="<%= price_style %>">
          <%= f.select :price_unit_id, PriceUnit.all.collect {|c| [c.symbol, c.id]} %>
          <%= f.text_field :price, :size => 10 %>
        </div>
        <%
          tip_style = ''
          tip_style = 'display:none' if f.object.offer_method != ItemOfferMethod::TIP
        %>
        <div class="tip" style="<%= tip_style %>">
          <%= f.select :tip_unit_id, TipUnit.all.collect {|c| [c.symbol, c.id]} %>
          <%= f.text_field :tip, :size => 5 %>
        </div>
      </div>
    </div>
  </div>
  <div id="itemAttachPicture">
    <div class="label">
      <span class="attach"><%= t('message.label.asset') %></span>
    </div>
    <div class="fields">
      <%= f.fields_for :pictures, @picture do |picture_form| %>
        <% if picture_form.object.new_record? %>
          <%= render "item_pictures/field", :picture_form => picture_form %>
        <% else %>
          <%= image_tag picture_form.object.attachment.url(:thumb), :size => '48x48', :class => "photo bgWhite" %>
        <% end %>
      <% end %>
    </div>
  </div>
  <%= link_to_remove_trip_item_fields "X", f %>
</div>
