<% page_title t('trip.edit_item.label.heading') %>
<div class="col4">
  <h2><%= t('trip.edit_item.label.heading') %></h2>
  <h4 class="textBlack"><%= t('trip.edit_item.label.for_route_short') %>
    <span class="iconRoute">
      <%= render 'shared/city', :locals => {:city => @trip.origin_city} %>
      <span class="dashArrow">-</span>
      <%= render 'shared/city', :locals => {:city => @trip.destination_city} %>
    </span>
  </h4>
</div>
<div class="col4 bgLightGreen defaultRound">
  <%= form_for(@trip, :url => update_item_trip_path, :html => { :multipart => true }) do |f| %>
    <div id="editRouteItem">
      <div class="items">
        <%= f.fields_for :items do |builder| %>
          <%= render "item_fields", :f => builder %>
        <% end %>
        <%
        add_more_items_style = ''
        add_more_items_style = 'display:none' if @trip.items.length >= TripItem::MAXIMUM
      %>
        <div class="add_more_items" style="<%= add_more_items_style %>">
          <%= link_to_add_trip_item_fields t("general.add_more"), f, TripItem::MAXIMUM %>
        </div>
      </div>
      <br/>
      <p>
        <%= f.submit t('button.send'), :class => 'defaultButton' %>
        <%= link_to t('button.cancel'), trip_path(@trip), :class => 'cancelLink' %>
      </p>
    </div>
  <% end %>
</div>
