<% count = @mutual_friends.size%>
<% unless count == 0 %>
  <p>
    <%= link_to social_index_path(:user => @user.username) do %>
      <span class="fbMutualFriends"><%= t('relation.label.facebook_mutual', :count => count) %></span>
    <% end %>
  </p>
<% end %>

