<% page_title @forum.title %>
<div class="text-01">

  <div style="padding-top: 20px; padding-bottom: 20px;" class="header01"><%= @forum.title %></div>

  <div style="margin-bottom: 30px;">
    <div class="buttonlink-blue" style="padding-left: 10px; float: left">
      <%= link_to t('topic.new.link'), new_forum_topic_path(@forum) %>
    </div>
    <div style="float: right">
      <%= will_paginate @topics %>
    </div>
  </div>

  <table class="forum_table">
    <tr>
      <th class="topic_title_col"><%= t('forum.show.label.title') %></th>
      <th class="topic_posts_col"><%= t('forum.show.label.posts_count') %></th>
      <th class="topic_views_col"><%= t('forum.show.label.views_count') %></th>
      <th class="topic_last_post_col"><%= t('forum.show.label.last_post') %></th>
    </tr>
    <% if @topics.size > 0 %>
      <% @topics.each do |topic| %>
        <tr>
          <td class="topic_title_col">
            <div class="forum_title_column blue-link">
              <% if topic.sticky? %>
                <b><%= t('topic.sticky') %></b>
              <% end %>
              <%= link_to topic.title, forum_topic_path(@forum, topic) %>
            </div>
            <div class="smaller-text-01 grey-link">
              <% if logged_in? and topic.owner?(current_user) %>
                <%= link_to t('topic.edit.link'), edit_forum_topic_path(@forum, topic) %> -
                <%= link_to t('topic.delete.link'), forum_topic_path(@forum, topic), :confirm => 'Are you sure?', :method => :delete %>
              <% end %>
            </div>
            <div class="smaller-text-01 blue-link"><%= t('forum.from') %> <%= link_to topic.user.username, profile_path(topic.user.username) %></div>
          </td>
          <td class="topic_posts_col"><%= topic.posts.count %></td>
          <td class="topic_views_col"><%= topic.topic_view.count %></td>
          <td class="topic_last_post_col blue-link">
            <% last_post = topic.last_post %>
            <% link_title = l(last_post.created_at)%>
            <%= link_to link_title, forum_topic_path(topic.forum, topic, :page => topic.posts_last_page) %><br/>
            <span class="smaller-text-01"><%= date_age_in_words(last_post.created_at) %></span><br/>
            <% user = last_post.user %>
            <span class="smaller-text-01"><%= t('forum.from') %> <%= link_to user.username, profile_path(user.username) %></span>
          </td>
        </tr>
      <% end %>
    <% else %>
        <tr>
          <td colspan="4">
            <%= t('topic.no_topic_yet') %>
          </td>
        </tr>
    <% end %>
  </table>
  
  <div style="margin-top: 10px;">
    <div class="buttonlink-blue" style="padding-left: 10px; float: left">
      <%= link_to t('topic.new.link'), new_forum_topic_path(@forum) %>
    </div>
    <div style="float: right">
      <%= will_paginate @topics %>
    </div>
  </div>
</div>
