<div id="escrow_confirmation">
  <div class="notificationBar yellow"><%= t('insurance.new.label.double_check') %></div>
  <p>
    <label><%= t('insurance.new.label.item') %></label>
    <%= @insurance.item %>
  </p>
  <p>
    <label><%= t('insurance.new.label.amount') %></label>
    <%= @insurance.amount >= 0 ? @insurance.amount : t('insurance.new.label.custom_fee_later') %>
  </p>
  <p>
    <label><%= t('insurance.new.label.custom_cover_value') %></label>
    <%= @insurance.cover_value %>
  </p>
  <p>
    <strong><%= t('insurance.new.label.terms') %></strong>
    <ul>
      <li><%= raw t('insurance.new.label.terms_one', :link => (link_to t('content.link.insurance'), insurances_path, :target => 'blank')) %></li>
      <li>
        <%= t('insurance.new.label.terms_two', :one => @insurance.message.sender.username, :two => @insurance.message.receiver.username) %></li>
    </ul>
  </p>
</div>