<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %> | Bistip.com </title>
    <%= include_stylesheets :widget %>
    <%= javascript_include_tag 'jquery-1.5.2.min', 'jquery-ui-1.8.7.custom.min','rails', 'application', 'jquery.bxSlider.min', 'jquery.watermarkinput' %>
    <%= csrf_meta_tag %>
    <meta name="description" content="<%= t('general.meta.description') %>" />
    <meta name="keywords" content="<%= t('general.meta.keywords') %>" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;"/>
  </head>

  <body>
    <header>
      <div class="plc">
        <h1><a href="/">Bistip.com</a></h1>
        <div class="tagLine"><%= t('widget.tagline') %></div>
      </div>
    </header>
    <div class="main">
      <%= yield %>
    </div>
    <%= render 'shared/google_analytics' if ::Rails.env == 'production' %>
  </body>
</html>
