<% page_title t('content.link.terms_of_service') %>
<div class="text-01 blue-link">
<i>English version of this page is coming soon :)</i>
<br/>
<h2>A. KETENTUAN-KETENTUAN TRANSAKSI DI BISTIP.COM</h2>

<p>Bistip.com memfasilitasi anda untuk melakukan transaksi sesama
  pengguna layanan. Segala bentuk nilai transaksi adalah kesepakatan anda
  dengan pengguna layanan bistip.com yang lainnya. Bistip.com tidak
  bertanggung jawab atas segala yang terjadi sebelum , saat dan setelah
  transaksi berlangsung.</p>

<h3>KONTRAK ELEKTRONIK</h3>

<p>Pemakaian Bistip.com oleh anda mencakup juga kemampuan anda untuk
  menjadi pihak dalam perjanjian dan/atau kemampuan anda untuk melakukan
  transaksi secara elektronik. ANDA MENGAKUI BAHWA PENUNDUKAN ANDA SECARA
  ELEKTRONIK MERUPAKAN KESEPAKATAN SERTA KEINGINAN ANDA SENDIRI UNTUK
  TERIKAT OLEH SERTA UNTUK MEMBAYAR SEGALA BIAYA YANG MUNCUL BERDASARKAN
  PERJANJIAN SERTA TRANSAKSI TERSEBUT. KESEPAKATAN SERTA KEINGINAN ANDA
  UNTUK TERIKAT PADA PENUNDUKAN SECARA ELEKTRONIK BERLAKU UNTUK SEMUA
  CATATAN YANG TERKAIT DENGAN SEMUA TRANSAKSI YANG ANDA MASUKI DALAM
  SITUS INI, TERMASUK PEMBERITAHUAN PEMBATALAN, KEBIJAKAN, PERJANJIAN DAN
  PENERAPAN. Untuk mengakses dan menjaga catatan elektronik anda, anda
  dapat diwajibkan untuk memiliki piranti keras dan piranti lunak
  tertentu, yang akan menjadi tanggung jawab anda sepenuhnya.</p>

<h2>B. SYARAT DAN KETENTUAN BISTIP.COM</h2>

<p>SYARAT DAN KETENTUAN INI MERUPAKAN PERJANJIAN ANTARA ANDA DENGAN
  BISTIP.COM YANG MENGATUR PENGGUNAAN ANDA ATAS SITUS BISTIP.COM.</p>

<p>Bistip.com dapat digunakan oleh setiap orang berusia 18 tahun atau
  lebih. Apabila anda berusia lebih muda dari usia 18 tahun, maka anda
  harus mengkaji Perjanjian ini bersama orang tua atau wali anda untuk
  memastikan bahwa anda dan orang tua atau wali anda memahami Perjanjian
  ini.</p>

<p>Pemakaian Situs Bistip.com memerlukan peralatan yang sesuai, akses
  Internet, dan piranti lunak tertentu; yang mungkin memerlukan
  pembaharuan secara periodik; dan dapat dipengahuri oleh kinerja
  faktor-faktor tersebut. Penggunaan akses Internet berkecepatan tinggi
  sangat kami sarankan. Penggunaan piranti lunak peramban versi terbaru
  kami sarankan untuk mengakses Bistip.com dan diperlukan untuk transaksi
  atau fitur tertentu. Anda menyetujui syarat-syarat ini, yang dapat
  berubah dari waktu ke waktu tanpa pemberitahuan terlebih dahulu,
  merupakan tanggung jawab anda.</p>

<h3>AKUN PENGGUNA</h3>

<p>Sebagai pemakai terdaftar dari Bistip.com, anda dapat memperoleh
  atau membuat sebuah akun (“Akun”) . Jangan mengungkapkan informasi Akun
  anda kepada orang lain. Anda sendiri yang akan bertanggung jawab untuk
  menjaga kerahasiaan serta keamanan dari Akun anda, dan atas segala
  aktivitas yang terjadi pada dan/atau melalui Akun anda, dan anda setuju
  untuk segera memberitahu Bistip.com apabila terjadi pelanggaran
  keamanan apapun atas Akun anda. Bistip.com tidak bertanggung jawab atas
  segala kerugian yang muncul sebagai akibat pemakaian yang tidak berhak
  atas Akun anda.</p>

<p>Anda setuju untuk memberikan data yang akurat dan lengkap ketika
  anda mendaftar pada, dan ketika anda menggunakan, Bistip.com, dan anda
  setuju untuk melakukan pembaharuan terhadap Data Registrasi anda,
  sehingga Data Registrasi anda merupakan data yang akurat dan lengkap
  serta terkini. Anda setuju bahwa Bistip.com dapat menyimpan dan
  mempergunakan Data Registrasi yang anda berikan untuk keperluan
  bistip.com.</p>

<h3>MATERI PIHAK KETIGA</h3>

<p>Konten, Produk dan jasa tertentu yang tersedia melalui Bistip.com
  dapat mencakup materi yang berasal dari pihak ketiga. Bistip.com dapat
  menyediakan tautan ke situs pihak ketiga tertentu sebagai kemudahan
  bagi anda. Anda menyetujui bahwa Bistip.com tidak bertanggung jawab
  untuk memeriksa atau mengevaluasi konten atau ketepatan dari, dan
  Bistip.com tidak menjamin dan tidak akan memiliki kewajiban atau
  tanggung jawab apapun atas, materi atau situs pihak ketiga manapun,
  maupun materi, produk, atau jasa lain apapun dari pihak ketiga. Anda
  setuju bahwa anda tidak akan menggunakan materi pihak ketiga apapun
  dengan cara yang melanggar hak pihak lain manapun, dan Bistip.com tidak
  akan bertanggung jawab atas tindakan tersebut yang dilakukan oleh anda.</p>

<h3>MATERI YANG TIDAK DAPAT DITERIMA</h3>

<p>Anda paham bahwa dengan mempergunakan Bistip.com, anda dapat
  menemukan materi-materi yang mungkin anda anggap menyinggung, tidak
  pantas atau tidak dapat diterima, dan konten tersebut mungkin atau
  mungkin tidak diidentifikasikan sebagai materi yang tidak pantas
  (explicit material). Meskipun demikian, anda sepakat untuk
  mempergunakan Bistip.com atas risiko anda sendiri dan Bistip.com tidak
  akan memiliki tanggung jawab apapun kepada anda atas materi yang
  mungkin anda anggap menyinggung, tidak pantas atau tidak dapat diterima.</p>

<h3>HAK MILIK INTELEKTUAL</h3>

<p>Anda setuju bahwa Bistip.com, termasuk namun tidak terbatas pada
  Produk, grafik, user interface, konten editorial, serta skrip dan
  piranti lunak yang dipergunakan untuk mengimplementasikan Bistip.com,
  mengandung informasi dan materi yang dimiliki oleh Bistip.com dan/atau
  Penerbit, dan dilindungi oleh peraturan perundang-undangan di bidang
  hak milik intelektual maupun peraturan perundang-undangan lainnya yang
  berlaku, termasuk namun tidak terbatas pada hak cipta. Anda setuju
  bahwa anda tidak akan mempergunakan informasi atau materi tersebut
  dengan cara apapun kecuali untuk pemakaian Bistip.com sesuai dengan
  Perjanjian ini. Tidak ada bagian dari Bistip.com yang dapat
  direproduksi dalam bentuk maupun cara apapun, kecuali sebagaimana
  diizinkan secara tegas dalam Perjanjian ini. Anda setuju untuk tidak
  memodifikasi, meminjamkan, menyewakan, menjual, mendistribusikan atau
  menciptakan produk derivatif (turunan) dari Bistip.com dalam bentuk
  apapun, dan anda tidak akan mengeksploitasi Bistip.com dengan cara
  apapun yang tidak sah, termasuk namun tidak terbatas pada, pelanggaran
  atau memberikan beban berlebih pada kemampuan jaringan dan perangkat
  lunak bistip.com.</p>

<p>Terlepas dari ketentuan lainnya dari Perjanjian ini, Bistip.com dan
  Penerbit berhak untuk mengubah, menahan, menghapus atau membuat tidak
  berfungsi akses kepada konten, atau materi lain apapun yang merupakan
  bagian dari Bistip.com pada setiap waktu tanpa pemberitahuan
  sebelumnya. Bistip.com tidak akan bertanggung jawab atas akibat apapun
  yang timbul sebagai akibat dari perubahan-perubahan ini. Bistip.com
  juga dapat menerapkan pembatasan terhadap penggunaan dari atau akses
  kepada fitur atau bagian tertentu dari Bistip.com, dalam setiap hal dan
  tanpa pemberitahuan sebelumnya maupun kewajiban untuk bertanggung jawab.</p>

<p>Seluruh hak cipta dalam dan atas Bistip.com (termasuk gabungan dari
  konten, posting, link ke sumber-sumber internet lainnya, dan deskripsi
  dari sumber-sumber tersebut) dan piranti lunak terkait adalah dimiliki
  oleh Bistip.com , yang memiliki hak berdasarkan hukum dan keadilan.
  PEMAKAIAN PIRANTI LUNAK ATAU BAGIAN APAPUN DARI BISTIP.COM, KECUALI
  PEMAKAIAN BISTIP.COM SEBAGAIMANA DIIZINKAN DALAM PERJANJIAN INI, SECARA
  TEGAS DILARANG DAN MELANGGAR HAK MILIK INTELEKTUAL PIHAK LAIN DAN DAPAT
  MENYEBABKAN ANDA DIKENAKAN HUKUMAN PERDATA DAN PIDANA, TERMASUK GANTI
  RUGI FINANSIAL YANG MUNGKIN TERJADI, UNTUK PELANGGARAN HAK CIPTA.</p>

<p>Bistip.com, logo Bistip.com, dan merek dagang, mereka jasa, grafik
  maupun logo Bistip.com lainnya yang digunakan sehubungan dengan
  Bistip.com merupakan merek dagang atau merek dagang terdaftar dari
  Bistip.com dan PT Afiliasi Kontenindo Jaya di Indonesia dan/atau di
  negara lain. Anda tidak diberikan hak atau lisensi apapun sehubungan
  dengan merek dagang tersebut di atas yang manapun dan penggunaan apapun
  atas merek dagang tersebut.</p>

<h3>PENGAKHIRAN</h3>

<p>Jika anda tidak mematuhi, atau Bistip.com mencurigai bahwa anda
  tidak mematuhi, ketentuan manapun dari Perjanjian ini, Bistip.com,
  berdasarkan pertimbangannya sendiri, tanpa pemberitahuan kepada anda
  dapat: (i) mengakhiri Perjanjian ini dan/atau Akun anda; dan/atau (ii)
  menghalangi akses anda ke Bistip.com (atau bagian apapun dari
  Bistip.com).</p>

<p>Bistip.com berhak untuk memodifikasi, menahan atau menghentikan
  bistip.com secara keseluruhan maupun bagian atau konten apapun dari
  bistip.com pada setiap saat dengan maupun tanpa pemberitahuan kepada
  anda, dan Bistip.com tidak akan bertanggung jawab kepada anda atau
  pihak ketiga manapun karena melaksanakan hak ini.</p>

<h3> ATAS JAMINAN; PEMBATASAN TANGGUNG JAWAB</h3>

<p>BISTIP.COM TIDAK MENJAMIN ATAU MENYATAKAN BAHWA PEMAKAIAN BISTIP.COM
  OLEH ANDA AKAN BEBAS DARI GANGGUAN MAUPUN KESALAHAN, DAN ANDA SETUJU
  BAHWA DARI WAKTU KE WAKTU BISTIP.COM DAPAT MENGHAPUS BISTIP.COM UNTUK
  WAKTU YANG TIDAK DITENTUKAN, ATAU MEMBATALKAN BISTIP.COM PADA SETIAP
  WAKTU, TANPA PEMBERITAHUAN KEPADA ANDA.</p>

<p>ANDA SECARA TEGAS MENYATAKAN SETUJU BAHWA PENGGUNAAN ANDA ATAS, ATAU
  KETIDAKMAMPUAN ANDA UNTUK MENGGUNAKAN, BISTIP.COM SEPENUHNYA MERUPAKAN
  RISIKO ANDA. BISTIP.COM DAN SELURUH PRODUK DAN JASA YANG DIKIRIMKAN
  KEPADA ANDA MELALUI BISTIP.COM (KECUALI APABILA SECARA TEGAS DITENTUKAN
  LAIN OLEH BISTIP.COM) DIBERIKAN SECARA "APA ADANYA" DAN "SEBAGAIMANA
  TERSEDIA" UNTUK ANDA GUNAKAN SESUAI KESEPAKATAN ANDA DENGAN PENGGUNA
  LAINNYA, TANPA JAMINAN DALAM BENTUK APAPUN DARI BISTIP.COM, BAIK YANG
  SECARA TEGAS DIBERIKAN MAUPUN TERSIRAT, TERMASUK SEMUA JAMINAN TERSIRAT
  ATAS KELAYAKDAGANGAN, KESESUAIAN DENGAN SUATU TUJUAN TERTENTU, HAK, DAN
  TIDAK ADA PELANGGARAN. KARENA BEBERAPA WILAYAH HUKUM TIDAK MENGIZINKAN
  PENGECUALIAN ATAS JAMINAN TERSIRAT, PENGECUALIAN YANG DIATUR DALAM
  PASAL INI DAPAT TIDAK BERLAKU KEPADA ANDA.</p>

<p>BISTIP.COM SERTA DIREKSI, PEJABAT, PEGAWAI, DAN AFILIASI DARI
  BISTIP.COM, TIDAK DAPAT DIMINTAI PERTANGGUNGJAWABAN TERHADAP SEGALA
  KERUGIAN LANGSUNG MAUPUN TIDAK LANGSUNG, BAIK YANG BERSIFAT INSIDENTIL,
  PENGHUKUMAN, KHUSUS, MAUPUN KONSEKUENSIAL YANG TIMBUL DARI PEMAKAIAN
  BISTIP.COM APAPUN OLEH ANDA ATAU ATAS KLAIM LAIN APAPUN YANG, DENGAN
  CARA BAGAIMANAPUN, TERKAIT DENGAN PEMAKAIAN BISTIP.COM OLEH ANDA,
  TERMASUK, TETAPI TIDAK TERBATAS PADA, KESALAHAN ATAU KETIDAKLENGKAPAN
  APAPUN DALAM KONTEN APAPUN, ATAU KERUGIAN ATAU KERUSAKAN DALAM BENTUK
  APAPUN YANG MUNCUL SEBAGAI AKIBAT DARI PEMAKAIAN KONTEN ATAU PRODUK
  APAPUN YANG DIPOSTING, DIDISTRIBUSIKAN, ATAU DENGAN CARA LAIN TERSEDIA
  MELALUI BISTIP.COM, MESKIPUN KEMUNGKINAN ADANYA KERUGIAN DAN KLAIM
  TERSEBUT TELAH DIBERITAHUKAN. KARENA BEBERAPA NEGARA ATAU WILAYAH HUKUM
  TIDAK MENGIZINKAN PENGECUALIAN MAUPUN PEMBATASAN TANGGUNG JAWAB ATAS
  KERUGIAN YANG BERSIFAT KONSEKUENSIAL ATAU INSIDENTIL, MAKA DI NEGARA
  ATAU WILAYAH HUKUM TERSEBUT TANGGUNG JAWAB BISTIP.COM AKAN TERBATAS
  SEJAUH MANA DIPERKENANKAN OLEH HUKUM YANG BERLAKU.</p>

<p>BISTIP.COM AKAN MELAKUKAN USAHA YANG WAJAR UNTUK MELINDUNGI
  INFORMASI YANG ANDA DIBERIKAN SEHUBUNGAN DENGAN BISTIP.COM, TETAPI ANDA
  JUGA MENYETUJUI BAHWA PENYERAHAN INFORMASI TERSEBUT OLEH ANDA MERUPAKAN
  RISIKO ANDA SEPENUHNYA, DAN BISTIP.COM DENGAN INI MENYANGKAL SETIAP DAN
  SELURUH TANGGUNG JAWAB KEPADA ANDA ATAS KERUGIAN MAUPUN TANGGUNG JAWAB
  APAPUN SEHUBUNGAN DENGAN INFORMASI TERSEBUT DALAM BENTUK DAN CARA
  APAPUN.</p>

<p>BISTIP.COM TIDAK MENYATAKAN DAN TIDAK MEMBERIKAN JAMINAN BAHWA
  BISTIP.COM AKAN BEBAS DARI KEHILANGAN, KERUSAKAN, SERANGAN, VIRUS,
  GANGGUAN, HACKING, ATAU GANGGUAN KEAMANAN LAINNYA, DAN BISTIP.COM
  MENYANGKAL TANGGUNG JAWAB APAPUN TERKAIT DENGAN HAL-HAL TERSEBUT. ANDA
  AKAN SEPENUHNYA BERTANGGUNG JAWAB UNTUK MELAKUKAN PENGAMANAN TERHADAP
  SISTEM ANDA SENDIRI.</p>

<h3>PELEPASAN DAN GANTI RUGI</h3>

<p>DENGAN MENGGUNAKAN BISTIP.COM, ANDA SETUJU UNTUK MEMBERIKAN GANTI
  RUGI DAN MEMBEBASKAN BISTIP.COM SERTA DIREKSI, PEJABAT, KARYAWAN, DAN
  AFILIASI DARI BISTIP.COM, DARI SEGALA KLAIM YANG MUNCUL KARENA
  PELANGGARAN ANDA TERHADAP KETENTUAN PERJANJIAN INI, PEMAKAIAN ANDA ATAS
  BISTIP.COM, ATAU TINDAKAN LAIN APAPUN YANG DILAKUKAN OLEH BISTIP.COM
  SEBAGAI BAGIAN DARI INVESTIGASINYA ATAS SUATU KEMUNGKINAN PELANGGARAN
  ATAS KETENTUAN PERJANJIAN INI, ATAU SEBAGAI SUATU AKIBAT DARI TEMUAN
  ATAU KEPUTUSAN BISTIP.COM BAHWA SUATU PELANGGARAN TERHADAP PERJANJIAN
  INI TELAH TERJADI. INI BERARTI ANDA TIDAK DAPAT MENGGUGAT ATAU
  MEMPEROLEH GANTI RUGI DALAM BENTUK APAPUN ATAS KERUGIAN APAPUN DARI
  BISTIP.COM SERTA DIREKSI, PEJABAT, KARYAWAN, DAN AFILIASI DARI
  BISTIP.COM SEBAGAI AKIBAT DARI KEPUTUSAN PIHAK TERSEBUT UNTUK MENGHAPUS
  ATAU MENOLAK UNTUK MEMPROSES INFORMASI ATAU KONTEN APAPUN, UNTUK
  MEMPERINGATI ANDA, UNTUK MENANGGUHKAN ATAU MENGAKHIRI AKSES ANDA
  TERHADAP BISTIP.COM, ATAU UNTUK MENGAMBIL LANGKAH LAIN APAPUN DALAM
  INVESTIGASI ATAS ADANYA SUATU KEMUNGKINAN PELANGGARAN ATAU SEBAGAI
  AKIBAT DARI KESIMPULAN BISTIP.COM BAHWA SUATU PELANGGARAN TERHADAP
  PERJANJIAN INI TELAH TERJADI. PELEPASAN DAN GANTI RUGI INI BERLAKU
  UNTUK SELURUH PELANGGARAN YANG DIJABARKAN ATAU DIATUR DALAM PERJANJIAN
  INI.</p>

<h3>PERUBAHAN</h3>

<p>Bistip.com memiliki hak untuk, pada setiap waktu, mengubah
  Perjanjian ini dan untuk menerapkan syarat dan ketentuan baru atau
  tambahan atas pemakaian Bistip.com oleh anda. Perubahan serta syarat
  dan ketentuan tambahan tersebut akan segera berlaku efektif dan
  diikutsertakan ke dalam Perjanjian ini. Pemakaian anda yang
  berkelanjutan terhadap Bistip.com akan dianggap sebagai persetujuan
  anda untuk tunduk pada perubahan serta syarat dan ketentuan baru atau
  tambahan tersebut.</p>

<h3>LAIN-LAIN</h3>

<p> ini merupakan keseluruhan perjanjian antara anda dengan Bistip.com
  dan mengatur pemakaian Bistip.com oleh anda, dan menggantikan seluruh
  perjanjian sebelumnya antara anda dengan Bistip.com. Anda juga dapat
  menjadi subyek dari syarat dan ketentuan tambahan yang mungkin berlaku
  saat anda menggunakan jasa afiliasi, konten pihak ketiga, atau piranti
  lunak pihak ketiga. Apabila bagian apapun dari Perjanjian ini menjadi
  tidak sah atau tidak dapat diberlakukan secara hukum, bagian tersebut
  akan diartikan dengan cara yang konsisten dengan ketentuan hukum yang
  berlaku untuk merefleksikan, sedekat mungkin, kehendak awal dari para
  pihak, dan bagian lainnya dari Perjanjian ini akan tetap berlaku penuh.
  Kelalaian Bistip.com untuk menerapkan hak atau ketentuan apapun dari
  Perjanjian ini bukan merupakan pelepasan terhadap hak atau ketentuan
  tersebut, maupun terhadap ketentuan lain apapun dari Perjanjian ini.
  Bistip.com tidak akan bertanggung jawab atas kegagalan untuk memenuhi
  kewajiban apapun yang disebabkan oleh hal-hal yang berada di luar
  kendalinya.</p>

<p>Bistip.com dioperasikan oleh Bistip.com dari segala fasilitasnya
  yang berada di Indonesia. Anda setuju untuk mematuhi seluruh ketentuan
  hukum setempat, hukum nasional, statuta, ketentuan, dan peraturan yang
  berlaku atas pemakaian Bistip.com oleh anda. Seluruh transaksi pada
  Bistip.com diatur oleh hukum Negara Kesatuan Republik Indonesia. Anda
  secara tegas menyatakan bahwa yurisdiksi eksklusif atas klaim atau
  sengketa apapun dengan Bistip.com atau terkait dalam hal apapun dengan
  penggunaan anda atas Bistip.com berada pada pengadilan di Negara
  Kesatuan Republik Indonesia. Tidak ada seorang pun karyawan atau agen
  dari Bistip.com yang berhak untuk mengubah Perjanjian ini.</p>

<p>Bistip.com dapat menyampaikan pemberitahuan sehubungan dengan Bistip.com
  kepada anda dengan cara mengirimkan e-mail ke alamat e-mail yang
  terdaftar di Akun anda atau melalui pos ke alamat kontak yang tercatat
  pada Akun anda, atau melalui posting pada Bistip.com. Pemberitahuan
  akan berlaku efektif pada saat itu juga.</p>

<p>Bistip.com memiliki hak untuk mengambil langkah-langkah yang
  Bistip.com anggap sewajarnya diperlukan atau pantas untuk melaksanakan
  dan/atau memeriksa kepatuhan terhadap ketentuan apapun dari Perjanjian
  ini. Anda setuju bahwa Bistip.com memiliki hak, tanpa kewajiban kepada
  anda, untuk mengungkapkan Data Registrasi dan/atau informasi Akun
  apapun kepada aparat penegak hukum, pejabat pemerintahan dan/atau pihak
  ketiga, sebagaimana yang Bistip.com anggap sewajarnya diperlukan atau
  pantas untuk melaksanakan dan/atau memeriksa kepatuhan terhadap
  ketentuan apapun dari Perjanjian ini termasuk namun tidak terbatas pada
  hak Bistip.com untuk bekerja sama dengan proses hukum apapun sehubungan
  dengan pemakaian Bistip.com dan/atau Produk oleh anda, dan/atau suatu
  klaim pihak ketiga bahwa pemakaian Bistip.com dan/atau Produk oleh anda
  adalah melawan hukum dan/atau melanggar hak pihak ketiga tersebut.</p>

<p>PT Afiliasi Kontenindo Jaya</p>

<p>Terakhir diperbaharui : 11 Maret 2011</p>
</div>
