<div id="postReplyMessage">
  <a id="<%= Message::REPLY_INTERNAL_ID %>"></a>
  <h4><%= t('message.field.label.reply') %>:</h4>
  <%= form_for([@sender, @new_message], :html => { :multipart => true }) do |f| %>
    <input type="hidden" value="<%= @reply_to_id %>" name="message[reply_to_id]" />
    <input type="hidden" value="<%= @message.trip_id %>" name="message[trip_id]" />
    <input type="hidden" value="<%= @message.seek_id %>" name="message[seek_id]" />
    <input type="hidden" value="<%= @receiver.id %>" name="receiver_id" />
    <input type="hidden" value="<%= @sender.id %>" name="sender_id" />

    <%= enable_character_counter('message_body',Message::BODY_MAXIMUM_LENGTH) %>
    <%= f.text_area :body, :rows => 7, :cols => 60 %>
    <div id="messageAttachPicture">
      <div class="label">
        <span class="attach"><%= t('message.label.asset') %></span>
      </div>
      <div class="fields">
        <%= f.fields_for :assets do |asset| %>
          <%= render "assets/field", :locals => {:asset => asset} %>
        <% end %>
      </div>
    </div>
    <br clear="all"/>
   
    <%= f.submit t('button.send'), :class => 'defaultButton' %>
  <% end %>
</div>
