<div style="font: normal 14px Helvetica, Arial, sans-serif; line-height: 19px; color: #333;">

  <%= @message.sender.username %> replied to your message on <%= l(@message.created_at) %> :

  <blockquote>
    <strong><i><%= simple_format @message.body %></i></strong>
  </blockquote>
  <br/>
  You can view the message through the link below:
  <br/>
  <%= auto_link(user_message_url(@user, @message)) %>
</div>