$("#seeks").append("<% for seek in @seeks %><% if params[:keyword] %><%= escape_javascript(render 'shared/seek_summary', :locals => {:seek => seek, :keyword_specified => true}) %><% else %><%= escape_javascript(render 'shared/seek_summary', :locals => {:seek => seek, :item_count => SeekItem::SUMMARY_COUNT}) %><% end %><% end %>");
$("#seeks_pagination").html("<%= escape_javascript(get_more_will_paginate(@seeks, 'seeks_pagination')) %>");