<p>There's a new store order:</p>

<table>
  <tr>
    <td>Between</td>
    <td><%= @store_order.buyer.username %> (Buyer) and <%= @store_order.seller.username %> (Seller)</td>
  </tr>
  <tr>
    <td>Item</td>
    <td><%= @store_order.order_items.first.item.name %></td>
  </tr>
  <tr>
    <td>Quantity</td>
    <td><%= @store_order.order_items.first.quantity %></td>
  </tr>
  <tr>
    <td>Price</td>
    <td><%= @store_order.order_items.first.price %></td>
  </tr>
</table>