<p>New store item need approval:</p>
<p>
  <%= @store_item.user.username %> - <%= @store_item.name %> - <%= @store_item.price %>
  <br/>
  <%= item_url(@store_item) %>
</p>
<p>
  To approve just hit the following link:
</p>
<p>
  <%= link_to 'Approve', console_store_item_approve_url(:id => @store_item.id) %>
</p>
