<p>Ada Item suggestion dari pengguna, berikut detail nya:</p>

<table>
  <tr>
    <td>ID</td>
    <td><%= @suggested_item.id %></td>
  </tr>
  <tr>
    <td>Nama Barang</td>
    <td><%= @suggested_item.name %></td>
  </tr>
  <tr>
    <td>User</td>
    <td><%= @suggested_item.user.username %></td>
  </tr>
  <tr>
    <td>Reason</td>
    <td><%= @suggested_item.reason %></td>
  </tr>
  <tr>
    <td>Notes</td>
    <td><%= @suggested_item.notes %></td>
  </tr>
  <tr>
    <td>Has picture?</td>
    <td><%= @suggested_item.has_picture? %></td>
  </tr>
</table>
