<p>The following transaction has been completed:</p>

<table>
  <tr>
    <td>Between</td>
    <td><%= @escrow.buyer.username %> (Buyer) and <%= @escrow.seller.username %> (Seller)</td>
  </tr>
  <tr>
    <td>Item</td>
    <td><%= @escrow.item %></td>
  </tr>
  <tr>
    <td>Review dari Seller</td>
    <td><%= reviews_user_url(:username => @escrow.seller.username, :anchor => @escrow.seller_review.internal_link_id) %></td>
  </tr>
  <tr>
    <td>Review dari Buyer</td>
    <td><%= reviews_user_url(:username => @escrow.buyer.username, :anchor => @escrow.buyer_review.internal_link_id) %></td>
  </tr>
</table>
