<p>Ada posting baru di forum:</p>

<table>
  <tr>
    <td>Oleh</td>
    <td><%= @post.user.username %></td>
  </tr>
  <tr>
    <td>Forum</td>
    <td><%= @forum.title %></td>
  </tr>
  <tr>
    <td>Topic</td>
    <td><%= @topic.title %></td>
  </tr>
  <tr>
    <td>Post</td>
    <td><%= @post.body_display %></td>
  </tr>
</table>
