<% seek = locals[:seek] %>
<%= t('message.field.label.seek') %>:
<span class="iconRoute">
  <%= render 'shared/city', :locals => {:city => seek.origin_city} %>
  <span class="dashArrow">-</span>
  <%= render 'shared/city', :locals => {:city => seek.destination_city} %>
</span>
