<% user = locals[:user] %>
<% if user.received_positive_reviews.count > 0 %>
  <span class="thumbUp"><%= user.received_positive_reviews.count%>&nbsp;<%= image_tag "icon-thumbs-up.png", :size => "10x14" %></span>
<% end %>
<% if user.received_negative_reviews.count > 0 %>
  <span class="thumbDown"><%= user.received_negative_reviews.count%>&nbsp;<%= image_tag "icon-thumbs-down.png", :size => "10x14" %></span>
<% end %>
<br/>