<div style="font: normal 14px Helvetica, Arial, sans-serif; line-height: 19px; color: #333;">
  <p><%= @trip.user.username %> just posted a trip from <%= @trip.origin_location %> to <%= @trip.destination_location %></p>
  <p><b>QuickMessage!</b> click 'Reply' to this email to send a message to <%= @trip.user.username %>. You can also attach up to 3 pictures.</p>
  <p>Or view the post and send a message through the link below:</p>
  <%= auto_link(trip_url(@trip)) %>
</div>
