
<div class="dashboardPlc bgLightYellow defaultRound defaultShadow wegoDeals">
  <h4 class="textBlack"><%= t('competition_suggested_item.call') %></h4>
  <br/>
  <p>
    <%= raw t('competition_suggested_item.dashboard', :link => (link_to t('competition_suggested_item.post_your_idea'), new_suggested_item_path, :class => 'btnAction')) %> <strong><%= t('competition_suggested_item.prize') %>!</strong>
  </p>
</div>