<% message = locals[:message] %>
<div class="inboxRow <%= 'alt' if message.sender != current_user %>">
  <div class="avatar">
    <%= image_tag message.sender.avatar.url(:thumb), :align => 'center', :class => 'photo', :width => 48, :height => 48 %>
  </div>
  <div class="message">
    <h5><%= link_to message.sender.username, profile_path(message.sender.username) %><span class="date"><%= l(message.created_at) %></span></h5>
    <%= auto_link_in_new_tab(message.body) %>
    <% message.assets.each_with_index do |asset, index| %>
      <% identifier = "message_" + message.id.to_s + "_asset_" + index.to_s %>
      <%= message_attachment_popup_js(identifier) %>
      <%= link_to asset.attachment.expiring_url(Asset::LINK_AGE), :id => identifier do %>
        <%= image_tag asset.attachment.expiring_url(Asset::LINK_AGE, :thumb), :align => 'center', :class => 'photo', :width => 48, :height => 48  %>
      <% end %>
    <% end %>
  </div>
</div>
