<div id="postComment">
  <h4><%= t('message.field.label.reply') %>:</h4>
  <%= form_for([@sender,Message.new]) do |f| %>
    <input type="hidden" value="<%= @reply_to_id %>" name="message[reply_to_id]" />
    <input type="hidden" value="<%= @message.trip_id %>" name="message[trip_id]" />
    <input type="hidden" value="<%= @message.seek_id %>" name="message[seek_id]" />
    <input type="hidden" value="<%= @receiver.id %>" name="receiver_id" />
    <input type="hidden" value="<%= @sender.id %>" name="sender_id" />
    
    <%= enable_character_counter('message_body',Message::BODY_MAXIMUM_LENGTH) %>
    <%= f.text_area :body, :rows => 7, :cols => 60 %>
    <%= f.submit t('button.send'), :class => 'defaultButton' %>
  <% end %>
</div>
