<% page_title t('message.link.sent') %>
<div class="col12">
  <h2><%= t('message.link.sent') %><%= render('shared/protected') %></h2>
  <%= render 'shared/message_sub_menu' %>
</div>
<div class="col9">
  <div id="inbox">
    <% if @sents.size > 0 %>
      <%= render :partial => 'sent', :collection => @sents %>
    <% else %>
      <div class="notificationBar yellow"><%= t('message.sent.no_result') %></div>
    <% end %>
  </div>
  <%= get_more_will_paginate(@sents, 'messages_pagination') %>
</div>