<% seller = current_user == @message.sender ? @message.receiver : @message.sender %>
<% buyer = @message.not_this_user(seller) %>

<% if !@message.escrow.blank? %>
  <div class="bgLightYellow defaultRound" id="protectionWidget">
    <%= render "escrows/widget", :locals => {:escrow => @message.escrow} %>
  </div>
<% elsif !@message.insurance.blank? %>
  <div class="bgLightYellow defaultRound" id="protectionWidget">
    <%= render "insurances/widget", :locals => {:insurance => @message.insurance} %>
  </div>
<% elsif @message.is_requester? current_user %>
  <div class="bgLightYellow defaultRound" id="protectionWidget">
    <h4 class="textBlack"><%= t('message.show.label.pay', :buyer => buyer.username) %></h4>
    <br/>
    <p>
      <%= link_to t('message.show.label.safepay'), new_escrow_path(:seller_id => seller, :message_id => @message.id), :class => 'btnAction' %>
    </p>
    <p>
      <%= t('message.show.label.other_protection') %>
    </p>
    <p>
      <%= link_to t('message.show.insurance.apply'), new_insurance_path(:seller_id => seller, :message_id => @message.id), :class => 'btnAction' %>
    </p>
  </div>
<% end %>

<%= sticky_js 'protectionWidget' %>