<% if !@message.escrow.blank? %>
  <div class="notificationBar yellow"><%= raw t('message.show.label.warning_safepay', :fullweb => "<a href='?mobile=0'>#{t('mobile.web_link')}</a>") %>
  </div>
<% elsif !@message.insurance.blank? %>
  <div class="notificationBar yellow"><%= raw t('message.show.label.warning_insurance', :fullweb => "<a href='?mobile=0'>#{t('mobile.web_link')}</a>") %>
  </div>
<% elsif @message.is_requester? current_user %>
  <div class="notificationBar yellow">
    <% buyer = @message.not_this_user(current_user) %>
    <%= raw t('message.show.label.warning_pay', :buyer => buyer.username, :fullweb => "<a href='?mobile=0'>#{t('mobile.web_link')}</a>") %>
  </div>
<% end %>

