<% page_title t('recommend.get_recommendation.title') %>
<div id="dashboard">
<%= render 'dashboard/reminder' %>
<%= render 'dashboard/menu' %>
<div class="col9">
  <h4><%= t('recommend.get_recommendation.label.header')%></h4>
  <br/>
  <p>
    <%= t('registered.label.share_recommend_link')%>&nbsp;
    <%= text_field_tag 'recommend', generate_recommend_url(current_user), :size => 50, :class => 'textbox-01', :readonly => 'readonly' %>
  </p>
  <div class="addthis_toolbox addthis_default_style addthis_32x32_style socialShare">
    <a class="addthis_button_facebook" addthis:url="<%= generate_recommend_url(current_user) %>" addthis:title="<%= generate_recommend_title(current_user) %>"></a>
    <a class="addthis_button_twitter" addthis:url="<%= generate_recommend_url(current_user) %>" addthis:title="<%= generate_recommend_title(current_user) %>"></a>
      
    <script type="text/javascript">
      var addthis_config = {"data_track_clickback":true};
    </script>
    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4d71069d1b32853e"></script>
    <script type="text/javascript" src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
    <fb:send href="<%= generate_recommend_url(current_user) %>" font="arial"></fb:send>
  </div>
</div>
</div>
