<%= form_for(@seek) do |f| %>
  <div id="postNewRoute">
    <p>
      <label><%= t('seek.field.label.route') %></label>
      <%= location_auto_complete_js 'seek_origin_location' %>
      <% if @seek.from_anywhere? %>
        <%= f.text_field :origin_location, :value => City::ANYWHERE, :class => 'defaultText', :style=>"width: 230px;" , :readonly => 'readonly', :disabled => 'disabled', :placeholder => t('seek.field.label.origin') %>
      <% else %>
        <%= f.text_field :origin_location, :value => get_predefined_origin_location, :class => 'defaultText', :style=>"width: 230px;", :placeholder => t('seek.field.label.origin') %>
      <% end %>
      &nbsp;<span class="dashArrow">-</span>&nbsp;
      <%= location_auto_complete_js 'seek_destination_location' %>
      <%= f.text_field :destination_location, :value => get_predefined_destination_location, :class => 'defaultText', :style=>"width: 230px;", :placeholder => t('seek.field.label.destination') %>
      <br/>
      <%= f.check_box :from_anywhere, :onclick => 'handle_from_anywhere(this)' %>
      <span><%= t('seek.field.label.from_anywhere') %></span>
      <br/>
      <%= render 'shared/new_location_contact_us' %>
    </p>
    <p>
      <label><%= t('seek.field.label.departure_date') %></label>
      <%= date_picker_js 'seek_departure_date' %>
      <% departure_date = l(@seek.departure_date, :format => :date_without_day) unless @seek.departure_date.nil? %>
      <%= f.text_field :departure_date, :value => departure_date, :readonly => "readonly", :class => 'defaultText', :style=>"width: 270px;" %>
      <% DatePredicate::ALL.each do |departure_date_predicate| %>
        <%= radio_button_tag 'seek[departure_date_predicate]', departure_date_predicate, @seek.departure_date_predicate == departure_date_predicate %>
        <%= t(departure_date_predicate, :scope => 'date_predicate') %>
      <% end %>
      <br/>
      <%= render_link_to_clear_a_field('seek_departure_date') %>
    </p>

    <div class="divider"></div>
    <h4><%= t('seek.field.label.items') %></h4>
    <br/>
    <div class="items">
      <div class="header"><label><%= t('seek_item.field.label.name') %></label> <label><%= t('seek_item.field.label.tip') %></label></div>
      <%= f.fields_for :items do |builder| %>
        <%= render "item_fields", :f => builder %>
      <% end %>
      <%
        add_more_items_style = ''
        add_more_items_style = 'display:none' if @seek.items.length >= SeekItem::MAXIMUM
      %>
      <div class="add_more_items" style="<%= add_more_items_style %>">
        <%= link_to_add_fields t("general.add_more"), f, :items, SeekItem::MAXIMUM %>
      </div>
    </div>
    <br/>
    <p>
      <label><%= t('seek.field.label.notes') %></label>
      <%= enable_character_counter('seek_notes',Seek::NOTES_MAXIMUM_LENGTH)%>
      <%= f.text_area :notes, :rows => 6, :cols => 60, :class => 'textarea-01' %>
    </p>

    <p>
      <label>&nbsp;</label>
      <%= f.submit t('button.send'), :class => 'defaultButton' %>
      <%= link_to t('button.cancel'), dashboard_path, :class => 'cancelLink' %>
    </p>
  </div>
<% end %>
