<% page_title @seek.to_s %>
<% user = @seek.user %>
<% meta_description @seek.to_s %>
<% meta_keywords @seek.items_name_all %>
<div class="col12">
  <h2><%= t('seek.show.label.heading') %></h2>
  <p class="navBack">
    <%= link_to t('general.link_return'), :back %>
  </p>
</div>
<div class="col8 bgLightBlue defaultRound">
  <div id="viewWanted">
    <div class="avatar">
      <%= image_tag user.avatar.url, :size => "84x84", :class => "photo" %>
      <h5><%= link_to user.username, profile_path(user.username) %></h5>

      <div class="tools">
        <%= render 'shared/user_reputation', :locals => {:user => user} %>
      </div>

      <% if logged_in? and @seek.owner?(current_user) and @seek.active? %>
        <div class="adminTools">
          <%= link_to t('seek.edit.link_short'), edit_seek_path(@seek) %>
          <%= link_to t('seek.destroy.link_short'), @seek, :confirm => 'Are you sure?', :method => :delete, :class => "delete" %>
        </div>
      <% end %>
    </div>
    <div class="info">
      <% unless @seek.active? %>
        <div class="notificationBar red">
          <%= t('seek.show.label.not_active') %>
        </div>
      <% end %>

      <div class="infoBlock defaultRound">
        <%= render 'shared/seek_data', :locals => {:seek => @seek} %>
      </div>

      <% unless @seek.notes.blank? %>
        <h5><%= t('seek.field.label.notes') %></h5>
        <p>
          <%= auto_link_in_new_tab @seek.notes %>
        </p>
      <% end %>

      <p>
        <% if logged_in? %>
          <% if !@seek.owner?(current_user) %>
            <br/>
            <%= link_to new_user_message_path(:user_id => user, :seek_id => @seek.id), :class => "btnAction" do %>
              <%= image_tag 'icon-email-bistiper.png', :size => "22x14" %>&nbsp;
              <%= t('message.link.seek', :username => user.username) %>
            <% end %>
            <br/>
          <% end %>
        <% else %>
          <br/>
          <%= link_to new_user_message_path(:user_id => user, :seek_id => @seek.id), :class => "btnAction" do %>
            <%= image_tag 'icon-email-bistiper.png', :size => "22x14" %>&nbsp;
            <%= t('message.link.seek', :username => user.username) %>
          <% end %>
          <br/>
        <% end %>
        <%= render 'shared/social_share', :locals => {:url => seek_url(@seek), :title => @seek.to_s, :owner => @seek.user } %>
      </p>
    </div>
  </div>
  <br clear="all"/>
  <div id="comments" class="bgWhite defaultRound">
    <%= render 'comments' %>
  </div>
</div>
<div class="col4">
  <%= render('shared/right_legal_tips') %>
  <br/>
  <% if !logged_in? or (logged_in? and !(current_user == user)) %>
    <h4><%= t('relation.heading') %></h4>
    <br/>
    <div class="bgGrey defaultRound relationBox">
      <%= render 'shared/relation', :locals => {:user => user} %>
    </div>
    <br/>
  <% end %>
  <% if logged_in? and current_user == user and !@seek.find_matching_trips.blank? %>
    <div id="match">
      <h4><%= t('seek.show.label.match_heading') %></h4>
      <% @seek.find_matching_trips.take(Seek::SUMMARY_MATCH_COUNT).each do |match_trip| %>
        <%= render 'shared/trip_summary_mini', :locals => {:trip => match_trip} %>
      <% end %>
      <% if @seek.find_matching_trips.size > Trip::SUMMARY_MATCH_COUNT %>
        <p><%= link_to t('general.see_all'), match_seek_path(@seek) %></p>
      <% end %>
    </div>
  <% end %>
</div>