<% page_title t('content.link.jobs') %>
<div class="col4, padding2point5">
  <h2><%= t('content.link.jobs') %></h2>

  <h3>Stay tune, we will post more details later :)</h3>

  <p><strong>However, if you think that you're talent can help Bistip, please drop us a line
    through our <%= link_to t('contact_us.new.link.jobs'), new_contact_us_path(:subject => 'I am the best talent out there!'), :class => 'btnAction' %> form.</strong></p>

  <p><strong>Fresh graduates are welcome!</strong></p>
</div>
<%= render 'shared/static_menu' %>
