<% seek = locals[:seek] %>
<% extra_info = locals[:extra_info] %>
<div class="itemDisplay bgBlue">
  <%= seek.item.name %>
</div>
<% unless seek.item.blank? %>
  <% unless seek.item.tip.blank? %>
    <div class="tipDisplay bgYellow">
      <% if extra_info %>
        <strong><%= t('seek.field.label.items_tip') %></strong><br/>
      <% end %>
      <%= seek.item.tip_with_unit %>
    </div>
  <% end %>
<% end %>
<div class="homeDisplay">
  <%= seek.destination_location %>
</div>
<% if extra_info and seek.origin_city.name != City::ANYWHERE %>
  <div class="locationDisplay">
    <strong><%= t('seek.field.label.from') %>:</strong><br/>
    <%= seek.origin_location %>
  </div>
<% end %>