.table-main {
    padding-top: 10px;
    width: 1000px;
}

.form-border{
    background: #F3F3F3;
    padding-left: 5px;
    border-radius: 5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-width:1px;
    border-style:solid;
    border-bottom-color:#aaa;
    border-right-color:#aaa;
    border-top-color:#ddd;
    border-left-color:#ddd;
}
.menu {
    height: 39px;
    width: 100%;
}
.menu-content {
    background-image: url(/images/menu-middle.jpg);
    background-repeat: repeat-x;
    color: #FFFFFF;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    font-weight: bold;
    height: 39px;
    text-decoration: none;
    width: 980px;
}
.menu-content a:active, .menu-content a:link, .menu-content a:visited {
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding-left: 8px;
    padding-right: 8px;
    text-decoration: none;
}
.menu-content a:hover {
    color: #FED700;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding-left: 8px;
    padding-right: 8px;
    text-decoration: none;
}
.login-box {
    color: #FFFFFF;
    float: right;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    width: 272px;
}
.button-red {
    background-color: #FF0000;
    border: 1px solid #990000;
    color: #FFFFFF;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 13px;
}
.button-red:active {
    background-color: #E10000;
}
.button-blue {
    background-color: #377DFC;
    border: 1px solid #377DFC;
    color: #FFFFFF;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 13px;
}
.button-blue:active {
    background-color: #1D6CFC;
}
.textbox-login {
    border: 1px solid #BDC7D8;
    font-family: arial,sans-serif;
    font-size: 12px;
    padding: 1px;
}
.text-title-01 {
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
}
.summary-text {
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 22px;
}
.summary-text a:active, .summary-text a:link, .summary-text a:visited {
    color: #2C93DF;
    text-decoration: none;
}
.summary-text a:hover {
    text-decoration: underline;
}
.summary-table {
    width: 400px;
}
.summary-line {
    background-image: url(/images/line-01.jpg);
    background-position: center center;
    background-repeat: repeat-x;
    height: 15px;
}

.summary-box-expired {
  background-image: url("http://www.epoch-designs.com/bistip/css/../img/bg-box.jpg");
  background-position: left top;
  background-repeat: no-repeat;
  border-bottom: 1px solid #999999;
  padding: 5px 0 0;
}

.text-red-01 {
    color: #FF0000;
}
.footer-text {
    color: #333333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}
.footer-text a:active, .footer-text a:link, .footer-text a:visited {
    color: #333333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    text-decoration: none;
}
.footer-text a:hover {
    text-decoration: underline;
}
.text-01 {
    color: #333333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
}
.text-01 a:active, .text-01 a:visited, .text-01 a:link {
    color: #666666;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    text-decoration: none;
}
.text-01 a:hover {
    text-decoration: underline;
}
.textbox-01 {
    border: 1px solid #BDC7D8;
    font-family: arial,sans-serif;
    font-size: 15px;
    padding: 4px;
}
.textarea-01 {
    border: 1px solid #BDC7D8;
    font-family: arial,sans-serif;
    font-size: 15px;
    padding: 4px;
}
.text-orange {
    color: #FEBF00;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 25px;
}
.text-error {
    color: #666666;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}
.text-green {
    color: #1D583C;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
}

.text-orange-14 {
  color: #FF9900;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 14px;
}

.text-white-14 {
  color: #FFFFFF;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 14px;
}

.text-white-14 a:visited, .text-white-14 a:link, .text-white-14 a:active {
  color: #FFFFFF;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 14px;
  text-decoration: none;
}

.text-white-14 a:hover {
  color: #FFFFFF;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 14px;
}

.button-register {
    background-color: #377DFC;
    border: 1px solid #377DFC;
    color: #FFFFFF;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 13px;
    padding: 3px;
}
.button-register:active {
    background-color: #1D6CFC;
}

.content-left {
    padding-top: 10px;
    padding-left: 20px;
}

.content-middle {
    padding-top: 10px;
    padding-left: 140px;
}

.content-middle-graphic-background {
    padding-top: 10px;
    background-image: url(/images/bg-logo.jpg);
    background-position: right top;
    background-repeat: no-repeat;
    padding-left: 140px;
}

/* notification */
#notice {
    background-color: #A4E7A0;
    border: 1px solid #A4E7A0;
}

#alert, #model_alert {
    background-color: #F0A8A8;
    border: 1px solid #F0A8A8;
}

#notice, #alert, #model_alert {
    width: 90%;
    margin: 0 auto 10px auto;
}

#notice p, #alert p, #model_alert p {
    margin-left: 20px;
    padding: 0;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    color: #000;
}

#notice a, #alert a, #model_alert a { 
    text-decoration: none;
    padding: 0 3px;
}

#notice a {
    border: 1px solid #26722D;
    color: #26722D;
}

#alert a, #model_alert a {
    border: 1px solid #900;
    color: #900;
}

#notice a:hover, #alert a:hover, #model_alert a:hover {
    color: #333;
    border: 1px solid #333;
}

.buttonlink-grey a:active, .buttonlink-grey a:visited, .buttonlink-grey a:link {
    background-color:#8F8B8C;
    color:#FFF;
    font-size:13px;
    border:1px solid #8F8B8C;
    font-family:Tahoma,Geneva,sans-serif;
    text-decoration:none;
    padding:0px 5px 3px 5px;
}

.buttonlink-grey a:hover {
    background-color:#827F80;
}

.buttonlink-red a:active, .buttonlink-red a:visited, .buttonlink-red a:link {
    background-color:#F00;
    color:#FFF;
    font-size:13px;
    border:1px solid #F00;
    font-family:Tahoma,Geneva,sans-serif;
    text-decoration:none;
    padding:0px 5px 3px 5px;
}

.buttonlink-red a:hover {
    background-color:#C00;
}

.buttonlink-blue a:active,.buttonlink-blue a:visited,.buttonlink-blue a:link {
    background-color:#3e7ff5;
    color:#FFF;
    font-size:13px;
    border:1px solid #3e7ff5;
    font-family:Tahoma,Geneva,sans-serif;
    text-decoration:none;
    padding:0px 5px 3px 5px;
}

.buttonlink-blue a:hover {
    background-color:#06F;
}

.buttonlink-image {
    background-color:#F00;
    padding:5px 5px 8px 5px;
    cursor:pointer;
}

.buttonlink-image a:active,.buttonlink-image a:visited,.buttonlink-image a:link {
    background-color:#F00;
    color:#FFF;
    font-size:13px;
    border:1px solid #900;
    font-family:Tahoma,Geneva,sans-serif;
    text-decoration:none;border:0px;
}

.buttonlink-image a:hover {
    background-color:#C00;
}

.heading-text-orange {
    font-family:Arial,Helvetica,sans-serif;
    font-size:25px;
    color:#febf00;
}

#sub-menu {
  border-bottom: 1px solid #CCCCCC;
  margin: 20px 0 15px;
  padding-bottom: 25px;
  padding-left: 10px;
}

#sub-menu ul, #sub-menu li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#sub-menu a {
  background: none repeat scroll 0 0 #E8EBF0;
  border: 1px solid #CCCCCC;
  color: #666666;
  float: left;
  font-size: 15px;
  line-height: 14px;
  margin-right: 8px;
  padding: 5px 10px;
}

#sub-menu span {
  float: left;
  font-size: 15px;
  line-height: 14px;
  margin-right: 8px;
  padding: 5px 10px;
}

#sub-menu .active a {
  background: none repeat scroll 0 0 #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

#sub-menu a:hover {
  color: #111111;
}

.profile-picture {
    float:left;
    text-align:center;
    font-family:Arial,Helvetica,sans-serif;
    font-size:14px;
    color:#000;
    line-height:20px;
    padding:10px;
}

.profile-picture img {
    border:1px solid #999;
}

.profile-form-table {
    float:left;
    text-align:left;
    font-family:Arial,Helvetica,sans-serif;
    font-size:14px;
    color:#333;
    padding:10px;
    padding-top:5px;
}

.table-half-page {
    float: left;
    width: 49%;
}

.table td {
    padding: 4px;
}

.table input {
    border: 1px solid #BDC7D8;
    font-family: arial,sans-serif;
    font-size: 12px;
    padding: 4px;
}

.table select {
    border: 1px solid #BDC7D8;
    font-family: arial,sans-serif;
    font-size: 12px;
    padding: 4px;
    width: 150px;
}

.pagination a {
    font-family:Arial,Helvetica,sans-serif;
}

.pagination a:active, .pagination a:link, .pagination a:visited {
    color: #2C93DF;
    text-decoration: none;
}

.pagination a:hover {
    text-decoration: underline;
}

.heading-grey {
  clear: both;
  color: #707070;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.buttonlink-grey-01 a:active, .buttonlink-grey-01 a:visited, .buttonlink-grey-01 a:link {
  background-color: #C5C5C5;
  border: 1px solid #C5C5C5;
  color: #FFFFFF;
  font-family: Tahoma,Geneva,sans-serif;
  font-size: 15px;
  padding: 0 5px 3px;
  text-decoration: none;
}

.buttonlink-grey-01 a:hover {
  background-color: #666666;
}

.line-separator-01 {
  background-color: #999999;
  clear: both;
  height: 1px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.comment {
  border-bottom: 1px solid #999999;
  clear: both;
  padding-bottom: 20px;
  padding-top: 10px;
  width: 950px;
}

.comment #comment-profile-picture {
  float: left;
  border: 1px solid #999999;
}

.comment #desc {
  color: #333333;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 13px;
  padding-left: 80px;
  float: right;
}

.comment-form #title {
  color: #333333;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 13px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.comment-form textarea {
  border: 1px solid #BDC7D8;
  font-family: arial,sans-serif;
  font-size: 14px;
  padding: 4px;
}

.messages {
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 5px;
  width: 950px;
}

.messages img {
  border: 1px solid #999999;
}

.messages a:active, .messages a:link, .messages a:visited {
    color: #2C93DF;
    text-decoration: none;
}
.messages a:hover {
    text-decoration: underline;
}

.message-name {
  color: #333333;
  float: left;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 14px;
  width: 150px;
  padding-left: 20px;
}

.message-content {
  border-left: 1px solid #999999;
  color: #333333;
  float: left;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 14px;
  margin-left: 10px;
  padding-left: 10px;
  width: 600px;
}

.conversations {
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 5px;
  width: 950px;
}

.conversations img {
  border: 1px solid #999999;
}

.conversations a:active, .conversations a:link, .conversations a:visited {
    color: #2C93DF;
    text-decoration: none;
}
.conversations a:hover {
    text-decoration: underline;
}

.conversation-name {
  color: #333333;
  float: left;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 14px;
  padding-left: 20px;
  padding-bottom: 10px;
}

.conversation-content {
  color: #333333;
  float: left;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 14px;
  padding-left: 20px;
  width: 700px;
}

.heading-grey {
  clear: both;
  color: #707070;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.message-form {
  font-family: arial,sans-serif;
  font-size: 14px;
  padding: 10px;
}

.user-medium {
  clear: both;
}

.user-medium-profile-picture {
  float: left;
  padding: 10px;
  border: 1px;
}

.user-medium-profile-picture img {
  border: 1px solid #999999;
}

.user-medium-details {
  padding-top: 20px;
  float: left;
}

.blue-link a:active, .blue-link a:link, .blue-link a:visited {
  color: #2C93DF;
  text-decoration: none;
}

.blue-link a:hover {
  text-decoration: underline;
}

.red-link a:active, .red-link a:link, .red-link a:visited {
  color: #E81348;
  text-decoration: none;
}

.red-link a:hover {
  text-decoration: underline;
}

.reputation {
  clear: both;
  padding: 10px;
}

.reputation-profile-picture {
  float: left;
  padding: 10px;
  border: 1px;
}

.reputation-profile-picture img {
  border: 1px solid #999999;
}

.reputation-details {
  padding-top: 10px;
  float: left;
  width: 600px;
}

.reputation-body {
  padding-top: 10px;
  float: left;
}

.auto-match {
  float: right;
  padding: 10px;
  margin-top: 20px;
  border: 2px solid #F00;
}

.auto-match .link {
  text-align: center;
  padding: 10px;
}

.match {
  padding-top: 20px;
  padding-bottom: 20px;
}

.match-result {
  margin-top: 20px;
  margin-left: 20px;
}

.exception {
  background-color: #fff;
  color: #666;
  font-family: arial, sans-serif;
}
.exception .dialog {
  width: 25em;
  padding: 0 4em;
  margin: 1em auto 0 auto;
  border: 1px solid #ccc;
  border-right-color: #999;
  border-bottom-color: #999;
  text-align: center;
}

.exception h1 {
  font-size: 100%;
  color: #f00;
  line-height: 1.5em;
}

.feedback {
  border: medium none;
  border-collapse: collapse;
  border-spacing: 0;
  cursor: pointer;
  display: block;
  font-size: 0;
  left: 0;
  line-height: 0;
  margin: 0;
  outline: medium none;
  overflow: hidden;
  padding: 0;
  position: fixed;
  top: 42%;
  z-index: 2147000000;
}

.field_with_errors {
  display:inline
}

.header01 {
  font: bold 20px/18px 'AllerRegular',Arial,sans-serif;
  letter-spacing: 0;
}

.header-sub-text {
  font: 14px 'AllerRegular',Arial,sans-serif;
  width: 400px;
  padding-top: 12px;
  padding-left: 60px;
}

.facebook-login {
  background-color: transparent;
  display: inline;
  border: 0 none;
  cursor: pointer;
  padding: 0px;
}

.twitter-login {
  background-color: transparent;
  display: inline;
  border: 0 none;
  cursor: pointer;
}

.user-reputation img {
    border:0px;
}

.language-switcher {
    text-align: center;
    float: left;
    padding: 5px;
    margin-left: 120px;
}