<% page_title t('dashboard.link.escrows') %>
<%= render 'reminder' %>
<div id="dashboard" class="col4">
  <% if @escrows.size > 0 %>
    <% @escrows.each do |escrow| %>
      <div class="escrowRow">
        <%= render 'shared/escrow_info', :locals => {:escrow => escrow} %>
      </div>
    <% end %>
  <% else %>
    <div class="notificationBar yellow"><%= t('escrow.index.no_result') %></div>
  <% end %>
</div>
<%= render 'menu' %>