<% page_title t('dashboard.index.title') %>
<%= render 'reminder' %>
<div id="dashboard" class="col4">
  <%= render 'shared/point_widget' %>
  <% if @incoming_trips.size > 0 %>
    <div class="dashboardPlc bgLightYellow defaultRound defaultShadow">
      <h4><%= "#{t('dashboard.label.incoming_bistiper')} (#{current_user.city_location})" %></h4>
      <div id="searchResults" class="dashboard">
        <%= render 'shared/incoming_trips', :locals => {:incoming_trips => @incoming_trips} %>
      </div>
    </div>
    <br/>
  <% end %>
</div>
<%= render 'menu' %>