<% page_title t('influencer.link') %>
<%= render 'shared/user_sub_menu' %>
<%= render 'shared/user_profile_sub_menu' %>
<center>
  <br/>
  <br/>
  <div id="mypoint" style="border: 2px solid #62ACE3;width: 70%; border-radius:5px;">
    <%= render 'influencer'  %>
  </div>
</center>

