.forum_table {
    border: 1px solid #D4D4D4;
    width: 100%;
    text-align: left;
}

.forum_form_table {
    border: 1px solid #D4D4D4;
    width: 100%;
    text-align: left;
}

table.forum_table th, table.forum_table td {
    padding: 5px;
    border-bottom: 1px solid #D4D4D4;
}
.forum_topics_col, .forum_posts_col, .topic_posts_col, .topic_views_col  {
    text-align: center;
    width: 10%;
}

.forum_title_col, .topic_title_col {
    width: 50%;
}

.forum_last_post_col, .topic_last_post_col {
    width: 30%;
}

.post {
    padding: 20px;
    border: 1px solid #D4D4D4;
    margin-bottom: 10px;
}

.post_header {
    padding-bottom: 10px;
}

.post_body {
    padding-bottom: 10px;
}

.post_footer {
    padding-bottom: 20px;
}

.quoted_post {
    font-style: italic;
    padding-left: 10px;
    padding-bottom: 10px;
}

.forum_title_column {
    padding-bottom: 5px;
}

.forum_form_label {
    text-align: right;
    width: 10%;
}

.forum_form_value {
    text-align: left;
    width: 90%;
}