<div class="col12 bgWhite">
  <h2>
    <%= current_user.username %><br/>
    <span class="memberDate"><%= t('user.member_since') %> <%= current_user.member_since %></span>
  </h2>
  <% if logged_in? and current_user %>
  <% if current_user.need_notify? %>
      <% if current_user.need_to_complete_profile? %>
        <div class="notificationBar yellow"><%= link_to t('user.reminder.complete_profile'), edit_profile_path, :class => 'user-reminder' %></div>
      <% end %>
      <% if current_user.received_positive_reviews.size == 0 %>
        <div class="notificationBar yellow"><%= link_to t('user.reminder.get_recommendation'), get_recommendation_path, :class => 'user-reminder' %></div>
      <% end %>
      <% if !current_user.has_location? %>
        <div class="notificationBar yellow"><%= link_to t('user.reminder.complete_location'), edit_profile_path, :class => 'user-reminder' %></div>
      <% end %>
      <% if !current_user.has_avatar? %>
        <div class="notificationBar yellow"><%= link_to t('user.reminder.complete_avatar'), edit_profile_path, :class => 'user-reminder' %> </div>
      <% end %>
      <% if !current_user.has_payout_method? %>
        <div class="notificationBar yellow"><%= link_to t('user.reminder.payout_method'), new_payout_method_path, :class => 'user-reminder' %> </div>
      <% end %>
    <div style="padding-top: 5px;"></div>
  <% end %>
<% end %>
</div>