<% page_title t('dashboard.link.store_orders') %>
<div id="dashboard">
  <%= render 'reminder' %>
  <%= render 'menu' %>
  <div class="col9">
    <h3 class="textBlack">
      <%= t('dashboard.store_orders.heading') %>
    </h3>
    <% if @store_orders.blank? %>
      <div class="notificationBar yellow"><%= raw t('dashboard.store_orders.no_result') %></div>
    <% else %>
      <% @store_orders.each do |so| %>
        <%= render 'store_orders/summary', :store_order => so %>
      <% end %>
    <% end %>
  </div>
</div>