<% page_title t('dashboard.link.suggested_items') %>
<div id="dashboard">
  <%= render 'reminder' %>
  <%= render 'menu' %>
  <div class="col9 bgLightGreen">
    <h4 class="textBlack"><%= t('suggested_items.show.label.got_idea') %>&nbsp;&nbsp;<%= link_to t('suggested_items.show.label.call_action'), new_idea_item_path, :class => 'btnAction' %></h4>
    <br/>
    <% unless @idea_items.blank? %>
      <% @idea_items.each do |item| %>
        <div class="suggestedItemWrap">
          <%= render 'idea_items/summary', :locals => {:item => item} %>
          <div class="tools">
            <div class="adminTools">
              <%= link_to t('suggested_items.edit.link'), edit_idea_item_path(item) %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="notificationBar yellow"><%= t('suggested_items.dashboard.index.no_result') %> </div>
    <% end %>
  </div>
</div>