<p class="textGreen">
  <strong>We are not offering any point claim at this moment because.. Bistip SafePay is currently free!</strong>
</p>
<p>
  To celebrate Bistip first birthday, our SafePay fee is free from 9 Maret until 9 April 2012. Read more at <%= link_to t('content.link.safepay'), safepay_path %>.
</p>