<% user = locals[:user] %>

<span style="vertical-align: bottom; border-bottom-style: none">
  <span class="blue-link"><strong><%= link_to user.username, profile_path(user.username) %></strong></span>
  <%= render 'shared/user_reputation', :locals => {:user => user} %>
  <% if logged_in? and user != current_user %>
    <span> - </span><%= link_to image_tag("ui_newmail.png", :border => 0, :title => t('message.link.new', :username => user.username), :align => "absmiddle"), new_user_message_path(:user_id => user) %>
  <% elsif !logged_in? %>
    <span> - </span><%= link_to image_tag("ui_newmail.png", :border => 0, :title => t('message.link.new', :username => user.username), :align => "absmiddle"), new_user_message_path(:user_id => user) %>
  <% end %>
</span>