<p>
  <%= get_will_paginate @stories %>
</p>

<% if @stories.size > 0 %>
  <div id="story">
    <div id="paginationData">
      <%= render :partial => 'story', :collection => @stories %>
    </div>
  </div>
<% end %>

<p>
  <%= get_will_paginate @stories %>
</p>