<% city = locals[:city] %>
<% country = city.country %>
<% if city.name == City::ANYWHERE %>
  <i><%= city.name %></i>
<% else %>
  <%= city.name %>&nbsp;&nbsp;<strong>(<%= country.code.upcase %>)</strong>
<% end %>
