<% child_profile = [dashboard_profile_path, {:controller => 'users', :action => "edit", :id => @user.id},
  {:controller => 'passwords', :action => "edit"},
  edit_user_configuration_path(:user_id => @user.id, :id => @user.user_configuration.id),
  influencer_point_user_path(:id => @user.id)] %>
<% child_activity = [dashboard_trips_path, dashboard_seeks_path]  %>
<% child_reputation = [dashboard_positive_reputations_path, dashboard_negative_reputations_path, get_recommendation_path] %>
<div class="sub-menu-border">
  <ul class="text-01" id="sub-menu">
    <%= render_sub_menu_link t('dashboard.link.general'), [dashboard_path] %>
    <%= render_sub_menu_link t('user.show.link'), child_profile%>
    <%= render_sub_menu_link t('dashboard.link.activity'), child_activity %>
    <%= render_sub_menu_link t('user.field.label.reputation'), child_reputation %>
  </ul>
</div>
<% if is_sub_menu_selected(child_profile) %>
  <% if logged_in? and current_user == @user %>
    <ul class="text-01" id="inner-sub-menu">
      <%= render_inner_sub_menu_link t('user.show.link'), dashboard_profile_path %>
      <%= render_inner_sub_menu_link t('user.edit.link'), {:controller => 'users', :action => "edit", :id => @user.id} %>
      <%= render_inner_sub_menu_link t('password.edit.link'), {:controller => 'passwords', :action => "edit"} %>
      <%= render_inner_sub_menu_link t('configuration.edit.link'), edit_user_configuration_path(:user_id => @user.id, :id => @user.user_configuration.id) %>
      <%= render_inner_sub_menu_link t('influencer.link'), influencer_point_user_path(:id => @user.id) %>
    </ul>
  <% end %>
<% elsif is_sub_menu_selected(child_activity) %>
  <ul class="text-01" id="inner-sub-menu">
    <%= render_inner_sub_menu_link t('trip.index.link'), dashboard_trips_path %>
    <%= render_inner_sub_menu_link t('seek.index.link'), dashboard_seeks_path %>
  </ul>
<% elsif is_sub_menu_selected(child_reputation) %>
  <ul class="text-01" id="inner-sub-menu">
    <%= render_inner_sub_menu_link t('reputation.link.positive'), dashboard_positive_reputations_path %>
    <%= render_inner_sub_menu_link t('reputation.link.negative'), dashboard_negative_reputations_path %>
    <% if logged_in? and current_user == @user %>
      <%= render_inner_sub_menu_link t('dashboard.link.recomendation'), get_recommendation_path %>
    <% end %>
  </ul>
<% end %>