.transitpage {
    color: #035088;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 22px;
}

.transit-instruction-text {
    color: #035088;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 22px;
}

.texthover {
    color: #035088;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    -webkit-transition-property: color, text;
    -webkit-transition-duration: 0s, 0s;
    -webkit-transition-timing-function: linear, ease-in;

    -moz-transition-property: color, text;
    -moz-transition-duration: 1s;
    -moz-transition-timing-function: linear, ease-in;

    -o-transition-property: color, text;
    -o-transition-duration: 1s;
    -o-transition-timing-function: linear, ease-in;
}

.texthover:hover {
    color: #FEBF00;
}

.table-main {
    padding-top: 10px;
    width: 1000px;
}

.form-border {
    background: #62ACE3;
    padding-left: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-bottom-color: #aaa;
    border-right-color: #aaa;
    border-top-color: #ddd;
    border-left-color: #ddd;
    color: #FFF;
}

.form-white {
    background: #FFFFFF;
    padding-left: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-bottom-color: #aaa;
    border-right-color: #aaa;
    border-top-color: #ddd;
    border-left-color: #ddd;
    color: #000;
}

.menu {
    height: 39px;
    width: 100%;
}

.menu-content {
    background-image: url(/images/menu-middle.jpg);
    background-repeat: repeat-x;
    color: #FFFFFF;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    height: 39px;
    text-decoration: none;
    width: 980px;
}

.menu-content a:active, .menu-content a:link, .menu-content a:visited {
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding-left: 8px;
    padding-right: 8px;
    text-decoration: none;
}

.menu-content a:hover {
    color: #FED700;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding-left: 8px;
    padding-right: 8px;
    text-decoration: none;
}

.login-box {
    float: right;
    line-height: 60px;
    padding-right: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.button-red {
    background-color: #FF0000;
    border: 1px solid #990000;
    color: #FFFFFF;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 13px;
}

.button-red:active {
    background-color: #E10000;
}

.button-blue {
    background-color: #377DFC;
    border: 1px solid #377DFC;
    color: #FFFFFF;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 13px;
}

.button-blue:active {
    background-color: #1D6CFC;
}

.textbox-login {
    border: 1px solid #BDC7D8;
    font-family: arial, sans-serif;
    font-size: 12px;
    padding: 1px;
    width: 110px;
}

.text-title-01 {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.summary-text {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 22px;
}

.summary-text a:active, .summary-text a:link, .summary-text a:visited {
    color: #2C93DF;
    text-decoration: none;
}

.summary-text a:hover {
    text-decoration: underline;
}

.summary-table {
    width: 100%;
}

.summary-line {
    background-image: url(/images/line-01.jpg);
    background-position: center center;
    background-repeat: repeat-x;
    height: 15px;
}

.summary-box-expired {
    background-image: url("http://www.epoch-designs.com/bistip/css/../img/bg-box.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    border-bottom: 1px solid #999999;
    padding: 5px 0 0;
}

.text-red-01 {
    color: #FF0000;
}

.footer-text {
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.footer-text a:active, .footer-text a:link, .footer-text a:visited {
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none;
}

.footer-text a:hover {
    text-decoration: underline;
}

.text-01 {
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.text-01 a:active, .text-01 a:visited, .text-01 a:link {
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: none;
}

.text-01 a:hover {
    text-decoration: underline;
}

.smaller-text-01 {
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.smaller-text-01 a:active, .smaller-text-01 a:visited, .smaller-text-01 a:link {
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none;
}

.smaller-text-01 a:hover {
    text-decoration: underline;
}

.textbox-01 {
    border: 1px solid #BDC7D8;
    font-family: arial, sans-serif;
    font-size: 15px;
    padding: 4px;
}

.textarea-01 {
    border: 1px solid #BDC7D8;
    font-family: arial, sans-serif;
    font-size: 15px;
    padding: 4px;
}

.text-orange {
    color: #FEBF00;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.text-error {
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.text-green {
    color: #1D583C;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.text-orange-14 {
    color: #FF9900;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.text-white-14 {
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.text-white-14 a:visited, .text-white-14 a:link, .text-white-14 a:active {
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: none;
}

.text-white-14 a:hover {
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.button-register {
    background-color: #377DFC;
    border: 1px solid #377DFC;
    color: #FFFFFF;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 13px;
    padding: 3px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.button-register:active {
    background-color: #1D6CFC;
}

.content-left {
    padding-top: 10px;
    padding-left: 20px;
}

.content-middle {
    padding-top: 10px;
    padding-left: 140px;
}

.content-middle-graphic-background {
    padding-top: 10px;
    background-image: url(/images/bg-logo.jpg);
    background-position: right top;
    background-repeat: no-repeat;
    padding-left: 140px;
}

.notification{
    width: 80%;
}

.notification p{
    padding-left: 15px;
    border-bottom: 1px solid #E4E4E4;
    height: 1.7em;
}

.notification #date{
    color: #948D99;
    font-size: smaller;
}

.notification #date:after{
    content: ' : ';
}

/* trip similiarity */
.similiar{
    padding: 10px;
    padding-top: 10px;
}

.similiar fieldset{
    border-width: 0;
    
}

.similiar legend{
    clear: both;
    color: #707070;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 5px;
}

.similiar div{
    font-size: 0.9em;
    height: 19px;
}

.grey-date{
    color: #948D99;
    font-size: smaller;
}

/* notification */
#notice {
    background-color: #A4E7A0;
    border: 1px solid #A4E7A0;
}

#alert, #model_alert {
    background-color: #F0A8A8;
    border: 1px solid #F0A8A8;
}

#notice, #alert, #model_alert {
    width: 90%;
    margin: 0 auto 10px auto;
}

#notice p, #alert p, #model_alert p {
    margin-left: 20px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #000;
}

#notice a, #alert a, #model_alert a {
    text-decoration: none;
    padding: 0 3px;
}

#notice a {
    border: 1px solid #26722D;
    color: #26722D;
}

#alert a, #model_alert a {
    border: 1px solid #900;
    color: #900;
}

#notice a:hover, #alert a:hover, #model_alert a:hover {
    color: #333;
    border: 1px solid #333;
}

.buttonlink-grey a:active, .buttonlink-grey a:visited, .buttonlink-grey a:link {
    background-color: #8F8B8C;
    color: #FFF;
    font-size: 13px;
    border: 1px solid #8F8B8C;
    font-family: Tahoma, Geneva, sans-serif;
    text-decoration: none;
    padding: 0px 5px 3px 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.buttonlink-grey a:hover {
    background-color: #827F80;
}

.buttonlink-red a:active, .buttonlink-red a:visited, .buttonlink-red a:link {
    background-color: #F00;
    color: #FFF;
    font-size: 13px;
    border: 1px solid #F00;
    font-family: Tahoma, Geneva, sans-serif;
    text-decoration: none;
    padding: 0px 5px 3px 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.buttonlink-red a:hover {
    background-color: #C00;
}

.buttonlink-blue a:active, .buttonlink-blue a:visited, .buttonlink-blue a:link {
    background-color: #3e7ff5;
    color: #FFF;
    font-size: 13px;
    border: 1px solid #3e7ff5;
    font-family: Tahoma, Geneva, sans-serif;
    text-decoration: none;
    padding: 0px 5px 3px 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.buttonlink-blue a:hover {
    background-color: #06F;
}

.buttonlink-red-16 a:active, .buttonlink-red-16 a:visited, .buttonlink-red-16 a:link {
    background-color: #F00;
    color: #FFF;
    font-size: 16px;
    border: 1px solid #F00;
    font-family: Tahoma, Geneva, sans-serif;
    text-decoration: none;
    padding: 2px 5px 3px 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.buttonlink-red-16 a:hover {
    background-color: #C00;
}

.buttonlink-blue-16 a:active, .buttonlink-blue-16 a:visited, .buttonlink-blue-16 a:link {
    background-color: #3e7ff5;
    color: #FFF;
    font-size: 16px;
    border: 1px solid #3e7ff5;
    font-family: Tahoma, Geneva, sans-serif;
    text-decoration: none;
    padding: 2px 5px 3px 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.buttonlink-blue-16 a:hover {
    background-color: #06F;
}

.buttonlink-image {
    background-color: #F00;
    padding: 5px 5px 8px 5px;
    cursor: pointer;
}

.buttonlink-image a:active, .buttonlink-image a:visited, .buttonlink-image a:link {
    background-color: #F00;
    color: #FFF;
    font-size: 13px;
    border: 1px solid #900;
    font-family: Tahoma, Geneva, sans-serif;
    text-decoration: none;
    border: 0px;
}

.buttonlink-image a:hover {
    background-color: #C00;
}

.heading-text-orange {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #febf00;
}

#sub-menu {
    margin: 20px 0 15px;
    padding-left: 10px;
    padding-bottom: 25px;
    border-bottom: 1px solid #CCCCCC;
}

#sub-menu ul, #sub-menu li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#sub-menu a {
    color: #BFC2C4;
    float: left;
    font-size: 16px;
    line-height: 14px;
    margin-right: 8px;
    padding: 5px 10px;
    text-decoration: none;
}

#sub-menu span {
    float: left;
    margin-right: 8px;
    padding: 5px 10px;
}

#sub-menu .active a {
    font-weight: bold;
    color: #434D51;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    border-bottom: 1px solid #FFFFFF;
}

#sub-menu a:hover {
    color: #111111;
}

#inner-sub-menu {
    margin: 20px 0 15px;
    padding-left: 10px;
}

#inner-sub-menu ul, #inner-sub-menu li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#inner-sub-menu a {
    color: #BFC2C4;
    font-size: 16px;
    line-height: 14px;
    margin-right: 8px;
    padding: 5px 10px;
    text-decoration: none;
}

#inner-sub-menu span {
    margin-right: 8px;
    padding: 5px 10px;
}

#inner-sub-menu .active a {
    font-weight: bold;
    color: #434D51;
}

#inner-sub-menu a:hover {
    color: #111111;
}

.profile-picture {
    float: left;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #000;
    line-height: 20px;
    padding: 10px;
}

.profile-picture img {
/*    border: 1px solid hsl(48, 5%, 78%);*/
    background: hsl(0, 0%, 100%);
    padding: 3px;
    border: 1px solid hsl(0, 0%, 82%);
    border-bottom: 2px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.profile-form-table {
    float: left;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #333;
    padding: 10px;
    padding-top: 5px;
    width: 500px;
}

.table-half-page {
    float: left;
    width: 580px;
}

.table td {
    padding: 4px;
}

.table input {
    border: 1px solid #BDC7D8;
    font-family: arial, sans-serif;
    font-size: 12px;
    padding: 4px;
}

.table select {
    border: 1px solid #BDC7D8;
    font-family: arial, sans-serif;
    font-size: 12px;
    padding: 4px;
    width: 150px;
}

.pagination a {
    font-family: Arial, Helvetica, sans-serif;
}

.pagination a:active, .pagination a:link, .pagination a:visited {
    color: #2C93DF;
    text-decoration: none;
}

.pagination a:hover {
    text-decoration: underline;
}

.heading-grey {
    clear: both;
    color: #707070;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.buttonlink-grey-01 a:active, .buttonlink-grey-01 a:visited, .buttonlink-grey-01 a:link {
    background-color: #C5C5C5;
    border: 1px solid #C5C5C5;
    color: #FFFFFF;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 15px;
    padding: 0 5px 3px;
    text-decoration: none;
}

.buttonlink-grey-01 a:hover {
    background-color: #666666;
}

.line-separator-01 {
    background-color: #999999;
    clear: both;
    height: 1px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.comment {
    border-bottom: 1px solid #999999;
    clear: both;
    padding-bottom: 20px;
    padding-top: 10px;
    width: 950px;
}

.comment #comment-profile-picture {
    float: left;
    border: 1px solid #999999;
}

.comment #desc {
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding-left: 80px;
    float: right;
}

.comment-form #title {
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.comment-form textarea {
    border: 1px solid #BDC7D8;
    font-family: arial, sans-serif;
    font-size: 14px;
    padding: 4px;
}

.messages {
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 5px;
    width: 950px;
}

.messages img {
    border: 1px solid #999999;
}

.messages a:active, .messages a:link, .messages a:visited {
    color: #2C93DF;
    text-decoration: none;
}

.messages a:hover {
    text-decoration: underline;
}

.message-name {
    color: #333333;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    width: 150px;
    padding-left: 10px;

}

.message-content {
    border-left: 1px solid hsl(216, 12%, 84%);
    color: #333333;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-left: 5px;
    padding-left: 10px;
    width: 600px;
}

.conversations {
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 5px;
    width: 950px;
}

.conversations img {
    border: 1px solid #999999;
}

.conversations a:active, .conversations a:link, .conversations a:visited {
    color: #2C93DF;
    text-decoration: none;
}

.conversations a:hover {
    text-decoration: underline;
}

.conversation-name {
    color: #333333;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 5px;
}

.conversation-content {
    color: #333333;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-left: 10px;
    width: 700px;
}

.heading-grey {
    clear: both;
    color: #707070;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.message-form {
    font-family: arial, sans-serif;
    font-size: 14px;
    padding: 10px;
}

.user-medium {
    clear: both;
}

.user-medium-profile-picture {
    float: left;
    padding: 10px;
    border: 1px;
}

.user-medium-profile-picture img {
    border: 1px solid #999999;
}

.user-medium-details {
    padding-top: 20px;
    float: left;
}

.blue-link a:active, .blue-link a:link, .blue-link a:visited {
    color: #2C93DF;
    text-decoration: none;
}

.blue-link a:hover {
    text-decoration: none;
}

.grey-link a:active, .grey-link a:link, .grey-link a:visited {
    color: #707070;
    text-decoration: none;
}

.grey-link a:hover {
    text-decoration: underline;
}

.grey-link a:active, .grey-link a:link, .grey-link a:visited {
    color: #707070;
    text-decoration: none;
}

.grey-link a:hover {
    text-decoration: underline;
}

.orange-link a:active, .orange-link a:link, .orange-link a:visited {
    color: #FF9900;
    text-decoration: none;
}

.orange-link a:hover {
    text-decoration: underline;
}

.yellow-link a:active, .yellow-link a:link, .yellow-link a:visited {
    color: #EBE58E;
    text-decoration: none;
}

.yellow-link a:hover {
    text-decoration: underline;
}

.red-link a:active, .red-link a:link, .red-link a:visited {
    color: #E81348;
    text-decoration: none;
}

.red-link a:hover {
    text-decoration: underline;
}

.reputation {
    clear: both;
    padding: 10px;
}

.reputation-profile-picture {
    float: left;
    padding: 10px;
    border: 1px;
}

.reputation-profile-picture img {
    border: 1px solid #999999;
}

.reputation-details {
    padding-top: 10px;
    float: left;
    width: 600px;
}

.reputation-body {
    padding-top: 10px;
    float: left;
}

.auto-match {
/*    float: right;*/
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-top: 20px;
/*    border: 2px solid #F00;*/
}

.auto-match .link {
    text-align: center;
    padding: 10px;
}

.match {
    padding-top: 20px;
    padding-bottom: 20px;
}

.match-result {
    margin-top: 20px;
    margin-left: 20px;
}

.exception {
    background-color: #fff;
    color: #666;
    font-family: arial, sans-serif;
}

.exception .dialog {
    width: 25em;
    padding: 0 4em;
    margin: 1em auto 0 auto;
    border: 1px solid #ccc;
    border-right-color: #999;
    border-bottom-color: #999;
    text-align: center;
}

.exception h1 {
    font-size: 100%;
    color: #f00;
    line-height: 1.5em;
}

.feedback2 {
    border: medium none;
    border-collapse: collapse;
    border-spacing: 0;
    cursor: pointer;
    display: block;
    font-size: 0;
    left: 0;
    line-height: 0;
    margin: 0;
    outline: medium none;
    overflow: hidden;
    padding: 0;
    position: fixed;
    top: 25%;
    z-index: 2147000000;
}

.feedback {
    border: medium none;
    border-collapse: collapse;
    border-spacing: 0;
    cursor: pointer;
    display: block;
    font-size: 0;
    left: 0;
    line-height: 0;
    margin: 0;
    outline: medium none;
    overflow: hidden;
    padding: 0;
    position: fixed;
    top: 50%;
    z-index: 2147000000;
}

.field_with_errors {
    display: inline
}

.header01 {
    font: bold 20px/18px 'AllerRegular', Arial, sans-serif;
    letter-spacing: 0;
}

.header-sub-text {
    font: 16px 'AllerRegular', Arial, sans-serif;
    width: 400px;
    padding-top: 12px;
    padding-left: 50px;
    text-shadow: 0px 0px 1px #7e7e7e;
}

.facebook-login {
    background-color: transparent;
    display: inline;
    border: 0 none;
    cursor: pointer;
    padding: 0px;
}

.twitter-login {
    background-color: transparent;
    display: inline;
    border: 0 none;
    cursor: pointer;
}

.user-reputation img {
    border: 0px;
}

.language-switcher {
    text-align: center;
    float: left;
    padding: 5px;
    margin-left: 80px;
    color: #035088;
}

.slogan {
    font: 42px 'AllerRegular', Arial, sans-serif;
    color: #035088;
}

#tagcloud a {
    margin-left: 3px;
    margin-right: 3px;
    text-decoration: none;
}

#tagcloud a:hover {
    text-decoration: underline;
}

#tagcloud {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    margin-right: 45px;
    font: 75% Arial, "MS Trebuchet", sans-serif;
    text-align: center;
}

.top-menu {
    border-left: 1px solid;
    padding: 0 15px 0 15px;
    height: 30px;
}

.header-mid-text {
    font: bold 20px 'AllerRegular', Arial, sans-serif;
}

.awesome, .awesome:visited {
    background: #222;
    display: inline-block;
    padding: 5px 10px 6px;
    color: #fff;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.awesome:hover {
    background-color: #111;
    color: #fff;
}

.awesome:active {
    top: 1px;
}

.white.awesome, .white.awesome:visited {
    background-color: #ffffff;
}

.white.awesome:hover {
    background-color: #e1e1dd;
    text-decoration: none;
}

#searchcontrol {
    padding-top: 20px;
}

.horizontal-separator {
    background: url("/images/hor-separator-middle.png") repeat-x scroll 0 0 white;
    clear: both;
    height: 12px;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
}

.horizontal-separator2 {
    background: url("/images/hor-separator-middle.png") repeat-x scroll 0 0 white;
    clear: both;
    height: 2px;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
}

.horizontal-separator span.left {
    background: url("/images/hor-separator-left.png") no-repeat scroll 0 0 white;
    float: left;
    height: 12px;
    width: 143px;
}

.horizontal-separator span.right {
    background: url("/images/hor-separator-right.png") no-repeat scroll 0 0 white;
    float: right;
    height: 12px;
    width: 143px;
}

.more-info {
    font: 28px 'AllerRegular', Arial, sans-serif;
    color: #A6A6A6;
    padding-left: 40px;
    margin-bottom: 20px;
}

.new-text {
    font: 24px 'AllerRegular', Arial, sans-serif;
    color: #035088;
    padding-left: 80px;
}

.share_buttons {
    background: url(/images/share-icon.gif) center left no-repeat;
    background-color: hsl(0, 0%, 100%);

    border: 1px solid hsl(0, 0%, 82%);
    border-bottom: 2px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    padding-left: 50px;
}

#load_buttons_box {

    border: 1px solid hsl(0, 0%, 82%);
    border-bottom: 2px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    background-color: hsl(0, 0%, 100%);
    height: 100px;
    margin-top: 19px;
    display: none;
    padding-left: 30px;
    width: 270px;
}

.share_buttons:hover, .facebook_button:hover, .twitter_button:hover, .buzz_button:hover, .bebo_button:hover, .stumbleupon_button:hover {
    -moz-box-shadow: 1px 0.5px 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 1px 0.5px 4px rgba(0, 0, 0, 0.4);
}

.share_buttons:active{

}

.mesgbox {
    padding-left: 25px;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 20px;
    width: 200px;
    float: left
}

.close {
    border: solid #666666 1px;
    position: relative;
    vertical-align: top;
    float: left;
    width: 20px;
    margin-top: 6px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: hsl(0, 100%, 50%);
    cursor: pointer;
}

.textBox {
    height: 22px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 600;
}

.textBox label {
    cursor: pointer;
}

.new-box {
    width: 230px;
    height: 100px;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #83C0EC;
    color: #ffffff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    text-decoration: none;
}

.influencer-box {
    background:url(/images/box-influencer.png) no-repeat top;
}

.rekber-box {
    background:url(/images/box-rekber.png) no-repeat top;
}

.forum-box {
    background:url(/images/box-forum.png) no-repeat top;
}

.blog-contest-box {
    background:url(/images/box-blog-contest.png) no-repeat top;
}

.new-box-container {
    margin-top: 30px;
    margin-bottom: 30px;
}

.trending-item {
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
    font: bold 20px/18px 'AllerRegular',Arial,sans-serif;
    border: 1px solid #EEEDED;
    padding: 10px;
}

.trending-item a {
    margin-left: 3px;
    margin-right: 3px;
}

.testimonial {
    width:620px;
    float:left;
    margin:15px 0 30px 0;
}

.testimonial-heading {
    padding-bottom: 20px;
    font-family: Arial,Helvetica,sans-serif;
    font: 20px 'AllerRegular',Arial,sans-serif;
}

.left-quote {
    float:left;
    background:url(/images/quote-left.jpg) no-repeat top;
    width:68px;
    height:77px;
}

.testi-text {
    float:left;
    text-align:justify;
    width:470px;
    padding-right:65px;
    background:url(/images/quote-right.jpg) no-repeat right bottom;
    min-height: 55px;
    font-style: italic;
}

.testi-name {
    float: right;
    padding:15px 150px 0px 0;
}

.home-testimonial-instruct {
    margin-top: 10px;
    font-style: italic;
    font: 14px Arial, "MS Trebuchet", sans-serif;
    margin-left: 15px;
    margin-right: 15px;
}

.home-testimonial {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    margin-right: 45px;
    text-align:center;
}

.home-testimonial-text {
    font-style: italic;
    font-size: 14px;
    margin-left: 15px;
    margin-right: 15px;
}

.search-form label {
  display: block;
  float: left;
  line-height: 26px;
  width: 160px;
}

.search-form ul {
  list-style: none outside none;
  padding: 0px;
}

.search-form li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.search-form fieldset{
    border-width: 0px;
    padding: 0px 5px 0px 5px;
    width: 30%
}

.search-form legend{
    padding-bottom: 3px;
}

.search-form #option{
    width: 17%;
    float: left;
}

.search-form #button{
    padding-right: 5px;
    width: 81%;
    float: right;
}

.search-form .fieldset-group{
    margin-left: auto;
    margin-right: auto;
}

.new-form {
  padding-top: 20px;
}

.new-form label {
  display: block;
  float: left;
  line-height: 26px;
  width: 160px;
  text-align: right;
  padding-right: 20px;
}

.new-form ul {
  list-style: none outside none;
  padding: 0px;
}

.new-form li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.new-form .pair {
  color: #959595;
  display: inline-block;
  padding-right: 10px;
}

.new-form .item-details {
  padding-top: 10px;
  padding-bottom: 10px;
}

.new-form .pair label {
  display: block;
  float: none;
  width: auto;
  text-align: left;
}

.home-action {
  text-align: center; 
  padding-top: 20px;
  font: bold 20px/18px 'AllerRegular',Arial,sans-serif;
}

.reputation-action {
  padding-top: 10px;
  padding-bottom: 20px;
}

.member-since {
  color: #BFC2C4;
  font: italic 12px 'AllerRegular',Arial,sans-serif;
  padding-left: 20px;
}

.panel-blue{
    background-color: hsl(200, 69%, 97%);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-bottom-color: #aaa;
    border-right-color: #aaa;
    border-top-color: #ddd;
    border-left-color: #ddd;
}

.registered-box {
    background: #F2F9FC;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-bottom-color: #aaa;
    border-right-color: #aaa;
    border-top-color: #ddd;
    border-left-color: #ddd;
    margin-top: 20px;
    margin-right: 20px;
    padding: 10px;
}

.registered-header {
    font: 16px 'AllerRegular', Arial, sans-serif;
    letter-spacing: 0;
    padding-bottom: 10px;
}

.registered-indent {
    padding-left: 18px;
}

a.user-reminder {
    padding-left: 30px;
    padding-top: 5px;
    background: transparent url(/images/excl.png) no-repeat bottom left;
}

#item-name {
  width: 260px;
}

#item-tip {
  width: 160px;
}

.panel-darker-blue{
    background-color: #CAE7F2;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-bottom-color: #aaa;
    border-right-color: #aaa;
    border-top-color: #ddd;
    border-left-color: #ddd;
}
