<div style="font: normal 14px Helvetica, Arial, sans-serif; line-height: 19px; color: #333;">
  <%= @giver.username %> gave you a positive reputation <%= l(@created) %>
  <blockquote>
    <strong><i>&quot;<%= @content %>&quot;</i></strong>
  </blockquote>
  You can view the reputation through the link below:
  <br/>
  <%= auto_link(user_positive_reputations_url(@receiver)) %>
</div>