<% page_title t('search_seek.index.label.heading') %>
<div class="content-left text-01">
  <div class="table-half-page">
    <div style="padding-bottom: 10px;" class="heading-text-orange"><%= t('search_seek.index.label.heading') %></div>
    <table width="100%" cellspacing="0" cellpadding="5" border="0" align="center" class="text-01">
      <tbody>
        <tr>
          <td colspan="3"><b><%= t('search_seek.index.label.intro') %></b></td>
        </tr>
        <tr>
          <td width="33%">
            <%= location_auto_complete_js 'origin' %>
            <%= t('seek.field.label.origin') %>
          </td>
          <td width="3%">&nbsp;</td>
          <td width="64%">
            <%= text_field_tag 'origin', params[:origin], :size => 30, :class => 'textbox-01' %>
          </td>
        </tr>
        <tr>
          <td>
            <%= location_auto_complete_js 'destination' %>
            <%= t('seek.field.label.destination') %>
          </td>
          <td>&nbsp;</td>
          <td>
            <%= text_field_tag 'destination', params[:destination], :size => 30, :class => 'textbox-01' %>
          </td>
        </tr>
        <tr>
          <td><%= t('search_seek.index.label.notes') %></td>
          <td>&nbsp;</td>
          <td>
            <%= text_field_tag 'notes', params[:notes], :size => 30, :class => 'textbox-01' %>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td align="left">
            <div style="padding-top: 4px;" class="buttonlink-blue">
              <a href="javascript:buildSearchSeekURL()">Search</a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="table-half-page">
    <div style="text-align: left; padding-bottom: 10px;" class="heading-text-orange"><%= t('search_seek.index.label.result') %></div>
    <div id="seeks">
      <% if @seeks.size > 0 %>
        <% for seek in @seeks %>
          <%= render 'shared/seek_summary', :locals => {:seek => seek, :show_description => true} %>
        <% end %>
      <% else %>
        <%= t('search_seek.index.label.no_result') %>
      <% end %>
    </div>
    <div style="text-align: center">
        <%= will_paginate(@seeks, :renderer => TwitterPagination::LinkRenderer, :id => 'seeks_pagination') %>
      </div>
  </div>
</div>