*{
	margin:0;
	padding:0;
}

body{
	font-size:13px;
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-family:Corbel,'Myriad Pro',Arial, Helvetica, sans-serif;
}

#page{
	width:100%;
	margin:5px auto;
}

#headingSection2{
    padding-left:15px;
	background-color:#fff;
	position:relative;
	border:1px solid #045189;
	border-bottom:none;
}

#headSection{
    padding-left:15px;
	background-color:#fff;
	position:relative;
	border:1px solid #ffffff;
	border-bottom:none;
}

#headingSection{
    padding-left:15px;
	background-color:#045189;
	position:relative;
	border:1px solid #045189;
	border-bottom:none;
}

#faqSection{
    padding:15px 15px 15px 15px;
	border:1px solid #045189;
	text-shadow:1px 1px 0 white;
}

h1{
	color:#fff;
	font-size:20px;
	font-weight:normal;
}

dt{
	font-size:18px;
	margin-top:30px;

	position:relative;
	border:1px solid transparent;
}

/*dt:hover{ color:#5f6a73;} */

dt .icon{
	height:12px;
	left:0;
	position:absolute;
	top:11px;
	width:12px;
}

dt.opened .icon{ background-position:left bottom;}

dd{
	font-size:12px;
	color:#444444;
	line-height:1.5;
	width:100%;
	display:none;
}


/* Only Needed For The Demo Page */


p.createdBy{
	font-size:15px;
	font-weight:normal;
	margin:50px;
	text-align:center;
	text-shadow:none;
}

a, a:visited {
	text-decoration:none;
	outline:none;
	color: #2C93DF;
}

a:hover{
	border-bottom:1px dashed transparent;
}