<h4><%= t('comment.index.heading') %>&nbsp;<span class="counter"><%=@trip.comments.size%></span></h4>
<% if @trcomments.size > 0 %>
  <div id="paginationData">
    <% for comment in @trcomments %>
      <%= render "trip_comments/trip_comment", :locals => {:comment => comment} %>
    <% end %>
  </div>
  <div>
    <%= get_will_paginate @trcomments %>
  </div>
<% else %>
  <br/>
  <p><%= t('comment.index.no_comment') %></p>
<% end %>
<%= render 'trip_comments/trip_new_comment' %>
