<% page_title t('trip.similar.label.heading') %>
<div class="col12">
  <h5 class="navBack">
    <%= link_to t('general.link_return'), :back %>
  </h5>
</div>
<div class="col8 bgLightYellow defaultRound">
  <h3 class="textBlack"><%= t('trip.show.label.heading') %></h3>
  <div class="info">
    <div class="infoBlock defaultRound">
      <%= render 'shared/trip_data', :locals => {:trip => @trip} %>
    </div>
  </div>
</div>
<br clear="all"/>
<div id="matchList">
  <div class="col8 bgLightYellow defaultRound">
    <h4 class="textBlack"><%= t('trip.similar.label.heading') %> <span class="counter"><%= @similar_trips.count %></span></h4>
    <div id="searchResults">
      <% for similar in @similar_trips %>
        <%= render 'shared/trip_summary', :locals => {:trip => similar} %>
      <% end %>
    </div>
  </div>
</div>
<br clear="all"/>
<div class="col12">
  <h5 class="navBack">
    <%= link_to t('general.link_return'), :back %>
  </h5>
</div>

