<% page_title t('contact_us.new.heading') %>
<div class="content-middle-graphic-background text-01">
  <div class="contact-us">
    <%= form_tag(:action => 'create', :controller => 'contact_us') do %>
    <table cellspacing="1" cellpadding="1" border="0" class="text-01" width="100%">
        <tbody>
          <tr>
            <td class="page-heading"><%= t('contact_us.new.heading') %></td>
          </tr>
          <% unless logged_in? %>
            <tr>
              <td><%= t('contact_us.new.label.name') %></td>
            </tr>
            <tr>
              <td><%= text_field_tag :name, params[:name], :class => 'textbox-01' %></td>
            </tr>
          <% end %>
          <% unless logged_in? %>
            <tr>
              <td><%= t('contact_us.new.label.email') %></td>
            </tr>
            <tr>
              <td><%= text_field_tag :email, params[:email], :class => 'textbox-01' %></td>
            </tr>
          <% end %>
          <tr>
            <td><%= t('contact_us.new.label.subject') %></td>
          </tr>
          <tr>
            <td><%= text_field_tag :subject, params[:subject], :class => 'textbox-01' %></td>
          </tr>
          <tr>
            <td><%= t('contact_us.new.label.body') %></td>
          </tr>
          <tr>
            <td>
              <%= enable_character_counter('body', 800) %>
              <%= text_area_tag :body, params[:body], :rows => 8, :class => 'textarea-01' %>
            </td>
          </tr>
          
        <tr>
          <td>
            <%= submit_tag t('button.submit'), :class => 'button-register' %> / <%= link_to t('button.cancel'), root_path %>
          </td>
        </tr>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
