<%= form_for(@review.becomes(Review)) do |f| %>
  <%= hidden_field_tag :user, @user.username %>
  <%= f.hidden_field :invitation, :value => @review.invitation %>
  <%= f.hidden_field :message_id, :value => @review.message_id %>
  <h4>
    <%= radio_button_tag 'type', 'PositiveReview', @review.class == PositiveReview %>&nbsp;<%= image_tag 'icon-thumbs-up.png' %> <span class="textGreen"><%= t('review.new.label.positive') %></span>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= radio_button_tag 'type', 'NegativeReview', @review.class == NegativeReview %>&nbsp;<%= image_tag 'icon-thumbs-down.png' %> <span class="textRed"><%= t('review.new.label.negative') %></span>
  </h4>
  <p>
    <label><%= t('review.field.label.body') %></label>
    <%= enable_character_counter('review_body', Review::BODY_MAXIMUM_LENGTH) %>
    <%= f.text_area :body, :rows => 7, :cols => 60, :class => 'textarea-01'%>
  </p>
  <p>
    <%= f.submit t('button.send'), :class => 'defaultButton' %><%= link_to t('button.cancel'), :back, :class => 'cancelLink' %>
  </p>
<% end %>
