<% page_title t('notification.link.notification') %>
<div id="viewNotifications">
  <div class="col4">
    <h2><%= t 'notification.heading' %></h2>
  </div>
  <div class="col4">
    <div id="notifications">
      <% if @notifications.size > 0 %>
        <% @notifications.each do |notification| %>
          <%= render 'notification', :locals => {:notification => notification} %>
        <% end %>
      <% else %>
        <div class="notificationBar yellow"><%= t('notification.index.no_result') %></div>
      <% end %>
    </div>
    <div class="paginationMorePlaceholder">
      <%= get_will_paginate(@notifications) %>
    </div>
  </div>
</div>

