<%= form_for(@trip) do |f| %>
  <table width="650" cellspacing="0" cellpadding="5" border="0" class="text-01">
    <tbody>
      <tr>
        <td style="width: 150px">&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2"><b><%= t('trip.new.label.intro') %></b></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><%= t('trip.field.label.origin') %></td>
        <td>
          <%= location_auto_complete_js 'trip_origin_location', true %>
          <%= f.text_field :origin_location, :class => 'textbox-01' %>
        </td>
      </tr>
      <tr>
        <td><%= t('trip.field.label.destination') %></td>
        <td>
          <%= location_auto_complete_js 'trip_destination_location', true %>
          <%= f.text_field :destination_location, :class => 'textbox-01' %>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><%= render 'shared/new_location_contact_us' %></td>
      </tr>
      <tr>
        <td style="vertical-align: top"><%= t('trip.field.label.departure_date') %></td>
        <td>
          <%= date_picker_js 'trip_departure_date' %>
          <% departure_date = l(@trip.departure_date) unless @trip.departure_date.nil? %>
          <%= f.text_field :departure_date, :value => departure_date, :readonly => "readonly", :class => 'textbox-01' %>
          <%= render_link_to_clear_a_field('trip_departure_date') %>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top"><%= t('trip.field.label.arrival_date') %></td>
        <td>
          <%= date_picker_js 'trip_arrival_date' %>
          <% arrival_date = l(@trip.arrival_date) unless @trip.arrival_date.nil? %>
          <div><i><%= t('trip.new.label.arrival_date_help') %> </i></div>
          <br/>
          <%= f.text_field :arrival_date, :value => arrival_date, :readonly => "readonly", :class => 'textbox-01' %>
          <%= render_link_to_clear_a_field('trip_arrival_date') %>
        </td>
      </tr>
      <tr>
        <td><%= t('trip.field.label.notes') %></td>
        <td>
          <%= enable_character_counter('trip_notes',Trip::NOTES_MAXIMUM_LENGTH) %>
          <%= f.text_area :notes, :rows => 8, :cols => 40, :class => 'textarea-01' %>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>
          <%= f.submit t('button.submit'), :class => 'button-register' %> / <%= link_to t('button.cancel'), locals[:cancel_path] %>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>
<% end %>
