<% page_title t('trip.match.label.heading') %>
<div class="text-01">
  <div style="padding-bottom: 5px" class="blue-link"><%= link_to t('trip.show.link_return'), trip_path(@trip) %></div>
  <div class="page-heading"><%= t('trip.match.label.heading') %></div>
  <div>
    <table width="100%" cellspacing="1" cellpadding="1" border="0">
      <tbody>
        <tr>
          <td><%= t('trip.field.label.origin')%></td>
          <td>:</td>
          <td><%= render 'shared/city', :locals => {:city => @trip.origin_city} %></td>
        </tr>
        <tr>
          <td><%= t('trip.field.label.destination')%></td>
          <td>:</td>
          <td><%= render 'shared/city', :locals => {:city => @trip.destination_city} %></td>
        </tr>
        <tr>
          <td><%= t('mobile.trip.field.departure_date')%></td>
          <td>:</td>
          <td><%= l(@trip.departure_date) %></td>
        </tr>
        <% unless @trip.arrival_date.nil? %>
        <tr>
          <td><%= t('mobile.trip.field.arrival_date')%></td>
          <td>:</td>
          <td><%= l(@trip.arrival_date)%></td>
        </tr>
        <% end %>
        <% unless string_nil_or_empty?(@trip.notes) %>
        <tr>
          <td valign="top"><%= t('trip.field.label.notes')%></td>
          <td valign="top">:</td>
          <td><%=auto_link_in_new_tab @trip.notes %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br/>
  <div class="page-heading"><%= t('trip.match.label.result', :count => @matches.count) %></div>
  <div>
    <% for match in @matches %>
      <%= render 'shared/seek_summary', :locals => {:seek => match} %>
    <% end %>
  </div>
  <div style="padding-top: 5px" class="blue-link"><%= link_to t('trip.show.link_return'), trip_path(@trip) %></div>
</div>
