<% page_title t('trip.new.label.heading') %>
<div class="content-left">
  <div class="text-orange"><%= t('trip.new.label.heading') %></div>
  <%= render 'form', :locals => {:cancel_path => root_path}%>
</div>