<% trip = locals[:trip] %>
<% user = trip.user %>
<% color = locals[:color] %>
<% color = 'bgLightYellow' if color.nil? %>
<% show_route = locals[:show_route] %>
<% show_route = true if show_route.nil? %>
<% show_user = locals[:show_user] %>
<% show_user = true if show_user.nil? %>
<%= link_to trip_path(trip), :class => 'divlink' do %>
  <div class="miniRow <%= color %>">
    <div class="info">
      <p>
        <% if show_user %>
          <span class="iconUser"><strong><%= user.username %></strong></span>
          <br/>
        <% end %>
        <% if show_route %>
          <span class="iconRoute">
            <%= generate_country_image_tag(trip.origin_city.country) %>
            <strong><%= trip.origin_city.name %></strong> <span class="dashArrow">-</span>
            <%= generate_country_image_tag(trip.destination_city.country) %>
            <strong><%= trip.destination_city.name %></strong>
          </span>
          <br/>
        <% end %>
        <span class="iconDate">
          <% if trip.routine %>
            <strong><%= t("week_period.#{trip.period}")%></strong>
          <% else %>
            <strong><%= l(trip.departure_date) %></strong>
          <% end %>
        </span>
        <br/>
        <% unless trip.items.blank? %>
          <span class="iconShopping"><%= trip.items_name_for_display %></span>
        <% end %>
      </p>
    </div>
  </div>
<% end %>
