<% user = locals[:user] %>
<span class="thumbUp"><%= user.received_positive_reputations.count%>&nbsp;<%= image_tag "icon-thumbs-up.png", :size => "10x14" %></span>
<span class="thumbDown"><%= user.received_negative_reputations.count%>&nbsp;<%= image_tag "icon-thumbs-down.png", :size => "10x14" %></span>
<br/>