<% page_title t('affiliate.login.label.heading') %>
<div id="affiliateLogin">
  <div class="col4">
    <h2><%= t('affiliate.login.label.heading') %><%= render('shared/protected') %></h2>
  </div>
  <div class="col4 bgLightYellow defaultRound">
    <%= form_tag affiliate_dashboard_login_create_path do %>
      <p>
        <label><%=  t('affiliate.login.label.email') %></label>
        <%= text_field_tag :email, params[:email] %>
      </p>
      <p>
        <label><%= t('affiliate.login.label.password') %></label>
        <%= password_field_tag :password, nil %>
      </p>
      <p>
        <label>&nbsp;</label>
        <%= submit_tag t('login.link'), :class => 'defaultButton' %>
      </p>
    <% end %>
  </div>
</div>
