<div id="paginationData">
  <% if @suggested_items.size > 0 %>
    <% @suggested_items.each do |suggested_item| %>
      <% if params[:keyword] %>
        <%= render 'suggested_items/summary', :locals => {:suggested_item => suggested_item, :keyword_specified => true, :ref => TrackLink.generate(request.path,TrackLink::SRC_IT)} %>
      <% else %>
        <%= render 'suggested_items/summary', :locals => {:suggested_item => suggested_item, :ref => TrackLink.generate(request.path,TrackLink::SRC_IT) } %>
      <% end %>
    <% end %>
  <% else %>
    <div class="notificationBar yellow"><%= t('search_item.index.label.no_result') %></div>
    <h4 class="textBlack"><%= raw t('search_item.index.label.no_result_instruction') %></h4>
    <br/>
    <p>
      <%= link_to t('point_logs.widget.suggested_item.call_action_no_location'), new_suggested_item_path, :class => 'btnAction' %>
    </p>
  <% end %>
    <div>
      <%= get_will_paginate(@suggested_items) %>
    </div>
</div>