<ul id="sub-menu">
  <%= render_sub_menu_link t('search_trip.link'), {:controller => 'search_trip', :action => "index"} %>
  <%= render_sub_menu_link t('search_seek.link'), {:controller => 'search_seek', :action => "index"} %>
  <%= render_sub_menu_link t('search_user.link'), {:controller => 'search_user', :action => "index"} %>
</ul>
