<% page_title t('login.label.heading') %>
<%= form_tag session_path do %>
  <table cellspacing="0" cellpadding="1" border="0" class="text-01">
    <tbody>
      <tr>
        <td><span class="page-heading"><%= t('login.label.heading') %></span></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><%=  t('login.label.email_or_username') %></td>
      </tr>
      <tr>
        <td><%= text_field_tag :email_or_username, nil, :class => 'textbox-01' %></td>
      </tr>
      <tr>
        <td><%= t('login.label.password') %></td>
      </tr>
      <tr>
        <td><%= password_field_tag :password, nil, :class => 'textbox-01' %></td>
      </tr>
      <tr>
        <td>
          <%= submit_tag t('button.submit'), :class => 'button-register' %> / <%= link_to t('button.cancel'), root_path %>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>
          <span class="blue-link"><%= link_to t('password.forgot.link'), reset_password_path %></span>
          <span style="width: 70px; vertical-align: top" class="buttonlink-red">
            <%= link_to t('layout.link.register'), new_user_path %>
          </span>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>
<% end %>