<div class="reputation-from">
  <%= form_for([@user, PositiveReputation.new]) do |f| %>
    <table cellspacing="1" cellpadding="2" border="0" class="text-01">
      <tr>
        <td><%= t('reputation.label.receiver') %>: <%= @user.username %></td>
      </tr>
      <tr>
        <td valign="top"><%= t('reputation.field.label.body') %></td>
      </tr>
      <tr>
        <td>
          <%= enable_character_counter('positive_reputation_body', PositiveReputation::BODY_MAXIMUM_LENGTH) %>
          <%= f.text_area :body, :rows => 7, :cols => 60, :class => 'textarea-01'%>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><%= f.submit t('button.submit'), :class => 'button-register' %> / <%= link_to t('button.cancel'), profile_path(@user.username) %></td>
      </tr>
    </table>
  <% end %>
</div>
