<div class="col4">
  <h4><%= t('influencer.field.label.point')%></h4><br/>
  <div id="influencerPoint" class="dashboardPlc bgLightYellow defaultRound">
    <% if @data.size > 0 %>
      <% @data.each do |inf| %>
        <% trip =  Trip.find(inf[0]) %>
        <% user = trip.user %>
        <% point = inf[1] %>
        <%= link_to  trip_path(trip), :class => "infoBlockLink" do %>
        <div class="infoBlock defaultRound mid">
          <div class="right defaultRound">
            <%= render 'shared/trip_data', :locals => {:trip => trip, :item_count => TripItem::SUMMARY_COUNT} %>
          </div>
          <div class="pointDisplay bgYellow defaultRound">
            <%= point %><span>&nbsp;<%= t('influencer.field.label.point') %></span>
          </div>
        </div>
        <% end %>
      <% end %>
    <% else %>
      <div class="notificationBar yellow"><%= t('influencer.label.not_found_shared_trip') %></div>
    <% end %>
  </div>
  <div style="text-align: center">
    <%=  will_paginate @data %>
  </div>
</div>
