<% page_title t('user.new.label.heading') %>
<div id="registration">
  <div class="col4">
    <h2><%= t('user.new.label.heading') %><%= render('shared/protected') %></h2>
    <%= image_tag 'demoasia-2012-logo.png' %>
    <h4>Get free 100 Bistip Point!</h4>
  </div>
  <div class="col4 bgYellow defaultRound">
    <%= form_for(@user, :url => {:controller => "users", :action => 'create_demo'}, :html => { :multipart => true }) do |f| %>
      <p>
        <label><%= t('user.field.label.email') %></label>
        <%= f.text_field :email %>
      </p>
      <p>
        <label><%= t('user.field.label.username') %></label>
        <%= f.text_field :username %>
      </p>
      <p>
        <label><%= t('user.field.label.fullname') %></label>
        <%= f.text_field :fullname %>
      </p>
      <p>
        <label><%= t('user.field.label.city') %></label>
        <%= location_auto_complete_js 'user_city_location', true %>
        <%= f.text_field :city_location %>
      </p>
      <p>
        <label><%= t('user.field.label.password') %></label>
        <%= f.password_field :password %>
      </p>
      <p>
        <%= raw t('user.field.label.eula',
            :terms_of_service => link_to(t('content.link.terms_of_service'), terms_of_service_path, :target => '_blank'),
            :privacy_policy => link_to(t('content.link.privacy_policy'), privacy_policy_path, :target => '_blank')) %>
      </p>
      <p>
        <label></label>
        <%= f.submit t('button.register'), :class => 'defaultButton' %>
      </p>
    <% end %>
  </div>
</div>

