<% city = locals[:city] %>
<% country = city.country %>
<% display_name = country.code == Country::CONTINENT_CODE ? country.name : city.name %>
<% display_name = display_name[0,8] + '..' if display_name.length > 8 and locals[:short_name] %>
<strong><%= display_name %></strong>
