<% notification = locals[:notification] %>
<% sender = notification.sender %>
<div class="notificationRow">
  <div class="avatar">
    <% if notification.from_admin? %>
      <%= image_tag 'transaction-avatar.png', :align => 'center', :class => 'photo', :width => 48, :height => 48 %>
    <% else %>
      <%= image_tag sender.avatar.url(:thumb), :align => 'center', :class => 'photo', :width => 48, :height => 48 %>
    <% end %>
  </div>
  <div class="message">
    <h5>
      <span class="date"><%= l(notification.created_at) %></span>
    </h5>
    <p><%= raw notification.to_link(current_user) %></p>
  </div>
</div>
