<div id="redirectIndonesiaBankTransfer">
  <div class="col4 bgLightYellow defaultRound middle">
    <h3 class="textBlack alignCenter"><%= t('escrow.redirect_indonesia_bank_transfer.label.intro') %></h3>
    <p class="alignCenter">
      <%= image_tag 'bca.png' %>
    </p>
    <br/>
    <div class="largerText">
      <%= render 'bank_transfer_widget', :locals => {:escrow => @escrow} %>
    </div>
    <p class="alignCenter">
      <%= link_to t('escrow.redirect_indonesia_bank_transfer.label.back'), user_message_path(current_user, @escrow.message.id), :class => 'btnAction' %>
    </p>
  </div>
</div>