<% page_title t('content.link.how') %>
<div class="text-01 blue-link">
  <h2><%= t('content.link.how') %></h2>
  <ul>
    <li>
      <h3>Istilah di bistip.com<br>
      </h3>
    </li>
  </ul>
  <p>Yang perlu kamu ketahui, ada dua istilah yang mungkin baru pernah
    kamu dengar yaitu :</p>

  <p><i>- Bistiper</i></p>

  <p>Arti : pengguna yang bisa dititipi barang</p>

  <p><i>- Wanted Bistiper</i></p>

  <p>Arti : pengguna yang mencari orang yang bisa dititipi</p>
  <ul>
    <li>
      <h3>Menu di web bistip.com<br>
      </h3>
    </li>
  </ul>
  <p>Di menu utama, ada beberapa hal penting yang perlu kamu pahami yaitu
    :</p>

  <p><i>- Post Rute Jalan</i></p>

  <p>Kamu ingin jadi Bistiper (orang yang mau bawa titipan barang). Sebelum perjalanan, masukkan rute jalan kamu disini supaya bisa dititipin.
  </p>

  <p><i>- Post Wanted Bistiper</i></p>

  <p>Di menu ini kamu bisa memasukkan rute jalan yang kamu cari (seperti <i>ASK</i>). Contohnya seperti ini:</p>
  <pre>- Kamu ingin membeli sesuatu dari kota Batam tetapi tidak ketemu<br> rute yang kamu mau di menu Cari Bistiper.<br> (misal: Batam - Jakarta)<br>- Gunanya menu ini adalah kamu bisa melakukan "permintaan" bahwa<br> kamu pingin titip barang dari Batam ke Jakarta.</pre>
  <p><i>- Cari Bistiper</i></p>

  <p>Di menu kamu dapat mencari orang yang bisa dititipin. Contohnya:</p>
  <pre>- Kamu mau beli barang dari Singapore yang belum ada di Jakarta<br>- Jadi kamu tinggal masukkan lokasi dari Singapore ke Jakarta<br>dan juga masukkan tanggal yang kamu mau, lalu klik Search<br>- Setelah menemukan bistiper yang sesuai, kamu bisa komentar di<br> Thread nya dia atau kirim pesan pribadi.<br>- Jika tidak menemukan ada bistiper sesuai yang kamu mau, post aja sebagai<br>Wanted Bistiper<br></pre>
  <p><i>- Cari Wanted Bistiper</i></p>

  <p>Kamu akan pergi dari Bandung ke Jakarta dan mau bawa titipan. Disini kamu bisa cari siapa yang mau nitip dari Bandung ke Jakarta.</p>

  <ul>
    <li>
      <h3>Ilustrasi cara kerja bistip.com<br>
      </h3>
    </li>
  </ul>
  <%= image_tag 'instruct.gif' %>
  <p><i>*Untuk tips dalam penggunaan bistip.com , silakan menuju ke <%= link_to 'Tips & Tata Cara', guide_path %> </i>
  </p>
</div>
