<h4 class="textBlack"><%= t('payout_method.indonesia_bank_transfer') %></h4>
<br/>
<p>
  <label><%= t('payout_method.new.label.bank_name') %> </label>
  <%= payout_method.bank_name %>
</p>
<p>
  <label><%= t('payout_method.new.label.branch') %> </label>
  <%= payout_method.branch %>
</p>
<p>
  <label><%= t('payout_method.new.label.account_name') %> </label>
  <%= payout_method.account_name %>
</p>
<p>
  <label><%= t('payout_method.new.label.account_number') %> </label>
  <%= payout_method.account_number %>
</p>