<div style="font: normal 14px Helvetica, Arial, sans-serif; line-height: 19px; color: #333;">
  <%= @message.sender.username %> sent you a message on <%= l(@message.created_at) %> :
  <blockquote>
    <strong><i><%= simple_format @message.body %></i></strong>
  </blockquote>
  <% if @message.has_asset? %>
    <br/>
    This message has <%= @message.assets.count %> picture attachment(s).
    <br/>
  <% end %>
  <br/>
  <b>QuickMessage!</b> <a href="<%= "mailto:#{@reply_addr}" %>">Reply this email</a> to send a message to <%= @message.sender.username %>. You can also attach up to 3 pictures.
  <br/>
  <br/>
  Or view the conversation and reply through the link below:
  <br/>
  <%= auto_link(user_message_url(@user, @message, :anchor => @message.internal_link_id)) %>
</div>