<div style="font: normal 14px Helvetica, Arial, sans-serif; line-height: 19px; color: #333;">
  <%= @giver.username %> gave you review on <%= l(@created) %>
  <blockquote>
    <strong><i><%= simple_format @content %></i></strong>
  </blockquote>
  <% unless @review.reply_exist? and @review.invitation? %>
    You can use below link to give back <%= @giver.username %> a recommendation:
    <br/>
    <%= auto_link(new_user_review_url(@review.giver_id, :invitation => true)) %>
  <% end %>
</div>