<% page_title t('api.index.label.heading') %>
<div class="text-01">
  <span class="heading-grey">No Authentication API</span><br/><br/>
  <p>This is read-only API, no user authentication</p>
  <div class="content-left">
    <fieldset class="panel-blue">
      <legend class="api-title">GET /api/v1/trips.format</legend>
      <p class="api-content">
        To obtain list of trips from specify origin location to destination location in json/xml format.
      <br/><br/>
      <span class="api-url-label">Resource URL : </span>
      <span class="api-url">
        bistip.com/api/v1/trips.format
      </span>
      </p>
      <div class="api-content">
        <p class="header01">parameter :</p>
        <table cellpadding="0" cellspacing="0" width="600px" style="border: solid 1px lightgray; padding: 5px 5px 5px 5px; background-color: white;">
          <tr>
            <td style="width: 20%;"><span><b>from</b></span><br/><span class="api-param-option">required</span></td>
            <td valign="top">
              specify name of origin city location of trip, either (from) <b>and/or</b> (to) parameter is required for this method.
              This parameter accept value in <b>&lt;city_name&gt;</b> or <b>&lt;city_name&gt;,&lt;country_name&gt;</b>.
            </td>
          </tr>
          <tr>
            <td colspan="2"><div class="summary-line">&nbsp;</div></td>
          </tr>
          <tr>
            <td><span><b>to</b></span><br/><span class="api-param-option">required</span></td>
            <td valign="top">destination city location</td>
          </tr>
          <tr>
            <td colspan="2"><div class="summary-line">&nbsp;</div></td>
          </tr>
          <tr>
            <td><span><b>page</b></span><br/><span class="api-param-option">optional</span></td>
            <td valign="top">default 1, result position index</td>
          </tr>
          <tr>
            <td colspan="2"><div class="summary-line">&nbsp;</div></td>
          </tr>
          <tr>
            <td><span><b>per_page</b></span><br/><span class="api-param-option">optional</span></td>
            <td valign="top">default 10, maximum number of result</td>
          </tr>
        </table>
      </div>
    </fieldset>
    <br/>
    <fieldset class="panel-blue">
      <legend class="api-title">GET /api/v1/seeks.[format]</legend>
      <p class="api-content">
        To obtain list of wanted bistiper from specify origin location to destination location in json/xml format.
        <br/><br/>
      <span class="api-url">
        bistip.com/api/v1/seeks.format
      </span>
      </p>
      <p class="api-content">
        <span>specification :</span>
      <ul>
        <li><b>request-path :</b> /api/v1/seeks/from/:origin/to/:destination(.:format)</li>
        <li><b>:origin :</b>  origin city location</li>
        <li><b>:destination :</b> destination city location</li>
        <li><b>:format :</b> return value serialization in XML or JSON</li>
      </ul>
      </p>
      <p class="api-content">
        <span>parameter :</span>
      <ul>
        <li><b>page :</b> optional, default 1, result position index</li>
        <li><b>per_page :</b> optional, default 10, maximum number of result</li>
      </ul>
      </p>
    </fieldset>
    <br/>
    <%#*<fieldset class="panel-blue">%>
      <%#*<legend class="api-title">GET /api/v1/people/:keyword(.:format)</legend>%>
      <%#*<p class="api-content">%>
        <%#*To obtain list of user in bistip by specify name or username in json/xml format.<br/><br/>%>
      <%#*<span class="api-url">%>
        <%#*bistip.com/api/v1/people/:keyword.:format%>
      <%#*</span>%>
      <%#*</p>%>
      <%#*<p class="api-content">%>
        <%#*<span>specification :</span>%>
      <%#*<ul>%>
        <%#*<li><b>request-path :</b> /api/v1/people/:keyword(.:format)</li>%>
        <%#*<li><b>:keyword :</b>  name or username</li>%>
        <%#*<li><b>:format :</b> return value serialization in XML or JSON</li>%>
      <%#*</ul>%>
      <%#*</p>%>
      <%#*<p class="api-content">%>
        <%#*<span>parameter :</span>%>
      <%#*<ul>%>
        <%#*<li><b>page :</b> optional, default 1, result position index</li>%>
        <%#*<li><b>per_page :</b> optional, default 10, maximum number of result</li>%>
      <%#*</ul>%>
      <%#*</p>%>
    <%#*</fieldset>%>
  </div>
</div>