<% insurance = locals[:insurance] %>
<h4><%= t('insurance.widget.label.heading') %></h4>
<%= render 'shared/insurance_info', :locals => {:insurance => insurance} %>
<div class="actions">
  <%= render "insurances/#{insurance.current_state}_state", :locals => {:insurance => insurance} %>
</div>
<br/>
<p>
  <%= link_to t('insurance.widget.label.problem'), new_user_message_path(:user_id => 1) %>
</p>
