<% page_title t('dashboard.index.title') %>
<div id="dashboard">
  <%= render 'reminder' %>
  <%= render 'menu' %>
  <div class="col9">
    <% if @incoming_trips.size > 0 %>
      <div class="dashboardPlc bgLightYellow defaultRound defaultShadow">
        <h4 class="textBlack"><%= "#{t('dashboard.label.incoming_bistiper')} (#{current_user.city_location})" %></h4>
        <div id="searchResults" class="dashboard">
          <%= render 'shared/incoming_trips', :locals => {:incoming_trips => @incoming_trips, :count => @incoming_trips_count} %>
        </div>
      </div>
      <br/>
    <% end %>
    <%= render 'shared/point_widget' %>
    <% if @trips.size > 0 %>
      <div class="dashboardPlc bgLightYellow defaultRound defaultShadow">
        <h4 class="textBlack"><%= t('influencer.label.dashboard_description') %></h4>
        <br/>
        <%= slider_js %>
        <ul id="bistiperScroll">
          <% for trip in @trips %>
            <%= render 'shared/trip_summary_dashboard', :locals => {:trip => trip} %>
          <% end %>
        </ul>
      </div>
      <br/>
    <% end %>
  </div>
</div>
