<% page_title t('dashboard.link.stories') %>
<div id="dashboard">
  <%= render 'reminder' %>
  <%= render 'menu' %>
  <div class="col9">
    <h4 class="textBlack">
      <%= raw t('stories.index.description', :href => link_to(t('stories.index.submit'), new_story_path, :class => 'btnAction')) %>
    </h4>
    <br/>
    <br/>
    <div id="story">
      <% unless @stories.blank? %>
        <% @stories.each do |story| %>
          <%= render 'stories/story', :story => story %>
        <% end %>
      <% else %>
        <div class="notificationBar yellow"><%= t('stories.dashboard.index.no_result') %> </div>
      <% end %>
    </div>
  </div>
</div>