<tr>
  <td><%= seek.id %></td>
  <td><%= seek.origin_location %></td>
  <td><%= seek.destination_location %></td>
  <td><%= l(seek.departure_date) unless seek.departure_date.nil? %></td>
  <td><%= seek.departure_date_predicate %></td>
  <td><%= link_to t('seek.show.link'), seek %></td>
  <td><%= link_to t('seek.edit.link_short'), edit_seek_path(seek) %></td>
  <td><%= link_to t('seek.destroy.link_short'), seek, :confirm => 'Are you sure?', :method => :delete %></td>
</tr>

