<% review_exist = session[:review] ? true : false %>
<% review = session[:review] ? session[:review] : PositiveReview.new %>
<% session[:review] = nil %>
<% if current_user.eql?(escrow.buyer) %>
  <br/>
  <p style="<%= 'display: none' if review_exist %>">
    <%= link_to t('escrow.actions.seller_got_item.buyer_received_item'), '', :class => 'btnAction', :onClick => "alert('#{t('escrow.actions.buyer_received_item.warning')}');$('##{escrow.id}escrowReviewForm').toggle();$(this).toggle(); return false;" %>
  </p>
  <div id="<%= escrow.id%>escrowReviewForm" style="<%= 'display: none' unless review_exist %>">
    <%= form_tag buyer_received_item_escrows_path do %>
      <%= hidden_field_tag :escrow_id, escrow.id %>
      <p><strong><%= t('escrow.review', :receiver => escrow.seller.username) %></strong></p>
      <p>
        <%= radio_button_tag 'review_type', 'PositiveReview', review.class == PositiveReview %>&nbsp;<%= image_tag 'icon-thumbs-up.png' %> <span class="textGreen"><%= t('review.new.label.positive') %></span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <%= radio_button_tag 'review_type', 'NegativeReview', review.class == NegativeReview %>&nbsp;<%= image_tag 'icon-thumbs-down.png' %> <span class="textRed"><%= t('review.new.label.negative') %></span>
      </p>
      <p>
        <%= text_area_tag :review_body, review.body, :rows => 6, :cols => 28 %>
      </p>
      <%= submit_tag t('button.submit') %>
    <% end %>
  </div>
<% end %>
