<% store_order = locals[:store_order] %>
<p>
  <label><%= t('escrow.redirect_indonesia_bank_transfer.label.bank_name') %></label>
  <strong>Bank Central Asia (BCA)</strong>
</p>
<p>
  <label><%= t('escrow.redirect_indonesia_bank_transfer.label.account_name') %></label>
  <strong>PT. AFILIASI KONTENINDO JAYA</strong>
</p>
<p>
  <label><%= t('escrow.redirect_indonesia_bank_transfer.label.account_number') %></label>
  <strong>8780188988</strong>
</p>
<p>
  <label><%= t('escrow.redirect_indonesia_bank_transfer.label.amount') %></label>
  <strong><%= store_order.total_all_with_unit %></strong>
</p>
<p>
  <label><%= t('escrow.redirect_indonesia_bank_transfer.label.notes') %></label>
  <strong><%= store_order.bank_transfer_notes %></strong>
</p>