<% store_order = locals[:store_order] %>
<% if current_user.eql?(store_order.seller) %>
  <p>
    <%= link_to t('store_order.summary.label.quote_delivery_fee'), quote_delivery_store_order_path(store_order), :class => 'btnAction' %>
  </p>
<% end %>