<div id="confirmationStoreOrder">
  <%= f.fields_for :order_items do |order_item_form| %>
    <% order_item = order_item_form.object %>
    <% item = order_item.item %>
    <%= order_item_form.hidden_field :item_id, :value => order_item_form.object.item_id %>
    <%= order_item_form.hidden_field :price, :value => order_item_form.object.price.to_i %>
    <div class="orderItemRow">
      <div class="avatar">
        <%= image_tag item.pictures.first.attachment(:thumb), :class => 'photo', :size => '64x64' %>
      </div>
      <div class="info">
        <div class="name"><%= item.name %></div>
        <div class="price"><%= item.price_with_unit %></div>
      </div>
    </div>
    <br/>
    <p>
      <label><%= t('store_order.new.label.quantity') %></label>
      <strong><%= order_item.quantity %>&nbsp;&nbsp;<%= t('store_order.new.label.piece') %></strong>
    </p>
  <% end %>
  <p>
    <label><%= t('store_order.new.label.total_amount') %></label>
    <strong><%= @store_order.total_amount_with_unit %></strong>
  </p>
  <p>
    <%= t('store_order.new.label.address') %>
  </p>
  <div class="deliveryAddress">
    <strong><%= simple_format @store_order.delivery_address %></strong>
  </div>
  <p>
    <label><%= t('store_order.new.label.insurance') %></label>
    <strong><%= t("store_order.new.label.insurance_#{@store_order.buy_insurance?}") %></strong>
  </p>
  <br/>
  <p>
    <%= f.submit t('button.continue') %>
    <%= f.submit t('button.back'), :name => "back_button", :class => 'cancelLink' unless @store_order.first_step? %>
  </p>
</div>
