<%= f.fields_for :order_items do |order_item_form| %>
  <%= render "order_item_field", :order_item_form => order_item_form %>
<% end %>
<p>
  <%= t('store_order.new.label.address') %>
</</p>
<p>
  <%= f.text_area :delivery_address, :rows => 5, :cols => 45 %>
</p>
<p class="insurance">
  <label><%= t('store_order.new.label.insurance') %></label>
  <%= f.check_box :buy_insurance %>
</p>
<br/>
<p>
  <%= f.submit t('button.continue') %>
</p>

