<div class="storeOrderRow" id="<%= store_order.internal_id %>">
  <h4 class="textBlack"><%= store_order.id_for_display %></h4>
  <div class="order">
    <div class="pair">
      <div class="label"><%= t('store_order.summary.label.item') %></div>
      <div class="value"><%= store_order.order_items.first.item.name %></div>
    </div>
    <div class="pair">
      <div class="label"><%= t('store_order.summary.label.quantity') %></div>
      <div class="value"><%= store_order.order_items.first.quantity %></div>
    </div>
    <div class="pair">
      <div class="label"><%= t('store_order.summary.label.total_price') %></div>
      <div class="value"><%= store_order.total_amount_with_unit %></div>
    </div>
    <div class="pair">
      <div class="label"><%= t('store_order.summary.label.delivery_fee') %></div>
      <div class="value"><%= store_order.delivery_fee_quoted? ? store_order.delivery_fee_with_unit : 'not quoted' %></div>
    </div>
    <div class="pair">
      <div class="label"><%= t('store_order.summary.label.admin_fee') %></div>
      <div class="value"><%= store_order.delivery_fee_quoted? ? store_order.admin_fee_with_unit : 'N/A' %></div>
    </div>
    <div class="pair total">
      <div class="label"><%= t('store_order.summary.label.total_all') %></div>
      <div class="value"><%= store_order.delivery_fee_quoted? ? store_order.total_all_with_unit : 'N/A' %></div>
    </div>
    <div class="pair">
      <div class="label"><%= t('store_order.summary.label.status') %></div>
      <div class="value"><%= store_order.current_state_display_string %></div>
    </div>
    <div class="pair">
      <div class="label"><%= t('store_order.summary.label.awaiting') %></div>
      <div class="value"><%= store_order.awaiting_string %></div>
    </div>
    <div class="actions">
      <%= render "store_orders/#{store_order.current_state}_state", :locals => {:store_order => store_order, :escrow => store_order.escrow} %>
    </div>
  </div>
</div>