<% page_title t('store_order.new.label.heading') %>
<div id="newStoreOrder">
  <div class="col4">
    <h2><%= t('store_order.new.label.heading') %></h2>
  </div>
  <div class="col4 bgGreen defaultRound">
    <h3 class="textBlack"><%= t('store_order.new.label.intro', :seller => @store_order.seller.username) %></h3>
    <%= form_for(@store_order) do |f| %>
      <%= f.hidden_field :buyer_id, :value => @store_order.buyer_id %>
      <%= f.hidden_field :seller_id, :value => @store_order.seller_id %>
      <%= render "#{@store_order.current_step}_step", :f => f %>
    <% end %>
  </div>
</div>