<% page_title t('store_order.quote_delivery.label.heading') %>
<div id="newStoreOrder">
  <div class="col4">
    <h2><%= t('store_order.quote_delivery.label.heading') %></h2>
  </div>
  <div class="col4 bgGreen defaultRound">
    <h3 class="textBlack"><%= t('store_order.quote_delivery.label.intro', :buyer => @store_order.buyer.username) %></h3>
    <div id="confirmationStoreOrder">
      <% @store_order.order_items.each do |order_item| %>
        <% item = order_item.item %>
        <div class="orderItemRow">
          <div class="avatar">
            <%= image_tag item.pictures.first.attachment(:thumb), :class => 'photo', :size => '64x64' %>
          </div>
          <div class="info">
            <div class="name"><%= item.name %></div>
            <div class="price"><%= order_item.price_with_unit %></div>
          </div>
        </div>
        <br/>
        <p>
          <label><%= t('store_order.new.label.quantity') %></label>
          <strong><%= order_item.quantity %>&nbsp;&nbsp;<%= t('store_order.new.label.piece') %></strong>
        </p>
      <% end %>
      <p>
        <label><%= t('store_order.new.label.total_amount') %></label>
        <strong><%= @store_order.total_amount_with_unit %></strong>
      </p>
      <p>
        <%= t('store_order.new.label.address') %>
      </p>
      <div class="deliveryAddress">
        <strong><%= simple_format @store_order.delivery_address %></strong>
      </div>
      <p>
        <label><%= t('store_order.new.label.insurance') %></label>
        <strong><%= t("store_order.new.label.insurance_#{@store_order.buy_insurance?}") %></strong>
      </p>
    </div>

    <div id="quoteDeliveryStoreOrder">
      <%= form_tag(:action => 'create_quote_delivery', :controller => 'store_orders') do %>
        <%= hidden_field_tag :id, :value => @store_order.id %>
        <p>
          <label><%= t('store_order.quote_delivery.label.delivery_fee') %></label>
          <%= text_field_tag "delivery_fee", @store_order.delivery_fee %>
        </p>
        <br/>
        <p>
          <label>&nbsp;</label>
          <%= submit_tag t('button.send'), :class => 'defaultButton' %>
        </p>
      <% end %>
    </div>
  </div>
</div>