<% city = locals[:city] %>
<% country = city.country %>
<% if city.name == City::ANYWHERE %>
  <strong><%= city.name %></strong>
<% else %>
  <%= generate_country_image_tag(country) %>&nbsp;<strong><%= city.name %></strong>
<% end %>