<div class="col3">
  <nav class="static">

    <h4 class="textBlack">Event</h4><br/>

    <%= render_sub_menu_link 'Bistipes', [{:controller => 'content', :action => "event_bistipes"}] %>

    <div class="divider"></div>

    <h4 class="textBlack">Arsip</h4><br/>

    <%= render_sub_menu_link 'Kompetisi Slogan', [{:controller => 'content', :action => "event_slogan"}] %>
    <%= render_sub_menu_link 'Kompetisi Blog', [{:controller => 'content', :action => "event_blog"}] %>
  </nav>
</div> 