<ul id="sub-menu" class="text-01">
  <% if logged_in? %>
    <%= render_sub_menu_link_mobile t('message.link.inbox'), [{:controller => 'messages', :action => "index", :user_id => current_user}] %>
    <%= render_sub_menu_link_mobile t('message.link.sent'), [{:controller => 'messages', :action => "sent", :user_id => current_user}] %>
  <% end %>
</ul>