<%= quicktip_js %>
<h4><%= t('trip.show.legal.heading')%></h4><br />
<% rndm=rand(3)+1 %>
<% if rndm==1 %>
<h5 class="tips bgGreenInfo defaultRound quicktip" title="<%= t('trip.show.legal.tooltip_barang') %>">
  <%= t('trip.show.legal.content_barang') %>
</h5>
<% elsif rndm==2 %>
<%= link_to rekber_path, :target => '_blank' do %>
<h5 class="tips bgGreenInfo defaultRound quicktip" title="<%= t('trip.show.legal.tooltip_rekber') %>">
  <%= t('trip.show.legal.content_rekber') %>
</h5>
<% end %>
<% else %>
<h5 class="tips bgGreenInfo defaultRound quicktip" title="<%= t('trip.show.legal.tooltip_profil') %>">
  <%= t('trip.show.legal.content_profil') %>
</h5>
<% end %>