<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $("#routeCloud a").tagcloud({
      size: {
        start: 16,
        end: 26,
        unit: "pt"
      },
      color: {start: '#2C93DF', end: '#035088'}
    });
  });
</script>
<h3><%= t('home.index.label.tag_cloud') %></h3>
<div id="routeCloud">
  <% cache('all_route') do %>
    <% most_active_route = Trip.count(:group => ['origin_city_id', 'destination_city_id'], :order => 'count_id DESC', :limit => 10) %>
    <% most_active_route_random = most_active_route.sort_by{rand} %>
    <% most_active_route_random.each do |rows| %>
      <% origin = City.find_by_id(rows[0][0]) %>
      <% destination = City.find_by_id(rows[0][1]) %>
      <% link_name = origin.name + '-' + destination.name %>
      <% active_number = rows[1] %>
      <%= link_to link_name, search_trip_path(:origin => (origin.name + ", " + origin.country.name),
                                              :destination => (destination.name + ", " + destination.country.name)),
                             :rel => active_number %>
    <% end %>
  <% end %>
</div>

