<% seek = locals[:seek] %>
<% user = seek.user %>
<%= link_to seek_path(seek), :class => 'divlink' do %>
  <div class="miniRow bgLightBlue">
    <div class="info">
      <p>
        <span class="iconUser"><%= user.username %></span>
        <br/>
        <span class="iconRoute">
          <% if seek.origin_city.name != City::ANYWHERE %>
            <%= generate_country_image_tag(seek.origin_city.country) %>
          <% end %>
          <strong><%= seek.origin_city.name %></strong> <span class="dashArrow">-</span>
          <% if seek.destination_city.name != City::ANYWHERE %>
            <%= generate_country_image_tag(seek.destination_city.country) %>
          <% end %>
          <strong><%= seek.destination_city.name %></strong>
        </span>
        <br/>
        <% unless seek.items.blank? %>
          <span class="iconShopping"><%= seek.items_name_for_display %></span>
        <% end %>
      </p>
    </div>
  </div>
<% end %>
