<% seek = locals[:seek] %>
<% item_count = locals[:item_count]  %>
<% show_description = locals[:show_description] %>
<% visible_user = locals[:visible] %>
<% user = seek.user %>
<%= link_to  seek_path(seek), :class => "infoBlockLink" do %>
  <div class="infoBlock defaultRound mid">
  <%# if visible_user and visible_user == true %>
    <div class="left">
      <div class="avatar">
        <%= image_tag user.avatar.url, :size => "64x64", :class => "photo" %>
        <h5><%= user.username %></h5>
        <div class="tools">
          <%= render 'shared/user_reputation', :locals => {:user => user} %>
        </div>
      </div>
    </div>
  <%# end %>
    <div class="right">
      <% if item_count %>
        <%= render 'shared/seek_data', :locals => {:seek => seek, :item_count => item_count} %>
      <% else %>
        <%= render 'shared/seek_data', :locals => {:seek => seek} %>
      <% end %>
      <% if show_description and !string_nil_or_empty?(seek.notes) %>
        <div class="notesDisplay bgWhite">
          <p><%= highlight seek.notes, search_notes_to_array(params[:notes]) %></p>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
