<% trip = locals[:trip] %>
<% user = trip.user %>
<li class="bistiperRow">
  <a href="<%=  trip_path(trip) %>" class="divlink">
    <div class="bistiperPlc">
      <div class="avatar">
        <%= image_tag user.avatar.url, :size=>"64x64", :class=>"photo" %>
      </div>
      <div class="info">
        <h5><span class="iconUser"><%= user.username %></span></h5>
        <p>
          <span class="iconRoute">
            <%= render 'shared/city', :locals => {:city => trip.origin_city} %>
            <span class="dashArrow">-</span>
            <%= render 'shared/city', :locals => {:city => trip.destination_city} %>
            <br/>
          </span>
          <span class="iconDate">
            <% if !trip.routine? %>
              <%= l(trip.departure_date) %>
            <% else %>
              <%= t "week_period.#{trip.period}"%>
            <% end %>
          </span>
        </p>
      </div>
      <div class="tools">
        <span class="thumbUp"><%=user.received_positive_reputations.count%>&nbsp;<%= image_tag "icon-thumbs-up.png", :size => "10x14" %></span><br/>
        <span class="thumbDown"><%=user.received_negative_reputations.count%>&nbsp;<%= image_tag "icon-thumbs-down.png", :size => "10x14" %></span>
      </div>
    </div>
  </a>
</li>
