<% trip = locals[:trip] %>
<% write = locals[:write] %>
<tr>
  <td>
    <%= render 'shared/trip_summary',  :locals => {:trip => trip} %>
  </td>
</tr>
<% if logged_in? and trip.owner?(current_user) and write %>
  <tr>
    <td>
      <% seeks_match_count = trip.find_matching_seeks.count %>
      <% if seeks_match_count > 0 %>
        <%= t('trip.index.table.match_count', :count => seeks_match_count) %> -
        <span class="red-link"><%= link_to t('trip.show.label.auto_match_link'), match_trip_path(trip) %></span>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      <% if trip.active? %>
        <div class="buttonlink-grey-01">
          <%= link_to t('trip.edit.link_short'), edit_trip_path(trip) %>
          <%= link_to t('trip.destroy.link_short'), trip, :confirm => 'Are you sure?', :method => :delete %>
        </div>
      <% end %>
    </td>
  </tr>
<% end %>
<tr>
  <td>&nbsp;</td>
</tr>


