<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <title>Marketplace | Bistip.com </title>
    <%= include_stylesheets :market_mobile %>
    <%= javascript_include_tag 'jquery-1.5.2.min', 'jquery.tools.min', 'smoothscroll', 'jquery-ui-1.8.7.custom.min','jquery.watermarkinput','rails', 'application', 'jquery.shareit', 'quicktip', 'jquery.tagsinput.min' %>
    <%= csrf_meta_tag %>
    <meta name="description" content="<%= meta_description %> | <%= t('general.meta.description') %> |"/>
    <meta name="keywords" content="<%= t('general.meta.keywords') %>, <%= meta_keywords %>"/>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;"/>
  </head>

  <body>
  <header>
    <div class="plc">
      <h1><a href="/"><%= t('general.meta.description') %>. <%= meta_description %></a></h1>
      <%= render 'layouts/market_top_panel' %>
    </div>
  </header>
  <%= render 'shared/notification' %>

  <section id="contents">
    <div class="plc">
      <%= yield %>
    </div>
  </section>
  <%= render 'shared/footer' %>
</body>
</html>
