<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<table width="650" align="center" style="font-size: 14px;" cellpadding="0" cellspacing="0">

  <tr>
    <td height="50" bgcolor="#ffffff" align="center">
      <table width="95%">
        <tr>
          <td align="right">
            <%= image_tag 'http://www.bistip.com/images/logo_small.png', :alt => 'Bistip', :title => 'Bistip' %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td align="center">
      <table width="95%" cellpadding="30">
        <tr>
          <td align="left">
            <p style="font-weight: bold; font-size:18px; line-height: 24px; font-family: Helvetica, Arial, sans-serif; color:#666; margin: 0;">
              Hi, <%= @user.username %>
            </p>
            <br/>

            <div style="font: normal 14px Helvetica, Arial, sans-serif; line-height: 19px; color: #333;">
              <%= yield %>
              <br/><br/>
            </div>
            <p style="font-weight: bold; font-size:18px; line-height: 24px; font-family: Helvetica, Arial, sans-serif; color:#666; margin: 0;">
              Thanks! <br/>
              Bistip Team | <a href="mailto:team@bistip.com">team@bistip.com</a>
            </p>
            <br/>
            <div style="font: normal 12px Helvetica, Arial, sans-serif; line-height: 19px; color: #333;">
              To set what email to receive, please visit your <%= link_to 'notifications', edit_settings_url %> settings.
            </div>
            <br/>
            <div style="font: normal 12px Helvetica, Arial, sans-serif; line-height: 19px; color: #333;">
              Copyright &copy; bistip.com. All Rights Reserved.
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>