<% message = locals[:message] %>
<div class="inboxRow <%= 'alt' if message.sender != current_user %>">
  <div class="message">
    <h5><%= link_to message.sender.username, profile_path(message.sender.username) %><span class="date">&nbsp;&ndash;&nbsp;<%= l(message.created_at) %></span></h5>
    <%= auto_link_in_new_tab(message.body) %>
  </div>
</div>
