<%= render 'shared/static_menu' %>
<% page_title t('content.link.point') %>
<div class="col9">
  <h2><%= t('content.link.point') %></h2>
  <p align="center"><%= image_tag 'point-banner.png', :class => 'defaultShadow' %></p>
  <h3 class="textBlack">Bagaimana cara mendapatkan Bistip Point?</h3>

   <ul>
    <li>Setiap klik link rute perjalanan yang kamu sebarkan : <strong>1 point</strong></li>
    <li>Untuk setiap cerita kamu yang ditampilkan di <%= link_to t('stories.general.heading'), stories_path, :target => '_blank' %> (tanpa gambar) : <strong>20 point</strong></li>
    <li>Cerita kamu yang ditampilkan dan memiliki gambar : <strong>30 point</strong></li>
    <li>Rekomendasi barang kamu yang ditampilkan : <strong>5 point</strong></li>
    <li>Rekomendasi barang kamu yang ditampilkan dan memiliki gambar : <strong>10 point</strong></li>
   </ul>

  <h3 class="textBlack">Apa yang bisa kamu lakukan dengan point yang telah dikumpulkan?</h3>
  <p>
    Tukarkan <strong>80 point</strong> dengan cashback <strong>USD 20</strong> untuk pemakaian SafePay dengan nilai transaksi minimum <strong>Rp 500.000</strong> atau <strong>USD 50</strong>. Berlaku untuk SafePay yang dimulai mulai tanggal <strong>13 April - 13 May 2012</strong>.
  </p>
  <p>
    * Kamu bisa claim cashback beberapa kali, tapi hanya diperbolehkan sekali saja dengan seorang traveler.
  </p>
  <h3 class="textBlack">Dimana saya bisa melihat perolehan point?</h3>
  <p>
    Kamu bisa melihat perolehan point di halaman <%= link_to t('dashboard.link.general'), dashboard_path, :target => '_blank' %>.
  </p>

</div>
