<% page_title t('content.link.how') %>
<div class="col4, padding2point5">
  <h3>Mau tahu cara kerja Bistip? coba lihat illustrasi di bawah ini..</h3>
<%= image_tag 'instruct_mob.gif' %>
  <h3>Masih bingung? coba deh video di bawah ini :)</h3>
  <iframe width="280" height="175" src="http://www.youtube.com/embed/lunltfOEYAI" frameborder="0" allowfullscreen class="padding2point5"></iframe>
  <br />
  <br />
  <h3>Skenario titip menitip di Bistip.com</h3>
  <ol class="tips">
    <li><p>Amy adalah seorang kolektor perangko yang bertempat tinggal di Jakarta. Amy ingin menambah koleksinya dengan
    perangko yang berasal dari Jepang.</p></li>
    <li><p>Melalui bistip Amy menemukan Bob yang akan melakukan perjalanan dari Tokyo ke Jakarta.</p></li>
    <li><p>Amy meminta Bob untuk membelikan perangko di Tokyo dan membawakannya ke Jakarta. Negosiasi pun terjadi diantara
    mereka mengenai detail barang, harga dan tip yang akan diberikan. </p></li>
    <li><p>Amy mentransfer dana ke <%= link_to t('content.link.safepay'), safepay_path, :target => '_blank' %>
    agar Bob bisa memulai pembelian perangko pesanannya.</p></li>
    <li><p>Mereka bertemu di Jakarta dan Bob mendapatkan dana dari <%= link_to t('content.link.safepay'), safepay_path, :target => '_blank' %>
    setelah perangko pesanan Amy diterima.</p></li>
  </ol>

  <h4>Bagaimana cara untuk mendaftarkan rute jalan kamu?</h4>

  <p><%= link_to 'klik di sini', new_trip_path %> untuk membuat rute jalan baru.</p>

  <h4>Bagaimana cara untuk menitip barang?</h4>

  <p><%= link_to 'klik di sini', search_trip_path %> untuk mencari rute jalan yang tersedia.</p>

  <p>
    Untuk FAQ yang lebih lengkap, silakan <%= link_to 'klik di sini', faq_path %>.
  </p>
</div>
<%= render 'shared/static_menu' %>