<% page_title t('user.edit.label.heading') %>
<div id="dashboard">
<%= render 'dashboard/reminder' %>
<%= render 'dashboard/menu' %>
<div class="col9">
  <h4><%= t('user.edit.label.intro') %><%= render('shared/protected') %></h4><br/>
  <div id="profileEdit">
    <%= form_for(@user, :html => { :multipart => true }) do |f| %>
    <p>
      <label for=""><%= t('user.field.label.avatar') %></label>
      <%= f.file_field :avatar, :class => 'defaultText' %>
    </p>
    <p>
      <label for=""><%= t('user.field.label.username') %></label>
      <%= f.text_field :username, :class => 'defaultText' %>
    </p>
    <p>
      <label for=""><%= t('user.field.label.fullname') %></label>
      <%= f.text_field :fullname, :class => 'defaultText' %>
    </p>
    <p>
      <label for=""><%= t('user.field.label.gender') %></label>
      <%= f.select :gender_id, Gender.select_list %>
    </p>
    <p>
      <label for=""><%= t('user.field.label.birth_year') %></label>
      <%= f.select :birth_year, User.birth_year_list %>
    </p>
    <p>
      <label for=""><%= t('user.field.label.city') %></label>
      <%= location_auto_complete_js 'user_city_location', true %>
      <%= f.text_field :city_location, :class => 'defaultText' %>
    </p>
    <p>
      <label for=""><%= t('user.field.label.location') %></label>
      <%= f.text_field :location, :class => 'defaultText' %>
    </p>
    <p>
      <label for=""><%= t('user.field.label.work') %></label>
      <%= f.text_field :work, :class => 'defaultText' %>
    </p>
    <p>
      <label for=""><%= t('user.field.label.contact_number') %></label>
      <%= f.text_field :contact_number, :class => 'defaultText' %>
    </p>
    <p>
      <label for="">&nbsp;</label>
      <%= f.text_field :extra_contact_number, :class => 'defaultText' %>
    </p>
    <p>
      <label for=""><%= t('user.field.label.web') %></label>
      <%= User::WEB_PREFIX %><%= f.text_field :web, :class => 'defaultText', :style=>"width: 360px;" %>
    </p>
    <p>
      <label for=""><%=  image_tag "social-facebook-16.png"%>&nbsp;<%= t('user.field.label.facebook') %></label>
      <%= User::FACEBOOK_PREFIX %><%= f.text_field :facebook, :class => 'defaultText', :style=>"width: 240px;" %>
    </p>
    <p>
      <label for=""><%=  image_tag "social-twitter-16.png"%>&nbsp;<%= t('user.field.label.twitter') %></label>
      <%= User::TWITTER_PREFIX %><%= f.text_field :twitter, :class => 'defaultText', :style=>"width: 255px;" %>
    </p>
    <p>
      <label for=""><%= t('user.field.label.bio') %></label>
      <%= enable_character_counter('user_bio',User::BIO_MAXIMUM_LENGTH) %>
      <%= f.text_area :bio, :rows => 8, :cols => 40 %>
    </p>
    <p>
      <label>&nbsp;</label>
      <%= f.submit t('button.update'), :class => 'defaultButton' %><%= link_to t('button.cancel'), dashboard_profile_path, :class => 'cancelLink' %>
    </p>
  <% end %>
  </div>
</div>
</div>