<% page_title t('recommend.handle.title', :receiver => @user.username) %>
<% forward_url = new_user_positive_reputation_path(:user_id => @user, :invitation => true) %>
<div style="height: 200px; text-align: center" class="content-left text-01 blue-link transitpage">
  <div style="padding-bottom: 20px" class="text-orange"><%= t('recommend.handle.title', :receiver => @user.username) %></div>
  <div style="padding-bottom: 20px"><%= t('recommend.handle.label.header', :receiver => @user.username) %></div>
  <div><%= raw t('recommend.handle.label.body', :here => link_to(t('general.here'), forward_url) ) %></div>
  <%= image_tag "logo.png", :border => 0, :style => 'display:none'%>
</div>

<script type="text/javascript">
  setTimeout(function() {
    window.location.href = '<%= forward_url %>';
}, 5000);
</script>