<%= form_for([@trip, @transaction]) do |f| %>
  <table width="650" cellspacing="0" cellpadding="5" border="0" class="text-01">
    <tbody>
      <tr>
        <td style="width: 150px">&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2"><b>CREATE TRANSACTION FOR TRIP :</b></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    
      <tr>
        <td colspan="2" style="border:thin solid red;">
          <%= render 'shared/trip_summary', :locals => {:trip => @trip} %>
        </td>
      </tr>
      <tr><td colspan="2">&nbsp;</td></tr>
      <tr>
        <td>TRIP ID</td>
        <td>
          <%= @transaction.trip.id %>
          <%= f.hidden_field :trip_id %>
        </td>
      </tr>
      <tr>
        <td>BISTIPER</td>
        <td>  
          <%=@transaction.bistiper.username%>
          <%= f.hidden_field :bistiper_id %>
        </td>
      </tr>
      <tr>
        <td>WANTED BISTIPER</td>
        <td>
          <%=@transaction.wanted_bistiper.username%>
          <%= f.hidden_field :wanted_bistiper_id %>
        </td>
      </tr>
      <tr>
        <td>TITLE</td>
        <td>
          <% if @transaction.is_new? %>
            <%= f.text_field :title, :class => 'textbox-01' %>
          <% else %>
            <%= f.label @transaction.title, :class => 'textbox-01' %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>STATUS</td>
        <td>
          <%= select_tag "transaction[status]", options_for_select(@transaction.map(current_user), @transaction.status),:disabled=>@transaction.edit_status?(current_user) %>
        </td>
      </tr>
      
      <tr>
        <td>&nbsp;</td>
        <td>
          <% max = @transaction.messages.size %>
          <% acc = 0 %>
          <% disable = true %>
          <%= f.fields_for :messages do |message_form| %>
            <%= message_form.hidden_field :sender_id, :value=>@sender.id %>
            <%= message_form.hidden_field :receiver_id, :value=>@receiver.id %>
            <% if acc == max-1 %>
              <% disable = false %>
            <%end%>
            <div>
              <%= enable_character_counter('message_body',Message::BODY_MAXIMUM_LENGTH) %>
              <%= message_form.text_area :body, :rows => 7, :cols => 60, :class => 'textarea-01', :disabled => disable %>
            </div>
            <% acc += 1 %>
          <% end %>
          
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>
          <%= f.submit t('button.submit'), :class => 'button-register' %> /
          <%= link_to t('button.cancel'), locals[:cancel_path] %>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>
<% end %>
