
<table class="text-01" width="80%;" cellspacing="10px" cellpadding="5px">
  
  <tr>
    <td width="45%" valign="top" >
      <div style="padding-bottom: 15px;" class="text-orange">
        YANG MAU NITIP KE SAYA
      </div>
      <%for @tx in @incoming do%>
        <%= render 'shared/transaction_summary', :locals=>{:transaction=>@tx} %><br/>
      <%end%>
    </td>
    <td width="45%" valign="top">
      <div style="padding-bottom: 15px;" class="text-orange">
        TITIPAN SAYA KE ORANG LAIN
      </div>
      <%for @tx in @outgoing do%>
        <%= render 'shared/transaction_summary', :locals=>{:transaction=>@tx} %><br/>
      <%end%>
    </td>
  </tr>
</table>
