<% page_title t('seek.new.label.heading') %>
<div class="content-left">
  <div class="text-orange"><%= t('seek.new.label.heading') %></div>
  <%= render 'form', :locals => {:cancel_path => @trip}%>
</div>