<%#=@transaction.to_yaml%>

<div class="content-left text-01" style="width: 430px; text-align: left;">
  Trima kasih, anda telah sukses melakukan transaksi. Silahkan menunggu untuk proses konfirmasi oleh Bistiper yang bersangkutan
</div>
<br/>
<div class="content-left text-01" style="border: thin solid #58BAEE; width: 430px;padding-bottom: 10px;background-color: #EBF3F7;font-weight: bold;">
  <table border="0">
    <tr>
      <td colspan="2">
        <%= render 'shared/trip_summary', :locals => {:trip => @transaction.trip} %>
      </td>
    </tr>
    <tr>
      <td style="width: 160px;" align="right">transaction code :</td>
      <td><%=@transaction.transaction_code%></td>
    </tr>
    <tr>
      <td align="right" valign="top">trip id :</td>
      <td><%=@transaction.trip.id%></td>
    </tr>
    <tr>
      <td align="right">bistiper name :</td>
      <td><%=@transaction.bistiper.username %> </td>
    </tr>
    <tr>
      <td align="right">wanted bistiper name :</td>
      <td><%=@transaction.wanted_bistiper.username %></td>
    </tr>
    <tr>
      <td align="right">title :</td>
      <td><%=@transaction.title %></td>
    </tr>
    <tr>
      <td align="right">status transaction :</td>
      <td><%= select_tag "transaction[status]", options_for_select(@transaction.map(current_user), @transaction.status),:disabled=>true %></td>
    </tr>
  </table>
</div>

<br/>
<fieldset class="content-left text-01" style="border: thin solid #58BAEE; width: 430px;padding-bottom: 10px;background-color: #EBF3F7;font-weight: bold;">
  <legend>PESAN-PESAN</legend>
  <div >
  <table>
    <% for msg in @transaction.messages do %>
    <tr>
      <td>
        <%= msg.body %>
      </td>
    </tr>
    <%end%>
  </table>
</div>
</fieldset>


