<div id="paginationData">
  <% if @messages.size > 0 %>
    <%= render :partial => 'message', :collection => @messages %>
  <% else %>
    <% if @no_valid_parameter %>
      <div class="notificationBar yellow">
        <%= t('message.index.no_result') %>
      </div>
    <% else %>
      <div class="notificationBar yellow">
        <%= t('message.filter.no_result') %>
      </div>
    <% end %>
  <% end %>
  <div>
    <%= get_will_paginate @threads %>
  </div>
</div>