<% sender = message.sender %>
<% unread_count = Message.unread_in_thread(current_user.id, message.reply_to_id).count %>
<% all_count = Message.all_in_thread(message.reply_to_id).count %>
<%= link_to(user_message_path(current_user, message, :anchor => message.internal_link_id), :class => 'divlink') do %>
  <div class="inboxRow <%= 'unread' if unread_count > 0 %>">
    <div class="message">
      <h5>
        <%= sender.username %><%= render 'shared/trusted_badge', :locals => {:user => sender} %>
        <% if unread_count > 0 %>
          <span class="new">
            <%= unread_count %>&nbsp;<%= t('general.new') %>
          </span>
        <% end %>
        <% if message.has_escrow? %>
          <span class="transaction">&nbsp;<%= t('general.transaction') %></span>
        <% end %>
        <% if all_count > 1 %> <span class="textBlack">&nbsp;(<%= all_count %>)</span><% end %>
        <span class="date">&nbsp;&ndash;&nbsp;<%= smart_date_display message.created_at %></span>
      </h5>
      <h6><%= generate_label_for_related_trip_or_seek(message.trip_id, message.seek_id) %></h6>
      <h6><%= highlight message.subject_display, search_keyword_to_array(params[:keyword]) %></h6>
      <% body = message.body %>
      <% if params[:keyword] %>
        <p><%= highlight body, search_keyword_to_array(params[:keyword]) %></p>
      <% else %>
        <% body = body.slice(0,100) + "..." unless body.length <= 100 %>
        <p><%= body %></p>
      <% end %>
    </div>
  </div>
<% end %>
