<table width="80%;" border="0" class="text-01" style="background-color: #62ACE3; border-radius:5px;" >
  <tr class="form-border">
  <th style="width: 10%"><%= t('influencer.field.label.number') %></th>
  <th style="width: 60%"><%= t('influencer.field.label.influencer') %></th>
  <th><%= t('influencer.field.label.point')%></th>
  </tr>
<tbody>
  <% if @influencer.size > 0 %>
    <% @influencer.each do |inf| %>
      <% color = "#DFEFFF" %>
      <% color = "#FFFFFF" if inf[0]%2==0 %>
      <tr style="background: <%=color%>">
        <td align="center" style="font-weight: bold;font-size: 16px; color: #035088;"><%= inf[0] %></td>
        <td align="center">
          <% user = User.find(inf[1]) %>
          <%= render 'shared/user_medium', :locals => {:user => user}%>
        </td>
        <td align="center" class="texthover">
          <span ><strong><%= inf[2] %></strong></span>
        </td>
      </tr>
    <% end %>
  <% else %>
      <tr style="height: 4em;background-color: #FFFFFF">
        <td colspan="3" align="center">
          <strong><i><%= t('influencer.label.not_found_influencer') %></i></strong>
        </td>
      </tr>
  <% end %>
</tbody>
<% if @influencer.size > 0 %>
<tfoot>
  <tr style="background: #FFF;" >
    <td colspan="3" align="center"><strong><%=  will_paginate @influencer%></strong></td>
  </tr>
</tfoot>
<% end %>
</table>

