<% page_title t('payout_method.new.link') %>
<div id="dashboard">
  <div id="payoutMethod">
    <%= render 'dashboard/reminder' %>
    <div class="col4">
      <h4><%= t('payout_method.new.link') %></h4>
      <br/>
      <%= form_for(@payout.becomes(PayoutMethod)) do |f| %>
        <p>
          <%= radio_button_tag 'type', 'PaypalPayoutMethod', @payout.class == PaypalPayoutMethod, :onclick => "$('#paypalFields').toggle();$('#indonesiaBankTransferFields').toggle();" %><%= t('payout_method.paypal') %>
          &nbsp;&nbsp;&nbsp;
          <%= radio_button_tag 'type', 'IndonesiaBankTransferPayoutMethod', @payout.class == IndonesiaBankTransferPayoutMethod, :onclick => "$('#paypalFields').toggle();$('#indonesiaBankTransferFields').toggle();" %><%= t('payout_method.indonesia_bank_transfer') %>
        </p>
        <br/>
        <div id="paypalFields" style="<%= 'display: none' unless @payout.class == PaypalPayoutMethod %>">
          <p>
            <label><%= t('payout_method.new.label.email') %> </label>
            <%= f.text_field :email %>
          </p>
        </div>
        <div id="indonesiaBankTransferFields" style="<%= 'display: none' unless @payout.class == IndonesiaBankTransferPayoutMethod %>">
          <p>
            <label><%= t('payout_method.new.label.bank_name') %> </label>
            <%= f.text_field :bank_name %>
          </p>
          <p>
            <label><%= t('payout_method.new.label.city') %> </label>
            <%= f.text_field :city %>
          </p>
          <p>
            <label><%= t('payout_method.new.label.branch') %> </label>
            <%= f.text_field :branch %>
          </p>
          <p>
            <label><%= t('payout_method.new.label.account_name') %> </label>
            <%= f.text_field :account_name %>
          </p>
          <p>
            <label><%= t('payout_method.new.label.account_number') %> </label>
            <%= f.text_field :account_number %>
          </p>
        </div>
        <br/>
        <p>
          <%= f.submit t('button.send'), :class => 'defaultButton' %><%= link_to t('button.cancel'), :back, :class => 'cancelLink' %>
        </p>
      <% end %>
    </div>
  </div>
  <%= render 'dashboard/menu' %>
</div>