<% page_title @trip.to_s %>
<div style="height: 300px;" class="content-middle text-01">
  <p>
   <%=t('influencer.label.transit_pre')%>
  </p>
  <p>
    <% data = params[:code] if params[:code] %>
    <% if data || !data.nil? %>
      <% path = insert_path(data) %>
    <% else %>
      <% path = root_path %>
    <% end %>
    <%=t('influencer.label.transit_please')%><span class="buttonlink-blue"><%= link_to t('general.click_here').downcase, path %></span><%=t('influencer.label.transit_suf')%>
  </p>
  <p>
    <center>
      <%= image_tag 'ajax-loader1.gif' %>
    </center>
  </p>
</div>

<script type="text/javascript">
  setTimeout(function() {
    window.location.href = '<%=path%>';
}, 5000);
</script>
