<div id="escrow_confirmation">
  <div class="notificationBar yellow"><%= t('escrow.new.label.double_check') %></div>
  <p>
    <label><%= t('escrow.new.label.item') %></label>
    <strong class="largerText"><%= @escrow.item %></strong>
  </p>
  <p>
    <label><%= t('escrow.new.label.amount') %></label>
    <strong class="largerText"><%= @escrow.amount %></strong>&nbsp;&nbsp;&nbsp;
    <%= t('escrow.new.label.seller_receive', :seller => @escrow.seller.username)%>&nbsp;<span id="escrow_amount_after_fee" class="largerText"><strong><%= Escrow.calculate_amount_after_fee(@escrow.amount) %></strong></span>
  </p>
  <p class="italic"><%= raw t('escrow.new.label.terms', :link => (link_to t('content.link.paypal_escrow'), paypal_escrow_path, :target => '_blank')) %></p>
</div>