<% escrow = locals[:escrow] %>
<h4><%= t('escrow.widget.label.heading') %></h4>
<%= render 'shared/escrow_info', :locals => {:escrow => escrow} %>
<div class="actions">
  <%= render "escrows/#{escrow.current_state}_state", :locals => {:escrow => escrow} %>
</div>
