<% sender = message.sender %>
<% new = !message.read %>
<%= link_to(user_message_path(current_user, message), :class => 'divlink') do %>
  <div class="inboxRow <%= 'unread' if new %>">
    <div class="avatar">
      <%= image_tag sender.avatar.url(:thumb), :align => 'center', :class => 'photo', :width => 48, :height => 48 %>
    </div>
    <div class="message">
      <h5>
        <%= sender.username %>
        <span class="date"><%= l(message.created_at) %></span>
        <% if new %>
          <span class="new"><%= t('general.new') %> </span>
        <% end %>
        <% unless message.escrow.blank? %>
          <span class="transaction"><%= t('general.transaction') %></span>
        <% end %>
      </h5>
      <h6><%= generate_label_for_related_trip_or_seek(message.trip_id, message.seek_id) %></h6>
      <h6><%= message.subject_display %></h6>
      <% body = message.body %>
      <% body = body.slice(0,100) + "..." unless body.length <= 100 %>
      <p><%= body %></p>
    </div>
  </div>
<% end %>
