<%= form_for(@seek, :html => { :multipart => true }) do |f| %>
  <%= f.hidden_field :original_id, :value => @seek.original_id %>
  <div id="postNewRoute">
    <h4><%= t('seek.field.label.items') %></h4>
    <br/>
    <div class="items">
      <div class="header"><label><%= t('seek_item.field.label.name') %><%= render 'shared/required' %></label> <label><%= t('seek_item.field.label.tip') %></label></div>
      <%= f.fields_for :item do |builder| %>
        <%= render "item_fields", :f => builder %>
      <% end %>
    </div>
    <br/>
    <div class="divider"></div>
    <p>
      <label><%= t('seek.field.label.live_in') %></label>
      <%= location_auto_complete_js 'seek_destination_location', true %>
      <%= f.text_field :destination_location, :value => get_predefined_destination_location, :style=>"width: 230px;" %><%= render 'shared/required' %>
    </p>
    <p>
      <label><%= t('seek.field.label.from') %></label>
      <%= location_auto_complete_js 'seek_origin_location' %>
      <% if @seek.from_anywhere? %>
        <%= f.text_field :origin_location, :value => '', :style=>"width: 230px;" %>
      <% else %>
        <%= f.text_field :origin_location, :value => get_predefined_origin_location, :style=>"width: 230px;" %>
      <% end %>
    </p>
    <div class="divider"></div>
    <br/>
    <p>
      <label><%= t('seek.field.label.notes') %></label>
      <%= enable_character_counter('seek_notes',Seek::NOTES_MAXIMUM_LENGTH)%>
      <%= f.text_area :notes, :rows => 6, :cols => 60, :class => 'textarea-01' %>
    </p>
    <p>
      <label>&nbsp;</label>
      <%= f.submit t('button.send'), :class => 'defaultButton' %>
      <%= link_to t('button.cancel'), dashboard_path, :class => 'cancelLink' %>
    </p>
    <%= render 'shared/required_label' %>
  </div>
<% end %>
