<h4>Social Media</h4>

<p>
<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js#appId=113536205400277&amp;xfbml=1"></script>
<fb:like href="facebook.com/bistip" send="true" layout="button_count" width="150" show_faces="true" font=""></fb:like>
<br/>
</p>
<br/>

<p>
<iframe allowtransparency="true" frameborder="0" scrolling="no" align="middle"
        src="http://platform.twitter.com/widgets/follow_button.html?screen_name=bistip&show_count=true"
        style="width:180px; height:30px;"></iframe>
<!-- Place this tag in your head or just before your close body tag -->
<script type="text/javascript" src="http://apis.google.com/js/plusone.js"></script>
<!-- Place this tag where you want the +1 button to render -->
<g:plusone href="www.bistip.com" size="medium"></g:plusone>
</p>