<div style="padding-top: 5px; padding-left: 5px;" class="heading-grey"><%= t('comment.new.label') %></div>
<div class="line-separator-01"></div>
<div style="clear: both; float: left; padding-left: 5px;" class="comment-form text-01">
  <% if logged_in? %>
  <div id="title" style="padding-bottom: 3px;"><strong><%= current_user.username %></strong> <%= t('comment.new.says') %>:</div>
      <%= form_for([@trip, @comment]) do |f| %>
        <%= f.text_area :body, :rows => 5, :class=>"textarea-01"%>
        <div style="padding-top: 1px;">
            <%= enable_character_counter('comment_body',Comment::BODY_MAXIMUM_LENGTH) %>
            <%= f.submit t('button.submit'), :class => 'button-register' %>
        </div>
      <% end %>
  <% else %>
      <span class="blue-link"><i><%= raw(t('comment.new.not_logged_in',
     :login => ActionController::Base.helpers.link_to(t('login.link'), new_session_path+"?original_uri=#{trip_path(@trip)}"),
     :register => ActionController::Base.helpers.link_to(t('user.new.link'), new_user_path))) %></i></span>
  <% end %>
 </div>