$("#notifications").append("<% for notification in @notifications %><%= escape_javascript(render 'notification', :locals => {:notification => notification}) %><% end %>");
$("#notifications_pagination").html("<%= escape_javascript(get_more_will_paginate(@notifications, 'notifications_pagination')) %>");