<%= form_for(@trip) do |f| %>
  <%= f.hidden_field :routine, :value => true %>
  <div class="new-form text-01">
    <p><b><%= t('trip.new.label.intro') %></b></p>
    <ul>
      <li>
        <label>
          <%= t('trip.field.label.origin') %>
        </label>
        <%= location_auto_complete_js 'trip_origin_location', true %>
        <%= f.text_field :origin_location, :class => 'textbox-01' %>
      </li>
      <li>
        <label><%= t('trip.field.label.destination') %></label>
        <%= location_auto_complete_js 'trip_destination_location', true %>
        <%= f.text_field :destination_location, :class => 'textbox-01' %>
      </li>
      <li>
        <label>&nbsp;</label>
        <%= render 'shared/new_location_contact_us' %>
      </li>
      <li>
        <label><%= t('trip.field.label.period')%></label>
        <% period = Period.map %>
        <%= select_tag "trip[period]", options_for_select(period, @trip.period) %>
      </li>
      <% Day::ALL.each_with_index do |day, index|%>
        <% selected = false %>
        <% selected = @trip.day.include?(day) unless @trip.day.nil? %>
        <li>
          <% if index == 0 %>
            <label><%= t('trip.field.label.day')%></label>
          <% else %>
            <label>&nbsp;</label>
          <% end %>
          <%= check_box_tag "trip[day][]",day, selected %><%= day %>
        </li>
      <% end%>
      <li>
        <label><%= t('trip.field.label.items') %></label>
      </li>
      <div class="item-details">
        <li>
          <div id="item-name" class="pair">
            <label><%= t('trip_item.field.label.name') %></label>
          </div>
          <div id="item-tip" class="pair">
            <label><%= t('trip_item.field.label.tip') %></label>
          </div>
        </li>
        <%= f.fields_for :items do |builder| %>
          <%= render "item_fields", :f => builder %>
        <% end %>
        <li>
          <label>&nbsp;</label>
          <span class="blue-link"><%= link_to_add_fields t("general.add_more"), f, :items, SeekItem::MAXIMUM %></span>
        </li>
      </div>
      <li>
        <label><%= t('trip.field.label.notes') %></label>
        <%= enable_character_counter('trip_notes',Trip::NOTES_MAXIMUM_LENGTH) %>
        <%= f.text_area :notes, :rows => 8, :cols => 40, :class => 'textarea-01' %>
      </li>
      <li>
        <label>&nbsp;</label>
        <%= f.submit t('button.submit'), :class => 'button-register' %> / <%= link_to t('button.cancel'), locals[:cancel_path] %>
      </li>
    </ul>
  </div>
<% end %>
