<%= form_for(@trip) do |f| %>
  <div class="new-form text-01">
    <p><b><%= t('trip.new.label.intro') %></b></p>
    <ul>
      <% if @trip.new_record? %>
        <li>
          <label>
            <%= t('trip.field.label.routine') %>
          </label>
          <span style="border: 2px solid #FF5577; padding: 4px 4px 4px 4px; background: white; font-weight: bold" class="blue-link"><b><%= link_to t('trip.new.label.routine_link'), new_routine_trips_path %></b></span>
        </li>
        <li>
          <label>&nbsp;</label>&nbsp;
        </li>
      <% end %>
      <li>
        <label>
          <%= t('trip.field.label.origin') %>
        </label>
        <%= location_auto_complete_js 'trip_origin_location', true %>
        <%= f.text_field :origin_location, :class => 'textbox-01' %>
      </li>
      <li>
        <label><%= t('trip.field.label.destination') %></label>
        <%= location_auto_complete_js 'trip_destination_location', true %>
        <%= f.text_field :destination_location, :class => 'textbox-01' %>
      </li>
      <li>
        <label>&nbsp;</label>
        <%= render 'shared/new_location_contact_us' %>
      </li>
      <li>
        <label><%= t('trip.field.label.departure_date') %></label>
        <%= date_picker_js 'trip_departure_date' %>
        <% departure_date = l(@trip.departure_date) unless @trip.departure_date.nil? %>
        <%= f.text_field :departure_date, :value => departure_date, :readonly => "readonly", :class => 'textbox-01' %>
      </li>
      <li>
        <label>&nbsp;</label>
        <%= render_link_to_clear_a_field('trip_departure_date') %>
      </li>
      <li>
        <label>&nbsp;</label>
        <input type="checkbox" id="arrival-date-toggle" name="arrival-date-toggle" <%= 'checked' unless @trip.arrival_date.nil? %>> <%= t('trip.new.label.arrival_date_instruction') %></input>
      </li>
      <script type="text/javascript">
        $("#arrival-date-toggle").click(function () {
          $("#arrival-date-field").toggle();
          $("#trip_arrival_date").val('');
          return true;
        });
      </script>
      <div id="arrival-date-field" style="<%= 'display: none' if @trip.arrival_date.nil?%>">
        <li>
          <label><%= t('trip.field.label.arrival_date') %></label>
          <%= date_picker_js 'trip_arrival_date' %>
          <% arrival_date = l(@trip.arrival_date) unless @trip.arrival_date.nil? %>
          <%= f.text_field :arrival_date, :value => arrival_date, :readonly => "readonly", :class => 'textbox-01' %>
        </li>
        <li>
          <label>&nbsp;</label>
          <%= render_link_to_clear_a_field('trip_arrival_date') %>
        </li>
      </div>
      <li>
        <label><%= t('trip.field.label.items') %></label>
      </li>
      <div class="item-details">
        <li>
          <div id="item-name" class="pair">
            <label><%= t('trip_item.field.label.name') %></label>
          </div>
          <div id="item-tip" class="pair">
            <label><%= t('trip_item.field.label.tip') %></label>
          </div>
        </li>
        <%= f.fields_for :items do |builder| %>
          <%= render "item_fields", :f => builder %>
        <% end %>
        <li>
          <label>&nbsp;</label>
          <span class="blue-link"><%= link_to_add_fields t("general.add_more"), f, :items, SeekItem::MAXIMUM %></span>
        </li>
      </div>
      <li>
        <label><%= t('trip.field.label.notes') %></label>
        <%= enable_character_counter('trip_notes',Trip::NOTES_MAXIMUM_LENGTH) %>
        <%= f.text_area :notes, :rows => 8, :cols => 40, :class => 'textarea-01' %>
      </li>
      <li>
        <label>&nbsp;</label>
        <%= f.submit t('button.submit'), :class => 'button-register' %> / <%= link_to t('button.cancel'), locals[:cancel_path] %>
      </li>
    </ul>
  </div>
<% end %>
