<% escrow = locals[:escrow] %>
<% if current_user.eql?(escrow.seller) %>
  <%= form_tag seller_send_item_escrows_path do %>
    <%= hidden_field_tag :escrow_id, escrow.id %>
    <%= submit_tag t('escrow.actions.paypal_notified.seller_send_item') %>
  <% end %>
<% end %>
<%= render 'store_orders/action_buyer_received_item', :escrow => escrow %>