<% store_order = locals[:store_order] %>
<% if current_user.eql?(store_order.seller) %>
  <p>
    <%= link_to t('store_order.summary.label.quote_delivery_fee'), quote_delivery_store_order_path(store_order), :class => 'btnAction' %>
  </p>
  <p>
    <%= link_to t('store_order.seller_out_of_stock.link_short'), seller_out_of_stock_store_order_path(:id => store_order.id) %>
  </p>
<% end %>