<% order_item = order_item_form.object %>
<% item = order_item.item %>
<%= order_item_form.hidden_field :item_id, :value => order_item_form.object.item_id %>
<%= order_item_form.hidden_field :price, :value => order_item_form.object.price.to_i %>
<div class="orderItemRow">
  <div class="avatar">
    <%= image_tag item.pictures.first.attachment(:thumb), :class => 'photo', :size => '64x64' %>
  </div>
  <div class="info">
    <div class="name"><%= item.name %></div>
    <div class="price"><%= item.price_with_unit %></div>
  </div>
</div>
<br/>
<p>
  <label><%= t('store_order.new.label.quantity') %></label>
  <%= order_item_form.text_field :quantity, :class => 'addressField' %>&nbsp;&nbsp;<%= t('store_order.new.label.piece') %>
</p>
