<% store_order = locals[:store_order] %>
<% id = store_order.internal_id %>
<% if current_user.eql?(store_order.buyer) %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#<%= id %>linkBankTransferPopup').fancybox({
        'transitionIn' : 'none',
        'transitionOut' : 'none',
        'scrolling': 'no'
      });
    });
  </script>
  <p>
    <%= link_to t('escrow.widget.label.bank_transfer'), '', :class => 'btnAction', :id => "#{id}linkBankTransferPopup", :onclick => "$('##{id}bankTransferPopup').toggle(); return false;" %>
  </p>
  <div id="<%= id %>bankTransferPopup" style="display: none">
    <div class="col6">
      <h3><%= t('escrow.redirect_indonesia_bank_transfer.label.header') %></h3>
      <p>
        <%= raw t('escrow.redirect_indonesia_bank_transfer.label.intro', :amount => '<strong>' + store_order.total_all_with_unit + '</strong>') %>
      </p>
      <div class="widget bgLightYellow">
        <%= render 'store_orders/bank_transfer_widget', :locals => {:store_order => store_order} %>
      </div>
      <br/>
      <p><%= t('escrow.redirect_indonesia_bank_transfer.label.after_transfer') %></p>
      <ul>
        <li><%= raw t('escrow.redirect_indonesia_bank_transfer.label.send_email', :email => '<a href="mailto:team@bistip.com?Subject=SafePay">team@bistip.com</a>') %></li>
        <li><%= raw t('escrow.redirect_indonesia_bank_transfer.label.send_message', :link => (link_to 'Admin', new_message_path(:user => 'admin'))) %></li>
      </ul>
    </div>
  </div>
<% end %>