<% page_title t('store_order.new.label.heading') %>
<div id="newStoreOrder">
  <div class="col12">
    <h2><%= t('store_order.new.label.heading') %></h2>
  </div>
  <div class="col8 bgGreen defaultRound">
    <h3 class="textBlack"><%= t('store_order.new.label.intro', :seller => @store_order.seller.username) %></h3>
    <%= form_for(@store_order) do |f| %>
      <%= f.hidden_field :buyer_id, :value => @store_order.buyer_id %>
      <%= f.hidden_field :seller_id, :value => @store_order.seller_id %>
      <%= render "#{@store_order.current_step}_step", :f => f %>
    <% end %>
  </div>
  <div class="col4">
    <h3><%= t('store_order.new.label.tips_heading')%></h3>
    <ol class="tips bgGrey defaultRound">
      <li><p><%= raw t('store_order.new.label.tips_1') %></p></li>
      <li><p><%= raw t('store_order.new.label.tips_2') %></p></li>
      <li><p><%= raw t('store_order.new.label.tips_3') %></p></li>
    </ol>
  </div>
</div>