<table width="100%;" border="0" class="text-01" >
  <tr class="form-border">
  <th style="width: 13%"><%= t('influencer.field.label.number') %></th>
  <th style="width: 60%"><%= t('influencer.field.label.trip')%></th>
  <th><%= t('influencer.field.label.point')%></th>
  </tr>
<tbody>
  <% @data.each do |inf| %>
    <tr >
      <td align="center" style="font-weight: bold;font-size: 16px; color: #035088; padding-top: 5px;" valign="top"><%= inf[0] %></td>
      <td align="left">
        <% trip = Trip.unscoped.find(inf[1]) %>
        <%= render 'shared/trip_summary', :locals => {:trip => trip} %>
      </td>
      <td align="center" class="texthover" valign="top" style="padding-top: 5px;">
        <span ><strong><%= inf[2] %></strong></span>
      </td>
    </tr>
  <% end %>
</tbody>
<tfoot>
  <tr style="background: #FFF;" >
    <% entry_name = t('influencer.label.shared_trip') %>
    <% entry_name = t('influencer.label.shared_trips') if @data.size > 1%>
    <td colspan="3" align="center"><strong><%=  will_paginate @data%><%= page_entries_info @data, :entry_name => entry_name%></strong></td>
  </tr>
</tfoot>
</table>