<% page_title t('trip.index.link') %>
<%= render 'shared/user_sub_menu' %>
<br/>
<div class="content-left">
  <div class="heading-text-orange" style="padding-bottom: 10px;"><%= t('trip.index.link') %></div>
  <table width="100%">
    <tbody class="text-01" id="trips">
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td colspan="3">&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <% if @trips.size > 0 %>
        <% for trip in @trips %>
          <%= render 'trip_row', :locals => {:trip => trip} %>
        <% end %>
      <% else %>
        <i><%= t('trip.index.no_result') %> </i>
      <% end %>
    </tbody>
  </table>
  <div style="text-align: center;">
    <%= will_paginate(@trips, :renderer=>TwitterPagination::LinkRenderer,:id => 'trips_pagination') %>
  </div>
</div>
