<% page_title t('configuration.edit.label') %>
<div id="dashboard">
  <%= render 'dashboard/reminder' %>
  <div class="col4">
    <div id="profileEdit" class="settings">
      <%= form_for(@config) do |f| %>
      <h4><%= t('configuration.label.intro') %><%= render('shared/protected') %></h4>
      <div class="divider"></div>
      <h5><%= t('configuration.label.activity') %></h5>
      <p>
        <%= f.check_box :email_receive_message %>
        <label for=""><%=  t('configuration.field.label.message')%></label>
      </p>
      <p>
        <%= f.check_box :email_receive_trip_comment%>
        <label for=""><%= t('configuration.field.label.trip_comment')%></label>
      </p>
      <p>
        <%= f.check_box :email_receive_seek_comment %>
        <label for=""><%= t('configuration.field.label.seek_comment')%></label>
      </p>
      <p>
        <%= f.check_box :email_receive_reputation %>
        <label for=""><%= t('configuration.field.label.reputation')%></label>
      </p>
      <p>
        <%= f.check_box :email_match_seek %>
        <label for=""><%= t('configuration.field.label.match_seek')%></label>
      </p>
      <p>
        <%= f.check_box :email_match_trip %>
        <label for=""><%= t('configuration.field.label.match_trip')%></label>
      </p>
      <p>
        <%= f.check_box :email_other_trip_comment %>
        <label for=""><%= t('configuration.field.label.other_trip_comment')%></label>
      </p>
      <p>
        <%= f.check_box :email_other_seek_comment %>
        <label for=""><%= t('configuration.field.label.other_seek_comment')%></label>
      </p>
      <br/>
      <h5><%= t('configuration.label.forum') %></h5>
      <p>
        <%= f.check_box :email_topic_post %>
        <label for=""><%= t('configuration.field.label.email_topic_post')%></label>
      </p>
      <p>
        <%= f.check_box :email_quote_post %>
        <label for=""><%= t('configuration.field.label.email_quote_post')%></label>
      </p>
      <br/>
      <p>
        <%= f.submit t('button.update'), :class => 'defaultButton' %><%= link_to t('button.cancel'), dashboard_profile_path, :class => 'cancelLink' %>
      </p>
    <% end %>
    </div>
  </div>
  <%= render 'dashboard/menu' %>
</div>
