@charset "UTF-8";
/* 
	CSS Document for BisTip.com
*/

@import url("styles-reset.css");
@import url("colorbox.css");
@import url("ie-warning.css");

@font-face {
    font-family: 'Aller';
    src: url('../type/aller_bdit-webfont.eot');
    src: url('../type/aller_bdit-webfont.eot?#iefix') format('embedded-opentype'),
        url('../type/aller_bdit-webfont.woff') format('woff'),
        url('../type/aller_bdit-webfont.ttf') format('truetype'),
        url('../type/aller_bdit-webfont.svg#AllerBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'Aller';
    src: url('../type/aller_rg-webfont.eot');
    src: url('../type/aller_rg-webfont.eot?#iefix') format('embedded-opentype'),
        url('../type/aller_rg-webfont.woff') format('woff'),
        url('../type/aller_rg-webfont.ttf') format('truetype'),
        url('../type/aller_rg-webfont.svg#AllerRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Aller';
    src: url('../type/aller_bd-webfont.eot');
    src: url('../type/aller_bd-webfont.eot?#iefix') format('embedded-opentype'),
        url('../type/aller_bd-webfont.woff') format('woff'),
        url('../type/aller_bd-webfont.ttf') format('truetype'),
        url('../type/aller_bd-webfont.svg#AllerBold') format('svg');
    font-weight: bold;
    font-style: normal;

}

/* Colors 

#ffbf00: Yellow
#034e86: Blue

*/

/* General Settings */

html {
    width: 100%;
    min-width: 1000px;
}

body {
    background: #fff;
    width: 100%;
    min-width: 1000px;
    padding: 0px;
    margin: 0px;
    border-top: 5px solid #ffbf00;
    font: 10px/20px Aller, helvetica, arial, sans-serif;
    font-size: 62.5%;
    color: #333;
    text-shadow: 0px 1px 1px rgba(255,255,255,1);
}

a:link, a:visited {
    color: #034e86;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #999;
}

a.divlink:link, a.divlink:visited {
    display: block;
    color: #333;
    font-weight: normal;
}

a.divlink:hover {
    color: #999;
}

a.cancelLink:link, a.cancelLink:visited {
    color: #999;
    margin-left: 10px;
}

a.cancelLink:hover {
    color: #333;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #034e86;
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 19px;
    line-height: 1.3em;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 13px;
}

h6 {
    font-size: 13px;
}

p {
    margin-bottom: 15px;
    line-height: 1.8em;
    font-size: 13px;
}

ul, ol {
    margin-bottom: 15px;
    font-size: 13px;
    padding-left: 40px;
}

ul li {
    list-style-type: disc;
    list-style-position: outside;
}

ol li {
    list-style-type: decimal;
    list-style-position: outside;
}

img {
    vertical-align: middle;
}

blockquote {
    background-color: #fff7de;
    margin: 0px 20px 20px 20px;
    padding: 20px;
    font-size: 13px;
    font-style: italic;
    line-height: 1.8em;
}

strong {
    font-weight: bold;
}

em, cite {
    font-style: italic;
}

small {
    font-size: 0.9em;
}

sup {
    font-size: 0.7em;
    position: relative;
    top: -0.6em;
}

sub {
    font-size: 0.7em;
    position: relative;
    bottom: -0.6em;
}

input[type="text"], input[type="email"], input[type="password"], textarea, select {
    background: #fff;
    padding: 5px 10px;
    border: 1px solid #ccc;
    font-size: 13px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

select {
}

input[type="button"], input[type="submit"] {
    background: #034e86;
    padding: 5px 10px;
    border: 0px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    text-shadow: rgba(255,255,255,1);
    cursor: pointer;
}

input[type="button"]:hover, input[type="submit"]:hover {
    background: #999;
}






/* Additional Classes */

.nomargin {
    margin: 0px;
}

.alignleft {
    float: left;
    margin-right: 20px;
}

.alignright {
    float: right;
    margin-left: 20px;
}

.clear {
    clear: both;
}

.overflow {
    overflow: hidden;
}

hr {
    clear: both;
    margin: 15px 0px;
    border-top: 1px solid #ccc;
    font-size: 1px;
    line-height: 1px;
}

.divider {
    clear: both;
    width: 100%;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.3);
    margin: 20px 0px;
}

.textBlack {
    color: #333;
}

.textGreen {
    color: #2e9401;
}

.textRed {
    color: #d70000;
}

.bgYellow {
    background-color: #ffbf00;
    background-image: url(../images/bg-yellow.png);
    color: #333;
    text-shadow: 0px 1px 1px #fff;
}

.bgLightYellow {
    background-color: #fff7de;
}

.bgLightBlue {
    background-color: #deeef9;
}

.bgGrey {
    background-color: #f4f4f4;
}

.bgBlue {
    background-color: #034e86;
    background-image: url(../images/bg-blue.png);
    color: #fff;
    text-shadow: 0px -2px 2px rgba(0,0,0,1);
}

.bgLightGreen {
    background-color: #eef5ea;
}

.bgLightRed {
    background-color: #ffdfdf;
}

.bgWhite {
    background-color: #fff;
}

a.btnAction:link, a.btnAction:visited,
a.btnActionInv:link, a.btnActionInv:visited {
    padding: 5px 10px;
    color: #000;
    text-decoration: none;
    text-shadow: 0px 1px 1px #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
}

a.btnAction:link, a.btnAction:visited {
    background-color: #ffbf00;
    border: 1px solid #edb201;
}

a.btnActionInv:link, a.btnActionInv:visited {
    background-color: #034e86;
    border: 1px solid #034e86;
}

a.btnAction:hover, a.btnActionInv:hover {
    background-color: #ccc;
    border-color: #bbb;
    text-shadow: none;
}

.largeButton {
    font-size: 22px;
    padding: 10px 20px;
}

.defaultRound {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.defaultShadow {
    -webkit-box-shadow: 0px 4px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 4px 5px rgba(0,0,0,0.3);
    box-shadow: 0px 4px 5px rgba(0,0,0,0.3);
}

span.dashArrow {
    width: 14px;
    height: 16px;
    display: inline-block;
    background: url(../images/arrow-default.png) no-repeat;
    background-position: 0px 3px;
    text-indent: -10000em;
}

span.counter {
    background: #eee;
    color: #999;
    padding: 2px 5px;
    font-size: 12px;
    font-weight: normal;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-shadow: none;
}

span.tip {
    background: url(../images/icon-tip.png) no-repeat;
    width: 16px;
    height: 16px;
    margin: 0px 2px;
    display: inline-block;
    text-indent: -10000em;
}

span.new {
    background: #2e9401;
    margin-left: 5px;
    padding: 2px 4px;
    color: #fff;
    font-size: 10px;
    text-shadow: 0px -1px 1px rgba(0,0,0,0.5);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

a.thumbUp:link, a.thumbUp:visited {
    color: #2e9401;
}

a.thumbDown:link, a.thumbDown:visited {
    color: #d70000;
}

span.thumbUp {
    color: #2e9401;
    font-weight: bold;
}

span.thumbDown {
    color: #d70000;
    font-weight: bold;
}

img.photo {
    border: 2px solid #ffc20d;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.notificationBar {
    background: #eee;
    padding: 10px 20px;
    margin-bottom: 15px;
    font-size: 13px;
    font-weight: bold;
    display: block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.notificationBar.yellow {
    background: #ffbf00 url(../images/icon-not-exclamation.png) 10px 12px no-repeat;
    padding: 10px 20px 10px 35px;
}

.notificationBar.red {
    background: #d70000 url(../images/icon-not-false.png) 10px 12px no-repeat;
    padding: 10px 20px 10px 35px;
    color: #fff;
    text-shadow: 0px -1px 1px rgba(0,0,0,0.5);
}

.notificationBar.green {
    background: #2e9401 url(../images/icon-not-check.png) 10px 12px no-repeat;
    padding: 10px 20px 10px 35px;
    color: #fff;
    text-shadow: 0px -1px 1px rgba(0,0,0,0.5);
}


.pagination {
    margin-top: 10px;
    text-align: center;
}

.pagination .disabled {
    background: #eee;
    display: inline-block;
    margin-right: 2px;
    padding: 2px 5px;
    color: #ccc;
    font-size: 11px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.pagination a:link, .pagination a:visited {
    background: #eee;
    display: inline-block;
    margin-right: 2px;
    padding: 2px 5px;
    font-size: 11px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.pagination a:hover {
    background: #ccc;
}

#feedbackButton {
    position: fixed;
    top: 45%;
    left: 0px;
    z-index: 1000;
    background: url(../images/btn-feedback.png);
    width: 35px;
    height: 100px;
    display: block;
    text-indent: -10000em;
}

#feedbackButton:hover {
    background: url(../images/btn-feedback-hover.png);
}

.adminTools {
    overflow: hidden;
    margin-top: 20px;
    font-size: 11px;
}

.adminTools a:link, .adminTools a:visited {
    background: #eee;
    margin-bottom: 2px;
    padding: 2px 5px;
    border: 1px solid #ccc;
    display: inline-block;
    color: #333;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.adminTools a.delete:link, .adminTools a.delete:visited {
    background: #d70000;
    border-color: #bd0000;
    color: #fff;
    text-shadow: none;
}

.adminTools a:hover, .adminTools a.delete:hover {
    background: #ccc;
    border-color: #ccc;
    color: #333;
}

ol.tips {
    margin: 0px 0px;
    padding: 20px 20px 20px 40px;
    color: #999;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}

ol.tips p {
    margin: 0px 0px 5px 0px;
    color: #333;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
}

.highlight {
    background: #ffbf00;
    padding: 2px 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.iconUser {
    background: url(../images/icon-user-16.png) no-repeat;
    padding-left: 24px;
}

.iconRoute {
    background: url(../images/icon-route-16.png) no-repeat;
    padding-left: 24px;
}

.iconRoute .dashArrow {
    height: 24px;
    background-position-y: 6px;
}

.iconDate {
    background: url(../images/icon-date-16.png) no-repeat;
    padding-left: 24px;
    font-weight: bold;
}

.iconShopping {
    background: url(../images/icon-shopping-16.png) no-repeat;
    padding-left: 24px;
    font-weight: normal;
}

.socialShare {
    height: 200px;
}

.socialShare .twitter {
    float: left;
}

.socialShare .facebook {
    float: left;
}

#similar {
    margin-bottom: 30px;
}

#similar h4 {
    margin-bottom: 20px;
}

#similar .divlink {
    color: #034e86;
    font-weight: bold;
}

#similar .divlink:hover .miniRow {
    opacity: 0.7;
}

.similarRow {
    padding: 10px 15px;
    border-bottom: 1px solid #fff;
    overflow: hidden;
}

/*
		.similarRow .avatar {
			width: 36px;
			float: left;
			}*/

.similarRow .info {
}

.similarRow .info p {
    margin: 0px;
}

/* Layout Settings */


/* Generic Columns 1-12 */

.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
    padding: 20px;
    float: left;
}

.col1 {
    width: 40px;
}

.col2 {
    width: 120px;
}

.col3 {
    width: 200px;
}

.col4 {
    width: 280px;
}

.col5 {
    width: 360px;
}

.col6 {
    width: 440px;
}

.col7 {
    width: 520px;
}

.col8 {
    width: 600px;
}

.col9 {
    width: 680px;
}

.col10 {
    width: 760px;
}

.col11 {
    width: 840px;
}

.col12 {
    width: 920px;
    float: none;
}




/* Header Settings */

header {
    background: #034e86 url(../images/bg-header.png) repeat-x;
    width: 100%;
    min-width: 1000px;
    height: 94px;
    overflow: hidden;
}

header .plc {
    width: 960px;
    margin: 0px auto;
    overflow: hidden;
}

header h1 {
    width: 159px;
    height: 48px;
    float: left;
    display: block;
    margin: 24px 0px 0px 20px;
}

header h1 a {
    background: url("../images/logo.png") no-repeat;
    width: 159px;
    height: 48px;
    display: block;
    text-indent: -10000em;
}

header nav {
    width: 750px;
    float: right;
    margin-top: 30px;
    font-size: 16px;
}

header nav span.welcome {
    display: block;
    float: right;
    padding: 5px 0px;
    color: #ffbf00;
    text-shadow: 0px -2px 2px rgba(0,0,0,1);
}

header nav span.menuDivider {
    width: 0px;
    height: 32px;
    display: block;
    margin: 0px 20px;
    border-right: 1px solid rgba(255,255,255,0.2);
    border-left: 1px solid #034e86;
    float: right;
}

header nav a:link, header nav a:visited {
    color: #fff;
    text-decoration: none;
    float: right;
    margin-left: 20px;
    padding: 5px 0px;
    font-weight: normal;
    text-shadow: 0px -2px 2px rgba(0,0,0,1);
}

header nav a:hover {
    color: #ffbf00;
}

header nav span.notification,
header nav span.inbox,
header nav span.dashboard {
    display: inline-block;
    float: right;
    position: relative;
}

header nav span.counter {
    background: #d70000;
    position: absolute;
    display: block;
    top: -10px;
    right: -10px;
    z-index: 11;
    padding: 0px 3px;
    color: #fff;
    font-size: 9px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

header nav a.navDashboard:link, header nav a.navDashboard:visited {
    background: url(../images/nav-dashboard.png) no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block;
    padding: 0px;
    text-indent: -10000em;
    float: none;
}

header nav a.navInbox:link, header nav a.navInbox:visited {
    background: url(../images/nav-inbox.png) no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block;
    padding: 0px;
    text-indent: -10000em;
    float: none;
}

header nav a.navNotification:link, header nav a.navNotification:visited {
    background: url(../images/nav-notification.png) no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block;
    padding: 0px;
    text-indent: -10000em;
    float: none;
}

header nav a.navDashboard:hover,
header nav a.navInbox:hover,
header nav a.navNotification:hover
{
    background-position: bottom;
}

header nav a.btnAction:link, header nav a.btnAction:visited {
    color: #000;
    padding: 5px 15px;
    font-weight: bold;
    text-shadow: 0px 1px 1px rgba(255,255,255,1);
}


/* Tooltip Settings */

.tooltip {
    background: rgba(0,0,0,0.5);
    color: #fff;
    width: auto;
    display: none;
    margin-top: 10px;
    padding: 2px 5px;
    font-size: 11px;
    text-align: center;
    text-shadow: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/* Secondary Nav Settings */

#secondaryNav {
    background: #444;
    width: 100%;
    min-width: 1000px;
    border-top: 1px solid #666;
    overflow: hidden;
    color: #fff;
}

#secondaryNav .plc {
    width: 960px;
    margin: 0px auto;
    padding: 15px 10px;
    overflow: hidden;
}

#secondaryNav .plc nav {
}

#secondaryNav .plc nav a:link, #secondaryNav .plc nav a:visited {
    color: #fff;
    text-decoration: none;
    float: left;
    margin-left: 20px;
    padding: 5px 0px;
    font-size: 16px;
    font-weight: normal;
    text-shadow: 0px -2px 2px rgba(0,0,0,1);
}

#secondaryNav .plc nav a:hover {
    color: #ffbf00;
}


/* Home Call To Action Section Settings */

#callToAction {
    width: 100%;
    min-width: 1000px;
    overflow: hidden;
    background: #034e86 url(../images/bg-blue.gif);
}

#callToAction .plc {
    width: 960px;
    margin: 0px auto;
    padding: 0px 20px 45px 20px;
    overflow: hidden;
}

#callToAction h2 {
    margin: 30px 0px 20px 0px;
    color: #fff;
    font-size: 34px;
    font-weight: normal;
    text-align: center;
    text-shadow: 0px -2px 2px rgba(0,0,0,1);
}

#callToAction h3.description {
    margin: 0px 0px;
    margin-bottom: 40px;
    color: #ffbf00;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    text-shadow: 0px -2px 2px rgba(0,0,0,1);
}

#callToAction .actionOptions {
    background: url(../images/bg-call-to-action.png) repeat-x;
    width: 370px;
    float: left;
    padding: 30px 0px 40px 0px;
    color: #034e86;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    -webkit-box-shadow: 0 20px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 20px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 20px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

#callToAction .leftSide {
    margin-left: 60px;
}

#callToAction .rightSide {
    margin-right: 60px;
}

#callToAction .actionOptions h3 {
    font-size: 30px;
    line-height: 1em;
    margin-bottom: 35px;
}

#callToAction .actionOptions h4 {
    font-size: 21px;
}

#callToAction .actionOptions h4 img {
    vertical-align: text-bottom;
}

#callToAction .actionOptions .btnAction:link, #callToAction .actionOptions .btnAction:visited {
    color: #000;
    padding: 8px 20px 8px 40px;
}

#callToAction .actionOptions .btnAction:hover {
    background-color: #ccc;
    color: #000;
}

#callToAction .actionOptions .btnPost {
    background: #ffbf00 url(../images/icon-route-22.png) no-repeat;
    background-position: 10px 10px;
}

#callToAction .actionOptions .btnSearch {
    background: #ffbf00 url(../images/icon-search-22.png) no-repeat;
    background-position: 10px 10px;
}

#callToAction .actionOr {
    width: 100px;
    float: left;
    margin-top: 80px;
    color: #023053;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 1px 2px rgba(255,255,255,0.5);
}



.howItWorks {
    background: url(../images/illustration/bg-how-it-works.png) center center no-repeat;
    overflow: hidden;
    margin-top: -10px;
    margin-bottom: 30px;
    padding-left: 100px;
}

.howItWorks img {
    float: left;
}

.howItWorks h4 {
    float: left;
    width: 190px;
    margin-top: 10px;
    color: #fff;
    text-align: center;
    text-shadow: 0px -2px 2px rgba(0,0,0,1);
}

#callToAction .actionOptions.small {
    padding: 15px 0px 30px 0px;
}

#callToAction .actionOptions.small h3 {
    font-size: 20px;
}

#callToAction .actionOr.small {
    margin-top: 50px;
}

/* Popular Items Bar Settings */

#popularItems {
    background: #ffbf00 url(../images/bg-yellow.png);
    width: 100%;
    min-width: 1000px;
}

#popularItems h3 {
    background: url(../images/bg-divider-shade.png) top no-repeat;
    width: 960px;
    margin: 0px auto;
    padding: 18px 20px;
    overflow: hidden;
    color: #000;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
}

#popularItems a:link, #popularItems a:visited {
    background: #ffa600;
    display: inline-block;
    padding: 5px 8px;
    color: #000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#popularItems a:hover {
    background: #999;
}




/* Home Secondary Contents Settings */

#homeSecondary {
    background: #fff7de;
    width: 100%;
    min-width: 1000px;
    border-bottom: 1px solid #ccc;
}

#homeSecondary .plc {
    background: url(../images/bg-divider-shade.png) top no-repeat;
    width: 960px;
    margin: 0px auto;
    padding: 20px 20px;
    overflow: hidden;
}

#homeSecondary h3 {
    margin-bottom: 20px;
    color: #000;
    font-size: 22px;
    text-align: center;
}

#homeSecondary .col6 {
    width: 480px;
    padding: 0px;
}

#homeSecondary .col6:last-child {
    width: 479px;
    border-left: 1px solid #ddd;
}

/* Route Cloud Settings */

#routeCloud {
    font-size: 13px;
    text-align: center;
    line-height: 1.5em;
}

#routeCloud a {
    font-weight: normal;
    display: inline-block;
    margin: 5px 10px;
}

#routeCloud .selected {
    background: #ffbf00;
    padding: 10px;
    border: 1px solid #edb201;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/* Bistipers Scroll Settings */

#homeSecondary #bistiperScrollplc {
    width: 440px;
    height: 300px;
    margin: 0px auto;
    overflow: hidden;
}

#bistiperScroll {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.bistiperRow {
    width: 420px;
    height: auto;
    overflow: hidden;
    margin: 0px 0px;
    padding: 0px;
    font-size: 14px;
}

.bistiperRow .divlink {
    display: block;
    color: #333;
}

#homeSecondary .bistiperRow {
    height: 100px;
}

.bistiperRow div.bistiperPlc {
    background: #fffdf5;
    margin-bottom: 10px;
    border: 1px solid #ece7d9;
    padding: 9px;
    overflow: hidden;
}

.bistiperRow .divlink .bistiperPlc {
    color: #034e86;
}

.bistiperRow .divlink:hover .bistiperPlc {
    opacity: 0.7;
}

.bistiperRow .avatar {
    width: 68px;
    float: left;
    margin-right: 15px;
}

.bistiperRow .info {
    width: 250px;
    float: left;
}

.bistiperRow .info h5, .bistiperRow .info p {
    font-size: 14px;
    margin: 0px;
}

.bistiperRow .info img {
    vertical-align: baseline;
}						

.bistiperRow .tools {
    width: 60px;
    float: right;
    text-align: right;
}

.bistiperRow .tools a.thumbUp {
    color: #2e9401;
}

.bistiperRow .tools a.thumbDown {
    color: #d70000;
}

.bistiperRow .notes {
    clear: both;
    padding-top: 15px;
}


/* Home Tertiary Contents Settings */

#homeTertiary {
    background: #eee url(../images/bg-grey.png);
    width: 100%;
    min-width: 1000px;
    color: #333;
}

#homeTertiary .plc {
    background: url(../images/bg-divider-shade.png) top no-repeat;
    width: 960px;
    margin: 0px auto;
    padding: 20px 20px;
}

#homeTertiary .plc .lines {
    width: 960px;
    background: url(../images/bg-lines.png) repeat-y;
}

#homeTertiary .plc em {
    color: #333;
}

#homeTertiary h4 {
    margin-bottom: 15px;
    font-size: 18px;
}


/* Contents Settings */

#contents {
    background-image: url(../images/bg-divider-shade.png);
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
    min-width: 1000px;
    overflow: hidden;
    border-bottom: 1px solid #eee;
}

#contents .plc {
    width: 960px;
    margin: 0px auto;
    padding: 20px 20px 40px 20px;
    overflow: hidden;
}

#contents h2 {
    font-size: 30px;
    margin-bottom: 30px;
}

#contents h3 {
    margin-bottom: 20px;
}



/* Registration Page Settings */

#registration {
}

#registration label {
    display: block;
}

#registration input[type="text"], #registration input[type="email"], #registration input[type="password"] {
    font-size: 16px;
    padding: 5px;
    width: 430px;
    border: 1px solid #ccc;
}

#registration input[type="password"] {
    width: 205px;
}

#registration input[type="checkbox"] {
    margin-right: 10px;
    margin-bottom: 40px;
    display: inline-block;
    float: left;
}

#registration input[type="submit"] {
    font-size: 22px;
    background: #034e86;
    color: #fff;
    padding: 10px 20px;
}

#registration input[type="submit"]:hover {
    background: #999;
}

.signUpTwitter:link, .signUpTwitter:visited {
    width: 150px;
    height: 22px;
    display: inline-block;
    text-indent: -10000em;
    background: url(../images/signin-twitter.png) top no-repeat;
}

.signUpFacebook:link, .signUpFacebook:visited {
    width: 150px;
    height: 22px;
    display: inline-block;
    text-indent: -10000em;
    background: url(../images/signin-facebook.png) top no-repeat;
}

.signUpTwitter:hover, .signUpFacebook:hover {
    background-position: 0px -24px;
}

.signUpTwitter:active, .signUpFacebook:active {
    background-position: 0px -48px;
}









/* View Route Settings */

#viewRoute {
    width: 600px;
}

#viewRoute .avatar {
    width: 88px;
    float: left;
    text-align: center;
}

#viewRoute .avatar h5 {
    margin-top: 5px;
}

#viewRoute .avatar .tools {
    margin-top: 10px;
    font-size: 13px;
}


#viewRoute .info {
    width: 490px;
    float: right;
    word-wrap: break-word;
}

#viewRoute .info .btnAction {
    font-size: 16px;
}



#viewRoute .info p {
    font-size: 13px;
}

#viewRoute .info p img {
    vertical-align: baseline;
}

#comments {
    padding: 19px;
    margin-top: 20px;
    border: 1px solid #eee;
    overflow: hidden;
}

#comments .commentRow:last-child {
    border: none;
}

.commentRow {
    width: 560px;
    overflow: hidden;
    padding: 20px 0px 15px 0px;
    border-bottom: 1px solid #eee;
}

.commentRow .avatar {
    width: 68px;
    float: left;
}

.commentRow .tools {
    width: 68px;
    margin-top: 5px;
    margin-right: 20px;
    padding: 0px;
    font-size: 10px;
    text-align: center;
}

.commentRow .info {
    width: 450px;
    padding-right: 20px;
    float: right;
    word-wrap: break-word;
}

.commentRow .info h5 span {
    color: #999;
    font-style: italic;
    font-weight: normal;
}

#postComment {
    margin-top: 30px;
}

#postComment h4 {
    margin-bottom: 15px;
}







/* Post New Route Settings */

#postNewRoute {
    overflow: hidden;
    margin-top: 30px;
}

#postNewRoute label {
    display: block;
}

#postNewRoute input[type="text"], #postNewRoute input[type="email"], #postNewRoute input[type="password"] {
    font-size: 16px;
    padding: 5px;
    width: 500px;
    border: 1px solid #ccc;
}

#postNewRoute input[type="submit"] {
    font-size: 22px;
    background: #034e86;
    color: #fff;
    padding: 10px 20px;
}

#postNewRoute input[type="submit"]:hover {
    background: #999;
}

#postNewRoute .items {
    font-size: 13px;
}

#postNewRoute .items .header {
    color: #333;
    font-style: italic;
    overflow: hidden;
}

#postNewRoute .items .header label:first-child {
    width: 240px;
    float: left;
}

#postNewRoute .items .header label:last-child {
    float: left;
}

#postNewRoute .items .itemsRow input[type="text"]:first-child {
    width: 200px;
    margin-right: 20px;
}

#postNewRoute .items .itemsRow input[type="text"]:nth-child(3) {
    width: 100px;
    margin-right: 20px;
}

#postNewRoute .items a.remove:link, #postNewRoute .items a.remove:visited {
    padding-right: 16px;
    display: inline-block;
    color: #d70000;
    font-size: 15px;
    font-weight: bold;
}

#postNewRoute .items a.remove:hover {
    color: #999;
}

#postNewRoute a.add:link, #postNewRoute a.add:visited {
    background: url(../images/icon-add.png) right no-repeat;
    padding-right: 16px;
    display: inline-block;
    color: #2e9401;
    font-size: 12px;
    font-weight: bold;
}

#postNewRoute a.add:hover {
    color: #999;
}










/* Search Settings */

#searchRoute {
    overflow: hidden;
    margin-top: 20px;
}

#searchRoute label {
    display: block;
}

#searchRoute input[type="text"], #searchRoute input[type="email"], #searchRoute input[type="password"] {
    font-size: 16px;
    padding: 5px;
    width: 500px;
    border: 1px solid #ccc;
}

#searchRoute input[type="submit"] {
    font-size: 22px;
    background: #034e86;
    color: #fff;
    padding: 10px 20px;
}

#searchRoute input[type="submit"]:hover {
    background: #999;
}

#searchResults {
    margin-top: 20px;
    overflow: hidden;
}

#searchResults h4 {
    margin-bottom: 20px;
}

#searchResults .incoming_trips{
    font-size: 14px;
}




/* Inbox Settings */

#inbox { /* width: 680px; */
}

#inbox h2 {
    margin-bottom: 0px;
}

#inbox .divlink {
    border-bottom: 1px solid #ccc;
}

#inbox .navBack {
    margin-bottom: 20px;
}

#inbox .navBack:last-child {
    margin-top: 40px;
    margin-bottom: 0px;
}

.inboxRow {
    width: 650px;
    padding: 15px;
    border-bottom: 1px solid #eee;
    overflow: hidden;
    display: block;
}

.inboxRow.unread {
    background: #eff8ff;
    font-weight: bold;
}

#inbox .divlink:last-child {
    border: none;
}

#inbox .inboxRow:last-child {
    border: none;
}

.inboxRow .avatar {
    width: 52px;
    float: left;
    margin-right: 20px;
    overflow: hidden;
}

.inboxRow .message {
    width: 570px;
    float: left;
    overflow: hidden;
}

.inboxRow .message h5 {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}

.inboxRow .message span.date {
    color: #999;
    font-style: italic;
    font-weight: normal;
    margin-left: 10px;
    float: right;
}

.inboxRow .tools {
    width: 1px;
    float: left;
    overflow: hidden;
}

#inbox .divlink:hover .inboxRow {
    opacity: 0.7;
    color: #333;
}

#inbox.conversation h4 {
    margin-bottom: 10px;
}

#inbox.conversation h4 span {
    color: #333;
    font-weight: normal;
}

#inbox.conversation .inboxRow {
    border: none;
    margin-bottom: 5px;
}

#inbox.conversation .inboxRow.alt {
    background: #f4f4f4;
}

#inbox.conversation .inboxRow.alt .avatar {
    float: right;
    margin-left: 20px;
    margin-right: 0px;
}

#inbox.conversation .inboxRow.alt .message h5 {
    border-bottom: 1px solid #ddd;
}

#inbox.conversation .inboxRow.alt .tools {
    float: left;
}

#inbox.conversation .inboxRow:last-child {
    border: none;
}



/* Media Coverage Bar Settings */

#mediaCoverage {
    background: #e8e8e8;
    width: 100%;
    min-width: 960px;
    border-bottom: 1px solid #ccc;
}

#mediaCoverage .plc {
    width: 960px;
    margin: 0px auto;
    padding: 20px 20px;
    overflow: hidden;
    text-align: center;
}



/* Footer Settings */

footer {
    background: #fff;
    width: 100%;
    min-width: 1000px;
    font-size: 12px;
    color: #999;
}

footer .plc {
    background: url(../images/bg-divider-shade.png) top no-repeat;
    width: 960px;
    margin: 0px auto;
    padding: 20px 20px;
    overflow: hidden;
}

footer img {
    vertical-align: baseline;
}

/* Footer Leftside Settings */
footer .left {
    width: 480px;
    float: left;
}

/* Footer Rightside Settings */
footer .right {
    width: 480px;
    float: right;
    text-align: right;
}




/* Tabbed Sub-Navigation Settings */

#tabNav {
    width: 920px;
    padding: 0px 20px;
    padding-bottom: 36px;
    border-bottom: 1px solid #ccc;
    margin-left: -20px;
}

#tabNav a:link, #tabNav a:visited {
    height: 25px;
    background: #ccc;
    display: inline;
    float: left;
    margin-right: 2px;
    padding: 5px 15px;
    border: 1px solid #ccc;
    color: #999;
    font-size: 16px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#tabNav a.selected:link, #tabNav a.selected:visited {
    background: #fff;
    border: 1px solid #ccc;
    border-bottom: 1px solid #fff;
    color: #034e86;
}

#tabNav a:hover {
    background: #eee;
    color: #666;
    border-bottom: 1px solid #ccc;
}












/* Static Page Settings */

nav.static {
    padding: 10px 0px;
    border-right: 1px solid #eee;
    font-size: 13px;
}

nav.static a:link, nav.static a:visited {
    display: block;
    margin-bottom: 2px;
    padding: 10px 20px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

nav.static a:hover, nav.static a.selected {
    background: #eee;
}







/* User Profile Settings */

span.memberDate {
    color: #999;
    font-size: 13px;
    font-style: italic;
    font-weight: normal;
}

#viewProfile {
    width: 680px;
    overflow: hidden;
}

#viewProfile .avatar {
    width: 132px;
    float: left;
    text-align: center;
}

#viewProfile .tools {
    margin-top: 10px;
    font-size: 13px;
}


#viewProfile .info {
    width: 506px;
    float: right;
    word-wrap: break-word;
}

#viewProfile .info p {
    font-weight: bold;
    margin-bottom: 10px;
}

#viewProfile .info p.bio {
    font-weight: normal;
}

#viewProfile .info .btnAction {
    font-size: 16px;
}

#viewProfile label {
    width: 120px;
    float: left;
    font-weight: normal;
}

.userRoute {
}

.reputation {
    margin-top: 20px;
    overflow: hidden;
}

.reputation .reputationRow:last-child {
    margin-bottom: 0px;
}

.reputationRow {
    background: #fafafa;
    width: 394px;
    overflow: hidden;
    margin-bottom: 5px;
    padding: 10px 20px;
    border: 1px solid #eee;
}

.reputation.good .reputationRow {
    border-left: 5px solid #2e9401;
}

.reputation.bad .reputationRow {
    border-right: 5px solid #d70000;
}

.reputationRow .avatar {
    width: 52px;
    margin-right: 20px;
    float: left;
}

.reputationRow .info {
    width: 320px;
    float: left;
    word-wrap: break-word;
}

.reputationRow .info h5 span {
    color: #999;
    font-style: italic;
    font-weight: normal;
}
















.infoBlock {
    width: 490px;
    margin-bottom: 10px;
    overflow: hidden;
}

.infoBlock.old {
    position: relative;
}

.infoBlock.old .oldinfo {
    position: absolute;
    display: block;
    right: 10px;
    top: 0px;
    background: #d70000;
    background-position: right top;
    width: 80px;
    height: 20px;
    padding: 5px 10px;
    border-top: 2px solid #b10000;
    color: #fff;
    font-size: 11px;
    line-height: 1.5em;
    text-align: center;
    text-shadow: 0px -1px 1px rgba(0,0,0,0.5);
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.7);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.7);
}

.infoBlock.old.mid .oldinfo { /* Added on 2011/08/08 */
    right: 2%;
}

.routeDisplay {
    background-image: url(../images/icon-route-22-white.png);
    background-repeat: no-repeat;
    background-position: 20px center;
    padding: 15px 20px;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0px -2px 2px rgba(0,0,0,1);
    overflow: hidden;
}

.routeDisplay img {
    vertical-align: baseline;
}

.routeDisplay .from {
    display: inline-block;
    float: left;
}

.routeDisplay .fromFlag {
    width: 20px;
    margin-left: 35px;
    padding-right: 10px;
    float: left;
    text-align: center;
}

.routeDisplay .arrow {
    background: url(../images/arrow-white.png) no-repeat;
    background-position: center center;
    text-indent: -10000em;
    width: 30px;
    float: left;
}

.routeDisplay .to {
    display: inline-block;
    float: left;
}

.routeDisplay .toFlag {
    width: 20px;
    padding-right: 10px;
    float: left;
    text-align: center;
}

.periodDisplay {
    background-image: url(../images/icon-date-22.png);
    background-repeat: no-repeat;
    background-position: 20px 10px;
    padding: 10px 20px 10px 55px;
    border-top: 1px solid #fff7de;
    font-size: 18px;
}

.periodDisplay span.arrivalDate {
    font-size: 12px;
}

.periodDisplay span.weekDays {
    font-size: 12px;
}

.offerDisplay {
    background-image: url(../images/icon-shopping-22.png);
    background-repeat: no-repeat;
    background-position: 20px 10px;
    padding: 8px 20px 8px 55px;
    border-top: 1px solid #fff7de;
    font-size: 13px;
}

.offerDisplay em {
    color: #999;
}





.infoBlock.mid {
    width: 600px;
    margin-bottom: 5px;
    overflow: hidden;
}

#searchResults .infoBlock.mid {
    overflow: hidden;
}

#searchResults.dashboard .infoBlock.mid {
    width: 640px;
    overflow: hidden;
}

#searchResults .infoBlock.mid .left {
    width: 76px;
    float: left;
    text-align: center;
    font-size: 13px;
    overflow: hidden;
}

#searchResults .infoBlock.mid .left .avatar {
    float: left;
    width: 76px;
}

#searchResults .infoBlock.mid .left h5 {
    margin-top: 5px;
    color: #034e86;
}

#searchResults .infoBlock.mid .left .tools {
    width: 76px;
    margin-top: 5px;
    display: block;
    float: left;
    font-size: 11px;
}

#searchResults .infoBlock.mid .right {
    width: 505px;
    float: right;
}

#searchResults.dashboard .infoBlock.mid .right {
    width: 545px;
}

#searchResults.dashboard.activity .infoBlock.mid .right {
    width: 640px;
}

#searchResults.dashboard.activity .activityWrap {
    overflow: hidden;
}

#searchResults.dashboard.activity .activityWrap .oldinfo { /* Added on 2011/08/08 */
    right: 31%;
}
#searchResults.dashboard.activity .activityWrap a.infoBlockLink {
    float: left;
    width: 450px;
}

#searchResults.dashboard.activity .activityWrap .tools {
    float: right;
    width: 170px;
    padding-top: 5px;
}

#searchResults.dashboard.activity .activityWrap .tools .adminTools {
    margin: 0px;
}

.infoBlock.mid .routeDisplay {
    font-size: 13px;
    background-image: url(../images/icon-route-16-white.png);
    background-position-x: 15px;
    padding: 8px 15px;
    text-shadow: 0px -1px 1px rgba(0,0,0,1);
}

.infoBlock.mid .routeDisplay .fromFlag {
    margin-left: 25px;
}

.infoBlock.mid .periodDisplay {
    font-size: 13px;
    background-image: url(../images/icon-date-16.png);
    background-position-x: 15px;
    padding: 8px 15px 8px 40px;
}

.infoBlock.mid .offerDisplay {
    background-image: url(../images/icon-shopping-16.png);
    background-position-x: 15px;
    padding: 8px 15px 8px 40px;
    color: #333;
}

.infoBlock.mid .notesDisplay {
    padding: 8px 15px;
    font-weight: normal;
}

.infoBlock.mid .notesDisplay p {
    margin: 0px;
}

a.infoBlockLink {
    display: block;
    clear: both;
    margin-bottom: 10px;
    overflow: hidden;
}

a.infoBlockLink .infoBlock {
    color: #333;
}

a.infoBlockLink .infoBlock .offerDisplay {
    font-weight: normal;
}

a.infoBlockLink:hover .infoBlock {
    opacity: 0.7;
}













/* Dashboard Settings */

#dashboard {
    background: url(../images/bg-dashboard.png) repeat-y;
    overflow: hidden;
}

#dashboard .col9 {
}

#dashboard .dashboardPlc {
    padding: 20px;
}

#dashboardMenu {
}

#dashboardMenu a:link, #dashboardMenu a:visited {
    background: #ccc;
    display: block;
    margin-right: 0px;
    margin-bottom: 2px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    color: #999;
    font-size: 16px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#dashboardMenu a.selected:link, #dashboardMenu a.selected:visited {
    background: #fff;
    border: 1px solid #ccc;
    border-right: 1px solid #fff;
    color: #034e86;
}

#dashboardMenu a:hover {
    background: #eee;
    color: #666;
    border-bottom: 1px solid #ccc;
}

#dashboardMenu .submenu {
    padding: 10px 0px 20px 30px;
}

#dashboardMenu .submenu a:link, #dashboardMenu .submenu a:visited {
    background: none;
    padding: 0px 0px;
    border: none;
    color: #034e86;
    font-size: 13px;
}

#dashboardMenu .submenu a:hover {
    color: #999;
}

#dashboard .reputationRow {
    width: 285px;
}

#dashboard .reputationRow .info {
    width: 210px;
}



#profileEdit label {
    display: inline-block;
    float: left;
    width: 120px;
    padding-top: 7px;
}

#profileEdit.password label {
    width: 170px;
}

#profileEdit.settings label {
    padding: 0px;
    width: 420px;
    float: none;
}

#profileEdit input[type="text"], #profileEdit input[type="file"], #profileEdit input[type="email"], #profileEdit input[type="password"] {
    font-size: 16px;
    padding: 5px;
    width: 400px;
    border: 1px solid #ccc;
}

#profileEdit.password input[type="password"] {
    width: 200px;
}

#profileEdit textarea {
    width: 400px;
    height: 100px;
}

#profileEdit input[type="submit"] {
    font-size: 14px;
    background: #034e86;
    color: #fff;
    padding: 10px 20px;
}

#profileEdit input[type="submit"]:hover {
    background: #999;
}


#influencerPoint {
}

#influencerPoint .infoBlock {
    width: 640px;
    overflow: hidden;
}

#influencerPoint .infoBlock .left {
    width: 76px;
    float: left;
    margin-right: 20px;
    overflow: hidden;
}


#influencerPoint .infoBlock.mid .left .avatar {
    float: left;
    width: 76px;
}

#influencerPoint .infoBlock.mid .left h5 {
    margin-top: 5px;
    color: #034e86;
    text-align: center;
}

#influencerPoint .infoBlock.mid .left .tools {
    width: 76px;
    margin-top: 5px;
    text-align: center;
    font-size: 11px;
}

#influencerPoint .infoBlock .right {
    width: 450px;
    float: left;
    overflow: hidden;
}

#influencerPoint .infoBlock .pointDisplay {
    float: right;
    padding: 15px 15px 10px 15px;
    overflow: hidden;
    font-size: 36px;
    text-align: center;
}

#influencerPoint .infoBlock .pointDisplay span {
    clear: both;
    display: block;
    margin: 5px 0px 0px 0px;
    font-size: 13px;
}

/* Animations */

a, .infoBlock, .inboxRow, .bistiperPlc, .similarRow, #feedbackButton {
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

nav a {
    -webkit-transition: color .2s ease-out;
    -moz-transition: color .2s ease-out;
    -o-transition: color .2s ease-out;
    transition: color .2s ease-out;
}

nav.static a {
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

#tabNav a {
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

a.signUpTwitter, a.signUpFacebook {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

#postNewMessage {
    overflow: hidden;
    margin-top: 10px;
}

#postNewMessage label {
    display: block;
}

#postNewMessage input[type="text"], #postNewMessage textarea {
    font-size: 16px;
    padding: 5px;
    width: 500px;
    border: 1px solid #ccc;
}

#postNewMessage input[type="submit"] {
    background: none repeat scroll 0 0 #034E86;
    color: #FFFFFF;
    font-size: 22px;
    padding: 10px 20px;
}

#postComment textarea {
    font-size: 16px;
    padding: 5px;
    width: 500px;
    border: 1px solid #ccc;
}

#feedback label {
    display: block;
}

#feedback input[type="text"], #feedback textarea {
    font-size: 16px;
    padding: 5px;
    width: 500px;
    border: 1px solid #ccc;
}

#feedback input[type="submit"] {
    background: none repeat scroll 0 0 #034E86;
    color: #FFFFFF;
    font-size: 22px;
    padding: 10px 20px;
}

#login label {
    display: inline-block;
    float: left;
    padding-top: 7px;
    width: 180px;
}

#login input[type="text"], input[type="password"] {
    font-size: 16px;
    padding: 5px;
    width: 240px;
    border: 1px solid #ccc;
}

#login input[type="submit"] {
    background: none repeat scroll 0 0 #034E86;
    color: #FFFFFF;
    font-size: 22px;
    padding: 10px 20px;
}

#resetPassword h4 {
    padding-bottom: 20px;
}

#resetPassword label {
    display: inline-block;
    float: left;
    padding-top: 7px;
    width: 180px;
}

#resetPassword input[type="text"] {
    font-size: 16px;
    padding: 5px;
    width: 240px;
    border: 1px solid #ccc;
}

#resetPassword input[type="submit"] {
    background: none repeat scroll 0 0 #034E86;
    color: #FFFFFF;
    font-size: 14px;
    padding: 10px 20px;
}

#resetEditPassword h4 {
    padding-bottom: 20px;
}

#resetEditPassword label {
    display: inline-block;
    float: left;
    padding-top: 7px;
    width: 180px;
}

#resetEditPassword input[type="text"] {
    font-size: 16px;
    padding: 5px;
    width: 240px;
    border: 1px solid #ccc;
}

#resetEditPassword input[type="submit"] {
    background: none repeat scroll 0 0 #034E86;
    color: #FFFFFF;
    font-size: 14px;
    padding: 10px 20px;
}

#postReputation h4 {
    padding-bottom: 20px;
}

#postReputation label {
    display: block;
    padding-top: 7px;
    width: 180px;
}

#postReputation input[type="text"], #postReputation textarea {
    font-size: 13px;
    padding: 5px;
    border: 1px solid #ccc;
}

#postReputation input[type="submit"] {
    background: none repeat scroll 0 0 #034E86;
    color: #FFFFFF;
    font-size: 14px;
    padding: 10px 20px;
}

.facebook-login {
    background-color: transparent;
    display: inline;
    border: 0 none;
    cursor: pointer;
    padding: 0px;
}

.locationField{
    width: 230px;
}

.px270{
    width: 270px;
}

#horizontalBullets ul, #horizontalBullets li{
    display: inline;
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}

.share_buttons {
    background: url(/images/share-icon.gif) center left no-repeat;
    background-color: hsl(0, 0%, 100%);

    border: 1px solid hsl(0, 0%, 82%);
    border-bottom: 2px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    padding-left: 50px;
}

#load_buttons_box {

    border: 1px solid hsl(0, 0%, 82%);
    border-bottom: 2px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    background-color: hsl(0, 0%, 100%);
    height: 100px;
    margin-top: 19px;
    display: none;
    padding-left: 30px;
    width: 290px;
}

.share_buttons:hover, .facebook_button:hover, .twitter_button:hover, .buzz_button:hover, .bebo_button:hover, .stumbleupon_button:hover {
    -moz-box-shadow: 1px 0.5px 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 1px 0.5px 4px rgba(0, 0, 0, 0.4);
}

.share_buttons:active{

}

.mesgbox {
    padding-left: 25px;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 20px;
    width: 220px;
    float: left
}

.close {
    border: solid #666666 1px;
    position: relative;
    vertical-align: top;
    float: left;
    width: 20px;
    margin-top: 6px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: hsl(0, 100%, 50%);
    cursor: pointer;
}

.textBox {
    height: 22px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 600;
}

.textBox label {
    cursor: pointer;
}

.recaptcha {
    padding-bottom: 20px;
}

.underlineText {
    text-decoration: underline;
}

/* BEGIN USER SEARCH RESULT */
#userSearch #userScrollplc {
    width: 440px;
    height: 300px;
    margin: 0px auto;
    overflow: hidden;
}

#userScroll {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.userRow {
    width: 420px;
    height: auto;
    overflow: hidden;
    margin: 0px 0px;
    padding: 0px;
    font-size: 14px;
}

.userRow .divlink {
    display: block;
    color: #333;
}

#userSearch .userRow {
    height: 100px;
}

.userRow div.userPlc {
    background: #fffdf5;
    margin-bottom: 10px;
    border: 1px solid #ece7d9;
    padding: 9px;
    overflow: hidden;
}

.userRow .divlink .userPlc {
    color: #034e86;
}

.userRow .divlink:hover .userPlc {
    opacity: 0.7;
}

.userRow .avatar {
    width: 68px;
    float: left;
    margin-right: 15px;
}

.userRow .info {
    width: 250px;
    float: left;
}

.userRow .info h5, .userRow .info p {
    font-size: 14px;
    margin: 0px;
}

.userRow .info img {
    vertical-align: baseline;
}

.userRow .tools {
    width: 60px;
    float: right;
    text-align: right;
}

.userRow .tools a.thumbUp {
    color: #2e9401;
}

.userRow .tools a.thumbDown {
    color: #d70000;
}

/* END OF USER SEARCH RESULT */

/* overrride jquery UI css */
.ui-menu-item {
    list-style: none outside none;
}


.StaticTable
{
    background:#fff;

}
.StaticTable ul
{
    float:left;
    margin:0;
    padding:0;
    border:1px solid #fff;
}

.StaticTable ul li
{
    list-style:none;
    padding:5px 10px;
}

.StaticTable ul li.title
{
    font-weight:bold;
    background:#eee;
    color:#000;
}

.paginationMorePlaceholder {
    text-align: center
}

#viewNotifications h2 {
    margin-bottom: 0px;
}

.notificationRow {
    width: 650px;
    padding: 15px;
    overflow: hidden;
    display: block;
}

.notificationRow .avatar {
    width: 52px;
    float: left;
    margin-right: 20px;
    overflow: hidden;
}

.notificationRow .message {
    width: 570px;
    float: left;
    overflow: hidden;
}

.notificationRow .message h5 {
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}

.notificationRow .message span.date {
    color: #999;
    font-style: italic;
    font-weight: normal;
}

#viewWanted {
    width: 600px;
}
#viewWanted .avatar {
    float: left;
    text-align: center;
    width: 88px;
}
#viewWanted .avatar h5 {
    margin-top: 5px;
}
#viewWanted .avatar .tools {
    font-size: 13px;
    margin-top: 10px;
}
#viewWanted .info {
    float: right;
    width: 490px;
}
#viewWanted .info .btnAction {
    font-size: 16px;
}
#viewWanted .info p {
    font-size: 13px;
}
#viewWanted .info p img {
    vertical-align: baseline;
}

.routeDisplay .fromAnywhere {
    display: inline-block;
    float: left;
    margin-left: 35px;
}

.commentRow .adminTools {
    float: right;
    font-size: 11px;
    overflow: hidden;
}

#match {
    margin-bottom: 30px;
}

#match h4 {
    margin-bottom: 20px;
}
#match .divlink {
    color: #034E86;
    font-weight: bold;
}
#match .divlink:hover .miniRow {
    opacity: 0.7;
}
.miniRow {
    border-bottom: 1px solid #FFFFFF;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 10px 15px;
}
.miniRow .info {
}
.miniRow .info p {
    margin: 0;
}

#matchList {
    margin-top: 20px;
}

.dividerZero {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(0, 0, 0, 0.0);
    clear: both;
    margin: 20px 0;
    width: 100%;
}

#searchResults .btnAction {
    font-size: 16px;
}

#searchRoute .btnSearch, #searchUser .btnSearch, #searchSeek .btnSearch{
    font-size: 18px;
    background: #034e86;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    text-shadow: 0px 1px 1px #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
}

#searchUser label {
    display: block;
}

#searchUser input[type="text"] {
    font-size: 16px;
    padding: 5px;
    width: 270px;
    border: 1px solid #ccc;
}

#searchSeek {
    overflow: hidden;
    margin-top: 30px;
}

#searchSeek label {
    display: block;
}

#searchSeek input[type="text"], #searchRoute input[type="email"], #searchRoute input[type="password"] {
    font-size: 16px;
    padding: 5px;
    width: 500px;
    border: 1px solid #ccc;
}

#searchSeek input[type="submit"] {
    font-size: 22px;
    background: #034e86;
    color: #fff;
    padding: 10px 20px;
}

#searchSeek input[type="submit"]:hover {
    background: #999;
}
.alignCenter {
    text-align: center;
}

#influencerPoint .infoBlock .pointDisplayFloatLeft {
    float: left;
    padding: 15px 15px 10px 15px;
    overflow: hidden;
    font-size: 36px;
    text-align: center;
}
#influencerPoint .infoBlock .pointDisplayFloatLeft span {
    clear: both;
    display: block;
    margin: 5px 0px 0px 0px;
    font-size: 13px;
}

#influencerPoint .userRow {
    width: 420px;
    height: auto;
    overflow: hidden;
    margin: 0px 0px;
    padding: 0px;
    font-size: 14px;
    float: left;
}

#dashboard_activity .btnAction{
    font-size: 10.5px;
}

#tooltip{
    position:absolute;
    background: url(/images/info.png) center left no-repeat;
    background-color: #DDD;
    padding-left: 40px;
    padding-right:20px;
    padding-bottom: 20px;
    padding-top: 20px;
    background-position: 10px;
    opacity:0.9;
    -moz-border-radius:3px;border-radius:3px;-webkit-border-radius:3px;
    font-size:10px;
    font-weight: bold;
    display:none;
    max-width: 300px;
}

#applyInsurance label {
    float: left;
    width: 120px;
}

#applyInsurance input[type="text"] {
    font-size: 16px;
    padding: 5px;
    width: 400px;
    border: 1px solid #ccc;
}

#applyInsurance textarea {
    width: 400px;
    height: 100px;
}

#registered {
    background: #ffbf00 url(../images/bg-yellow.png);
    width: 100%;
    min-width: 1000px;
}

#registered .textBlack {
    color: #333;
    padding: 10px 0px 0px 10px;
    text-shadow: 0px 0px 0px rgba(255,255,255,0.5);
}

#registered .textWhite {
    color: #EEE;
    padding: 10px 0px 0px 10px;
    text-shadow: 0px 0px 0px rgba(255,255,255,0.5);
}

#registered p {
    width: 960px;
    margin: 0px auto;
    padding: 0px 20px;
    overflow: hidden;
    color: #000;
    font-size: 18px;
    font-weight: normal;
}

#registered .toAction {
    width: 100%;
    min-width: 1000px;
    overflow: hidden;
    background: #034e86 url(../images/bg-blue.gif);
}

#registered .recommendation{
    padding-left: 10px;
}
#registered .plc {
    width: 960px;
    margin: auto auto;
    padding: 30px 20px 45px 20px;
    overflow: hidden;
}

#registered .toAction h2 {
    margin: 30px 0px 20px 0px;
    color: #fff;
    font-size: 34px;
    font-weight: normal;
    text-align: center;
    text-shadow: 0px -2px 2px rgba(0,0,0,1);
}

#registered .toAction .actionOptions {
    background: url(../images/bg-call-to-action.png) repeat-x;
    width: 370px;
    float: left;
    padding: 30px 0px 40px 0px;
    color: #034e86;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    -webkit-box-shadow: 0 20px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 20px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 20px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

#registered .toAction .leftSide {
    margin-left: 60px;
}

#registered .toAction .rightSide {
    margin-right: 60px;
}

#registered .toAction .actionOptions h3 {
    font-size: 30px;
    line-height: 1em;
    margin-bottom: 35px;
}

#registered .toAction .actionOptions h4 {
    font-size: 21px;
}

#registered .toAction .actionOptions h4 img {
    vertical-align: text-bottom;
}

#registered .toAction .actionOptions .btnAction:link, #registered .toAction .actionOptions .btnAction:visited {
    color: #000;
    padding: 8px 20px 8px 40px;
}

#registered .toAction .actionOptions .btnAction:hover {
    background-color: #ccc;
    color: #000;
}

#registered .toAction .actionOptions .btnPost {
    background: #ffbf00 url(../images/icon-route-22.png) no-repeat;
    background-position: 10px 10px;
}

#registered .toAction .actionOptions .btnSearch {
    background: #ffbf00 url(../images/icon-search-22.png) no-repeat;
    background-position: 10px 10px;
}

#registered .toAction .actionOr {
    width: 100px;
    float: left;
    margin-top: 80px;
    color: #023053;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 1px 2px rgba(255,255,255,0.5);
}

#registered .toAction .actionOptions.small {
    padding: 15px 0px 30px 0px;
}

#registered .toAction .actionOptions.small h3 {
    font-size: 20px;
}

#registered .toAction .actionOr.small {
    margin-top: 50px;
}

.bgGreenInfo {
    background: #eef5ea url(/images/info-icon.png) left no-repeat;
    background-position: 15px;
    padding: 15px;
    text-indent: 30px;
}

.expireInfo{
    right: 10px;
    top: 0px;
    background: #d70000;
    background-position: right top;
    width: 70%;
    height: 35px;
    padding: 5px 10px;
    border-top: 2px solid #b10000;
    color: #fff;
    font-size: 11px;
    line-height: 1.5em;
    text-align: center;
    text-shadow: 0px -1px 1px rgba(0,0,0,0.5);
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.7);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.7);
}

.dashboardCallToAction{
    height: 100px; 
    padding: 10px 0px 15px 10px; 
    background-color: white; 
    width: 46%;
}

.dashboardCallToAction.left{
    float: left; 
}

.dashboardCallToAction.right{
    float: right;
}

.dashboardCallToAction h3{
    text-align: center;
    color: black;
}

.dashboardCallToAction a{
    padding: 8px 20px 8px 40px;
}

.dashboardCallToAction .btnPost {
    background: #ffbf00 url(../images/icon-route-22.png) no-repeat;
    background-position: 10px 10px;
}

.dashboardCallToAction .btnSearch {
    background: #ffbf00 url(../images/icon-search-22.png) no-repeat;
    background-position: 10px 10px;
}

.dashboardCallToAction .btnAction:link, .dashboardCallToAction .btnAction:visited {
    color: #000;
    padding: 8px 20px 8px 40px;
}

.tipsIcon {
    padding-left: 10px;
    padding-right: 10px;
}

/*more pagination*/
.morePagination {
    font-size: 16px;
    text-align: center;    
}

.morePagination .disabled {
    display: inline-block;
    padding: 2px 5px;
    color: #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 90%;
}

.morePagination a:link, .morePagination a:visited {
    display: inline-block;
    padding: 2px 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255,255,255,.3);
    border: 1px solid #DDDDDD;
}

.morePagination a:hover {
    color: #999999;
    background: #ccc;
    
}

.paginationLoader {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

#trending h2 {
    margin-bottom: 0px;
}

#trending .itemDisplay {
    background-image: url(../images/icon-shopping-22.png);
    background-repeat: no-repeat;
    background-position: 10px 10px;
    padding: 8px 20px 8px 45px;
    font-size: 18px;
}

#trending .tripRow, #trending .seekRow {
  width: 230px;
  border-bottom: 1px solid #FFFFFF;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-top: 20px;
  float: left;
  padding: 10px 15px;
}

#trending .divlink {
    color: #034e86;
    font-weight: bold;
}

#trending .divlink:hover {
    opacity: 0.7;
}

#trending .commentRow p {
    color: #333;
    font-weight: normal;
}

#trending .seeks, #trending .comments {
    margin-top: 20px;
}

#trending .tipRow {
    font-size: 13px;
}

#trending p {
    margin-bottom: 5px;
}

#relation p {
    margin-bottom: 10px;
}

#relation .btnAction {
    font-size: 11px;
}

.fbMutualFriends {
    background: url(../images/social-facebook-16.png) no-repeat;
    padding-left: 20px;
}

.relationBox {
    padding: 10px 15px;
}

#facebook_mutual_friends_count {
    margin-top: 10px;
}

#facebook_mutual_friends_count p {
    margin-bottom: 0px;
}

#postNewRoute .tabular_field {
    width: 100%; 
    display: inline-block;
}

#postNewRoute .tabular_field p {
    margin-bottom: 0px;
}

#postNewRoute .tabular_field .left{
    width: 68%;
    float: left;
}

#postNewRoute .tabular_field .right{
    width: 32%;
    float: right;
}

#postNewRoute .other_trip a.remove:link, .other_trip a.remove:visited {
    padding-left: 3px;
    padding-right: 3px;
    display: inline-block;
    color: #d70000;
    font-size: 15px;
    font-weight: bold;
}

#postNewRoute .other_trip a.remove:hover {
    color: #999;
}

.redBackground input[type="text"], .redBackground input[type="email"], .redBackground input[type="password"], .redBackground textarea, .redBackground select {
    background-color:  #FFD6D6;
}

#postNewRoute .ui-autocomplete-loading, #searchRoute .ui-autocomplete-loading, #searchSeek .ui-autocomplete-loading{ 
    background: white url('../images/ui-anim_basic_16x16.gif') right center no-repeat; 
}
