<% trip = locals[:trip] %>
<% user = trip.user %>
<li class="bistiperRow">
  <a href="<%=  trip_path(trip) %>" class="divlink" target="_blank">
    <div class="bistiperPlc">
      <div class="avatar">
        <%= render 'shared/trusted_badge', :locals => {:user => user} %>
        <%= image_tag user.avatar.url, :size => "42x42", :class => "photo" %>
      </div>
      <div class="info">
        <h5><span class="iconUser"><%= user.username %></span></h5>
        <p>
          <span class="iconRoute">
            <%= render 'shared/city', :locals => {:city => trip.origin_city, :short_name => true} %>
            <span class="dashArrow">-</span>
            <%= render 'shared/city', :locals => {:city => trip.destination_city, :short_name => true} %>
          </span>
        </p>
      </div>
    </div>
  </a>
</li>
