<p>
  <%= link_to t('escrow.widget.label.back_to_conversation'), message_path(@escrow.message.id) %>
</p>
<div id="escrowHistory" class="bgLightYellow defaultRound">
<h4><%= t('escrow.widget.label.history_and_upcoming') %></h4>
<br/>
<ol>
  <% @escrow.logs.each do |log| %>
    <li><div class="escrowHistoryRow"><strong><%= smart_date_display log.created_at %></strong> - <%= log.to_display_string %></div></li>
  <% end %>

  <% if @upcoming %>
    <% @upcoming.each do |u| %>
      <% if u.is_a? Array %>
        <% log_first = u.first.new(:escrow_id => @escrow.id) %>
        <li><div class="escrowHistoryRow"><%= t('escrow.widget.label.not_yet') %> - <%= log_first.to_display_string %></div></li>
      <% else %>
        <% log = u.new(:escrow_id => @escrow.id) %>
        <li><div class="escrowHistoryRow"><%= t('escrow.widget.label.not_yet') %> - <%= log.to_display_string %></div></li>
      <% end %>
    <% end %>
  <% end %>
</ol>
</div>
