<div class="col7 bgLightYellow defaultRound">
  <h4 class="textBlack"><%= t('message.field.label.receiver') %>: <%= @user.username %></h4>
  <% trip_id = params[:trip_id] || @message.trip_id %>
  <% seek_id = params[:seek_id] || @message.seek_id %>
  <br/>
  <h4 class="textBlack"><%= generate_label_for_related_trip_or_seek(trip_id, seek_id) %></h4>
  <div id="postNewMessage">
    <%= form_for([@user, @message]) do |f| %>
      <input type="hidden" value="<%= @user.id %>" name="receiver_id" />
      <input type="hidden" value="<%= @curr.id %>" name="sender_id" />
      <%= f.hidden_field :trip_id, :value => trip_id %>
      <%= f.hidden_field :seek_id, :value => seek_id %>
      <p>
        <label><%= t('message.field.label.subject') %></label>
        <%= f.text_field :subject %>
      </p>
      <p>
        <label><%= t('message.field.label.body') %></label>
        <%= enable_character_counter('message_body',Message::BODY_MAXIMUM_LENGTH) %>
        <%= f.text_area :body, :rows => 7, :cols => 60 %>
      </p>
      <p>
        <%= f.submit t('button.send'), :class => 'defaultButton' %><%= link_to t('button.cancel'), :back, :class => 'cancelLink' %>
      </p>
    <% end %>
  </div>
</div>
