<% page_title t('content.link.point') %>
<div class="col9 padding2point5">
  <h2><%= t('content.link.point') %></h2>
  <p align="center"><%= image_tag 'point-banner-m.png', :class => 'defaultShadow' %></p>
  <h3 class="textBlack">How to get Bistip Point?</h3>

   <ul>
    <li>For every click of the route's link you've shared in your network : <strong>1 point</strong></li>
    <li>For every approved story posted in <%= link_to t('stories.general.heading'), stories_path, :target => '_blank' %> (without a picture): <strong>20 points</strong></li>
    <li>For every approved story with a picture : <strong>30 points</strong></li>
    <li>For every approved item suggestion : <strong>5 points</strong></li>
    <li>For every approved item suggestion with picture(s) : <strong>10 points</strong></li>
   </ul>

  <h3 class="textBlack">What can i do with the points?</h3>
  <p>
    <strong>We are not offering any point claim at this moment because.. Bistip SafePay is currently free!</strong>
  </p>
  <p>
    To celebrate Bistip first birthday, our SafePay is free from 9 Maret until 9 April 2012. Read more at <%= link_to t('content.link.safepay'), safepay_path %>.
  </p>
  <br/>

  <h3 class="textBlack">Where can i see my points?</h3>
  <p>
    Go to <%= link_to t('dashboard.link.general'), dashboard_path, :target => '_blank' %> to see your latest Bistip Points.
  </p>

</div>
<%= render 'shared/static_menu' %>