<% page_title t('user.field.label.reputation') %>
<div id="dashboard">
  <%= render 'reminder' %>
  <div class="col4">
    <%= render 'shared/positive_reputations' %>
  </div>
  <div class="col4">
    <%= render 'shared/negative_reputations' %>
  </div>
  <%= render 'menu' %>
</div>