<% seek = locals[:seek] %>
<% old = seek.active? ? "" : "old" %>
<div class="activityWrap">
  <%= link_to seek_path(seek), :class => "infoBlockLink defaultRound" do %>
    <div class="infoBlock defaultRound mid <%= old %>">
      <% unless seek.active?  %>
        <div class="oldinfo"><%= t('seek_summary.label.not_active') %></div>
      <% end %>
      <div class="left"></div>
      <div class="right">
        <%= render 'shared/seek_data', :locals => {:seek => seek, :item_count => SeekItem::SUMMARY_COUNT} %>
      </div>
    </div>
  <% end %>

  <% if seek.active? %>
    <div class="tools">
      <% trips_match_count = seek.find_matching_trips.count %>
      <% if trips_match_count > 0 %>
        <p>
          <%= link_to t('seek.index.table.match_count', :count => trips_match_count), match_seek_path(seek), :class => "btnAction" %>
        </p>
      <% end %>
      <div class="adminTools">
        <%= link_to t('seek.edit.link_short'), edit_seek_path(seek) %>
        <%= link_to t('seek.destroy.link_short'), seek, :confirm => 'Are you sure?', :method => :delete, :class => "delete" %>
      </div>
    </div>
  <% end %>
</div>