<% if logged_in? and current_user == @user %>
  <ul class="text-01" id="inner-sub-menu">
      <%= render_inner_sub_menu_link t('general.view'), profile_path(@user.username) %>
      <%= render_inner_sub_menu_link t('user.edit.link'), {:controller => 'users', :action => "edit", :id => @user.id} %>
      <%= render_inner_sub_menu_link t('password.edit.link'), {:controller => 'passwords', :action => "edit"} %>
      <%= render_inner_sub_menu_link t('configuration.edit.link'), edit_user_configuration_path(:user_id => @user.id, :id => @user.user_configuration.id) %>
      <%= render_inner_sub_menu_link t('influencer.link'), influencer_point_user_path(:id => @user.id) %>
  </ul>
<% end %>