<% route_count = Trip.count + Seek.count %>
<% conversation_count = Comment.count + Message.count %>
<% transaction_value = Escrow.where('payment_method_id = 2').sum(:amount) + (Escrow.where('payment_method_id = 1').sum(:amount) * 12000) + 40000000 %>
<div class="numbers">
  <div class="numbers_col" style="<%= I18n.locale == :en ? 'margin-left: 65px' : '' %>">
    <div class="total"><%= route_count %></div>
    <p><%= t('home.index.counter.route') %></p>
  </div>
  <div class="numbers_col">
    <div class="total"><%= conversation_count %></div>
    <p><%= t('home.index.counter.conversation') %></p>
  </div>
  <div class="numbers_col">
    <div class="total">
      <% if I18n.locale == :en %>
        <%= number_to_currency((transaction_value / 9000).round(2)) %>
      <% else %>
        <%= number_to_currency(transaction_value, :unit => 'Rp ', :precision => 0) %>
      <% end %>
    </div>
    <p><%= t('home.index.counter.transaction_value') %></p>
  </div>
</div>