<% if @escrow %>
  <div>Buyer: <%= @escrow.buyer.username %></div>
  <div>Seller: <%= @escrow.seller.username %></div>
  <div><%= t('escrow.widget.label.amount') %>: <%= @escrow.amount_with_currency %></div>
  <div><%= t('escrow.widget.label.item') %>: <%= @escrow.item %></div>
  <div><%= t('escrow.widget.label.state') %>: <%= @escrow.last_log.to_display_string %></div>
  <div><%= t('escrow.widget.label.awaiting') %>: <%= @escrow.last_log.get_awaiting_string %></div>
  <br/>
  <% if @escrow.current_state.eql? Escrow::STATE_BUYER_INITIATED %>
    <%= link_to 'Bistip received the transfer!', create_received_buyer_bank_transfer_log_path(:escrow_id => @escrow.id, :password => ApplicationController::REST_PASSWORD) %>
  <% end %>
  <% if @escrow.current_state.eql? Escrow::STATE_BUYER_REQUESTED_PAYOUT %>
    <%= link_to 'Bistip released Buyer payout!', create_released_buyer_payout_log(:escrow_id => @escrow.id, :password => ApplicationController::REST_PASSWORD) %>
  <% end %>
  <% if @escrow.current_state.eql? Escrow::STATE_SELLER_REQUESTED_PAYOUT %>
    <%= link_to 'Bistip released Seller payout!', create_released_seller_payout_log(:escrow_id => @escrow.id, :password => ApplicationController::REST_PASSWORD) %>
  <% end %>
<% end %>
