<html>
  <head>
    <style>
      @import url(http://fonts.googleapis.com/css?family=PT+Sans);

      body {
        font-family: 'PT Sans', sans-serif;
      }

      td, th {
        font-size: 1em;
        border: 1px solid #034a80;
        padding: 3px 7px 2px 7px;
      }

      th {
        font-size: 0.9em;
        text-align: left;
        padding-top: 5px;
        padding-bottom: 4px;
        background-color: #034a80;
        color: #ffffff;
      }

      tr.alt td {
        color: #000000;
        background-color: #034a80;
      }
    </style>
  </head>
  <body>
    Links:
    <%= link_to("User", "#user") %> |
    <%= link_to("Rute Perjalanan", "#rute") %> |
    <%= link_to("Lokasi Rute", "#lokasi") %> |
    <%= link_to("Suggested Items", "#items") %> |
    <%= link_to("Safepay", "#safepay") %> |
    <%= link_to("Comments", "#comments") %> |
    <%= link_to("Messages", "#messages") %> |
    <%= link_to("Reviews", "#reviews") %> |
    <%= link_to("Stories", "#stories") %> |
    <%= link_to("Badge", "#badge") %> |
    <%= link_to("Forum", "#forum") %> |
    <%= link_to("Misc", "#misc") %> |
    <br clear="all"/>
    <br/>
    Date and time: <%= Time.now.in_time_zone('Jakarta') %> (Jakarta)

    <p id="user"><strong>User</strong></p>
    <table>

      <tr>
        <th><strong>Total</strong></th>
        <th><strong>Under 18</strong></th>
        <th><strong>Above 18</strong></th>
        <th><strong>Male</strong></th>
        <th><strong>Female</strong></th>
      </tr>
      <tr>
        <td><%= User.count %>
        </td>
        <td><%= User.where("birth_year > ?", (Time.now.year-18)).count %></td>
        <td><%= User.where("birth_year < ?", (Time.now.year-18)).count %></td>
        <td><%= User.where("gender_id = 1").count %></td>
        <td><%= User.where("gender_id = 2").count %></td>
      </tr>
    </table>
    <br clear="all"/>
    <table>
      <tr>
        <th><strong>Contact numbers</strong></th>
        <th><strong>Social Login</strong></th>
        <th><strong>FB Login</strong></th>
        <th><strong>TW Login</strong></th>
      </tr>

      <tr>
        <td><%= User.where("contact_number IS NOT NULL").count %></td>
        <td><%= User.where("provider IS NOT NULL").count %></td>
        <td><%= User.where(:provider => "facebook").count %></td>
        <td><%= User.where(:provider => "twitter").count %></td>
      </tr>
    </table>
    <br clear="all">
    <table>
      <tr>
        <th>Last five users</th>
        <th>Last 24 hours</th>
      </tr>
      <tr>
        <td>
          <% users = User.last(5).reverse %>
          <% users.each do |user| %>
            <%= user.username %>,
          <% end %>
        </td>
        <td><%= User.where("created_at > ?", 24.hours.ago).count %></td>
      </tr>
    </table>
    <br/>

    <p id="rute"><strong>Rute Perjalanan</strong></p>

    <table>
      <tr>
        <th>Trip + Seek</th>
        <th>&lt;- Aktif</th>
        <th>Total Trip</th>
        <th>&lt;- Aktif</th>
        <th>Total Seek</th>
        <th>&lt;- Aktif</th>
      </tr>
      <tr>
        <td><%= Trip.count + Seek.count %></td>
        <td><%= Trip.active_only.count + Seek.active_only.count %></td>
        <td><%= Trip.count %></td>
        <td><%= Trip.active_only.count %></td>
        <td><%= Seek.count %></td>
        <td><%= Seek.active_only.count %></td>
      </tr>
    </table>

    <br/>

    <p id="lokasi"><strong>Lokasi Rute</strong></p>

    <table>
      <tr>
        <th>Trip dari ID</th>
        <th>&lt;- Aktif</th>
        <th>Trip dari luar ID</th>
        <th>&lt;- Aktif</th>
        <th>Trip dari luar ke ID</th>
        <th>&lt;- Aktif</th>
      </tr>
      <tr>
        <td><%= Trip.origin_country_id(100).count %></td>
        <td><%= Trip.active_only.origin_country_id(100).count %></td>
        <td><%= Trip.origin_country_not(100).count %></td>
        <td><%= Trip.active_only.origin_country_not(100).count %></td>
        <td><%= Trip.origin_country_not(100).destination_country_id(100).count %></td>
        <td><%= Trip.active_only.origin_country_not(100).destination_country_id(100).count %></td>
      </tr>
    </table>
    <br clear="all"/>
    <table>
      <tr>
        <th>Trip dari ID ke Luar</th>
        <th>&lt;- Aktif</th>
        <th>Trip dalam negeri</th>
        <th>&lt;- Aktif</th>
      </tr>
      <tr>
        <td><%= Trip.origin_country_id(100).destination_country_not(100).count %></td>
        <td><%= Trip.active_only.origin_country_id(100).destination_country_not(100).count %></td>
        <td><%= Trip.origin_country_id(100).destination_country_id(100).count %></td>
        <td><%= Trip.active_only.origin_country_id(100).destination_country_id(100).count %></td>
      </tr>
    </table>
    <br clear="all">
    <table>
      <tr>
        <th>Unique Trip + Seek</th>
        <th>Unique Trip</th>
        <th>Unique Seek</th>
      </tr>
      <tr>
        <td><%= Trip.find_by_sql("SELECT DISTINCT origin_city_id, destination_city_id FROM trips").count + Seek.find_by_sql("SELECT DISTINCT origin_city_id, destination_city_id FROM seeks").count %></td>
        <td><%= Trip.find_by_sql("SELECT DISTINCT origin_city_id, destination_city_id FROM trips").count %></td>
        <td><%= Seek.find_by_sql("SELECT DISTINCT origin_city_id, destination_city_id FROM seeks").count %></td>
      </tr>
    </table>
    <br/>

    <p id="items"><strong>Suggested Items</strong></p>
    <table>
      <tr>
        <th>Total</th>
        <th>Approved</th>
        <th>Dari dalam negeri</th>
        <th>&lt;- Aktif</th>
        <th>Dari luar negeri</th>
        <th>&lt;- Aktif</th>
      </tr>
      <tr>
        <td><%= SuggestedItem.count %></td>
        <td><%= SuggestedItem.active_only.count %></td>
        <td><%= SuggestedItem.origin_country_id(100).count %></td>
        <td><%= SuggestedItem.active_only.origin_country_id(100).count %></td>
        <td><%= SuggestedItem.origin_country_not(100).count %></td>
        <td><%= SuggestedItem.active_only.origin_country_not(100).count %></td>
      </tr>
    </table>
    <br clear="all">

    <table>
      <tr>
        <th>Last five items</th>
      </tr>
      <tr>
        <td>
          <% items = SuggestedItem.last(5).reverse %>
          <% items.each do |item| %>
            <%= item.name %>,
          <% end %></td>
      </tr>
    </table>
    <br/>

    <table>
      <tr>
        <th>Top used items</th>
      </tr>
      <tr>
        <td>
          <% ActiveRecord::Base.connection.execute("select suggested_items.name, count(*) as count from messages LEFT JOIN suggested_items ON messages.suggested_item_id = suggested_items.id where messages.suggested_item_id is not null group by suggested_items.id order by count DESC limit 8").each do |rows| %>
            <%= rows[0] %>(<%= rows[1] %>),
          <% end %>
        </td>
      </tr>
    </table>
    <br/>

    <p id="safepay"><strong>SafePay</strong></p>
    <table>
      <tr>
        <th>Total</th>
        <th>Total Value in IDR</th>
        <th>Total Value in USD</th>
        <th>Bank Transfer Payment</th>
        <th>Total IDR</th>
        <th>Paypal Payment</th>
        <th>Total USD</th>
      </tr>
      <tr>
        <td><%= Escrow.count %></td>
        <% idr_transaction_value = Escrow.where('payment_method_id = 2').sum(:amount) + (Escrow.where('payment_method_id = 1').sum(:amount) * 10000) %>
        <% usd_transaction_value = Escrow.where('payment_method_id = 1').sum(:amount) %>
        <% total_transaction_value = idr_transaction_value + (usd_transaction_value * 10000) %>
        <td><%= number_to_currency(total_transaction_value, :unit => 'Rp ', :precision => 0) %></td>
        <td><%= number_to_currency((total_transaction_value / 9000).round(2)) %></td>
        <td><%= Escrow.where('payment_method_id = 2').count %></td>
        <td><%= number_to_currency(idr_transaction_value, :unit => 'Rp ', :precision => 0) %></td>
        <td><%= Escrow.where('payment_method_id = 1').count %></td>
        <td><%= number_to_currency(usd_transaction_value) %></td>
      </tr>
    </table>

    <br/>

    <p id="comments"><strong>Comments</strong></p>
    <table>
      <tr>
        <th>Total</th>
        <th>Reply</th>
        <th>Email Reply</th>
      </tr>
      <tr>
        <td><%= Comment.count %></td>
        <td><%= Comment.where("reply_to_id IS NOT NULL").count %></td>
        <td><%= Comment.where(:email_reply => true).count %></td>
      </tr>
    </table>

    <br/>

    <p id="messages"><strong>Messages</strong></p>

    <table>
      <tr>
        <th>Total</th>
        <th>Email Reply</th>
        <th>Attachment</th>
        <th>From Trips</th>
        <th>Thread Starter</th>
        <th>From Seeks</th>
        <th>Thread Starter</th>
        <th>From Suggested Item</th>
        <th>Last 24 Hours</th>
      </tr>
      <tr>
        <td><%= Message.count %></td>
        <td><%= Message.where(:email_reply => true).count %></td>
        <td><%= Asset.count %></td>
        <td><%= Message.where("trip_id IS NOT NULL").count %></td>
        <td><%= Message.where("trip_id IS NOT NULL AND thread_starter = true").count %></td>
        <td><%= Message.where("seek_id IS NOT NULL").count %></td>
        <td><%= Message.where("seek_id IS NOT NULL AND thread_starter = true").count %></td>
        <td><%= Message.where("suggested_item_id IS NOT NULL").count %></td>
        <td><%= Message.where("created_at > ?", 24.hours.ago).count %></td>
      </tr>
    </table>

    <br/>

    <p id="reviews"><strong>Reviews</strong></p>
    <table>
      <tr>
        <th>Good</th>
        <th>Bad</th>
        <th>Verified</th>
        <th>Invitation</th>
      </tr>
      <tr>
        <td><%= PositiveReview.count %></td>
        <td><%= NegativeReview.count %></td>
        <td><%= Review.where(:verified => true).count %></td>
        <td><%= Review.where(:invitation => true).count %></td>
      </tr>
    </table>

    <br/>

    <p id="stories"><strong>Stories</strong></p>

    <table>
      <tr>
        <th>Total</th>
        <th>&lt;- Aktif</th>
      </tr>
      <tr>
        <td><%= Story.count %></td>
        <td><%= Story.active_only.count %></td>
      </tr>
    </table>
    <br clear="all">
    <table>
      <tr>
        <th>Last five stories</th>
      </tr>
      <tr>
        <td>
          <% stories = Story.last(5).reverse %>
          <% stories.each do |story| %>
            <%= story.title %>,
          <% end %>
        </td>
      </tr>
    </table>
    <br/>

    <p id="badge"><strong>Badge</strong></p>
    <table>
      <tr>
        <th>Total</th>
        <th>Trusted</th>
      </tr>
      <tr>
        <td><%= Badge.count %></td>
        <td><%= Badge.where(:type => "TrustedBadge").count %></td>
      </tr>
    </table>

    <br/>

    <p id="forum"><strong>Forum</strong></p>
    <table>
      <tr>
        <th>Topics</th>
        <th>Posts</th>
        <th>Total View</th>
      </tr>
      <tr>
        <td><%= Topic.count %></td>
        <td><%= Post.count %></td>
        <td><%= TopicView.sum(:count) %></td>
      </tr>
    </table>

    <br/>

    <p id="misc"><strong>Misc</strong></p>
    <table>
      <tr>
        <th>Total Items</th>
        <th>Total Relations</th>
        <th>Total Notifications</th>
        <th>Total Points</th>
      </tr>
      <tr>
        <td><%= Item.count %></td>
        <td><%= Relation.count %></td>
        <td><%= Notification.count %></td>
        <td><%= InfluencerLog.count %></td>
      </tr>
    </table>

  </body>
</html>