<footer>
  <div class="plc">
    <div class="center">
      <nav>
        <%= link_to t('content.link.about'), about_path %>&nbsp;&bull;&nbsp;
        <%= link_to t('content.link.how'), how_path %>&nbsp;&bull;&nbsp;
        <%= link_to t('content.link.guide'), guide_path %>&nbsp;&bull;&nbsp;
        <%= link_to t('content.link.faq_short'), faq_path %>
        <%= link_to t('content.link.events'), event_bistipes_3_path %>&nbsp;&bull;&nbsp;
      </nav>
      <nav>
        <%= link_to t('content.link.privacy_policy'), privacy_policy_path %>&nbsp;&bull;&nbsp;
        <%= link_to t('content.link.terms_of_service'), terms_of_service_path %>
      </nav>
      
      <nav>
        <a href="?mobile=0">
          <%= t("mobile.web_link") %>
        </a>
        <% if I18n.locale != :en %>
          &nbsp;&bull;&nbsp;
          <a href="?locale=en">
            <%= t('language.english') %>
          </a>
        <% else %>
          &nbsp;&bull;&nbsp;
          <a href="?locale=id">
            <%= t('language.indonesia') %>
          </a>
        <% end %>
      </nav>
      <span class="copyright">
        Copyright &copy; Bistip.com. All rights reserved.
      </span>
    </div>
  </div>
</footer>
<%= render 'shared/google_analytics' if ::Rails.env == 'production' %>
