<%= render 'shared/static_menu' %>
<% page_title t('content.link.apps') %>
<%= apps_screenshots_slide_js %>
<div id="apps"
  <div class="col9">
    <h2>Mobile Apps</h2>
    <ul id="apps-screenshots">
      <li>
        <div class="left">
          <%= image_tag 'apps-login.png' %>
        </div>
        <div class="right">
          <h3>Bistip on your mobile phone!</h3>
          <h4 class="textBlack">Available for all platforms</h4>
        </div>
      </li>
      <li>
        <div class="left">
          <%= image_tag 'apps-dashboard.png' %>
        </div>
        <div class="right">
          <h3>Easy access to your SafePay</h3>
          <h4 class="textBlack">Monitor all of your transactions</h4>
        </div>
      </li>
      <li>
        <div class="left">
          <%= image_tag 'apps-safepay.png' %>
        </div>
        <div class="right">
          <h3>Update your SafePay!</h3>
          <h4 class="textBlack">On meetup to pass over the item :)</h4>
        </div>
      </li>
    </ul>
    <p>
      <strong>What's next?</strong> our apps will only support SafePay operations for now. But be patient :) we will improve it to facilitate our <strong>Messaging</strong> and <strong>Search</strong>.
    </p>
    <div class="downloads">
      <div class="platform">
        <%= image_tag 'apps-android.png' %><br/><br/>
        <p>
          <%= link_to t('general.download'), ApplicationController::ANDROID_APP, :class => 'btnAction', :target => 'blank' %>
        </p>
      </div>
      <div class="platform">
        <%= image_tag 'apps-blackberry.png' %><br/><br/>
        <p>
          <%= link_to t('general.download'), ApplicationController::BLACKBERRY_APP, :class => 'btnAction', :target => 'blank' %>
        </p>
      </div>
      <div class="platform">
        <%= image_tag 'apps-iphone.png' %><br/><br/>
        <p>
          <%= t('general.coming_soon') %>
        </p>
      </div>
    </div>
  </div>
</div>