<%= form_for(@trip) do |f| %>
  <%= f.hidden_field :routine, :value=>true %>
  <div class="text-01">
    <div class="mobile-row"><b><%= t('trip.new.label.intro') %></b></div>
    <div class="mobile-row"><%= t('trip.field.label.origin') %></div>
    <div class="mobile-row">
      <%= location_auto_complete_js 'trip_origin_location', true %>
    </div>
    <div class="mobile-row">
      <%= f.text_field :origin_location, :class => 'textbox-01' %>
    </div>
    <div class="mobile-row"><%= t('trip.field.label.destination') %></div>
    <div class="mobile-row">
      <%= location_auto_complete_js 'trip_destination_location', true %>
      <%= f.text_field :destination_location, :class => 'textbox-01' %>
    </div>
    <div class="mobile-row"><%= render 'shared/new_location_contact_us' %></div>
    <div class="mobile-row"><%= t('trip.field.label.period')%></div>
    <div class="mobile-row">
      <% period = Period.map %>
      <%= select_tag "trip[period]", options_for_select(period, @trip.period) %>
    </div>
    <div class="mobile-row"><%= t('trip.field.label.day')%></div>
    <div class="mobile-row">
      <% if !@trip.day.nil? %>
        <%for day in Day::ALL%>
          <%= check_box_tag "trip[day][]",day,@trip.day.include?(day) %><%=label_tag day %><br/>
        <%end%>
      <% else %>
        <%for day in Day::ALL%>
          <%= check_box_tag "trip[day][]",day %><%= label_tag day %><br/>
        <%end%>
      <%  end %>
    </div>
    <div class="mobile-row"><%= t('trip.field.label.items') %></div>
    <div class="item-details">
      <table>
        <tr>
          <td width="100px"><%= t('trip_item.field.label.name') %></td>
          <td colspan="2"><%= t('trip_item.field.label.tip') %></td>
          <td></td>
        </tr>
        <%= f.fields_for :items do |builder| %>
          <%= render "item_fields", :f => builder %>
        <% end %>
        <tr>
          <td colspan="4"><%= link_to_add_fields t("general.add_more"), f, :items, SeekItem::MAXIMUM %></td>
        </tr>
      </table>
    </div>
    <div class="mobile-row"><%= t('trip.field.label.notes') %></div>
    <div class="mobile-row">
      <%= enable_character_counter('trip_notes',Trip::NOTES_MAXIMUM_LENGTH) %>
      <%= f.text_area :notes, :rows => 5, :cols => 35, :class => 'textarea-01' %>
    </div>
    <div class="mobile-row">
      <%= f.submit t('button.submit'), :class => 'button-register' %> / <%= link_to t('button.cancel'), locals[:cancel_path] %>
    </div>
  </div>
<% end %>
