<% page_title t('seek.new.label.heading') %>
<div class="col4">
  <h2><%= t('seek.new.label.heading') %></h2>
</div>
<div class="col4 bgLightBlue defaultRound">
  <h3 class="textBlack"><%= t('seek.new.label.intro') %></h3>
  <%= render 'form', :locals => {:cancel_path => root_path}%>
</div>
