<div class="col3">
  <nav class="static">

    <%= render_sub_menu_link t('content.link.about'), [{:controller => 'content', :action => "about"}] %>
    <%= render_sub_menu_link t('content.link.new'), [{:controller => 'content', :action => "new"}] %>
    <%= render_sub_menu_link t('content.link.faq_short'), [{:controller => 'content', :action => "faq"}] %>
    <%= render_sub_menu_link t('content.link.privacy_policy'), [{:controller => 'content', :action => "privacy_policy"}] %>
    <%= render_sub_menu_link t('content.link.terms_of_service'), [{:controller => 'content', :action => "terms_of_service"}] %>
    <%= render_sub_menu_link t('content.link.jobs'), [{:controller => 'content', :action => "jobs"}] %>
    <%= render_sub_menu_link t('testimonial.index.heading'), [{:controller => 'testimonials', :action => "index"}] %>
    <%= render_sub_menu_link t('content.link.media'), [{:controller => 'content', :action => "media"}] %>
    <%= render_sub_menu_link t('influencer.heading.top_influencer'), [{:controller => 'influencer_log', :action => "index"}] %>
    <%= render_sub_menu_link t('content.link.api'), [api_path] %>
  </nav>
</div>