<script type="text/javascript">
  $(function(){
    $("#accordion").accordion({ header: "h2", navigation: true });
  });
</script>

<div class="profile-picture" style="width: 90%;"><%= image_tag @user.avatar.url %></div>
<div>&nbsp;</div>
<div id="accordion" style="width: 100%;">
  <div>
    <p class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all ui-state-hover">
      <%= render_sub_menu_link t('dashboard.link.general'), [dashboard_path], :span  %>
    </p>
  </div>
  <div>
    <h2 style="padding-left: 0px;" class="dash-sub-menu">
      <%= render_sub_menu_link t('user.show.link'), [dashboard_profile_path,
        {:controller => 'users', :action => "edit", :id => @user.id},
        {:controller => 'passwords', :action => "edit"},
        edit_user_configuration_path(:user_id => @user.id, :id => @user.user_configuration.id),
        influencer_point_user_path(:id => @user.id)], :span  %>
    </h2>
    <p class="dash-inner-sub-menu">
        <%= render_inner_sub_menu_link t('user.show.link'), dashboard_profile_path, :span %><br/>
        <%= render_inner_sub_menu_link t('user.edit.link'), edit_user_path(@user), :span %><br/>
        <%= render_inner_sub_menu_link t('password.edit.link'), edit_password_path, :span %><br/>
        <%= render_inner_sub_menu_link t('configuration.edit.link'), edit_user_configuration_path(:user_id => @user.id, :id => @user.user_configuration.id), :span %><br/>
        <%= render_inner_sub_menu_link t('influencer.link'), influencer_point_user_path(:id => @user.id), :span %>
    </p>
  </div>

  <div>
    <h2 style="padding-left: 0px;" class="dash-sub-menu">
      <%= render_sub_menu_link t('user.field.label.reputation'), [dashboard_positive_reputations_path,
                                                             dashboard_negative_reputations_path,
                                                             get_recommendation_path], :span %>
    </h2>
    <p class="dash-inner-sub-menu">
      <%= render_inner_sub_menu_link t('reputation.link.positive'), dashboard_positive_reputations_path, :span %><br/>
      <%= render_inner_sub_menu_link t('reputation.link.negative'), dashboard_negative_reputations_path, :span %><br/>
      <%= render_inner_sub_menu_link 'Cari Rekomendasi', get_recommendation_path, :span %>
    </p>
  </div>

  <div>
    <h2 style="padding-left: 0px;" class="dash-sub-menu">
      <%= render_sub_menu_link t('dashboard.link.activity'), [dashboard_trips_path, dashboard_seeks_path] %>
    </h2>
    <p class="dash-inner-sub-menu">
      <%= render_inner_sub_menu_link t('trip.index.link'), dashboard_trips_path, :span  %><br/>
      <%= render_inner_sub_menu_link t('seek.index.link'), dashboard_seeks_path, :span  %>
    </p>
  </div>
</div><br/>