<% seek = locals[:seek] %>
<% write = locals[:write] %>
<tr>
  <td><%= render 'shared/seek_summary',  :locals => {:seek => seek} %></td>
  <td width="10px">&nbsp;</td>
  <% if logged_in? and seek.owner?(current_user) and write %>
    <td width="200px" style="vertical-align: top;">
      <% if seek.active? %>
      <div>
        <span style="clear: both; text-align: center;" class="buttonlink-grey-01">
          <%= link_to t('seek.edit.link_short'), edit_seek_path(seek) %>
        </span>&nbsp;
        <span style="clear: both; text-align: center; vertical-align: top;" class="buttonlink-grey-01">
          <%= link_to t('seek.destroy.link_short'), seek, :confirm => 'Are you sure?', :method => :delete %>
        </span>
      </div>
      <% end %>
      <br/>
      <div>
        <% trips_match_count = seek.find_matching_trips.count %>
        <% if trips_match_count > 0 %>
          <span class="buttonlink-red link"><%= link_to t('seek.index.table.match_count', :count => trips_match_count), match_seek_path(seek) %></span>
        <% end %>
      </div>
    </td>
  <% end %>
</tr>