
/* Copyright 2010 Convertium Pte Ltd. 
 * All Rights Reserved.
 * http://convertium.com 
 */

.cpltransition_wrapper {
	position: relative;
}

.cpltransition_window {
	width: 760px;
	height: 253px;
	overflow: hidden;
	position: relative;
}
.cpltransition_banners {
	position: absolute;
	top: 0; 
	left: 0;
	z-index: 10;
}

.cpltransition_banners div {
    display: none;
    width: 720px;
    height: 253px;
    position: absolute;
	text-align:center;
}
.cpltransition_banners a,
.cpltransition_banners img {
	border: 0;
	z-index: 100;
}

.cpltransition_paging {
	position: absolute;
	width: 178px; height:47px;
	top:0px; left:30px;
	z-index: 100;
	text-align: left;
	line-height: 30px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

.cpltransition_paging .alttext_banner{
	margin:0 0 0 40px;
	padding:3px 0 0 10px;
	text-align:left;
	width:26px;
	height:18px;
	line-height:normal;
	font-size:11px;
	position:absolute;
	bottom:45px;
}

.cpltransition_paging a {
	padding: 2px 10px 10px 5px;
	text-decoration: none;
	background:url(btn_bann.png) 0 0 no-repeat;
	height:33px;
	color: #fff;
}

.cpltransition_paging a.active {
	background:url(btn_bano.png) 0 0 no-repeat;
	font-weight: bold;
}

.cpltransition_paging a:hover {
	background:url(btn_bano.png) 0 0 no-repeat;
}
