<% message = locals[:message] %>
<a id="<%= message.internal_link_id %>"></a>
<div class="inboxRow <%= 'alt' if message.sender != current_user %>">
  <div class="message">
    <h5><%= link_to message.sender.username, profile_path(message.sender.username) %><%= render 'shared/trusted_badge', :locals => {:user => message.sender} %><span class="date">&nbsp;&ndash;&nbsp;<%= smart_date_display(message.created_at) %></span></h5>
    <%= auto_link_in_new_tab(message.body) %>
    <% message.assets.each_with_index do |asset, index| %>
      <% identifier = "message_" + message.id.to_s + "_asset_" + index.to_s %>
      <%= picture_popup_js(identifier) %>
      <%= link_to attachments_path(:message_id => message.id, :asset_id => asset.id) do %>
        <%= image_tag asset.attachment.expiring_url(Asset::LINK_AGE, :thumb), :align => 'center', :class => 'photo', :width => 48, :height => 48  %>
      <% end %>
    <% end %>
  </div>
</div>
