<% if logged_in? and current_user == @user %>
    <div class="panel-blue top_panel">
      <span class="heading-grey" style="font-size: 12px;"><%= t('dashboard.label.incoming_bistiper') %></span><br/>
      <%= render 'shared/incoming_trips', :locals => {:incoming_trips => @incoming_trips} %>
    </div>
    <div style="padding-top: 5px;"></div>
<% end %>