<% page_title t('influencer.heading.top_influencer') %>
<div style="width: 100%;">
  <div style="padding: 3px 3px 3px 3px;">
    <br/>

    <div style="margin-left: auto; margin-right: auto;" id="influencer" align="center">
      <%= render 'influencer' %>
    </div>
  </div>
  <br/><br/>

  <div class="header01" align="center">Dapatkan hadiah bagi <b>30 orang pertama</b> yang mendapatkan 50 poin Influencer
  </div>
  <br/>

  <div class="text-01" align="center"><font color="red"><b>Gratis</b></font> biaya rekening bersama untuk transaksi sebanyak
    satu kali dengan nilai transaksi
    sampai dengan sebesar <b><font color="red">Rp.9.999.999</font></b>
  </div>
  <br/>
</div>
<br/>
 <div class="form-border header-mid-text" align="center">
    Apa itu "Influencer" ?
  </div>
  <br/>
<div style="padding: 3px 3px 3px 3px;" align="center">
  <%= image_tag 'flow-id.png', :border => 0 %></div>
