<div class="itemRow">
  <div class="photo">
    <% url_thumb = item.first_picture(:thumb) %>
    <% url_original = item.first_picture(:original) %>
    <% identifier = "trip_item" + item.id.to_s + "_picture" %>
    <%= picture_popup_js(identifier) %>
    <%= link_to url_original, :id => identifier do %>
      <%= image_tag url_thumb, :class => 'photo bgWhite', :size => '48x48' %>
    <% end %>
  </div>
  <div class="desc">
    <div class="name"><%= highlight item.name, search_keyword_to_array(params[:keyword]) %></div>
    <% if !item.tip.blank? %>
      <div class="offer">
        <%= t('trip.show.label.tip')%>:&nbsp;<em><%= item.tip_with_unit %></em>
      </div>
    <% end %>
    <% if !item.price.blank? %>
      <div class="offer">
        <%= t('trip.show.label.price')%>:&nbsp;<em><%= item.price_with_unit %></em>
      </div>
    <% end %>
  </div>
</div>