<% city = locals[:city] %>
<% country = city.country %>
<% city_name = city.name %>
<% city_name = city_name[0,10] + ' ..' if city_name.length > 10 %>
<% if city.name == City::ANYWHERE %>
  <strong><%= city.name %></strong>
<% else %>
  <%= generate_country_image_tag(country) %>&nbsp;<strong><%= city_name %></strong>
<% end %>