<h4 class="textGreen">
  <%= image_tag 'icon-thumbs-up.png', :alt => "Thumbs up", :size => "10x14", :class=>'verticalAlignBaseline' %>
  <%= t('user.field.label.positive_reputation') %>
  <span class="counter"><%= @positives.size %></span>
</h4>
<div class="reputation good">
  <% if @positives.size > 0 %>
    <% @positives.each do |reputation| %>
      <%= render 'shared/reputation', :locals => {:reputation => reputation} %>
    <% end %>
  <% else %>
    <div class="notificationBar yellow"><%= t('reputation.index.positive.no_result') %></div>
  <% end %>
</div>