<div style="font: normal 14px Helvetica, Arial, sans-serif; line-height: 19px; color: #333;">
  We have approved your suggestion post about <%= @suggested_item.name %>.
  <br/>
  <br/>
  You can view the post through the link below:
  <br/>
  <%= auto_link(suggested_item_url(@suggested_item)) %>
</div>