<% page_title t('user.edit.label.heading') %>
<%= render 'shared/user_sub_menu' %>
<%= render 'shared/user_profile_sub_menu' %>
<div class="profile-form-table table">
  <%= form_for(@user, :html => { :multipart => true }) do |f| %>
    <table width="100%" cellspacing="0" cellpadding="5" border="0" class="text-01">
      <tbody>
        <tr>
          <td colspan="2"><b><%= t('user.edit.label.intro') %></b></td>
        </tr>
        <tr>
          <td><%= t('user.field.label.avatar') %></td>
        </tr>
        <tr>
          <td><%= f.file_field :avatar, :class => 'textbox-01' %></td>
        </tr>
        <tr>
          <td><%= t('user.field.label.username') %></td>
        </tr>
        <tr>
          <td><%= f.text_field :username, :class => 'textbox-01' %></td>
        </tr>
        <tr>
          <td><%= t('user.field.label.fullname') %></td>
        </tr>
        <tr>
          <td><%= f.text_field :fullname, :class => 'textbox-01' %></td>
        </tr>
        <tr>
          <td><%= t('user.field.label.city') %></td>
        </tr>
        <tr>
          <td>
            <%= location_auto_complete_js 'user_city_location', true %>
            <%= f.text_field :city_location, :class => 'textbox-01' %>
          </td>
        </tr>
        <tr>
          <td><%= t('user.field.label.location') %></td>
        </tr>
        <tr>
          <td><%= f.text_field :location, :class => 'textbox-01' %></td>
        </tr>
        <tr>
          <td><%= t('user.field.label.contact_number') %></td>
        </tr>
        <tr>
          <td><%= f.text_field :contact_number, :class => 'textbox-01' %></td>
        </tr>
        <tr>
          <td><%= f.text_field :extra_contact_number, :class => 'textbox-01' %></td>
        </tr>
        <tr>
          <td><%= t('user.field.label.web') %></td>
        </tr>
        <tr>
          <td><%= User::WEB_PREFIX %><%= f.text_field :web, :class => 'textbox-01' %></td>
        </tr>
        <tr>
          <td><%= t('user.field.label.facebook') %></td>
        </tr>
        <tr>
          <td><%= User::FACEBOOK_PREFIX %><%= f.text_field :facebook, :class => 'textbox-01' %></td>
        </tr>
        <tr>
          <td><%= t('user.field.label.twitter') %></td>
        </tr>
        <tr>
          <td><%= User::TWITTER_PREFIX %><%= f.text_field :twitter, :class => 'textbox-01' %></td>
        </tr>
        <tr>
          <td><%= t('user.field.label.bio') %></td>
        </tr>
        <tr>
          <td>
            <%= enable_character_counter('user_bio',User::BIO_MAXIMUM_LENGTH) %>
            <%= f.text_area :bio, :rows => 8, :cols => 40, :class => 'textarea-01' %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.submit t('button.submit'), :class => 'button-register' %> / <%= link_to t('button.cancel'), profile_path(@user.username) %>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>
