<% page_title (@user.username + '\'s profile')  %>
<%= render 'shared/user_sub_menu' %>
<%= render 'shared/user_profile_sub_menu' %>
<div class="profile-form-table table">
  <table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
      <tr>
        <td align="left" colspan="3">
          <div class="profile-picture"><%= image_tag @user.avatar.url(:thumb) %></div>
        </td>
      </tr>
      <tr>
        <td><%= t('user.field.label.username') %></td>
        <td>:</td>
        <td><%= @user.username %></td>
      </tr>
      <tr>
        <td><%= t('user.field.label.fullname') %></td>
        <td>:</td>
        <td><%= @user.fullname %></td>
      </tr>
      <tr>
        <td><%= t('user.field.label.city') %></td>
        <td>:</td>
        <td><%= @user.city_location %></td>
      </tr>
      <tr>
        <td><%= t('user.field.label.location') %></td>
        <td>:</td>
        <td><%= @user.location %></td>
      </tr>
      <tr>
        <td><%= t('user.field.label.influencer_point') %></td>
        <td>:</td>
        <td class="blue-link">
          <% if current_user == @user%>
            <%= link_to InfluencerLog.influencer_point(@user), influencer_point_user_path(current_user) %>
          <% else %>
            <%= InfluencerLog.influencer_point(@user) %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td><%= t('user.field.label.reputation') %></td>
        <td>:</td>
        <td>
          <%= image_tag "thumb-up.png", :alt => t('user.field.label.positive_reputation', :title => t('user.field.label.positive_reputation')) %> <span class="blue-link">(<%= link_to  @user.received_positive_reputations.count, user_positive_reputations_path(:user_id => @user) %>)</span> /
          <%= image_tag "thumb-down.png", :alt => t('user.field.label.negative_reputation', :title => t('user.field.label.negative_reputation')) %> <span class="blue-link">(<%= link_to @user.received_negative_reputations.count, user_negative_reputations_path(:user_id => @user) %>)</span>
        </td>
      </tr>
      <tr>
        <td><%= t('user.field.label.contact_number') %></td>
        <td>:</td>
        <td>
          <% if (logged_in? and current_user.email_validated?) %>
            <%= @user.contact_number %>
          <% else %>
            <%=  @user.contact_number.gsub(/[0123456789]/, '*') unless string_nil_or_empty?(@user.contact_number) %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>:</td>
        <td>
          <% if (logged_in? and current_user.email_validated?) %>
            <%= @user.extra_contact_number %>
          <% else %>
            <%=  @user.extra_contact_number.gsub(/[0123456789]/, '*') unless string_nil_or_empty?(@user.extra_contact_number) %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td><%= t('user.field.label.web') %></td>
        <td>:</td>
        <td><span class="blue-link"><%= (link_to nil, User::WEB_PREFIX + subtract_dup_from_web_url(@user.web), :target => '_blank') unless string_nil_or_empty?(@user.web) %></span></td>
      </tr>
      <tr>
        <td><%= t('user.field.label.facebook') %></td>
        <td>:</td>
        <td><span class="blue-link"><%= (link_to nil, User::FACEBOOK_PREFIX + subtract_dup_from_facebook_url(@user.facebook), :target => '_blank') unless string_nil_or_empty?(@user.facebook) %></span></td>
      </tr>
      <tr>
        <td><%= t('user.field.label.twitter') %></td>
        <td>:</td>
        <td><span class="blue-link"><%= (link_to nil, User::TWITTER_PREFIX + subtract_dup_from_twitter_url(@user.twitter), :target => '_blank') unless string_nil_or_empty?(@user.twitter) %></span></td>
      </tr>
      <tr>
        <td><%= t('user.field.label.bio') %></td>
        <td>:</td>
        <td><%= @user.bio %></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>
  <% if logged_in? and !(current_user == @user) %>
    <div style="padding: 5px;" class="buttonlink-grey">
      <%= link_to t('message.link.new'), new_user_message_path(:user_id => @user) %>
    </div>
    <div style="padding: 5px;" class="buttonlink-blue">
      <%= link_to t('reputation.new.link.positive'), new_user_positive_reputation_path(:user_id => @user) %>
    </div>
    <div style="padding: 5px;" class="buttonlink-red">
      <%= link_to t('reputation.new.link.negative'), new_user_negative_reputation_path(:user_id => @user) %>
    </div>
  <% end %>
</div>
