<div class="col12">
  <h2>Apply Insurance</h2>
</div>
<div class="col9 bgLightYellow">
  <div id="applyInsurance">
    <h4 class="textBlack">Gunakan formulir di bawah ini mengajukan permintaan asuransi</h4>
    <br/>
    <%= form_tag insurances_path do %>
      <%= hidden_field_tag 'message_id', @message.id  %>
      <p>
        <label>Antara</label>
        <strong><%= @message.sender.username %></strong> dan <strong><%= @message.receiver.username %></strong>
      </p>
      <p>
        <label>Applicant</label>
        <strong><%= current_user.username %></strong>
      </p>
      <p>
        <label>Tipe</label>
        <select id="type" name="type">
          <option>Rp 5.000 untuk nilai barang maksimal Rp 500.000</option>
          <option>Rp 10.000 untuk nilai barang maksimal Rp 1.000.000</option>
        </select>
      </p>
      <p>
        <strong>Dengan menekan tombol submit di bawah, kamu menyetujui bahwa:</strong>
        <br/>
        - Kamu telah membaca lengkap peraturan kami yang tertera di <%= link_to 'Baca Selengkapnya', root_path, :target => 'blank' %>
        <br/>
        - Kami mendapat ijin untuk membaca percakapan atau messages antara <strong><%= @message.sender.username %></strong> dan <strong><%= @message.receiver.username %></strong>
      </p>
      <p>
        <%= submit_tag t('button.send'), :class => 'defaultButton' %><%= link_to t('button.cancel'), :back, :class => 'cancelLink' %>
      </p>
    <% end %>
  </div>
</div>