<div class="col4">
  <h4><%=t('seek.tips.purpose.heading')%></h4>
  <br/>
  <p>
    <%=t('seek.tips.purpose.body')%>
  </p>
  <h4><%=t('seek.tips.heading')%></h4>
  <ol class="tips bgGrey defaultRound">
    <li><p><%= t('seek.tips.content.line1') %></p></li>
    <li><p><%= t('seek.tips.content.line2') %></p></li>
  </ol>
  <br/>
  <p>
    <%= render 'shared/new_location_contact_us' %>
  </p>
</div>
