<% page_title t('search_item.index.label.heading') %>
<div class="col12">
  <h2><%= t('search_item.index.label.heading') %></h2>
  <%= render 'shared/search_menu' %>
</div>
<div class="col12 bgLightGreen defaultRound">
  <h4 class="textBlack"><%= t('search_item.index.label.intro') %></h4>
  <div id="searchSuggestedItems">
    <p>
      <label><%= t('suggested_items.new.label.name') %></label>
      <%= text_field_tag 'keyword', params[:keyword], :size => 30, :style => "width: 220px;", :onkeyup => 'javascript:search_suggested_item_field_key_up(event)' %>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="btnSearch" href="javascript:buildSearchSuggestedItemURL()"><%= t('button.search') %></a>
    </p>
  </div>
  <div class="divider"></div>
  <div id="suggestedItemsSearchResults">
    <h4 class="textBlack">
      <% if @no_valid_parameter %>
        <%= t('search_item.index.label.all') %>
      <% else %>
        <%= t('search_item.index.label.result') %>&nbsp;<span class="counter"><%= @total_result %></span>
      <% end %>
    </h4>
    <div id="suggestedItems">
      <%= render 'items' %>
    </div>
  </div>
</div>
