<% page_title t('content.link.guide') %>
<div class="col4">
  <h3 class="textBlack">Untuk Semua Pengguna Bistip.com</h3>
</div>
<div class="col4">
  <p><%= image_tag 'guide/user.png', :class => 'tipsIcon' %><strong>Kelengkapan data</strong><br/>Lengkapi data
    profil kamu untuk meningkatkan kepercayaan transaksi.
  </p>
</div>
<div class="col4">
  <p><%= image_tag 'guide/password.png', :class => 'tipsIcon' %><strong>Gunakan password yang aman</strong><br/>Dengan
    kombinasi huruf, angka dan simbol dan jaga kerahasiaannya.</p>
</div>
<div class="col4">
  <p><%= image_tag 'guide/logout.png', :class => 'tipsIcon' %><strong>Pastikan kamu sudah “log out”</strong><br/>Sebelum
    meninggalkan komputer yang digunakan bersama ( contoh : warnet )
  </p>
</div>
<div class="col4">
  <p><%= image_tag 'guide/review.png', :class => 'tipsIcon' %><strong>Berikan reputasi</strong>
    <br/>Reputasi baik atau buruk akan membantu pengguna lain dalam menilai.</p>
</div>
<div class="col4">
  <p><%= image_tag 'guide/place.png', :class => 'tipsIcon' %><strong>Bertemu di tempat aman</strong>
    <br/>Di saat bertemu untuk menukar barang dan tip, usahakan bertemu di tempat yang aman.</p>
</div>
<%= render 'shared/guide_menu' %>