<% incoming_trips = locals[:incoming_trips] %>

<% if incoming_trips.size > 0 %>
  <% incoming_trips.each do |trip| %>
  <span class="incoming_trips">
      <%= "#{t('dashboard.label.from')} " %>
      <%= render 'shared/city', :locals => {:city => trip.origin_city} %>
      <% info = "" %>
      <% if !trip.routine? %>
        <% info = "#{l(trip.departure_date, :format=>:short)}" %>
      <% else %>
        <%info = t("week_period.#{trip.period}")%>
      <% end %>
      <%= link_to info, trip_path(trip) %>
      <%=" - "+t('trip.show.label.by')%>
      <%=link_to( trip.user.username, trip.user)%>
    </span>  
    <br/>
  <% end %>
<% end %>