<% incoming_trips = locals[:incoming_trips] %>

<% if incoming_trips.size > 0 %>
  <% incoming_trips.take(5).each do |trip| %>
    <span class="incoming_trips">
      <%= "#{t('dashboard.label.from')} #{trip.origin_city.name}, #{trip.origin_city.country.name}" %>
      <% info = "" %>
      <% if !trip.routine? %>
        <% info = "#{l(trip.departure_date, :format=>:date_without_day)}" %>
      <% else %>
        <%info = t("week_period.#{trip.period}")%>
      <% end %>
      <%= link_to info, trip_path(trip) %>
      <%=" - "+t('trip.show.label.by')%>
      <%=link_to( trip.user.username, trip.user)%>
    </span>  
    <br/>
  <% end %>
  <% if incoming_trips.size > 5 %>
    <span class="incoming_trips"><%= link_to t('general.see_all'), search_trip_path(:destination => current_user.city_location)  %> </span>
  <% end %>
<% end %>