<div class="content-left text-01">
  <div class="header01"><%= t('trending_item.show.heading') %></div>
  <div style="padding: 15px;">
    <div style="padding-top: 10px; padding-bottom: 10px;"><%= t('trending_item.show.label.item') %> <b><%= @item.item %></b></div>
    <div style="padding-top: 10px; padding-bottom: 10px;"><%= t('trending_item.show.label.popularity') %> <%= @item.popularity %>&#37;</div>
  </div>
  <div class="header01"><%= t('trending_item.show.label.web_result') %></div>
  <script src="https://www.google.com/jsapi?key=ABQIAAAA0kAAuDnU1yMcshI0OzKhgxQrRid9b5dm3e3JtftfQHCiejfr9hQk3DQ0CtCjnHmwf5beJ36ug-U2jA" type="text/javascript"></script>
    <script language="Javascript" type="text/javascript">
    //<![CDATA[

    google.load("search", "1");

    function OnLoad() {
      // Create a search control
      var searchControl = new google.search.SearchControl();

      // Add in a full set of searchers
      searchControl.addSearcher(new google.search.WebSearch());
      searchControl.addSearcher(new google.search.ImageSearch());
      searchControl.addSearcher(new google.search.BlogSearch());

      // Tell the searcher to draw itself and tell it where to attach
      searchControl.draw(document.getElementById("searchcontrol"));


      // Execute an inital search
      searchControl.execute("<%= @item.item %>");
    }
    google.setOnLoadCallback(OnLoad);

    //]]>
    </script>
    <style media="screen, print" type="text/css">
      .gsc-control {
        width: 500px;
      }
    </style>

    <div id="searchcontrol">Loading...</div>
</div>
