<% reputation = locals[:reputation] %>
<% giver = reputation.giver %>
<div class="reputationRow">
  <div class="avatar">
    <%= image_tag giver.avatar.url, :size => "48x48", :class => "photo" %>
  </div>
  <div class="info">
    <h5>
      <%= link_to giver.username, profile_path(giver.username) %>&nbsp;
      <span>&ndash; <%= l(reputation.created_at) %></span>
    </h5>
    <p><%= auto_link_in_new_tab(reputation.body) %></p>
  </div>
</div>