<div style="font: normal 14px Helvetica, Arial, sans-serif; line-height: 19px; color: #333;">
  <%= @giver.username %> gave you a bad reputation on <%= l(@created) %>
  <blockquote>
    <strong><i><%= simple_format @content %></i></strong>
  </blockquote>
  You can view the reputation through the link below:
  <br/>
  <%= auto_link(user_negative_reputations_url(@receiver)) %>
</div>