<p>There's an update to the following escrow paypal transaction:</p>

<table>
  <tr>
    <td>Between</td>
    <td><%= @escrow.buyer.username %> (Buyer) and <%= @escrow.seller.username %> (Seller)</td>
  </tr>
  <tr>
    <td>Item</td>
    <td><%= @escrow.item %></td>
  </tr>
  <tr>
    <td>Escrow ID</td>
    <td><%= @escrow.id %></td>
  </tr>
  <tr>
    <td>Status</td>
    <td><%= @escrow.current_state %></td>
  </tr>
  <tr>
    <td>Amount</td>
    <td><%= @escrow.amount_with_currency %></td>
  </tr>
</table>