<%= form_for(@seek) do |f| %>
<div class="new-form text-01">
  <p style="width:60%;"><b><%= t('seek.new.label.intro') %></b></p><br/>
  <ul>
    <li>
      <label><%= t('seek.field.label.origin') %></label>
      <%= location_auto_complete_js 'seek_origin_location' %>
      <% if @seek.from_anywhere? %>
        <%= f.text_field :origin_location, :value => City::ANYWHERE, :class => 'textbox-01', :readonly => 'readonly', :disabled => 'disabled' %>
      <% else %>
        <%= f.text_field :origin_location, :value => get_predefined_origin_location, :class => 'textbox-01' %>
      <% end %>
      <%= f.check_box :from_anywhere, :onclick => 'handle_from_anywhere(this)' %>
      <span><%= t('seek.field.label.from_anywhere') %></span>
    </li>
    <li>
      <label><%= t('seek.field.label.destination') %></label>
      
      <%= location_auto_complete_js 'seek_destination_location' %>
      <%= f.text_field :destination_location, :value => get_predefined_destination_location, :class => 'textbox-01' %>
    </li>
    <li>
      <label>&nbsp;</label>
      <%= render 'shared/new_location_contact_us' %>
    </li>
    <li>
      <label><%= t('seek.field.label.departure_date') %></label>
      <% DatePredicate::ALL.each do |departure_date_predicate| %>
        <%= radio_button_tag 'seek[departure_date_predicate]', departure_date_predicate, @seek.departure_date_predicate == departure_date_predicate %>
        <%= t(departure_date_predicate, :scope => 'date_predicate') %><br/>
      <% end %>
    </li>
    <li>
      <label>&nbsp;</label>
      <%= date_picker_js 'seek_departure_date' %>
      <% departure_date = l(@seek.departure_date) unless @seek.departure_date.nil? %>
      <%= f.text_field :departure_date, :value => departure_date, :readonly => "readonly", :class => 'textbox-01' %>
    </li>
    <li style="padding-top: 0px;">
      <label>&nbsp;</label>
      <%= render_link_to_clear_a_field('seek_departure_date') %>
    </li>
    <div class="item-details">
      <li>
        <label><%= t('seek.field.label.items') %></label>
        <div id="item-name" class="pair">
          <label><%= t('seek_item.field.label.name') %></label>
        </div>
        <div id="item-tip" class="pair">
          <label><%= t('seek_item.field.label.tip') %></label>
        </div>
      </li>
      <%= f.fields_for :items do |builder| %>
        <%= render "item_fields", :f => builder %>
      <% end %>
      <li>
        <label>&nbsp;</label>
        <span class="blue-link"><%= link_to_add_fields t("general.add_more"), f, :items, SeekItem::MAXIMUM %></span>
      </li>
    </div>
    <li>
      <label><%= t('seek.field.label.notes') %></label>
      <%= enable_character_counter('seek_notes',Seek::NOTES_MAXIMUM_LENGTH)%>
      <%= f.text_area :notes, :rows => 8, :cols => 40, :class => 'textarea-01' %>
    </li>
    <li>
      <label>&nbsp;</label>
      <%= f.submit t('button.submit'), :class => 'button-register' %> / <%= link_to t('button.cancel'), locals[:cancel_path] %>
    </li>
  </ul>
</div>
<% end %>
