<% page_title t('message.link.sent') %>
<%= render 'shared/message_sub_menu' %>
<table width='100%' id="messages" class="messages"  style="padding-left: 20px">
  <% if @sents.size > 0 %>
    <%= render :partial => 'sent', :collection => @sents %>
  <% else %>
    <i><%= t('message.sent.no_result')%></i>
  <% end %>
</table>
<div style="text-align: center">
  <%= will_paginate(@sents, :renderer => TwitterPagination::LinkRenderer, :id => 'messages_pagination') %>
</div>