<% page_title t('content.link.how') %>
<div class="text-01 blue-link">
  <h2><%= t('content.link.how') %></h2>
  <ul>
    <li>
      <h3>Terms in Bistip.com<br>
      </h3>
    </li>
  </ul>
  <p>In Bistip, we've introduced 2 new terms that you need to know:</p>

  <p><i>- Bistiper</i></p>

  <p>Meaning : person who want to carry your item</p>

  <p><i>- Wanted Bistiper</i></p>

  <p>Meaning : person looking for Bistiper</p>
  <ul>
    <li>
      <h3>Menu in Bistip.com<br>
      </h3>
    </li>
  </ul>
  <p>In the top menu bar you will find the following:</p>

  <p><i>- Post Trip</i></p>

  <p>You want to be a Bistiper. Before you travel, don't forget to post your Trip in here and see if there is someone interested and ask for your help.
  </p>

  <p><i>- Post Wanted Bistiper</i></p>

  <p>Use this operation to submit the Trip that you are looking for
    .</p>
  <p><i>- Search Bistiper</i></p>

  <p>Use this menu to search for Bistiper.</p>
  <p><i>- Search Wanted Bistiper</i></p>

  <p>Use this menu to search for Wanted Bistiper.</p>

  <ul>
    <li>
      <h3>Illustration on how Bistip work:<br>
      </h3>
    </li>
  </ul>
  <%= image_tag 'instruct_mob-en.gif' %>
  <p><i>*For guide how to engage in Bistip please read <%= link_to t('content.link.guide'), guide_path %> </i>
  </p>
</div>
