<% page_title t('configuration.edit.label') %>
<div id="dash" class="content-left text-01">
  <div class="left-section panel-blue">
    <%= render 'shared/left_menu' %>
  </div>
  <div class="main-section">
    <%= form_for(@config) do |f| %>
    <table width="90%" cellspacing="0" cellpadding="5" class="text-01 panel-blue" style="padding-left: 15px;">
      <tbody>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td width="80%"><%=  t('configuration.field.label.message')%></td>
          <td><%= f.check_box :email_receive_message%></td>
        </tr>
        <tr>
          <td><%= t('configuration.field.label.trip_comment')%></td>
          <td><%= f.check_box :email_receive_trip_comment%></td>
        </tr>
        <tr>
          <td><%= t('configuration.field.label.seek_comment')%></td>
          <td><%= f.check_box :email_receive_seek_comment %></td>
        </tr>
        <tr>
          <td><%= t('configuration.field.label.reputation')%></td>
          <td><%= f.check_box :email_receive_reputation %></td>
        </tr>
        <tr>
          <td><%= t('configuration.field.label.match_seek')%></td>
          <td><%= f.check_box :email_match_seek %></td>
        </tr>
        <tr>
          <td><%= t('configuration.field.label.match_trip')%></td>
          <td><%= f.check_box :email_match_trip %></td>
        </tr>
        <tr>
          <td><%= t('configuration.field.label.other_trip_comment')%></td>
          <td><%= f.check_box :email_other_trip_comment %></td>
        </tr>
        <tr>
          <td><%= t('configuration.field.label.other_seek_comment')%></td>
          <td><%= f.check_box :email_other_seek_comment %></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td colspan="2" style="text-align: center"><%= f.submit t('button.submit'), :class => 'button-register' %> / <%= link_to t('button.cancel'), profile_path(@user.username) %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
  </div>
</div>
