<div class="plc">
  <br clear="all"/>

  <p align="center">
    <%= link_to how_path do %>
        <% if I18n.locale == :en %>
            <%= image_tag 'how-m-en.png', :alt => 'How Bistip works', :class => 'defaultShadow' %>
        <% else %>
            <%= image_tag 'how-m.png', :alt => 'How Bistip works', :class => 'defaultShadow' %>
        <% end %>
    <% end %>
  </p>
  <br clear="all"/>
</div>