<div class="col3">
  <nav id="dashboardMenu">
    <%= render_sub_menu_link t('dashboard.link.general'), [dashboard_path] %>
    <% profile_paths = [dashboard_profile_path,
      {:controller => 'users', :action => "edit"},
      {:controller => 'passwords', :action => "edit"},
      {:controller => 'passwords', :action => "update"},
      {:controller => 'users', :action => "update", :id => current_user.id},
      edit_settings_path,
      dashboard_points_path,
      payout_methods_path,
      new_payout_method_path] %>
    <%= render_sub_menu_link t('dashboard.link.account'), profile_paths %>
    <% if check_selected_sub_menu(profile_paths) %>
      <div class="submenu">
        <%= link_to t('user.show.link'), dashboard_profile_path %>
        <%= link_to t('user.edit.link'), edit_profile_path %>
        <%= link_to t('password.edit.link'), edit_password_path %>
        <%= link_to t('configuration.edit.link'), edit_settings_path %>
        <%= link_to t('payout_method.link'), payout_methods_path %>
        <%= link_to t('dashboard.link.points'), dashboard_points_path %>
      </div>
    <% end %>
    <% activity_paths = [dashboard_trips_path, dashboard_seeks_path, dashboard_stories_path, dashboard_suggested_items_path] %>
    <%= render_sub_menu_link t('dashboard.link.activity'), activity_paths %>
    <% if check_selected_sub_menu(activity_paths) %>
      <div class="submenu">
        <%= link_to t('trip.index.link'), dashboard_trips_path %>
        <%= link_to t('seek.index.link'), dashboard_seeks_path %>
        <%= link_to t('dashboard.link.stories'), dashboard_stories_path %>
        <%= link_to t('dashboard.link.suggested_items'), dashboard_suggested_items_path %>
      </div>
    <% end %>
    <%= render_sub_menu_link t('dashboard.link.escrows'), [dashboard_safepay_path] %>
    <%= render_sub_menu_link t('user.field.label.review'), [dashboard_reviews_path] %>
    <%= render_sub_menu_link t('dashboard.link.recommendation'), [get_recommendation_path] %>
  </nav>
</div>
