<?xml version="1.0" ?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.2//EN"
"http://www.openmobilealliance.org/tech/DTD/xhtml-mobile12.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<html>
<head>
  <title><%= page_title %> | Bistip.com (Mobile)</title>
  <%= stylesheet_link_tag "jquery-ui-1.8.7.custom" %>
  <%= stylesheet_link_tag "mobile"%>
  <% jquery_datepicker_localised = "jquery.ui.datepicker-" + I18n.locale.to_s %>
  <%= javascript_include_tag 'jquery-1.4.4.min', 'jquery-ui-1.8.7.custom.min','jquery.jqEasyCharCounter.min', 'jquery.watermarkinput','rails', 'application' %>
  <%= csrf_meta_tag %>
  <meta name="description" content="Komunitas mempertemukan yang bisa dititip dan yang ingin menitip" />
  <meta name="keywords" content="titip, nitip, menitip, bawa titipan, jalan jalan, uang sambilan, bikin uang sambilan, titip barang, komunitas" />
</head>
<body>
  <table>
    <tr>
      <td>
        <%= link_to root_path do %>
          <%= image_tag "logo_small_m.png", :border => 0 %>
        <% end %>
      </td>
      <td>&nbsp;</td>
      <td align="center">
        <strong><span class="slogan"><%= t('home.index.title') %></span></strong>
      </td>
    </tr>
  </table>
  <table class="table-main" border="0" cellspacing="0" cellpadding="0" align="left">
    <tr style="background-color: #035088;">
      <td align="center">
        <%= render "shared/quick_login" %>
      </td>
    </tr>
    
    <tr style="background-color: #035088;">
      <td align="center">
        <div class="menu">
          <div class="menu-content">
            <div style="padding-top:1px;padding-bottom: 1px;">
              <%= render_menu_link t('trip.new.link'), {:controller => 'trips', :action => "new" } %><span class="sep">&diams;</span>
              <%= render_menu_link t('seek.new.link'), {:controller => 'seeks', :action => "new" } %><span class="sep">&diams;</span>
              <%= render_menu_link t('layout.link.search'), {:controller => 'search_trip', :action => "index" } %><span class="sep">&diams;</span>
              <%= render_menu_link t('influencer.link'), top_influencer_path %>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td style="padding-top:5px;">
        <%= render 'shared/notification' %>
      </td>
    </tr>
    <tr>
      <td>
          <%= yield %>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td align="center" class="footer-text" style="height:10px; border-bottom : 1px solid #999;  ">
        <%= link_to t('content.link.about'), about_path %> |
        <%= link_to t('content.link.how'), how_path %> |
        <%= link_to t('content.link.guide'), guide_path %> |
        <%= link_to t('content.link.faq_short'), faq_path %> |
        <%= link_to 'Blog', 'http://blog.bistip.com', :target => '_blank' %><br/>
        <%= link_to t('contact_us.new.link.general'), new_contact_us_path %> |
        <%= link_to t('content.link.privacy_policy'), privacy_policy_path %> |
        <%= link_to t('content.link.terms_of_service'), terms_of_service_path %><br/>
        <%= link_to t('general.slogan_competition'), 'http://bistip.com/slogan/competition.mobile.html', :target => '_blank' %> |
        <span class="blue-link">
          <%= link_to t("mobile.web_link"), :mobile => 0 %> |
          <%= link_to 'Bahasa Indonesia', :locale => 'id' %> |
          <%= link_to 'English', :locale => 'en' %><span class="text-red-01"> *beta*</span>
        </span>
      </td>
    </tr>
    <tr>
      <td align="center" class="footer-text blue-link" style="height:20px; color:#666">Copyright &copy; <%= link_to 'bistip.com', 'http://www.bistip.com' %>. All Rights Reserved</td>
    </tr>
  </table>
  <%= render 'shared/google_analytics' if ::Rails.env == 'production' %>
</body>
</html>
