
<div class="col4">
  <nav class="static">

    <%= render_sub_menu_link t('content.link.about'), [{:controller => 'content', :action => "about"}] %>
    <%= render_sub_menu_link t('content.link.how'), [{:controller => 'content', :action => "how"}] %>
    <%= render_sub_menu_link t('content.link.privacy_policy'), [{:controller => 'content', :action => "privacy_policy"}] %>
    <%= render_sub_menu_link t('content.link.terms_of_service'), [{:controller => 'content', :action => "terms_of_service"}] %>
    <%= render_sub_menu_link t('content.link.guide'), [{:controller => 'content', :action => "guide"}] %>
    <%= render_sub_menu_link t('content.link.new'), [{:controller => 'content', :action => "new"}] %>
    <%= render_sub_menu_link t('content.link.jobs'), [{:controller => 'content', :action => "jobs"}] %>
    <%= render_sub_menu_link t('stories.general.heading'), [{:controller => 'stories', :action => "index"}] %>
    <%= render_sub_menu_link t('content.link.widget'), [{:controller => 'content', :action => "widget"}] %>
    <%= render_sub_menu_link t('content.link.point'), [{:controller => 'content', :action => "bistip_point"}] %>
  </nav>
</div>