<% trip = locals[:trip] %>
<% old = trip.active? ? "" : "old" %>
<%= link_to trip_path(trip), :class => "infoBlockLink" do %>
<div class="infoBlock defaultRound mid <%= old %>">
  <% unless trip.active? %>
  <div class="oldinfo">
     <%= t('trip_summary.label.not_active') %>
  </div>
  <% end %>
  <%= render 'shared/trip_data', :locals => {:trip => trip, :item_count => TripItem::SUMMARY_COUNT} %>
</div>
<% end %>
