<% trip = locals[:trip] %>
<% user = trip.user %>

<% if logged_in? %>
  <% if current_user.sent_messages.find_all_by_trip_id_and_suggested_item_id(trip.id, @suggested_item.id).any? %>
    <% link_to user_message_path(:user_id => user, :id => current_user.sent_messages.find_all_by_trip_id_and_suggested_item_id(trip.id, @suggested_item.id).first.id), :class => "btnAction" do %>
      <%= image_tag 'icon-email-bistiper.png', :size => "22x14" %>&nbsp;
      <%= t('message.link.trip_contacted', :username => user.username) %>
    <% end %>
    <br/>
  <% elsif !trip.owner?(current_user) %>
    <%= link_to new_user_message_path(:user_id => user, :trip_id => trip.id, :suggested_item_id => @suggested_item.id), :class => "btnAction" do %>
      <%= image_tag 'icon-email-bistiper.png', :size => "22x14" %>&nbsp;
      <%= t('message.link.suggested_item', :item => @suggested_item.name) %>
    <% end %>
    <br/>
  <% end %>
<% else %>
  <%= link_to new_user_message_path(:user_id => user, :trip_id => trip.id, :suggested_item_id => @suggested_item.id), :class => "btnAction" do %>
    <%= image_tag 'icon-email-bistiper.png', :size => "22x14" %>&nbsp;
    <%= t('message.link.suggested_item', :item => @suggested_item.name) %>
  <% end %>
  <br/>
<% end %>