<% user = locals[:user] %>
<% if user.has_trusted_badge? %>
  <span class="trusted"><%= image_tag 'icon-trusted-16.png', :class => 'trustedIcon', :title => t('badge.title.trusted') %></span>
<% end %>