<% page_title t('home.index.title') %>
<% meta_keywords(get_trending_items_as_keywords) %>
<style type="text/css">
  .ui-autocomplete {
    width: 430px;
  }
</style>
<section id="callToAction">
  <div class="plc">
    <h2><%= t('general.slogan') %></h2>
    <h3 class="description"><%= t('general.description') %></h3>
    <div class="howItWorks">
      <%= image_tag('illustration/1.png') %>
      <%= image_tag('illustration/2.png') %>
      <%= image_tag('illustration/3.png') %>
      <%= image_tag('illustration/4.png') %>

      <h4><%= t('home.index.label.illustration_one') %></h4>
      <h4><%= raw t('home.index.label.illustration_two') %></h4>
      <h4><%= raw t('home.index.label.illustration_three') %></h4>
      <h4><%= raw t('home.index.label.illustration_four') %></h4>

    </div>
    <div class="searchTrip small defaultRound">
      <div class="origin">
        <%= watermark_field('origin', t('home.index.label.search_trip_origin')) %>
        <%= search_location_auto_complete_home_js 'origin' %>
        <%= text_field_tag 'origin', (@origin.blank? ? params[:origin] : @origin.display_name), :size => 30, :style => "width: 220px;" %>
      </div>
      <div class="arrow">&gt;&gt;</div>
      <div class="destination">
        <%= watermark_field('destination', t('home.index.label.search_trip_destination')) %>
        <%= search_location_auto_complete_home_js 'destination' %>
        <%= text_field_tag 'destination', (@destination.blank? ? params[:destination] : @destination.display_name), :size => 30, :style => "width: 220px;", :onkeydown => 'javascript:search_trip_field_home_key_up(event)' %>
      </div>
      <div class="button">
        <h4><a class="btnAction btnSearch" href="javascript:buildSearchTripHomeURL()"><%= t('home.index.label.wanted_bistiper_action') %></a></h4>
      </div>
    </div>
    <br clear="both"/>
    <div class="postTrip">
      <h4><%= t('home.index.label.post_trip_pre') %>&nbsp;&nbsp;&nbsp;<%= link_to t('home.index.label.bistiper_action'), new_trip_path(:denied_redirect => join_path, :ref => TrackLink.generate(request.path, TrackLink::POST_TRIP)), :class => "btnAction btnPost" %></h4>
    </div>
  </div>
</section>
<section id="popularItems">
  <h3>
    <%= t('home.index.label.trending_item') %>
    <% TrendingItem.get_all.each do |trending_item| %>
      <%= link_to trending_item.item, trending_item_lookup_path(:item => trending_item.item) %>
    <% end %>
  </h3>
</section>
<section id="homeSecondary">
  <div class="plc">
    <div class="col6">
      <%= render 'route_tag_cloud' %>
      <%= render 'counter' %>
    </div>
    <div class="col6">
      <%= render 'activities' %>
    </div>
  </div>
</section>
<section id="homeTertiary">
  <%= render 'tertiary' %>
</section>
<div clear="all"/>
<section id="mediaCoverage">
  <div class="plc">
    <%= link_to media_path do %>
      <%= image_tag "img-media-coverage.png" %>
    <% end %>
  </div>
</section>
