<% if logged_in? and !(current_user == @suggested_item.user) and !@suggested_item.voted_by?(current_user) %>
  <p>
    <%= link_to new_suggested_item_vote_path(@suggested_item), :class => "btnAction" do %>
      <%= image_tag 'icon-thumb.png', :size => "16x16" %>
    <% end %>
  </p>
<% elsif !logged_in? %>
  <p>
    <%= link_to new_suggested_item_vote_path(@suggested_item), :class => "btnAction" do %>
      <%= image_tag 'icon-thumb.png', :size => "16x16" %>
    <% end %>
  </p>
<% end %>
