<% suggested_item = locals[:suggested_item] %>
<% show_user = locals[:show_user] %>
<% show_user = true if show_user.nil? %>
<% ref = locals[:ref] %>
<% keyword_specified = locals[:keyword_specified] %>
<%= link_to item_path(suggested_item, :ref => ref), :class => "infoBlockLink suggestedItemRow #{'old' unless suggested_item.active?}" do %>
  <div class="infoBlock">
    <% unless suggested_item.active?  %>
      <div class="oldinfo"><%= t('suggested_items.show.label.not_active_short') %></div>
    <% end %>
    <div class="left">
      <div class="avatar">
        <% if suggested_item.has_picture? %>
          <%= image_tag suggested_item.pictures.first.attachment.url, :size => "64x64", :class => "photo bgWhite" %>
        <% else %>
          <%= image_tag 'default_original_item.png', :size => "64x64", :class => "photo bgWhite" %>
        <% end %>
      </div>
      <% if suggested_item.is_a?(UserSuggestedItem) %>
        <div class="owner">
          <%= suggested_item.user.username %>
        </div>
      <% end %>
    </div>
    <div class="right">
      <div class="itemDisplay defaultRound">
        <%= keyword_specified ? (highlight suggested_item.name, search_keyword_to_array(params[:keyword])) : suggested_item.name %>
      </div>
      <div class="locationDisplay defaultRound">
        <%= suggested_item.origin_city.name %>, <%= suggested_item.origin_city.country.name %>
      </div>
    </div>
  </div>
<% end %>