<% page_title t('suggested_items.new.heading') %>
<div id="suggestedItem">
  <div class="col4">
    <h2>
      <%= t('suggested_items.general.heading') %>
    </h2>
  </div>

  <div class="col4 bgLightGreen defaultRound">
    <%= render 'form', :action => 'create' %>
  </div>
</div>
