<% user = @suggested_item.user %>
<% city = @suggested_item.origin_city %>
<% label_city = city.all_cities? ? city.country.name : city.name %>
<%= page_title(raw t 'suggested_items.show.label.meta_desc', :item => @suggested_item.name, :location => label_city )  %>
<%= meta_description(raw t 'suggested_items.show.label.meta_desc', :item => @suggested_item.name, :location => label_city )  %>
<%= meta_keywords @suggested_item.name %>

<div class="col12">
  <h2><%= t('suggested_items.show.label.heading') %></h2>
</div>
<div class="col8 bgLightGreen defaultRound">
  <div id="viewItem">
    <div class="avatar">
      <% if !@main_picture.blank? %>
        <%= image_tag @main_picture.attachment.url, :size => "125x125", :class => "photo bgWhite" %>
      <% else %>
        <%= image_tag 'default_original_item.png', :size => "125x125" %>
      <% end %>
      <div class="tools">
        <%= render 'new_vote' %>
      </div>
      <div class="adminTools">
        <% if logged_in? and @suggested_item.user == current_user %>
          <%= link_to t('suggested_items.edit.link'), edit_suggested_item_path(@suggested_item) %>
        <% end %>
      </div>
    </div>

    <div class="info">
      <% unless @suggested_item.active? %>
        <div class="notificationBar yellow">
          <%= t('suggested_items.show.label.not_active') %>
        </div>
      <% end %>
      <div class="itemDisplay defaultRound">
        <%= @suggested_item.name %>
      </div>
      <div class="locationDisplay defaultRound">
        <%= @suggested_item.origin_city.name %>, <%= @suggested_item.origin_city.country.name %>
      </div>
      <br/>
      <h4><%= raw t('suggested_items.show.label.reason', :location => label_city, :item => @suggested_item.name) %></h4>
      <p>
        <%= @suggested_item.reason %>
      </p>
      <% unless @suggested_item.notes.blank? %>
        <h4><%= t('suggested_items.show.label.notes') %></h4>
        <p>
          <%= auto_link_in_new_tab(@suggested_item.notes) %>
        </p>
      <% end %>
      <p>
      <% url = suggested_item_url(@suggested_item) %>
      <%= render 'shared/social_share_item', :locals => {:url => url, :title => (raw t 'suggested_items.show.label.meta_desc', :item => @suggested_item.name, :location => label_city )} %>
    </p>
    </div>
  </div>
  <br clear="all"/>  <br clear="all"/>
  <% unless @suggested_item_pictures.blank? %>
    <h4><%= raw t('suggested_items.show.label.pictures', :item => @suggested_item.name) %></h4>
    <div id="itemPictures" class="bgWhite defaultRound">
      <% @suggested_item_pictures.each_with_index do |suggested_item_picture, index| %>
        <% identifier = "suggested_item_" + @suggested_item.id.to_s + "_suggested_item_picture_" + index.to_s %>
        <%= picture_popup_js(identifier) %>
        <%= link_to suggested_item_picture.attachment(:original), :id => identifier do %>
          <%= image_tag suggested_item_picture.attachment(:thumb), :class => 'photo', :size => '50x50' %>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <br/>
  <div id="searchResults">
      <div class="defaultRound">
      	<% if @total_result > 0 %>
      	<h4><%= raw t('suggested_items.show.label.route') %>&nbsp;<%= render 'shared/city', :locals => {:city => city, :short_name => false} %>&nbsp;<span class="counter"><%= @total_result %></span></h4>
        <% end%>
        <div id="trips">
      		<%= render 'trips' %>
  		</div>
      </div>
    </div>
  
  
    
</div>
<div class="col4">
  <% if @suggested_item.is_a?(UserSuggestedItem) %>
    <h4 class="textBlack"><%= t('suggested_items.show.label.suggester') %></h4>
    <br/>
    <div class="itemRightBox" style="padding-bottom: 0px;">
      <p>
        <%= link_to profile_path(user.username) do %>
          <%= image_tag user.avatar.url(:thumb), :size => "32x32", :class => "photo" %>
          &nbsp;&nbsp;<%= user.username %>
        <% end %>
      </p>
    </div>
  <% end %>
  <div class="itemRightBox" style="padding-top: 0px;">
    <%= render 'vote', :locals => {:suggested_item => @suggested_item} %>
  </div>
  <h4 class="textBlack"><%= t('suggested_items.show.label.got_idea') %></h4>
  <br/>
  <div class="itemRightBox" style="padding-top: 0px;">
    <p>
      <%= link_to t('suggested_items.show.label.call_action'), new_idea_item_path(:ref => TrackLink.generate(request.path, TrackLink::NEW_SI, @suggested_item.id)), :class => 'btnActionSecond' %>
    </p>
  </div>
  <% if !SuggestedItem.get_similar_from_other_city(@suggested_item, 2).blank? %>
    <h4 class="textBlack"><%= t('suggested_items.show.label.other_location', :item => @suggested_item.name) %></h4>
    <br/>
    <div class="bgGrey defaultRound itemRightBox">
      <% SuggestedItem.get_similar_from_other_city(@suggested_item, 2).each do |item| %>
        <p>
          <% link_to suggested_item_path(item, :ref => TrackLink.generate(request.path, TrackLink::SI, @suggested_item.id)) do %>
            <% if !item.pictures.first.blank? %>
              <%= image_tag item.pictures.first.attachment.url(:thumb), :size => "32x32", :class => "photo bgWhite" %>
              &nbsp;&nbsp;<%= item.name_mini %>&nbsp;-&nbsp;<%= render 'shared/city', :locals => {:city => item.origin_city, :short_name => true} %>
            <% else %>
              <%= image_tag 'default_original_item.png', :size => "32x32", :class => "photo bgWhite" %>
              &nbsp;&nbsp;<%= item.name_mini %>&nbsp;-&nbsp;<%= render 'shared/city', :locals => {:city => item.origin_city, :short_name => true} %>
            <% end %>
          <% end %>
        </p>
      <% end %>
    </div>
    <% total = SuggestedItem.get_similar_from_other_city(@suggested_item, nil).count %>
    <% if total > 2 %>
      <p>
        <%= link_to t('general.see_all'), search_item_path(:keyword => @suggested_item.name, :ref => TrackLink.generate(request.path, TrackLink::SI_SEE_ALL, @suggested_item.id)) %> <span class="counter"><%= total %></span>
      </p>
    <% end %>
    <br/>
  <% end %>

  <% if !SuggestedItem.get_other_suggested_item_from_same_city(@suggested_item, 2).blank? %>
    <% label_to_use = city.all_cities? ? city.country.name : city.name %>
    <h4 class="textBlack"><%= t('suggested_items.show.label.other_item', :location => label_to_use) %></h4>
    <br/>
    <div class="bgGrey defaultRound itemRightBox">
      <% SuggestedItem.get_other_suggested_item_from_same_city(@suggested_item, 2).each do |item| %>
        <p>
          <%= link_to suggested_item_path(item, :ref => TrackLink.generate(request.path.split("-")[0], TrackLink::SI, @suggested_item.id)) do %>
            <% if !item.pictures.first.blank? %>
              <%= image_tag item.pictures.first.attachment.url(:thumb), :size => "32x32", :class => "photo bgWhite" %>
              &nbsp;&nbsp;<%= item.name_short %>
            <% else %>
              <%= image_tag 'default_original_item.png', :size => "32x32", :class => "photo bgWhite" %>
              &nbsp;&nbsp;<%= item.name_short %>
            <% end %>
          <% end %>
        </p>
      <% end %>
    </div>
    <% total = SuggestedItem.get_other_suggested_item_from_same_city(@suggested_item, nil).count %>
    <% if total > 2 %>
      <p>
        <%= link_to t('general.see_all'), search_item_path(:origin => @suggested_item.origin_location, :ref => TrackLink.generate(request.path, TrackLink::SI_SEE_ALL, @suggested_item.id)) %> <span class="counter"><%= total %></span>
      </p>
    <% end %>
  <% end %>
</div>
