<div style="font: normal 14px Helvetica, Arial, sans-serif; line-height: 19px; color: #333;">
  There is a problem when processing your reply comment to <%= @receiver.username %>:
  <blockquote>
    <% @errors.each do |msg| %>
      <div><strong><i><%= raw(msg) %></i></strong></div>
    <% end %>
  </blockquote>
  <br/>
  <b>You can click 'Reply' to this email to send your comment again.</b>
</div>