<% unless @other_item_offers.blank? %>
  <br/>
  <h4><%= t('item.show.label.other_offer') %></h4>
  <br/>
  <div class="otherItemOffer">
    <% @other_item_offers.each do |item_offer| %>
      <% url = item_offer.first_picture(:original) %>
      <%= link_to item_path(item_offer) do %>
        <div class="picItemOffer">
          <span class="value">
            <% if item_offer.offer_method == ItemOfferMethod::TIP %>
              <span class="tip_string"><%= t('item.show.label.picture_tip') %></span>
            <% end %>
            <%= item_offer.price_with_unit %><%= item_offer.tip_with_unit %>
          </span>
          <%= image_tag url, :class => 'photo bgWhite', :size => '100x100' %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>