<% item = locals[:item] %>
<% ref = locals[:ref] %>
<% img_wrap_id = "img_wrap-#{item.id}" %>
<%= show_item_name_on_hover_js(img_wrap_id) %>
<%= link_to item_path(item, :ref => ref), :class => "itemSummary" do %>
  <% if item.is_a? TripItem %>
    <div class="offer"><%= t('item.summary.label.offer') %></div>
    <% unless item.offer_method.blank? %>
      <div class="value">
        <% if item.offer_method == ItemOfferMethod::TIP %>
          <span class="tip_string"><%= t('item.show.label.picture_tip') %></span>
        <% end %>
        <%= item.price_with_unit %><%= item.tip_with_unit %>
      </div>
    <% end %>
  <% end %>
  <% if item.is_a? IdeaItem %>
    <div class="idea"><%= t('item.summary.label.idea') %></div>
  <% end %>
  <% if item.is_a? SeekItem %>
    <div class="wanted"><%= t('item.summary.label.wanted') %></div>
    <% unless item.offer_method.blank? %>
      <div class="valueBlue">
        <div class="label">
          <% if item.offer_method == ItemOfferMethod::TIP %>
            <%= t('seek.field.label.items_tip') %>
          <% else %>
            <%= t('seek.field.label.items_price') %>
          <% end %>
        </div>
        <%= item.price_with_unit %><%= item.tip_with_unit %>
      </div>
    <% end %>
  <% end %>
  <% if item.is_a? StoreItem %>
    <div class="sell"><%= t('item.summary.label.sell') %></div>
    <div class="valueGreen">
      <%= item.price_with_unit %>
    </div>
  <% end %>
  <div class="imgWrap" id="<%= img_wrap_id %>">
    <% url = item.first_picture(:original) %>
    <%= image_tag url, :size => '152x152', :class => "bgWhite" %>
    <div class="toolTip" style="display: none">
      <%= item.name_for_display %>
      <% if item.is_a? StoreItem %>
        <br/>
        <span class="textGrey"><%= t('item.summary.label.seller') %>: <%= item.user.username %></span>
      <% end %>
    </div>
  </div>
<% end %>