<div class="itemRow">
  <div class="photo">
    <% url = item.first_picture(:thumb) %>
    <%= image_tag url, :size => '48x48', :class => "photo bgWhite" %>
  </div>
  <div class="desc">
    <div class="name"><%= highlight item.name, search_keyword_to_array(params[:keyword]) %></div>
    <% if !item.tip.blank? %>
      <div class="offer">
        <%= t('trip.show.label.tip')%>:&nbsp;<em><%= item.tip_with_unit %></em>
      </div>
    <% end %>
    <% if !item.price.blank? %>
      <div class="offer">
        <%= t('trip.show.label.price')%>:&nbsp;<em><%= item.price_with_unit %></em>
      </div>
    <% end %>
  </div>
</div>