<%= page_title @item.desc_string %>
<%= meta_description @item.desc_string %>
<%= meta_keywords @item.name %>

<div class="col4">
  <h2><%= t('item.show.label.heading') %></h2>
</div>
<div class="col4 bgLightGreen defaultRound">
  <div id="viewItemOffer">
    <div class="avatar">
      <% url = @item.first_picture(:thumb) %>
      <%= image_tag url, :size => '50x50', :class => "photo bgWhite" %>
      <div class="adminTools">
        <% if logged_in? and @item.user == current_user %>
          <%= link_to t('item.edit.link'), @item.edit_path %>
        <% end %>
      </div>
    </div>

    <div class="info">
      <% unless @item.parent.active? %>
        <div class="notificationBar red">
          <%= t('item.show.label.not_active') %>
        </div>
      <% end %>
      <div class="itemDisplay defaultRound">
        <%= @item.name %>
      </div>
      <%= render 'offer' %>
      <div class="routeDisplay defaultRound">
        <% origin_city = @item.parent.origin_city %>
        <% destination_city = @item.parent.destination_city %>
        <%= render 'shared/city', :locals => {:city => origin_city} %>
        &nbsp;<strong>&gt;</strong>&nbsp;
        <%= render 'shared/city', :locals => {:city => destination_city} %>
      </div>
      <br/>
      <h4 class="textBlack"><%= t('item.show.label.owner') %></h4>
      <p>
        <%= link_to @item.user.username, profile_path(@item.user.username) %>
      </p>
      <br/>
      <%= render 'message' %>
      <% url = item_url(@item) %>
      <%= render 'shared/social_share_item', :locals => {:url => url, :title => @item.desc_string} %>
    </div>
  </div>
  <br clear="all"/>  <br clear="all"/>
  <% unless @item.pictures.blank? %>
    <h4><%= raw t('suggested_items.show.label.pictures', :item => @item.name) %></h4>
    <div id="itemPictures" class="bgWhite defaultRound">
      <% @item.pictures.each_with_index do |item_picture, index| %>
        <% identifier = "item_" + @item.id.to_s + "_item_picture_" + index.to_s %>
        <%= link_to item_pictures_path(:item_id => @item.id, :item_picture_id => item_picture.id) do %>
          <%= image_tag item_picture.attachment(:thumb), :align => 'center', :class => 'photo', :size => '50x50' %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
