<% user = reply.user %>

<div class="commentReplyRow bgGrey">
  <div class="body">
    <h5>
      <%= link_to user.username, profile_path(user.username) %>
      <span>&nbsp;&ndash;&nbsp;<%= smart_date_display(reply.created_at) %> </span>
      <% if logged_in? and !reply.deleted and reply.user==current_user%>
        <span class="deleteButton">
          <%= link_to t("comment.deletebutton"), trip_comment_path(reply.trip.id, reply.id), :confirm => t('general.are_you_sure'), :method => :delete, :class => "delete" %>
        </span>
      <% end %>
    </h5>
    <p>
      <%= auto_link_in_new_tab_without_simple_format reply.body_display %>
    </p>
  </div>
</div>
