<div class="content-left">
  <div class="page-heading"><%= t('testimonial.index.heading') %></div>
  <div class="page-heading blue-link"><%= raw t('home.index.label.testimonial', :href => link_to(t('general.here'), new_contact_us_path(:subject => t('contact_us.new.link.testimonial')))) %></div>
  <% @testimonials.each do |testimonial| %>
    <div class="text-01 testimonial">
      <i><%= testimonial.body %></i>
      <div style="padding-right: 20px; text-align: right"><strong><%= testimonial.from %></strong></div>
      <br/>
    </div>
  <% end %>
</div>

