<%= render 'shared/static_left_menu' %>
<div class="col9">
  <h2><%= t('testimonial.index.heading') %></h2>

  <h3 class="textBlack"><%= raw t('home.index.label.testimonial', :href => link_to(t('general.here'), new_contact_us_path(:subject => t('contact_us.new.link.testimonial')))) %></h3>
  <% @testimonials.each do |testimonial| %>
      <blockquote class="defaultRound">"<%= testimonial.body %>"
        <br/>
        <strong class="alignright"><%= testimonial.from %></strong><br /></blockquote>
  <% end %>
</div>

