<% escrow = locals[:escrow] %>
<p>
  <label><%= t('escrow.redirect_indonesia_bank_transfer.label.bank_name') %></label>
  <strong>Bank Central Asia (BCA)</strong>
</p>
<p>
  <label><%= t('escrow.redirect_indonesia_bank_transfer.label.account_name') %></label>
  <strong>PT. AFILIASI KONTENINDO JAYA</strong>
</p>
<p>
  <label><%= t('escrow.redirect_indonesia_bank_transfer.label.account_number') %></label>
  <strong>8780188988</strong>
</p>
<p>
  <label><%= t('escrow.redirect_indonesia_bank_transfer.label.amount') %></label>
  <strong><%= escrow.amount_after_fee_with_currency %></strong>
</p>
<p>
  <label><%= t('escrow.redirect_indonesia_bank_transfer.label.notes') %></label>
  <strong><%= escrow.bank_transfer_notes %></strong>
</p>