<% seek = locals[:seek] %>
<tr>
  <td><%= render 'shared/seek_summary',  :locals => {:seek => seek} %></td>
  <td width="20px">&nbsp;</td>
  <% if logged_in? and seek.owner?(current_user) %>
    <td style="vertical-align: top">
      <% if seek.active? %>
        <div style="clear: both; text-align: right;" class="buttonlink-grey-01">
          <%= link_to t('seek.edit.link_short'), edit_seek_path(seek) %>
        </div>
      <% end %>
    </td>
    <td width="20px">&nbsp;</td>
    <td style="vertical-align: top">
      <% if seek.active? %>
        <div style="clear: both; text-align: right; vertical-align: top" class="buttonlink-grey-01">
          <%= link_to t('seek.destroy.link_short'), seek, :confirm => 'Are you sure?', :method => :delete %>
        </div>
      <% end %>
    </td>
    <td width="20px">&nbsp;</td>
    <td style="vertical-align: top; text-align: center">
      <% trips_match_count = seek.find_matching_trips.count %>
      <% if trips_match_count > 0 %>
        <%= t('seek.index.table.match_count', :count => trips_match_count) %> -
        <span class="buttonlink-red link"><%= link_to t('seek.show.label.auto_match_link'), match_seek_path(seek) %></span>
      <% end %>
    </td>
  <% end %>
</tr>