<% page_title t('user.influencer_point.link') %>
<%= render 'shared/user_sub_menu' %>
<br/>
<center>
<div id="mypoint" style="border: 2px solid #62ACE3;width: 60%; border-radius:5px;">
  <%= render 'influencer'  %>
</div>
</center>

