<%= form_for(@trip) do |f| %>
  <table cellspacing="0" border="0" class="text-01">
    <tbody>
      <tr>
        <td colspan="2"><b><%= t('trip.new.label.intro') %></b></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>
          <span style="border: 2px solid #FF5577; background: white; padding: 4px; font-weight: bold" class="blue-link"><%= link_to t('trip.new.label.routine_link'), new_routine_trips_path %></span>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><%= t('mobile.trip.field.label.origin') %></td>
      </tr>
      <tr>
        <td>
          <%= location_auto_complete_js 'trip_origin_location', true %>
          <%= f.text_field :origin_location, :class => 'textbox-01' %>
        </td>
      </tr>
      <tr>
        <td><%= t('mobile.trip.field.label.destination') %></td>
      </tr>
      <tr>
        <td>
          <%= location_auto_complete_js 'trip_destination_location', true %>
          <%= f.text_field :destination_location, :class => 'textbox-01' %>
        </td>
      </tr>
      <tr>
        <td><%= render 'shared/new_location_contact_us' %></td>
      </tr>
      <tr>
        <td style="vertical-align: top"><%= t('trip.field.label.departure_date') %></td>
      </tr>
      <tr>
        <td>
          <%= f.datetime_select :departure_date,
            options = {:discard_hour=>true, :discard_minute=>true, :start_year=>Time.now.year, :end_year=>Time.now.year+5, :prompt=>true} %>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top"><%= t('trip.field.label.arrival_date') %></td>
      </tr>
      <tr>
        <td><i><%= t('trip.new.label.arrival_date_help') %> </i></td>
      </tr>
      <tr>
        <td>
          <%= f.datetime_select :arrival_date,
            options = {:discard_hour=>true, :discard_minute=>true, :start_year=>Time.now.year, :end_year=>Time.now.year+5, :prompt=>true} %>
        </td>
      </tr>
      <tr>
        <td><%= t('trip.field.label.notes') %></td>
      </tr>
      <tr>
        <td>
          <%= enable_character_counter('trip_notes',Trip::NOTES_MAXIMUM_LENGTH) %>
          <%= f.text_area :notes, :rows => 5, :cols => 25, :class => 'textarea-01' %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.submit t('button.submit'), :class => 'button-register' %> / <%= link_to t('button.cancel'), locals[:cancel_path] %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
