<%= form_for(@trip) do |f| %>
  <%= f.hidden_field :routine, :value=>true %>
  <table width="100%" border="0" class="text-01">
    <tbody>
      <tr>
        <td colspan="2"><b><%= t('trip.new.label.intro') %></b></td>
      </tr>
      <tr>
        <td><%= t('trip.field.label.origin') %></td>
      </tr>
      <tr>
        <td>
          <%= location_auto_complete_js 'trip_origin_location', true %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.text_field :origin_location, :class => 'textbox-01' %>
        </td>
      </tr>
      <tr>
        <td><%= t('trip.field.label.destination') %></td>
      </tr>
      <tr>
        <td>
          <%= location_auto_complete_js 'trip_destination_location', true %>
          <%= f.text_field :destination_location, :class => 'textbox-01' %>
        </td>
      </tr>
      <tr>
        <td><%= render 'shared/new_location_contact_us' %></td>
      </tr>
      <tr>
        <td><%= t('trip.field.label.period')%></td>
      </tr>
      <tr>
        <% period = Period.map %>
        <td><%= select_tag "trip[period]", options_for_select(period, @trip.period) %></td>
      </tr>
      <tr>
        <td><%= t('trip.field.label.day')%> </td>
      </tr>
      <tr>
        <td>
          <% if !@trip.day.nil? %>
            <%for day in Day::ALL%>
              <%= check_box_tag "trip[day][]",day,@trip.day.include?(day) %><%=label_tag day %><br/>
            <%end%>
          <% else %>
            <%for day in Day::ALL%>
              <%= check_box_tag "trip[day][]",day %><%= label_tag day %><br/>
            <%end%>
          <%  end %>
        </td>
      </tr>
      <tr>
        <td><%= t('trip.field.label.notes') %></td>
      </tr>
      <tr>
        <td>
          <%= enable_character_counter('trip_notes',Trip::NOTES_MAXIMUM_LENGTH) %>
          <%= f.text_area :notes, :rows => 5, :cols => 35, :class => 'textarea-01' %>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>
          <%= f.submit t('button.submit'), :class => 'button-register' %> / <%= link_to t('button.cancel'), locals[:cancel_path] %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
