<% insurance = locals[:insurance] %>
<div class="details">
  <p>
    <% if current_user == insurance.buyer %>
      <%= t('insurance.widget.label.buyer', :username => insurance.buyer.username) %>
    <% else %>
      <%= t('insurance.widget.label.seller', :username => insurance.seller.username) %>
    <% end %>
  </p>
  <div class="pair">
    <div class="label"><%= t('insurance.widget.label.cover_value') %></div>
    <div class="value"><%= insurance.cover_value_with_currency %></div>
  </div>
  <div class="pair">
    <div class="label"><%= t('insurance.widget.label.item') %></div>
    <div class="value"><%= insurance.item %></div>
  </div>
  <div class="pair">
    <div class="label"><%= t('insurance.widget.label.state') %></div>
    <div class="value"><%= insurance.last_log.to_display_string %></div>
  </div>
  <div class="pair">
    <div class="label"><%= t('insurance.widget.label.awaiting') %></div>
    <div class="value"><%= insurance.last_log.get_awaiting_string %></div>
  </div>
</div>