<% trip = locals[:trip] %>
<% user = trip.user %>
<% color = locals[:color] %>
<% color = 'bgLightYellow' if color.nil? %>
<% show_route = locals[:show_route] %>
<% show_route = true if show_route.nil? %>
<% show_user = locals[:show_user] %>
<% show_user = true if show_user.nil? %>
<% ref = locals[:ref] %>
<%= link_to trip_path(trip, :ref => ref), :class => 'divlink' do %>
  <div class="miniRow <%= color %>">
    <div class="info">
      <p>
        <% if show_user %>
          <span class="iconUser"><strong><%= user.username %></strong></span>
          <br/>
        <% end %>
        <% if show_route %>
          <span class="iconRoute">
            <strong>
              <%= render 'shared/city', :locals => {:city => trip.origin_city, :short_name => true} %>
            </strong> <span class="dashArrow">-</span>
            <strong>
              <%= render 'shared/city', :locals => {:city => trip.destination_city, :short_name => true} %>
            </strong>
          </span>
          <br/>
        <% end %>
        <span class="iconDate">
          <% if trip.routine %>
            <strong><%= t("week_period.#{trip.period}") %></strong>
          <% else %>
            <strong><%= l(trip.departure_date) %></strong>
          <% end %>
        </span>
      </p>
    </div>
  </div>
<% end %>
