<% page_title t('dashboard.link.escrows') %>
<div id="dashboard">
  <%= render 'reminder' %>
  <%= render 'menu' %>
  <div class="col9">
    <% if @escrows.size > 0 %>
      <% @escrows.each do |escrow| %>
        <div class="escrowRow">
          <%= link_to message_path(escrow.message), :class => "divlink" do %>
            <%= render 'shared/escrow_info', :locals => {:escrow => escrow} %>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <div class="notificationBar yellow"><%= t('escrow.index.no_result') %></div>
    <% end %>
  </div>
</div>