<% page_title t('dashboard.link.points') %>
<div id="dashboard">
  <%= render 'dashboard/reminder' %>
  <%= render 'dashboard/menu'  %>
  <div class="col9">
    <h4><%= t('dashboard.link.points')%></h4><br/>
    <%= render 'shared/point_widget' %>
    <br/>
    <h4><%= t('dashboard.points.label.breakdown') %></h4>
    <div class="pointsTable">
      <% unless @influencer_logs.blank? %>
        <div class="header"><%= t('dashboard.points.label.influencer_logs') %></div>
        <% @influencer_logs.each do |influencer_log| %>
          <div class="pointRow">
            <div class="left">
              <% trip = Trip.find(influencer_log[0]) %>
              <%= raw t('dashboard.points.label.influencer_log_title', :owner => trip.user.username, :route => link_to(trip.origin_city.name + ' - ' + trip.destination_city.name, trip_path(trip))) %>
            </div>
            <div class="right">
              <%= t('general.points_plus', :points => influencer_log[1]) %>
            </div>
          </div>
        <% end %>
      <% end %>

      <% unless @stories.blank? %>
        <div class="header"><%= t('dashboard.points.label.stories') %></div>
        <% @stories.each do |story| %>
          <div class="pointRow">
            <div class="left">
              <%= raw story.title_label %>
            </div>
            <div class="right">
              <%= story.point_label  %>
            </div>
          </div>
        <% end %>
      <% end %>

      <% unless @suggested_items.blank? %>
        <div class="header"><%= t('dashboard.points.label.suggested_items') %></div>
        <% @suggested_items.each do |suggested_item| %>
          <div class="pointRow">
            <div class="left">
              <%= raw suggested_item.title_label %>
            </div>
            <div class="right">
              <%= suggested_item.point_label  %>
            </div>
          </div>
        <% end %>
      <% end %>

      <% unless @misc_point_logs.blank? %>
        <div class="header"><%= t('dashboard.points.label.others') %></div>
        <% @misc_point_logs.each do |point_log| %>
          <div class="pointRow">
            <div class="left">
              <%= point_log.title_label %>
            </div>
            <div class="right">
              <%= point_log.point_label  %>
            </div>
          </div>
        <% end %>
      <% end %>
        <br/>
        <div class="totalPointRow">
          <div class="left">
            <strong><%= t('dashboard.points.label.total_points') %></strong>
          </div>
          <div class="right">
            <%= t('general.points', :points => current_user.points) %>
          </div>
        </div>
    </div>
  </div>
</div>