<nav id="tabNav">
  <%= render_sub_menu_link t('search_trip.link_short'), [{:controller => 'search_trip', :action => "index"}] %>
  <%= render_sub_menu_link t('search_seek.link_short'), [{:controller => 'search_seek', :action => "index"}] %>
  <%= render_sub_menu_link t('search_user.link_short'), [{:controller => 'search_user', :action => "index"}] %>
  <%= render_sub_menu_link t('search_item.link_short'), [{:controller => 'search_item', :action => "index"}] %>
</nav>