<% url = locals[:url] %>
<% title = locals[:title] %>
<% owner = locals[:owner] %>
<% if current_user && owner != current_user %>
  <% label = t('social_share.influencer', :link => (link_to t('content.link.point'), bistip_point_path, :target => '_blank')) %>
<% else %>
    <% label = t('social_share.label') %>
<% end %>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4d71069d1b32853e"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("a.bmarks-btn").shareitBtn(); // the button function
        $(".bmarks a").shareitHover(); // the hover effect (optional)
    });
    var addthis_share = {
        templates: { twitter: '{{title}} {{url}} via @bistip' }
    }
</script>
<h5 class="shareHeader textBlack"><%= raw label %></h5>
<a class="addthis_button_facebook socialButton" addthis:url="<%= url %>" addthis:title="<%= title %>"><img src="/images/social/fb-24.png" height="24" border="0" alt="Share to Facebook" /></a>
<a class="addthis_button_twitter socialButton" addthis:url="<%= url %>" addthis:title="<%= title %>"><img src="/images/social/tw-24.png" height="24" border="0" alt="Share to Twitter" /></a>
<script type="text/javascript">
  var addthis_config = {"data_track_clickback":true};
</script>
<!-- AddThis Button END -->