<% trip = locals[:trip] %>
<% user = trip.user %>

<% if logged_in? %>
  <% if !trip.owner?(current_user) %>
    <%= link_to new_user_message_path(:user_id => user, :trip_id => trip.id, :suggested_item_id => @suggested_item.id), :class => "btnAction" do %>
      <%= image_tag 'icon-email-bistiper-m.png' %>&nbsp;
      <%= t('message.link.suggested_item', :item => @suggested_item.name, :username => user.username) %>
    <% end %>
    <br/>
  <% end %>
<% else %>
  <%= link_to new_user_message_path(:user_id => user, :trip_id => trip.id, :suggested_item_id => @suggested_item.id), :class => "btnAction" do %>
    <%= image_tag 'icon-email-bistiper-m.png' %>&nbsp;
    <%= t('message.link.suggested_item', :item => @suggested_item.name, :username => user.username) %>
  <% end %>
  <br/>
<% end %>