<section id="secondaryNav">
  <div class="plc">
    <nav>
      <div class="col1 alignCenter">
        <%= link_to t('content.link.how_short'), how_path %>
      </div>
      <div class="col1 alignCenter">
        <%= link_to new_trip_path do %>
          <span class="plusSign">+&nbsp;</span><%= t('trip.new.short_link') %>
        <% end %>
      </div>
      <div class="col1 alignCenter">
        <%= link_to new_seek_path do %>
          <span class="plusSign">+&nbsp;</span><%= t('seek.new.short_link') %>
        <% end %>
      </div>
      <div class="col1 alignCenter">
        <%= link_to t('layout.link.search'), {:controller => 'search_trip', :action => "index" } %>
      </div>
    </nav>
  </div>
</section>
