<%= form_for(@story, :html => {:multipart => true}) do |f| %>
    <h3 class="textBlack"><%= t('stories.new.heading') %></h3>
    <p>
      <label><%= t('stories.new.label.title') %></label>
      <%= f.text_field :title %>
    </p>
    <p>
      <label><%= t('stories.new.label.body') %></label><br/>
      <%= enable_character_counter('story_body', 1000) %>
      <%= f.text_area :body, :rows => 7, :cols => 60 %>
    </p>
    <div id="storyAttachPicture">
      <div class="label">
        <span class="attach"><%= t('stories.general.picture') %></span>
      </div>

      <div class="fields">
        <%= f.fields_for :story_pictures do |story_picture| %>
            <%= render "story_pictures/field", :locals => {:story_picture => story_picture} %>
        <% end %>
      </div>
    </div>
    <br clear="all"/>
    <%= f.submit t('button.send'), :class => 'defaultButton' %><%= link_to t('button.cancel'), :back, :class => 'cancelLink' %>

<% end %>