*{
	margin:0;
	padding:0;
}

body{
	font-size:13px;
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-family:Corbel,'Myriad Pro',Arial, Helvetica, sans-serif;
}

#page{
	width:753px;
	margin:5px auto;
}

#frame1{ 
   width: 400px; 
   height: 200px; 
   border: none; 
}

#headingSection2{
	background-color:#fff;
	padding:40px;
	padding-left:60px;
	position:relative;
	border:1px solid #045189;
	border-bottom:none;
}

#headSection{
	background-color:#fff;
	padding:40px;
	padding-left:60px;
	position:relative;
	border:1px solid #ffffff;
	border-bottom:none;
}

#headingSection{
	background-color:#045189;
	padding:40px;
	padding-left:60px;
	position:relative;
	border:1px solid #045189;
	border-bottom:none;
}

#faqSection{
	padding:20px 90px 60px 60px;
	border:1px solid #045189;

}

h1{
	color:#fff;
	font-size:30px;
	font-weight:normal;
}
h2{
	color: #feeb05;
	font-size:24px;
	font-weight:normal;
}

/* The expand / collapse button */

a.button{
	background:url('img/buttons.png') no-repeat;
	width:80px;
	height:38px;
	position:absolute;
	right:50px;
	top:45px;
	text-indent:-9999px;
	overflow:hidden;
	border:none !important;
}

a.button.expand:hover{ background-position:0 -38px;}
a.button.collapse{ background-position:0 -76px;}
a.button.collapse:hover{ background-position:0 bottom;}

/* Definition Lists */

dt{
	font-size:25px;
	margin-top:30px;
	padding-left:25px;
	position:relative;
	border:1px solid transparent;
}

/*dt:hover{ color:#5f6a73;} */

dt .icon{
	height:12px;
	left:0;
	position:absolute;
	top:11px;
	width:12px;
}

dt.opened .icon{ background-position:left bottom;}

dd{
	font-size:14px;
	color:#444444;
	line-height:1.5;
	padding:20px 0 0 25px;
	width:580px;
	display:none;
}


/* Only Needed For The Demo Page */


p.createdBy{
	font-size:15px;
	font-weight:normal;
	margin:50px;
	text-align:center;
	text-shadow:none;
}

a, a:visited {
	text-decoration:none;
	outline:none;
	color: #2C93DF;
}

a:hover{
	border-bottom:1px dashed transparent;
}

table
{
color:#000;
background-color:#fff;
border-collapse:collapse;
width:70%;
}
table,th, td
{
border: none;
vertical-align:middle;
padding:15px;
}