$("#inbox").append("<%= escape_javascript(render(@messages)) %>");
$("#messages_pagination").html("<%= escape_javascript(will_paginate(@messages, :renderer=>TwitterPagination::LinkRenderer, :id => 'messages_pagination')) %>");