<% page_title t('dashboard.index.title') %>
<div id="dash" class="content-left text-01">
  <div class="left-section panel-blue">
    <%= render 'shared/left_menu' %>
  </div>
  <div class="main-section">
    <%= render 'quick_action' %>
    <%= render 'header_action' if @incoming_trips.size > 0 %>
    <%= render 'mid_section' %>
  </div>
</div>