<% page_title t('trip.index.link') %>
<div id="dash" class="content-left text-01">
  <div class="left-section panel-blue">
    <%= render 'shared/left_menu' %>
  </div>
  <div class="main-section">
    <div class="panel-blue">
      <table style="width: 100%;" border="0">
        <tbody class="text-01" id="trips">
          <% if @trips.size > 0 %>
            <% for trip in @trips %>
              <%= render 'shared/trip_row', :locals => {:trip => trip, :write => true} %>
            <% end %>
          <% else %>
          <i><%= t('trip.index.no_result') %> </i>
        <% end %>
        </tbody>
      </table>
      <div style="text-align: center;">
        <%= will_paginate(@trips, :renderer=>TwitterPagination::LinkRenderer,:id => 'trips_pagination') %>
      </div>
    </div>
  </div>
</div>

