<% page_title t('review.heading') %>
<div id="postReview">
  <div class="col12">
    <h2><%= t('review.heading') %></h2>
  </div>
  <div class="col7 bgLightYellow defaultRound">
    <h4 class="textBlack"><%= t('review.new.label.to') %>: <%= @user.username %></h4>
    <%= render 'form', :locals => {:user_id => @user} %>
  </div>
</div>

