<%= form_for([@user, PositiveReputation.new]) do |f| %>
  <%= f.hidden_field :invitation, :value => 'true' if params[:invitation] %>
  <p>
    <label><%= t('reputation.field.label.body') %></label>
      <%= enable_character_counter('positive_reputation_body', PositiveReputation::BODY_MAXIMUM_LENGTH) %>
      <%= f.text_area :body, :rows => 7 %>
  </p>
  <p>
    <%= f.submit t('button.send'), :class => 'defaultButton' %><%= link_to t('button.cancel'), profile_path(@user.username), :class => 'cancelLink' %>
  </p>
<% end %>
