<% user = locals[:user] %>

<span style="vertical-align: bottom; border-bottom-style: none">
  <span class="blue-link"><strong><%= link_to user.username, profile_path(user.username) %></strong></span>
  <% if user.received_positive_reviews.count > 0 and user.received_negative_reviews.count > 0  %>
    <%= link_to reviews_user_path(user.id) do %>
      <% if user.received_positive_reviews.count > 0 %>
        <span class="thumbUp"><%= user.received_positive_reviews.count%>&nbsp;<%= image_tag "icon-thumbs-up.png", :size => "10x14" %></span>
      <% end %>
      <% if user.received_negative_reviews.count > 0 %>
        <span class="thumbDown"><%= user.received_negative_reviews.count%>&nbsp;<%= image_tag "icon-thumbs-down.png", :size => "10x14" %></span>
      <% end %>
    <% end %>
  <% end %>
  <% if logged_in? and user != current_user %>
    <span> - </span><%= link_to image_tag("icon-email-bistiper.png", :border => 0, :title => t('message.link.new', :username => user.username), :align => "absmiddle"), new_user_message_path(:user_id => user) %>
  <% elsif !logged_in? %>
    <span> - </span><%= link_to image_tag("icon-email-bistiper.png", :border => 0, :title => t('message.link.new', :username => user.username), :align => "absmiddle"), new_user_message_path(:user_id => user) %>
  <% end %>
</span>