<% page_title t('content.link.escrow_payment') %>
<div class="col4">
  <h2><%= t('content.link.escrow_payment') %></h2>
  <p align="center"><%= image_tag 'rekber-m.png' %></p>
  <p>
    Biaya Rekening Bersama yang akan dikenakan tergantung pada metode pembayaran untuk penitip
    dan cara pencairan untuk pembawa titipan.
  </p>
  <p>
    <strong>Biaya untuk penitip jika metode pembayaran melalui: </strong>
  </p>
  <blockquote class="defaultRound30">
    <table style="text-align: left; width: 100%;" border="1" cellpadding="2"
           cellspacing="2">
      <tbody>
        <tr>
          <td style="vertical-align: top;">Transfer Bank BCA<br/>
          </td>
          <td style="vertical-align: top;">2%<br/>
          </td>
        </tr>
        <tr>
          <td style="vertical-align: top;">PayPal<br/>
          </td>
          <td style="vertical-align: top;">4%<br/>
          </td>
        </tr>
      </tbody>
    </table>
  </blockquote>
  <p>
    <strong>Biaya untuk pembawa titipan jika metode pencairan melalui: </strong>
  </p>
  <blockquote class="defaultRound30">
    <table style="text-align: left; width: 100%;" border="1" cellpadding="2"
           cellspacing="2">
      <tbody>
        <tr>
          <td style="vertical-align: top;">Transfer Bank BCA<br/>
          </td>
          <td style="vertical-align: top;">2%<br>
          </td>
        </tr>
        <tr>
          <td style="vertical-align: top;">PayPal<br/>
          </td>
          <td style="vertical-align: top;">4%<br/>
          </td>
        </tr>
      </tbody>
    </table>
  </blockquote>
  <p>
    <strong>Contoh Skenario: </strong>
  </p>
  <p>
    1. Penitip dan pembawa titipan sepakat untuk menggunakan Rekening Bersama Bistip.com.
  </p>

  <p>
    2. Penitip melakukan transfer dana ke Rekening Bersama Bistip.com
  </p>
  <ul>
    <li>Dalam <strong>USD (Paypal) atau IDR (Transfer Bank BCA)</strong>.</li>
    <li>Total pembayaran adalah harga barang + tip untuk pembawa titipan + biaya rekening bersama.</li>
  </ul>
  <blockquote class="defaultRound50">
    <table style="text-align: left; width: 60%;" border="1" cellpadding="2"
           cellspacing="2">
      <tbody>
        <tr>
          <td style="vertical-align: top;">Harga barang<br/>
          </td>
          <td style="vertical-align: top;">USD 80<br/>
          </td>
        </tr>
        <tr>
          <td style="vertical-align: top;">Tip<br/>
          </td>
          <td style="vertical-align: top;">USD 20<br/>
          </td>
        </tr>
        <tr>
          <td style="vertical-align: top;">Subtotal<br/>
          </td>
          <td style="vertical-align: top;">USD 100<br/>
          </td>
        </tr>
      </tbody>
    </table>
    <br />
    <p>
      Penitip membayar melalui PayPal:
      <br />USD 100 + (4% x USD 100) = USD 104
    </p>
  </blockquote>
  <p>
    3. Bistip.com mengkonfirmasi dana masuk
  </p>
  <ul>
    <li>Bistip.com akan menampung sementara pembayaran dari penitip sampai transaksi selesai.</li>
    <li>Pembawa titipan sudah bisa membelikan barang sesuai kesepakatan.</li>
  </ul>

  <p>
    4. Penitip bertemu dengan pembawa titipan untuk serah terima barang.
  </p>

  <p>
    5. Penitip melakukan konfirmasi bahwa barang sudah diterima.
  </p>

  <p>
    6. Bistip.com melakukan transfer dana ke pihak pembawa titipan.
  </p>
  <blockquote class="defaultRound50">
    <p>
      Pembawa titipan mencairkan melalui PayPal:
      <br />USD 100 - (4% x USD 100) = USD 96
    </p>
  </blockquote>
  <p>
    7. Pembawa titipan melakukan konfirmasi bahwa dana sudah diterima
  </p>
  <p>
    <strong>KETERANGAN:</strong>
  </p>
  <blockquote class="defaultRound">
    <ul>
      <li>Semua Transaksi Rekening Bersama Bistip.com adalah melalui fitur <span class="italic">"Messaging"</span>.</li>
      <li>Uang bisa dikembalikan oleh Bistip.com dipotong 2% (Transfer Bank BCA) dan 4% (PayPal) jika transaksi tidak berjalan
        seperti seharusnya sesuai laporan dari pengguna.
      </li>
      <li>Jika penitip tidak memberikan konfirmasi (seperti no. 5 di atas) maka pencairan akan dilakukan setelah 30 hari dari hari mulai nya transaksi.</li>
      <li>Biaya transfer antar Bank pada saat pembayaran akan ditanggung oleh penitip barang.</li>
      <li>Biaya transfer antar Bank pada saat pencairan akan ditanggung oleh pembawa titipan.</li>
    </ul>
  </blockquote>
</div>
<%= render 'shared/guide_menu' %>