<% page_title t('content.link.escrow_payment') %>
<div class="col4">
  <h2><%= t('content.link.escrow_payment') %></h2>
  <p align="center"><%= image_tag 'rekber-en-m.png' %></p>
  <p>
    Escrow fee depends on item looker's payment method and travellers' payout method.
  </p>
  <p>
    <strong>Fee for item lookers by payment method: </strong>
  </p>
  <blockquote class="defaultRound30">
    <table style="text-align: left; width: 100%;" border="1" cellpadding="2"
           cellspacing="2">
      <tbody>
      <tr>
        <td style="vertical-align: top;">BCA Bank Transfer<br/>
        </td>
        <td style="vertical-align: top;">2%<br/>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top;">PayPal<br/>
        </td>
        <td style="vertical-align: top;">4%<br/>
        </td>
      </tr>
      </tbody>
    </table>
  </blockquote>
  <p>
    <strong>Fee for travellers by payout method: </strong>
  </p>
  <blockquote class="defaultRound30">
    <table style="text-align: left; width: 100%;" border="1" cellpadding="2"
           cellspacing="2">
      <tbody>
      <tr>
        <td style="vertical-align: top;">BCA Bank Transfer<br/>
        </td>
        <td style="vertical-align: top;">2%<br>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top;">PayPal<br/>
        </td>
        <td style="vertical-align: top;">4%<br/>
        </td>
      </tr>
      </tbody>
    </table>
  </blockquote>
  <p>
    <strong>Example: </strong>
  </p>
  <p>
    1. Both item looker and traveller agree to use Bistip escrow.
  </p>
  <p>
    2. Item looker transfers the amount of money to Bistip escrow.
  </p>
  <ul>
    <li>We accept <strong>US Dollar (PayPal)</strong> and <strong>IDR (BCA Bank Transfer)</strong> currency for now.</li>
    <li>The amount the item looker (buyer) will deposit should include item's price + tip for the traveller + escrow fee.</li>
  </ul>
  <blockquote class="defaultRound50">
    <table style="text-align: left; width: 60%;" border="1" cellpadding="2"
           cellspacing="2">
      <tbody>
        <tr>
          <td style="vertical-align: top;">Item's price<br/>
          </td>
          <td style="vertical-align: top;">USD 80<br/>
          </td>
        </tr>
        <tr>
          <td style="vertical-align: top;">Tip<br/>
          </td>
          <td style="vertical-align: top;">USD 20<br/>
          </td>
        </tr>
        <tr>
          <td style="vertical-align: top;">Subtotal<br/>
          </td>
          <td style="vertical-align: top;">USD 100<br/>
          </td>
        </tr>
      </tbody>
    </table>
    <br />
    <p>
      Item lookers pay with PayPal:
      <br />USD 100 + (4% x USD 100) = USD 104
    </p>
  </blockquote>
  <p>
    3. Bistip.com confirms that the payment has been received.
  </p>
  <p>
    4. Item looker and traveller meetup to pass the item.
  </p>
  <p>
    5. Item looker confirms that he/she received the item.
  </p>
  <p>
    6. Bistip.com transfers the money to the traveller.
  </p>
  <blockquote class="defaultRound50">
    <p>
      Traveller request payout payment with PayPal:
      <br />USD 100 - (4% x USD 100) = USD 96
    </p>
  </blockquote>
  <p>
    7. Traveller confirms that he/she received the payment.
  </p>
  <p>
    <strong>IMPORTANT:</strong>
  </p>
  <blockquote class="defaultRound">
    <ul>
      <li>Bistip escrow is available via <span class="italic">"Messaging"</span> feature.</li>
      <li>Bistip.com will refund the payment with 4% fee (PayPal) and 2% fee (BCA Bank Transfer) if the transaction failed.</li>
      <li>If item looker does not confirm (as in no. 5 above) therefore payout payment will be released at least 30 days from the start of transaction date.</li>
      <li>Transfer fee between Banks during payment will be item looker's obligation.</li>
      <li>Transfer fee between Banks during payout will be traveller's obligation.</li>
    </ul>
  </blockquote>
</div>
<%= render 'shared/guide_menu' %>