<%= render 'shared/guide_menu' %>
<% page_title t('content.link.guide') %>
<div class="col8">
  <h3 class="textBlack">Untuk Bistiper (yang bisa dititipi)</h3>
</div>
<div class="col4">
  <p><%= image_tag 'guide/legal.png', :class => 'tipsIcon' %><strong>Barang legal</strong><br/>
    Tolaklah permintaan barang ilegal. Mintalah izin untuk melihat sendiri isi barang titipan.
  </p>
</div>
<div class="col4">
  <p><%= image_tag 'guide/reputation.png', :class => 'tipsIcon' %><strong>Perhatikan
    reputasi</strong><br/>Bertransaksi dengan penitip yang memiliki
    kelengkapan profil dan reputasi yang baik.
  </p>
</div>
<div class="col4">
  <p><%= image_tag 'guide/limit.png', :class => 'tipsIcon' %><strong>Berikan batasan
    jelas</strong><br/>Berapa jumlah atau nilai dari barang yang anda sanggup dititipi.
  </p>
</div>
<div class="col4">
  <p><%= image_tag 'guide/payment.png', :class => 'tipsIcon' %><strong>Kesepakatan
    pembayaran</strong><br/>Buat juga kesepakatan yang jelas mengenai pembayaran dari komisi yang akan anda terima.
  </p>
</div>
<div class="col4">
  <p><%= image_tag 'guide/rekber.png', :class => 'tipsIcon' %><strong>Rekening Bersama</strong><br/>
    Untuk pengaman transaksi anda bisa memakai jasa Rekening bersama. Silakan lihat
    halaman <%= link_to t('content.link.escrow_payment'), escrow_payment_path %> untuk keterangan lebih lanjut.
  </p>
</div>
<div class="col4">
  <p><%= image_tag 'guide/insurance.png', :class => 'tipsIcon' %><strong>Asuransi</strong><br/>Sarankan kepada penitip yang
    bertransaksi dengan anda untuk mengasuransikan barangnya dari resiko kehilangan, untuk mengetahui lebih lanjut
    silakan lihat halaman <%= link_to 'Asuransi', insurances_path %></p>
</div>
