<div class="suggestions">
  <% if @origin_suggestion or @destination_suggestion %>
    <div class="left">
      <% if @origin_suggestion %>
        <div class="header"><%= t('general.do_you_mean') %></div>
        <% @origin_suggestion.each do |os| %>
          <% value = os.display_name %>
          <a href="" onclick="javascript:set_field_text('origin', '<%= value %>'); return false;"><%= os.name %>, <%= os.country.name %></a><br/>
        <% end %>
      <% else %>
        &nbsp;
      <% end %>
    </div>
    <div class="right">
      <% if @destination_suggestion %>
        <div class="header"><%= t('general.do_you_mean') %></div>
        <% @destination_suggestion.each do |os| %>
          <% value = os.display_name %>
          <a href="" onclick="javascript:set_field_text('destination', '<%= value %>'); return false;"><%= os.name %>, <%= os.country.name %></a><br/>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>