<% page_title t('trip.new.label.heading') %>
<div class="col12">
  <h2><%= t('trip.new.label.heading') %></h2>
</div>
<div class="col8 bgLightYellow defaultRound">
  <h3 class="textBlack"><%= t('trip.new.label.intro') %></h3>
  <h4>
    <%= t('trip.field.label.routine') %> <%= link_to t('trip.new.label.routine_link'), new_routine_trips_path, :class => 'btnAction' %>
  </h4>
  <%= render 'form', :locals => {:cancel_path => root_path}%>
</div>
<%= render 'form_tips' %>
