<% escrow = locals[:escrow] %>
<% if current_user.eql?(escrow.seller) %>
<% form_tag seller_requested_payout_escrows_path do %>
    <%= hidden_field_tag :escrow_id, escrow.id %>
    <%= submit_tag t('escrow.actions.buyer_received_item.seller_requested_payout') %>
  <% end %>
<% end %>