<% page_title t('user.new.label.heading') %>
<div class="content-left-graphic-background">
  <%= form_for(@user, :html => { :multipart => true }) do |f| %>
    <table cellspacing="0" cellpadding="1" border="0" class="text-01">
      <tbody>
        <tr>
          <td><strong class="page-heading"><%= t('user.new.label.heading') %></strong></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td><%= t('user.field.label.email') %></td>
        </tr>
        <tr>
          <td><%= f.text_field :email, :class => 'textbox-01' %></td>
        </tr>
        <tr>
          <td><%= t('user.field.label.username') %></td>
        </tr>
        <tr>
          <td><%= f.text_field :username, :class => 'textbox-01' %></td>
        </tr>
        <tr>
          <td style="text-align: right;"><%= t('user.field.label.fullname') %></td>
        </tr>
        <tr>
          <td><%= f.text_field :fullname, :class => 'textbox-01' %></td>
        </tr>
        <tr>
          <td style="text-align: right;"><%= t('user.field.label.city') %></td>
        </tr>
        <tr>
          <td>
            <%= location_auto_complete_js 'user_city_location', true %>
            <%= f.text_field :city_location, :class => 'textbox-01' %>
          </td>
        </tr>
        <tr>
          <td><%= t('user.field.label.password') %></td>
        </tr>
        <tr>
          <td><%= f.password_field :password, :class => 'textbox-01' %></td>
        </tr>
        <tr>
          <td><%= t('user.field.label.password_confirmation') %></td>
        </tr>
        <tr>
          <td><%= f.password_field :password_confirmation, :class => 'textbox-01' %></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td><%= f.check_box :eula %><span class="blue-link"> <%= raw t('user.field.label.eula',
                                            :terms_of_service => link_to(t('content.link.terms_of_service'), terms_of_service_path),
                                          :privacy_policy => link_to(t('content.link.privacy_policy'), privacy_policy_path)) %></span></td>
        </tr>
        <tr>
          <td>
            <%= f.submit t('button.submit'), :class => 'button-register' %> / <%= link_to t('button.cancel'), root_path %>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>