<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %> | Bistip.com </title>
    <%= stylesheet_link_tag "ndstyles","jquery-ui-1.8.7.custom", "shareit", "jquery.jgrowl" %>
    <%= javascript_include_tag 'jquery-1.5.2.min', 'jquery.tools.min', 'smoothscroll', 'jquery-ui-1.8.7.custom.min','jquery.jqEasyCharCounter.min', 'jquery.watermarkinput','rails', 'application', 'pagination', 'jquery.oauthpopup','jquery.tagcloud', 'jquery.bxSlider.min', 'jquery.shareit', 'jquery.jgrowl', 'quicktip' %>
    <%= csrf_meta_tag %>
    <meta name="description" content="<%= t('general.meta.description') %>" />
    <meta name="keywords" content="<%= t('general.meta.keywords') %>" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;"/>

  </head>

  <body>
    <header>
      <div class="plc">
        <h1><a href="/">BisTip.com</a></h1>
        <%= render 'shared/top_panel' %>
      </div>
    </header>
    <%= render 'shared/notification' %>
    <% if hide_secondary_navigation? %>
      <%= yield %>
    <% else %>
      <%= render 'shared/secondary_navigation' %>
      <section id="contents">
        <div class="plc">
          <%= yield %>
        </div>
      </section>
    <% end %>

    <%= render 'shared/footer' %>
    <%= link_to t('contact_us.new.link.general'), new_contact_us_path, :id => "feedbackButton" %>
  </body>
</html>
