<% page_title t('home.index.title') %>
<table width="100%" cellspacing="0" cellpadding="0" border="0" class="text-title-01">
  <tbody>
    <tr>
      <td colspan="2" class="simple_manual">
        <div class="header01" style="text-align: left"><%= t('home.index.label.bistiper') %></div>
        <div>
          <div class="header-sub-text blue-link"><%= raw t('home.index.label.bistiper_sub_one') %></div>
          <div class="header-sub-text blue-link"><%= raw t('home.index.label.bistiper_sub_two', :href => link_to('disini', new_trip_path)) %></div>
          <div class="header-sub-text blue-link"><%= raw t('home.index.label.bistiper_sub_three') %></div>
        </div>
      </td>
    </tr>
    <tr>
      <td class="bistiper_header">
        <%= t('mobile.home.header_bistiper') %>
      </td>
      <td align="right" class="bistiper_header">
        <%= link_to t('layout.link.search'), search_trip_path %>
      </td>
    </tr>
    <tr>
      <td valign="top" align="left" colspan="2">
        <% if @trips.size > 0 %>
          <% for trip in @trips %>
            <%= render 'shared/trip_summary', :locals => {:trip => trip} %>
          <% end %>
        <% else %>
          <div><%= t('home.index.label.no_result') %></div>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2" class="simple_manual">
        <div class="header01" style="text-align: left"><%= t('home.index.label.wanted_bistiper') %></div>
        <div>
          <div class="header-sub-text blue-link"><%= raw t('home.index.label.wanted_bistiper_sub_one', :href => link_to('disini', search_trip_path)) %></div>
          <div class="header-sub-text blue-link"><%= raw t('home.index.label.wanted_bistiper_sub_two', :href => link_to('wanted bistiper', new_seek_path)) %></div>
          <div class="header-sub-text blue-link"><%= raw t('home.index.label.wanted_bistiper_sub_three') %></div>
        </div>
      </td>
    </tr>

    <tr>
      <td class="bistiper_header">
        <%= t('mobile.home.header_wanted_bistiper') %>
      </td>
      <td align="right" class="bistiper_header">
        <%= link_to t('layout.link.search'), search_trip_path %>
      </td>
    </tr>
    <tr>
      <td valign="top" align="left" colspan="2" >
        <% if @seeks.size > 0 %>
          <% for seek in @seeks %>
            <%= render 'shared/seek_summary', :locals => {:seek => seek} %>
          <% end %>
        <% else %>
          <div><%= t('home.index.label.no_result') %></div>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
