<% page_title @seek.to_s %>
<% user = @seek.user %>
<% meta_description @seek.to_s %>
<% meta_keywords @seek.item.name %>
<div class="col4">
  <h2><%= t('seek.show.label.heading') %></h2>
  <p>
    <%= link_to t('general.link_return'), :back %>
  </p>
</div>
<div class="col4 bgLightBlue defaultRound">
  <div id="viewWanted">
    <div class="avatar">
      <%= render 'shared/trusted_badge', :locals => {:user => user} %>
      <%= image_tag user.avatar.url(:thumb), :class => "photo" %>
      <h5><%= link_to user.username, profile_path(user.username) %></h5>

      <div class="tools">
        <%= render 'shared/user_review_link', :locals => {:user => user} %>
      </div>

      <% if logged_in? and @seek.owner?(current_user) and @seek.active? %>
        <div class="adminTools">
          <%= link_to t('seek.edit.link_short'), edit_seek_path(@seek) %>
          <%= link_to t('seek.destroy.link_short'), @seek, :confirm => t('general.are_you_sure'), :method => :delete, :class => "delete" %>
        </div>
      <% end %>
    </div>
    <div class="info">
      <% unless @seek.active? %>
        <div class="notificationBar red">
          <%= t('seek.show.label.not_active') %>
        </div>
      <% end %>

      <div class="infoBlock defaultRound">
        <%= render 'shared/seek_data', :locals => {:seek => @seek, :extra_info => true} %>
        <% unless @seek.item.pictures.blank? %>
          <br/>
          <% @seek.item.pictures.each_with_index do |item_picture, index| %>
            <% identifier = "seek" + @seek.id.to_s + "_item_picture_" + index.to_s %>
            <%= link_to item_pictures_path(:item_picture_id => item_picture.id), :id => identifier do %>
              <%= image_tag item_picture.attachment(:thumb), :class => 'photo bgWhite', :size => '50x50' %>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <% unless @seek.notes.blank? %>
        <h5><%= t('seek.field.label.notes') %></h5>
        <p>
          <%= auto_link_in_new_tab @seek.notes %>
        </p>
      <% end %>

      <p>
        <% if logged_in? %>

          <% if current_user.sent_messages.find_all_by_seek_id_and_thread_starter(@seek.id, true).any? %>
            <br />
            <% link_to message_path(:id=>current_user.sent_messages.find_all_by_seek_id(params[:id]).first.id), :class => "btnAction" do %>
              <%= image_tag 'icon-email-bistiper.png', :size => "22x14" %>&nbsp;
              <%= t('message.link.seek_contacted_short', :username => user.username) %>
            <% end %>

          <% elsif !@seek.owner?(current_user) %>
            <br />
            <%= link_to new_message_path(:user => user.username, :seek_id => @seek.id), :class => "btnAction" do %>
              <%= image_tag 'icon-email-bistiper.png', :size => "22x14" %>&nbsp;
              <%= t('message.link.seek_short', :username => user.username) %>
            <% end %>
            <br/>
          <% end %>
        <% else %>
          <br />
          <%= link_to new_message_path(:user => user.username, :seek_id => @seek.id), :class => "btnAction" do %>
            <%= image_tag 'icon-email-bistiper.png', :size => "22x14" %>&nbsp;
            <%= t('message.link.seek_short', :username => user.username) %>
          <% end %>
          <br/>
        <% end %>
        <%= render 'shared/social_share', :locals => {:url => seek_url(@seek), :title => @seek.to_s, :owner => @seek.user } %>
      </p>
    </div>
  </div>
  <br clear="all"/>
  <div id="comments" class="bgWhite defaultRound">
    <%= render 'comments' %>
  </div>
</div>