<%= form_for([@user, NegativeReputation.new]) do |f| %>
  <%= f.hidden_field :invitation, :value => 'true' if params[:invitation] %>
  <p>
    <label><%= t('reputation.field.label.body') %></label>
    <%= enable_character_counter('negative_reputation_body', NegativeReputation::BODY_MAXIMUM_LENGTH) %>
    <%= f.text_area :body, :rows => 7, :cols => 60, :class => 'textarea-01'%>
  </p>
  <p>
    <%= f.submit t('button.send'), :class => 'defaultButton' %><%= link_to t('button.cancel'), profile_path(@user.username), :class => 'cancelLink' %>
  </p>
<% end %>

