<% page_title t('user.not_validated.heading') %>
<div class="col12">
  <h2><%= t('user.not_validated.heading') %></h2>
</div>
<div class="col7 bgLightYellow defaultRound">
  <h4 class="textBlack"><%= t('user.not_validated.opening')%></h4>
  <br/>
  <p><%= t('user.not_validated.body') %></p>
  <p><%= link_to t('user.resend_validation.link'), resend_validation_user_path, :class => 'btnAction' %></p>
</div>
