<% page_title (@user.username + '\'s profile')  %>
<%= render 'shared/user_sub_menu', :locals => {:user => @user} %>
<%= render 'shared/user_profile', :locals => {:display_avatar => true} %>
<%= render 'relation_wrap', :locals => {:user => @user} %>
