<% page_title t('content.link.about') %>
<% meta_description 'Info tentang sejarah Bistip yang terinspirasi dari pengalaman pribadi. ' %>

<div class="col4, padding2point5">
     <h2>Tentang Kami</h2>

  <h3>What is Bistip.com ?</h3>

  <p>Kami yakin dalam hidup kamu paling tidak satu kali pernah dititipi
    kerabat kamu atau menitip dibelikan barang ke kerabat kamu dari tempat
    yang lain. Contoh kasusnya seperti ini nih :</p>

  <p>Teman kamu yang bernama Joko lagi pulang kampung ke Jogja dan dia
    berencana pulang ke kota kamu sekarang, dan kebetulan kamu sudah lama
    tidak makan Bakpia khas Kota Pelajar itu dan ingin nitip dibelikan.</p>

  <blockquote class="defaultRound">Kamu : “ko, eh kamu balik kapan ke sini?”<br/>
    Joko : “besok pagi, kenapa emangnya?”<br/>
    Kamu : “hehe.. lagi ngidam Bakpia nih.. ngerepotin gak kalo aku nitip 2 kotak?
    ntar aku bayarin deh kalo dah di sini.. apa aku transfer aja ke rekening
    kamu?”<br/>
    Joko : “oh, gampanglah itu.. pake uang aku aja dulu.. :)“<br/>
    Kamu : “ok, hati-hati ya.. kabarin kalo udah nyampe sini..”<br/>

  </blockquote>
  <p>Nah, bagaimana jika skenario di atas diimplementasikan dalam bentuk
    web dan membuat kita bisa menitip atau dititipi siapa saja dan juga
    bisa mendapatkan penghasilan tambahan jika menjadi pihak yang dititipi.
    Asik kan ??</p>

  <p>Untuk lebih jelas tentang cara kerjanya, klik di <%= link_to 'sini', how_path %> .</p>

  <h3>Who is Bistip.com ?</h3>

  <p>Berawal dari seorang pelajar Indonesia yang menuntut ilmu di negeri orang dan
    mendapati dirinya sering menjadi objek titipan para kerabatnya yang ada
    di Indonesia, maka muncullah ide untuk membuat aplikasi online yang
    bisa memfasilitasi aktifitas titip menitip yang cakupannya lebih luas
    dan tak hanya berlaku pada kerabat yang bersangkutan.</p>
  <p>Berkolaborasi dengan beberapa anak muda Indonesia yang memiliki ketrampilan
    dan pengetahuan di bidang teknologi dan bisnis web 2.0, lahirlah bistip.com
    sebagai sarana untuk memfasilitasi aktivitas titip-menitip yang tanpa disadari
    sebenarnya sudah menjadi bagian dari gaya hidup masyarakat Indonesia sejak dahulu.</p>

  <h3>When is Bistip.com ?</h3>
  <p>
  Aktifitas titip menitip sejatinya sudah ada sejak zaman dahulu kala
  sebelum terciptanya internet dan alat komunikasi jarak jauh yang
  instan. Saat ini kita hidup di era dengan mobilitas tinggi diiringi
  dengan frekwensi komunikasi yang tinggi pula melalui berbagai media.</p>

  <p>Internet adalah produk dari kehidupan modern dan untuk sebagian
    masyarakat telah menjadi darah daging karena bisa memfasilitasi mereka
    dalam melakukan naluri alami manusia yaitu bersosialisasi.</p>

  <p>Bistip.com muncul dengan menggabungkan tradisi titip-menitip dan
    internet sehingga bisa memanfaatkan mobilitas tinggi manusia dengan
    kemudahan komunikasi instan jarak jauh.</p>

</div>

<%= render 'shared/static_menu' %>
