<% title = 'Idea Contest from Bistip.com with total prize Rp 2.000.000' %>
<%= page_title title %>
<%= meta_description 'Got brilliant ideas for unique stuffs? post your idea for a chance to win Rp 2.000.000!' %>
<div class="col9">
  <h2>Item Idea Contest</h2>
  <%= link_to new_idea_item_path do %>
    <%= image_tag('events/item-suggestion-en.png') %>
  <% end %>
  <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4d71069d1b32853e"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $("a.bmarks-btn").shareitBtn(); // the button function
      $(".bmarks a").shareitHover(); // the hover effect (optional)
    });
    var addthis_share = {
      templates: { twitter: '{{title}} {{url}} via @bistip' }
    }
  </script>
  <br/>
  <h5 class="shareHeader textBlack">Share to people around you</h5>
  <% url = 'http://www.bistip.com/event_item_suggestion' %>
  <a class="addthis_button_facebook socialButton" addthis:url="<%= url %>" addthis:title="<%= title %>"><img src="/images/social/fb-24.png" height="24" border="0" alt="Share to Facebook"/></a>
  <a class="addthis_button_twitter socialButton" addthis:url="<%= url %>" addthis:title="<%= title %>"><img src="/images/social/tw-24.png" height="24" border="0" alt="Tweet this"/></a>
  <script type="text/javascript">
    var addthis_config = {"data_track_clickback":true};
  </script>
  <!-- AddThis Button END -->

  <!--<input type="hidden" id="fe_text" onChange="clip.setText(this.value)" value="url"/>
  <div id="clip_container">
    <div id="clip_button" class="socialButton"><strong id="bold">Copy URL</strong></div>
  </div>-->

  <script type="text/javascript" src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
  <fb:send href="<%= url %>" font="arial"></fb:send>
  <br/>
  <br/>
  <h4>Additional Info</h4>
  <br/>
  <ol>
    <li>Entry period ends on<strong>20 December 2012 - 23:59 PM</strong></li>
    <li>Bistip team will <strong>filter</strong> every submission, once your idea is accepted you will get <strong>Approval</strong> email.</li>
    <li>Competition is divided into: <strong>people's choice</strong> and <strong>judge's choice</strong> winners. Each winner will get Rp 1.000.000.</li>
    <li>To view voting progress for people's choice winner: <%= link_to 'Voting Table', event_item_suggestion_voting_path %>.</li>
    <li>Criteria for judge's choice winner: <strong>uniqueness of the item</strong> and <strong>completeness of info in the posting</strong> (picture/price/where to buy/etc). Item idea can be from local or international.</li>
    <li>Each contestant is allowed to post <strong>more than one</strong> ideas.</li>
    <li>All winners will be announced on <strong>22 December 2012.</strong></li>
    <li>What are you waiting for? <%= link_to 'Post Your Idea', new_idea_item_path %> :)</li>
  </ol>
  <br/>
  <h4>Important Dates</h4>
  <br/>
  <ul>
    <li><strong>18 November 2012:</strong> entry period starts</li>
    <li><strong>20 December 2012 - 23:59 PM:</strong> public voting ends</li>
    <li><strong>20 December 2012 - 23:59 PM:</strong> entry period ends</li>
    <li><strong>22 December 2012:</strong> all winners announced!</li>
  </ul>
</div>