<% title = 'Kompetisi Ide Titipan dari Bistip.com berhadiah Rp 2.000.000' %>
<%= page_title title %>
<%= meta_description 'Punya ide titipan menarik? ayuk post ide kamu untuk berkesempatan memenangkan total hadiah Rp 2.000.000!' %>
<div class="col9">
  <h2>Kompetisi Ide Titipan</h2>
  <%= link_to new_idea_item_path do %>
    <%= image_tag('events/item-suggestion.png') %>
  <% end %>
  <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4d71069d1b32853e"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $("a.bmarks-btn").shareitBtn(); // the button function
      $(".bmarks a").shareitHover(); // the hover effect (optional)
    });
    var addthis_share = {
      templates: { twitter: '{{title}} {{url}} via @bistip' }
    }
  </script>
  <br/>
  <h5 class="shareHeader textBlack">Bagikan ke temen kamu</h5>
  <% url = 'http://www.bistip.com/event_item_suggestion' %>
  <a class="addthis_button_facebook socialButton" addthis:url="<%= url %>" addthis:title="<%= title %>"><img src="/images/social/fb-24.png" height="24" border="0" alt="Share to Facebook"/></a>
  <a class="addthis_button_twitter socialButton" addthis:url="<%= url %>" addthis:title="<%= title %>"><img src="/images/social/tw-24.png" height="24" border="0" alt="Tweet this"/></a>
  <script type="text/javascript">
    var addthis_config = {"data_track_clickback":true};
  </script>
  <!-- AddThis Button END -->

  <!--<input type="hidden" id="fe_text" onChange="clip.setText(this.value)" value="url"/>
  <div id="clip_container">
    <div id="clip_button" class="socialButton"><strong id="bold">Copy URL</strong></div>
  </div>-->

  <script type="text/javascript" src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
  <fb:send href="<%= url %>" font="arial"></fb:send>
  <br/>
  <br/>
  <h4>Info Tambahan</h4>
  <br/>
  <ol>
    <li>Batas akhir posting ide titipan adalah <strong>jam 23:59 tanggal 20 Desember 2012</strong></li>
    <li>Tim Bistip akan <strong>menyaring</strong> posting ide titipan, jika ide titipan kamu diterima maka kamu akan mendapat notifikasi email <strong>Approval.</strong></li>
    <li>Kompetisi terbagi menjadi 2: <strong>pemenang favorit voting publik</strong> dan <strong>pilihan tim bistip</strong>. Masing masing kategori berhadiah Rp 1.000.000.</li>
    <li>Progres hasil voting publik dapat dilihat di: <%= link_to 'tabel voting', event_item_suggestion_voting_path %>.</li>
    <li>Kriteria pemenang pilihan Tim Bistip: <strong>keunikan barang titipan</strong> dan <strong>kelengkapan informasi posting</strong> (gambar/harga/tempat beli/dll). Ide titipan boleh dari daerah lokal maupun internasional.</li>
    <li>Kontestan diperbolehkan untuk posting ide titipan <strong>lebih dari satu</strong> atau <strong>sebanyak-banyaknya.</strong></li>
    <li>Semua pemenang akan diumumkan <strong>tanggal 22 Desember 2012.</strong></li>
    <li>Ayo buruan ikutan lewat sini <%= link_to 'Post Ide titipan', new_idea_item_path %> :)</li>
  </ol>
  <br/>
  <h4>Tanggal Penting</h4>
  <br/>
  <ul>
    <li><strong>18 November 2012:</strong> kompetisi dimulai!</li>
    <li><strong>Jam 23:59 tanggal 20 Desember 2012:</strong> voting publik berakhir</li>
    <li><strong>Jam 23:59 tanggal 20 Desember 2012:</strong> pendaftaran ide titipan ditutup</li>
    <li><strong>Tanggal 22 Desember 2012:</strong> pemenang diumumkan!</li>
  </ul>
</div>