<%= page_title 'Kompetisi Ide Titipan Voting' %>
<%= meta_description 'Tabel voting pemenang favorit. Ayuk pilih ide titipan yang kamu suka!' %>
<div class="col9">
  <h2>Europe Wish Voting</h2>
  <h4>Latest Voting Results</h4>
  <br/>
  <div class="CSSTableGenerator" >
    <table>
      <tr>
        <td width="10%" align="center">Rank</td>
        <td>Ide Titipan</td>
        <td>User</td>
        <td width="10%">Vote</td>
        <td width="12%">Like?</td>
      </tr>
      <% ids = Array.new %>
      <% @suggested_items.each_with_index do |si, index| %>
        <% item = SuggestedItem.find(si.id) %>
        <% ids << si.id %>
        <tr>
          <td>
            <% page_index = 0 %>
            <% page_index = (params[:page].to_i * SuggestedItem::VOTING_PER_PAGE) if params[:page] %>
            <%= index + 1 + page_index %>
          </td>
          <td>
            <%= link_to item.name, suggested_item_path(si), :target => 'blank' %> from <%= item.origin_location %>
          </td>
          <td>
            <%= link_to item.user.username, profile_path(item.user.username), :target => 'blank' %>
          </td>
          <td>
            <%= SuggestedItemVote.without_disabled_user(item.id).count %>
          </td>
          <td>
            <% if logged_in? and !(current_user == si.user) and !si.voted_by?(current_user) %>
              <p>
                <%= link_to new_suggested_item_vote_path(si), :class => "btnAction" do %>
                  <%= image_tag 'icon-thumb.png', :size => "14x14" %>&nbsp;Vote
                <% end %>
              </p>
            <% elsif !logged_in? %>
              <p>
                <%= link_to new_suggested_item_vote_path(si), :class => "btnAction" do %>
                  <%= image_tag 'icon-thumb.png', :size => "14x14" %>&nbsp;Vote
                <% end %>
              </p>
            <% end %>
          </td>
        </tr>
      <% end %>
      <% europe = [1, 6, 13, 16, 18, 21, 23, 35, 42, 53, 54, 55, 57, 62, 66, 68, 69, 73, 74, 76, 80, 82, 88, 97, 99, 101, 103, 108, 109, 110, 128, 132, 133, 134, 137, 138, 139, 142, 151, 164, 165, 177, 182, 187, 188, 189, 195, 198, 199, 200, 202, 226, 232] %>
      <% SuggestedItem.active_only.origin_country_ids(europe).id_not_in(ids).each do |si| %>
        <% item = SuggestedItem.find(si.id) %>
        <tr>
          <td>
            NR
          </td>
          <td>
            <%= link_to item.name, suggested_item_path(si), :target => 'blank' %> from <%= item.origin_location %>
          </td>
          <td>
            <%= link_to item.user.username, profile_path(item.user.username), :target => 'blank' %>
          </td>
          <td>
            0
          </td>
          <td>
            <% if logged_in? and !(current_user == si.user) and !si.voted_by?(current_user) %>
              <p>
                <%= link_to new_suggested_item_vote_path(si), :class => "btnAction" do %>
                  <%= image_tag 'icon-thumb.png', :size => "14x14" %>&nbsp;Vote
                <% end %>
              </p>
            <% elsif !logged_in? %>
              <p>
                <%= link_to new_suggested_item_vote_path(si), :class => "btnAction" do %>
                  <%= image_tag 'icon-thumb.png', :size => "14x14" %>&nbsp;Vote
                <% end %>
              </p>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>