<% page_title t('content.link.how') %>
<% meta_description 'Learn how bistip works. Bistip is a unique platform for you to find your overseas shopping agent. Bistip is safe and easy.' %>
<div class="col4, padding2point5">
<h3>See this illustration to know about how bistip works..</h3>
<%= image_tag 'instruct_mob-en.gif' %>
  <p>
    *For guide how to engage in Bistip please read our <%= link_to t('content.link.guide'), guide_path %>
  </p>
  <iframe width="280" height="175" src="http://www.youtube.com/embed/_gTEpakcmDw" frameborder="0" allowfullscreen class="padding2point5"></iframe>
  <br/>
  <br/>
  <h3>Typical transaction scenario in Bistip.com</h3>
  <ol class="tips">
    <li><p>Amy is a stamp collector live in Jakarta. She wants to add Japanese Stamps to her collection.</p></li>
    <li><p>Through bistip, Amy found Bob's trip from Tokyo to Jakarta.</p></li>
    <li><p>Bob willing to get Japanese Stamps for her. Negotiation begins between Bob and Amy.</p></li>
    <li><p>Amy transfer some amount of money to <%= link_to t('content.link.safepay'), safepay_path, :target => '_blank' %>
    so Bob can start to buy stamps for her.</p></li>
    <li><p>Amy and Bob meetup later in Jakarta and Bob get the <%= link_to t('content.link.safepay'), safepay_path, :target => '_blank' %>
       fund after Amy receive her stamps.</p></li>
  </ol>

  <h4>How to post your route as a traveler?</h4>

  <p><%= link_to 'Click here', new_trip_path %> to post your route.</p>

  <h4>Looking for stuff from other places?</h4>

  <p><%= link_to 'Click here', search_trip_path %> to find the available routes.</p>

  <p>
    Please <%= link_to 'click here', faq_path %> to see the Frequently Asked Questions.
  </p>
</div>
<%= render 'shared/static_menu' %>