<%= render 'shared/guide_menu' %>
<% page_title t('content.link.safepay') %>
<% meta_description 'SafePay is the safest way to do transaction is Bistip. Learn more about SafePay protection from Bistip.com.' %>
<div class="col9">
<h2><%= t('content.link.safepay') %></h2>
<h3 class="textBlack">Why SafePay?</h3>
<p>
  + As a <strong>requester</strong>, you do not commit payment straightaway to traveler.<br/>
  + If item can not be found we will <strong>refund</strong> your payment.<br/>
  + As a <strong>traveler</strong>, you know that the requester has the money.<br/>
  + Both sides will get <strong>'Verified'</strong> review :)
</p>
<h3 class="textBlack"><%= t('escrow.label.how') %></h3>
<div id="diagram">
  <div id="icons" style="padding-top:20px;text-align:center;">
    <div style="margin:auto;width:600px;">
      <div class="icons icon1 active"></div>
      <div class="icon-arrow"></div>
      <div class="icons icon2"></div>
      <div class="icon-arrow"></div>
      <div class="icons icon3"></div>
      <div class="icon-arrow"></div>
      <div class="icons icon4"></div>
      <div class="icon-arrow"></div>
      <div class="icons icon1 a"></div>
      <div class="icon-arrow"></div>
      <div class="icons icon2 a"></div>
      <div class="icon-arrow"></div>
      <div class="icons icon4 a"></div>
      <div class="icon-arrow"></div>
      <div class="icons icon3 a"></div>
      <div class="icon-arrow"></div>
      <div class="icons icon4 b"></div>
      <div style="clear:both;"></div>
    </div>
  </div>


</div>


<div id="icon-title" style="padding:20px;font-size:14px;font-weight:bold;text-align:center;"><%= t('escrow.icons.icon1')%>
</div>

<div id="icon-desc"><img src="images/scrshot/001.png" class="allShadow"/></div>

<script>
    $(document).ready(function() {

        $('.icon1').mouseover(function() {
            $('.icons').removeClass('active');
            $(this).addClass('active');
            $('#icon-title').html('<%= t('escrow.icons.icon1')%>');
            $('#icon-desc').html('<img src="images/scrshot/001.png" class="allShadow"/>');
        });
        $('.icon2').mouseover(function() {
            $('.icons').removeClass('active');
            $(this).addClass('active');
            $('#icon-title').html('<%= t('escrow.icons.icon2')%>');
            $('#icon-desc').html('<img src="images/scrshot/002.png" class="allShadow"/>');
        });

        $('.icon3').mouseover(function() {
            $('.icons').removeClass('active');
            $(this).addClass('active');
            $('#icon-title').html('<%= t('escrow.icons.icon3')%>');
            $('#icon-desc').html('<img src="images/scrshot/003.png" class="allShadow"/>');
        });

        $('.icon4').mouseover(function() {
            $('.icons').removeClass('active');
            $(this).addClass('active');
            $('#icon-title').html('<%= t('escrow.icons.icon4')%>');
            $('#icon-desc').html('<img src="images/scrshot/004.png" class="allShadow"/>');
        });
        $('.icon1.a').mouseover(function() {
            $('.icons').removeClass('active');
            $(this).addClass('active');
            $('#icon-title').html('<%= t('escrow.icons.icon1a')%>');
            $('#icon-desc').html('<img src="images/scrshot/005.png" class="allShadow"/>');
        });
        $('.icon2.a').mouseover(function() {
            $('.icons').removeClass('active');
            $(this).addClass('active');
            $('#icon-title').html('<%= t('escrow.icons.icon2a')%>');
            $('#icon-desc').html('<img src="images/scrshot/006.png" class="allShadow"/>');
        });
        $('.icon4.a').mouseover(function() {
            $('.icons').removeClass('active');
            $(this).addClass('active');
            $('#icon-title').html('<%= t('escrow.icons.icon4a')%>');
            $('#icon-desc').html('<img src="images/scrshot/007.png" class="allShadow"/>');
        });

        $('.icon3.a').mouseover(function() {
            $('.icons').removeClass('active');
            $(this).addClass('active');
            $('#icon-title').html('<%= t('escrow.icons.icon3a')%>');
            $('#icon-desc').html('<img src="images/scrshot/008.png" class="allShadow"/>');
        });

        $('.icon4.b').mouseover(function() {
            $('.icons').removeClass('active');
            $(this).addClass('active');
            $('#icon-title').html('<%= t('escrow.icons.icon4b')%>');
            $('#icon-desc').html('<img src="images/scrshot/009.png" class="allShadow"/>');
        });
    });
</script>
<br clear="all">

<script type="text/javascript">
    $(document).ready(function() {
        $(".diagram").fancybox();
    });
</script>
<p>
  Still not clear enough? you can try this <%= link_to 'diagram', 'images/rekber-en.png', :class => 'diagram' %>.
</p>

<h3 class="textBlack"><%= t('escrow.label.info') %></h3>
<p>
  Bistip SafePay fee depends on requester's payment method and traveler's payout method.
</p>
<p>
  <strong>Fee for requester by payment method: </strong>
  <br/>
  <span class="textRed">Applies to SafePay initiated between 1st of October 2013 - 31st December 2013 onwards.</span>
</p>
<blockquote class="defaultRound30">
  <table style="text-align: left; width: 100%;" border="1" cellpadding="2"
         cellspacing="2">
    <tbody>
    <tr>
      <td style="vertical-align: top;">BCA Bank Transfer<br/>
      </td>
      <td style="vertical-align: top;">3%<br/>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;">PayPal<br/>
      </td>
      <td style="vertical-align: top;">5%<br/>
      </td>
    </tr>
    </tbody>
  </table>
</blockquote>
<p>
  <strong>Fee for traveler by payout method: </strong>
  <br/>
  <span class="textRed">Applies to SafePay initiated from between 1st of October 2013 - 31st December 2013 onwards.</span>
</p>
<blockquote class="defaultRound30">
  <table style="text-align: left; width: 100%;" border="1" cellpadding="2"
         cellspacing="2">
    <tbody>
    <tr>
      <td style="vertical-align: top;">BCA Bank Transfer<br/>
      </td>
      <td style="vertical-align: top;">FREE<br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;">PayPal<br/>
      </td>
      <td style="vertical-align: top;">FREE<br/>
      </td>
    </tr>
    </tbody>
  </table>
</blockquote>
<h3 class="textBlack"><%= t('escrow.label.example') %></h3>
<p>
  1. Both requester and traveler agree to use Bistip SafePay.
</p>
<p>
  2. Requester transfers the amount of money to Bistip SafePay.
</p>
<ul>
  <li>We accept <strong>US Dollar (PayPal)</strong> and <strong>IDR (BCA Bank Transfer)</strong> currency for now.</li>
  <li>The amount the requester (buyer) will deposit should include item's price + tip for traveler + Bistip SafePay fee.</li>
</ul>
<blockquote class="defaultRound50">
  <table style="text-align: left; width: 60%;" border="1" cellpadding="2"
         cellspacing="2">
    <tbody>
      <tr>
        <td style="vertical-align: top;">Item's price<br/>
        </td>
        <td style="vertical-align: top;">IDR 800.000<br/>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top;">Tip<br/>
        </td>
        <td style="vertical-align: top;">IDR 200.000<br/>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top;">Subtotal<br/>
        </td>
        <td style="vertical-align: top;">IDR 1.000.000<br/>
        </td>
      </tr>
    </tbody>
  </table>
  <br />
  <p>
    Requester pays with BCA:
    <br />IDR 1.000.000 + (2% x IDR 1.000.000) = IDR 1.020.000
  </p>
</blockquote>
<p>
  3. Bistip.com confirms that the payment has been received.
</p>
<p>
  4. Requester and traveler meetup to pass the item.
</p>
<p>
  5. Requester confirms that he/she received the item.
</p>
<p>
  6. Bistip.com transfers the money to the traveler.
</p>
<blockquote class="defaultRound50">
  <p>
    Traveler request payout payment with BCA:
    <br />IDR 1.000.000
  </p>
</blockquote>
<p>
  7. Traveler confirms that he/she received the payment.
</p>
<p>
  <strong>IMPORTANT:</strong>
</p>
<blockquote class="defaultRound">
  <ul>
    <li>Bistip SafePay is available via <span class="italic">"Messaging"</span> feature.</li>
    <li>Bistip.com will refund the payment with 5% fee (PayPal) and 3% fee (BCA Bank Transfer) if the transaction failed.</li>
    <li>If requester does not confirm (as in no. 5 above) therefore payout payment will be released at least 30 days from the start of transaction date.</li>
    <li>Transfer fee between Banks during payment will be requester's obligation.</li>
    <li>Transfer fee between Banks during payout will be traveler's obligation.</li>
  </ul>
</blockquote>

</div>
