<% page_title t('search_user.index.label.heading') %>
<div class="content-left text-01">
  <div class="table-half-page">
    <div style="padding-bottom: 10px;" class="heading-text-orange"><%= t('search_user.index.label.heading') %></div>
      <%= form_tag search_user_path do %>
        <table width="100%" cellspacing="0" cellpadding="5" border="0" align="center" class="text-01">
          <tr>
            <td align="left" width="40%">
              <%=t('search_user.index.label.field')%>
            </td>
            <td width="60%">
              <%= text_field_tag :keyword, nil, :class => "textbox-01"%>
            </td>
          </tr>
          <tr>
            <td></td>
            <td align="left">
              <%= submit_tag 'Search', :class => 'button-blue' %>
            </td>
          </tr>
        </table>
      <%end%>
  </div>
  <div class="table-half-page">
    <div style="text-align: left; padding-bottom: 10px;" class="heading-text-orange"><%= t('search_user.index.label.result') %></div>
    <div id="users">
      <% if @users.size > 0%>
        <% for user in @users do %>
          <%= render 'shared/user_medium', :locals => {:user => user}%>
        <% end%>
      <% else %>
        <%= t('search_user.index.label.no_result')  %>
      <% end %>
    </div>
  </div>
</div>
