<% page_title t('user.not_validated.opening') %>
<div style="height:300px" class="content-middle-graphic-background text-01 blue-link">
  <p><%= t('user.not_validated.opening')%></p>

  <p><%= t('user.not_validated.body') %></p>
  <p><%= link_to t('user.resend_validation.link'), resend_validation_user_path %></p>
</div>
