<% page_title t('seek.match.label.heading') %>
<div class="content-left">
  <div style="padding-bottom: 20px" class="blue-link"><%= link_to t('seek.show.link_return'), seek_path(@seek) %></div>
  <div class="heading-grey"><%= t('seek.match.label.heading') %></div>
  <div class="match text-01">
    <table width="100%" cellspacing="0" cellpadding="0" border="0">
      <tbody>
        <tr>
          <td height="30px" width="140px"><%= t('seek.field.label.origin')%></td>
          <td>:</td>
          <td><%= render 'shared/city', :locals => {:city => @seek.origin_city} %></td>
        </tr>
        <tr>
          <td height="30px"><%= t('trip.field.label.destination')%></td>
          <td>:</td>
          <td><%= render 'shared/city', :locals => {:city => @seek.destination_city} %></td>
        </tr>
        <% unless @seek.departure_date.nil? %>
        <tr>
          <td height="30px"><%= t('seek.field.label.departure_date')%></td>
          <td>:</td>
          <td><i><%= t(@seek.departure_date_predicate, :scope => 'date_predicate') unless @seek.departure_date_predicate.nil? %></i> <%= l(@seek.departure_date) %></td>
        </tr>
        <% end %>
        <% unless string_nil_or_empty?(@seek.notes) %>
        <tr>
          <td height="30px" valign="top"><%= t('seek.field.label.notes')%></td>
          <td valign="top">:</td>
          <td>
            <div class="word-wrap-notes">
              <%= auto_link_in_new_tab_without_simple_format @seek.notes %>
            </div>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="heading-grey"><%= t('seek.match.label.result', :count => @matches.count) %></div>
  <div class="match-result">
    <% for match in @matches %>
    <div style="width: 50%;">
      <%= render 'shared/trip_summary', :locals => {:trip => match} %>
    </div>
    <% end %>
  </div>
  <div style="padding-top: 20px" class="blue-link"><%= link_to t('seek.show.link_return'), seek_path(@seek) %></div>
</div>
