<% unless @trip.previous.blank? %>
  <h4><%= t('trip.show.label.previous', :username => @trip.user.username.capitalize) %></h4>
  <br/>
   <%= render 'shared/trip_summary_mini', :locals => {:trip => @trip.previous, :show_user => false, :ref => TrackLink.generate(request.path, TrackLink::TRIP_PREV, @trip.id)} %>
  <br/>
<% end %>
<% unless @trip.upcoming.blank? %>
  <h4><%= t('trip.show.label.next', :username => @trip.user.username.capitalize) %></h4>
  <br/>
   <%= render 'shared/trip_summary_mini', :locals => {:trip => @trip.upcoming, :show_user => false, :ref => TrackLink.generate(request.path, TrackLink::TRIP_NEXT, @trip.id)} %>
  <br/>
<% end %>
