<div style="font: normal 14px Helvetica, Arial, sans-serif; line-height: 19px; color: #333;">
  <%= @giver.username %> gave you a good reputation <%= l(@created) %>
  <blockquote>
    <strong><i><%= simple_format @content %></i></strong>
  </blockquote>
  <% if @give_back %>
    You can use below link to give back <%= @giver.username %> a good reputation:
    <br/>
    <%= auto_link(new_user_positive_reputation_url(@giver)) %>
  <% else %>
    You can view the reputation through the link below:
    <br/>
    <%= auto_link(reputation_user_url(@receiver)) %>
  <% end %>
</div>