<% page_title t('affiliate.index.title') %>
<div id="statics">
  <div class="col4">
    <h2><%= t('affiliate.index.title') %></h2>

    <h3 class="textBlack">About</h3>
    <p>
      We are currently opening our affiliate program to selected partner only. The program or commission that we offer is:
    </p>
    <ul>
      <li><strong>USD 0.5 per every activated user.</strong></li>
      <li>Activated users are the visitors referred by your site whom register and validate their email addresses in our site.</li>
    </ul>
    <br/>
    <h3 class="textBlack">How can I integrate?</h3>
    <p>Once we give you access you can login to your <%= link_to 'Affiliate Dashboard', affiliate_dashboard_path, :target => 'blank' %> at our site. On top of the dashboard you will see your unique affiliate URL, for example:  </p>
    <div class="alignCenter">
      <%= image_tag 'affiliate/link.png' %>
    </div>
    <br/>
    <p>
      All you need to do is to use that URL behind a link or a banner on your site. We will provide you with our 'suggested' design files, or you could create your own Bistip banner that fits with the spaces on your site. And the best thing is, you could even simply share your affiliate URL link through your social media channel.
    </p>
    <br/>
    <h3 class="textBlack">Tracking</h3>
    <p>You can view your daily and monthly statistics by logging into your <%= link_to 'Affiliate Dashboard', affiliate_dashboard_path, :target => 'blank' %> at our site. The dashboard will show number of clicks, conversions (referred visitor whom register as activated user), and payment status.</p>
    <div class="alignCenter">
      <%= image_tag 'affiliate/dashboard.png' %>
    </div>
    <br/>
    <br/>
    <h3 class="textBlack">When do I get paid?</h3>
    <p>
      We will pay our affiliator on the 15th of every month for previous month's commission. For example: on 15 July 2012 we will pay commission for your conversion from the period of 01 June 2012 to 30 June 2012. Why the 2 weeks delay? Because it is to give more time for end of month referred visitors to validate their email addresses. Our site gives 5 days of full access to all of our features before requiring the newly registered members to validate their email addresses.
    </p>
    <h3 class="textBlack">Agreement</h3>
    <p>To become our affiliator you must agree to the following:</p>
    <ul>
      <li>We give you autonomy and creativity where to put your affiliate URL as long as your site/content/format is not classified as defamatory, harassing, harmful, obscene, racially objectionable, and unlawful.</li>
      <li>Only us could provide our affiliator with affiliate URL/link and password to access the Affiliate Dashboard on our site. </li>
      <li>The affiliator must sign an affiliation agreement with us.</li>
      <li>We may alter our program offer at anytime, with or without notice, to the affiliator.</li>
      <li>We have the rights to terminate affiliate services and/or the affiliation agreement at anytime, with or without notice, and forfeit any outstanding payment.</li>
    </ul>
  </div>
</div>