<% page_title t('search_trip.index.label.heading') %>
<%= render 'shared/search_sub_menu' %>
<div class="content-left text-01">
  <div class="table-half-page">
    <div style="padding-bottom: 10px;" class="heading-text-orange"><%= t('search_trip.index.label.heading') %></div>
    <p><b><%= t('search_trip.index.label.intro') %></b></p>
    <div class="search-form">
      <ul>
        <li>
          <label>
            <%= location_auto_complete_js 'origin' %>
            <%= t('trip.field.label.origin') %>
          </label>
          <%= text_field_tag 'origin', params[:origin], :size => 30, :class => 'textbox-01' %>
        </li>
        <li>
          <label>
            <%= location_auto_complete_js 'destination' %>
            <%= t('trip.field.label.destination') %>
          </label>
          <%= text_field_tag 'destination', params[:destination], :size => 30, :class => 'textbox-01' %>
        </li>

        <%
          search_more_options_style = 'display:none'
          toggle_text = t('general.more_options');
          if params[:departure_date_predicate] or params[:departure_date] or params[:notes]
            search_more_options_style = ''
            toggle_text = t('general.hide_options');
          end
        %>
        <li>
          <label>&nbsp;</label>
          <span class="blue-link"><a href=""id="search-form-toggle"><%= toggle_text %></a></span>
          <script type="text/javascript">
            $("#search-form-toggle").click(function () {
              $("#search-more-options").toggle();
              $("#departure_date").val("");
              $("#notes").val('');
              $('input[name=departure_date_predicate]').attr('checked', false);
              current_toggle_text = $("#search-form-toggle").text();
              more_options_text = '<%= t('general.more_options') %>';
              hide_options_text = '<%= t('general.hide_options') %>';
              
              if (current_toggle_text == more_options_text)
              {
                $("#search-form-toggle").text(hide_options_text);
              }
              else
              {
                $("#search-form-toggle").text(more_options_text);
              }
              return false;
            });
          </script>
        </li>
        <div id="search-more-options" style="<%= search_more_options_style %>">
          <li>
            <label>
              <%= t('trip.field.label.departure_date') %>
            </label>
            <% DatePredicate::ALL.each do |departure_date_predicate| %>
              <%= radio_button_tag 'departure_date_predicate', departure_date_predicate, params[:departure_date_predicate] == departure_date_predicate, :readonly => 'readonly' %>
              <%= t(departure_date_predicate, :scope => 'date_predicate') %><br/>
            <% end %>
          </li>
          <li>
            <label>&nbsp;</label>
            <%= date_picker_js 'departure_date' %>
            <%= text_field_tag 'departure_date', params[:departure_date], :size => 30, :readonly => "readonly", :class => 'textbox-01' %>
          </li>
          <li>
            <label>&nbsp;</label>
            <%= render_link_to_clear_a_field('departure_date') %>
          </li>
          <li>
            <label><%= t('search_trip.index.label.notes') %></label>
            <%= text_field_tag 'notes', params[:notes], :size => 30, :class => 'textbox-01' %>
          </li>
        </div>
        <li>
          <label>&nbsp;</label>
          <div style="padding-top: 4px;" class="buttonlink-blue">
            <a href="javascript:buildSearchTripURL()">Search</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="table-half-page">
    <div style="text-align: left; padding-bottom: 10px;" class="heading-text-orange"><%= t('search_trip.index.label.result') %></div>
    <div id="trips">
      <% if @trips.size > 0 %>
        <% for trip in @trips %>
          <%= render 'shared/trip_summary', :locals => {:trip => trip, :show_description => true} %>
        <% end %>
      <% else %>
        <%= t('search_trip.index.label.no_result') %>
      <% end %>
    </div>
    <div style="text-align: center">
      <%= will_paginate(@trips, :renderer => TwitterPagination::LinkRenderer, :id => 'trips_pagination') %>
    </div>
  </div>
</div>