.table-main {
    width: 100%;
}
.slogan {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    color: rgb(3, 80, 136);
}

.page-heading {
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 10px;
    color: #333333;
    font-family: Arial,Helvetica,sans-serif;
}

.menu {
    width: 100%;
    border-top: thin solid #FFFFFF;
}
.menu-content {
    font-family: Arial,Helvetica,sans-serif;
    text-decoration: none;
    color: #FFFFFF;
}

.menu-content a:active, .menu-content a:link, .menu-content a:visited {
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: none;
}
.menu-content a:hover {
    color: #FED700;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: none;
}

.menu-mobile {
    width: 100%;
    border-top: thin solid #FFFFFF;
}
.menu-content-mobile {
    font-size: 11px;
    font-family: Arial,Helvetica,sans-serif;
    text-decoration: none;
    color: #0000FF;
}

.menu-content-mobile a:active, .menu-content-mobile a:link, .menu-content-mobile a:visited {
    color: #FF0000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    text-decoration: none;
}
.menu-content-mobile a:hover {
    color: #0000FF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    text-decoration: none;
}

.login-box {
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
}
.button-red {
    background-color: #FF0000;
    border: 1px solid #990000;
    color: #FFFFFF;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 13px;
}
.button-red:active {
    background-color: #E10000;
}
.button-blue {
    background-color: #377DFC;
    border-top: 3px solid white;
    color: #FFFFFF;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 13px;
}
.button-blue:active {
    background-color: #1D6CFC;
}
.textbox-login {
    border: 1px solid #BDC7D8;
    font-family: arial,sans-serif;
    font-size: 12px;
    padding: 1px;
}
.text-title-01 {
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
}

.summary-table {
    margin-top: 7px;
    border-bottom: thin solid lightgray;
}

.summary-text {
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
}
.summary-text a:active, .summary-text a:link, .summary-text a:visited {
    color: #2C93DF;
    text-decoration: none;
}
.summary-text a:hover {
    text-decoration: underline;
}

.summary-box-expired {
  background-image: url("http://www.epoch-designs.com/bistip/css/../img/bg-box.jpg");
  background-position: left top;
  background-repeat: no-repeat;
  border-bottom: 1px solid #999999;
  padding: 5px 0 0;
}

.text-red-01 {
    color: #FF0000;
}
.footer-text {
    color: #333333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
}
.footer-text a:active, .footer-text a:link, .footer-text a:visited {
    color: #333333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    text-decoration: none;
}
.footer-text a:hover {
    text-decoration: underline;
}
.text-01 {
    color: #333333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
}
.text-01 a:active, .text-01 a:visited, .text-01 a:link {
    color: #666666;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    text-decoration: none;
}
.text-01 a:hover {
    text-decoration: underline;
}
.textbox-01 {
    border: 1px solid #BDC7D8;
    font-family: arial,sans-serif;
    font-size: 11px;
    padding: 2px;
    width: 85%;
}
.textarea-01 {
    border: 1px solid #BDC7D8;
    font-family: arial,sans-serif;
    font-size: 11px;
    width: 95%;
    border-radius: 3px;
}
.text-orange {
    color: #FEBF00;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 25px;
}
.text-error {
    color: #666666;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}
.text-green {
    color: #1D583C;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
}

.text-orange-12 {
  color: #FF9900;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
}

.button-red {
  background-color: #FF0000;
  padding-left: 3px;
  padding-right: 3px;
}

.text-white-12 {
  color: #FFFFFF;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
}

.text-white-12 a:visited, .text-white-12 a:link, .text-white-12 a:active {
  color: #FFFFFF;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  text-decoration: none;
}

.text-white-12 a:hover {
  color: #FFFFFF;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
}

.button-register {
    background-color: #377DFC;
    border: 1px solid #377DFC;
    color: #FFFFFF;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 13px;
    padding: 3px;
}
.button-register:active {
    background-color: #1D6CFC;
}

#notice {
    background-color: #A4E7A0;
    border: 1px solid #A4E7A0;
}

#alert, #model_alert {
    background-color: #F0A8A8;
    border: 1px solid #F0A8A8;
}

#notice, #alert, #model_alert {
    width: 90%;
    margin: 0 auto 5px auto;
}

#notice p, #alert p, #model_alert p {
    margin-left: 5px;
    padding: 0;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    color: #000;
}

#notice a, #alert a, #model_alert a {
    text-decoration: none;
    padding: 0 3px;
}

#notice a {
    border: 1px solid #26722D;
    color: #26722D;
}

#alert a, #model_alert a {
    border: 1px solid #900;
    color: #900;
}

#notice a:hover, #alert a:hover, #model_alert a:hover {
    color: #333;
    border: 1px solid #333;
}

.buttonlink-grey a:active, .buttonlink-grey a:visited, .buttonlink-grey a:link {
    background-color:#8F8B8C;
    color:#FFF;
    font-size:13px;
    border:1px solid #8F8B8C;
    font-family:Tahoma,Geneva,sans-serif;
    text-decoration:none;
    padding:0px 5px 3px 5px;
}

.buttonlink-grey a:hover {
    background-color:#827F80;
}

.buttonlink-red a:active, .buttonlink-red a:visited, .buttonlink-red a:link {
    background-color:#F00;
    color:#FFF;
    font-size:13px;
    border:0px solid #F00;
    font-family:Tahoma,Geneva,sans-serif;
    text-decoration:none;
    padding:0px 5px 3px 3px;
}

.buttonlink-red a:hover {
    background-color:#C00;
}

.buttonlink-blue a:active,.buttonlink-blue a:visited,.buttonlink-blue a:link {
    background-color:#3e7ff5;
    color:#FFF;
    font-size:13px;
    border:1px solid #3e7ff5;
    font-family:Tahoma,Geneva,sans-serif;
    text-decoration:none;
    padding:0px 5px 3px 5px;
}

.buttonlink-blue a:hover {
    background-color:#06F;
}

.buttonlink-image {
    background-color:#F00;
    padding:5px 5px 8px 5px;
    cursor:pointer;
}

.buttonlink-image a:active,.buttonlink-image a:visited,.buttonlink-image a:link {
    background-color:#F00;
    color:#FFF;
    font-size:13px;
    border:1px solid #900;
    font-family:Tahoma,Geneva,sans-serif;
    text-decoration:none;border:0px;
}

.buttonlink-image a:hover {
    background-color:#C00;
}

.heading-text-orange {
    font-family:Arial,Helvetica,sans-serif;
    font-size:25px;
    color:#febf00;
}

#sub-menu {
  margin: 2px 0 1px;
  padding-bottom: 10px;
  padding-left: 5px;
}

#sub-menu ul, #sub-menu li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#sub-menu a {
  background: none repeat scroll 0 0 #E8EBF0;
  border: 1px solid #CCCCCC;
  color: #666666;
  font-size: 10px;
  font-weight: bold;
  line-height: 12px;
  margin-right: 3px;
  padding: 3px 3px;
}

#sub-menu span {
  font-size: 10px;
  font-weight: bold;
  line-height: 12px;
  margin-right: 8px;
  padding: 5px 10px;
}

#sub-menu .active a {
  background: none repeat scroll 0 0 #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

#sub-menu a:hover {
  color: #111111;
}

.profile-picture {
    font-family:Arial,Helvetica,sans-serif;
    color:#000;
}

.profile-picture img {
    border:1px solid #999;
}

.profile-form-table {
    text-align:left;
    font-family:Arial,Helvetica,sans-serif;
    font-size:11px;
    color:#333;
    padding-top:1px;
}

.table td {
    padding: 1px;
}

.table input {
    border: 1px solid #BDC7D8;
    font-family: arial,sans-serif;
    font-size: 11px;
}

.table select {
    border: 1px solid #BDC7D8;
    font-family: arial,sans-serif;
    font-size: 11px;
}

.pagination a {
    font-family:Arial,Helvetica,sans-serif;
}

.pagination a:active, .pagination a:link, .pagination a:visited {
    color: #2C93DF;
    text-decoration: none;
}

.pagination a:hover {
    text-decoration: underline;
}

.heading-grey {
  clear: both;
  color: #707070;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.buttonlink-grey-01 a:active, .buttonlink-grey-01 a:visited, .buttonlink-grey-01 a:link {
  background-color: #A5A5A5;
  border: 1px solid #858585;
  color: #FFFFFF;
  font-family: Tahoma,Geneva,sans-serif;
  font-size: 11px;
  padding: 0 3px 1px;
  text-decoration: none;
}

.buttonlink-grey-01 a:hover {
  background-color: #666666;
}

.line-separator-01 {
  background-color: #999999;
  clear: both;
  height: 1px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.comment {
  border-bottom: 1px solid #999999;
  clear: both;
  padding-bottom: 20px;
  padding-top: 10px;
  width: 950px;
}

.comment #desc {
  color: #333333;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
}

.comment-form #title {
  color: #333333;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 13px;
}

.comment-form textarea {
  border: 1px solid #BDC7D8;
  font-family: arial,sans-serif;
  font-size: 14px;
  padding: 4px;
}

.messages {
  padding-left: 10px;
  padding-bottom: 3px;
  padding-top: 3px;
/*  width: 950px;*/
}

.messages img {
  border: 1px solid #999999;
}

.messages a:active, .messages a:link, .messages a:visited {
    color: #2C93DF;
    text-decoration: none;
}
.messages a:hover {
    text-decoration: underline;
}

.message-name {
  color: #333333;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 11px;
  padding-left: 3px;
}

.message-content {
  color: #333333;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 11px;
  padding-left: 3px;
}

.conversations {
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.conversations img {
  border: 1px solid #999999;
}

.conversations a:active, .conversations a:link, .conversations a:visited {
    color: #2C93DF;
    text-decoration: none;
}
.conversations a:hover {
    text-decoration: underline;
}

.conversation-name {
  color: #333333;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 11px;
  padding-left: 5px;
  padding-bottom: 3px;
}

.conversation-content {
  color: #333333;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 11px;
  padding-left: 5px;
  text-align: left;
/*  width: 700px;*/
}

.heading-grey {
  clear: both;
  color: #707070;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.message-form {
  font-family: arial,sans-serif;
  font-size: 12px;
  padding: 1px;
}

.user-medium {
  clear: both;
}

.user-medium-profile-picture {
  float: left;
  padding-right: 5px;
  padding-top: 5px;
  border: 1px;
}

.user-medium-profile-picture img {
  border: 1px solid #999999;
}

.user-medium-details {
  padding-top: 5px;
}

.blue-link a:active, .blue-link a:link, .blue-link a:visited {
  color: #2C93DF;
  text-decoration: none;
}

.blue-link a:hover {
  text-decoration: underline;
}

.red-link a:active, .red-link a:link, .red-link a:visited {
  color: #E81348;
  text-decoration: none;
}

.red-link a:hover {
  text-decoration: underline;
}

.reputation {
  clear: both;
/*  padding: 5px;*/
}

.reputation-profile-picture {
  float: left;
  padding-top: 5px;
  padding-right: 3px;
  border: 1px;
  vertical-align: top;
}

.reputation-profile-picture img {
  border: 1px solid #999999;
}

.reputation-details {
  padding-top: 5px;
}

.reputation-body {
  padding-top: 5px;
}

.match {
  padding-top: 20px;
  padding-bottom: 20px;
}

.match-result {
  margin-top: 5px;
  margin-left: 5px;
  background-color: #F0E690;
  border: 2px solid #F0E690;
}

.exception {
  background-color: #fff;
  color: #666;
  font-family: arial, sans-serif;
}
.exception .dialog {
  margin: 1em auto 0 auto;
  border: 1px solid #ccc;
  border-right-color: #999;
  border-bottom-color: #999;
  text-align: center;
}

.exception h1 {
  font-size: 100%;
  color: #f00;
  line-height: 1.5em;
}

.feedback {
  border: medium none;
  border-collapse: collapse;
  border-spacing: 0;
  cursor: pointer;
  display: block;
  font-size: 0;
  left: 0;
  line-height: 0;
  margin: 0;
  outline: medium none;
  overflow: hidden;
  padding: 0;
  position: fixed;
  top: 42%;
  z-index: 2147000000;
}

.field_with_errors {
  display:inline
}

.header01 {
  font: bold 11px 'AllerRegular',Arial,sans-serif;
  letter-spacing: 0;
}

.header-sub-text {
  font: 11px 'AllerRegular',Arial,sans-serif;
  padding-top: 2px;
  padding-left: 3px;
}

.facebook-login {
  background-color: transparent;
  border: 0 none;
  cursor: pointer;
  height: 21px;
  width: 169px;
}

.twitter-login {
  background-color: transparent;
  border: 0 none;
  cursor: pointer;
  height: 21px;
  width: 169px;
}

.bistiper_header{
    background-color: #035088;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 2px 2px 2px;
    border-top: thick solid white;
}
.bistiper_header a:active, .bistiper_header a:link, .bistiper_header a:visited {
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding-left: 8px;
    padding-right: 8px;
    text-decoration: none;
}
.bistiper_header a:hover {
    color: #FED700;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding-left: 8px;
    padding-right: 8px;
    text-decoration: none;
}
.simple_manual{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    text-align: left;
    font-weight: bold;
    border: thin solid #057088;
    padding: 2px 2px 2px 2px;
    border-radius: 8px;
    background-color: #F0E690;
}

.sep{
    font-size: 9px;
    padding-left: 3px;
}

.line-sep{
    width:100%;
    border-bottom: thin solid lightgray;
    height: 3px;
}

.ui-widget {
  font-family: Verdana,Arial,sans-serif;
}