<div id="dash" class="content-left text-01">
  <div class="left-section panel-blue">
    <%= render 'shared/left_menu' %>
  </div>
  <div class="main-section">
    <div class="panel-blue">
      <div style="padding-bottom: 10px"><%= t('recommend.get_recommendation.label.header')%></div>
      <div><%= t('registered.label.share_recommend_link')%> <%= text_field_tag 'recommend', generate_recommend_url(current_user), :size => 50, :class => 'textbox-01', :readonly => 'readonly' %></div>
      <div style="padding-left: 145px; padding-top: 10px;">
        <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
          <a class="addthis_button_facebook" addthis:url="<%= generate_recommend_url(current_user) %>" addthis:title="<%= generate_recommend_title(current_user) %>"></a>
          <a class="addthis_button_twitter" addthis:url="<%= generate_recommend_url(current_user) %>" addthis:title="<%= generate_recommend_title(current_user) %>"></a>

          <script type="text/javascript">
            var addthis_config = {"data_track_clickback":true};
          </script>
          <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4d71069d1b32853e"></script>
          <script type="text/javascript" src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
          <fb:send href="<%= generate_recommend_url(current_user) %>" font="arial"></fb:send>
        </div>
      </div>
    </div>
  </div>
</div>