<div class="plc">
  <div class="lines">
    <div class="col3">
      <%= render 'social_tertiary' %>
    </div>
    <div class="col3">
      <%= link_to guide_path do %>
          <%= image_tag 'safety.png', :alt => 'Panduan Keamanan', :class => 'defaultShadow' %>
      <% end %>
    </div>

    <div class="col3">

      <h4>
        <%= link_to how_path do %>
            <%= image_tag 'img-cara-kerja.png', :alt => 'How Bistip works', :class => 'defaultShadow' %>
        <% end %>
      </h4>
    </div>

    <div class="col3">
        <%= link_to 'http://bit.ly/pulangkampung', :target =>'_blank' do %>
            <%= image_tag 'banners/pulkam-banner.png', :alt => 'Pulang kampung', :class => 'defaultShadow' %>
        <% end %>
    </div>
  </div>
  <br clear="all"/>
</div>