<nav id="tabNav">
  <%= render_sub_menu_link t('message.link.inbox'), [{:controller => 'messages', :action => "index"}] %>
  <%= render_sub_menu_link t('message.link.sent'), [{:controller => 'messages', :action => "sent"}] %>
</nav>