<% seek = locals[:seek] %>
<% ref = locals[:ref] %>
<% item_count = locals[:item_count]  %>
<% extra_info = locals[:extra_info]  %>
<% keyword_specified = locals[:keyword_specified] %>
<% visible_user = locals[:visible] %>
<% user = seek.user %>
<%= link_to seek_path(seek, :ref => ref), :class => "infoBlockLink" do %>
  <div class="infoBlock defaultRound mid">
    <div class="left">
      <div class="avatar">
        <%= render 'shared/trusted_badge', :locals => {:user => user} %>
        <%= image_tag user.avatar.url, :size => "64x64", :class => "photo" %>
        <h5><%= user.username %></h5>
        <div class="tools">
          <%= render 'shared/user_review', :locals => {:user => user} %>
        </div>
      </div>
    </div>
    <div class="right">
      <% if item_count %>
        <%= render 'shared/seek_data', :locals => {:seek => seek, :extra_info => extra_info} %>
      <% else %>
        <%= render 'shared/seek_data', :locals => {:seek => seek, :extra_info => extra_info} %>
      <% end %>
      <% if keyword_specified and !string_nil_or_empty?(seek.notes) %>
        <div class="notesDisplay bgWhite">
          <p><%= highlight seek.notes, search_keyword_to_array(params[:keyword]) %></p>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
