<% user = locals[:user] %>

<span>
  <span class="blue-link"><strong><%= link_to user.username, profile_path(user.username) %></strong>
    <%= render 'shared/user_review', :locals => {:user => user} %>
    <% if logged_in? and user != current_user %>
      <%= link_to image_tag("icon-email-bistiper-m.png", :border => 0, :title => t('message.link.new', :username => user.username), :align => "absmiddle"), new_message_path(:user => user.username) %>
    <% elsif !logged_in? %>
      <%= link_to image_tag("icon-email-bistiper-m.png", :border => 0, :title => t('message.link.new', :username => user.username), :align => "absmiddle"), new_message_path(:user => user.username) %>
    <% end %>
  </span>
</span>