$("#trips").append("<% for trip in @trips %><% if params[:keyword] %><%= escape_javascript(render 'shared/trip_summary', :locals => {:trip => trip, :keyword_specified => true}) %><% else %><%= escape_javascript(render 'shared/trip_summary', :locals => {:trip => trip, :item_count => TripItem::SUMMARY_COUNT}) %><% end %><% end %>");
$("#trips_pagination").html("<%= escape_javascript(get_more_will_paginate(@trips, 'trips_pagination')) %>");