$("#reputations").append("<% for reputation in @negatives %><%= escape_javascript(render 'shared/reputation', :locals => {:reputation => reputation}) %><% end %>");
$("#reputations_pagination").html("<%= escape_javascript(will_paginate(@negatives, :renderer => TwitterPagination::LinkRenderer, :id => 'reputations_pagination')) %>");