<% page_title t('message.show.heading') %>
<div class="col4">
  <h2><%= t('message.show.heading') %><%= render('shared/protected') %></h2>
  <%= render 'protection_widget' %>
  <% if @message.escrow.blank? %>
    <div class="bgGrey defaultRound" id="messageReview">
      <p>
        <% receiver = @message.not_this_user(current_user) %>
        <% if @message.reviewable_by(current_user) %>
          <% id_to_use = @message.thread_starter? ? @message.id : @message.parent.id %>
          <%= link_to new_user_review_path(:user_id => receiver.id, :message_id => id_to_use), :class => 'btnAction' do %>
            <%= image_tag "icon-thumb.png", :size => "10x14" %>
            <%= t('review.label.give', :receiver => receiver.username) %>
          <% end %>
        <% elsif Review.find_all_by_giver_id_and_message_id(current_user.id, @message.id).count == 0 %>
          <%= t('review.label.not_yet') %>
        <% else %>
          <% review = Review.find_by_giver_id_and_message_id(current_user.id, @message.id) %>
          <%= link_to t('review.label.existing', :receiver => receiver.username), reviews_user_path(receiver, :anchor => review.internal_link_id) %>
        <% end %>
      </p>
    </div>
  <% end %>
</div>
<div class="col4">
  <div class="conversation" id="inbox">
    <h3 class="textBlack"><%= t('message.label.subject') %>: <%= @message.subject_display %></h3>
    <h4 class="textBlack"><%= generate_label_for_related_trip_or_seek(@message.trip_id, @message.seek_id) %></h4>

    <h5 class="navBack">
      <%= link_to t('message.link.inbox_return'), user_messages_path(current_user) %>
    </h5>
    <%= render 'conversation', :locals => {:message => @message} %>
    <% @messages.each do |message| %>
      <%= render 'conversation', :locals => {:message => message} %>
    <% end %>
    <%= render 'continue_browsing', :message => @message %>
    <%= render 'reply_form', :locals => {:user_id => @user} %>
    <h5 class="navBack">
      <%= link_to t('message.link.inbox_return'), user_messages_path(current_user) %>
    </h5>
  </div>
</div>
