<% page_title t('seek.edit.link') %>
<div class="col12">
  <h2><%= t('seek.edit.link') %></h2>
</div>
<div class="col7 bgLightBlue defaultRound">
  <h3 class="textBlack"><%= t('seek.new.label.intro') %></h3>
  <%= render 'form', :locals => {:cancel_path => root_path}%>
</div>
<%= render 'form_tips' %>
