<% page_title @trip.to_s %>
<% user = @trip.user %>
<% meta_description @trip.to_s %>
<% meta_keywords @trip.items_name_all %>

<div class="col12">
  <h2><%= t('trip.show.label.heading') %></h2>
  <p class="navBack">
    <%= link_to t('general.link_return'), :back %>
  </p>
  <% if logged_in? and @trip.owner?(current_user) and !current_user.has_avatar? %>
    <div class="notificationBar yellow">
      <%= link_to t('user.reminder.complete_avatar'), edit_user_path(current_user), :class => 'user-reminder' %>
    </div>
  <% end %>
</div>
<div class="col8 bgLightYellow defaultRound">
  <div id="viewRoute">
    <div class="avatar">
      <%= render 'shared/trusted_badge', :locals => {:user => user} %>
      <%= image_tag user.avatar.url, :size => "84x84", :class => "photo" %> <h5><%= link_to user.username, profile_path(user.username) %></h5>
      <div class="tools">
        <%= render 'shared/user_review_link', :locals => {:user => user} %>
      </div>
      <% if logged_in? and @trip.owner?(current_user) and @trip.active? %>
        <div class="adminTools">
          <%= link_to t('trip.edit.link_short'), edit_trip_path(@trip) %>
          <%= link_to t('trip.destroy.link_short'), @trip, :confirm => t('general.are_you_sure'), :method => :delete, :class => "delete" %>
        </div>
      <% end %>
    </div>
    <div class="info">
      <% unless @trip.active? %>
        <div class="notificationBar red">
          <%= t('trip.show.label.not_active') %>
        </div>
      <% end %>
      <div class="infoBlock defaultRound">
        <%= render 'shared/trip_data', :locals => {:trip => @trip} %>
      </div>
      <% if !@trip.notes.blank? %> <h5><%= t('trip.field.label.notes') %></h5>
        <p>
          <%= auto_link_in_new_tab @trip.notes %>
        </p>
      <% end %>
      <p>
        <% if logged_in? %>
          <% if current_user.sent_messages.find_all_by_trip_id_and_thread_starter(@trip.id, true).any? %>
            <br />
            <% link_to user_message_path(:user_id=>user, :id=>current_user.sent_messages.find_all_by_trip_id(params[:id]).first.id), :class => "btnAction" do %>
              <%= image_tag 'icon-email-bistiper.png', :size => "22x14" %>&nbsp;
              <%= t('message.link.trip_contacted', :username => user.username) %>
            <% end %>

          <% elsif !@trip.owner?(current_user) %>
            <br/>
            <%= link_to new_user_message_path(:user_id => user, :trip_id => @trip.id), :class => "btnAction" do %>
              <%= image_tag 'icon-email-bistiper.png', :size => "22x14" %>&nbsp;
              <%= t('message.link.trip', :username => user.username) %>
            <% end %>
            <br/>
          <% end %>

        <% else %>
          <br/>
          <%= link_to new_user_message_path(:user_id => user, :trip_id => @trip.id), :class => "btnAction" do %>
            <%= image_tag 'icon-email-bistiper.png', :size => "22x14" %>&nbsp;
            <%= t('message.link.trip', :username => user.username) %>
          <% end %>
          <br/>
        <% end %>

        <% url = trip_url(@trip) %>
        <% if current_user && @trip.user != current_user %>
          <% data = "#{@trip.id} #{current_user.id}" %>
          <% url = influence_url(Base32.encode(data)) %>
        <% end %>
        <%= render 'shared/social_share', :locals => {:url => url, :title => @trip.to_s, :owner => @trip.user} %>
      </p>
    </div>
  </div>
  <br clear="all"/>
  <div id="comments" class="bgWhite defaultRound">
    <%= render 'comments' %>
  </div>
</div>
<div class="col4">
  <%= render 'suggested_items' %>
  <%= render 'link' %>
  <% if logged_in? and current_user == user and !@trip.find_matching_seeks.blank? %>
    <div id="match">
      <h4><%= t('trip.show.label.match_heading') %></h4>
      <% @trip.find_matching_seeks.take(Trip::SUMMARY_MATCH_COUNT).each do |match_seek| %>
        <%= render 'shared/seek_summary_mini', :locals => {:seek => match_seek, :ref => TrackLink.generate(request.path, TrackLink::MATCH, @trip.id)} %>
      <% end %>
      <% if @trip.find_matching_seeks.size > Trip::SUMMARY_MATCH_COUNT %>
        <p>
          <%= link_to t('general.see_all'), match_trip_path(@trip, :ref => TrackLink.generate(request.path, TrackLink::MATCH_SEE_ALL, @trip.id)) %> <span class="counter"><%= @trip.find_matching_seeks.size %></span>
        </p>
      <% end %>
    </div>
  <% end %>
  <% unless @suggested_trips.blank? %>
    <div id="similar">
      <h4><%= t('general.suggestions') %></h4>
      <% @suggested_trips.take(Trip::SUMMARY_SIMILAR_COUNT).each do |match_trip| %>
        <%= render 'shared/trip_summary_mini', :locals => {:trip => match_trip, :color => 'bgGrey', :show_route => true, :ref => TrackLink.generate(request.path, TrackLink::SIMILAR, @trip.id)} %>
      <% end %>
      <% if @suggested_trips.size > Trip::SUMMARY_SIMILAR_COUNT %>
        <p>
          <%= link_to t('general.see_all'), suggestions_trip_path(@trip, :ref => TrackLink.generate(request.path, TrackLink::SIMILAR_SEE_ALL, @trip.id)) %> <span class="counter"><%= @suggested_trips.size %></span>
        </p>
      <% end %>
    </div>
  <% end %>
</div>