<%= form_for([@topic.forum, @topic, @post]) do |f| %>
  <table>
    <tr>
      <td class="forum_form_label"><%= t('post.new.label.post') %></td>
      <%= enable_character_counter('first_post_body', Post::BODY_MAXIMUM_LENGTH) %>
      <td class="forum_form_value">
        <%= f.text_area :body, :class => "textarea-01", :cols => 70, :rows => 10 %>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><%= t('forum.html_instruction') %></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><%= recaptcha_tags %></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>
        <%= f.submit t('button.send'), :class => 'buttonSubmit', :disable_with => t('button.disabled') %>
        <%= link_to t('button.cancel'), forum_topic_path(@topic.forum, @topic), :class => 'cancelLink' %>
      </td>
    </tr>
  </table>
<% end %>
