<% page_title t('post.quote.heading') %>
<div class="text-01">
  <div style="padding-top: 20px; padding-bottom: 20px;" class="header01"><%= t('post.quote.heading') %></div>
  <%= form_tag(:action => 'create_quote', :controller => 'posts') do %>
    <input type="hidden" name="quoted_post_id" id="quoted_post_id" value="<%= @quoted_post.id %>" />
    <input type="hidden" name="forum_id" id="forum_id" value="<%= @topic.id %>" />
    <table>
      <tr>
        <td class="forum_form_label"><%= t('post.quote.label.quote_from') %> </td>
        <td class="forum_form_value">
          <div class="quoted_post">
            <%= t('forum.from') %><%= @quoted_post.user.username %><br/>
            "<%= clean_sanitize @quoted_post.body %>"
          </div>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td class="forum_form_label"><%= t('post.new.label.post') %></td>
        <%= enable_character_counter('post_body', Post::BODY_MAXIMUM_LENGTH) %>
        <td class="forum_form_value">
          <%= text_area_tag 'body', nil, :class => 'textarea-01', :rows => 10, :cols => 70 %>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><%= t('forum.html_instruction') %></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><%= recaptcha_tags %></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>
          <%= submit_tag t('button.send'), :class => 'defaultButton' %><%= link_to t('button.cancel'), forum_topic_path(@topic.forum, @topic), :class => 'cancelLink' %>
        </td>
      </tr>
    </table>
  <% end %>
</div>
