<% reply_comment_id = comment_session(:seek_reply_comment_id) %>
<h4><%= t('comment.index.heading') %>&nbsp;<span class="counter"><%= @seek.comments.size %></span></h4>
<% if @skcomments.size > 0 %>
  <div id="paginationData">
  <% for comment in @skcomments %>
    <%= render "seek_comments/seek_comment", :locals => {:comment => comment, :reply_comment_id => reply_comment_id} %>
  <% end %>
  </div>
  <div>
    <%= get_will_paginate @skcomments %>
  </div>
<% else %>
  <br/>
  <p><%= t('comment.index.no_comment') %></p>
<% end %>
<%= render 'seek_comments/seek_new_comment' %>
