<% origin = City.find(route[0][0]) %>
<% destination = City.find(route[0][1]) %>
<% count = route[1] %>

<%= link_to search_trip_path(:origin => (origin.name + ", " + origin.country.name),
  :destination => (destination.name + ", " + destination.country.name),
  :r => 'suggestions'), :class => 'divlink' do %>
  <div class="miniRow bgGrey">
    <div class="info">
      <p>
        <span class="iconRoute">
          <strong>
            <%= render 'shared/city', :locals => {:city => origin, :short_name => true} %>
          </strong> <span class="dashArrow">-</span>
          <strong>
            <%= render 'shared/city', :locals => {:city => destination, :short_name => true} %>
          </strong>
        </span>
        <span class="alignright">(<%= count %>)</span>
      </p>
    </div>
  </div>
<% end %>