<% seek = locals[:seek] %>
<%= t('message.field.label.seek') %>:
<%= seek.item_name_for_display %>
<span class="dashArrow">-</span>
<%= render 'shared/city', :locals => {:city => seek.destination_city} %>
