<% escrow = locals[:escrow] %>
<% if current_user.eql?(escrow.seller) %>
  <%= form_tag seller_got_item_escrows_path do %>
    <%= hidden_field_tag :escrow_id, escrow.id %>
    <%= submit_tag t('escrow.actions.buyer_resumed.seller_got_item') %>
  <% end %>
  <%= form_tag seller_cancelled_escrows_path do %>
    <%= hidden_field_tag :escrow_id, escrow.id %>
    <%= submit_tag t('escrow.actions.buyer_resumed.seller_cancelled') %>
  <% end %>
<% end %>
<%= render 'escrows/action_buyer_received_item', :escrow => escrow %>