<div id="redirectPaypal">
  <div class="col6 bgLightYellow defaultRound middle alignCenter">
    <h3 class="textBlack"><%= t('escrow.redirect_paypal.label.intro') %></h3>
    <p>
      <%= image_tag 'paypal.gif' %><span class="separator">&nbsp;</span><%= image_tag 'smallloader.gif' %>
    </p>
    <%= form_tag APP_CONFIG[:paypal_url], :id => 'paypal_payment' do %>
    <%= hidden_field_tag :cmd, "_s-xclick" %>
    <%= hidden_field_tag :encrypted, @escrow.paypal_encrypted(user_message_url(current_user, @escrow.message), paypal_notifications_url(:secret => APP_CONFIG[:paypal_secret])) %>
    <p>
      <%= t('escrow.redirect_paypal.label.auto_redirect_not_working') %>
    </p>
    <p>
      <%= submit_tag t('escrow.redirect_paypal.label.button'), :class => 'btnAction' %>
    </p>
  <% end %>
  </div>
  <script type="text/javascript">
    setTimeout(function() {
      $('#paypal_payment').submit();
    }, 3000);
  </script>
</div>


