<% page_title t('content.link.media') %>
<div class="col4, padding2point5">
<h2><%= t('content.link.media') %></h2>
<%= image_tag 'media/DS.png', :border => 0 %>
<br />
Title :
      "<%= link_to 'Bistip in DailySocial [multiple posts]', 'http://dailysocial.net/?s=bistip&searchsubmit=Search', :target => '_blank' %>
      "
  <div class="divider"></div>
<%= image_tag 'media/navinot.png', :border => 0 %>
      <br />
Title :
      "<%= link_to 'Bistip', 'http://www.navinot.com/2011/03/19/bistip/', :target => '_blank' %>"
  <div class="divider"></div>
<%= image_tag 'media/detik.png', :border => 0 %>
      <br />
Title :
      "<%= link_to 'Bistip, Situs Buat Nitip dan Dapat Tip', 'http://www.detikinet.com/read/2011/04/18/123443/1619648/398/bistip-situs-buat-nitip-dan-dapat-tip', :target => '_blank' %>
      "
  <div class="divider"></div>
<%= image_tag 'media/vivanews.png', :border => 0 %>
      <br />
Title :
      "<%= link_to 'Bistip, Situs untuk Titip-Menitip Barang', 'http://teknologi.vivanews.com/news/read/213608-bistip--situs-untuk-titip-menitip-barang', :target => '_blank' %>
      "
  <div class="divider"></div>
<%= image_tag 'media/kompas.png', :border => 0 %>
      <br />
Title :
      "<%= link_to 'Bistip.com Mudahkan Titip-menitip Barang', 'http://tekno.kompas.com/read/2011/04/04/12504553/Bistip.com.Mudahkan.Titip.menitip.Barang', :target => '_blank' %>
      "
  <div class="divider"></div>

      <%= image_tag 'media/okezone.png', :border => 0 %>
      <br />
Title :
      "<%= link_to 'Bistip.com, Komunitas Online Titip-Menitip Barang', 'http://techno.okezone.com/read/2011/04/19/90/447765/bistip-com-komunitas-online-titip-menitip-barang', :target => '_blank' %>
      "
  <div class="divider"></div>
  
<%= image_tag 'media/Penn-Olson.png', :border => 0 %>
      <br />
Title :
      "<%= link_to 'BisTip: Indonesia’s Clever Peer-to-Peer Courier Service', 'http://www.penn-olson.com/2011/06/02/bistip-indonesias-peer-to-peer/', :target => '_blank' %>
      "
  <div class="divider"></div>

      <%= image_tag 'media/logo-indonesiakreatif.jpg', :border => 0 %>
      <br />
Title :
      "<%= link_to 'Idea Connect : #StartupLokal dan Bistip.com', 'http://komputer.indonesiakreatif.net/index.php/id/news/read/idea-connect-startuplokal-dan-bistip.com-kepercayaan-konsumen-adalah-modal-penting-', :target => '_blank' %>
      "
      <br />
    <div class="divider"></div>
      <%= image_tag 'media/jak-globe-logo.png', :border => 0 %>
      <br />
Title :
      "<%= link_to 'Got a Little Extra Luggage Space? Be a Courier', 'http://www.thejakartaglobe.com/consumertech/got-a-little-extra-luggage-space-be-a-courier/466343', :target => '_blank' %>
      "
     <br />
    <div class="divider"></div>
      <%= image_tag 'media/tempoco.png', :border => 0 %>
      <br />
Title :
      "<%= link_to 'Bisa Nitip Barang? Boleh, Asal Tipnya Cocok', 'http://blog.tempointeraktif.com/ekonomi-bisnis/bisa-nitip-barang-boleh-asal-tipnya-cocok/', :target => '_blank' %>
      "
     <br />
    <div class="divider"></div>
      <%= image_tag 'media/kompascom.png', :border => 0 %>
      <br />
Title :
      "<%= link_to 'Bisnis Titip-Menitip yang Menghasilkan Duit', 'http://nasional.kompas.com/read/2011/12/26/11574292/Bisnis.Titip.Menitip.yang.Menghasilkan.Duit', :target => '_blank' %>
      "
     <br />
    <div class="divider"></div>
      <%= image_tag 'media/gogirl.png', :border => 0 %>
      <br />
Title :
      "<%= link_to 'BisTip.com: nitip barang lewat komunitas online', 'http://msshintahimura.blogspot.com/2011/12/porto-14.html', :target => '_blank' %>
      "
     <br />
    <div class="divider"></div>
      <%= image_tag 'media/pcplus.png', :border => 0 %>
      <br />
Title :
      "<%= link_to 'PCplus Rocks!', 'http://www.tabloidpcplus.com/2011/11/berita-teknologi/pcplus-399-trik-jitu-windows-7/', :target => '_blank' %>
      "
     <br />
    <div class="divider"></div>
      <%= image_tag 'media/gatra.png', :border => 0 %>
      <br />
Title :
      "<%= link_to 'Titip Barang Lewat Pak Pos Digital', 'http://www.scribd.com/doc/65861055/GATRA-Bistip-com', :target => '_blank' %>
      "
     <br />
    <div class="divider"></div>
      <%= image_tag 'media/ciputra.png', :border => 0 %>
      <br />
Title :
      "<%= link_to 'Bistip in Ciputra Entrepreneurship [multiple posts]', 'http://ciputraentrepreneurship.com/component/search/?searchword=bistip&ordering=&searchphrase=all', :target => '_blank' %>
      "
</div>
