<% page_title t('contact_us.new.heading') %>
<div id="feedback">
  <div class="col12">
    <h2><%= t('contact_us.new.link.general') %></h2>
  </div>
  <div class="col7 bgLightYellow defaultRound">
    <h3 class="textBlack"><%= t('contact_us.new.heading') %></h3>
    <%= form_tag(:action => 'create', :controller => 'contact_us') do %>
      <% unless logged_in? %>
        <p><label><%= t('contact_us.new.label.name') %></label>
          <%= text_field_tag :name, params[:name], :size => 30, :class => 'textbox-01' %>
        </p>
      <% end %>
      <% unless logged_in? %>
        <p>
          <label><%= t('contact_us.new.label.email') %></label>
          <%= text_field_tag :email, params[:email], :size => 30, :class => 'textbox-01' %>
        </p>
      <% end %>
      <p>
        <label><%= t('contact_us.new.label.subject') %></label>
        <%= text_field_tag :subject, params[:subject], :size => 30, :class => 'textbox-01' %>
      </p>
      <p>
        <label><%= t('contact_us.new.label.body') %></label>
        <%= enable_character_counter('body', 800) %>
        <%= text_area_tag :body, params[:body], :rows => 8, :cols => 40, :class => 'textbox-01' %>
      </p>
      <% unless logged_in? %>
        <p>
          <label><%= t('contact_us.new.label.captcha')%></label>
          <div class="recaptcha">
            <%= recaptcha_tags :display => {:theme => 'black'} %>
          </div>
        </p>
      <% end %>
      <p>
        <%= submit_tag t('button.send'), :class => 'defaultButton' %><%= link_to t('button.cancel'), :back, :class => 'cancelLink' %>
      </p>
    <% end %>
  </div>
</div>
