<%
  page_title = _t("Dashboard")
  title(page_title)
%>

<% content_for :sidebar do %>
  <%= render "sidebar" %>
<% end %>

<h2>
  <%= page_title %>
</h2>

<p>Total User: <%= User.count %></p>
<p>Total Rute Jalan: <%= Trip.count %></p>
<p>Total Wanted Bistiper: <%= Seek.count %></p>
<p>Total Comment: <%= Comment.count %></p>
<p>Total Message <%= Message.count %></p>

<%= applications %>

<%= resources(current_user) %>
