<li class="fields">
  <label>&nbsp;</label>
  <div id="item-name" class="pair">
    <%= f.text_field :name, :class => 'textbox-01' %>
  </div>
  <div id="item-tip" class="pair">
    <%= f.select :tip_unit_id, TipUnit.all.collect {|c| [c.symbol, c.id]} %>
    <%= f.text_field :tip, :size => 5, :class => 'textbox-01' %>
  </div>
  <div class="pair">
    <span class="red-link"><%= link_to_remove_fields "remove", f %></span>
  </div>
</li>