<% page_title t('message.new.heading') %>
<div class="content-left"
  <div class="heading-grey" style="padding-top: 10px; padding-bottom: 10px"><%= t('message.new.heading') %></div>
  <%= render 'form', :locals => {:user_id => @user}%>
</div>


