<% page_title t('content.link.new') %>
<div class="text-01 blue-link">
  <h2><%= t('content.link.new') %></h2>

  <p>Disini kamu bisa melihat berita berita tentang Bistip.com :)</p>
  <h3><%= link_to 'Sunday, 13 March 2011 - Frequently Asked Questions', 'http://blog.bistip.com/post/3824711635/frequently-asked-questions', :target => '_blank' %></h3>
  <h3><%= link_to 'Sunday, 11 March 2011 - Bistip.com launched!', 'http://blog.bistip.com/post/3780490799/bistip-com-launched', :target => '_blank' %></h3>
</div>
