<div style="height: 300px" class="content-middle-graphic-background text-01 blue-link"
  <p>
    Kamu akan kami kembalikan ke halaman utama beberapa saat lagi.
  </p>
  <p>
    Silakan click link <%= link_to 'halaman utama', root_path %> jika auto-redirect tidak bekerja.
  </p>
</div>

<script type="text/javascript">
  setTimeout(function() {
    window.location.href = '/';
}, 5000);
</script>
