<div id="paginationData">
  <% if @items.size > 0 %>
    <% @items.each do |item| %>
      <% if params[:keyword] %>
        <%= render 'items/summary', :locals => {:item => item, :keyword_specified => true, :ref => TrackLink.generate(request.path,TrackLink::SRC_IT)} %>
      <% else %>
        <%= render 'items/summary', :locals => {:item => item, :ref => TrackLink.generate(request.path,TrackLink::SRC_IT) } %>
      <% end %>
    <% end %>
  <% end %>
  <br clear="all"/>
  <div>
    <%= get_will_paginate(@items) %>
  </div>
</div>