<div id="marketIndex">
  <div class="tagLine">
    <% if I18n.locale == :id %>
      <%= image_tag 'market-tagline-id.png' %>
    <% else %>
      <%= image_tag 'market-tagline-en.png' %>
    <% end %>
  </div>
  <br/>
  <div id="storeItems">
    <%= render 'items' %>
  </div>
</div>