<div class="content-left text-01">
  <div class="header01"><%= t('trending_item.show.heading') %></div>
  <div style="padding: 15px;">
    <div style="padding-top: 10px; padding-bottom: 10px;"><%= t('trending_item.show.label.item') %> <b><%= @item.item %></b></div>
    <div style="padding-top: 10px; padding-bottom: 10px;"><%= t('trending_item.show.label.popularity') %> <%= @item.popularity %>&#37;</div>
  </div>
</div>
