<p>Ada applikasi asuransi baru:</p>

<table>
  <tr>
    <td>Oleh</td>
    <td><%= @user.user.username %></td>
  </tr>
  <tr>
    <td>Antara</td>
    <td><%= @message.sender.username %></strong> dan <strong><%= @message.receiver.username %></td>
  </tr>
  <tr>
    <td>Message ID</td>
    <td><%= @message.id %></td>
  </tr>
</table>
