<% page_title t('search_seek.index.label.heading') %>
<div class="col12">
  <h2><%= t('search_seek.index.label.heading') %></h2>
  <%= render 'shared/search_menu' %>
</div>
<div class="col4">
  <div id="searchSeek">
    <p>
      <label><%= t('seek.field.label.route')%></label>
      <%= watermark_field('origin', City::ANYWHERE) %>
      <%= location_auto_complete_js 'origin' %>
      <%= text_field_tag 'origin', params[:origin], :size => 30, :class => 'defaultText', :style => "width: 38%;" %>
      &nbsp;<b>&gt;</b>&nbsp;
      <%= watermark_field('destination', City::ANYWHERE) %>
      <%= location_auto_complete_js 'destination' %>
      <%= text_field_tag 'destination', params[:destination], :size => 30, :class => 'defaultText', :style => "width: 38%;" %>
    </p>
    <br/>
    <p>
      <a class="btnSearch" href="javascript:buildSearchSeekURL(true)"><%= t('button.search') %></a>
    </p>
  </div>
</div>
<div class="col4 bgLightBlue defaultRound">
  <h4 class="textBlack">
    <% if @no_valid_parameter %>
      <%= t('search_seek.index.label.all') %>
    <% else %>
      <%= t('search_seek.index.label.result') %>&nbsp;<span class="counter"><%= @total_result %></span>
    <% end %>
  </h4>
  <div id="searchResults">
    <div id="seeks">
      <% if @seeks.size > 0 %>
        <% for seek in @seeks do%>
            <%= render 'shared/seek_summary', :locals => {:seek => seek, :item_count => SeekItem::SUMMARY_COUNT} %>
          <% end %>
        <% else %>
          <div class="notificationBar yellow"><%= t('search_trip.index.label.no_result') %></div>
        <% end %>
      </div>
      <div class="paginationMorePlaceholder">
        <%= get_will_paginate(@seeks) %>
      </div>
    </div>
  </div>

