<% page_title t('trip.edit.link') %>
<div>
  <div class="page-heading"><%= t('trip.edit.link') %></div>
  <%if !@trip.routine?%>
    <%= render 'form', :locals => {:cancel_path => trip_path(@trip)} %>
  <%else%>
    <%= render 'form_routine', :locals => {:cancel_path => trip_path(@trip)} %>
  <%end%>
</div>