$("#notifications").append("<% for notification in @notifications %><%= escape_javascript(render 'notification', :locals => {:notification => notification}) %><% end %>");
$("#notifications_pagination").html("<%= escape_javascript(will_paginate(@notifications, :renderer=>TwitterPagination::LinkRenderer, :id => 'notifications_pagination')) %>");