<div id="paginationData">
  <% if @sents.size > 0 %>
    <%= render :partial => 'sent', :collection => @sents %>
  <% else %>
    <div class="notificationBar yellow"><%= t('message.sent.no_result') %></div>
  <% end %>
  <div>
    <%= get_will_paginate @sents %>
  </div>
</div>
