
<div class="col4">
  <nav class="static">

    <%= render_sub_menu_link t('content.link.about'), [{:controller => 'content', :action => "about"}] %>
    <%= render_sub_menu_link t('content.link.how'), [{:controller => 'content', :action => "how"}] %>
    <%= render_sub_menu_link t('content.link.guide'), [{:controller => 'content', :action => "guide"}] %>
    <%= render_sub_menu_link t('content.link.new'), [{:controller => 'content', :action => "new"}] %>
    <%= render_sub_menu_link t('content.link.faq_short'), [{:controller => 'content', :action => "faq"}] %>
    <%= render_sub_menu_link t('testimonial.index.heading'), [{:controller => 'testimonials', :action => "index"}] %>
    <%= render_sub_menu_link 'Events', [{:controller => 'content', :action => "event_bistipes"}] %>
  </nav>
</div>