<% incoming_trips = locals[:incoming_trips] %>

<% if incoming_trips.size > 0 %>
  <% incoming_trips.take(5).each do |trip| %>
  <span class="incoming_trips">
      <%= "#{t('dashboard.label.from')} " %>
      <%= render 'shared/city', :locals => {:city => trip.origin_city} %>
      <% info = "" %>
      <% if !trip.routine? %>
        <% info = "#{l(trip.departure_date, :format=>:short)}" %>
      <% else %>
        <%info = t("week_period.#{trip.period}")%>
      <% end %>
      <%= link_to info, trip_path(trip) %>
      <%=" - "+t('trip.show.label.by')%>
      <%=link_to( trip.user.username, trip.user)%>
    </span>  
    <br/>
  <% end %>
  <% if incoming_trips.size > 5 %>
    <div style="text-align: right;">
      <span class="incoming_trips"><%= link_to t('general.see_all'), search_trip_path(:destination => current_user.city_location)  %> </span>
      <span class="counter"><%= incoming_trips.size  %></span>
    </div>
  <% end %>
<% end %>