<div class="dashboardPlc bgLightYellow defaultRound defaultShadow wegoDeals">
  <h4 class="textBlack"><%= t('competition_europe_wish.call') %></h4>
  <br/>
  <p>
    <%= raw t('competition_europe_wish.dashboard', :link => (link_to t('competition_europe_wish.post_your_wish'), new_idea_item_path, :class => 'btnAction')) %>
  </p>
</div>