<% random = rand(2) %>
<% if random == 0 %>
  <%= link_to external_forward_url(:url => 'http://bit.ly/BistipEzytravel', :ref => TrackLink::EMAIL), :target => 'blank' do %>
    Ezytravel.co.id - cara cerdas beli tiket pesawat murah.
  <% end %>
<% else %>
  <%= render 'ads/wego_deals_email' %>
<% end %>