<div style="font: normal 14px Helvetica, Arial, sans-serif; line-height: 19px; color: #333;">
  <p><%= @seek.user.username %> baru saja memasukkan sebuah Wanted Bistiper dari <%= @seek.origin_location %> ke <%= @seek.destination_location %></p>
  <p>Untuk info lanjutannya dapat kamu lihat dengan mengikuti link di bawah ini:</p>
  <br/>
  <%= auto_link(seek_url(@seek)) %>
</div>
