<div style="font: normal 14px Helvetica, Arial, sans-serif; line-height: 19px; color: #333;">
  <%= @commentator.username %> <%= t('notifier.comment.content.trip') %> <%= l(@created) %> :
  <blockquote>
    <strong><i>&quot;<%= @content %>&quot;</i></strong>
  </blockquote>
  <%= t('notifier.comment.link') %>
  <br/>
  <%= auto_link(@trips_show_url) %>
</div>
