<div class="itemsRow">
  <%= f.text_field :name %>
  <%= f.select :tip_unit_id, TipUnit.all.collect {|c| [c.symbol, c.id]} %>
  <%= f.text_field :tip, :size => 5 %>
  <%= link_to_remove_fields "X", f %>
</div>