<% user = @suggested_item.user %>
<% city = @suggested_item.origin_city %>
<%= page_title @suggested_item.name %>
<div class="col4">
  <h2><%= t('suggested_items.show.label.heading') %></h2>
</div>
<div class="col4 bgLightGreen defaultRound">
  <div id="viewItem">
    <div class="avatar">
      <% if !@main_picture.blank? %>
        <%= image_tag @main_picture.attachment.url(:thumb), :size => '50x50', :class => "photo bgWhite" %>
      <% else %>
        <%= image_tag 'default_original_item.png', :size => '50x50' %>
      <% end %>
      <div class="tools">
        <%= render 'new_vote' %>
      </div>
      <div class="adminTools">
        <% if logged_in? and @suggested_item.user == current_user %>
          <%= link_to t('suggested_items.edit.link'), edit_suggested_item_path(@suggested_item) %>
        <% end %>
      </div>
    </div>

    <div class="info">
      <% unless @suggested_item.active? %>
        <div class="notificationBar yellow">
          <%= t('suggested_items.show.label.not_active') %>
        </div>
      <% end %>
      <div class="itemDisplay"><%= @suggested_item.name %></div>
      <br/>
      <h4><%= t('suggested_items.show.label.location') %></h4>
      <p>
        <%= city.name %>, <%= city.country.name %>
      </p>
      <h4><%= raw t('suggested_items.show.label.reason', :username => user.username, :item => @suggested_item.name) %></h4>
      <p>
        <%= @suggested_item.reason %>
      </p>
      <% unless @suggested_item.notes.blank? %>
        <h4><%= t('suggested_items.show.label.notes') %></h4>
        <p>
          <%= @suggested_item.notes %>
        </p>
      <% end %>
      <br />
      <% url = suggested_item_url(@suggested_item) %>
      <%= render 'shared/social_share_item', :locals => {:url => url, :title => (raw t 'suggested_items.show.label.meta_desc', :item => @suggested_item.name, :location => city.name   )} %>
    </div>
  </div>
  <br clear="all"/>

  <% unless @suggested_item_pictures.blank? %>
    <h4><%= raw t('suggested_items.show.label.pictures', :item => @suggested_item.name) %></h4>
    <div id="itemPictures" class="bgWhite defaultRound">
      <% @suggested_item_pictures.each_with_index do |suggested_item_picture, index| %>
        <% identifier = "suggested_item_" + @suggested_item.id.to_s + "_suggested_item_picture_" + index.to_s %>
        <%= picture_popup_js(identifier) %>
        <%= link_to suggested_item_pictures_path(:suggested_item_id => @suggested_item.id, :suggested_item_picture_id => suggested_item_picture.id) do %>
          <%= image_tag suggested_item_picture.attachment(:thumb), :align => 'center', :class => 'photo', :size => '50x50' %>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <br/>
  <% scope = Trip.build_scope_search(city, nil, nil, nil, nil, nil) %>
  <% total_result = scope.size %>
  <% if total_result > 0 %>
    <h4><%= raw t('suggested_items.show.label.route') %>&nbsp;<%= render 'shared/city', :locals => {:city => city, :short_name => false} %>&nbsp;<span class="counter"><%= total_result %></span></h4>
    <div id="searchResults">
      <div class="defaultRound">
        <% for routes in scope %>
          <%= render 'shared/trip_summary_item', :locals => {:trip => routes} %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
