<% page_title t('seek.new.label.heading') %>
<div class="content-left">
  <div class="text-orange"><%= t('seek.new.label.heading') %></div>
  <%= render 'form_anywhere', :locals => {:cancel_path => root_path}%>
</div>
