<div class="message-form">
  <%= form_for([@user, @message]) do |f| %>
    <div>
      <input type="hidden" value="<%=@user.id%>" name="receiver_id" />
      <input type="hidden" value="<%=@curr.id%>" name="sender_id" />
    </div>
    <table cellspacing="1" cellpadding="1" border="0" class="text-01">
      <tr>
        <td><%= t('message.field.label.receiver') %>: <strong><%= @user.username %></strong></td>
      </tr>
      <tr>
        <td><%= t('message.field.label.subject') %></td>
      </tr>
      <tr>
        <td><%= f.text_field :subject, :class => 'textbox-01'%></td>
      </tr>
      <tr>
        <td valign="top"><%= t('message.field.label.body') %></td>
      </tr>
      <tr>
        <td>
          <%= enable_character_counter('message_body',Message::BODY_MAXIMUM_LENGTH) %>
          <%= f.text_area :body, :rows => 5, :class => 'textarea-01'%>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><%= f.submit t('button.submit'), :class => 'button-register' %> / <%= link_to t('button.cancel'), profile_path(@user.username) %></td>
      </tr>
    </table>
  <% end %>
</div>
