<% page_title t('content.link.apps') %>
<%= apps_screenshots_slide_js %>
<div id="apps"
  <div class="col4, padding2point5">
    <h2>Mobile Apps</h2>
    <p>
      Currently our apps only support SafePay operations. But be patient :) we will improve it to facilitate our <strong>Messaging</strong> and <strong>Search</strong>. Stay tune!
    </p>
    <div class="platform">
      <div class="logo"><%= image_tag 'apps-android.png' %></div>
      <div class="link"><%= link_to t('general.download'), ApplicationController::ANDROID_APP, :class => 'btnAction', :target => 'blank' %></div>
    </div>
    <br/>
    <div class="platform">
      <div class="logo"><%= image_tag 'apps-blackberry.png' %></div>
      <div class="link"><%= link_to t('general.download'), ApplicationController::BLACKBERRY_APP, :class => 'btnAction', :target => 'blank' %></div>
    </div>
    <br/>
    <div class="platform">
      <div class="logo"><%= image_tag 'apps-iphone.png' %></div>
      <div class="link"><%= t('general.coming_soon') %></div>
    </div>
    <br/>
    <h2>Screenshots</h2>
    <h3 class="textBlack">1) Easy access to view your SafePay</h3>
    <div class="alignCenter"><%= image_tag 'apps-dashboard.png', :class => 'alignCenter' %></div>
    <br/>
    <h3 class="textBlack">2) Update your SafePay!</h3>
    <div class="alignCenter"><%= image_tag 'apps-safepay.png' %></div>
    <br/>
    
  </div>
</div>
<%= render 'shared/static_menu' %>