<% page_title t('content.link.safepay') %>
<div class="col4">
  <h2><%= t('content.link.safepay') %></h2>
  <h3 class="textBlack">Kenapa SafePay?</h3>
  <p>
    + Sebagai <strong>penitip</strong>, kamu tidak membayar langsung ke traveler.<br/>
    + Jika barang tidak didapat makan uang akan kita <strong>refund</strong>.<br/>
    + Sebagai <strong>traveler</strong>, kamu tahu jika penitip mempunyai uang nya.<br/>
    + Kedua sisi akan mendapat reputasi <strong>'Verified'</strong> :)
  </p>
  <br/>
  <h3 class="textBlack"><%= t('escrow.label.how') %></h3>
  <p align="center"><%= image_tag 'rekber-m.png' %></p>
  <p>
    Biaya Bistip SafePay yang akan dikenakan tergantung pada metode pembayaran untuk requester
    dan cara pencairan untuk traveler.
  </p>
  <p>
    <strong>Biaya untuk requester jika metode pembayaran melalui: </strong>
  </p>
  <blockquote class="defaultRound30">
    <table style="text-align: left; width: 100%;" border="1" cellpadding="2"
           cellspacing="2">
      <tbody>
        <tr>
          <td style="vertical-align: top;">Transfer Bank BCA<br/>
          </td>
          <td style="vertical-align: top;">2%<br/>
          </td>
        </tr>
        <tr>
          <td style="vertical-align: top;">PayPal<br/>
          </td>
          <td style="vertical-align: top;">4%<br/>
          </td>
        </tr>
      </tbody>
    </table>
  </blockquote>
  <p>
    <strong>Biaya untuk traveler jika metode pencairan melalui: </strong>
  </p>
  <blockquote class="defaultRound30">
    <table style="text-align: left; width: 100%;" border="1" cellpadding="2"
           cellspacing="2">
      <tbody>
        <tr>
          <td style="vertical-align: top;">Transfer Bank BCA<br/>
          </td>
          <td style="vertical-align: top;">2%<br>
          </td>
        </tr>
        <tr>
          <td style="vertical-align: top;">PayPal<br/>
          </td>
          <td style="vertical-align: top;">4%<br/>
          </td>
        </tr>
      </tbody>
    </table>
  </blockquote>
  <p>
    <strong>Contoh Skenario: </strong>
  </p>
  <p>
    1. Requester dan traveler sepakat untuk menggunakan Bistip SafePay.
  </p>

  <p>
    2. Requester melakukan transfer dana ke Bistip SafePay
  </p>
  <ul>
    <li>Dalam <strong>USD (Paypal) atau IDR (Transfer Bank BCA)</strong>.</li>
    <li>Total pembayaran adalah harga barang + tip untuk traveler + biaya Bistip SafePay.</li>
  </ul>
  <blockquote class="defaultRound50">
    <table style="text-align: left; width: 60%;" border="1" cellpadding="2"
           cellspacing="2">
      <tbody>
        <tr>
          <td style="vertical-align: top;">Harga barang<br/>
          </td>
          <td style="vertical-align: top;">USD 80<br/>
          </td>
        </tr>
        <tr>
          <td style="vertical-align: top;">Tip<br/>
          </td>
          <td style="vertical-align: top;">USD 20<br/>
          </td>
        </tr>
        <tr>
          <td style="vertical-align: top;">Subtotal<br/>
          </td>
          <td style="vertical-align: top;">USD 100<br/>
          </td>
        </tr>
      </tbody>
    </table>
    <br />
    <p>
      Requester membayar melalui PayPal:
      <br />USD 100 + (4% x USD 100) = USD 104
    </p>
  </blockquote>
  <p>
    3. Bistip.com mengkonfirmasi dana masuk
  </p>
  <ul>
    <li>Bistip.com akan menampung sementara pembayaran dari requester sampai transaksi selesai.</li>
    <li>Traveler sudah bisa membelikan barang sesuai kesepakatan.</li>
  </ul>

  <p>
    4. Requester bertemu dengan traveler untuk serah terima barang.
  </p>

  <p>
    5. Requester melakukan konfirmasi bahwa barang sudah diterima.
  </p>

  <p>
    6. Bistip.com melakukan transfer dana ke traveler.
  </p>
  <blockquote class="defaultRound50">
    <p>
      Traveler mencairkan melalui PayPal:
      <br />USD 100 - (4% x USD 100) = USD 96
    </p>
  </blockquote>
  <p>
    7. Traveler melakukan konfirmasi bahwa dana sudah diterima
  </p>
  <p>
    <strong>KETERANGAN:</strong>
  </p>
  <blockquote class="defaultRound">
    <ul>
      <li>Semua Transaksi Bistip SafePay adalah melalui fitur <span class="italic">"Messaging"</span>.</li>
      <li>Uang bisa dikembalikan oleh Bistip.com dipotong 2% (Transfer Bank BCA) dan 4% (PayPal) jika transaksi tidak berjalan
        seperti seharusnya sesuai laporan dari pengguna.
      </li>
      <li>Jika requester tidak memberikan konfirmasi (seperti no. 5 di atas) maka pencairan akan dilakukan setelah 30 hari dari hari mulai nya transaksi.</li>
      <li>Biaya transfer antar Bank pada saat pembayaran akan ditanggung oleh requester barang.</li>
      <li>Biaya transfer antar Bank pada saat pencairan akan ditanggung oleh traveler.</li>
    </ul>
  </blockquote>
</div>
<%= render 'shared/guide_menu' %>