<p>Ada Cerita dari pengguna, berikut detail nya:</p>

<table>
  <tr>
    <td>ID</td>
    <td><%= @id %></td>
  </tr>
  <tr>
    <td>Nama/Username</td>
    <td><%= @name %></td>
  </tr>
  <tr>
    <td>Email</td>
    <td><%= @email %></td>
  </tr>
  <tr>
    <td>Judul</td>
    <td><%= @topic %></td>
  </tr>
  <tr>
    <td>Isi Cerita</td>
    <td><%= simple_format @content %></td>
  </tr>
</table>
