<% escrow = locals[:escrow] %>
<% if escrow.payment_method_bank_trasnfer? %>
  <br/>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#linkBankTransferPopup').fancybox({
        'transitionIn' : 'none',
        'transitionOut' : 'none',
        'scrolling': 'no'
      });
    });
  </script>
  <% if current_user == escrow.buyer %>
    <p>
      <%= link_to t('escrow.widget.label.bank_transfer'), '#bankTransferPopup', :class => 'btnAction', :id => 'linkBankTransferPopup' %>
    </p>
  <% end %>
  <div style="display: none">
    <div id="bankTransferPopup">
      <div class="col6 bgLightYellow defaultRound">
        <h3 class="textBlack alignCenter"><%= t('escrow.redirect_indonesia_bank_transfer.label.intro') %></h3>
        <p class="alignCenter">
          <%= image_tag 'bca.png' %>
        </p>
        <div class="largerText">
          <%= render 'escrows/bank_transfer_widget', :locals => {:escrow => escrow} %>
        </div>
      </div>
    </div>
  </div>
<% end %>