<% page_title t('home.index.title') %>
<section id="callToAction">
  <div class="plc">
    <h2><%= t('general.slogan') %></h2>

    <h3 class="description"><%= t('general.description') %></h3>

    <div class="howItWorks">
      <%= image_tag('illustration/1.png') %>
      <%= image_tag('illustration/2.png') %>
      <%= image_tag('illustration/3.png') %>
      <%= image_tag('illustration/4.png') %>

      <h4><%= t('home.index.label.illustration_one') %></h4>
      <h4><%= raw t('home.index.label.illustration_two') %></h4>
      <h4><%= t('home.index.label.illustration_three') %></h4>
      <h4><%= raw t('home.index.label.illustration_four') %></h4>

    </div>

    <div class="actionOptions leftSide small defaultRound">
      <h3><%= t('home.index.label.bistiper') %></h3>
      <h4><%= link_to t('home.index.label.bistiper_action'), new_trip_path, :class=>"btnAction btnPost" %></h4>
    </div>
    <div class="actionOr small">
      <%= t('general.or') %>
    </div>
    <div class="actionOptions rightSide small defaultRound">
      <h3><%= t('home.index.label.wanted_bistiper') %></h3>
      <h4><%= link_to t('home.index.label.wanted_bistiper_action'), search_trip_path, :class => 'btnAction btnSearch' %></h4>
    </div>

  </div>
</section>

<section id="popularItems">
  <h3>
    <%= t('home.index.label.trending_item') %>
    <% TrendingItem.get_all.each do |trending_item| %>
      <%= link_to trending_item.item, trending_item_lookup_path(:item => trending_item.item) %>
    <% end %>
  </h3>
</section>

<section id="homeSecondary">
  <div class="plc">
    <div class="col6">
      <%= render 'shared/route_tag_cloud' %>
    </div>
    <div class="col6">
      <h3><%= t('home.index.label.bistipers') %></h3>

      <div id="bistiperScrollplc">
        <script type="text/javascript">
          $(document).ready(function() {
            $('#bistiperScroll').bxSlider({
              displaySlideQty: 3,
              moveSlideQty: 1,
              pager: 'false',
              mode: 'vertical',
              auto: true,
              pause: 6000,
              autoHover: true,
              pager: false,
              controls: false,
              infiniteLoop: true
            });

          });
        </script>
        <ul id="bistiperScroll">
          <% for trip in @trips %>
            <%= render 'shared/trip_summary_lite', :locals => {:trip => trip} %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="homeTertiary">
  <%= render 'tertiary' %>
</section>
<div clear="all"/>
<% if I18n.locale != :en %>
  <section id="mediaCoverage">
    <div class="plc">
      <%= link_to media_path do %>
        <%= image_tag "img-media-coverage.png" %>
      <% end %>
    </div>
  </section>
<% end %>
