$("#messages").append("<%= escape_javascript(render :partial => 'sent', :collection => @sents) %>");
$("#messages_pagination").html("<%= escape_javascript(will_paginate(@sents, :renderer=>TwitterPagination::LinkRenderer, :id => 'sents_pagination')) %>");