<% page_title @trip.to_s %>
<div class="text-01">
  <% user = @trip.user %>
  <div class="page-heading" style="padding-bottom: 20px"><%=  t('trip.show.label.heading') %></div>
  <%= image_tag user.avatar.url(:thumb), :align => 'center' %>
  <span class="blue-link" style="padding-left: 3px;"><%= link_to user.username, user_path(user), :class => "blue-link" %>&nbsp;
    <% if logged_in? and user != current_user %>
      (<strong><%= link_to t('mobile.user_summary.new_message'), new_user_message_path(:user_id => user) %></strong>)
    <% elsif !logged_in? %>
      (<strong><%= link_to t('mobile.user_summary.new_message'), new_user_message_path(:user_id => user) %></strong>)
    <% end %>
  </span><br/>
  <div class="profile-form-table table">
    <table width="100%" cellspacing="0" cellpadding="0" border="0">
      <tbody>
        <% unless @trip.active? %>
          <tr>
            <td colspan="3"><span class="text-red-01"><%= t('trip_summary.label.departure_date_passed') %></span></td>
          </tr>
        <% end %>
        <tr>
          <td width="6.5%" align="right"><%= t('trip.field.label.origin')%></td>
          <td width="1%">:</td>
          <td><%= render 'shared/city', :locals => {:city => @trip.origin_city} %></td>
        </tr>
        <tr>
          <td align="right"><%= t('trip.field.label.destination')%></td>
          <td>:</td>
          <td><%= render 'shared/city', :locals => {:city => @trip.destination_city} %></td>
        </tr>
        <%if !@trip.routine?%>
          <tr>
            <td align="right"><%= t('mobile.trip.field.departure_date')%></td>
            <td>:</td>
            <td><%= l(@trip.departure_date,:format=>:short_date) %></td>
          </tr>
          <% unless @trip.arrival_date.nil? %>
            <tr>
              <td align="right"><%= t('mobile.trip.field.arrival_date')%></td>
              <td>:</td>
              <td><%= l(@trip.arrival_date, :format=>:short_date)%></td>
            </tr>
          <% end %>
        <%else%>
          <tr>
            <td align="right"><%= t('trip.field.label.period')%></td>
            <td>:</td>
            <td><%= t "week_period.#{@trip.period}" %></td>
          </tr>
          <tr>
            <td align="right"><%= t('trip.field.label.day')%></td>
            <td>:</td>
            <td>
              <%max = @trip.day.length%>
              <%0.step(max-1,1){|i|%>
                <%if i==max -1%>
                  <%= @trip.day[i] %>
                <%else%>
                  <%= @trip.day[i] %>,&nbsp;
                <%end%>
              <%}%>
            </td>
          </tr>
        <%end%>
        <% unless string_nil_or_empty?(@trip.notes) %>
        <tr>
          <td valign="top" align="right"><%= t('trip.field.label.notes')%></td>
          <td valign="top">:</td>
          <td><%=auto_link_in_new_tab_without_simple_format @trip.notes %></td>
        </tr>
        <% end %>
        <tr>
          <td align="right"><%= t('social_share.label') %></td>
          <td>:</td>
          <td>
            <% url = trip_url(@trip) %>
            <% if current_user && @trip.user!=current_user%>
              <% data =  "#{@trip.id} #{current_user.id}"%>
              <% url = influence_url(Base32.encode(data)) %>
            <% end %>
            <%= render 'shared/social_share', :locals => {:url => url, :title => @trip.to_s } %>
          </td>
        </tr>
        <% if logged_in? and @trip.owner?(current_user) and @trip.active? %>
          <tr>
            <td colspan="3">
              <% seeks_match_count = @trip.find_matching_seeks.count %>
              <% if seeks_match_count > 0 %>
                <%= t('trip.show.label.auto_match', :count => seeks_match_count) %>
                <span class="red-link"><%= link_to t('trip.show.label.auto_match_link'), match_trip_path(@trip) %></span>
              <% end %>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <span style="text-align: right; padding-right: 10px" class="buttonlink-grey-01">
                <%= link_to t('trip.edit.link_short'), edit_trip_path(@trip) %>
              </span>
              <span style="text-align: right;" class="buttonlink-grey-01">
                <%= link_to t('trip.destroy.link_short'), @trip, :confirm => 'Are you sure?', :method => :delete %>
              </span>
            </td>
          </tr>
        <% end %>
        <tr>
          <td colspan="3">&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div style="padding-top: 5px; padding-left: 5px;" class="heading-grey"><%= t('comment.index.heading') %> (<%= @trip.comments.count %>)</div>
  <div class="line-separator-01"></div>
  <% if @trcomments.size > 0 %>
    <table cellpadding="1" id="trcomments">
      <tbody>
      <% for comment in @trcomments %>
        <%= render "trip_comments/trip_comment", :locals => {:comment => comment} %>
      <% end %>
      </tbody>
    </table>
    <div style="text-align: center">
      <%= will_paginate(@trcomments) %>
    </div>
  <% else %>
    <span class="text-01" style="padding-left: 10px"><i><%= t('comment.index.no_comment') %></i></span>
  <% end %>
  <%= render "trip_comments/trip_new_comment" %>
</div>
