<div id="bistipPointWidget" class="bgLightYellow defaultRound defaultShadow">
  <h4 class="textBlack"><%= t('point_logs.widget.points', :points => current_user.points, :points_used => current_user.points_used) %></h4>
  <br/>
  <p>
    <% if (current_user.points >= SubtractForEscrowCashbackLog::NEEDED_POINT) and (current_user.has_non_cashback_escrow?) %>
      <%= raw t('point_logs.escrow_cashback.instruction', :points => SubtractForEscrowCashbackLog::NEEDED_POINT,:action => (link_to t('point_logs.escrow_cashback.action'), claim_escrow_cashback_path, :class => 'btnAction')) %>
    <% else %>
      <%= raw t('point_logs.widget.instruction', :link => (link_to t('content.link.point'), bistip_point_path, :target => '_blank')) %>
    <% end %>
  </p>
</div>