<% giver = review.giver %>
<div class="reviewRow">
  <div class="avatar">
    <%= render 'shared/trusted_badge', :locals => {:user => giver, :small => true} %>
    <%= image_tag giver.avatar.url, :size => "48x48", :class => "photo" %>
  </div>
  <div class="info">
    <h5>
      <%= link_to giver.username, profile_path(giver.username) %>&nbsp;
      <% if review.invitation? %>
        <span class="recommendation" title="<%= t('review.tooltip.recommendation') %>"><%= t('general.recommendation') %></span>
      <% end %>
      <% if review.verified? %>
        <span class="verified" title="<%= t('review.tooltip.verified') %>"><%= t('general.verified') %></span>
      <% end %>
      <span class="date"><%= smart_date_display(review.created_at) %></span>
    </h5>
    <p><%= auto_link_in_new_tab(review.body) %></p>
  </div>
</div>