<% page_title t('content.link.guide') %>
<div class="col4 tipsIcon">
  <h2>Trust and Safety</h2>

  <p align="center">
    <%= image_tag 'guides-m.png', :class => 'defaultShadow' %>
  </p>
  <br/>

  <p>
    We believe people are fundamentally good, But we also believe people deserve peace of mind to do transaction with the one
    they never met before. We will always develop our features to meet the users needs and we also provide some information about
    the tips for your positive experience in using bistip.com.
  </p>

  <p>
    <h4> See the tips based on the user categories below:</h4>
  </p>

  <p>
  <h4><%= link_to t('content.link.guide_all'), guide_all_path, :class=>"btnAction" %></h4>
  </p><br/>

  <p>
  <h4><%= link_to t('content.link.guide_bistiper'), guide_traveler_path, :class=>"btnAction" %></h4>
  </p><br/>

  <p>
  <h4><%= link_to t('content.link.guide_looker'), guide_requester_path, :class=>"btnAction" %></h4>
  </p>
</div>
<%= render 'shared/guide_menu' %>
