<% page_title t('search_item.index.label.heading') %>
<div class="col4">
  <h2><%= t('search_item.index.label.heading') %></h2>
  <%= render 'shared/search_menu' %>
</div>
<div class="col4 bgLightGreen defaultRound">
  <h4 class="textBlack"><%= t('search_item.index.label.intro') %></h4>
  <div id="searchSuggestedItems">
    <p>
      <label><%= t('suggested_items.new.label.city') %></label>
      <%= watermark_field('origin', City::ANYWHERE) %>
      <%= location_auto_complete_js 'origin' %>
      <%= text_field_tag 'origin', params[:origin], :size => 30, :style => "width: 220px;", :onkeyup => 'javascript:search_suggested_item_field_key_up(event)' %>
    </p>
    <p>
      <label><%= t('suggested_items.new.label.name') %></label>
      <%= text_field_tag 'keyword', params[:keyword], :size => 30, :style => "width: 220px;", :onkeyup => 'javascript:search_suggested_item_field_key_up(event)' %>
    </p>
    <p>
      <label>&nbsp;</label>
      <a class="btnSearch" href="javascript:buildSearchSuggestedItemURL()"><%= t('button.search') %></a>
    </p>
  </div>
  <div class="divider"></div>
  <div id="suggestedItemsSearchResults">
    <h4 class="textBlack">
      <% if @no_valid_parameter %>
        <%= t('search_item.index.label.all') %>
      <% else %>
        <%= t('search_item.index.label.result') %>&nbsp;<span class="counter"><%= @total_result %></span>
      <% end %>
    </h4>
    <div id="suggestedItems">
      <% if @suggested_items.size > 0 %>
        <% @suggested_items.each do |suggested_item| %>
          <% if params[:keyword] %>
            <%= render 'suggested_items/summary', :locals => {:suggested_item => suggested_item, :keyword_specified => true} %>
          <% else %>
            <%= render 'suggested_items/summary', :locals => {:suggested_item => suggested_item} %>
          <% end %>
        <% end %>
      <% else %>
        <div class="notificationBar yellow"><%= t('search_item.index.label.no_result') %></div>
        <h4 class="textBlack"><%= raw t('search_item.index.label.no_result_instruction') %></h4>
        <br/>
        <p>
          <%= link_to t('point_logs.widget.suggested_item.call_action_no_location'), new_suggested_item_path, :class => 'btnAction' %>
        </p>
      <% end %>
    </div>
    <div class="paginationMorePlaceholder">
      <%= get_will_paginate @suggested_items %>
    </div>
  </div>
</div>
