<div class="plc">
  <div class="lines">
    <div class="col3">
      <%= render 'social_tertiary' %>
    </div>
    <div class="col3">
      <h4>
        <%= link_to guide_path do %>
          <%= image_tag 'safety-en.png', :alt => 'Bistipes', :class => 'defaultShadow' %>
        <% end %>
      </h4>
    </div>

    <div class="col3">
      <h4>
        <%= link_to how_path do %>
          <%= image_tag 'how-it-works.png', :alt => 'How Bistip works', :class => 'defaultShadow' %>
        <% end %>
      </h4>
    </div>

    <div class="col3">
      <%= link_to paypal_escrow_path do %>
        <%= image_tag 'banners/paypal-en.png', :alt => 'Easy and Secure Transaction with Escrow!', :class => 'defaultShadow' %>
      <% end %>
    </div>
  </div>
  <br clear="all"/>
</div>