<div class="plc">
  <div class="lines">
    <div class="col3">
      <%= render 'social_tertiary' %>
    </div>
    <div class="col3">
      <%= link_to guide_path do %>
        <%= image_tag 'safety.png', :alt => 'Panduan Keamanan', :class => 'defaultShadow' %>
      <% end %>
    </div>

    <div class="col3">
      <h4>
        <%= link_to how_path do %>
          <%= image_tag 'img-cara-kerja.png', :alt => 'Cara Kerja Bistip', :class => 'defaultShadow' %>
        <% end %>
      </h4>
    </div>

    <div class="col3">
      <%= link_to paypal_escrow_path do %>
        <%= image_tag 'banners/paypal.png', :alt => 'Transaksi aman dengan Rekening Bersama Bistip.com!', :class => 'defaultShadow' %>
      <% end %>
    </div>
  </div>
  <br clear="all"/>

</div>
