<% page_title @seek.to_s %>
<div class="content-left text-01">
  <div class="text-orange" style="padding-bottom: 20px"><%= t('seek.show.label.heading') %></div>
  <% user = @seek.user %>
  <div style="float: left;" class="panel-blue">
     <div style="position: relative;" class="profile-picture">
    <%= image_tag user.avatar.url %>
    <br/>
    <span class="blue-link"><%= link_to user.username, profile_path(user.username) %></span>
    <%= render 'shared/user_reputation', :locals => {:user => user} %>
    <br/>
    <div style="padding-top: 5px;">
      <% if logged_in? %>
        <% if !@seek.owner?(current_user) %>
          <span class="buttonlink-blue">
            <%= link_to t('message.link.new'), new_user_message_path(:user_id => user) %>
          </span>
        <% end %>
      <% else %>
        <span class="buttonlink-blue">
          <%= link_to t('message.link.new'), new_user_message_path(:user_id => user) %>
        </span>
      <% end %>
    </div>
  </div>
  <div class="profile-form-table table">
    <table width="100%" cellspacing="0" cellpadding="0" border="0">
      <tbody>
        <% unless @seek.active? %>
        <tr>
          <td colspan="3"><span class="text-red-01"><%= t('seek_summary.label.not_active') %></span></td>
        </tr>
        <% end %>
        <tr>
          <td height="30px" width="130px"><%= t('seek.field.label.origin')%></td>
          <td>:</td>
          <td width="350px">
            <%= render 'shared/city', :locals => {:city => @seek.origin_city} %>
            <% if logged_in? and @seek.owner?(current_user) and @seek.active?%>
              <div style="float:right">
                <div style="float:left; text-align: right; padding-right: 20px" class="buttonlink-grey-01">
                  <%= link_to t('seek.edit.link_short'), edit_seek_path(@seek) %>
                </div>
                <div style="float:right; text-align: right; padding-right: 10px" class="buttonlink-grey-01">
                  <%= link_to t('seek.destroy.link_short'), @seek, :confirm => 'Are you sure?', :method => :delete %>
                </div>
              </div>
            <% end %>
          </td>
        </tr>
        <tr>
          <td height="30px"><%= t('seek.field.label.destination')%></td>
          <td>:</td>
          <td><%= render 'shared/city', :locals => {:city => @seek.destination_city} %></td>
        </tr>
        <% unless @seek.departure_date.nil? %>
        <tr>
          <td height="30px"><%= t('seek.field.label.departure_date')%></td>
          <td>:</td>
          <td><i><%= t(@seek.departure_date_predicate, :scope => 'date_predicate') unless @seek.departure_date_predicate.nil? %></i> <%= l(@seek.departure_date) %></td>
        </tr>
        <% end %>
        <% unless @seek.items.empty? %>
          <tr>
            <td valign="top" height="30px"><%= t('seek.field.label.items_short')%></td>
            <td valign="top"><%= ':' %></td>
            <td valign="top" width="350px">
              <% @seek.items.each do |item|  %>
                <div style="padding-bottom: 5px;"><i><%= item.name %> <%= t('seek.show.label.tip', :amount => item.tip_with_unit) unless item.tip.blank? %></i></div>
              <% end %>
            </td>
          </tr>
        <% end %>
        <% unless string_nil_or_empty?(@seek.notes) %>
        <tr>
          <td valign="top" height="30px"><%= t('seek.field.label.notes')%></td>
          <td valign="top">:</td>
          <td width="350px">
            <div class="word-wrap-notes">
              <%= @seek.notes %>
            </div>
          </td>
        </tr>
        <% end %>
        <tr>
          <td><%= t('social_share.label') %></td>
          <td>:</td>
          <td>
            <% if current_user && !@seek.owner?(current_user) %>
              <% label = t('social_share.influencer') %>
            <% else %>
              <% label = t('social_share.label') %>
            <% end %>
            <%= render 'shared/social_share', :locals => {:url => seek_url(@seek), :title => @seek.to_s, :label => label} %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
  <div style="float: left; width: 10px;">
    &nbsp;
  </div>
  <% trips_match_count = @seek.find_matching_trips.count %>
  <% if logged_in? and @seek.owner?(current_user) and @seek.active? and trips_match_count > 0 %>
  <div style="width: 280px; float: left;" class="panel-blue">
    <% if trips_match_count > 0 %>
    <div class="auto-match">
        <div style="text-align: center"><%= t('seek.show.label.auto_match', :count => trips_match_count) %></div>
        <div class="buttonlink-red link"><%= link_to t('seek.show.label.auto_match_link'), match_seek_path(@seek) %></div>
      </div>
    <% end %>
  </div>
  <% end %>
  <div style="padding-top: 30px; padding-left: 20px;" class="heading-grey"><%= t('comment.index.heading') %> (<%= @seek.comments.count %>)</div>
  <div class="line-separator-01"></div>
  <% if @skcomments.size > 0 %>
    <table style="padding-left: 20px" cellpadding="5" id="skcomments">
      <tbody>
      <% for comment in @skcomments %>
        <%= render "seek_comments/seek_comment", :locals => {:comment => comment} %>
      <% end %>
      </tbody>
    </table>
    <div style="padding-top: 10px; text-align: center;">
      <%= will_paginate(@skcomments, :renderer => TwitterPagination::LinkRenderer, :id => 'skcomments_pagination') %>
    </div>
  <% else %>
    <span class="text-01" style="padding-left: 20px"><i><%= t('comment.index.no_comment') %></i></span>
  <% end %>

  <%= render "seek_comments/seek_new_comment" %>
</div>