<p>Ada permintaan cashback dari pengguna, berikut detail nya:</p>

<table>
  <tr>
    <td>User</td>
    <td><%= @user.username %></td>
  </tr>
  <tr>
    <td>Escrow ID</td>
    <td><%= @escrow_id %></td>
  </tr>
</table>
