<% notification = locals[:notification] %>
<% sender = notification.sender %>

<p>
  <span id="date"><%= l(notification.created_at, :format=>:short) %> - <%= date_age_in_words notification.created_at %></span>
  <span class="blue-link"><%= link_to sender.username, user_path(sender) %></span>,
  <span class="blue-link"><%= auto_link notification.to_link %></span>
</p>
