<% page_title t('influencer.link') %>
<div id="dashboard">
  <%= render 'dashboard/reminder' %>
  <%= render 'dashboard/left_menu'  %>
  <div id="mypoint">
    <%= render 'influencer' %>
  </div>
</div>

