<% page_title t('user.new.label.heading') %>
<section id="contents">
<div class="plc">
  <div id="registration">
    <div class="col12">
      <h2><%= t('user.new.label.heading') %><%= render('shared/protected') %></h2>
    </div>
    <div class="col6 bgYellow defaultRound">
      <h3 class="textBlack"><%= t('user.new.label.intro') %></h3>
      <%= form_for(@user, :html => { :multipart => true }) do |f| %>
        <p>
          <label><%= t('user.field.label.email') %></label>
          <%= f.text_field :email, :class => 'defaultText' %>
        </p>
        <p>
          <label><%= t('user.field.label.username') %></label>
          <%= f.text_field :username, :class => 'defaultText' %>
        </p>
        <p>
          <label><%= t('user.field.label.fullname') %></label>
          <%= f.text_field :fullname, :class => 'defaultText' %>
        </p>
        <p>
          <label><%= t('user.field.label.city') %></label>
          <%= location_auto_complete_js 'user_city_location', true %>
          <%= f.text_field :city_location, :class => 'defaultText' %>
        </p>
        <p class="overflow">
          <span style="width: 49%; float: left">
            <label><%= t('user.field.label.password') %></label>
            <%= f.password_field :password, :class => 'defaultText' %>
          </span>
          <span style="width: 49%; float: right">
            <label><%= t('user.field.label.password_confirmation') %></label>
            <%= f.password_field :password_confirmation, :class => 'defaultText' %>
          </span>
        </p>
        <p>
          <label></label>
          <%= f.check_box :eula %>
          <span class="confirm">
            <%= raw t('user.field.label.eula',
              :terms_of_service => link_to(t('content.link.terms_of_service'), terms_of_service_path),
              :privacy_policy => link_to(t('content.link.privacy_policy'), privacy_policy_path)) %>
          </span>
        </p>
        <p>
          <label><%=t('user.field.label.captcha')%></label>
          <div class="recaptcha">
            <%= recaptcha_tags :display=>{:theme => 'black'} %>
          </div>
        </p>
        <p>
          <label></label>
          <%= f.submit t('button.register'), :class => 'defaultButton' %> / <%= link_to t('button.cancel'), root_path %>
        </p>
      <% end %>
    </div>
    <div class="col6">
      <h3 class="textBlack"><%= t('layout.label.social_login') %></h3>
      <p>
        <%= popup_auth("fbconnect2","/auth/facebook") %>
        <%= content_tag :button, :type=> "button", :class => 'facebook-login', :id => "fbconnect2" do %>
          <%=  image_tag "facebook_32.png", :border => 0 %>
        <% end %>
        <%= link_to "/auth/twitter" do %>
          <%= image_tag 'twitter_32.png', :border => 0 %>
        <% end %>
      </p>
      <div class="divider"></div>
      <h3 class="textBlack"><%= t('layout.label.already_registered') %></h3>
      <p>
        <%= link_to t('login.link'), login_path, :class=>"btnAction largeButton" %>
      </p>
    </div>
  </div>
</div>
</section>
