<% page_title t('trip.index.link') %>
<%= render 'shared/user_sub_menu', :locals => {:user => @user} %>
<div class="col8 bgLightYellow defaultRound">
  <div id="trips">
    <% if @trips.size > 0 %>
      <% for trip in @trips %>
        <%= render 'shared/trip_row', :locals => {:trip => trip} %>
      <% end %>
    <% else %>
      <div class="notificationBar yellow"><%= t('trip.index.no_result') %></div>
    <% end %>
  </div>
  <div class="paginationMorePlaceholder">
    <%= will_paginate(@trips, :renderer=>TwitterPagination::LinkRenderer,:id => 'trips_pagination') %>
  </div>
</div>

