<% comment = locals[:comment] %>
<% user = comment.user %>

<tr>
  <td style="vertical-align: top">
    <span class="profile-picture"><%= image_tag user.avatar.url(:thumb) %></span>
  </td>
  <td style="width:800px"><strong><%= render 'shared/user_summary', :locals => {:user => user} %></strong>, <i><%= l(comment.created_at) %> - <%= date_age_in_words comment.created_at %></i>
    <div class="blue-link" style="padding-top: 10px"><%= auto_link_in_new_tab_without_simple_format comment.body %></div>
    <% if logged_in? and comment.owner?(current_user) %>
      <div style="padding-top: 10px; text-align: right;" class="buttonlink-grey-01">
        <%= link_to t('comment.destroy.link'), seek_comment_path(@seek, comment), :confirm => t('confirmation.label'), :method => :delete %>
      </div>
    <% end %>
  </td>
</tr>

