<div class="col12">
  <h5 class="navBack">
    <%= link_to t('general.link_return'), :back %>
  </h5>
  <br/>
  <p class="alignCenter">
    <%= image_tag @suggested_item_picture.attachment.url, :align => 'center', :class => 'photo'%>
  </p>
  <br/>
  <h5 class="navBack">
    <%= link_to t('general.link_return'), :back %>
  </h5>
</div>