<% page_title t('insurance.new.label.heading') %>
<div id="applyInsurance">
  <div class="col12">
    <h2><%= t('insurance.new.label.heading') %><%= render('shared/protected') %></h2>
  </div>
  <div class="col7 bgLightYellow defaultRound">
    <%= form_for(@insurance) do |f| %>
      <%= f.hidden_field :message_id, :value => @insurance.message_id %>
      <%= f.hidden_field :cover_value, :value => @insurance.cover_value %>
      <%= f.hidden_field :buyer_id, :value => @insurance.buyer_id %>
      <%= f.hidden_field :seller_id, :value => @insurance.seller_id %>
      <%= render "#{@insurance.current_step}_step", :f => f %>
      <br/>
      <p>
        <%= f.submit t('button.continue') %>
        <%= link_to t('button.cancel'), user_message_path(current_user, @insurance.message), :class => 'cancelLink' if @insurance.first_step? %>
        <%= f.submit t('button.back'), :name => "back_button" unless @insurance.first_step? %>
      </p>
    <% end %>
    <%= render 'shared/required_label' %>
  </div>
</div>