<% if logged_in? and !(current_user == @item.user) and !@item.voted_by?(current_user) %>
  <p>
    <%= link_to new_item_vote_path(@item), :class => "btnAction" do %>
      <%= image_tag 'icon-thumb.png', :size => "14x14" %>&nbsp;<%= t('general.like') %>
    <% end %>
  </p>
<% elsif !logged_in? %>
  <p>
    <%= link_to new_item_vote_path(@item), :class => "btnAction" do %>
      <%= image_tag 'icon-thumb.png', :size => "14x14" %>&nbsp;<%= t('general.like') %>
    <% end %>
  </p>
<% end %>
