<% user = @item.user %>
<% city = @item.origin_city %>
<% label_city = city.all_cities? ? city.country.name : city.name %>
<%= page_title(raw t 'suggested_items.show.label.meta_desc', :item => @item.name, :location => label_city )  %>
<%= meta_description((raw t 'suggested_items.show.label.meta_desc', :item => @item.name, :location => label_city)  + " #{user.meta_desc}")  %>
<div class="col4">
  <h2><%= t('suggested_items.show.label.heading') %></h2>
</div>
<div class="col4 bgLightGreen defaultRound">
  <div id="viewItem">
    <div class="avatar">
      <% if !@main_picture.blank? %>
        <%= image_tag @main_picture.attachment.url(:thumb), :size => '50x50', :class => "photo bgWhite" %>
      <% else %>
        <%= image_tag 'default_original_item.png', :size => '50x50' %>
      <% end %>
      <div class="tools">
        <%= render 'idea_items/new_vote' %>
      </div>
      <div class="adminTools">
        <% if logged_in? and @item.user == current_user %>
          <%= link_to t('suggested_items.edit.link'), edit_idea_item_path(@item) %>
        <% end %>
      </div>
    </div>

    <div class="info">
      <% unless @item.active? %>
        <div class="notificationBar yellow">
          <%= t('suggested_items.show.label.not_active') %>
        </div>
      <% end %>
      <div class="itemDisplay defaultRound"><%= @item.name %></div>
      <div class="locationDisplay defaultRound">
        <%= @item.origin_city.name %>, <%= @item.origin_city.country.name %>
      </div>
      <br/>
      <% if @item.is_a?(UserSuggestedItem) %>
        <h4><%= t('suggested_items.show.label.suggester') %></h4>
        <p>
          <%= link_to user.username, profile_path(user.username) %>
        </p>
      <% end %>
      <h4><%= t('suggested_items.show.label.location') %></h4>
      <p>
        <%= city.name %>, <%= city.country.name %>
      </p>
      <h4><%= raw t('suggested_items.show.label.reason', :location => label_city, :item => @item.name) %></h4>
      <p>
        <%= @item.reason %>
      </p>
      <% unless @item.notes.blank? %>
        <h4><%= t('suggested_items.show.label.notes') %></h4>
        <p>
          <%= auto_link_in_new_tab(@item.notes_display) %>
        </p>
      <% end %>
      <p>
        <% url = suggested_item_url(@item) %>
        <%= render 'shared/social_share_item', :locals => {:url => url, :title => (raw t 'suggested_items.show.label.meta_desc', :item => @item.name, :location => label_city )} %>
      </p>
    </div>
  </div>
  <br clear="all"/>
  <br clear="all"/>

  <% unless @item_pictures.blank? %>
    <h4><%= raw t('suggested_items.show.label.pictures', :item => @item.name) %></h4>
    <div id="itemPictures" class="bgWhite defaultRound">
      <% @item_pictures.each_with_index do |item_picture, index| %>
        <% identifier = "item_" + @item.id.to_s + "_item_picture_" + index.to_s %>
        <%= link_to item_pictures_path(:item_id => @item.id, :item_picture_id => item_picture.id) do %>
          <%= image_tag item_picture.attachment(:thumb), :align => 'center', :class => 'photo', :size => '50x50' %>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <br/>
  <% if @total_result > 0 %>
    <h4><%= raw t('suggested_items.show.label.route') %>&nbsp;<%= render 'shared/city', :locals => {:city => city, :short_name => false} %>&nbsp;<span class="counter"><%= @total_result %></span></h4>
    <div id="searchResults">
      <div class="defaultRound">
        <% if @results.size > 0 %>
          <% @results.each do |trip| %>
            <div id="trip">
              <%= render 'idea_items/trip', :trip => trip %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="alignCenter">
    <%= get_will_paginate @results %>
  </div>


</div>
