<% city = locals[:city] %>
<% country = city.country %>
<% if city.name == City::ANYWHERE %>
  <i><%= city.name %></i>
<% else %>
  <% country_code_image_path = "flags/" + country.code + ".png" %>
  <%= city.name %>&nbsp;&nbsp;<%= image_tag country_code_image_path, :align => 'absmiddle', :alt => country.name, :title => country.name  %>
<% end %>