<% if logged_in? and !(current_user == @user) %>
    <div class="reputation-action buttonlink-red">
      <%= link_to t('reputation.new.link.negative'), new_user_negative_reputation_path(:user_id => @user) %>
    </div>
  <% end %>
  <div id="reputations">
    <% if @negatives.size > 0 %>
      <% @negatives.each do |reputation| %>
        <%= render 'shared/reputation', :locals => {:reputation => reputation} %>
      <% end %>
    <% else %>
      <i><%= t('reputation.index.negative.no_result') %></i>
    <% end %>
  </div>
  <div style="text-align: center; clear: both;">
    <%= will_paginate(@negatives) %>
  </div>