<% trip = locals[:trip] %>
<% write = locals[:write] %>
<tr>
  <td><%= render 'shared/trip_summary',  :locals => {:trip => trip} %></td>
  <td width="10px">&nbsp;</td>
  <% if logged_in? and trip.owner?(current_user) and write %>
    <td width="250px" style="vertical-align: top">
      <% if trip.active? %>
      <div>
        <span style="clear: both; text-align: center; vertical-align: top;" class="buttonlink-grey-01">
          <%= link_to t('trip.edit.link_short'), edit_trip_path(trip) %>
        </span>&nbsp;
        <span style="clear: both; text-align: center; vertical-align: top;" class="buttonlink-grey-01">
          <%= link_to t('trip.destroy.link_short'), trip, :confirm => 'Are you sure?', :method => :delete %>
        </span>
      </div>
      <% end %><br/>
      <div>
        <% seeks_match_count = trip.find_matching_seeks.count %>
        <% if seeks_match_count > 0 %>
          <span class="buttonlink-red link"><%= link_to t('trip.index.table.match_count', :count => seeks_match_count), match_trip_path(trip) %></span>
        <% end %>
      </div>
    </td>
  <% end %>
</tr>