<% user = locals[:user] %>
<div class="user-medium text-01">
  <div class="user-medium-profile-picture"><%= image_tag user.avatar.url(:thumb), :align => 'center' %></div>
  <div class="user-medium-details">
    <span class="blue-link"><%= link_to user.username, profile_path(user.username), :class => "blue-link" %>
      <% if logged_in? and user != current_user %>
        (<strong><%= link_to t('mobile.user_summary.new_message'), new_user_message_path(:user_id => user) %></strong>)
      <% elsif !logged_in? %>
        (<strong><%= link_to t('mobile.user_summary.new_message'), new_user_message_path(:user_id => user) %></strong>)
      <% end %>
    </span>
    <% unless user.fullname.nil? %>
      <br/><%= user.fullname %>
    <% end %>
    <% unless user.fullname.nil? %>
      <br/><%= user.location %>
    <% end %>
  </div>
</div>


