<div style="font: normal 14px Helvetica, Arial, sans-serif; line-height: 19px; color: #333;">
  Thank you for using Bistip SafePay :)
  <br/>
  <br/>
  We are inviting you to share your Bistip experience by writing your story.
  <br/>
  <br/>
  We will reward you with 30 Bistip Point that you can later use to redeem USD 20 cashback.
  <br/>
  <br/>
  <%= link_to 'OK I want to write my story!', new_story_url %>
</div>