<div style="font: normal 14px Helvetica, Arial, sans-serif; line-height: 19px; color: #333;">
  In a couple of days you will be traveling to <%= @trip.destination_location %> have a safe trip! :)
  <br/>
  <br/>
  This email is just a gently reminder to courier job that you already negotiated for this trip.
  <br/>
  <br/>
  Your notable conversation is/are as follows:
</div>
<div style="font: normal 14px Helvetica, Arial, sans-serif; line-height: 19px; color: #333;">
  <ul>
    <% @message_threads.each do |mt| %>
      <li>With <strong><%= mt.sender.username %></strong> - <%= mt.subject_display %> <%= raw '(<strong>' + t('notifier.escrow.payment_received_label') + '</strong>)' if !mt.escrow.blank? and mt.escrow.payment_received? %> - <%= link_to t('general.view'), message_url(mt) %></li>
    <% end %>
  </ul>
</div>