<% page_title t('search_user.index.label.heading') %>
<div class="col4">
  <h2><%= t('search_user.index.label.heading') %></h2>
  <%= render 'shared/search_menu' %>
</div>
<div class="col4 bgLightYellow defaultRound">
  <%= form_tag search_user_path do %>
    <div id="searchUser">
      <p>
        <label><%=t('search_user.index.label.field')%></label>
        <%= text_field_tag :keyword, nil, :size => 40 %>
      </p>
      <br/>
      <p>
        <%= submit_tag t('button.search'), :class => 'btnSearch' %>
      </p>
    </div>
  <% end %>

  <% if any_search_user_parameter_specified? %>
    <div id="searchResults">
      <h4><%= t('search_user.index.label.result') %>&nbsp;<span class="counter"><%= @users.size %></span></h4>
      <div id="users">
        <% if @users.size > 0%>
          <% for user in @users do %>
            <%= render 'shared/user_medium', :locals => {:user => user}%>
          <% end%>
        <% else %>
          <div class="notificationBar yellow"><%= t('search_user.index.label.no_result')  %></div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
