<blockquote class="blockquote">

  <% if !story.title.blank? %>
    <h3><%= story.title %></h3>
  <% end %>

  <% story.story_pictures.each_with_index do |story_picture, index| %>
    <% identifier = "story_" + story.id.to_s + "_story_picture_" + index.to_s %>
    <%= story_picture_popup_js(identifier) %>
    <p align="center">
      <%= link_to story_pictures_path(:story_id => story.id, :story_picture_id => story_picture.id) do %>
        <%= image_tag story_picture.attachment(:original), :align => 'center', :class => 'photo', :width => '50%' %>
      <% end %>
    </p>
  <% end %>

  <p><%= auto_link_in_new_tab(story.body) %></p>

  <div class="overflow">
    <%= link_to profile_path(story.user.username) do %>

      <div class="alignright avatar">
        <strong>
          <%= link_to story.user.username, profile_path(story.user.username) %> -
        </strong>
        <%= image_tag story.user.avatar.url, :size => "36x36", :class => "photo" %>
      </div>
    <% end %>
  <div class="story edit">
  <% if logged_in? and story.owner?(current_user) %>
    <%= link_to t('stories.edit.link'), edit_story_path(story), :class => 'btnAction' %>
  <% end %>
    </div>
  </div>

</blockquote>

