<% user = reply.user %>

<div class="commentReplyRow bgGrey">
  <div class="body">
    <h5>
      <%= link_to user.username, profile_path(user.username) %>
      <span>&nbsp;&ndash;&nbsp;<%= smart_date_display(reply.created_at) %> </span>
    </h5>
    <p>
      <%= auto_link_in_new_tab_without_simple_format reply.body %>
    </p>
  </div>
</div>
