<%= render 'shared/event_menu' %>
<div class="col9">

  <h2>Kompetisi Blog</h2>

  <h3 class="textBlack">"Bistip.com dalam 250 kata dan 1 gambar"</h3>

  <p>
    Kompetisi blog post bistip.com <strong>DIBATALKAN</strong>
  </p>

  <p>
    <strong>Alasan pembatalan</strong> : Peserta yang mengikuti kompetisi jumlahnya tidak memenuhi dari yang diharapkan
    Untuk peserta yang telah mengirimkan blog post nya akan diberikan souvenir bistip.com
  </p>

  <p>
    Terima Kasih atas partisipasinya di blog contest bistip.com, mohon maaf atas pembatalan kompetisi ini.
  </p>

  <p>
    Bistip Team
  </p>

</div>