<% page_title t('content.link.guide') %>
<div class="col8">
  <h3 class="textBlack">For all members</h3>
</div>
<div class="col4">
  <p><%= image_tag 'guide/user.png', :class => 'tipsIcon' %><strong>Complete your details</strong><br/>Complete your profile!
    people will trust you more.
  </p>
</div>
<div class="col4">
  <p><%= image_tag 'guide/password.png', :class => 'tipsIcon' %><strong>Use the strong password</strong><br/>Use the numbers,
    symbols and, when possible, mixed upper and lower-case letters.</p>
</div>
<div class="col4">
  <p><%= image_tag 'guide/logout.png', :class => 'tipsIcon' %><strong>Make sure to log out</strong><br/>Before leaving the
    public computer you used to access bistip.com, make sure that you've already logged out.
  </p>
</div>
<div class="col4">
  <p><%= image_tag 'guide/reputation.png', :class => 'tipsIcon' %><strong>Give reputation</strong>
    <br/>Good or Bad reputation will help other member in deciding to do a transaction with someone.</p>
</div>
<div class="col4">
  <p><%= image_tag 'guide/place.png', :class => 'tipsIcon' %><strong>Meet up in a safe place</strong>
    <br/>Meet up in public places when exchanging the item and tip.</p>
</div>
<%= render 'shared/guide_menu' %>
