<%= render 'shared/guide_menu' %>
<% page_title t('content.link.paypal_escrow') %>
<div class="col4, padding2point5">
  <h2><%= t('content.link.paypal_escrow') %></h2>


  <p align="center"><%= image_tag 'rekber-paypal-en-m.png' %></p>

  <p>
    1. Both item looker and traveller agreed to use PayPal escrow.
  </p>
  <p>
    2. Item looker transfers a certain amount of money to Bistip's PayPal escrow
  </p>
  <ul>
    <li>The money accepted only in <strong>US Dollar</strong>.</li>
    <li>The amount is the total of item's price, tip for the traveller and 8% fee from the item's price + the tip.</li>
    <li>The 8% fee is the processing fee for the transaction using PayPal escrow.</li>
  </ul>
  <p>
    <strong>Example:</strong>
  </p>
  <blockquote class="defaultRound">

    Item's price: USD 100 <br />
    Tip: USD 20 <br/>
    Subtotal: USD 100 <br />

    Total : USD 100 + ( 8% x USD 100 = USD 8 ) = USD 108

  </blockquote>
  <p>
    3. Bistip.com confirms that the payment has been received.
  </p>
  <p>
    4. Meetup and exchange item and tip.
  </p>
  <p>
    5. Item looker confirms that the item has been received.
  </p>
  <p>
    6. Bistip.com transfers the money to the traveller's PayPal account.
  </p>
  <p>
    7. Traveller confirms that the payment has been received.
  </p>
  <br />
  <p>
    <strong>Important:</strong>
  </p>

  <blockquote class="defaultRound">
    - All the transaction using PayPal escrow can be accessed via <span class="italic">"Messaging"</span> feature.<br />
    - Bistip.com can return the money (reduced processing fee) if the transaction failed.
  </blockquote>
</div>
