<%= render 'shared/guide_menu' %>
<% page_title t('content.link.paypal_escrow') %>
<div class="col4, padding2point5">
  <h2><%= t('content.link.paypal_escrow') %></h2>


  <p align="center"><%= image_tag 'rekber-paypal-m.png' %></p>

  <p>
    1. Penitip dan yang dititip sepakat untuk menggunakan Rekening Bersama Bistip.com dengan PayPal.
  </p>
  <p>
    2. Penitip melakukan transfer dana PayPal ke Rekening Bersama Bistip.com
  </p>
    <ul>
      <li>Dalam <strong>USD (Dollar Amerika Serikat)</strong>.</li>
      <li>Dananya adalah total dari harga barang, tip untuk yang dititip dan 8% dari harga barang + tip.</li>
      <li>Potongan 8% adalah biaya pemrosesan transaksi.</li>
    </ul>
  <p>
    <strong>Contoh:</strong>
  </p>
  <blockquote class="defaultRound">

    - Harga barang: USD 80 <br />
    - Tip: USD 20 <br/>
    - Subtotal: USD 100 <br />

    Total yang harus dibayar: USD 100 + ( 8% x USD 100 = USD 8) = USD 108 <br /><br />

    Jika anda tidak membayarkan sesuai total tersebut, sistem Rekening Bersama bistip.com tetap akan melakukan potongan
    sebesar 8%.

  </blockquote>
  <p>
    3. Bistip.com mengkonfirmasi dana masuk
  </p>
  <ul>
   <li>Bistip.com akan menampung sementara pembayaran dari penitip sampai transaksi selesai.</li>
   <li>Yang dititip sudah bisa membelikan barang sesuai kesepakatan.</li>
  </ul>

  <p>
    4. Penitip bertemu dengan yang dititip untuk serah terima barang.
  </p>
  <p>
    5. Penitip melakukan konfirmasi bahwa barang sudah diterima.
  </p>
  <p>
    6. Bistip.com melakukan transfer dana ke akun PayPal yang dititip.
  </p>
  <p>
    7. Yang dititip melakukan konfirmasi bahwa dana sudah diterima
  </p>
  <br />
  <p>
    <strong>KETERANGAN:</strong>
  </p>

  <blockquote class="defaultRound">
    - Semua Transaksi Rekening Bersama Bistip.com dengan PayPal adalah melalui fitur <span class="italic">"Messaging"</span>.<br />
    - Uang bisa dikembalikan oleh Bistip.com (sudah dipotong) jika transaksi tidak berjalan seperti seharusnya (misal barang tidak ditemukan atau tidak
    ada kabar dari yang dititip dalam waktu tertentu) sesuai laporan dari pengguna.
  </blockquote>
</div>
