<% page_title t('notification.link.notification') %>
<div class="content-left">
<span class="page-heading"><%= t 'notification.heading' %></span>
<div id="notifications" class="text-01 notification">
  <% if @notifications.size > 0 %>
    <% @notifications.each do |notification| %>
      <%= render 'notification', :locals => {:notification => notification} %>
    <% end %>
  <% else %>
    <i><%= t('notification.index.no_result') %></i>
  <% end %>
</div>
<div style="text-align: center">
  <%= will_paginate(@notifications) %>
</div>
</div>
