<div style="font: normal 14px Helvetica, Arial, sans-serif; line-height: 19px; color: #333;">
  <% if !@seek.from_anywhere? %>
    <p><%= @seek.user.username %> just posted a Wanted Bistiper from <%= @seek.origin_location %> to <%= @seek.destination_location %></p>
    <p>You can view the post through the link below:</p>
  <% else %>
    <p><%= @seek.user.username %> just posted a Wanted Bistiper from anywhere to <%= @seek.destination_location %></p>
    <p>that could bring : <h3><strong><%= @seek.item %></strong></h3></p>
    <p>You can view the post through the link below:</p>
  <% end %>
  <br/>
  <%= auto_link(seek_url(@seek)) %>
</div>
