<div class="col4 bgLightYellow defaultRound">
  <h4 class="textBlack"><%= t('message.field.label.receiver') %>: <%= @user.username %></h4>
  <% trip_id = params[:trip_id] || @message.trip_id %>
  <% seek_id = params[:seek_id] || @message.seek_id %>
  <% if !trip_id.nil? or !seek_id.nil? %>
    <br/>
    <h4 class="textBlack"><%= generate_label_for_related_trip_or_seek(trip_id, seek_id) %></h4>
  <% end %>
  <% unless @user.languages.empty? %>
    <br/>
    <p class="italic"><%= t('message.new.label.languages', :username => @user.username, :languages => @user.display_languages) %>
    </p>
  <% end %>
  <div id="postNewMessage">
    <%= form_for([@user, @message]) do |f| %>
      <input type="hidden" value="<%= @user.id %>" name="receiver_id" />
      <input type="hidden" value="<%= @curr.id %>" name="sender_id" />
      <%= f.hidden_field :trip_id, :value => trip_id %>
      <%= f.hidden_field :seek_id, :value => seek_id %>
      <p>
        <label><%= t('message.field.label.subject') %></label>
        <%= f.text_field :subject %>
      </p>
      <p>
        <label><%= t('message.field.label.body') %></label>
        <%= enable_character_counter('message_body',Message::BODY_MAXIMUM_LENGTH) %>
        <%= f.text_area :body, :rows => 7, :cols => 60 %>
      </p>
      <p>
        <%= f.submit t('button.send'), :class => 'defaultButton' %><%= link_to t('button.cancel'), :back, :class => 'cancelLink' %>
      </p>
    <% end %>
  </div>
</div>
