<% page_title t('contact_us.new.heading') %>
<div class="content-middle-graphic-background text-01">
  <div class="contact-us">
    <%= form_tag(:action => 'create', :controller => 'contact_us') do %>
      <table width="550" cellspacing="0" cellpadding="5" border="0" class="text-01">
        <tbody>
          <tr>
            <td class="text-orange" style="text-align: center;" colspan="2"><%= t('contact_us.new.heading') %></td>
          </tr>
          <tr>
            <td style="width: 100px; text-align: right;">&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <% unless logged_in? %>
            <tr>
              <td style="text-align: right;"><%= t('contact_us.new.label.name') %></td>
              <td><%= text_field_tag :name, params[:name], :size => 30, :class => 'textbox-01' %></td>
            </tr>
          <% end %>
          <% unless logged_in? %>
            <tr>
              <td style="text-align: right;"><%= t('contact_us.new.label.email') %></td>
              <td><%= text_field_tag :email, params[:email], :size => 30, :class => 'textbox-01' %></td>
            </tr>
          <% end %>
          <tr>
            <td style="text-align: right;"><%= t('contact_us.new.label.subject') %></td>
            <td><%= text_field_tag :subject, params[:subject], :size => 30, :class => 'textbox-01' %></td>
          </tr>
          <tr>
            <td style="text-align: right;"><%= t('contact_us.new.label.body') %></td>
            <td>
              <%= enable_character_counter('body', 800) %>
              <%= text_area_tag :body, params[:body], :rows => 8, :cols => 40, :class => 'textbox-01' %>
            </td>
          </tr>
          <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>
            <%= submit_tag t('button.submit'), :class => 'button-register' %> / <%= link_to t('button.cancel'), root_path %>
          </td>
        </tr>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
