@charset "UTF-8";
/*
	CSS Document for BisTip.com
*/

@import url("styles-reset.css");
@import url("colorbox.css");
@import url("ie-warning.css");

@font-face {
    font-family: 'Aller';
    src: url('../type/aller_bdit-webfont.eot');
    src: url('../type/aller_bdit-webfont.eot?#iefix') format('embedded-opentype'),
        url('../type/aller_bdit-webfont.woff') format('woff'),
        url('../type/aller_bdit-webfont.ttf') format('truetype'),
        url('../type/aller_bdit-webfont.svg#AllerBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'Aller';
    src: url('../type/aller_rg-webfont.eot');
    src: url('../type/aller_rg-webfont.eot?#iefix') format('embedded-opentype'),
        url('../type/aller_rg-webfont.woff') format('woff'),
        url('../type/aller_rg-webfont.ttf') format('truetype'),
        url('../type/aller_rg-webfont.svg#AllerRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Aller';
    src: url('../type/aller_bd-webfont.eot');
    src: url('../type/aller_bd-webfont.eot?#iefix') format('embedded-opentype'),
        url('../type/aller_bd-webfont.woff') format('woff'),
        url('../type/aller_bd-webfont.ttf') format('truetype'),
        url('../type/aller_bd-webfont.svg#AllerBold') format('svg');
    font-weight: bold;
    font-style: normal;

}

/* Colors

#ffbf00: Yellow
#034e86: Blue

*/

/* General Settings */

html {
    width: 100%;
}

body {
    background: #034e86;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border-top: 5px solid #ffbf00;
    font: 10px/20px Aller, helvetica, arial, sans-serif;
    font-size: 62.5%;
    color: #333;
}

a:link, a:visited {
    color: #034e86;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #999;
}

a.divlink:link, a.divlink:visited {
    display: block;
    color: #333;
    font-weight: normal;
}

a.divlink:hover {
    color: #999;
}

a.cancelLink:link, a.cancelLink:visited {
    color: #999;
    margin-left: 10px;
}

a.cancelLink:hover {
    color: #333;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #034e86;
}

h1 {
    font-size: 16px;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
    line-height: 1.3em;
}

h4 {
    font-size: 13px;
}

h5 {
    font-size: 11px;
}

h6 {
    font-size: 10px;
}

p {
    margin-bottom: 5px;
    line-height: 1.8em;
    font-size: 13px;
}

ul, ol {
    margin-bottom: 15px;
    font-size: 13px;
    padding-left: 40px;
}

ul li {
    list-style-type: disc;
    list-style-position: outside;
}

ol li {
    list-style-type: decimal;
    list-style-position: outside;
}

img {
    vertical-align: middle;
}

blockquote {
    background-color: #fff7de;
    margin: 0px 20px 20px 20px;
    padding: 20px;
    font-size: 13px;
    font-style: italic;
    line-height: 1.8em;
}

strong {
    font-weight: bold;
}

em, cite {
    font-style: italic;
}

small {
    font-size: 0.9em;
}

sup {
    font-size: 0.7em;
    position: relative;
    top: -0.6em;
}

sub {
    font-size: 0.7em;
    position: relative;
    bottom: -0.6em;
}

input[type="text"], input[type="email"], input[type="password"], textarea, select {
    background: #fff;
    padding: 5px 5px;
    border: 1px solid #ccc;
    font-size: 13px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

select {
}

input[type="button"], input[type="submit"] {
    background: #034e86;
    padding: 5px 10px;
    border: 0px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-appearance: none;
    -webkit-box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    text-shadow: rgba(255,255,255,1);
    cursor: pointer;
}

input[type="button"]:hover, input[type="submit"]:hover {
    background: #999;
}

img.photo {
    border: 2px solid #ffc20d;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

header {
    background: #034e86 url(../images/bg-header.png) repeat-x;
    width: 100%;
    height: 40px;
    overflow: hidden;
}

header .plc {
    margin: 0px auto;
    overflow: hidden;
}

header h1 {
    height: 23px;
    float: left;
    display: block;
    margin: 10px 0px 0px 10px;
}

header h1 a {
    background: url("../images/logo-m.png") no-repeat;
    width: 77px;
    height: 48px;
    display: block;
    text-indent: -10000em;
}

header .tagLine {
    float: left;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 13px;
    color: #FFFFFF;
    font-style: italic;
    text-shadow: 0 -1px 1px #000000;
}

.main {
    padding: 10px;
}

.searchForm label {
    display: inline-block;
    float: left;
    padding-top: 4px;
    font-size: 12px;
    color: #FFFFFF;
    text-shadow: 0 -1px 1px #000000;
}

.searchForm .btnSearch {
    font-size: 13px;
}

.searchForm .ui-autocomplete-loading {
    background-image: url('../images/ui-anim_basic_16x16.png');
    background-position: right center;
    background-repeat: no-repeat;
}

a.btnAction:link, a.btnAction:visited,
a.btnActionInv:link, a.btnActionInv:visited {
    padding: 5px 6px;
    color: #000;
    text-decoration: none;
    text-shadow: 0px 1px 1px #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

a.btnAction:link, a.btnAction:visited {
    background-color: #ffbf00;
    border: 1px solid #edb201;
}

a.btnActionInv:link, a.btnActionInv:visited {
    background-color: #034e86;
    border: 1px solid #034e86;
}

a.btnAction:hover, a.btnActionInv:hover {
    background-color: #ccc;
    border-color: #bbb;
    text-shadow: none;
}

.ui-menu-item {
    list-style: none outside none;
}

/* Bistipers Scroll Settings */

#homeSecondary #bistiperScrollplc {
    width: 280px;
    margin: 0px auto;
    overflow: hidden;
}

#bistiperScroll {
    margin: 0px;
    margin-top: 10px;
    padding: 0px;
    list-style-type: none;
}

.bistiperRow {
    width: 280px;
    height: auto;
    overflow: hidden;
    margin: 0px 0px;
    padding: 0px;
    font-size: 12px;
}

.bistiperRow .divlink {
    display: block;
    color: #333;
}

.bistiperRow {
    height: 80px;
}

.bistiperRow div.bistiperPlc {
    background: #fffdf5;
    margin-bottom: 10px;
    border: 1px solid #ece7d9;
    padding: 9px;
    overflow: hidden;
}

.bistiperRow .divlink .bistiperPlc {
    color: #034e86;
}

.bistiperRow .divlink:hover .bistiperPlc {
    opacity: 0.7;
}

.bistiperRow .avatar {
    width: 42px;
    float: left;
    margin-right: 12px;
    position: relative;
}

.bistiperRow .info {
    padding-top: 3px;
    width: 200px;
    float: left;
}

.bistiperRow .info h5, .bistiperRow .info p {
    font-size: 12px;
    margin: 0px;
}

.bistiperRow .info img {
    vertical-align: baseline;
}

.iconUser {
    background: url(../images/icon-user-12.png) no-repeat;
    padding-left: 20px;
}

.iconRoute {
    background: url(../images/icon-route-12.png) no-repeat;
    padding-left: 20px;
}

.iconRoute .dashArrow {
    height: 24px;
    background-position-y: 6px;
}

span.dashArrow {
    width: 14px;
    height: 16px;
    display: inline-block;
    background: url(../images/arrow-default.png) no-repeat;
    background-position: 0px 3px;
    text-indent: -10000em;
}

