<% page_title t('seek.index.link') %>
<div id="dashboard">
  <%= render 'reminder' %>
  <div class="col4">
    <div class="dashboardPlc bgLightBlue defaultRound">
      <h4><%= t('seek.index.link') %></h4>
      <div id="seeks">
        <% if @seeks.size > 0 %>
          <% for seek in @seeks %>
            <% old = seek.active? ? "" : "old" %>
            <div class="activityWrap bgWhite">
              <%= link_to seek_path(seek), :class => "infoBlockLink" do %>
                <div class="infoBlock mid <%= old %>">
                  <% unless seek.active? %>
                    <div class="oldinfo">
                      <%= t('seek_summary.label.not_active') %>
                    </div>
                  <% end %>
                  <%= render 'shared/seek_data', :locals => {:seek => seek, :item_count => SeekItem::SUMMARY_COUNT} %>
                </div>
              <% end %>
              <% if seek.active? %>
                  <% trips_match_count = seek.find_matching_trips.count %>
                  <% if trips_match_count > 0 %>
                    <%= link_to t('seek.index.table.match_count', :count => trips_match_count), match_seek_path(seek), :class => "btnAction" %>
                  <% end %>
                  <div class="adminTools">
                    <%= link_to t('seek.edit.link_short'), edit_seek_path(seek) %>
                    <%= link_to t('seek.destroy.link_short'), seek, :confirm => t('general.are_you_sure'), :method => :delete, :class => "delete" %>
                  </div>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <div class="notificationBar yellow"><%= t('seek.index.no_result') %> </div>
        <% end %>
      </div>
      <div style="text-align: center;">
        <%= get_will_paginate(@seeks) %>
      </div>
    </div>
  </div>
  <%= render 'menu' %>
</div>

