<% page_title t('trip.new_routine.label.heading') %>
<div class="col12">
  <h2><%= t('trip.new_routine.label.heading') %></h2>
</div>
<div class="col7 bgLightYellow defaultRound">
  <h3 class="textBlack"><%= t('trip.new.label.intro') %></h3>
  <h4>
    <%= t('trip.field.label.standard') %> <%= link_to t('trip.new_routine.label.standard_link'), new_trip_path, :class => 'btnAction'  %>
  </h4>
  <%= render 'form_routine', :locals => {:cancel_path => root_path}%>
</div>
<%= render 'form_tips' %>

