<div id="consoleDashboard">
  <%= render 'menu' %>
  <div class="col9">
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>User</th>
          <th>Action</th>
        </tr>
      </thead>
      <% @messages.each do |message| %>
        <tr>
          <td><%= message.id %></td>
          <td><%= message.subject %></td>
          <td><%= message.sender.username %>/<%= message.receiver.username %></td>
          <td><%= link_to 'View', console_conversations_show_path(:id => message.id) %></td>
        </tr>
      <% end %>
    </table>
    <%= get_will_paginate @messages %>
  </div>
</div>