<div id="consoleDashboard">
  <%= render 'menu' %>
  <div class="col9">
    <h2>Edit Escrow</h2>
    <p>
      <label>Buyer: </label>
      <%= @escrow.buyer.username %>
    </p>
    <p>
      <label>Seller: </label>
      <%= @escrow.buyer.username %>
    </p>
    <p>
      <label><%= t('escrow.widget.label.item') %>: </label>
      <%= @escrow.item %>
    </p>
    <p>
      <label><%= t('escrow.widget.label.state') %>: </label>
      <%= @escrow.last_log.to_display_string %>
    </p>
    <p>
      <label><%= t('escrow.widget.label.awaiting') %>: </label>
      <%= @escrow.last_log.get_awaiting_string %>
    </p>
    <%= form_tag(:action => 'escrow_update', :controller => 'console') do %>
      <%= hidden_field_tag :id, @escrow.id %>
      <p>
        <label>Amount</label>
        <%= text_field_tag('escrow[amount]', @escrow.amount) %>
      </p>
      <p>
        <label>Internal</label>
        <%= check_box_tag(:do_internal, nil, @escrow.internal) %>
      </p>
      <p>
        <label></label>
        <%= submit_tag t('button.send') %>
      </p>
    <% end %>
  </div>
</div>