<div id="consoleDashboard">
  <%= render 'menu' %>
  <div class="col9">
    <% form_tag console_payout_method_path, :method => 'get' do %>
      <p>
        <%= text_field_tag :username, params[:username] %>
        <%= submit_tag "Search", :name => nil %>
      </p>
    <% end %>
    <br/>
    <% if @payout_methods %>
      <% @payout_methods.each do |pm| %>
        <%= render "payout_methods/#{pm.cname}_payout_method", :payout_method => pm %>
        <br/>
      <% end %>
    <% end %>
  </div>
</div>