<%= render 'menu' %>
<div class="col9">
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>User</th>
        <th>Action</th>
      </tr>
    </thead>
    <% @stories.each do |story| %>
      <tr>
        <td><%= story.id %></td>
        <td><%= link_to story.title, story_path(story), :target => 'blank' %></td>
        <td><%= story.user.username %></td>
        <td><%= link_to 'Approve', console_story_approve_path(:id => story.id) %></td>
      </tr>
    <% end %>
  </table>
  <%= get_will_paginate @stories %>
</div>