<?xml version="1.0" ?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.2//EN"
  "http://www.openmobilealliance.org/tech/DTD/xhtml-mobile12.dtd">
<html>
  <head>
    <title><%= page_title %> | Bistip.com </title>
    <%= include_stylesheets :mobile %>
    <%= javascript_include_tag 'jquery-1.5.2.min', 'jquery.tools.min', 'smoothscroll', 'jquery-ui-1.8.7.custom.min','jquery.watermarkinput','rails', 'application', 'jquery.shareit', 'quicktip', 'jquery.tagsinput.min' %>
    <%= csrf_meta_tag %>
    <meta name="description" content="<%= meta_description %> | <%= t('general.meta.description') %> |" />
    <meta name="keywords" content="<%= t('general.meta.keywords') %> <%= meta_keywords %>" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;"/>

  <!-- start Mixpanel -->
  <script type="text/javascript">var mpq = [];
  mpq.push(["init","e84b364461e15af6c9b43059ea6ab7d3"]);
  (function() {
      var b,a,e,d,c;
      b = document.createElement("script");
      b.type = "text/javascript";
      b.async = true;
      b.src = (document.location.protocol === "https:" ? "https:" : "http:") + "//api.mixpanel.com/site_media/js/api/mixpanel.js";
      a = document.getElementsByTagName("script")[0];
      a.parentNode.insertBefore(b, a);
      e = function(f) {
          return function() {
              mpq.push([f].concat(Array.prototype.slice.call(arguments, 0)))
          }
      };
      d = ["init","track","track_links","track_forms","register","register_once","identify","name_tag","set_config"];
      for (c = 0; c < d.length; c++) {
          mpq[d[c]] = e(d[c])
      }
  })();
  </script>
  <!-- end Mixpanel -->


  </head>

  <body>
  <header>
    <div class="plc">
      <h1><a href="/"><%= t('general.meta.description') %>. <%= meta_description %></a></h1>
      <%= render 'shared/top_panel' %>
    </div>
  </header>
  <% if current_page?(root_path) %>
    <%= render 'shared/notification' %>
    <%= yield %>
  <% elsif hide_secondary_navigation? %>
    <%= render 'shared/notification' %>
    <section id="contents">
      <div class="plc">
        <%= yield %>
      </div>
    </section>
  <% else %>
    <%= render 'shared/secondary_navigation' %>
    <%= render 'shared/notification' %>
    <section id="contents">
      <div class="plc">
        <%= yield %>
      </div>
    </section>
  <% end %>
  <%= render 'shared/footer' %>
</body>
</html>

