<% similiar_trips = locals[:similiar_trips] %>

<div class="similiar">
<fieldset>
  <legend class="heading-grey"><%=t('trip.show.label.similiar')%></legend>
    <% if similiar_trips.size > 0 %>
      <% similiar_trips.each do |trip| %>
        <div>
          <% info = "" %>
          <% if !trip.routine? %>
            <% info = "#{l(trip.departure_date)}" %>
          <% else %>
            <%info = t("week_period.#{trip.period}")%>
            <%# total_day = trip.day.length %>
            <%# max = total_day %>
            <%# max = 2 if total_day > 2 %>
            <%# 0.step(max-1,1){|i|%>
              <%# if i == (max-1) %>
                <%#info += trip.day[i] %>
                <%# if total_day > 2 %>
                  <%# info += "..." %>
                <%# end %>
              <%# else %>
                <%#info += "#{trip.day[i]}, " %>
              <%# end %>
            <%#}%>
          <% end %>
          <span class="blue-link"><%= link_to info, trip_path(trip) %></span>
          <%=" - "+t('trip.show.label.by')%>
          <span class="blue-link"><%=link_to( trip.user.username, trip.user)%></span>
          
        </div>
      <% end %>
    <% end %>
</fieldset>
</div>
