<ul class="text-01" id="inner-sub-menu">
  <%= render_inner_sub_menu_link t('reputation.link.positive'), {:controller => 'positive_reputations', :action => "index", :user_id => @user.id} %>
  <%= render_inner_sub_menu_link t('reputation.link.negative'), {:controller => 'negative_reputations', :action => "index", :user_id => @user.id} %>
  <%= render_inner_sub_menu_link 'Cari Rekomendasi', get_recommendation_path %>
</ul>