<div class="col9">
  <h4><%= t('influencer.field.label.point')%></h4><br/>
  <div id="influencerPoint" class="dashboardPlc bgLightYellow defaultRound">
    <% if @data.size > 0 %>
      <% @data.each do |inf| %>
        <% trip =  Trip.unscoped.find(inf[0]) %>
        <% user = trip.user %>
        <% point = inf[1] %>
        <%= link_to  trip_path(trip), :class => "infoBlockLink" do %>
        <div class="infoBlock defaultRound mid">
          <div class="left">
            <div class="avatar">
              <%= image_tag user.avatar.url, :size => "64x64", :class => "photo" %>
              <h5><%= user.username %></h5>
              <div class="tools">
                <%= render 'shared/user_reputation_link', :locals => {:user => user} %>
              </div>
            </div>
          </div>
          <div class="right defaultRound">
            <%= render 'shared/trip_data', :locals => {:trip => trip, :item_count => TripItem::SUMMARY_COUNT} %>
          </div>
          <div class="pointDisplay bgYellow defaultRound">
            <%= point %><span>&nbsp;poin</span>
          </div>
        </div>
        <% end %>
      <% end %>
    <% else %>
      <div class="notificationBar yellow"><%= t('influencer.label.not_found_shared_trip') %></i></div>
    <% end %>
  </div>
  <div style="text-align: center">
    <%=  will_paginate @data %>
  </div>
</div>
