<div id="paginationData">
<% if @results.size > 0 %> 
       
	<div id="trip">
    <%= render :partial => 'trip', :collection => @results %>
  	</div>
  <% end %>
  <div>
  <%= get_will_paginate @results %>
  </div>
</div>