<% page_title t('suggested_items.new.heading') %>
<div id="suggestedItem">
  <div class="col12">
    <h2>
      <%= t('suggested_items.general.heading') %>
    </h2>
  </div>

  <div class="col7 bgLightGreen defaultRound">
    <%= render 'form', :action => 'create'%>
  </div>
  <div class="col4">
    <h3><%= t('suggested_items.tips.heading')%></h3>
    <ol class="tips bgGrey defaultRound">
      <li><p><%= t('suggested_items.tips.content.line1') %></p></li>
      <li><p><%= raw t('suggested_items.tips.content.line2', :link => (link_to t('content.link.point'), bistip_point_path, :target => '_blank')) %></p></li>
    </ol>
  </div>
</div>
