<% page_title t('password.reset.label.heading') %>
<div class="content-left">
  <%= form_tag(:action => 'send_email', :controller => 'passwords') do %>
    <table cellspacing="1" cellpadding="1" border="0" class="text-01">
      <tbody>
        <tr>
          <td><span class="page-heading"><%= t('password.reset.label.heading') %></span></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td><%= t('password.reset.label.email') %>&nbsp;:&nbsp;</td>
        </tr>
        <tr>
          <td><%= text_field_tag 'email', nil, :class => 'textbox-01' %></td>
        </tr>
        <tr>
          <td>
            <%= submit_tag t('button.submit'), :class => 'button-register' %> / <%= link_to t('button.cancel'), root_path %>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>
