<% page_title @trip.to_s %>
<% user = @trip.user %>
<div class="col4">
  <h2><%= t('trip.show.label.heading') %></h2>
  <p>
    <%= link_to t('general.link_return'), :back %>
  </p>
</div>
<div class="col4 bgLightYellow defaultRound">
  <div id="viewRoute">
    <div class="avatar">
      <%= image_tag user.avatar.url(:thumb), :class => "photo" %>
      <h5><%= link_to user.username, profile_path(user.username) %></h5>
      <div class="tools">
        <%= render 'shared/user_reputation', :locals => {:user => user} %>
      </div>

      <% if logged_in? and @trip.owner?(current_user) and @trip.active? %>
        <div class="adminTools">
          <%= link_to t('trip.edit.link_short'), edit_trip_path(@trip) %>
          <%= link_to t('trip.destroy.link_short'), @trip, :confirm => 'Are you sure?', :method => :delete, :class => "delete" %>
        </div>
      <% end %>
    </div>
    
    <div class="info">
      <% unless @trip.active? %>
        <div class="notificationBar red">
          <%= t('trip.show.label.not_active') %>
        </div>
      <% end %>
      
      <div class="infoBlock defaultRound">
        <%= render 'shared/trip_data', :locals => {:trip => @trip} %>
      </div>
      
      <% if !@trip.notes.blank? %>
      <h5><%= t('trip.field.label.notes') %></h5>
      <p>
        <%= auto_link_in_new_tab @trip.notes %>
      </p>
      <% end %>

      <p>
        <% if logged_in? %>
          <% if !@trip.owner?(current_user) %>
            <%= link_to new_user_message_path(:user_id => user, :trip_id => @trip.id), :class => "btnAction" do %>
              <%= image_tag 'icon-email-bistiper-m.png' %>&nbsp;
              <%= t('message.link.trip_short') %>
            <% end %>
            <br/>
          <% end %>
        <% else %>
          <%= link_to new_user_message_path(:user_id => user, :trip_id => @trip.id), :class => "btnAction" do %>
            <%= image_tag 'icon-email-bistiper-m.png' %>&nbsp;
            <%= t('message.link.trip_short') %>
          <% end %>
          <br/>
        <% end %>
      </p>
    </div>
      
  </div>
  <br clear="all"/>
    <div id="comments" class="bgWhite defaultRound">
      <%= render 'comments' %>
    </div>  
</div>
