<table width="100%;" border="0" class="text-01" >
  <tr class="form-border">
  <th style="width: 13%"><%= t('influencer.field.label.number') %></th>
  <th style="width: 60%"><%= t('influencer.field.label.trip')%></th>
  <th><%= t('influencer.field.label.point')%></th>
  </tr>
<tbody>
  <% if @data.size > 0 %>
    <% @data.each do |inf| %>
      <tr >
        <td align="center" style="font-weight: bold;font-size: 16px; color: #035088; padding-top: 5px;" valign="top"><%= inf[0] %></td>
        <td align="left">
          <% trip = Trip.unscoped.find(inf[1]) %>
          <%= render 'shared/trip_summary', :locals => {:trip => trip} %>
        </td>
        <td align="center" class="texthover" valign="top" style="padding-top: 5px;">
          <span ><strong><%= inf[2] %></strong></span>
        </td>
      </tr>
    <% end %>
 <% else %>
      <tr style="height: 4em;">
        <td colspan="3" align="center">
          <strong><i><%= t('influencer.label.not_found_shared_trip') %></i></strong>
        </td>
      </tr>
  <% end %>
</tbody>
<tfoot>
  <tr style="background: #FFF;" >
    <td colspan="3" align="center"><strong><%=  will_paginate @data%></strong></td>
  </tr>
</tfoot>
</table>