<% trip = locals[:trip] %>
<tr>
  <td><%= render 'shared/trip_summary',  :locals => {:trip => trip} %></td>
  <td width="20px">&nbsp;</td>
  <% if logged_in? and trip.owner?(current_user) %>
    <td style="vertical-align: top">
      <% if trip.active? %>
        <div style="clear: both; text-align: right;" class="buttonlink-grey-01">
          <%= link_to t('trip.edit.link_short'), edit_trip_path(trip) %>
        </div>
      <% end %>
    </td>
    <td width="20px">&nbsp;</td>
    <td style="vertical-align: top">
      <% if trip.active? %>
        <div style="clear: both; text-align: right;" class="buttonlink-grey-01">
          <%= link_to t('trip.destroy.link_short'), trip, :confirm => 'Are you sure?', :method => :delete %>
        </div>
      <% end %>
    </td>
    <td width="20px">&nbsp;</td>
    <td style="vertical-align: top; text-align: center">
      <% seeks_match_count = trip.find_matching_seeks.count %>
      <% if seeks_match_count > 0 %>
        <%= t('trip.index.table.match_count', :count => seeks_match_count) %> -
        <span class="buttonlink-red link"><%= link_to t('trip.show.label.auto_match_link'), match_trip_path(trip) %></span>
      <% end %>
    </td>
  <% end %>
</tr>