<% page_title t('trip.index.link') %>
<%= render 'shared/user_sub_menu' %>
<div class="content-left">
  <table>
    <tbody class="text-01" id="trips">
      <% if @trips.size > 0 %>
        <% for trip in @trips %>
          <%= render 'trip_row', :locals => {:trip => trip} %>
        <% end %>
      <% else %>
        <i><%= t('trip.index.no_result') %> </i>
      <% end %>
    </tbody>
  </table>
  <div style="text-align: center;">
    <%= will_paginate(@trips, :renderer=>TwitterPagination::LinkRenderer,:id => 'trips_pagination') %>
  </div>
</div>
