<% page_title t('influencer.heading.top_influencer') %>
<div class="col9">
  <h2><%= t('influencer.heading.top_influencer') %></h2>

      <%= render 'influencer' %>
    <p>
      <h3 class="textBlack">
      Apa itu "Influencer" ?
      </h3>
    </p>

  <br/>
  <%= image_tag 'flow-id.m.png', :border => 0 %>
</div>
<%= render 'shared/static_menu' %>