<% page_title t('search_trip.index.label.heading') %>
<%= render 'shared/search_sub_menu' %>
<div class="page-heading"><%= t('search_trip.index.label.heading') %></div>
<div class="text-01">
  <table width="100%" cellspacing="0" cellpadding="1" border="0" align="center" class="text-01">
    <tbody>
      <tr>
        <td colspan="3"><b style="font-size: 11px;"><%= t('search_trip.index.label.intro') %></b></td>
      </tr>
      <tr>
        <td width="25%">
          <%= location_auto_complete_js 'origin' %>
          <%= t('trip.field.label.origin') %>
        </td>
      </tr>
      <tr>
        <td width="64%">
          <%= text_field_tag 'origin', params[:origin], :size => 30, :class => 'textbox-01' %>
        </td>
      </tr>
      <tr>
        <td>
          <%= location_auto_complete_js 'destination' %>
          <%= t('trip.field.label.destination') %>
        </td>
      </tr>
      <tr>
        <td>
          <%= text_field_tag 'destination', params[:destination], :size => 30, :class => 'textbox-01' %>
        </td>
      </tr>
      <tr>
        <td>
          <%= t('trip.field.label.departure_date') %>
        </td>
      </tr>
      <tr>
        <td>
          <% DatePredicate::ALL.each do |departure_date_predicate| %>
            <%= radio_button_tag 'departure_date_predicate', departure_date_predicate, params[:departure_date_predicate] == departure_date_predicate, :readonly => 'readonly' %>
            <%= t(departure_date_predicate, :scope => 'date_predicate') %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>
          <%= select_date parse_date_parameter(params[:departure_date]), :start_year=>Time.now.year, :end_year=>Time.now.year+5, :prompt=>true %>
        </td>
      </tr>
      <tr>
        <td><%= t('search_trip.index.label.notes') %></td>
      </tr>
      <tr>
        <td>
          <%= text_field_tag 'notes', params[:notes], :size => 30, :class => 'textbox-01' %>
        </td>
      </tr>
      <tr>
        <td align="left">
          <div style="padding-top: 2px;" class="buttonlink-blue">
            <a href="javascript:buildSearchTripURL(true)">Search</a>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="3">&nbsp;</td>
      </tr>
    </tbody>
  </table>
  <div id="trips">
    <div class="page-heading"><%= t('search_trip.index.label.result') %></div>
    <% if @trips.size > 0 %>
      <% for trip in @trips %>
        <%= render 'shared/trip_summary', :locals => {:trip => trip, :show_description => true} %>
      <% end %>
    <% else %>
      <p><%= t('search_trip.index.label.no_result') %></p>
      <p class="blue-link"><%= raw t('search_trip.index.label.no_result_instruction', :link => (link_to t('general.here'), new_seek_path)) %></p>
    <% end %>
  </div>
  <div style="text-align: center">
    <%= will_paginate(@trips, :params => params) %>
  </div>
</div>