<% reputation = locals[:reputation] %>
<% giver = reputation.giver %>
<div class="reputation text-01">
  <div class="reputation-profile-picture"><%= image_tag giver.avatar.url(:thumb), :align => 'center' %></div>
  <div class="reputation-details">
    <div><%= t('reputation.label.giver') %>: <span class="blue-link"><%= link_to giver.username, profile_path(giver.username) %></span>, <i><%= l(reputation.created_at) %> - <%= date_age_in_words reputation.created_at %></i></div>
    <div class="reputation-body"><%= reputation.body %></div>
  </div>
</div>
