<% page_title t('reputation.heading.positive') %>
<div class="content-left">
  <div class="heading-grey" style="padding-top: 10px; padding-bottom: 10px"><%= t('reputation.heading.positive') %></div>
  <%= render 'form', :locals => {:user_id => @user}%>
</div>


