<% page_title t('home.index.title') %>
<table width="100%" cellspacing="0" cellpadding="0" border="0" class="text-title-01">
  <tbody>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2" style="text-align: center"><span class="slogan"><%= t('general.slogan') %></span></td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td width="50%">
      <div class="form-border" style="padding-top: 20px; padding-bottom: 20px; margin-left: 55px; width: 80%; height: 80px;">
        <div class="header01" style="text-align: center"><%= t('home.index.label.bistiper') %></div>
        <div class="blue-link home-action"><%= link_to t('home.index.label.bistiper_action'), new_trip_path, :class => 'large white awesome' %></div>
      </div>
    </td>
    <td width="50%">
      <div class="form-border" style="padding-top: 20px; padding-bottom: 20px; margin-left: 35px; width: 80%; height: 80px;">
        <div class="header01" style="text-align: center"><%= t('home.index.label.wanted_bistiper') %></div>
        <div class="blue-link home-action"><%= link_to t('home.index.label.wanted_bistiper_action'), search_trip_path, :class => 'large white awesome' %></div>
      </div>
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <% if !logged_in? %>
      <tr>
        <td colspan="2" align="center">
          <div style="background-position: center; width:100%; padding-top: 10px; padding-bottom: 10px; background-repeat:no-repeat;">
            <div class="header-mid-text blue-link">
              <%= raw t('home.index.label.middle',
                        :how => (link_to t('content.link.how'), how_path),
                        :guide => (link_to t('content.link.guide'), guide_path),
                        :faq => (link_to t('content.link.faq_short'), faq_path)) %></div>
          </div>
        </td>
      </tr>
  <% end %>
  <tr>
    <td colspan="2">
      <div class="horizontal-separator">
        <span class="left"></span>
        <span class="right"></span>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="2" style="text-align: center">
      <span style="margin-bottom: 20px;" class="more-info"><%= t('home.index.label.more') %></span></td>
  </tr>
  <tr>
    <td colspan="2" style="text-align: center">
      <div class="new-box-container">
        <%= link_to rekber_path, :class => 'new-box rekber-box' do %>
            <h3 style="text-shadow: 0 0 1px #7E7E7E;"><%= t('home.index.label.rekber') %></h3>
            <span style="text-shadow: 0 0 1px #7E7E7E;"><%= t('home.index.label.rekber_desc') %><br/>&nbsp;</span>
          <% end %>
          <%= link_to forums_path, :class => 'new-box forum-box' do %>
            <h3 style="text-shadow: 0 0 1px #7E7E7E;"><%= t('home.index.label.forum') %></h3>
            <span style="text-shadow: 0 0 1px #7E7E7E;"><%= t('home.index.label.forum_desc') %><br/>&nbsp;</span>
        <% end %>
        <%= link_to top_influencer_path, :class => 'new-box influencer-box' do %>
            <h3 style="text-shadow: 0 0 1px #7E7E7E;"><%= t('home.index.label.influencer') %></h3>
            <span style="text-shadow: 0 0 1px #7E7E7E;"><%= t('home.index.label.influencer_desc') %><br/>&nbsp;</span>
        <% end %>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="2" align="center">
      <div style="padding-top: 20px; padding-bottom: 20px;">
        <div style="padding-bottom: 1px"><b><i>&nbsp;</i></b></div>
        <div id="fb-root"></div>
        <script src="http://connect.facebook.net/en_US/all.js#appId=113536205400277&amp;xfbml=1"></script>
        <fb:like href="facebook.com/bistip" send="true" layout="button_count" width="50" show_faces="false" font=""></fb:like>
        <iframe allowtransparency="true" frameborder="0" scrolling="no" align="middle"
                src="http://platform.twitter.com/widgets/follow_button.html?screen_name=bistip&show_count=true"
                style="width:180px; height:34px;"></iframe>
        <!-- Place this tag in your head or just before your close body tag -->
        <script type="text/javascript" src="http://apis.google.com/js/plusone.js"></script>
        <!-- Place this tag where you want the +1 button to render -->
        <g:plusone href="www.bistip.com" size="small"></g:plusone>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <div class="trending-item blue-link" style="text-align: center;">
        <b><%= t('home.index.label.trending_item') %></b>
        <% TrendingItem.get_all.each do |trending_item| %>
            <%= link_to trending_item.item, trending_item_lookup_path(:item => trending_item.item) %>
        <% end %>
      </div>
    </td>
  </tr>
  <tr>
    <td rowspan="3">
      <div style="width: 400px; margin-left: 26px; margin-right: 15px; padding-left: 50px; padding-top: 10px; ">
        <div class="header01" style="text-align: center; padding-bottom: 20px;"><%= t('home.index.label.bistipers') %>
          - <%= link_to search_trip_path do %>
              <%= image_tag "search_icon.jpg", :border => 0, :align => 'absmiddle' %>
          <% end %>
        </div>
        <% if @trips.size > 0 %>
            <script type="text/javascript">
                $(document).ready(function() {
                    $('#slider1').bxSlider({
                        displaySlideQty: 3,
                        moveSlideQty: 1,
                        pager: 'false',
                        mode: 'vertical',
                        auto: true,
                        pause: 6000,
                        autoHover: true,
                        pager: false,
                        controls: false
                    });
                });
            </script>
            <ul style="margin: 0; padding: 0; width: 100%" id="slider1">
              <% for trip in @trips %>
                  <li>
                    <%= render 'shared/trip_summary', :locals => {:trip => trip} %>
                  </li>
              <% end %>
            </ul>
        <% else %>
            <div><%= t('home.index.label.no_result') %></div>
        <% end %>
      </div>
    </td>
    <td>
      <%= render 'shared/route_tag_cloud' %>
    </td>
  </tr>
  <tr>
    <td>
      <div class="home-testimonial">
        <div class="header01" style="text-align: center; padding-bottom: 20px;"><%= t('home.index.label.testimonial_heading') %></div>
        <% testimonials = Testimonial.random(1) %>
        <% if testimonials.size > 0 %>
            <% testimonial = Testimonial.random(1)[0] %>
            <% body = testimonial.body %>
            <% body = body.slice(0, 150) + '...' if body.length > 150 %>
            <div class="home-testimonial-text">
              <div>"<%= body %>"</div>
            </div>
        <% end %>
        <div class="home-testimonial-instruct blue-link"><%= raw t('home.index.label.testimonial_instruction', :index => link_to(t('home.index.label.testimonial_link'), testimonials_path), :href => link_to(t('general.here'), new_contact_us_path(:subject => t('contact_us.new.link.testimonial')))) %></div>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td style="text-align: center" colspan="2">
      <%= link_to media_path do %>
          <%= image_tag 'media.png', :border => 0 %>
      <% end %>
    </td>
  </tr>
  </tbody>
</table>
