<% escrow = locals[:escrow] %>
<% if current_user.eql?(escrow.seller) %>
<%= form_tag seller_received_payout_escrows_path do %>
    <%= hidden_field_tag :escrow_id, escrow.id %>
    <%= submit_tag t('escrow.actions.bistip_released_seller_payout.seller_received_payout') %>
  <% end %>
<% end %>