<div class="content-left"
  <div class="header01"><%= t('registered.label.whats_next') %></div>
  <div class="registered-box text-01">
    <div class="registered-header"><%= t('registered.label.get_reccomendation')%></div>
    <div class="registered-indent"><%= t('registered.label.share_recommend_link')%> <%= text_field_tag 'recommend', generate_recommend_url(current_user), :size => 50, :class => 'textbox-01', :readonly => 'readonly' %></div>
    <div style="padding-left: 145px; padding-top: 10px;">
      <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
        <a class="addthis_button_facebook" addthis:url="<%= generate_recommend_url(current_user) %>" addthis:title="<%= generate_recommend_title(current_user) %>"></a>
        <a class="addthis_button_twitter" addthis:url="<%= generate_recommend_url(current_user) %>" addthis:title="<%= generate_recommend_title(current_user) %>"></a>

        <script type="text/javascript">
          var addthis_config = {"data_track_clickback":true};
        </script>
        <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4d71069d1b32853e"></script>
        <script type="text/javascript" src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
        <fb:send href="<%= generate_recommend_url(current_user) %>" font="arial"></fb:send>
      </div>
    </div>
  </div>
  <div class="registered-box">
    <div class="registered-header"><%= t('registered.label.call_action')%></div>
    <table width="100%">
      <tr>
        <td width="50%">
          <div class="form-border" style="padding-top: 20px; padding-bottom: 20px; margin-left: 55px; width: 80%; height: 80px;">
            <div class="header01" style="text-align: center"><%= t('home.index.label.bistiper') %></div>
            <div class="blue-link home-action"><%= link_to t('home.index.label.bistiper_action'), new_trip_path, :class => 'large white awesome' %></div>
          </div>
        </td>
        <td width="50%">
          <div class="form-border" style="padding-top: 20px; padding-bottom: 20px; margin-left: 35px; width: 80%; height: 80px;">
            <div class="header01" style="text-align: center"><%= t('home.index.label.wanted_bistiper') %></div>
            <div class="blue-link home-action"><%= link_to t('home.index.label.wanted_bistiper_action'), search_trip_path, :class => 'large white awesome' %></div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>

