<div style="font: normal 14px Helvetica, Arial, sans-serif; line-height: 19px; color: #333;">
  Welcome to Bistip.com!<br/><br/>
  To activate your account please follow the link below:
</div>
<br/>
<div style="font: normal 12px Helvetica, Arial, sans-serif; line-height: 19px; color: #333;">
  <a href="<%= @email_validation_url %>"><%= @email_validation_url %></a>
</div>
<br/>
<div style="font: normal 14px Helvetica, Arial, sans-serif; line-height: 19px; color: #333;">
  You have received this email because you/someone else had opened a Bistip.com account with this email address. <br/>
  If you think this is a mistake, please ignore this email.
</div>