<%= form_for([@forum, @topic]) do |f| %>
  <table class="forum_form">
    <tr>
      <td class="forum_form_label"><%= t('topic.new.label.title') %></td>
      <td class="forum_form_value"><%= f.text_field :title, :size => 50, :class => 'textbox-01' %></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <% if @topic.new_record? %>
      <tr>
        <td class="forum_form_label"><%= t('topic.new.label.first_post') %></td>
        <%= enable_character_counter('first_post_body', Post::BODY_MAXIMUM_LENGTH) %>
        <td class="forum_form_value">
          <textarea class="textarea-01" cols="70" rows="10" id="first_post_body" name="first_post_body"><%= @first_post.body %></textarea>
        </td>
      </tr>
    <% end %>
    <tr>
      <td>&nbsp;</td>
      <td><%= t('forum.html_instruction') %></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>
        <%= f.submit t('button.send'), :class => 'defaultButton' %><%= link_to t('button.cancel'), forum_path(@forum), :class => 'cancelLink' %>
      </td>
    </tr>
  </table>
<% end %>
