<% page_title t('login.label.heading') %>
<div class="content-middle-graphic-background">
  <%= form_tag session_path do %>
    <table width="550" cellspacing="0" cellpadding="5" border="0" class="text-01">
      <tbody>
        <tr>
          <td class="text-orange" style="text-align: center;" colspan="2"><%= t('login.label.heading') %></td>
        </tr>
        <tr>
          <td style="text-align: right;">&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td style="text-align: right;"><%=  t('login.label.email_or_username') %></td>
          <td><%= text_field_tag :email_or_username, nil, :class => 'textbox-01' %></td>
        </tr>
        <tr>
          <td style="text-align: right;"><%= t('login.label.password') %></td>
          <td><%= password_field_tag :password, nil, :class => 'textbox-01' %></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>
            <%= submit_tag t('button.submit'), :class => 'button-register' %> / <%= link_to t('button.cancel'), root_path %>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td style="text-align: right; vertical-align: top"><span class="blue-link"><%= link_to t('password.forgot.link'), reset_password_path %></span></td>
          <td style="vertical-align: middle">
            
            <span style="width: 70px; vertical-align: top" class="buttonlink-red">
              <%= link_to t('layout.link.register'), new_user_path %>
            </span>
            <span>
              <%= popup_auth("fbconnect2","/auth/facebook") %>
              <%= content_tag :button, :type=> "button", :class => 'facebook-login', :id => "fbconnect2" do %>
                <%=  image_tag "facebook_32.png", :border => 0 %>
              <% end %>
              <%= link_to "/auth/twitter" do %>
                <%= image_tag 'twitter_32.png', :border => 0 %>
              <% end %>
            </span>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>