<% if logged_in? and current_user == @user %>
  <% if current_user.need_to_complete_profile? || current_user.received_positive_reputations.size == 0 %>
    <div class="panel-blue top_panel">
      <% if current_user.need_to_complete_profile? %>
        <div class="alert blue-link"><%= link_to t('user.reminder.complete_profile'), edit_user_path(current_user), :class => 'user-reminder' %></div>
      <% end %>
      <% if current_user.received_positive_reputations.size == 0 %>
        <div class="alert blue-link"><%= link_to t('user.reminder.get_recommendation'), get_recommendation_path, :class => 'user-reminder' %></div>
      <% end %>
    </div>
  <% end %>
<% end %>