<% page_title t('dashboard.index.title') %>
<div id="dash" class="content-left text-01">
  <div class="left-section panel-blue">
    <%= render 'shared/left_menu' %>
  </div>
  <div class="main-section">
    <%= render 'quick_action' %>
    <div style="padding-top: 5px;"></div>
    <%= render 'mid_section' %>
  </div>
</div>