<% page_title t('reputation.index.positive.heading') %>
<div id="dash" class="content-left text-01">
  <div class="left-section panel-blue">
    <%= render 'shared/left_menu' %>
  </div>

  <div class="main-section">
    <div class="panel-blue" style="padding-bottom: 15px;">
      <%= render 'shared/positive_reputations' %>
    </div>
  </div>
</div>