<% page_title t('seek.index.link') %>
<%= render 'shared/left_menu' %>
<div class="text-01">
  <table id="seeks">
    <tbody id="seeks">
      <% if @seeks.size > 0 %>
        <% for seek in @seeks %>
        <%= render 'shared/seek_row', :locals => {:seek => seek, :write => true} %>
      <% end %>
      <% else %>
        <i><%= t('seek.index.no_result') %> </i>
      <% end %>
    </tbody>
  </table>
  <div style="text-align: center;">
    <%= will_paginate(@seeks) %>
  </div>
</div>
