$("#seeks").append("<% for seek in @seeks %><%= escape_javascript(render 'shared/seek_row', :locals => {:seek => seek, :write => true}) %><% end %>");
$("#seeks_pagination").html("<%= escape_javascript(will_paginate(@seeks, :renderer => TwitterPagination::LinkRenderer, :id => 'seeks_pagination')) %>");