<% page_title t('error.exception.heading') %>
<div class="exception">
  <div class="dialog">
    <h1><%= t('error.exception.heading') %></h1>
    <p><%= t('error.exception.body') %></p>
  </div>
</div>