<h4 class="reviewHeader">
  <span class="textGreen">
    <%= image_tag 'icon-thumbs-up.png', :alt => "Thumbs up", :size => "10x14" %>
    <%= t('user.field.label.positive_review') %>
    <span class="counter"><%= user.received_positive_reviews.count %></span>
  </span>
  &nbsp;&nbsp;
  <span class="textRed">
    <%= image_tag 'icon-thumbs-down.png', :alt => "Thumbs up", :size => "10x14" %>
    <%= t('user.field.label.negative_review') %>
    <span class="counter"><%= user.received_negative_reviews.count %></span>
  </span>
</h4>