<% trip = locals[:trip] %>
<% origin_city = trip.origin_city %>
<% destination_city = trip.destination_city %>
<div class="routeDisplay bgBlue">
  <%= render 'shared/city', :locals => {:city => trip.origin_city} %>
  &nbsp;<strong>&gt;</strong>&nbsp;
  <%= render 'shared/city', :locals => {:city => trip.destination_city} %>
</div>
<div class="periodDisplay bgYellow">
  <% if trip.routine %>
    <strong><%= t("week_period.#{trip.period}") %></strong>
    <br/>
    <span class="weekDays"><%= trip.week_days_for_display %></span>
  <% else %>
    <strong><%= l(trip.departure_date) %></strong>
  <% end %>
  <% unless trip.arrival_date.blank? %>
    <br/>
    <span class="arrivalDate"><%= t('trip.field.label.arrival_date') %> <%= l(trip.arrival_date) %></span>
  <% end %>
</div>