<%= render 'shared/static_menu' %>
<% page_title t('content.link.point') %>
<div class="col9">
  <h2><%= t('content.link.point') %></h2>
  <p align="center"><%= image_tag 'point-banner.png', :class => 'defaultShadow' %></p>
  <h3 class="textBlack">How to get Bistip Point?</h3>

   <ul>
    <li>For every click of the route's link you've shared in your network : <strong>1 point</strong></li>
    <li>For every approved story posted in <%= link_to t('stories.general.heading'), stories_path, :target => '_blank' %> (without a picture): <strong>20 points</strong></li>
    <li>For every approved story with a picture : <strong>30 points</strong></li>
    <li>For every approved item suggestion : <strong>5 points</strong></li>
    <li>For every approved item suggestion with picture(s) : <strong>10 points</strong></li>
   </ul>

  <h3 class="textBlack">What can i do with the points?</h3>
  <p>
    Exchange <strong>80 points</strong> with cashback of <strong>USD 20</strong> for any SafePay usage with minimum transaction value of <strong>Rp 500.000</strong> or <strong>USD 50</strong>. Valid for SafePay initiated from <strong>13 April - 13 May 2012</strong>.
  </p>
  <p>
    * You can claim for cashback multiple times but you can only cashback claim once for a SafePay with the same traveler.
  </p>
  <h3 class="textBlack">Where can i see my points?</h3>
  <p>
    Go to <%= link_to t('dashboard.link.general'), dashboard_path, :target => '_blank' %> to see your latest Bistip Points.
  </p>

</div>
