<% flash.each do |key, msg| %>
  <% if msg.is_a?(Array)%>
    <div id="<%= key %>">
      <% msg.each do |m| %>
        <p><%= raw(m) %></p>
      <% end %>
    </div>
  <% else %>
    <div id="<%= key %>">
      <p><%= raw(msg) %></p>
      <div class="clear"></div>
    </div>
  <% end %>
<% end %>

