<% url = locals[:url] %>
<% title = locals[:title] %>

<!-- Social share BEGIN -->
<script>
function fbs_click(u,t) {
window.open('http://www.facebook.com/sharer.php?u='+encodeURIComponent(u)+'&t='+encodeURIComponent(t),'sharer','toolbar=0,status=0,width=626,height=436');return false;
}
</script>
<a href="http://www.facebook.com/share.php?u=<url>" onclick="return fbs_click('<%= url %>', '<%= title %>')" target="_blank"><%= image_tag 'facebook-share-icon.gif', :border => 0%></a>

<a href="http://twitter.com/share" class="twitter-share-button" data-url="<%= url %>" data-count="none" data-via="bistip">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:send href="<%= url %>" font="arial"></fb:send>

<!-- Social share END -->