<p>Ada masukan dari pengguna, berikut detail nya:</p>

<table>
  <tr>
    <td>Nama/Username</td>
    <td><%= @name %></td>
  </tr>
  <tr>
    <td>Email</td>
    <td><%= @email %></td>
  </tr>
  <tr>
    <td>Tentang</td>
    <td><%= @topic %></td>
  </tr>
  <tr>
    <td>Isi Pesan</td>
    <td><%= simple_format @content %></td>
  </tr>
</table>
