<%  tx = locals[:transaction]%>
<% trip = tx.trip %>
<%= tx.id %>
<%#= trip.id %>
<fieldset style="border-radius:5px;background-color: #EBF3F7;">
  <legend style="border-radius:3px;border: thin solid #035088;background: #035088;color: white;font-weight: bold;">Transaction summary :</legend>
  
  Yang ingin menitip :&nbsp;<span class="blue-link"><%= link_to tx.wanted_bistiper.username, profile_path(tx.wanted_bistiper.username) %></span><br/>
  Status:&nbsp;
  <%if tx.status? %>
    approved
  <% else %>
    waiting approval
  <% end %>
 <br/>
 Transaction code :&nbsp;<strong><%= tx.transaction_code %></strong>
 <div style="width:100%;text-align: right">
   <span class="buttonlink-blue" style="width: 20%">
     <%=link_to 'DETAIL',edit_trip_transaction_path(trip.id, tx.id)%>
   </span>
 </div>
</fieldset>
