<% page_title t('recommend.get_recommendation.title') %>
<div id="dashboard">
  <%= render 'dashboard/reminder' %>

  <div class="col4">
    <h4><%= t('recommend.get_recommendation.label.header')%></h4>
    <br/>
    <p>
      <%= t('registered.label.share_recommend_link')%>&nbsp;
      <%= text_field_tag 'recommend', generate_recommend_url(current_user), :size => 50, :readonly => 'readonly' %>
    </p>
    <div class="socialShare">
      <a class="addthis_button_facebook socialButton" addthis:url="<%= generate_recommend_url(current_user) %>" addthis:title="<%= generate_recommend_title(current_user) %>"><img src="/images/social/fb-24.png" height="24" border="0" alt="Share to Facebook"/></a>
      <a class="addthis_button_twitter socialButton" addthis:url="<%= generate_recommend_url(current_user) %>" addthis:title="<%= generate_recommend_title(current_user) %>"><img src="/images/social/tw-24.png" height="24" border="0" alt="Share to Facebook"/></a>
      <script type="text/javascript">
        var addthis_share = {
          templates: { twitter: '{{title}} {{url}} via @bistip' }
        }
        var addthis_config = {"data_track_clickback":true};
      </script>
      <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4d71069d1b32853e"></script>
    </div>
  </div>
</div>
<%= render 'dashboard/menu' %>
