<div style="font: normal 14px Helvetica, Arial, sans-serif; line-height: 19px; color: #333;">
  <p>You have just initiated SafePay transaction with <%= @escrow.seller.username %> for <%= @escrow.item %>.</p>
  <p>Amount that you need to transfer is as follow:</p>
  <table>
    <tr>
      <td>Amount to transfer:&nbsp;&nbsp;</td>
      <td><strong><%= @escrow.amount_after_fee_with_currency %></strong></td>
    </tr>
    <tr>
      <td valign="top">Transfer to:</td>
      <td>
        <strong>Bank Central Asia (BCA)</strong><br/>
        <strong>PT. AFILIASI KONTENINDO JAYA</strong><br/>
        <strong>8780188988</strong>
      </td>
    </tr>
    <tr>
      <td>Kolom berita:</td>
      <td>
        <strong><%= @escrow.bank_transfer_notes %></strong>
      </td>
    </tr>
  </table>
  <br/>
  <p>To speed up checking process, you can inform us or attach your transfer receipt by replying to this email.</p>
</div>