<div style="font: normal 14px Helvetica, Arial, sans-serif; line-height: 19px; color: #333;">
<%= @vote.user.username %> likes your <%= link_to @vote.suggested_item.name, suggested_item_url(@vote.suggested_item) %> post.
</div>