<div style="font: normal 14px Helvetica, Arial, sans-serif; line-height: 19px; color: #333;">

  <%= @commentator.username %> commented on your request post:
  <blockquote>
    <strong><i><%= simple_format @content %></i></strong>
  </blockquote>
  <br/>
  <b>QuickComment!</b> <a href="<%= "mailto:#{@reply_addr}" %>">Reply this email</a> to post comment reply to <%= @commentator.username %>.
  <br/>
  <br/>
  Or you can view the comment through the link below:
  <br/>
  <%= auto_link(@seeks_show_url) %>

</div>