<% page_title t('search_trip.index.label.heading') %>
<div class="content-left text-01">
  <div class="table-half-page">
    <div style="padding-bottom: 10px;" class="heading-text-orange"><%= t('search_trip.index.label.heading') %></div>
    <table width="100%" cellspacing="0" cellpadding="5" border="0" align="center" class="text-01">
      <tbody>
        <tr>
          <td colspan="3"><b><%= t('search_trip.index.label.intro') %></b></td>
        </tr>
        <tr>
          <td width="33%">
            <%= location_auto_complete_js 'origin' %>
            <%= t('trip.field.label.origin') %>
          </td>
          <td width="3%">&nbsp;</td>
          <td width="64%">
            <%= text_field_tag 'origin', params[:origin], :size => 30, :class => 'textbox-01' %>
          </td>
        </tr>
        <tr>
          <td>
            <%= location_auto_complete_js 'destination' %>
            <%= t('trip.field.label.destination') %>
          </td>
          <td>&nbsp;</td>
          <td>
            <%= text_field_tag 'destination', params[:destination], :size => 30, :class => 'textbox-01' %>
          </td>
        </tr>
        <tr>
          <td>
            <%= t('trip.field.label.departure_date') %>
          </td>
          <td>&nbsp;</td>
          <td>
            <% DatePredicate::ALL.each do |departure_date_predicate| %>
              <%= radio_button_tag 'departure_date_predicate', departure_date_predicate, params[:departure_date_predicate] == departure_date_predicate, :readonly => 'readonly' %>
              <%= t(departure_date_predicate, :scope => 'date_predicate') %><br/>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>
            <i>Untuk mencari Rute Jalan Rutin, kosongkan tanggal berangkat</i>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>
            <%= date_picker_js 'departure_date' %>
            <%= text_field_tag 'departure_date', params[:departure_date], :size => 30, :readonly => "readonly", :class => 'textbox-01' %>
            <%= render_link_to_clear_a_field('departure_date') %>
          </td>
        </tr>
        <tr>
          <td><%= t('search_trip.index.label.notes') %></td>
          <td>&nbsp;</td>
          <td>
            <%= text_field_tag 'notes', params[:notes], :size => 30, :class => 'textbox-01' %>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td align="left">
            <div style="padding-top: 4px;" class="buttonlink-blue">
              <a href="javascript:buildSearchTripURL()">Search</a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="table-half-page">
    <div style="text-align: left; padding-bottom: 10px;" class="heading-text-orange"><%= t('search_trip.index.label.result') %></div>
    <div id="trips">
      <% if @trips.size > 0 %>
        <% for trip in @trips %>
          <%= render 'shared/trip_summary', :locals => {:trip => trip, :show_description => true} %>
        <% end %>
      <% else %>
        <%= t('search_trip.index.label.no_result') %>
      <% end %>
    </div>
    <div style="text-align: center">
      <%= will_paginate(@trips, :renderer => TwitterPagination::LinkRenderer, :id => 'trips_pagination') %>
    </div>
  </div>
</div>