<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Bistip Team,</p>
    <%= yield %>
    <p>Regards</p>
  </body>
</html>
