<div style="font: normal 14px Helvetica, Arial, sans-serif; line-height: 19px; color: #333;">
  <%= @sender.username %> sent you a message on <%= l(@created) %> :
  <blockquote>
    <strong><i><%= simple_format @content %></i></strong>
  </blockquote>
  <br/>
  You can view the message through the link below:
  <br/>
  <%= auto_link(user_messages_url(@user)) %>
</div>