<%= render 'shared/event_left_menu' %>
<div class="col9">

  <h2>Bistipes</h2>

  <h3 class="textBlack">Gratis nitip Rute: Jakarta > Singapura > Jakarta!</h3>

  <p align="center">
    <%= image_tag 'events/bistipes.png', :class => 'defaultShadow' %>
  </p>

  <h3 class="textBlack">Siapa sih Bistipes?</h3>

  <p>
    Aku adalah manusia yang dipercaya untuk menjalankan tugas mulia yaitu <strong>dititipin gratis tanpa tip!</strong>.
  </p>

  <h3 class="textBlack">Jadwal dan Rute Bistipes</h3>

  <p>
    Rencananya Bulan <strong>Agustus 2011</strong> ini aku mau ke <strong>Singapura</strong> dari <strong>Jakarta</strong>, berangkat
    tanggal
    <strong>13 Agustus 2011</strong>
    dan balik lagi ke Jakarta tanggal <strong>15 Agustus 2011</strong>. Jadi kalo pengen nitip gratis barang dari
    Singapura, inilah saatnya.
  </p>

  <p>
    Yang mau nitip bisa liat rute perjalananku:
  </p>
  <ul>
    <li><%= link_to 'Jakarta > Singapura', 'http://www.bistip.com/trips/514', :target => '_blank' %></li>
    <li><%= link_to 'Singapura > Jakarta', 'http://www.bistip.com/trips/515', :target => '_blank' %></li>
  </ul>

  <p>
    Aku gak bisa bawain yang berat-berat ya, namanya juga backpacker :D
  </p>

  <p>
    Tertanda,
  </p>

  <p>
    Bistipes
  </p>

</div>