<%= render 'shared/event_left_menu' %>
<div class="col9">

  <h2>Kompetisi Slogan</h2>

  <p>
    <strong>Halaman Arsip</strong>
    : <%= link_to 'Kompetisi Slogan', 'http://www.bistip.com/contests/slogan/competition.html', :target => '_blank' %>
  </p>

  <p>
    Sejak tanggal 23 Maret 2011 hingga 11 April 2011 , bistip.com mengadakan kompetisi slogan bistip.
  </p>

  <p>
    Sedikit laporan angka , slogan yang masuk totalnya kurang lebih 400 slogan . Kenapa ada kata “kurang lebih” ? karena
    masih ada slogan yang masuk walaupun kompetisi telah usai :D .
  </p>
  <%= image_tag('http://media.tumblr.com/tumblr_ljod1ho4Dm1qgyb0b.png') %>
  <p>
    Dan pemenang dari lomba slogan bistip ada dua, pemenang utama dan favorit. Pemenang utama adalah pemenang hasil
    pilihan PDB ( Partai Demokrasi Bistip ) dan pemenang favorit adalah hasil voting dari rakyat untuk bistip :p di
    http://voteslogan.bistip.com . Mereka adalah :
  </p>
  <ul>
    <li>Pemenang Utama: <strong>"Nitip dapat barang, dititip dapat
      tip"</strong> <%= link_to 'Stefan Saint', 'http://www.facebook.com/profile.php?id=1287692415', :target => '_blank' %>
    </li>
    <li>Pemenang Favorit: <strong>"When trip get
      tip"</strong> <%= link_to 'Wahyu Winarno', 'http://www.facebook.com/wahyuwino', :target => '_blank' %></li>
  </ul>
  <p>
    Slogan pemenang utama kami jadikan slogan kami saat ini yaitu
    <strong>"Nitip dapat barang, dititip dapat tip"</strong> dan untuk
    slogan
    bistip.com dalam Bahasa Inggris yaitu <strong>"Get tip for your tip"</strong> adalah slogan yang terinspirasi dari
    pemenang favorit
    :).
  </p>

  <p>
    Ucapan terima kasih kami sampaikan kepada teman-teman yang meluangkan waktu untuk ikut serta meramaikan kompetisi
    ini
    dengan segala ide kreatifnya yang ditumpahkan dalam bentuk slogan bistip.com baik di facebook maupun twitter. Sekali
    lagi terima kasih kami , we love you guys ;)
  </p>

</div>

</div>