<% page_title t('content.link.how') %>
<div class="col12">

  <h2><%= t('content.link.how') %></h2>

  <h3 class="textBlack">Mau tahu cara kerja Bistip? coba lihat illustrasi di bawah ini...</h3>

  <p class="alignCenter">
    <%= image_tag 'instruct-id.png', :alt => 'Cara Kerja Bistip' %>
  </p>

  <p>
    *Untuk tips dalam penggunaan BisTip.com, silakan <%= link_to 'klik di sini', guide_path %> untuk membaca Tips &amp;
    Tata Cara.
  </p>

</div>

<div class="col12 bgGrey defaultRound alignCenter">

  <div style="margin: 0px auto;">
    <iframe width="680" height="417" src="http://www.youtube.com/embed/Z8PjdD_zzJc" frameborder="0" allowfullscreen></iframe>
  </div>

</div>


<br clear="all"/>
<div class="divider"></div>

<div class="col6 bgLightYellow defaultRound">

  <h3 class="textBlack nomargin">Contoh Skenario Titip Menitip di BisTip.com</h3>

  <ol class="tips">
    <li><p>Amy adalah seorang kolektor perangko yang bertempat tinggal di Jakarta. Amy ingin menambah koleksinya dengan
    perangko yang berasal dari Jepang.</p></li>
    <li><p>Melalui bistip Amy menemukan Bob yang akan melakukan perjalanan dari Tokyo ke Jakarta.</p></li>
    <li><p>Amy meminta Bob untuk membelikan perangko di Tokyo dan membawakannya ke Jakarta. Negosiasi pun terjadi diantara
    mereka mengenai detail barang, harga dan tip yang akan diberikan.</p></li>
    <li><p>Amy dan Bob bertemu di Jakarta untuk bertukar perangko dan biayanya.</p></li>
  </ol>

</div>

<div class="col6">

  <h4>Apa itu Bistiper?</h4>

  <p>Bistiper adalah pengguna yang bisa dititipi barang.</p>

  <h4>Bagaimana cara untuk menjadi Bistiper?</h4>

  <p><%= link_to 'klik di sini', new_trip_path %> untuk membuat rute jalan baru.</p>

  <h4>Bagaimana cara untuk menitip barang?</h4>

  <p><%= link_to 'klik di sini', search_trip_path %> untuk mencari rute jalan yang tersedia.</p>

  <p>
    Untuk FAQ yang lebih lengkap, silakan <%= link_to 'klik di sini', faq_path %>.
  </p>

</div>