<% page_title t('content.link.new') %>
<div class="text-01 blue-link">
  <h2><%= t('content.link.new') %></h2>

  <p>In here you can find news about Bistip.com :)</p>
  <h3>Friday, 13 May 2011 - Forum, RekeningBersama.com, and Influencer (blog post coming soon!)</h3>
  <h3><%= link_to 'Friday, 19 April 2011 - Bistip.com Homepage Tweak', 'http://blog.bistip.com/post/5033092835/ui-tweak-di-bistip-com-bagaimana-menurut-kalian', :target => '_blank' %></h3>
  <h3><%= link_to 'Wednesday, 14 April 2011 - Routine Trip (Perjalanan Rutin) and English version (beta)', 'http://blog.bistip.com/post/4624714315/fitur-baru-i18n-internationalization-beta-dan', :target => '_blank' %></h3>
  <h3><%= link_to 'Saturday, 2 April 2011 - Bistip for Mobile', 'http://blog.bistip.com/post/4281724123/bistip-com-sekarang-ada-di-perangkat-mobile-d', :target => '_blank' %></h3>
  <h3><%= link_to 'Sunday, 25 March 2011 - Twitter login and Interface enhancement', 'http://blog.bistip.com/post/4083879085/twitter-login-dan-optimasi-beberapa-fitur-bistip', :target => '_blank' %></h3>
  <h3><%= link_to 'Sunday, 25 March 2011 - Bistip.com slogan Competition!', 'http://blog.bistip.com/post/4083639193/kompetisi-slogan-bistip-com', :target => '_blank' %></h3>
  <h3><%= link_to 'Sunday, 21 March 2011 - Bistip team @ FOWAB', 'http://blog.bistip.com/post/3998653162/bistip-com-ikutan-10-by-10-di-fowab-5-bandung', :target => '_blank' %></h3>
  <h3><%= link_to 'Monday, 21 March 2011 - Facebook login, Search through Notes field, and Profile friendly URL', 'http://blog.bistip.com/post/3998138476/fitur-baru-facebook-login-pencocokan-pencarian', :target => '_blank' %></h3>
  <h3><%= link_to 'Sunday, 13 March 2011 - Frequently Asked Questions', 'http://blog.bistip.com/post/3824711635/frequently-asked-questions', :target => '_blank' %></h3>
  <h3><%= link_to 'Sunday, 11 March 2011 - Bistip.com launched!', 'http://blog.bistip.com/post/3780490799/bistip-com-launched', :target => '_blank' %></h3>
</div>
