<% parent = @item.parent %>
<% user = @item.user %>

<p>
  <% if logged_in? %>
    <% if current_user.sent_messages.find_all_by_item_id(@item.id).any? %>
      <%= link_to message_path(:id => current_user.sent_messages.find_all_by_item_id(@item.id).first.id), :class => "btnAction" do %>
        <%= image_tag 'icon-email-bistiper.png', :size => "22x14" %>&nbsp;
        <%= t('message.link.trip_contacted', :username => user.username) %>
      <% end %>
      <br/>
    <% elsif (user != current_user) %>
      <%= link_to new_message_path(:user => user.username, :item_id => @item.id, :trip_id => @item.trip_id, :seek_id => @item.seek_id), :class => "btnAction" do %>
        <%= image_tag 'icon-email-bistiper.png', :size => "22x14" %>&nbsp;
        <%= t('message.link.offer_item', :item => @item.name, :name => user.username) %>
      <% end %>
      <br/>
    <% end %>
  <% else %>
    <%= link_to new_message_path(:user => user.username, :item_id => @item.id, :trip_id => @item.trip_id, :seek_id => @item.seek_id), :class => "btnAction" do %>
      <%= image_tag 'icon-email-bistiper.png', :size => "22x14" %>&nbsp;
      <%= t('message.link.offer_item', :item => @item.name, :name => user.username) %>
    <% end %>
    <br/>
  <% end %>
</p>