<% if @item.offer_method == ItemOfferMethod::TIP %>
  <div class="tipDisplay bgYellow">
    <%= t('item.show.label.tip') %><br/>
    <span class="number"><%= @item.tip_with_unit %></span>
  </div>
<% elsif @item.offer_method == ItemOfferMethod::SELL_PRICE %>
  <div class="tipDisplay bgYellow">
    <%= t('item.show.label.price') %><br/>
    <span class="number"><%= @item.price_with_unit %></span>
  </div>
<% end %>
