<%= page_title @item.desc_string %>
<%= meta_description "#{@item.desc_string} #{@item.trip.to_desc}" %>
<%= meta_keywords @item.keywords_string %>

<div class="col12">
  <h2><%= t('item.show.label.heading') %></h2>
</div>
<div class="col8 bgLightGreen defaultRound">
  <div id="viewItemOffer">
    <div class="avatar">
      <% url = @item.first_picture(:original) %>
      <%= image_tag url, :size => '125x125', :class => "photo bgWhite" %>
      <div class="adminTools">
        <% if logged_in? and @item.user == current_user %>
          <%= link_to t('item.edit.link'), @item.edit_path %>
        <% end %>
      </div>
    </div>

    <div class="info">
      <% unless @item.parent.active? %>
        <div class="notificationBar red">
          <%= t('item.show.label.not_active') %>
        </div>
      <% end %>
      <div class="itemDisplay defaultRound">
        <%= @item.name %>
      </div>
      <%= render 'offer' %>
      <div class="routeDisplay defaultRound">
        <% origin_city = @item.parent.origin_city %>
        <% destination_city = @item.parent.destination_city %>
        <% if origin_city.name == City::ANYWHERE %>
          <div class="from"><%= origin_city.name %></div>
        <% else %>
          <div class="fromFlag">
            <%= generate_country_image_tag(origin_city.country) %>
          </div>
          <div class="from"><%= origin_city.name %></div>
        <% end %>
        <div class="arrowGrey">-</div>
        <% if destination_city.name == City::ANYWHERE %>
          <div class="to"><i><%= destination_city.name %></i></div>
        <% else %>
          <div class="toFlag">
            <%= generate_country_image_tag(destination_city.country) %>
          </div>
          <div class="to"><%= destination_city.name %></div>
        <% end %>
      </div>
      <br/>
      <%= render 'message' %>
      <% url = item_url(@item) %>
      <%= render 'shared/social_share_item', :locals => {:url => url, :title => @item.desc_string} %>
    </div>
  </div>
  <br clear="all"/>  <br clear="all"/>
  <% unless @item.pictures.blank? %>
    <h4><%= raw t('suggested_items.show.label.pictures', :item => @item.name) %></h4>
    <div id="itemPictures" class="bgWhite defaultRound">
      <% @item.pictures.each_with_index do |item_picture, index| %>
        <% identifier = "item_" + @item.id.to_s + "_item_picture_" + index.to_s %>
        <%= picture_popup_js(identifier) %>
        <%= link_to item_picture.attachment(:original), :id => identifier do %>
          <%= image_tag item_picture.attachment(:thumb), :class => 'photo', :size => '50x50' %>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <%= render 'recommendations' %>
</div>
<div class="col4">
  <h4 class="textBlack"><%= t('item.show.label.owner') %></h4>
  <br/>
  <div class="itemRightBox" style="padding-bottom: 0px;">
    <p>
      <%= link_to profile_path(@item.user.username) do %>
        <%= image_tag @item.user.avatar.url(:thumb), :size => "32x32", :class => "photo" %>
        &nbsp;&nbsp;<%= @item.user.username %>
      <% end %>
    </p>
  </div>
</div>