<%= form_for(@trip) do |f| %>
  <div id="postNewRoute">
    <p>
      <label><%= t('trip.field.label.route')%><%= render 'shared/required' %></label>
      <%= trip_location_auto_complete_js 'trip_origin_location', true %>
      <%= f.text_field :origin_location, :style=>"width: 38%;", :placeholder => t('trip.field.label.origin')%>
      &nbsp;<b>&gt;</b>&nbsp;
      <%= trip_location_auto_complete_js 'trip_destination_location', true %>
      <%= f.text_field :destination_location, :style=>"width: 38%;", :placeholder => t('trip.field.label.destination') %>
    </p>
    <p>
      <label><%= t('trip.field.label.departure_date') %><%= render 'shared/required' %></label>
      <%= f.datetime_select :departure_date,
        options = {:discard_hour=>true, :discard_minute=>true, :start_year=>Time.now.year, :end_year=>Time.now.year+5, :prompt=>true} %>
    </p>

    <div class="divider"></div>
    <h4><%= t('trip.field.label.items') %></h4>
    <br/>
    <div class="items">
      <div class="header"><label><%= t('trip_item.field.label.name') %></label> <label><%= t('trip_item.field.label.tip') %></label></div>
      <%= f.fields_for :items do |builder| %>
        <%= render "item_fields", :f => builder %>
      <% end %>
      <%
        add_more_items_style = ''
        add_more_items_style = 'display:none' if @trip.items.length >= TripItem::MAXIMUM
      %>
      <div class="add_more_items" style="<%= add_more_items_style %>">
        <%= link_to_add_fields t("general.add_more"), f, :items, TripItem::MAXIMUM %>
      </div>
    </div>
    <br/>
    <p>
      <label><%= t('trip.field.label.notes') %></label>
      <%= enable_character_counter('trip_notes',Trip::NOTES_MAXIMUM_LENGTH) %>
      <%= f.text_area :notes, :rows => 6, :cols => 60 %>
    </p>

    <p>
      <%= f.submit t('button.send'), :class => 'defaultButton' %>
      <%= link_to t('button.cancel'), dashboard_path, :class => 'cancelLink' %>
    </p>
    <%= render 'shared/required_label' %>
  </div>
<% end %>




