<div class="col3">
  <ul class="sidebarMenu">

    <% link_path = console_escrow_path %>
    <li class="<%= 'selected' if current_page?(link_path) %>">
      <%= link_to 'SafePay', link_path %>
    </li>

    <% link_path = console_payout_method_path %>
    <li class="<%= 'selected' if current_page?(link_path) %>">
      <%= link_to 'Payout Method', link_path %>
    </li>

    <% link_path = console_suggested_item_path %>
    <li class="<%= 'selected' if current_page?(link_path) %>">
      <%= link_to 'Suggested Item', link_path %>
    </li>

    <% link_path = console_story_path %>
    <li class="<%= 'selected' if current_page?(link_path) %>">
      <%= link_to 'Story', link_path %>
    </li>

  </ul>
</div>
