<%= render 'menu' %>
<div class="col4">
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Item</th>
        <th>From</th>
        <th>User</th>
        <th>Action</th>
      </tr>
    </thead>
    <% @suggested_items.each do |si| %>
      <tr>
        <td><%= si.id %></td>
        <td><%= link_to si.name, suggested_item_path(si), :target => 'blank' %></td>
        <td><%= si.origin_location %></td>
        <td><%= si.user.username %></td>
        <td><%= link_to 'Approve', console_suggested_item_approve_path(:id => si.id) %></td>
      </tr>
    <% end %>
  </table>
  <%= get_will_paginate @suggested_items %>
</div>