<%= render 'shared/static_menu' %>
<% page_title t('content.link.privacy_policy') %>
<div class="col9">
  <br/>

  <h2>Privacy Policy</h2>

  <p>Your privacy is important to Bistip.com. Please spend some time to read our Privacy Policy carefully.
    In here we explain how we collect, use, disclose, transfer and store your personal information. If you have any
    question,
    feel free to contact us.</p>


  <h3 class="textBlack">Collection and Usage of Personal Information</h3>

  <p>Your personal information is the data that can be used to identify you.</p>

  <p>You will be asked to provide your personal information each time when using Bistip.com or Bistip.com affiliation
    entities.
    Bistip.com and its affiliates may share or exchange the information between them and use it according to this
    Privacy Policy.</p>

  <p>The following are the types of information that Bistip.com collects and how we intent to use it.</p>

  <p>What personal information do we collect?</p>

  <p>
  </p>
  <ul>
    <li>
      When you create Bistip.com account, we collect range of informations including: your fullname, email, current
      location, profession, gender, age, contact number, website, facebook url, twitter url, language and your bio.
    </li>
  </ul>

  <p>What do we use your personal information for?</p>
  <ul>
    <li>We use the personal information that we collected to inform our latest news, updates and events that
      we organize. It also helps us to improve out service, content and advertising.
    </li>

    <li>We use your personal information to inform you announcement such as changes to Privacy Policy or
      our Terms and Condition. These announcements are important for your interaction with Bistip.com.
    </li>

    <li>We use your personal information for our internal process such as auditing, reporting, analysis and research
      with the purpose to improve our service and product.
    </li>

    <li>If you register to our events, sweepstakes, contests or similar programs. We may use the personal information
      that you give to us to these programs.
    </li>
  </ul>


  <h3 class="textBlack">Cookie and Other Technologies</h3>

  <p>Bistip.com website, online service, interactive application, our email messages may use &#8220;cookie&#8221; and
    other technologies.
    These technologies helps us to understand better user behavior, to inform us which part of the website that you
    visited,
    and facilitate us to effectively scope or target advertising or web search. We treat the information collected by
    cookies and other technologies
    as non-personal information. However, if your Internet Protocol (IP) address or similar information is deemed as
    confidential information by the local law,
    we will also treat these informations as confidential. Likewise, if non-personal information combined with personal
    information, we treat the combined
    information as personal information for purposes of the Privacy Policy.</p>

  <p>Bistip.com also use cookies and other technologies to remember your personal information when you visit the
    website, online services, and our application.
    Our intention is to make your experience with Bistip.com more comfortable and personal. For example, to greet your
    name when you make returning visit to Bistip.com. </p>

  <p>As standard on most websites, we collect information automatically and store it in log files. This information
    includes your Internet Protocol (IP) address,
    browser type and language, internet service provider (ISP), referral and exit pages, operating system, access date
    and time, and flow of navigation or click.</p>

  <p>We use this information to understand and analyze trends, administer the site, studying the behavior of users on
    the site, and gather demographic information about our user base as a whole. Bistip.com may use this information in
    our advertising and marketing services.
  </p>


  <h3 class="textBlack">Disclosure to a third party </h3>

  <p>If required by law, legal process, litigation, and/or public demand and
    governmental authorities inside or outside your country of residence - to disclose your personal information.
    Bistip.com may disclose information about you if the national security,
    law enforcement, or other public interests, deemed that the disclosure is required or appropriate. </p>

  <p>We will also disclose information about you if we determine that disclosure is reasonable enough to enforce
    our terms and conditions or to protect our operations and business. In addition, if there is any reorganization,
    merger, or sale, we may transfer all personal information we collect to the third parties involved.</p>


  <h3 class="textBlack">Integrity and Storage of Personal Information </h3>

  <p>Bistip.com makes it easy to keep your personal information remains accurate, complete, and current.
    We will store your personal information during the time required to fulfill the purposes set forth in
    this Privacy Policy unless the time for longer storage of the information is required or permitted by law.</p>


  <h3 class="textBlack">Access to Personal Information</h3>

  <p>You can ensure that your contact information and preferences are accurate, complete, and up to date by logging in
    and go to 'My Account'.
    For other personal information, you can ask us to make corrections to the data or delete the data if Bistip.com do
    not have to keep it by law or for legitimate business purposes.
    We may refuse to process an application
    repeatedly illogical, requires disproportionate technical effort, jeopardize the privacy of others, not practical,
    or to which
    access is not required by local law. Application for access, correction, or removal may be submitted to Bistip team
    email address. </p>


  <h3 class="textBlack">Underage Users</h3>

  <p>We do not knowingly collect personal information from users under 18 years old. If we know that we have collected
    personal information from a person less than 18 years old, then we will remove that information as soon as
    possible.</p>


  <h3 class="textBlack">Location-Based Services</h3>

  <p>To provide location-based services on Bistip.com products, Bistip.com may collect, use, and share precise location
    data, including the current geographical location of your computer or mobile device.
    This location data is collected anonymously in a form that does not identify you personally and is used by
    Bistip.com to provide and improve our products and location-based services. For example, we may
    divide the geographical location with Maps application provider when you use Bistip.com.</p>


  <h3 class="textBlack">Bistip.com commitment to Your Privacy</h3>

  <p>To ensure securely your personal information, we convey our privacy and security guidelines to employees Bistip.com
    and strictly enforce privacy safeguards within the company.</p>

  <p>Bistip.com may update Privacy Policy from time to time.
    When we change our policies, notices will be posted on our website along with an updated Privacy Policy.</p>

  <p>PT Afiliasi Kontenindo Jaya</p>

  <p>Last update : 15 November 2011</p></div>
