<% page_title t('notification.link.notification') %>
<div id="viewNotifications">
  <div class="col12">
    <h2><%= t 'notification.heading' %></h2>
  </div>
  <div class="col9">
    <div id="notifications">
      <% if @notifications.size > 0 %>
        <% @notifications.each do |notification| %>
          <%= render 'notification', :locals => {:notification => notification} %>
        <% end %>
      <% else %>
        <div class="notificationBar yellow"><%= t('notification.index.no_result') %></div>
      <% end %>
    </div>
    <div class="paginationMorePlaceholder">
      <%= will_paginate(@notifications, :renderer => TwitterPagination::LinkRenderer, :id => 'notifications_pagination') %>
    </div>
  </div>
</div>

