<% page_title t('password.edit.label.heading') %>
<div id="dashboard">
<%= render 'dashboard/reminder' %>
<%= render 'dashboard/menu' %>
<div class="col9">
  <h4><%= t('password.edit.label.heading') %><%= render('shared/protected') %></h4><br />

  <div id="profileEdit" class="password">
    <%= form_tag(:action => 'update', :controller => 'passwords') do %>
    <p>
      <label for=""><%= t('password.edit.field.label.current_password') %></label>
      <%= password_field_tag 'current_password', nil %>
    </p>
    <p>
      <label for=""><%= t('password.edit.field.label.new_password') %></label>
      <%= password_field_tag 'new_password', nil %>
    </p>
    <p>
      <label for=""><%= t('password.edit.field.label.new_password_confirmation') %></label>
      <%= password_field_tag 'new_password_confirmation' %>
    </p>
    <p>
      <label>&nbsp;</label>
      <%= submit_tag t('button.update'), :class => 'defaultButton' %><%= link_to t('button.cancel'), dashboard_profile_path, :class => 'cancelLink' %>
    </p>
    <% end %>
  </div>
</div>
</div>