<div class="plc">
  <div class="lines">
    <div class="col3">
      <%= render 'social_tertiary' %>
    </div>
    <div class="col3">
      <%= link_to guide_path do %>
          <%= image_tag 'safety.png', :alt => 'Panduan Keamanan', :class => 'defaultShadow' %>
      <% end %>
    </div>

    <div class="col3">

      <h4>
        <%= link_to how_path do %>
            <%= image_tag 'img-cara-kerja.png', :alt => 'How Bistip works', :class => 'defaultShadow' %>
        <% end %>
      </h4>
    </div>

    <div class="col3">
        <%= link_to event_bistipes_2_path do %>
            <%= image_tag 'events/bistipes-home-sydney.png', :alt => 'Bistipes 2.0', :class => 'defaultShadow' %>
        <% end %>
    </div>
  </div>
  <br clear="all"/>
</div>