<%= form_for(@trip) do |f| %>
  <div id="postNewRoute">
    <p>
      <label><%= t('trip.field.label.route')%><%= render 'shared/required' %></label>
      <%= trip_location_auto_complete_js 'trip_origin_location', true %>
      <%= f.text_field :origin_location, :style=>"width: 38%;", :placeholder => t('trip.field.label.origin')%>
      &nbsp;<b>&gt;</b>&nbsp;
      <%= trip_location_auto_complete_js 'trip_destination_location', true %>
      <%= f.text_field :destination_location, :style=>"width: 38%;", :placeholder => t('trip.field.label.destination') %>
    </p>
    <p>
      <label><%= t('trip.field.label.departure_date') %><%= render 'shared/required' %></label>
      <%= f.datetime_select :departure_date,
        options = {:discard_hour=>true, :discard_minute=>true, :start_year=>Time.now.year, :end_year=>Time.now.year+5, :prompt=>true} %>
    </p>
    <br/>
    <p>
      <label><%= t('trip.field.label.notes') %></label>
      <%= enable_character_counter('trip_notes',Trip::NOTES_MAXIMUM_LENGTH) %>
      <%= f.text_area :notes, :rows => 6, :cols => 60 %>
    </p>

    <p>
      <%= f.submit t('button.send'), :class => 'defaultButton', :disable_with => t('button.disabled') %>
      <%= link_to t('button.cancel'), locals[:cancel_path], :class => 'cancelLink' %>
    </p>
    <%= render 'shared/required_label' %>
  </div>
<% end %>




