<h4>Social Media</h4>

<p>
<div class="fb-like" data-href="http://www.facebook.com/bistip" data-width="200" data-layout="button_count" data-show-faces="false" data-send="true"></div>
<br/>
<br/>

<p>
<iframe allowtransparency="true" frameborder="0" scrolling="no" align="middle"
        src="http://platform.twitter.com/widgets/follow_button.html?screen_name=bistip&show_count=true"
        style="width:190px; height:30px;"></iframe>
<!-- Place this tag where you want the +1 button to render -->
<g:plusone size="medium" href="http://www.bistip.com"></g:plusone>

<!-- Place this tag after the last plusone tag -->
<script type="text/javascript">
    (function() {
        var po = document.createElement('script');
        po.type = 'text/javascript';
        po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(po, s);
    })();
</script>
</p>

<!-- Google Analytics Social Button Tracking -->

<script>
    _ga.trackSocial();
</script>
