<% story = activity.object %>
<% user = story.user %>
<li class="bistiperRow">
  <%= link_to(story_path(story), :class => 'divlink') do %>
    <div class="bistiperPlc">
      <div class="avatar">
        <%= image_tag story.story_pictures.first.attachment.url, :size=>"64x64", :class=>"photo" %>
      </div>
      <div class="info infoWide">
        <h5><%= user.username %> <span class="textBlack"><%= t('story_activity_wrap.label.finished_a_job') %></span></h5>
        <p>
          <span class="textBlack">"<%= story.body[0..75] %> ..."</span>
        </p>
      </div>
    </div>
  <% end %>
</li>
