<html>
  <head>
    <style>
      @import url(http://fonts.googleapis.com/css?family=PT+Sans);

      body {
        font-family: 'PT Sans', sans-serif;
      }

      td, th {
        font-size: 1em;
        border: 1px solid #034a80;
        padding: 3px 7px 2px 7px;
      }

      th {
        font-size: 0.9em;
        text-align: left;
        padding-top: 5px;
        padding-bottom: 4px;
        background-color: #034a80;
        color: #ffffff;
      }

      tr.alt td {
        color: #000000;
        background-color: #034a80;
      }
    </style>
  </head>
  <body>
    Date and time: <%= Time.now.in_time_zone('Jakarta') %> (Jakarta)

    <p id="user"><strong>Marketplace Items</strong></p>

    <table>

      <tr>
        <th><strong>ID</strong></th>
        <th><strong>Name</strong></th>
        <th><strong>Dari</strong></th>
        <th><strong>Seller</strong></th>
        <th><strong>Created</strong></th>
        <th><strong>Notes</strong></th>
      </tr>

      <% @items.each do |item| %>
        <tr>
          <td><%= item.id %></td>
          <td><%= link_to item.name, item_path(item), :target => 'blank' %></td>
          <td><%= item.origin_location %></td>
          <td><%= link_to item.user.username, profile_path(item.user.username), :target => 'blank' %></td>
          <td><%= smart_date_display(item.created_at) %></td>
          <td><%= auto_link_in_new_tab(item.notes_display) %></td>
        </tr>
      <% end %>

    </table>

  </body>
</html>