<html>
  <head>
    <style>
      @import url(http://fonts.googleapis.com/css?family=PT+Sans);

      body {
        font-family: 'PT Sans', sans-serif;
      }

      td, th {
        font-size: 1em;
        border: 1px solid #034a80;
        padding: 3px 7px 2px 7px;
      }

      th {
        font-size: 0.9em;
        text-align: left;
        padding-top: 5px;
        padding-bottom: 4px;
        background-color: #034a80;
        color: #ffffff;
      }

      tr.alt td {
        color: #000000;
        background-color: #034a80;
      }
    </style>
  </head>
  <body>
    SafePay stats between <%= l(@start, :format => :date_without_day_with_short_month) %> and <%= l(@end, :format => :date_without_day_with_short_month) %><br/>
    Date and time: <%= Time.now.in_time_zone('Jakarta') %> (Jakarta)
    <p id="user">Note: all converted to IDR using 9500/USD rate</p>
    <p id="user"><strong>All SafePay(s)</strong></p>
    <table>
      <tr>
        <th>ID</th>
        <th><strong>Seller</strong></th>
        <th><strong>Buyer</strong></th>
        <th><strong>Started</strong></th>
        <th><strong>Finished</strong></th>
        <th><strong>Amount</strong></th>
        <th><strong>State</strong></th>
        <th><strong>Item</strong></th>
      </tr>

      <% idrusd = 9500 %>
      <% total = 0 %>
      <% amount_total = 0 %>
      <% Escrow.non_internal.created_between(@start, @end).each do |esc| %>
        <% current_state = esc.last_log  %>
        <% if current_state.is_a?(BistipReceivedBuyerBankTransferLog) ||
          current_state.is_a?(BuyerReceivedItemLog) ||
          current_state.is_a?(BuyerRequestedPayoutLog) ||
          current_state.is_a?(BuyerResumedLog) ||
          current_state.is_a?(BuyerReceivedPayoutLog) ||
          current_state.is_a?(PaypalNotifiedLog) ||
          current_state.is_a?(SellerCancelledLog) ||
          current_state.is_a?(SellerGotItemLog) ||
          current_state.is_a?(SellerRequestedPayoutLog) ||
          current_state.is_a?(SellerReceivedPayoutLog) ||
          current_state.is_a?(BistipReleasedSellerPayoutLog) ||
          current_state.is_a?(BistipReleasedBuyerPayoutLog) %>
          <% total = total + 1 %>
          <tr>
            <td><%= esc.id %></td>
            <td><%= esc.seller.username %></td>
            <td><%= esc.buyer.username %></td>
            <td><%= smart_date_display(esc.created_at) %> </td>
            <% finished_log = nil %>
            <% finished_log = SellerRequestedPayoutLog.find_by_escrow_id(esc.id) unless SellerRequestedPayoutLog.find_by_escrow_id(esc.id).blank? %>
            <% finished_log = BuyerRequestedPayoutLog.find_by_escrow_id(esc.id) unless BuyerRequestedPayoutLog.find_by_escrow_id(esc.id).blank? %>
            <td><%= smart_date_display(finished_log.created_at) unless finished_log.blank? %> </td>
            <td><%= esc.amount_with_currency %></td>
            <td><%= current_state.to_display_string %></td>
            <td><%= esc.item %></td>
          </tr>
          <% amount_total = amount_total + (esc.amount * idrusd) if esc.payment_method_id == 1 %>
          <% amount_total = amount_total + esc.amount if esc.payment_method_id == 2 %>
        <% end %>
      <% end %>
      <tr>
        <td>Total: <%= total %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><%= number_to_currency(amount_total.to_s, :unit => ('IDR '), :precision => 0) %></td>
        <td></td>
        <td></td>
      </tr>
    </table>

  </body>
</html>