<%
  page_title = _t("Dashboard")
  title(page_title)
%>

<% content_for :sidebar do %>
  <%= render "sidebar" %>
<% end %>

<h2>
  <%= page_title %>
</h2>

<p>Total User: <%= User.count %> (<%= User.where("email_validation_key IS NOT NULL").count %>)</p>
<p>Total Rute Jalan: <%= Trip.count %></p>
<p>Total Wanted Post: <%= Seek.count %></p>
<p>Total Comment: <%= Comment.count %></p>
<p>Total Message: <%= Message.count %> (<%= Message.where(:email_reply => true).count %>)</p>
<p>Total Attachment: <%= Asset.count %></p>
<p>Total Escrow: <%= Escrow.count %></p>
<p>Total Good Reputation: <%= PositiveReputation.count %></p>
<p>Total Bad Reputation: <%= NegativeReputation.count %></p>
<p>Total Item: <%= Item.count %></p>
<p>Total Relation: <%= Relation.count %></p>

<%= applications %>

<%= resources(current_user) %>
