<% comment = locals[:comment] %>
<% user = comment.user %>

<tr>
  <td style="padding-bottom: 4px;border-bottom: thin solid lightgray; font-size: 11px;"><strong><%= render 'shared/user_summary', :locals => {:user => user} %></strong>, <i><%= l(comment.created_at, :format => :short_date) %></i> 
    <% if logged_in? and comment.owner?(current_user) %>
      <span class="red-link">
      <%= link_to t('comment.destroy.link'), trip_comment_path(@trip, comment), :confirm => t('confirmation.label'), :method => :delete %>
      </span>
    <% end %>
    <div class="blue-link word-wrap-comment" ><%= auto_link_in_new_tab_without_simple_format comment.body %></div>
  </td>
</tr>