<% page_title t('password.edit.label.heading') %>
<div id="dash" class="content-left text-01">
  <div class="left-section panel-blue">
    <%= render 'shared/left_menu' %>
  </div>

  <div class="main-section">
    <%= form_tag(:action => 'update', :controller => 'passwords') do %>
    <table width="100%" cellspacing="0" cellpadding="5" border="0" class="text-01 panel-blue">
      <tbody>
        <tr>
          <td style="text-align: right;">&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td style="width: 187px; text-align: right;"><%= t('password.edit.field.label.current_password') %></td>
          <td><%= password_field_tag 'current_password', nil, :class => 'textbox-01' %></td>
        </tr>
        <tr>
          <td style="text-align: right;"><%= t('password.edit.field.label.new_password') %></td>
          <td><%= password_field_tag 'new_password', nil, :class => 'textbox-01' %></td>
        </tr>
        <tr>
          <td style="text-align: right;"><%= t('password.edit.field.label.new_password_confirmation') %></td>
          <td><%= password_field_tag 'new_password_confirmation', nil, :class => 'textbox-01' %></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>
            <%= submit_tag t('button.submit'), :class => 'button-register' %> / <%= link_to t('button.cancel'), dashboard_profile_path %>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  <% end %>
  </div>
</div>

