<% page_title t('error.not_found.heading') %>
<div class="exception">
  <div class="dialog">
    <h1><%= t('error.not_found.heading') %></h1>
    <p><%= t('error.not_found.body') %></p>
  </div>
</div>
  
