<%= form_for(@seek) do |f| %>
  <table cellspacing="1" cellpadding="1" border="0" class="text-01">
    <tbody>
      <tr>
        <td colspan="2"><b><%= t('seek.new.label.intro') %></b></td>
      </tr>
      <tr>
        <td><%= t('mobile.seek.field.label.origin') %></td>
      </tr>
      <tr>
        <td>
          <%= location_auto_complete_js 'seek_origin_location' %>
          <%= f.text_field :origin_location, :class => 'textbox-01' %>
        </td>
      </tr>
      <tr>
        <td><%= t('mobile.seek.field.label.destination') %></td>
      </tr>
      <tr>
        <td>
          <%= location_auto_complete_js 'seek_destination_location' %>
          <%= f.text_field :destination_location, :class => 'textbox-01' %>
        </td>
      </tr>
      <tr>
        <td><%= render 'shared/new_location_contact_us' %></td>
      </tr>
      <tr>
        <td><%= t('seek.field.label.departure_date') %></td>
      </tr>
      <tr>
        <td>
          <% DatePredicate::ALL.each do |departure_date_predicate| %>
            <%= radio_button_tag 'seek[departure_date_predicate]', departure_date_predicate, @seek.departure_date_predicate == departure_date_predicate %>
            <%= t(departure_date_predicate, :scope => 'date_predicate') %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.datetime_select :departure_date,
            options = {:discard_hour=>true, :discard_minute=>true, :start_year=>Time.now.year, :end_year=>Time.now.year+5, :prompt=>true} %>
        </td>
      </tr>
      <tr>
        <td><%= t('seek.field.label.notes') %></td>
      </tr>
      <tr>
        <td>
          <%= enable_character_counter('seek_notes',Seek::NOTES_MAXIMUM_LENGTH)%>
          <%= f.text_area :notes, :rows => 5, :cols => 25, :class => 'textarea-01' %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.submit t('button.submit'), :class => 'button-register' %> / <%= link_to t('button.cancel'), locals[:cancel_path] %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
