<div style="font: normal 14px Helvetica, Arial, sans-serif; line-height: 19px; color: #333;">
  <%= @commentator.username %> commented on your Trip on <%= l(@created) %>:
  <blockquote>
    <strong><i>&quot;<%= @content %>&quot;</i></strong>
  </blockquote>
  You can view the comment through the link below:
  <br/>
  <%= auto_link(@trips_show_url) %>
</div>
