<div style="font: normal 14px Helvetica, Arial, sans-serif; line-height: 19px; color: #333;">
  <p><%= @comment.user.username %> also gave a comment to a Trip that you commented before.</p>
  <blockquote>
    <strong><i>&quot;<%= @comment.body %>&quot;</i></strong>
  </blockquote>
  <br/>
  You can view the comment through the link below:
  <br/>
  <%= auto_link(trip_url(@trip)) %>
</div>
