<div style="font: normal 14px Helvetica, Arial, sans-serif; line-height: 19px; color: #333;">
  <%= @sender.username %> <%= t('notifier.message.content.new') %> <%= l(@created) %> :
  <blockquote>
    <strong><i>&quot;<%= @content %>&quot;</i></strong>
  </blockquote>
  <br/>
  <%= t('notifier.message.link') %>
  <br/>
  <%= auto_link(user_messages_url(@user)) %>

</div>