<div style="font: normal 14px Helvetica, Arial, sans-serif; line-height: 19px; color: #333;">
  <p><%= @trip.user.username %> baru saja membuat sebuah Rute Jalan dari <%= @trip.origin_location %> ke <%= @trip.destination_location %></p>
  <p>Untuk info lanjutannya dapat kamu lihat dengan mengikuti link di bawah ini:</p>
  <br/>
  <%= auto_link(trip_url(@trip)) %>
</div>
