<div style="font: normal 14px Helvetica, Arial, sans-serif; line-height: 19px; color: #333;">
  <p><%= @comment.user.username %> juga memberikan komentar untuk Wanted Bistiper yang pernah kamu komentari sebelumnya.</p>
  <blockquote>
    <strong><i>&quot;<%= @comment.body %>&quot;</i></strong>
  </blockquote>
  <br/>
  <%= t('notifier.comment.link') %>
  <br/>
  <%= auto_link(seek_url(@seek)) %>
</div>
