<% seek = locals[:seek] %>
<% tips = locals[:tips] %>
<% index = locals[:index] %>
<% origin = City.find_by_id(seek.origin_city_id) %>
<% destination = City.find_by_id(seek.destination_city_id) %>
<% link_name = origin.name + '-' + destination.name %>
<div class="seekRow bgLightBlue defaultRound">
  <%= link_to search_seek_path(:origin => (origin.name + ", " + origin.country.name),
    :destination => (destination.name + ", " + destination.country.name),
    :keyword => @trending_item.item), :class => 'divlink' do %>
    <p>
      <span class="iconRoute">
        <%= render 'shared/city', :locals => {:city => seek.origin_city, :short_name => true} %>
        <span class="dashArrow">-</span>
        <%= render 'shared/city', :locals => {:city => seek.destination_city, :short_name => true} %>
      </span>
    </p>
    <% unless tips.empty? %>
      <p><%= t('trending_item.show.label.seek_tip') %></p>
      <% tips.each do |tip| %>
        <div class="tipRow"><em><span class="tip"><%= t('seek.show.label.tip')%></span>&nbsp;<%= tip %></em></div>
      <% end %>
    <% else %>
      <p class="textBlack"><%= t('trending_item.show.label.no_tip_data') %></p>
    <% end %>
  <% end %>
</div>

<% if ((index + 1) % 3) == 0 %>
  <br clear="all"/>
<% end %>
