<% page_title t('reputation.index.negative.heading') %>
<%= render 'shared/user_sub_menu' %>
<%= render 'shared/user_reputation_sub_menu' %>
<div class="content-left text-01">
  <%= render 'shared/negative_reputations' %>
</div>