<div class="text-01" style="background: url(../images/back.png) no-repeat center fixed; ">
  <div style="background-color: hsla(200, 60%, 99%, .6); height: 100%;">
    <br/>
    <div style="text-align: center;"><%= image_tag "banner.png" %></div>
    <br/><br/><br/>
    <center>
      <div style="width: 57%; text-align: center;">
        <div style="text-align: center; color: #035088; font-size: 24px; font-weight: bold">Selamat Bergabung dengan Bistip.com :) <br/><br/> Sebuah Komunitas Titip Menitip</div>
        <br/><br/>
        <div style="text-align: center;" class="text-01">
          <center>
            <div style="background-color: hsla(200, 60%, 99%, .6); border: 1px solid #2C9AE8; padding: 15px 5px 5px 10px;border-radius:5px; -moz-border-radius:5px; webkit-border-radius:5px; width: 450px;">
              <table border="0" width="100%">
                <tr>
                  <td rowspan="2" style="width: 33px;" valign="top"><%= image_tag "facebook_32.png" %></td>
                  <td class="blue-link" valign="top" style="width:180px;"><%= link_to "facebook.com/bistip", "http://facebook.com/bistip" %></td>
                  <td rowspan="2" style="width: 20px;">&nbsp;</td>
                  <td rowspan="2" style="width: 33px;" valign="top"><%= image_tag "twitter_32.png" %></td>
                  <td class="blue-link" valign="top"><%= link_to "twitter.com/bistip", "http://twitter.com/bistip" %></td>
                </tr>
                <tr>
                  <td valign="top">
                    <div id="fb-root"></div>
                    <script src="http://connect.facebook.net/en_US/all.js#appId=113536205400277&amp;xfbml=1"></script>
                <fb:like href="facebook.com/bistip" send="false" layout="button_count" width="50" show_faces="false" font=""></fb:like>
                </td>
                <td valign="top">
                  <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://www.bistip.com" data-text="Bistip:com: nitip dapet barang, dititip dapet tip" data-count="none" data-via="bistip">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
                </td>
                </tr>
              </table>
              
            </div>
            <br/><br/><br/>
            
            <script type="text/javascript">
              $(document).ready(function(){
                $('#suvenir').scratchie({
                  target : 'target',
                  img : "<%= image_path @image_result %>",
                  imgHeight : 305, // target (prize) img height
                  imgWidth : 299, // target (prize) img width
                  title : 'Try your luck!',
                  fillImg : "<%= image_path 'overlay.png' %>",
                  fillX: 20,
                  fillY: 20,
                  cursorHeight: 43,
                  cursorWidth: 43,
                  cursor: "<%= image_path 'gopek.png'  %> ",
                  requireMouseClick : true,
                  uncoverOnComplete: true,
                  completion: 50,
                  callback: function(){
                    alert("<%=@message  %>" );
                  }
                });
              });
            </script>
            <div id="suvenir" style="background-color: hsla(200, 60%, 99%, .6); border: 1px solid #2C9AE8; padding: 15px 5px 5px 10px;border-radius:5px; -moz-border-radius:5px; webkit-border-radius:5px; width: 305px;">
              <img id="target" src="../images/overlay.png"/>
            </div>
          </center>
        </div>
      </div>
    </center>
  </div>
</div>


