<h3><%= t('home.index.label.bistipers') %></h3>
<% trips = Trip.build_scope_home_index(10).all %>
<% activities = Array.new %>
<% trips.each do |trip| %>
  <% trip_activity = TripActivityWrap.new %>
  <% trip_activity.object = trip %>
  <% activities << trip_activity %>
<% end %>
<% escrows = Escrow.where('buyer_review_id is not null and seller_review_id is not null').order('RAND()').limit(10) %>
<% escrows.each do |escrow| %>
  <% escrow_activity = SellerEscrowActivityWrap.new %>
  <% escrow_activity.object = escrow %>
  <% activities << escrow_activity %>
<% end %>
<% unless activities.blank? %>
  <div id="bistiperScrollplc">
    <script type="text/javascript">
      $(document).ready(function() {
        $('#bistiperScroll').bxSlider({
          displaySlideQty: 3,
          moveSlideQty: 1,
          pager: 'false',
          mode: 'vertical',
          auto: true,
          pause: 6000,
          autoHover: true,
          pager: false,
          controls: false,
          infiniteLoop: true
        });

      });
    </script>
    <ul id="bistiperScroll">
      <% for activity in activities.sort_by{rand} %>
        <%= render "#{activity.cname}", :activity => activity %>
      <% end %>
    </ul>
  </div>
<% end %>