<% page_title t('user.new.label.heading') %>
<div id="registration">
  <div class="col4">
    <h2><%= t('user.new.label.heading') %><%= render('shared/protected') %></h2>
  </div>
  <div class="col4 bgYellow defaultRound">
    <%= form_for(@user, :html => { :multipart => true }) do |f| %>
      <p>
        <label><%= t('user.field.label.email') %></label>
        <%= f.text_field :email, :class => 'defaultText' %>
      </p>
      <p>
        <label><%= t('user.field.label.username') %></label>
        <%= f.text_field :username, :class => 'defaultText' %>
      </p>
      <p>
        <label><%= t('user.field.label.fullname') %></label>
        <%= f.text_field :fullname, :class => 'defaultText' %>
      </p>
      <p>
        <label><%= t('user.field.label.city') %></label>
        <%= location_auto_complete_js 'user_city_location', true %>
        <%= f.text_field :city_location, :class => 'defaultText' %>
      </p>
      <p class="overflow">
        <span class="passwordNew">
          <label><%= t('user.field.label.password') %></label>
          <%= f.password_field :password, :class => 'defaultText' %>
        </span>
        <span class="passwordConfirm">
          <label><%= t('user.field.label.password_confirmation') %></label>
          <%= f.password_field :password_confirmation, :class => 'defaultText' %>
        </span>
      </p>
      <p>
        <label></label>
        <%= f.check_box :eula %>
        <span class="confirm">
          <%= raw t('user.field.label.eula',
            :terms_of_service => link_to(t('content.link.terms_of_service'), terms_of_service_path, :target => '_blank'),
            :privacy_policy => link_to(t('content.link.privacy_policy'), privacy_policy_path, :target => '_blank')) %>
        </span>
      </p>
      <p>
        <label></label>
        <%= f.submit t('button.register'), :class => 'defaultButton' %> <%= link_to t('button.cancel'), root_path %>
      </p>
    <% end %>
  </div>
</div>

