<% incoming_trips = locals[:incoming_trips] %>

<% if incoming_trips.size > 0 %>
  <% incoming_trips.each do |trip| %>
    <div style="padding-bottom: 3px;">
      <%= "#{t('dashboard.label.from')} #{trip.origin_city.name}, #{trip.origin_city.country.name}" %>
      <% info = "" %>
      <% if !trip.routine? %>
        <% info = "#{l(trip.departure_date, :format=>:date_without_day)}" %>
      <% else %>
        <%info = t("week_period.#{trip.period}")%>
      <% end %>
      <span class="blue-link"><%= link_to info, trip_path(trip) %></span>
      <%=" - "+t('trip.show.label.by')%>
      <span class="blue-link"><%=link_to( trip.user.username, trip.user)%></span>
    </div>
  <% end %>
<% end %>