<% seek = locals[:seek] %>
<% show_description = locals[:show_description] %>
<div class="summary-table">
  <div class="summary-text">
    <strong><%= t('seek_summary.label.route')%></strong>: <%= render 'shared/city', :locals => {:city => seek.origin_city} %>&nbsp;<%= image_tag 'arrow.png', :align => "absmiddle" %>&nbsp;<%= render 'shared/city', :locals => {:city => seek.destination_city} %>
    <br/>
    <%
      comments_count = seek.comments.count
      show_label = t('seek_summary.link.details')
      if comments_count > 0
        show_label = show_label + " - " + t('seek_summary.label.comments_count', :count => comments_count)
      end
    %>

    <% if seek.items.empty? %>
      <% if seek.departure_date.nil? %>
      <strong><%= t('seek_summary.label.departure_date') %></strong>: <%= t('seek.departure_date_not_given') %>  - <span class="blue-link"><%= link_to show_label, seek_path(seek) %></span>
      <% else %>
        <strong><%= t('seek_summary.label.departure_date') %></strong>: <i><%= t(seek.departure_date_predicate, :scope => 'date_predicate') unless seek.departure_date_predicate.nil? %></i> <%= l(seek.departure_date) %>  - <span class="blue-link"><%= link_to show_label, seek_path(seek) %></span>
      <% end %>
    <% else %>
      <strong><%= t('seek_summary.label.items') %></strong>: <%= seek.items_name %> - <span class="blue-link"><%= link_to show_label, seek_path(seek) %></span>
    <% end %>
        
    <% if show_description and !string_nil_or_empty?(seek.notes)%>
      <br/>
      <div class="word-wrap-summary">
          <strong><%= t('seek_summary.label.notes') %></strong>: <i>
            <%= highlight seek.notes, search_notes_to_array(params[:notes]) %>
          </i>
        </div>
    <% end %>
  </div>
  <% if !seek.active? %>
    <div class="summary-text">
      <i>(<%= t('seek_summary.label.not_active') %>)</i>
    </div>
  <% end %>
  <div align="right" class="summary-text">
    <strong><%= t('seek_summary.label.looker') %></strong>: <%= render 'shared/user_summary', :locals => {:user => seek.user} %>
  </div>
  <div class="summary-line"></div>
</div>

