<% user = locals[:user] %>

<table border="0" class="user-medium text-01" style="width: 100%">
  <tr>
    <td rowspan="2" style="width:13%;" align="center">
        <span class="profile-picture"><%= image_tag user.avatar.url(:thumb), :align => 'center' %></span>
    </td>
    <td align="left" rowspan="2" valign="top" style="padding-top: 10px;">
      <span class="blue-link"><%= link_to user.username, profile_path(user.username), :class => "blue-link" %></span>
      <% if logged_in? and user != current_user %>
        <%= link_to image_tag("ui_newmail.png", :border => 0, :align => "abs"), new_user_message_path(:user_id => user) %>
      <% elsif !logged_in? %>
        &nbsp;<%= link_to image_tag("ui_newmail.png", :border => 0, :align => "abs"), new_user_message_path(:user_id => user) %>
      <% end %>
      <br/>
      <% if !string_nil_or_empty?(user.fullname) %>
        <%= user.fullname %>
      <% end %>
      <% if !string_nil_or_empty?(user.location) %>
        - <%= user.location %>
      <% end %>
      <% if !string_nil_or_empty?(user.fullname) || !string_nil_or_empty?(user.location) %>
        <br/>
      <% end %>
      <%= render 'shared/user_reputation', :locals => {:user => user} %>
    </td>
  </tr>
</table>
