<%= render 'shared/static_menu' %>
<% page_title t('content.link.jobs') %>
<div class="col9">
  <h2><%= t('content.link.jobs') %></h2>
  <h3>Available Position(s)</h3>

  <h4>Social Media Manager - <a href="http://socialmediamanager.bistip.com">http://socialmediamanager.bistip.com</a></h4>
  <br/>
  <p><strong>Does not suit you? if you think that you're talent can help Bistip, please drop us a line
    through our <%= link_to t('contact_us.new.link.jobs'), new_contact_us_path(:subject => 'I am the best talent out there!'), :class => 'btnAction' %> form.</strong></p>

  <p><strong>Fresh graduates are welcome!</strong></p>
</div>
