<% giver = review.giver %>
<div class="reviewRow">
  <div class="avatar">
    <%= render 'shared/trusted_badge', :locals => {:user => giver, :small => true} %>
    <%= image_tag giver.avatar.url, :size => "48x48", :class => "photo" %>
  </div>
  <div class="info">
    <h5>
      <%= link_to giver.username, profile_path(giver.username) %>&nbsp;
      <% if review.invitation? %>
        <span class="recommendation" title="<%= t('review.tooltip.recommendation') %>"><%= t('general.recommendation') %></span>
      <% end %>
      <% if review.verified? %>
        <span class="verified" title="<%= t('review.tooltip.verified') %>"><%= t('general.verified') %></span>
      <% end %>
      <span class="date"><%= smart_date_display(review.created_at) %></span>
    </h5>
    <div class="body">
      <% if review.from_escrow? %>
        <div class="header"><i><%= t('review.label.role') %> <strong><% review.is_receiver_as_buyer_on_escrow? ? t('general.buyer') : t('general.seller') %></strong> - <%= t('review.label.for_item') %> <strong><%= review.item_name_from_escrow %></strong></i></div>
      <% end %>
      <p><%= review.body %></p>
    </div>
  </div>
</div>