<% trip = locals[:trip] %>
<% origin_city = trip.origin_city %>
<% destination_city = trip.destination_city %>
<div class="routeDisplay bgBlue">
  <% if origin_city.name == City::ANYWHERE %>
    <div class="from"><%= origin_city.name %></div>
  <% else %>
    <div class="fromFlag">
      <%= generate_country_image_tag(origin_city.country) %>
    </div>
    <div class="from"><%= origin_city.name %></div>
  <% end %>
  <div class="arrow">-</div>
  <% if destination_city.name == City::ANYWHERE %>
    <div class="to"><i><%= destination_city.name %></i></div>
  <% else %>
    <div class="toFlag">
      <%= generate_country_image_tag(destination_city.country) %>
    </div>
    <div class="to"><%= destination_city.name %></div>
  <% end %>
</div>
<div class="periodDisplay bgYellow">
  <% if trip.routine %>
    <strong><%= t("week_period.#{trip.period}") %></strong>
    <br/>
    <span class="weekDays"><%= trip.week_days_for_display %></span>
  <% else %>
    <strong><%= l(trip.departure_date) %></strong>
  <% end %>
  <% unless trip.arrival_date.blank? %>
    <br/>
    <span class="arrivalDate"><%= t('trip.field.label.arrival_date') %> <%= l(trip.arrival_date) %></span>
  <% end %>
</div>