<nav id="tabNav">
  <%= render_sub_menu_link t('message.link.inbox'), [{:controller => 'messages', :action => "index", :user_id => current_user}] %>
  <%= render_sub_menu_link t('message.link.sent'), [{:controller => 'messages', :action => "sent", :user_id => current_user}] %>
</nav>