<h4 class="textRed">
  <%= image_tag 'icon-thumbs-down.png', :alt => "Thumbs down", :size => "10x14" %>
  <%= t('user.field.label.negative_reputation') %>
  <span class="counter"><%= @negatives.size %></span>
</h4>
<div class="reputation bad">
  <% if @negatives.size > 0 %>
    <% @negatives.each do |reputation| %>
      <%= render 'shared/reputation', :locals => {:reputation => reputation} %>
    <% end %>
  <% else %>
    <div class="notificationBar yellow"><%= t('reputation.index.negative.no_result') %></div>
  <% end %>
</div>
