<% seek = locals[:seek] %>
<% old = seek.active? ? "" : "old" %>
<%= link_to seek_path(seek), :class => "infoBlockLink" do %>
<div class="infoBlock mid <%= old %>">
  <% unless seek.active? %>
  <div class="oldinfo">
    <%= t('seek_summary.label.not_active') %>
  </div>
  <% end %>
  <%= render 'shared/seek_data', :locals => {:seek => seek, :item_count => SeekItem::SUMMARY_COUNT} %>
</div>
<% end %>
