<div class="itemsRow">
  <%= f.text_field :name %>
  <%= f.select :tip_unit_id, TipUnit.all.collect {|c| [c.symbol, c.id]} %>
  <%= f.text_field :tip, :size => 5 %>
  <div id="itemAttachPicture">
    <div class="label">
      <span class="attach"><%= t('message.label.asset') %></span>
    </div>
    <div class="fields">
      <%= f.fields_for :pictures, @picture do |picture_form| %>
        <% if picture_form.object.new_record? %>
          <%= render "item_pictures/field", :picture_form => picture_form %>
        <% else %>
          <%= image_tag picture_form.object.attachment.url(:thumb), :size => '48x48', :class => "photo bgWhite" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>