<h4><%= t('comment.index.heading') %>&nbsp;<span class="counter"><%= @seek.comments.size %></span></h4>
<% if @skcomments.size > 0 %>
  <% for comment in @skcomments %>
    <%= render "seek_comments/seek_comment", :locals => {:comment => comment} %>
  <% end %>
  <div>
    <%= get_will_paginate @skcomments %>
  </div>
<% else %>
  <br/>
  <p><%= t('comment.index.no_comment') %></p>
<% end %>
<%= render 'seek_comments/seek_new_comment' %>
