<% page_title t('content.link.about') %>
<div class="text-01 blue-link">
  <h2>About Us</h2>

  <h3>What is Bistip.com ?</h3>

  <p>We're sure that some of you experienced this before. You're about to travel, lets say
  to Barcelona, Spain. A friend will ask you, 'hey bro can you get me Lionel Messi's Barcelona
  jersey? i'll pay you back when you get back here'. And you reply 'Sure dude, i'm sure the
  jersey is easy to find over there.'</p>

  <p>Now imagine bring those experience to online world. Here we build a website where you can
  share your travel plan, and let people find you out and ask your help. You can now earn some money
  by bringing stuff for people, so you can cover your travel cost. Not bad eh?</p>

  <p>For further reading How Bistip Work follow this <%= link_to 'link', how_path %> .</p>

  <h3>Who is Bistip.com ?</h3>

  <p>The idea came from a Indonesian student who studied overseas. He regularly travel back to his
  hometown Jakarta. And he often helps his families and friends to look for goods/items that they need.
  Then comes the idea to bring the experience online, and enable users to reach outside their social network
  to do this activity.</p>

  <p>By collaborating with other talented Indonesia web 2.0 nerds, Bistip.com was born to take the
  entrusting activity to another level.</p>

  <h3>When is Bistip.com ?</h3>
  <p>So we all had experience with entrusting activity at some point of time. Entrusting actually has
  been part of our life, even before the advancement of transportation and communication technology.
  Currently we are living in the era where people travel more often and internet technology has makes
  it easy for us all to do long distance communication</p>

  <p>Bistip.com combines the entrusting activity with the internet to make it easier for us all!</p>

</div>