<div style="height: 300px;font-family: 'Crafty Girls', arial, serif;" class="content-middle-graphic-background text-01 blue-link transitpage"
    <p>
      You will get redirected to home page shortly...
    </p>
    <p>
      You can click link <%= link_to t('home.link'), root_path %> if the auto redirect does not work.
    </p>
    <center>
      <%= image_tag 'ajax-loader1.gif' %>
    </center>
</div>

<script type="text/javascript">
  setTimeout(function() {
    window.location.href = '/';
  }, 5000);
</script>
