<%= form_for(@suggested_item, :as => :suggested_item, :url => {:controller => "suggested_items", :action => action}, :html => {:multipart => true}) do |f| %>
  <%= hidden_field_tag :type, @suggested_item.type %>
  <h3 class="textBlack"><%= t('suggested_items.new.heading') %></h3>
  <p>
    <label><%= t('suggested_items.new.label.name') %><%= render 'shared/required' %></label>
  </p>
  <p>
    <% if true %>
      <%= f.text_field :name %>
    <% else %>
      <strong><%= @suggested_item.name %></strong>
    <% end %>
  </p>
  <p>
    <label><%= t('suggested_items.new.label.city') %><%= render 'shared/required' %></label>
  </p>
  <p>
    <% if true %>
      <%= location_auto_complete_js 'suggested_item_origin_location', false, true %>
      <% origin_location_value = params[:origin] ? params[:origin] : @suggested_item.origin_location %>
      <%= f.text_field :origin_location, :value => origin_location_value %>
    <% else %>
      <strong><%= @suggested_item.origin_location %></strong>
    <% end %>
  </p>
  <div class="label">
    <p><%= t('suggested_items.general.picture') %></p>
  </div>
  <div class="fields">
    <%= f.fields_for :pictures do |picture| %>
      <% if picture.object.new_record? %>
        <%= render "suggested_item_pictures/field", :locals => {:picture => picture} %>
      <% else %>
        <%= image_tag picture.object.attachment.url(:thumb), :size => '48x48', :class => "photo bgWhite" %>
      <% end %>
    <% end %>
  </div>
  <br/>
  <p>
    <label><%= t('suggested_items.new.label.reason') %><%= render 'shared/required' %></label>
    <%= f.text_area :reason, :rows => 3 %>
  </p>
  <p>
    <label><%= t('suggested_items.new.label.notes') %></label>
    <%= f.text_area :notes, :rows => 5 %>
  </p>
  <br clear="all"/>
  <p><%= f.submit t('button.send'), :class => 'defaultButton' %><%= link_to t('button.cancel'), :back, :class => 'cancelLink' %></p>
<% end %>
<%= render 'shared/required_label' %>