<% suggested_item = locals[:suggested_item] %>
<% user = suggested_item.user %>
<div id="suggestedItemVote">
  <% if logged_in? and suggested_item.voted_by?(current_user) and suggested_item.user != current_user %>
    <% votes = suggested_item.votes %>
    <% total_votes = votes.count - 1 %>
    <% if total_votes > 0 %>
      <% sentence_to_use = 'competition_suggested_item.you_other_like_singular' %>
      <% sentence_to_use = 'competition_suggested_item.you_other_like_plural' if total_votes > 1 %>
      <p><%= t(sentence_to_use, :total => total_votes, :item => suggested_item.name) %></p>
      <% votes.take(SuggestedItem::TOTAL_SHOW_ON_SUMMARY).each do |vote| %>
        <% voted_user = vote.user %>
        <%= link_to profile_path(voted_user.username) do %>
          <%= image_tag voted_user.avatar.url(:thumb), :size=>"32x32", :class => "photo", :alt => voted_user.username, :title => voted_user.username %>
        <% end %>
      <% end %>
    <% else %>
      <p><%= t('competition_suggested_item.you_like', :item => suggested_item.name) %></p>
    <% end %>
  <% else %>
    <% votes = suggested_item.votes %>
    <% total_votes = votes.count %>
    <% if total_votes > 0 %>
      <% sentence_to_use = 'competition_suggested_item.like_singular' %>
      <% sentence_to_use = 'competition_suggested_item.like_plural' if total_votes > 1 %>
      <% user_word_to_use = user.username %>
      <% user_word_to_use = t('general.you') if logged_in_and_current_user?(user) %>
      <p><%= t(sentence_to_use, :total => total_votes, :item => suggested_item.name) %></p>
      <% votes.take(SuggestedItem::TOTAL_SHOW_ON_SUMMARY).each do |vote| %>
        <% voted_user = vote.user %>
        <%= link_to profile_path(voted_user.username) do %>
          <%= image_tag voted_user.avatar.url(:thumb), :size=>"32x32", :class => "photo", :alt => voted_user.username, :title => voted_user.username %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>