<% seek = locals[:seek] %>
<% show_description = locals[:show_description] %>
<div class="summary-table">
  <div class="summary-text">
    <strong><%= t('seek_summary.label.route')%></strong>: <%= render 'shared/city', :locals => {:city => seek.origin_city} %>&nbsp;<strong>&rarr;</strong>&nbsp;<%= render 'shared/city', :locals => {:city => seek.destination_city} %>
    <br/>
    <% if seek.departure_date.nil? %>
      <strong><%= t('seek_summary.label.departure_date') %></strong>: <%= t('seek.departure_date_not_given') %>  - <%= link_to t('seek_summary.link.details'), seek_path(seek) %>
    <% else %>
      <strong><%= t('seek_summary.label.departure_date') %></strong>: <i><%= t(seek.departure_date_predicate, :scope => 'date_predicate') unless seek.departure_date_predicate.nil? %></i> <%= l(seek.departure_date, :format=>:short_date) %>  - <span class="blue-link"><%= link_to t('seek_summary.link.details'), seek_path(seek) %></span>
    <% end %>
    <% if show_description and !string_nil_or_empty?(seek.notes)%>
      <br/>
      <strong><%= t('seek_summary.label.notes') %></strong>: <i><%= highlight seek.notes, search_notes_to_array(params[:notes]) %></i>
    <% end %>
  </div>
  <% if !seek.active? %>
    <div class="summary-text">
      <i>(<%= t('seek_summary.label.not_active') %>)</i>
    </div>
  <% end %>
  <div align="right" style="padding-top: 3px;" class="summary-text">
    <strong><%= t('seek_summary.label.looker') %></strong>: <%= render 'shared/user_summary', :locals => {:user => seek.user} %>
  </div>
</div>

