<% trip = locals[:trip] %>
<% show_description = locals[:show_description] %>
<div class="summary-table"
  <div class="summary-text">
    <strong><%= t('trip_summary.label.route')%></strong>: <%= render 'shared/city', :locals => {:city => trip.origin_city} %>&nbsp;<strong>&rarr;</strong>&nbsp;<%= render 'shared/city', :locals => {:city => trip.destination_city} %>
    <br/>
    <strong><%= t('trip_summary.label.departure_date') %></strong>: <%= l(trip.departure_date, :format=>:short_date) %>  - <span class="blue-link"><%= link_to t('trip_summary.link.details'), trip_path(trip) %></span>
    <% if show_description and !string_nil_or_empty?(trip.notes) %>
      <br/>
      <strong><%= t('trip_summary.label.notes') %></strong>: <i><%= highlight trip.notes, search_notes_to_array(params[:notes]) %></i>
    <% end %>
  </div>
  <% if !trip.active? %>
    <div class="summary-text">
      <i>(<%= t('trip_summary.label.departure_date_passed') %>)</i>
    </div>
  <% end %>
  <div align="right" style="padding-top: 3px;" class="summary-text">
    <strong><%= t('trip_summary.label.bistiper') %></strong>: <%= render 'shared/user_summary', :locals => {:user => trip.user} %>
  </div>
</div>

