<% user = locals[:user] %>

<span>
  <span class="blue-link"><strong><%= link_to user.username, profile_path(user.username) %></strong>
    <% if logged_in? and user != current_user %>
      (<strong><%= link_to t('mobile.user_summary.new_message'), new_user_message_path(:user_id => user) %></strong>)
    <% elsif !logged_in? %>
      (<strong><%= link_to t('mobile.user_summary.new_message'), new_user_message_path(:user_id => user) %></strong>)
    <% end %>
  </span>
</span>