<% page_title t('affiliate.dashboard.label.heading') %>
<div id="affiliateDashboard">
  <div class="col9">
    <h2><%= t('affiliate.dashboard.label.heading') %></h2>
    <div class="link">
      <div class="label"><%= t('affiliate.dashboard.label.link_to_share')%></div>
      <div class="url"><%= text_field_tag 'link', affiliate_url(:code => current_affiliate.code), :size => 30, :readonly => 'readonly' %></div>
    </div>
    <div class="programs">
      <div class="label"><%= t('affiliate.dashboard.label.active_programs')%></div>
      <div class="programRows">
        <%= current_affiliate.programs.first.title_label %>
      </div>
    </div>
    <br/>
    <h4><%= t('affiliate.dashboard.label.current_month')%></h4>
    <br/>
    <div class="reports">
      <div class="reportRow reportHeading">
        <div class="col period"><%= t('affiliate.dashboard.label.day')%></div>
        <div class="col"><%= t('affiliate.dashboard.label.clicks')%></div>
        <div class="col"><%= t('affiliate.dashboard.label.conversion')%></div>
        <div class="col"><%= t('affiliate.dashboard.label.rate')%></div>
      </div>
      <% start_period = DateTime.now.in_time_zone(Time.zone).beginning_of_day %>
      <% end_period = start_period.end_of_day %>
      <% loop_end = start_period.months_ago(1).end_of_month %>
      <% while start_period >= loop_end %>
        <div class="reportRow">
          <% clicks = AffiliateTrafficLog.created_between(start_period, end_period).affiliate_is(current_affiliate).count %>
          <% active_users = current_affiliate.programs.first.unit_count(start_period, end_period) %>
          <div class="col period"><%= l(start_period, :format => :date_without_day) %></div>
          <div class="col"><%= clicks %></div>
          <div class="col"><%= active_users %></div>
          <div class="col"><%= clicks > 0 ? ('%.0f' % ((active_users * 100.0)/clicks)) : 0 %> &#37;</div>
          <% start_period = start_period.yesterday %>
          <% end_period = start_period.end_of_day %>
        </div>
      <% end %>
    </div>
    <% start_period = DateTime.now.in_time_zone(Time.zone).months_ago(1).beginning_of_month %>
    <% end_period = start_period.end_of_month %>
    <% if start_period >= AffiliateProgram::REPORT_START_MONTH %>
      <br/>
      <h4><%= t('affiliate.dashboard.label.previous_month')%></h4>
      <br/>
      <div class="reports">
        <div class="reportRow reportHeading">
          <div class="col period"><%= t('affiliate.dashboard.label.period')%></div>
          <div class="col"><%= t('affiliate.dashboard.label.clicks')%></div>
          <div class="col"><%= t('affiliate.dashboard.label.conversion')%></div>
          <div class="col"><%= t('affiliate.dashboard.label.rate')%></div>
          <div class="col"><%= t('affiliate.dashboard.label.paid')%></div>
        </div>
        <% while start_period >= AffiliateProgram::REPORT_START_MONTH %>
          <div class="reportRow">
            <% clicks = AffiliateTrafficLog.created_between(start_period, end_period).affiliate_is(current_affiliate).count %>
            <% active_users = current_affiliate.programs.first.unit_count(start_period, end_period) %>
            <div class="col period"><%= l(start_period, :format => :month_and_year_only) %></div>
            <div class="col"><%= clicks %></div>
            <div class="col"><%= active_users %></div>
            <div class="col"><%= clicks > 0 ? (active_users * 100.0)/clicks : 0 %> &#37;</div>
            <div class="col"><%= current_affiliate.payments.start_and_end(start_period, end_period).count > 0 ? 'Yes' : 'No' %></div>
            <% start_period = start_period.months_ago(1) %>
            <% end_period = start_period.end_of_month %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
