<% escrow = locals[:escrow] %>
<h4><%= t('escrow.widget.label.heading') %></h4>
<%= render 'shared/escrow_info', :locals => {:escrow => escrow} %>
<div class="actions">
  <%= render "escrows/#{escrow.current_state}_state", :locals => {:escrow => escrow} %>
</div>
<br/>
<p>
  <%= link_to t('escrow.widget.label.problem'), new_user_message_path(:user_id => 1) %>
</p>
<% if current_user == escrow.seller and !current_user.has_payout_method? %>
  <p><%= t('escrow.widget.label.payout_method_reminder') %></p>
  <p>
    <%= link_to t('payout_method.new.link'), new_user_payout_method_path(current_user), :class => 'btnAction' %>
  </p>
<% end %>
