<% seek = locals[:seek] %>
<% user = seek.user %>
<% ref = locals[:ref] %>

<%= link_to seek_path(seek, :ref => ref), :class => 'divlink' do %>
    <div class="miniRow bgLightBlue">
      <div class="info">
        <p>
          <span class="iconUser"><strong><%= user.username %></strong></span>
          <br/>
        <span class="iconRoute">
          <strong>
            <%= render 'shared/city', :locals => {:city => seek.origin_city, :short_name => true} %>
          </strong> <span class="dashArrow">-</span>
          <strong>
            <%= render 'shared/city', :locals => {:city => seek.destination_city, :short_name => true} %>
          </strong>
        </span>
        </p>
      </div>
    </div>
<% end %>
