<%= render 'shared/guide_menu' %>
<% page_title t('content.link.faq') %>
<%= faq_slide_js %>

<div class="col9">
  <div id="faqs">
    <h2><%= t('content.link.faq') %></h2>

    <h4 class="textBlack">> Apa itu Bistiper, Traveler dan Requester?</h4>

    <div>
      <p>Kami memanggil semua pengguna Bistip sebagai <strong>"Bistiper"</strong>, mungkin juga kamu yang sedang membaca ini.
        Lalu <strong>"Traveler"</strong> adalah Bistiper yang sedang atau akan melakukan perjalanan dan bisa dititipi. Sedangkan <strong>"Requester"</strong>
        adalah Bistiper yang berkeinginan menitip barang melalui Traveler.</p>
    </div>

    <h4 class="textBlack">> Kalau Request Post?</h4>

    <div>
      <p>Traveler yang sedang dicari oleh requester untuk dititipi.</p>
    </div>

    <h4 class="textBlack">> Gimana cara bertransaksi uang yang aman untuk titip menitip?</h4>

    <div>
      <p>Kami merekomendasikan kamu untuk menggunakan <%= link_to t('content.link.safepay'), safepay_path %> untuk
        kemudahan dan
        kenyamanan dalam bertransaksi di bistip.
      </p>
    </div>

    <h4 class="textBlack">> Gimana caranya untuk memulai menggunakan Bistip SafePay?</h4>

    <div>
      <p>
        Kamu bisa menemukan tombol "Bistip SafePay" <strong>di sisi kanan</strong> dari pesan yang kamu kirimkan kepada
        Traveler.
      </p>

      <p align="center">
        <%= image_tag 'escrow_faq/009.png', :class => "defaultShadow" %>
      </p>

      <p>
        Masukkan nama barang yang ditransaksikan, jumlah nominal yang akan dikirimkan, dan pilih metode pembayaran
        apakah melalui transfer Bank
        ke rekening <strong>BCA</strong> atau pembayaran melalui <strong>PayPal</strong>, klik "Continue" untuk
        melanjutkan.
      </p>

      <p align="center">
        <%= image_tag 'escrow_faq/003.png', :class => "defaultShadow" %>
      </p>
    </div>

    <h4 class="textBlack">> Apakah transaksi Bistip SafePay bisa dibatalkan?</h4>

    <div>
      <p><strong>BISA</strong>, dengan ketentuan seperti berikut:</p>
      <ul>
        <li>Requester telah mengirimkan uang untuk transaksi dan Traveler bisa membatalkan transaksi karena tidak menemukan barang
          yang dicari atau tidak menerima permintaan dari Requester tersebut. Untuk membatalkannya, Traveler hanya perlu menekan tombol
        <strong>"Cancel this transaction"</strong> dan uang Requester dikembalikan.</li>
      <p align="center">
        <%= image_tag 'escrow_faq/007.png', :class => "defaultShadow" %>
      </p>
        <li>Terhitung <strong>30 hari</strong> sejak transfer dan tidak ada kabar dari Traveler, maka transaksi dibatalkan dan uang dikembalikan.</li>
      </ul>
    </div>

     <h4 class="textBlack">> Dimana bisa saya temukan informasi nomor rekening Bank Bistip SafePay?</h4>

    <div>
      <p>Setelah menyelesaikan pengisian data transaksi seperti di bawah ini,</p>
           <p align="center">
        <%= image_tag 'escrow_faq/003.png', :class => "defaultShadow" %>
      </p>
      <p>maka akan muncul informasi Rekening Bank beserta nomor Transaksi <strong>("Notes")</strong>.</p>
           <p align="center">
        <%= image_tag 'escrow_faq/006.png', :class => "defaultShadow" %>
      </p>
    </div>

    <h4 class="textBlack">> Bolehkah kita membuka paketnya untuk memastikan keamanan?</h4>

    <div>
      <p>Kita disini hanya mempertemukan requester dengan traveler. Kami sudah pikirkan perihal
        keselamatan si traveler, seperti yang kita dokumentasikan
        di <%= link_to t('content.link.guide'), guide_path %>.
        Disana kita sebut
        <strong>"Pastikan kamu tahu barang yang dititipkan padamu, minta izin untuk melihat sendiri isi barang tersebut
          untuk menghindari kamu menjadi korban dari kriminalitas."</strong>
      </p>
    </div>

    <h4 class="textBlack">> Bagaimana sebaiknya dalam menentukan nilai imbalan untuk titipan?</h4>

    <div>
      <p>Menurut kami memang tidak mudah untuk memberi standar imbalan. Contoh: mungkin barang berat tapi harga nggak
        seberapa, namun bisa juga sebuah barang itu penting (seperti untuk kesehatan) jadi penitip tidak keberatan untuk
        kasih imbalan lebih.
        Untuk ini emang kita serahkan negosiasi antar sesama Bistip user. Silakan juga
        dibaca <%= link_to t('content.link.guide'), guide_path %> yang kami sudah tulis.
      </p>
    </div>

    <h4 class="textBlack">> Bagaimana untuk menghindari penipuan dalam transaksi titip-menitip?</h4>

    <div>
      <p>Lihat kelengkapan profil, bila perlu kunjungi akun Facebook dan/atau Twitternya. Reputasi juga dilihat, jika
        banyak
        yang memberi reputasi buruk maka hindari transaksi besar dengan orang tersebut.</p>
    </div>
    <p><strong>Kalau ada pertanyaan lainnya silakan kirim ke kami
      di <%= link_to t('contact_us.new.link.general'), new_contact_us_path %> :)</strong></p>

  </div>
</div>