<div class="login-box text-white-12">
  <% if logged_in? %>
    <span>Hi, <%= current_user.username %>!</span><span class="sep">&diams;</span>
    <a href="<%= profile_path(current_user.username) %>"><%= t('user.show.top_link')%></a><span class="sep">&diams;</span>
    <a href="<%= user_messages_path(current_user) %>">
      <% inbox = current_user.received_messages.where(:read => false).count %>
      <% if inbox > 0 %>
        <span class="text-orange-12"><%= t('message.link.inbox') %>&nbsp;(<%= inbox %>)</span>
      <% else %>
        <%= t('message.link.inbox') %>
      <% end %>
    </a>
    <span class="sep">&diams;</span>
    <% notification = current_user.received_notifications.where(:read => false).count %>
    <% message_link_style = notification > 0 ? 'orange-link' : 'blue-link' %>
    <span class="top-menu <%= message_link_style %>">
      <a href="<%= user_notifications_path(current_user) %>">
        <% if notification > 0 %>
          <%= t('notification.link.notification') %>&nbsp;(<%= notification %>)
        <% else %>
          <%= t('notification.link.notification') %>
        <% end %>
      </a>
    </span>
    <span class="sep">&diams;</span>
    <%= link_to t('forum.link'), forums_path %>
    <span class="sep">&diams;</span> <%= link_to t('logout.link'), logout_path %>
  <% else %>
     <table>
      <tr>
        <td>
          <%= link_to t('forum.link'), forums_path %><span class="sep">&diams;</span>
          <%= link_to t('login.link'), new_session_path %><span class="sep">&diams;</span>
          <span class="button-red"><%= link_to t('layout.link.register'), new_user_path %></span>
        </td>
      </tr>
    </table>
  <% end %>
  
</div>
