<% url = locals[:url] %>
<% title = locals[:title] %>
<% label = locals[:label] %>

<!-- Social share BEGIN -->

<script type="text/javascript">
  $(document).ready(function() {
    $('.share_buttons').mouseenter(
    function(e) {
      $('.tooltip').show();
      $('.share_this').fadeIn(200);
    }).mouseleave(function(e) {
      $('.share_this').fadeOut(200);
      $('.tooltip').hide();
    });

    $('.share_buttons').click(function() {
      $('#load_buttons_box').fadeIn();
    });
  });

  $(document).ready(function() {

    $('#shortLink').click(function() {

      if ($('#shortLink').is(':checked')) {
        $('#setURL').val($("#shareLink").val()); // to save previous link
        var a = $("#shareLink").val();

        $.post("getShortLink.php?value=" + a, {
        }, function(response) {
          $('#shareLink').val(response);
        });
      }
      else {
        $('#shareLink').val($('#setURL').val());
      }
    });

    $('.close').click(function() {
      $('#load_buttons_box').fadeOut();
    });
  });

</script>


<button type="button" class="share_buttons" onclick="return false;">
  <span><%= label %></span></button>
<br/>

<div id="load_buttons_box">

  <div class="mesgbox"></div>
  <div class="close">x</div>
  <br/>

  <div class="textBox">
    <input type="text" name="shareLink" id="shareLink" value="<%= url %>" size="35"/>
  </div>
  <br/><br/>

  <!-- AddThis Button BEGIN -->
  <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
    <a class="addthis_button_facebook" addthis:url="<%= url %>" addthis:title="<%= title %>"></a>
    <a class="addthis_button_twitter" addthis:url="<%= url %>" addthis:title="<%= title %>"></a>

    <script type="text/javascript">
      var addthis_config = {"data_track_clickback":true};
    </script>
    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4d71069d1b32853e"></script>
    <!-- AddThis Button END -->

    <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
    <fb:send href="<%= url %>" font="arial"></fb:send>
  </div>
  <br/>

</div>


<!-- Social share END -->