<%@tmp = User.find_by_id(@user.id)%>
<ul id="sub-menu">
  <%= render_sub_menu_link t('user.show.link'), profile_path(@tmp.username)%>
  <% if logged_in? and current_user == @user%>
    <%= render_sub_menu_link t('user.edit.link'), {:controller => 'users', :action => "edit", :id => @user.id} %>
    <%= render_sub_menu_link t('password.edit.link'), {:controller => 'passwords', :action => "edit"} if !@user.social_login?%>
    <%= render_sub_menu_link t('configuration.edit.link'), edit_user_configuration_path(:user_id => @user.id, :id => @user.user_configuration.id) %>
    <%= render_sub_menu_link t('influencer.link'), influencer_point_user_path(:id => @user.id)%>
  <% end %>
  <br/>
  <%= render_sub_menu_link t('trip.index.link'), {:controller => 'users', :action => "trips", :id => @user.id} %>
  <%= render_sub_menu_link t('seek.index.link'), {:controller => 'users', :action => "seeks", :id => @user.id} %>
  <br/>
  <%= render_sub_menu_link t('reputation.link.positive'), {:controller => 'positive_reputations', :action => "index", :user_id => @user.id} %>
  <%= render_sub_menu_link t('reputation.link.negative'), {:controller => 'negative_reputations', :action => "index", :user_id => @user.id} %>
</ul>