<%= form_for(@suggested_item, :html => {:multipart => true}) do |f| %>
    <h3 class="textBlack"><%= t('suggested_items.new.heading') %></h3>
    <p class="inline">
      <label><%= t('suggested_items.new.label.name') %></label>
      <% if @suggested_item.new_record? %>
        <%= f.text_field :name %>
      <% else %>
        <strong><%= @suggested_item.name %></strong>
      <% end %>
    </p>
    <p class="inline">
      <label><%= t('suggested_items.new.label.city') %></label>
      <% if @suggested_item.new_record? %>
        <%= location_auto_complete_js 'suggested_item_origin_location', false %>
        <% origin_location_value = params[:origin] ? params[:origin] : @suggested_item.origin_location %>
        <%= f.text_field :origin_location, :value => origin_location_value %>
      <% else %>
        <strong><%= @suggested_item.origin_location %></strong>
      <% end %>
    </p>
    <div id="suggestedItemAttachPicture">
      <div class="label">
        <span class="attach"><%= t('suggested_items.general.picture') %></span>
      </div>
      <div class="fields">
        <%= f.fields_for :pictures do |picture| %>
          <% if picture.object.new_record? %>
            <%= render "suggested_item_pictures/field", :locals => {:picture => picture} %>
          <% else %>
            <%= image_tag picture.object.attachment.url(:thumb), :size => '48x48', :class => "photo bgWhite" %>
          <% end %>
        <% end %>
      </div>
    </div>
    <p>
      <label><%= t('suggested_items.new.label.reason') %></label>
      <%= f.text_area :reason, :rows => 3, :cols => 60 %>
    </p>
    <p>
      <label><%= t('suggested_items.new.label.notes') %></label>
      <%= f.text_area :notes, :rows => 5, :cols => 60 %>
    </p>
    <br clear="all"/>
    <p><%= f.submit t('button.send'), :class => 'defaultButton' %><%= link_to t('button.cancel'), :back, :class => 'cancelLink' %></p>
<% end %>