<% page_title t('suggested_items.new.heading') %>
<div id="suggestedItem">
  <div class="col12">
    <h2>
      <%= t('suggested_items.general.heading') %>
    </h2>
  </div>

  <div class="col7 bgLightGreen defaultRound">
    <%= render 'form' %>
  </div>
</div>
