<% url = locals[:url] %>
<% title = locals[:title] %>

<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_16x16_style">
<a class="addthis_button_facebook" addthis:url="<%= url %>" addthis:title="<%= title %>"></a>
<a class="addthis_button_twitter" addthis:url="<%= url %>" addthis:title="<%= title %>"></a>
</div>
<script type="text/javascript">var addthis_config = {"data_track_clickback":true};</script>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4d71069d1b32853e"></script>
<!-- AddThis Button END -->