<% page_title t('seek.edit.link') %>
<div class="content-left">
  <div class="text-orange"><%= t('seek.edit.link') %></div>
  <%= render 'form', :locals => {:cancel_path => seek_path(@seek)}%>
</div>
