<div style="font: normal 14px Helvetica, Arial, sans-serif; line-height: 19px; color: #333;">
  <p><%= @seek.user.username %> just posted a Wanted Bistiper from <%= @seek.origin_location %> to <%= @seek.destination_location %></p>
  <p>You can view the post through the link below:</p>
  <br/>
  <%= auto_link(seek_url(@seek)) %>
</div>
