<%= form_for(@trip) do |f| %>
  <div id="postNewRoute">
    <p>
      <label><%= t('trip.field.label.route')%></label>
      <%= location_auto_complete_js 'trip_origin_location', true %>
      <%= f.text_field :origin_location, :class => 'defaultText', :style=>"width: 230px;", :placeholder => t('trip.field.label.origin')%>
      &nbsp;<span class="dashArrow">-</span>&nbsp;
      <%= location_auto_complete_js 'trip_destination_location', true %>
      <%= f.text_field :destination_location, :class => 'defaultText', :style=>"width: 230px;", :placeholder => t('trip.field.label.destination') %>
      <br/>
      <%= render 'shared/new_location_contact_us' %>
    </p>
    <p>
      <label><%= t('trip.field.label.departure_date') %></label>
      <%= date_picker_js 'trip_departure_date' %>
      <% departure_date = l(@trip.departure_date) unless @trip.departure_date.nil? %>
      <%= f.text_field :departure_date, :value => departure_date, :readonly => "readonly", :class => 'defaultText' %>
      <br/>
      <input type="checkbox" id="arrival-date-toggle" name="arrival-date-toggle" <%= 'checked' unless @trip.arrival_date.nil? %>/><%= t('trip.new.label.arrival_date_instruction') %>
    </p>
    <script type="text/javascript">
      $("#arrival-date-toggle").click(function () {
        $("#arrival-date-field").toggle();
        $("#trip_arrival_date").val('');
        return true;
      });
    </script>
    <div id="arrival-date-field" style="<%= 'display: none' if @trip.arrival_date.nil?%>">
      <p>
        <label><%= t('trip.field.label.arrival_date') %></label>
        <%= date_picker_js 'trip_arrival_date' %>
        <% arrival_date = l(@trip.arrival_date) unless @trip.arrival_date.nil? %>
        <%= f.text_field :arrival_date, :value => arrival_date, :readonly => "readonly", :class => 'textbox-01' %>
        <br/>
        <%= render_link_to_clear_a_field('trip_arrival_date') %>
      </p>
    </div>

    <div class="divider"></div>
    <h4><%= t('trip.field.label.items') %></h4>
    <br/>
    <div class="items">
      <div class="header"><label><%= t('trip_item.field.label.name') %></label> <label><%= t('trip_item.field.label.tip') %></label></div>
      <%= f.fields_for :items do |builder| %>
        <%= render "item_fields", :f => builder %>
      <% end %>
      <div>
        <%= link_to_add_fields t("general.add_more"), f, :items, TripItem::MAXIMUM %>
      </div>
    </div>
    <br/>
    <p>
      <label><%= t('trip.field.label.notes') %></label>
      <%= enable_character_counter('trip_notes',Trip::NOTES_MAXIMUM_LENGTH) %>
      <%= f.text_area :notes, :rows => 6, :cols => 60 %>
    </p>

    <p>
      <label>&nbsp;</label>
      <%= f.submit t('button.send'), :class => 'defaultButton' %>
      <%= link_to t('button.cancel'), :back, :class => 'cancelLink' %>
    </p>
  </div>
<% end %>




