<%= form_for(@trip) do |f| %>
  <div class="text-01">
    <div class="mobile-row"><b><%= t('trip.new.label.intro') %></b></div>
    <div class="mobile-row">
        <%= t('trip.field.label.routine') %> <span style="border: 2px solid #FF5577; background: white; padding: 4px; font-weight: bold" class="blue-link"><%= link_to t('trip.new.label.routine_link'), new_routine_trips_path %></span>
    </div>
    <div class="mobile-row"><%= t('mobile.trip.field.label.origin') %></div>
    <div class="mobile-row">
      <%= location_auto_complete_js 'trip_origin_location', true %>
      <%= f.text_field :origin_location, :class => 'textbox-01' %>
    </div>
    <div class="mobile-row"><%= t('mobile.trip.field.label.destination') %></div>
    <div class="mobile-row">
      <%= location_auto_complete_js 'trip_destination_location', true %>
      <%= f.text_field :destination_location, :class => 'textbox-01' %>
    </div>
    <div class="mobile-row"><%= render 'shared/new_location_contact_us' %></div>
    <div class="mobile-row"><%= t('trip.field.label.departure_date') %></div>
    <div class="mobile-row">
      <%= f.datetime_select :departure_date,
        options = {:discard_hour=>true, :discard_minute=>true, :start_year=>Time.now.year, :end_year=>Time.now.year+5, :prompt=>true} %>
    </div>
    <div class="mobile-row"><%= t('trip.field.label.arrival_date') %></div>
    <div class="mobile-row"><i><%= t('trip.new.label.arrival_date_help') %> </i></div>
    <div class="mobile-row">
      <%= f.datetime_select :arrival_date,
        options = {:discard_hour=>true, :discard_minute=>true, :start_year=>Time.now.year, :end_year=>Time.now.year+5, :prompt=>true} %>
    </div>
    <div class="mobile-row"><%= t('trip.field.label.items') %></div>
    <div class="item-details">
      <table>
        <tr>
          <td width="100px"><%= t('trip_item.field.label.name') %></td>
          <td colspan="2"><%= t('trip_item.field.label.tip') %></td>
          <td></td>
        </tr>
        <%= f.fields_for :items do |builder| %>
          <%= render "item_fields", :f => builder %>
        <% end %>
        <tr>
          <td colspan="4"><%= link_to_add_fields t("general.add_more"), f, :items, SeekItem::MAXIMUM %></td>
        </tr>
      </table>
    </div>
    <div class="mobile-row"><%= t('trip.field.label.notes') %></div>
    <div class="mobile-row">
      <%= enable_character_counter('trip_notes',Trip::NOTES_MAXIMUM_LENGTH) %>
      <%= f.text_area :notes, :rows => 5, :cols => 25, :class => 'textarea-01' %>
    </div>
    <div class="mobile-row">
      <%= f.submit t('button.submit'), :class => 'button-register' %> / <%= link_to t('button.cancel'), locals[:cancel_path] %>
    </div>
  </div>
<% end %>

