<% page_title t('content.link.insurance') %>
<div class="col4, padding2point5">
  <h2><%= t('content.link.insurance') %>  </h2>

  <h3 class="textBlack">Apa yang bisa diasuransikan?</h3>

  <p>
    Yang diasuransikan adalah barang yang dijadikan objek titip-menitip dari <strong>resiko kehilangan</strong>.
  </p>

  <h3 class="textBlack">Bagaimana cara mengasuransikan barang titipan saya?</h3>

  <p>
    Di saat anda akan memulai konversasi melalui fitur messaging dengan calon pembawa titipan, maka anda bisa melihat tombol
    <strong>"Ajukan Asuransi"</strong> dan ikuti langkah selanjutnya.
  </p>

  <h3 class="textBlack">Berapa tarif yang dikenakan untuk Asuransi?</h3>

  <p>
    Tarif asuransi bistip adalah sebagai berikut:
  </p>
  <ul>
    <li><strong>Rp.10.000</strong> untuk penggantian uang <strong>maksimal</strong> sejumlah <strong>Rp.1.000.000</strong></li>
    <li><strong>Custom</strong> - bisa dinegosiasikan dengan kita</li>
  </ul>

  <h3 class="textBlack">Bagaimana cara membayar tarif asuransi?</h3>
  <p>
    Kami menerima pembayaran melalui BCA atau PayPal.
  </p>

  <h3 class="textBlack">Bagaimana cara melakukan klaim?</h3>
  <p>
    Kirim pesan ditujukan ke admin bistip di <%= link_to 'halaman ini','http://www.bistip.com/users/1/messages/new' %> mengenai klaim anda dan beberapa data akan kami minta untuk proses klaim.
  </p>

  <h3 class="textBlack">Syarat dan ketentuan</h3>
  <ul>
    <li>Asuransi ini hanya berlaku apabila keseluruhan transaksi dilakukan melalui fitur <strong>messaging</strong> bistip.com.</li>
    <li>Pihak bistip.com <strong>berhak menolak</strong> permintaan asuransi dan klaim asuransi dengan atau tanpa menyertakan alasan penolakan tersebut.</li>
    <li>Dengan menggunakan asuransi bistip, anda setuju untuk tidak melibatkan pihak bistip.com dalam ranah hukum negara manapun.</li>
  </ul>
</div>

<%= render 'shared/guide_menu' %>