@charset "UTF-8";
/*
	CSS Document for BisTip.com
*/

@import url("styles-reset.css");
@import url("colorbox.css");
@import url("ie-warning.css");

@font-face {
    font-family: 'Aller';
    src: url('../type/aller_bdit-webfont.eot');
    src: url('../type/aller_bdit-webfont.eot?#iefix') format('embedded-opentype'),
        url('../type/aller_bdit-webfont.woff') format('woff'),
        url('../type/aller_bdit-webfont.ttf') format('truetype'),
        url('../type/aller_bdit-webfont.svg#AllerBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'Aller';
    src: url('../type/aller_rg-webfont.eot');
    src: url('../type/aller_rg-webfont.eot?#iefix') format('embedded-opentype'),
        url('../type/aller_rg-webfont.woff') format('woff'),
        url('../type/aller_rg-webfont.ttf') format('truetype'),
        url('../type/aller_rg-webfont.svg#AllerRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Aller';
    src: url('../type/aller_bd-webfont.eot');
    src: url('../type/aller_bd-webfont.eot?#iefix') format('embedded-opentype'),
        url('../type/aller_bd-webfont.woff') format('woff'),
        url('../type/aller_bd-webfont.ttf') format('truetype'),
        url('../type/aller_bd-webfont.svg#AllerBold') format('svg');
    font-weight: bold;
    font-style: normal;

}

/* Colors

#ffbf00: Yellow
#034e86: Blue

*/

/* General Settings */

html {
    width: 100%;
}

body {
    background: #fff;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border-top: 5px solid #ffbf00;
    font: 10px/20px Aller, helvetica, arial, sans-serif;
    font-size: 62.5%;
    color: #333;
/*    min-width: 240px;*/
}

a:link, a:visited {
    color: #034e86;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #999;
}

a.divlink:link, a.divlink:visited {
    display: block;
    color: #333;
    font-weight: normal;
}

a.divlink:hover {
    color: #999;
}

a.cancelLink:link, a.cancelLink:visited {
    color: #999;
    margin-left: 10px;
}

a.cancelLink:hover {
    color: #333;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #034e86;
}

h1 {
    font-size: 16px;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
    line-height: 1.3em;
}

h4 {
    font-size: 13px;
}

h5 {
    font-size: 11px;
}

h6 {
    font-size: 10px;
}

p {
    margin-bottom: 5px;
    line-height: 1.8em;
    font-size: 13px;
}

ul, ol {
    margin-bottom: 15px;
    font-size: 13px;
    padding-left: 40px;
}

ul li {
    list-style-type: disc;
    list-style-position: outside;
}

ol li {
    list-style-type: decimal;
    list-style-position: outside;
}

img {
    vertical-align: middle;
}

blockquote {
    background-color: #fff7de;
    margin: 0px 20px 20px 20px;
    padding: 20px;
    font-size: 13px;
    font-style: italic;
    line-height: 1.8em;
}

strong {
    font-weight: bold;
}

em, cite {
    font-style: italic;
}

small {
    font-size: 0.9em;
}

sup {
    font-size: 0.7em;
    position: relative;
    top: -0.6em;
}

sub {
    font-size: 0.7em;
    position: relative;
    bottom: -0.6em;
}

input[type="text"], input[type="email"], input[type="password"], textarea, select {
    background: #fff;
    padding: 5px 10px;
    border: 1px solid #ccc;
    font-size: 13px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

select {
}

input[type="button"], input[type="submit"] {
    background: #034e86;
    padding: 5px 10px;
    border: 0px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-appearance: none;
    -webkit-box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    text-shadow: rgba(255,255,255,1);
    cursor: pointer;
}

input[type="button"]:hover, input[type="submit"]:hover {
    background: #999;
}






/* Additional Classes */

.nomargin {
    margin: 0px;
}

.alignleft {
    float: left;
    margin-right: 20px;
}

.alignright {
    float: right;
    margin-left: 20px;
}

.clear {
    clear: both;
}

.overflow {
    overflow: hidden;
}

hr {
    clear: both;
    margin: 15px 0px;
    border-top: 1px solid #ccc;
    font-size: 1px;
    line-height: 1px;
}

.divider {
    clear: both;
    width: 100%;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.3);
    margin: 5px 0px;
}

.textBlack {
    color: #333;
}

.textGreen {
    color: #2e9401;
}

.textRed {
    color: #d70000;
}

.bgYellow {
    background-color: #ffbf00;
    background-image: url(../images/bg-yellow.png);
    color: #333;
    text-shadow: 0px 1px 1px #fff;
}

.bgLightYellow {
    background-color: #fff7de;
}

.bgLightBlue {
    background-color: #deeef9;
}

.bgGrey {
    background-color: #f4f4f4;
}

.bgBlue {
    background-color: #034e86;
/*    background-image: url(../images/bg-blue.png);*/
    color: #fff;
    text-shadow: 0px -2px 2px rgba(0,0,0,1);
}

.bgLightGreen {
    background-color: #eef5ea;
}

.bgLightRed {
    background-color: #ffdfdf;
}

.bgWhite {
    background-color: #fff;
}

a.btnAction:link, a.btnAction:visited,
a.btnActionInv:link, a.btnActionInv:visited {
    padding: 5px 10px;
    color: #000;
    text-decoration: none;
    text-shadow: 0px 1px 1px #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
}

a.btnAction:link, a.btnAction:visited {
    background-color: #ffbf00;
    border: 1px solid #edb201;
}

a.btnActionInv:link, a.btnActionInv:visited {
    background-color: #034e86;
    border: 1px solid #034e86;
}

a.btnAction:hover, a.btnActionInv:hover {
    background-color: #ccc;
    border-color: #bbb;
    text-shadow: none;
}

.largeButton {
    font-size: 22px;
    padding: 10px 20px;
}

.defaultRound {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.defaultShadow {
    -webkit-box-shadow: 0px 4px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 4px 5px rgba(0,0,0,0.3);
    box-shadow: 0px 4px 5px rgba(0,0,0,0.3);
}

span.dashArrow {
    width: 11px;
    height: 12px;
    display: inline-block;
    background: url(../images/arrow-default.png) no-repeat;
    background-position: 0px 3px;
    text-indent: -10000em;
}

span.counter {
    background: #eee;
    color: #999;
    padding: 2px 5px;
    font-size: 12px;
    font-weight: normal;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-shadow: none;
}

span.tip {
    background: url(../images/icon-tip.png) no-repeat;
    width: 16px;
    height: 16px;
    margin: 0px 2px;
    display: inline-block;
    text-indent: -10000em;
}

span.new {
    background: #2e9401;
    margin-left: 5px;
    padding: 2px 4px;
    color: #fff;
    font-size: 10px;
    text-shadow: 0px -1px 1px rgba(0,0,0,0.5);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

span.transaction {
    background: #FFBF00;
    margin-left: 5px;
    padding: 2px 4px;
    color: #000;
    font-size: 11px;
    text-shadow: 0px -1px 1px #FFFFFF;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

span.recommendation {
    background: #419EDC;
    margin-left: 5px;
    padding: 2px 4px;
    color: #fff;
    font-size: 10px;
    text-shadow: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

span.verified {
    background: #1CBABC;
    margin-left: 5px;
    padding: 2px 4px;
    color: #fff;
    font-size: 10px;
    text-shadow: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

a.thumbUp:link, a.thumbUp:visited {
    color: #2e9401;
}

a.thumbDown:link, a.thumbDown:visited {
    color: #d70000;
}

span.thumbUp {
    color: #2e9401;
    font-weight: bold;
}

span.thumbDown {
    color: #d70000;
    font-weight: bold;
}

img.photo {
    border: 2px solid #ffc20d;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.notificationBar {
    background: #eee;
    padding: 5px 10px;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: bold;
    display: block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.notificationBar.yellow {
    background: #ffbf00 url(../images/icon-not-exclamation.png) 10px 12px no-repeat;
    padding: 10px 20px 10px 35px;
}

.notificationBar.red {
    background: #d70000 url(../images/icon-not-false.png) 10px 12px no-repeat;
    padding: 10px 20px 10px 35px;
    color: #fff;
    text-shadow: 0px -1px 1px rgba(0,0,0,0.5);
}

.notificationBar.green {
    background: #2e9401 url(../images/icon-not-check.png) 10px 12px no-repeat;
    padding: 10px 20px 10px 35px;
    color: #fff;
    text-shadow: 0px -1px 1px rgba(0,0,0,0.5);
}


.pagination {
    margin-top: 10px;
    text-align: center;
}

.pagination .disabled {
    background: #eee;
    display: inline-block;
    margin-right: 2px;
    padding: 2px 5px;
    color: #ccc;
    font-size: 11px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.pagination a:link, .pagination a:visited {
    background: #eee;
    display: inline-block;
    margin-right: 2px;
    padding: 2px 5px;
    font-size: 11px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.pagination a:hover {
    background: #ccc;
}

.paginationMore {
    display: block;
    background: #fff7de;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
}

.paginationMore:hover {
    background: #ccc;
}

#feedbackButton {
    position: fixed;
    top: 45%;
    left: 0px;
    z-index: 1000;
    background: url(../images/btn-feedback.png);
    width: 35px;
    height: 100px;
    display: block;
    text-indent: -10000em;
}

#feedbackButton:hover {
    background: url(../images/btn-feedback-hover.png);
}

.adminTools {
    overflow: hidden;
    margin-top: 5px;
    font-size: 11px;
}

.adminTools a:link, .adminTools a:visited {
    background: #eee;
    margin-bottom: 2px;
    padding: 2px 5px;
    border: 1px solid #ccc;
    display: inline-block;
    color: #333;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.adminTools a.delete:link, .adminTools a.delete:visited {
    background: #d70000;
    border-color: #bd0000;
    color: #fff;
    text-shadow: none;
}

.adminTools a:hover, .adminTools a.delete:hover {
    background: #ccc;
    border-color: #ccc;
    color: #333;
}

ol.tips {
    margin: 0px 0px;
    padding: 20px 20px 20px 40px;
    color: #999;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}

ol.tips p {
    margin: 0px 0px 5px 0px;
    color: #333;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
}

.highlight {
    background: #ffbf00;
    padding: 2px 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.iconUser {
    background: url(../images/icon-user-16.png) no-repeat;
    padding-left: 24px;
}

.iconRoute {
    background: url(../images/icon-route-16.png) no-repeat;
    padding-left: 24px;
}

.iconRoute .dashArrow {
    height: 24px;
    background-position-y: 6px;
}

.iconDate {
    background: url(../images/icon-date-16.png) no-repeat;
    padding-left: 24px;
    font-weight: bold;
}

.iconShopping {
    background: url(../images/icon-shopping-16.png) no-repeat;
    padding-left: 24px;
    font-weight: normal;
}

.socialShare {
    height: 200px;
}

.socialShare .twitter {
    float: left;
}

.socialShare .facebook {
    float: left;
}

#similar {
    margin-bottom: 30px;
}

#similar h4 {
    margin-bottom: 20px;
}

#similar .divlink {
    color: #034e86;
    font-weight: bold;
}

#similar .divlink:hover .miniRow {
    opacity: 0.7;
}

.similarRow {
    padding: 10px 15px;
    border-bottom: 1px solid #fff;
    overflow: hidden;
}

/*
		.similarRow .avatar {
			width: 36px;
			float: left;
			}*/

.similarRow .info {
}

.similarRow .info p {
    margin: 0px;
}

/* Layout Settings */


/* Generic Columns 1-4 */

.col1, .col2, .col3, .col4{
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 10px;
    padding-bottom: 5px;
    float: left;
}

.col1 {
    width: 23%;
}


.col2 {
    width: 48%;
}

.col3 {
    width: 73%;
}

.col4 {
    width: 98%;
}

/* Header Settings */

header {
    background: #034e86 url(../images/bg-header.png) repeat-x;
    width: 100%;
    height: 40px;
    overflow: hidden;
}

header .plc {
    margin: 0px auto;
    overflow: hidden;
}

header h1 {
/*    width: 159px;*/
    height: 23px;
    float: left;
    display: block;
    margin: 10px 0px 0px 10px;
}

header h1 a {
    background: url("../images/logo-m.png") no-repeat;
    width: 77px;
    height: 48px;
    display: block;
    text-indent: -10000em;
}

header nav {
    float: right;
    margin-top: 3px;
    margin-right: 5px;
    font-size: 12px;
}

header nav span.menuDivider {
    width: 0px;
    height: 32px;
    display: block;
    margin: 0px 3px;
    float: right;
}

header nav a:link, header nav a:visited {
    color: #fff;
    text-decoration: none;
    float: right;
    margin-left: 5px;
    font-weight: normal;
    text-shadow: 0px -2px 2px rgba(0,0,0,1);
}

header nav a:hover {
    color: #ffbf00;
}

header nav span.notification,
header nav span.inbox,
header nav span.dashboard,
header nav span.logout{
    display: inline-block;
    float: right;
    position: relative;
    margin-top: 5px;
}

header nav span.counter {
    background: #d70000;
    position: absolute;
    display: block;
    top: -5px;
    right: -3px;
    z-index: 11;
    padding: 0px 3px;
    color: #fff;
    font-size: 9px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

header nav a.navDashboard:link, header nav a.navDashboard:visited {
    background: url(../images/nav-dashboard-m.png) no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
    padding: 0px;
    text-indent: -10000em;
    float: none;
}

header nav a.navInbox:link, header nav a.navInbox:visited {
    background: url(../images/nav-inbox-m.png) no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
    padding: 0px;
    text-indent: -10000em;
    float: none;
}

header nav a.navNotification:link, header nav a.navNotification:visited {
    background: url(../images/nav-notification-m.png) no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
    padding: 0px;
    text-indent: -10000em;
    float: none;
}

header nav a.navLogout:link, header nav a.navLogout:visited {
    background: url(../images/nav-logout-m.png) no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
    padding: 0px;
    text-indent: -10000em;
    float: none;
}

header nav a.navDashboard:hover,
header nav a.navInbox:hover,
header nav a.navNotification:hover,
header nav a.navLogout:hover
{
    background-position: bottom;
}

header nav a.btnAction:link, header nav a.btnAction:visited {
    color: #000;
    margin-top: 5px;
    padding: 2px 5px;
    font-weight: bold;
    text-shadow: 0px 1px 1px rgba(255,255,255,1);
}


/* Tooltip Settings */

.tooltip {
    background: rgba(0,0,0,0.5);
    color: #fff;
    width: auto;
    display: none;
    margin-top: 10px;
    padding: 2px 5px;
    font-size: 11px;
    text-align: center;
    text-shadow: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/* Secondary Nav Settings */

#secondaryNav {
    background: #444;
    width: 100%;
    border-top: 1px solid #666;
    overflow: hidden;
    color: #fff;
}

#secondaryNav .plc {
    margin: 0px auto;
    overflow: hidden;
}

#secondaryNav .plc nav {
}

#secondaryNav .plc nav a:link, #secondaryNav .plc nav a:visited {
    color: #fff;
    text-decoration: none;
    padding: 5px 0px;
    font-size: 12px;
    font-weight: normal;
    text-shadow: 0px -2px 2px rgba(0,0,0,1);
}

#secondaryNav .plc nav a:hover {
    color: #ffbf00;
}


/* Home Call To Action Section Settings */

#callToAction {
    width: 100%;
    overflow: hidden;
    background: #034e86 url(../images/bg-blue.gif);
}

#callToAction .plc {
    width: 100%;
    margin: 0px auto;
    padding-bottom: 20px;
    overflow: hidden;
}

#callToAction h2 {
    margin: 10px 0px 10px 0px;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    text-shadow: 0px 0px 0px rgba(0,0,0,1);
}

#callToAction h3.description {
    margin: 0px 0px;
    margin-bottom: 20px;
    color: #ffbf00;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 0px 0px rgba(0,0,0,1);
}

#callToAction .actionOptions {
    background: url(../images/bg-call-to-action.png) repeat-x;
    padding: 30px 0px 40px 0px;
    color: #034e86;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    -webkit-box-shadow: 0 20px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 20px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 20px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

#callToAction .actionOptions h3 {
    font-size: 30px;
    line-height: 1em;
    margin-bottom: 20px;
}

#callToAction .actionOptions h4 {
    font-size: 18px;
}

#callToAction .actionOptions h4 img {
    vertical-align: text-bottom;
}

#callToAction .actionOptions .btnAction:link, #callToAction .actionOptions .btnAction:visited {
    color: #000;
    padding: 8px 10px 8px 30px;
}

#callToAction .actionOptions .btnAction:hover {
    background-color: #ccc;
    color: #000;
}

#callToAction .actionOptions .btnPost {
    background: #ffbf00 url(../images/icon-route-16.png) no-repeat;
    background-position: 10px 10px;
}

#callToAction .actionOptions .btnSearch {
    background: #ffbf00 url(../images/icon-search-16.png) no-repeat;
    background-position: 10px 10px;
}

#callToAction .actionOr {
    margin-top: 80px;
    color: #023053;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 1px 2px rgba(255,255,255,0.5);
}

#callToAction .actionOptions.small {
    padding: 15px 0px 30px 0px;
    margin: 0px 10px;
}

#callToAction .actionOptions.small h3 {
    font-size: 16px;
}

#callToAction .actionOr.small {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Popular Items Bar Settings */

#popularItems {
    background: #ffbf00 url(../images/bg-yellow.png);
    width: 100%;
    min-width: 1000px;
}

#popularItems h3 {
    background: url(../images/bg-divider-shade.png) top no-repeat;
    width: 960px;
    margin: 0px auto;
    padding: 18px 20px;
    overflow: hidden;
    color: #000;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
}

#popularItems a:link, #popularItems a:visited {
    background: #ffa600;
    display: inline-block;
    padding: 5px 8px;
    color: #000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#popularItems a:hover {
    background: #999;
}




/* Home Secondary Contents Settings */

#homeSecondary {
    background: #fff7de;
    width: 100%;
    min-width: 1000px;
    border-bottom: 1px solid #ccc;
}

#homeSecondary .plc {
    background: url(../images/bg-divider-shade.png) top no-repeat;
    width: 960px;
    margin: 0px auto;
    padding: 20px 20px;
    overflow: hidden;
}

#homeSecondary h3 {
    margin-bottom: 20px;
    color: #000;
    font-size: 22px;
    text-align: center;
}

#homeSecondary .col6 {
    width: 480px;
    padding: 0px;
}

#homeSecondary .col6:last-child {
    width: 479px;
    border-left: 1px solid #ddd;
}

/* Bistipers Scroll Settings */

#homeSecondary #bistiperScrollplc {
    width: 440px;
    height: 300px;
    margin: 0px auto;
    overflow: hidden;
}

#bistiperScroll {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.bistiperRow {
    width: 420px;
    height: auto;
    overflow: hidden;
    margin: 0px 0px;
    padding: 0px;
    font-size: 14px;
}

.bistiperRow .divlink {
    display: block;
    color: #333;
}

#homeSecondary .bistiperRow {
    height: 100px;
}

.bistiperRow div.bistiperPlc {
    background: #fffdf5;
    margin-bottom: 10px;
    border: 1px solid #ece7d9;
    padding: 9px;
    overflow: hidden;
}

.bistiperRow .divlink .bistiperPlc {
    color: #034e86;
}

.bistiperRow .divlink:hover .bistiperPlc {
    opacity: 0.7;
}

.bistiperRow .avatar {
    width: 68px;
    float: left;
    margin-right: 15px;
}

.bistiperRow .info {
    width: 250px;
    float: left;
}

.bistiperRow .info h5, .bistiperRow .info p {
    font-size: 14px;
    margin: 0px;
}

.bistiperRow .info img {
    vertical-align: baseline;
}

.bistiperRow .tools {
    width: 60px;
    float: right;
    text-align: right;
}

.bistiperRow .tools a.thumbUp {
    color: #2e9401;
}

.bistiperRow .tools a.thumbDown {
    color: #d70000;
}

.bistiperRow .notes {
    clear: both;
    padding-top: 15px;
}


/* Home Tertiary Contents Settings */

#homeTertiary {
    background: #eee url(../images/bg-grey.png);
    width: 100%;
    min-width: 80%;
    color: #333;
}

#homeTertiary .plc {
    background: url(../images/bg-divider-shade.png) top no-repeat;
    width: 100%;
    margin: 0px auto;
    padding: 2.5px 2.5px;
}

#homeTertiary .plc .lines {
    width: 100%;
    background: url(../images/bg-lines.png) repeat-y;
}

#homeTertiary .plc em {
    color: #333;
}

#homeTertiary h4 {
    margin-bottom: 15px;
    font-size: 18px;
}


/* Contents Settings */

#contents {
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #eee;
}

#contents .plc {
    width: 100%;
    margin: 0px auto;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}

#contents h2 {
    font-size: 16px;
    margin-bottom: 10px;
}

#contents h3 {
    margin-bottom: 20px;
}



/* Registration Page Settings */

#registration {
}

#registration label {
    display: block;
}

#registration input[type="text"], #registration input[type="email"], #registration input[type="password"] {
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    width: 95%;
    border: 1px solid #ccc;
}

#registration input[type="checkbox"] {
    margin-right: 10px;
    margin-bottom: 60px;
    display: inline-block;
    float: left;
}

#registration input[type="submit"] {
    font-size: 16px;
    color: #fff;
    padding: 10px 20px;
}

#registration .passwordNew{
    width: 49%; 
    float: left;
}

#registration .passwordConfirm{
    width: 49%; 
    float: right;
}
.signUpTwitter:link, .signUpTwitter:visited {
    width: 150px;
    height: 22px;
    display: inline-block;
    text-indent: -10000em;
    background: url(../images/signin-twitter.png) top no-repeat;
}

.signUpFacebook:link, .signUpFacebook:visited {
    width: 150px;
    height: 22px;
    display: inline-block;
    text-indent: -10000em;
    background: url(../images/signin-facebook.png) top no-repeat;
}

.signUpTwitter:hover, .signUpFacebook:hover {
    background-position: 0px -24px;
}

.signUpTwitter:active, .signUpFacebook:active {
    background-position: 0px -48px;
}









/* View Route Settings */

#viewRoute {
    width: 100%;
}

#viewRoute .avatar {
    position: relative;
    width: 23%;
    max-width: 90px;
    float: left;
    text-align: center;
}

#viewRoute .avatar .trusted {
    position: absolute;
    left: 48px;
    z-index: 2;
}

#viewRoute .avatar h5 {
    margin-top: 2px;
}

#viewRoute .avatar .tools {
    margin-top: 2px;
    font-size: 12px;
}


#viewRoute .info {
    width: 76%;
    float: left;
    word-wrap: break-word;
}

#viewRoute .info .btnAction {
    font-size: 12px;
}



#viewRoute .info p {
    font-size: 12px;
}

#viewRoute .info p img {
    vertical-align: baseline;
}

#comments {
    padding: 5px 5%;
    width: 90%;
    margin-top: 20px;
    border: 1px solid #eee;
    overflow: hidden;
}

#comments .commentRow:last-child {
    border: none;
}

.commentRow {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}

.commentRow .avatar {
    width: 68px;
    float: left;
}

.commentRow .tools {
    width: 68px;
    margin-top: 5px;
    margin-right: 20px;
    padding: 0px;
    font-size: 10px;
    text-align: center;
}

.commentRow .info {
    width: 97%;
    padding-right: 2%;
    padding-left: 1%;
    float: right;
    word-wrap: break-word;
}

.commentRow .info h5 span {
    color: #999;
    font-style: italic;
    font-weight: normal;
}

.commentRow .adminTools {
    margin-top: 0px;
    font-size: 11px;
}

.commentRow .replyTools a:link, .commentRow .replyTools a:visited{
    font-size: 11px;
    font-weight: normal;
}

.commentRow .replyComment {
    margin-top: 10px;
}

.commentRow .replyComment textarea {
    padding: 5px;
    width: 95%;
    border: 1px solid #ccc;
}

.commentReplyRow {
    width: 100%;
    overflow: hidden;
    padding: 10px;
    margin-bottom: 5px;
}

.commentReplyRow .body {
    width: 100%;
    word-wrap: break-word;
}

.commentReplyRow .body p {
    margin-bottom: 0px;
}

#postComment {
    margin-top: 10px;
}

#postComment h4 {
    margin-bottom: 10px;
}

/* Post New Route Settings */

#postNewRoute {
    overflow: hidden;
    margin-top: 30px;
}

#postNewRoute label {
    display: block;
}

#postNewRoute input[type="text"], #postNewRoute input[type="email"], #postNewRoute input[type="password"] {
    font-size: 16px;
    padding: 5px;
    width: 500px;
    border: 1px solid #ccc;
}

#postNewRoute input[type="submit"] {
    font-size: 16px;
    color: #fff;
    padding: 5px 10px;
}

#postNewRoute .items {
    font-size: 13px;
}

#postNewRoute .items .header {
    color: #333;
    font-style: italic;
    overflow: hidden;
}

#postNewRoute .items .header label:first-child {
    width: 47%;
    float: left;
}

#postNewRoute .items .header label:last-child {
    float: left;
}

#postNewRoute .items .itemsRow input[type="text"]:first-child {
    width: 35%;
    margin-right: 5px;
}

#postNewRoute .items .itemsRow input[type="text"]:nth-child(3) {
    width: 20%;
    margin-right: 5px;
}

#postNewRoute .items a.remove:link, #postNewRoute .items a.remove:visited {
    padding-right: 16px;
    display: inline-block;
    color: #d70000;
    font-size: 12px;
    font-weight: bold;
}

#postNewRoute .items a.remove:hover {
    color: #999;
}

#postNewRoute a.add:link, #postNewRoute a.add:visited {
    padding-right: 16px;
    display: inline-block;
    color: #2e9401;
    font-size: 12px;
    font-weight: bold;
}

#postNewRoute a.add:hover {
    color: #999;
}

#postNewRoute textarea{
    width: 90%;
    height: 100px;
}

#postNewRoute .d1{
    width: 30%; 
    float: left;
}

#postNewRoute .d2{
    width: 65%; 
    float: left;
}

/* Search Settings */

#searchRoute {
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
}

#searchRoute label {
    display: block;
}

#searchRoute input[type="text"], #searchRoute input[type="email"], #searchRoute input[type="password"] {
    font-size: 16px;
    padding: 5px;
    width: 500px;
    border: 1px solid #ccc;
}

#searchRoute input[type="submit"] {
    font-size: 22px;
    background: #034e86;
    color: #fff;
    padding: 10px 20px;
}

#searchRoute input[type="submit"]:hover {
    background: #999;
}

#searchResults {
    margin-top: 10px;
    overflow: hidden;
}

#searchResults h4 {
    margin-bottom: 10px;
}

#searchResults .incoming_trips{
    font-size: 12px;
    padding-left: 5px;
}

.searchSort {
    float: right;
}

.searchSort select {
    margin-left: 7px;
}

/* Inbox Settings */

#inbox .divlink {
    border-bottom: 1px solid #ccc;
}

#inbox .navBack {
    margin-bottom: 10px;
}

#inbox .navBack:last-child {
    margin-top: 10px;
    margin-bottom: 0px;
}

.inboxRow {
    width: 100%;
    padding: 5px;
    border-bottom: 1px solid #eee;
    overflow: hidden;
    display: block;
}

.inboxRow.unread {
    background: #eff8ff;
    font-weight: bold;
}

#inbox .divlink:last-child {
    border: none;
}

#inbox .inboxRow:last-child {
    border: none;
}

#inbox .panel {
    margin-bottom: 15px;
}

#inbox .panel .filter {
    margin-left: 2px;
}

#inbox .btnSearch {
    font-size: 11px;
    background: #034e86;
    padding: 7px 5px;
    margin-left: 3px;
    color: #fff;
    text-decoration: none;
    text-shadow: 0px 0px 0px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
}

.inboxRow .avatar {
    width: 52px;
    float: left;
    margin-right: 5px;
    overflow: hidden;
}

.inboxRow .message h5 {
    margin-bottom: 2px;
    padding-bottom: 2px;
    border-bottom: 1px solid #eee;
}

.inboxRow .message span.date {
    color: #999;
    font-style: italic;
    font-weight: normal;
}

.inboxRow .message span.asset {
    margin-left: 3px;
}

.inboxRow .tools {
    width: 1px;
    float: left;
    overflow: hidden;
}

#inbox .divlink:hover .inboxRow {
    opacity: 0.7;
    color: #333;
}

#inbox.conversation h4 {
    margin-bottom: 10px;
}

#inbox.conversation h4 span {
    color: #333;
    font-weight: normal;
}

#inbox.conversation .inboxRow {
    border: none;
    margin-bottom: 5px;
}

#inbox.conversation .inboxRow.alt {
    background: #f4f4f4;
}

#inbox.conversation .inboxRow.alt .avatar {
    float: right;
    margin-left: 20px;
    margin-right: 0px;
}

#inbox.conversation .inboxRow.alt .message h5 {
    border-bottom: 1px solid #ddd;
}

#inbox.conversation .inboxRow.alt .tools {
    float: left;
}

#inbox.conversation .inboxRow:last-child {
    border: none;
}

/* Footer Settings */

footer {
    background: #fff;
    width: 100%;
    font-size: 10px;
    color: #999;
}

footer .plc {
    margin: 0px auto;
    padding: 10px 10px;
    overflow: hidden;
}

/* Footer center Settings */
footer .center {
    width: 100%;
    text-align: center;
}




/* Tabbed Sub-Navigation Settings */

#tabNav {
    width: 100%;
    padding: 0px 20px;
    padding-bottom: 31px;
    border-bottom: 1px solid #ccc;
    margin-left: -20px;
}

#tabNav a:link, #tabNav a:visited {
    height: 20px;
    background: #ccc;
    display: inline;
    float: left;
    margin-left: 3px;
    padding: 5px 8px;
    border: 1px solid #ccc;
    color: #999;
    font-size: 14px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#tabNav a.selected:link, #tabNav a.selected:visited {
    background: #fff;
    border: 1px solid #ccc;
    border-bottom: 1px solid #fff;
    color: #034e86;
}

#tabNav a:hover {
    background: #eee;
    color: #666;
    border-bottom: 1px solid #ccc;
}












/* Static Page Settings */

nav.static {
    padding: 10px 10px;
    font-size: 13px;
}

nav.static a:link, nav.static a:visited {
    display: block;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 5px 10px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fff;
    background: #034e86 url('../images/arrow-left.png') no-repeat right;
}

nav.static a:hover, nav.static a.selected {
    background: #ffbf00;
}


/* User Profile Settings */

span.memberDate {
    color: #999;
    font-size: 13px;
    font-style: italic;
    font-weight: normal;
}

#viewProfile {
    width: 100%;
    overflow: hidden;
}

#viewProfile .avatar {
    max-width: 100px;
    width: 30%;
    float: left;
    text-align: center;
}

#viewProfile .tools {
    margin-top: 5px;
    font-size: 13px;
}

#viewProfile .infoUser {
    width: 70%;
    float: left;
    word-wrap: break-word;
}

#viewProfile .infoUser p {
    margin-bottom: 0px;
}

#viewProfile .info {
    width: 100%;
    float: left;
    word-wrap: break-word;
}

#viewProfile .info p {
    font-weight: bold;
    margin-bottom: 5px;
    line-height: 1.2em;
}

#viewProfile .info p.bio {
    font-weight: normal;
}

#viewProfile .info .btnAction {
    font-size: 12px;
}

#viewProfile label {
    width: 100px;
    float: left;
    font-weight: normal;
    padding-right: 5px;
}

#viewProfile .info p img {
  vertical-align: baseline;
}


.userRoute {
}

.review {
    margin-bottom: 10px;
    overflow: hidden;
}

.reviewHeader {
    margin-bottom: 20px;
}

.review .reviewRow:last-child {
    margin-bottom: 0px;
}

.reviewRow {
    background: #fafafa;
    width: 90%;
    overflow: hidden;
    margin-bottom: 5px;
    padding: 5px 10px;
    border: 1px solid #eee;
}

.review.good .reviewRow {
    border-left: 5px solid #2e9401;
}

.review.bad .reviewRow {
    border-right: 5px solid #d70000;
}

.reviewRow .avatar {
    width: 52px;
    margin-right: 20px;
    float: left;
}

.reviewRow .info {
    width: 100%;
    float: left;
    word-wrap: break-word;
}

.reviewRow .info p {
    font-size: 11px;
}

.reviewRow .info h5 span.date {
    color: #999;
    font-style: italic;
    font-weight: normal;
}

.infoBlock {
    margin-bottom: 10px;
}

.infoBlock.old {
    position: relative;
}

.infoBlock.old .oldinfo {
    position: absolute;
    display: block;
    right: 5px;
    top: 0px;
    background: #d70000;
    background-position: right top;
    width: 70px;
    height: 15px;
    padding: 5px 10px;
    border-top: 2px solid #b10000;
    color: #fff;
    font-size: 10px;
    line-height: 1.5em;
    text-align: center;
    text-shadow: 0px -1px 1px rgba(0,0,0,0.5);
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.7);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.7);
}

.routeDisplay {
    padding: 5px 5px;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 0px -2px 2px rgba(0,0,0,1);
    overflow: hidden;
}

.routeDisplay img {
    vertical-align: baseline;
}

.routeDisplay .from {
    display: inline-block;
    float: left;
}

.routeDisplay .fromFlag {
    width: 20px;
    margin-left: 35px;
    padding-right: 10px;
    float: left;
    text-align: center;
}

.routeDisplay .arrow {
    background: url(../images/arrow-white.png) no-repeat;
    background-position: center center;
    text-indent: -10000em;
    width: 30px;
    float: left;
}

.routeDisplay .to {
    display: inline-block;
    float: left;
}

.routeDisplay .toFlag {
    width: 20px;
    padding-right: 10px;
    float: left;
    text-align: center;
}

.periodDisplay {
    border-top: 1px solid #fff7de;
    font-size: 12px;
    padding: 5px 5px;
}

.periodDisplay span.arrivalDate {
    font-size: 12px;
}

.periodDisplay span.weekDays {
    font-size: 12px;
}

.offerDisplay {
    padding: 5px 5px 5px 5px;
    border-top: 1px solid #fff7de;
    font-size: 11px;
}

.offerDisplay em {
    color: #999;
}





.infoBlock.mid {
    width: 100%;
    margin-bottom: 5px;
    overflow: hidden;
}

#searchResults .infoBlock.mid {
    overflow: hidden;
}

#searchResults.dashboard .infoBlock.mid {
    width: 640px;
    overflow: hidden;
}

#searchResults .infoBlock.mid .left {
    max-width: 76px;
    float: left;
    text-align: center;
    font-size: 13px;
    overflow: hidden;
    width: 23%;
}

#searchResults .infoBlock.mid .left .avatar {
    position: relative;
    float: left;
    width: 76px;
}

#searchResults .infoBlock.mid .left .avatar .trusted {
    position: absolute;
    left: 50px;
    z-index: 2;
}

#searchResults .infoBlock.mid .left h5 {
    color: #034e86;
}

#searchResults .infoBlock.mid .left .tools {
    width: 76px;
    display: block;
    float: left;
    font-size: 11px;
}

#searchResults .infoBlock.mid .right {
    width: 76%;
    float: left;
}

#searchResults.dashboard .infoBlock.mid .right {
    width: 545px;
}

#searchResults.dashboard.activity .infoBlock.mid .right {
    width: 640px;
}

#searchResults.dashboard.activity .activityWrap {
    overflow: hidden;
}

#searchResults.dashboard.activity .activityWrap a.infoBlockLink {
    float: left;
    width: 450px;
}

#searchResults.dashboard.activity .activityWrap .tools {
    float: right;
    width: 170px;
    padding-top: 5px;
}

#searchResults.dashboard.activity .activityWrap .tools .adminTools {
    margin: 0px;
}

.activityWrap{
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.infoBlock.mid .routeDisplay {
    font-size: 12px;
    padding: 5px 5px;
    text-shadow: 0px -1px 1px rgba(0,0,0,1);
}

.infoBlock.mid .periodDisplay {
    font-size: 12px;
    padding: 5px 5px;
}

.infoBlock.mid .offerDisplay {
    padding: 5px 5px;
    color: #333;
}

.infoBlock.mid .notesDisplay {
    padding: 0px 5px 0px 5px;
    font-weight: normal;
}

.infoBlock.mid .notesDisplay p {
    margin: 0px;
}

a.infoBlockLink {
    display: block;
    clear: both;
/*    margin-bottom: 10px;*/
    overflow: hidden;
}

a.infoBlockLink .infoBlock {
    color: #333;
}

a.infoBlockLink .infoBlock .offerDisplay {
    font-weight: normal;
}

a.infoBlockLink:hover .infoBlock {
    opacity: 0.7;
}













/* Dashboard Settings */

#dashboard {
    overflow: hidden;
}

#dashboard .dashboardPlc {
/*    padding: 20px;*/
    padding-top: 10px;
    padding-bottom: 10px;
}

#dashboard .dashboardPlc h4{
    padding-left:  5px;
}

#dashboardMenu {
}

#dashboardMenu a:link, #dashboardMenu a:visited {
    background: #ccc;
    display: block;
    margin-right: 0px;
    margin-bottom: 2px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    color: #999;
    font-size: 16px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#dashboardMenu a.selected:link, #dashboardMenu a.selected:visited {
    background: #fff;
    border: 1px solid #ccc;
    border-right: 1px solid #fff;
    color: #034e86;
}

#dashboardMenu a:hover {
    background: #eee;
    color: #666;
    border-bottom: 1px solid #ccc;
}

#dashboardMenu .submenu {
    padding: 10px 0px 20px 30px;
}

#dashboardMenu .submenu a:link, #dashboardMenu .submenu a:visited {
    background: none;
    padding: 0px 0px;
    border: none;
    color: #034e86;
    font-size: 13px;
}

#dashboardMenu .submenu a:hover {
    color: #999;
}

#dashboard .reviewRow {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#dashboard .reviewRow .info {
    width: 100%;
}



#profileEdit label {
    display: inline-block;
    float: left;
    width: 100%;
    padding-top: 3px;
}

#profileEdit.password label {
    width: 100%;
}

#profileEdit h4 {
    color:#333;
}

#profileEdit.password{
    padding-left: 15%;
    padding-right: 15%;
}

#profileEdit.settings label {
    padding-top: 3px;
    width: 90%;
    float: none;
    border-bottom: solid 1px #D2DCE8;
}

#profileEdit.settings p input[type="checkbox"]{
    vertical-align: top;
}

#profileEdit input[type="text"], #profileEdit input[type="file"], #profileEdit input[type="email"], #profileEdit input[type="password"] {
    font-size: 12px;
    padding: 5px 5px;
    padding-left: 2.5%;
    padding-top: 2.5%;
    width: 95%;
    border: 1px solid #ccc;
}

#profileEdit.password input[type="password"] {
    width: 100%;
}

#profileEdit textarea {
    width: 90%;
/*    height: 60px;*/
}

#profileEdit input[type="submit"] {
    font-size: 14px;
    color: #fff;
    padding: 10px 20px;
}

#influencerPoint {
}

#influencerPoint .infoBlock {
    width: 100%;
    overflow: hidden;
}

#influencerPoint .infoBlock .right {
    width: 75%;
    float: left;
    overflow: hidden;
}

#influencerPoint .infoBlock .pointDisplay {
    float: right;
    padding: 15px 15px 10px 15px;
    overflow: hidden;
    font-size: 36px;
    text-align: center;
}

#influencerPoint .infoBlock .pointDisplay span {
    clear: both;
    display: block;
    margin: 5px 0px 0px 0px;
    font-size: 13px;
}

/* Animations */

a, .infoBlock, .inboxRow, .bistiperPlc, .similarRow, #feedbackButton {
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

nav a {
    -webkit-transition: color .2s ease-out;
    -moz-transition: color .2s ease-out;
    -o-transition: color .2s ease-out;
    transition: color .2s ease-out;
}

nav.static a {
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

#tabNav a {
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

a.signUpTwitter, a.signUpFacebook {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

#postNewMessage {
    overflow: hidden;
    margin-top: 10px;
}

#postNewMessage label {
    display: block;
}

#postNewMessage input[type="text"], #postNewMessage textarea {
    font-size: 14px;
    padding: 2.5%;
    width: 95%;
    border: 1px solid #ccc;
}

#postNewMessage input[type="submit"] {
    color: #FFFFFF;
    font-size: 16px;
    padding: 10px 20px;
}

#postComment textarea {
    font-size: 12px;
    padding: 2.5%;
    width: 95%;
    border: 1px solid #ccc;
}

#feedback label {
    display: block;
}

#feedback input[type="text"], #feedback textarea {
    font-size: 13px;
    padding: 2.5%;
    width: 95%;
    border: 1px solid #ccc;
}

#feedback input[type="submit"] {
    color: #FFFFFF;
    font-size: 16px;
    padding: 10px 20px;
}

#login label {
    display: block;
}

#login input[type="text"], input[type="password"] {
    font-size: 16px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    width: 95%;
    border: 1px solid #ccc;
}

#login input[type="submit"] {
    color: #FFFFFF;
    font-size: 20px;
    padding: 10px 20px;
}

#resetPassword h4 {
    padding-bottom: 10px;
}

#resetPassword label {
    display: block;
    float: left;
    padding-top: 7px;
    width: 100%;
}

#resetPassword input[type="text"] {
    font-size: 13px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    width: 95%;
    border: 1px solid #ccc;
}

#resetPassword input[type="submit"] {
    color: #FFFFFF;
    font-size: 13px;
    padding: 10px 10px;
}

#resetEditPassword h4 {
    padding-bottom: 10px;
}

#resetEditPassword label {
    display: block;
    float: left;
    width: 100%;
}

#resetEditPassword input[type="text"] {
    font-size: 13px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    width: 95%;
    border: 1px solid #ccc;
}

#resetEditPassword input[type="submit"] {
    color: #FFFFFF;
    font-size: 13px;
    padding: 10px 10px;
}

#postReview h4 {
    padding-bottom: 10px;
}

#postReview label {
    display: block;
    width: 100%;
}

#postReview input[type="text"], #postReview textarea {
    font-size: 13px;
    padding: 0 2.5%;
    width: 95%;
    border: 1px solid #ccc;
}

#postReview input[type="submit"] {
    color: #FFFFFF;
    font-size: 14px;
    padding: 10px 20px;
}

.facebook-login {
    background-color: transparent;
    display: inline;
    border: 0 none;
    cursor: pointer;
    padding: 0px;
}

.locationField{
    width: 230px;
}

.px270{
    width: 270px;
}

#horizontalBullets ul, #horizontalBullets li{
    display: inline;
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}

.share_buttons {
    background: url(/images/share-icon.gif) center left no-repeat;
    background-color: hsl(0, 0%, 100%);

    border: 1px solid hsl(0, 0%, 82%);
    border-bottom: 2px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    padding-left: 50px;
}

#load_buttons_box {

    border: 1px solid hsl(0, 0%, 82%);
    border-bottom: 2px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    background-color: hsl(0, 0%, 100%);
    height: 100px;
    margin-top: 19px;
    display: none;
    padding-left: 30px;
    width: 290px;
}

.share_buttons:hover, .facebook_button:hover, .twitter_button:hover, .buzz_button:hover, .bebo_button:hover, .stumbleupon_button:hover {
    -moz-box-shadow: 1px 0.5px 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 1px 0.5px 4px rgba(0, 0, 0, 0.4);
}

.share_buttons:active{

}

.mesgbox {
    padding-left: 25px;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 20px;
    width: 220px;
    float: left
}

.close {
    border: solid #666666 1px;
    position: relative;
    vertical-align: top;
    float: left;
    width: 20px;
    margin-top: 6px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: hsl(0, 100%, 50%);
    cursor: pointer;
}

.textBox {
    height: 22px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 600;
}

.textBox label {
    cursor: pointer;
}

.recaptcha {
    padding-bottom: 20px;
}

.underlineText {
    text-decoration: underline;
}

/* BEGIN USER SEARCH RESULT */
#userSearch #userScrollplc {
    width: 440px;
    height: 300px;
    margin: 0px auto;
    overflow: hidden;
}

#userScroll {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.userRow {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0px 0px;
    padding: 0px;
    font-size: 12px;
}

.userRow .divlink {
    display: block;
    color: #333;
}

#userSearch .userRow {
    height: 100px;
}

.userRow div.userPlc {
    background: #fffdf5;
    margin-bottom: 10px;
    border: 1px solid #ece7d9;
    padding: 9px;
    overflow: hidden;
}

.userRow .divlink .userPlc {
    color: #034e86;
}

.userRow .divlink:hover .userPlc {
    opacity: 0.7;
}

.userRow .avatar {
    max-width: 68px;
    float: left;
    width: 23%;
    position: relative;
}

.userRow .avatar .trusted {
    position: absolute;
    left: 34px;
    z-index: 2;
}

.userRow .info {
    width: 250px;
    float: left;
    width: 66%;
}

.userRow .info h5, .userRow .info p {
    font-size: 12px;
    margin: 0px;
}

.userRow .info img {
    vertical-align: baseline;
}

.userRow .tools {
    max-width: 60px;
    float: right;
    text-align: right;
    width: 10%;
}

.userRow .tools a.thumbUp {
    color: #2e9401;
}

.userRow .tools a.thumbDown {
    color: #d70000;
}

/* END OF USER SEARCH RESULT */

/* overrride jquery UI css */
.ui-menu-item {
    list-style: none outside none;
}


.StaticTable
{
    background:#fff;

}
.StaticTable ul
{
    float:left;
    margin:0;
    padding:0;
    border:1px solid #fff;
}

.StaticTable ul li
{
    list-style:none;
    padding:0px 0px;
}

.StaticTable ul li.title
{
    font-weight:bold;
    background:#eee;
    color:#000;
}

.paginationMorePlaceholder {
    text-align: center
}

#viewNotifications h2 {
    margin-bottom: 0px;
}

.notificationRow {
    width: 100%;
    padding: 5px;
    overflow: hidden;
    display: block;
}

.notificationRow .message {
    width: 100%;
    overflow: hidden;
}

.notificationRow .message p {
    font-size: 12px;
}

.notificationRow .message h5 {
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}

.notificationRow .message span.date {
    color: #999;
    font-style: italic;
    font-weight: normal;
}

#viewWanted {
    width: 100%;
}
#viewWanted .avatar {
    position: relative;
    width: 23%;
    max-width: 90px;
    float: left;
    text-align: center;
}

#viewWanted .avatar .trusted {
    position: absolute;
    left: 48px;
    z-index: 2;
}

#viewWanted .avatar h5 {
    margin-top: 2px;
}
#viewWanted .avatar .tools {
    font-size: 12px;
    margin-top: 2px;
}
#viewWanted .info {
    width: 76%;
    float: left;
    word-wrap: break-word;
}
#viewWanted .info .btnAction {
    font-size: 12px;
}
#viewWanted .info p {
    font-size: 12px;
}
#viewWanted .info p img {
    vertical-align: baseline;
}

.routeDisplay .fromAnywhere {
    display: inline-block;
    float: left;
    margin-left: 35px;
}

#match {
    margin-bottom: 30px;
}

#match h4 {
    margin-bottom: 20px;
}
#match .divlink {
    color: #034E86;
    font-weight: bold;
}
#match .divlink:hover .miniRow {
    opacity: 0.7;
}
.miniRow {
    border-bottom: 1px solid #FFFFFF;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 10px 15px;
}
.miniRow .info {
}
.miniRow .info p {
    margin: 0;
}

#matchList {
    margin-top: 20px;
}

.dividerZero {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(0, 0, 0, 0.0);
    clear: both;
    margin: 20px 0;
    width: 100%;
}

#searchResults .btnAction {
    font-size: 16px;
}

#searchRoute .btnSearch, #searchUser .btnSearch, #searchSeek .btnSearch{
    font-size: 16px;
    background: #034e86;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    text-shadow: 0px 0px 0px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
}

#searchUser label {
    display: block;
}

#searchUser input[type="text"] {
    font-size: 16px;
    padding: 5px;
    width: 270px;
    border: 1px solid #ccc;
}

#searchSeek {
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
}

#searchSeek label {
    display: block;
}

#searchSeek input[type="text"], #searchRoute input[type="email"], #searchRoute input[type="password"] {
    font-size: 16px;
    padding: 5px;
    width: 500px;
    border: 1px solid #ccc;
}

#searchSeek input[type="submit"] {
    font-size: 22px;
    background: #034e86;
    color: #fff;
    padding: 10px 20px;
}

#searchSeek input[type="submit"]:hover {
    background: #999;
}
.alignCenter {
    text-align: center;
}

#influencerPoint .infoBlock .pointDisplayFloatLeft {
    float: left;
    padding: 15px 15px 10px 15px;
    overflow: hidden;
    font-size: 36px;
    text-align: center;
}
#influencerPoint .infoBlock .pointDisplayFloatLeft span {
    clear: both;
    display: block;
    margin: 5px 0px 0px 0px;
    font-size: 13px;
}

#influencerPoint .userRow {
    width: 40%;
    height: auto;
    overflow: hidden;
    margin: 0px 0px;
    padding: 0px;
    font-size: 14px;
    float: left;
}

#dashboard_activity .btnAction{
    font-size: 10.5px;
}

#tooltip{
    position:absolute;
    background: url(/images/info.png) center left no-repeat;
    background-color: #DDD;
    padding-left: 40px;
    padding-right:20px;
    padding-bottom: 20px;
    padding-top: 20px;
    background-position: 10px;
    opacity:0.9;
    -moz-border-radius:3px;border-radius:3px;-webkit-border-radius:3px;
    font-size:11px;
    font-weight: bold;
    display:none;
    max-width: 300px;
}

#applyInsurance label {
    float: left;
    width: 120px;
}

#applyInsurance input[type="text"] {
    font-size: 16px;
    padding: 5px;
    width: 400px;
    border: 1px solid #ccc;
}

#applyInsurance textarea {
    width: 400px;
    height: 100px;
}

#registered {
    background: #ffbf00 url(../images/bg-yellow.png);
    width: 100%;
    min-width: 80%px;
}

#registered .textBlack {
    color: #333;
    padding: 10px 0px 0px 10px;
    text-shadow: 0px 0px 0px rgba(255,255,255,0.5);
}

#registered .textWhite {
    color: #EEE;
    padding: 10px 0px 0px 10px;
    text-shadow: 0px 0px 0px rgba(255,255,255,0.5);
}

#registered p {
    width: 100%;
    margin: 0px auto;
    padding: 0px 20px;
    overflow: hidden;
    color: #000;
    font-size: 18px;
    font-weight: normal;
}

#registered .toAction {
    width: 100%;
    min-width: 80%;
    overflow: hidden;
    background: #034e86 url(../images/bg-blue.gif);
}

#registered .recommendation{
    padding-left: 10px;
}
#registered .plc {
    width: 100%;
    margin: auto auto;
    padding: 30px 20px 45px 20px;
    overflow: hidden;
}

#registered .toAction h2 {
    margin: 30px 0px 20px 0px;
    color: #fff;
    font-size: 34px;
    font-weight: normal;
    text-align: center;
    text-shadow: 0px -2px 2px rgba(0,0,0,1);
}

#registered .toAction .actionOptions {
    background: url(../images/bg-call-to-action.png) repeat-x;
    width: 100%;
    float: left;
    padding: 30px 0px 40px 0px;
    color: #034e86;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    -webkit-box-shadow: 0 20px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 20px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 20px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

#registered .toAction .leftSide {
    margin-left: 60px;
}

#registered .toAction .rightSide {
    margin-right: 60px;
}

#registered .toAction .actionOptions h3 {
    font-size: 30px;
    line-height: 1em;
    margin-bottom: 35px;
}

#registered .toAction .actionOptions h4 {
    font-size: 21px;
}

#registered .toAction .actionOptions h4 img {
    vertical-align: text-bottom;
}

#registered .toAction .actionOptions .btnAction:link, #registered .toAction .actionOptions .btnAction:visited {
    color: #000;
    padding: 8px 20px 8px 40px;
}

#registered .toAction .actionOptions .btnAction:hover {
    background-color: #ccc;
    color: #000;
}

#registered .toAction .actionOptions .btnPost {
    background: #ffbf00 url(../images/icon-route-22.png) no-repeat;
    background-position: 10px 10px;
}

#registered .toAction .actionOptions .btnSearch {
    background: #ffbf00 url(../images/icon-search-22.png) no-repeat;
    background-position: 10px 10px;
}

#registered .toAction .actionOr {
    width: 100px;
    float: left;
    margin-top: 80px;
    color: #023053;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 1px 2px rgba(255,255,255,0.5);
}

#registered .toAction .actionOptions.small {
    padding: 15px 0px 30px 0px;
}

#registered .toAction .actionOptions.small h3 {
    font-size: 20px;
}

#registered .toAction .actionOr.small {
    margin-top: 50px;
}

.bgGreenInfo {
    background: #eef5ea url(/images/info-icon.png) left no-repeat;
    background-position: 15px;
    padding: 15px;
    text-indent: 30px;
}

.expireInfo{
    right: 10px;
    top: 0px;
    background: #d70000;
    background-position: right top;
    width: 70%;
    height: 35px;
    padding: 5px 10px;
    border-top: 2px solid #b10000;
    color: #fff;
    font-size: 11px;
    line-height: 1.5em;
    text-align: center;
    text-shadow: 0px -1px 1px rgba(0,0,0,0.5);
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.7);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.7);
}

.dashboardCallToAction{
    height: 7em;
    padding: 5px 5px;
    background-color: white;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}


.dashboardCallToAction h3{
    text-align: center;
    color: black;
}

.dashboardCallToAction a{
    padding: 8px 20px 8px 40px;
}

.dashboardCallToAction .btnPost {
    background: #ffbf00 url(../images/icon-route-16.png) no-repeat;
    background-position: 8px 8px;
}

.dashboardCallToAction .btnSearch {
    background: #ffbf00 url(../images/icon-search-16.png) no-repeat;
    background-position: 8px 8px;
}

.dashboardCallToAction .btnAction:link, .dashboardCallToAction .btnAction:visited {
    color: #000;
    padding: 8px 20px 8px 30px;
}

.plusSign {
    font-size: 16px;
}

.padding2point5 {
    padding-left: 2.5%;
    padding-right: 2.5%;
}

/* notification */
#app_notifications {
    background-color: #EFEFEF;
    border-top: solid 3px #ffbf00;
    border-bottom: solid 3px #ffbf00;
    width: 100%;
}

#app_notifications p {
    margin: 0px 5px;
    padding: 0;
    font-size: 12px;
    color: #000;
}

.word-wrap-comment{
    width: 90%;
    word-wrap: break-word;
}

#trips{
    padding-top: 5px;
}

.verticalAlignBaseline {
  vertical-align: baseline;
}

#reviews .btnAction {
  font-size: 12px;
}

#reviews p img {
  vertical-align: baseline;
}

.tipsIcon {
    padding-left: 10px;
    padding-right: 10px;
}

#trending h2 {
    margin-bottom: 0px;
}

#trending .itemDisplay {
    background-image: url(../images/icon-shopping-16.png);
    background-repeat: no-repeat;
    background-position: 10px 10px;
    padding: 8px 20px 8px 45px;
    font-size: 16px;
}

#trending .tripRow, #trending .seekRow {
  width: 100%;
  border-bottom: 1px solid #FFFFFF;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-top: 10px;
  padding: 10px 15px;
}

#trending .divlink {
    color: #034e86;
    font-weight: bold;
}

#trending .divlink:hover {
    opacity: 0.7;
}

#trending .commentRow {
    margin-top: 10px;
}

#trending .commentRow p {
    color: #333;
    font-weight: normal;
}

#trending .seeks, #trending .comments {
    margin-top: 10px;
}

#trending .tipRow {
    font-size: 12px;
}

#trending p {
    margin-bottom: 5px;
    font-size: 12px;
}

.redBackground input[type="text"], .redBackground input[type="email"], .redBackground input[type="password"], .redBackground textarea, .redBackground select {
    background-color:  #FFD6D6;
}

#postNewRoute .ui-autocomplete-loading, #searchRoute .ui-autocomplete-loading, #searchSeek .ui-autocomplete-loading, #registration .ui-autocomplete-loading, #profileEdit .ui-autocomplete-loading{
    background-image: url('../images/ui-anim_basic_16x16.png');
    background-position: right center;
    background-repeat: no-repeat;
}

.italic {
    font-style: italic;
}

#dashboard .escrowRow {
    background: #eef5ea;
    overflow: hidden;
    margin-bottom: 20px;
    padding: 5px 5px;
    border: 1px solid #eee;
}

#dashboard .escrowRow .details {
    overflow: hidden;
}

#dashboard .escrowRow .details p {
    margin-bottom: 0px;
    font-style: italic;
}

#dashboard .escrowRow .pair {
    margin-top: 5px;
    overflow: hidden;
}

#dashboard .escrowRow .pair .label {
    font-size: 13px;
    float: left;
    width: 40%;
}

#dashboard .escrowRow .pair .value {
    font-size: 12px;
    font-weight: bold;
    float: left;
    width: 60%;
    word-wrap: break-word;
}

#postReplyMessage {
    margin-top: 10px;
}

#postReplyMessage h4 {
    margin-bottom: 10px;
}

#postReplyMessage input[type="submit"] {
    color: #FFFFFF;
    font-size: 16px;
    padding: 10px 20px;
}

#postReplyMessage textarea {
    font-size: 12px;
    padding: 2.5%;
    width: 95%;
    border: 1px solid #ccc;
}

#messageAttachPicture {
    overflow: hidden;
}

#messageAttachPicture .attach {
    background-position: 0px 0px;
    padding: 2px 0px 2px 0px;
    font-size: 12px;
}

#messageAttachPicture .label {
    float: left;
    margin-top: 3px;
    width: 30%;
    overflow: hidden;
}

#messageAttachPicture .fields {
    float: left;
    width: 70%;
    overflow: hidden;
}

#messageAttachPicture .field {
    margin-bottom: 5px;
}

#story .edit{
    margin-top:10px;
}

#dashboard .randomTripsRow {
    width: 315px;
    height: auto;
    overflow: hidden;
    margin: 0px 0px;
    padding: 0px;
    font-size: 14px;
    float: left;
}

#dashboard .randomTripsRow div.bistiperPlc {
    background: #fffdf5;
    margin-bottom: 10px;
    border: 1px solid #ece7d9;
    padding: 9px;
    overflow: hidden;
    width: 280px;
}

#dashboard .randomTripsRow .avatar {
    width: 52px;
    float: left;
    margin-right: 20px;
    overflow: hidden;
    position: relative;
}

#dashboard .randomTripsRow .avatar .trusted {
    position: absolute;
    left: 36px;
    z-index: 2;
    top: -2px;
}

#dashboard .randomTripsRow .info {
    width: 180px;
    float: left;
}

#dashboard .randomTripsRow .info h5 {
    color: #000;
    font-size: 14px;
    margin: 0px;
}

#dashboard .randomTripsRow .info p {
    font-size: 14px;
    margin-bottom: 10px;
}

#dashboard .randomTripsRow .info img {
    vertical-align: baseline;
}

.socialButton {
    float:left;
    padding-right: 5px;
}

#bistipPointWidget {
    padding: 10px;
    margin-bottom: 10px;
}

#bistipPointWidget p {
    margin-bottom: 0px;
}

.shareHeader {
    margin-bottom: 10px;
}

#messageReview {
    margin-top: 10px;
    padding: 10px;
}

#escrow label {
    display: block;
    padding-top: 5px;
    width: 95%;
    font-weight: bold;
}

#escrow input[type="text"] {
    font-size: 16px;
    padding: 5px;
    width: 95%;
    border: 1px solid #ccc;
}

#escrow input[type="submit"] {
    color: #FFFFFF;
    font-size: 18px;
    padding: 8px 15px;
}

#escrow .largerText {
    font-size: 16px;
}

#escrow ol.tips {
    color: #999999;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px 10px 10px 40px;
}

#escrow ul {
    padding-left: 10px;
}

#escrowPaymentMethod label {
    display: block;
    padding-top: 0px;
    width: 95%;
    font-weight: bold;
}

#escrowAmount .paymentMethodPlaceholder {
    color: #999999;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    margin: 10px 50px 10px 50px;
    text-align: center;
    padding: 10px 10px 10px 10px;
}

#escrowAmount input[type="text"] {
    font-size: 16px;
    padding: 5px;
    width: 95%;
    border: 1px solid #ccc;
}

#escrowAmount .loader {
    text-align: center;
    width: 95%;
    margin-bottom: 10px;
}

#escrow_confirmation label {
    display: block;
    padding-top: 0px;
}

#escrow .escrowAmountInfo {
    padding-left: 20px;
}

#redirectPaypal .separator {
    margin-left: 20px;
    margin-right: 20px;
}

#redirectIndonesiaBankTransfer .separator {
    margin-left: 20px;
    margin-right: 20px;
}

#redirectIndonesiaBankTransfer p {
    font-size: 13px;
}

#redirectIndonesiaBankTransfer label {
    display: inline-block;
    float: left;
    padding-top: 0px;
    width: 110px;
}

#bankTransferPopup .separator {
    margin-left: 20px;
    margin-right: 20px;
}

#bankTransferPopup p {
    font-size: 13px;
}

#bankTransferPopup label {
    display: inline-block;
    float: left;
    padding-top: 0px;
    width: 110px;
}

#bankTransferPopup h3 {
    margin-bottom: 20px;
}

#protectionWidget {
    padding: 15px;
    margin-bottom: 10px;
}

#protectionWidget .btnSafepay{
    font-size: 15px;
    background: #2e9401;
    padding: 8px 10px;
    color: #fff;
    text-decoration: none;
    text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

#protectionWidget .btnSafepay:hover {
    background: #999;
}

#protectionWidget .info {
    float: left;
    overflow: hidden;
    width: 160px;
}

#protectionWidget .amount {
    float: left;
    overflow: hidden;
    width: 120px;
}

#protectionWidget .amountAfterFee {
    margin-top: 5px;
    font-size: 22px;
    font-weight: bold;
}

#protectionWidget .amountBeforeFee {
    margin-top: 3px;
    font-size: 12px;
    font-style: italic;
}

#protectionWidget .buyer, #protectionWidget .seller {
    font-size: 14px;
    padding-top: 5px;
}

#protectionWidget .details {
    margin-top: 10px;
    overflow: hidden;
}

#protectionWidget .details p {
    margin-bottom: 0px;
    font-style: italic;
}

#protectionWidget .pair {
    margin-top: 5px;
    overflow: hidden;
}

#protectionWidget .pair .label {
    font-size: 12px;
    float: left;
    width: 70px;
    font-weight: bold;
}

#protectionWidget .pair .value {
    font-size: 12px;
    font-weight: bold;
    float: left;
    width: 180px;
    word-wrap: break-word;
}

#protectionWidget .actions {
    overflow: hidden;
}

#protectionWidget .actions p {
    margin-bottom: 5px;
}

#protectionWidget .jqEasyCounterMsg {
    float: right;
}

#protectionWidget .actions form {
    margin-top: 10px;
}

#payoutMethod label {
    display: block;
}

#payoutMethod input[type="text"] {
    font-size: 12px;
    width: 95%;
    border: 1px solid #ccc;
    padding-right: 2.5%;
}

#payoutMethod input[type="submit"] {
    font-size: 14px;
    color: #fff;
    padding: 10px 20px;
}

#payoutMethod .adminTools {
    margin-top: 10px;
    padding-left: 7px;
}

#payoutMethodView {
    margin-top: 10px;
}

#payoutMethodView label {
    display: inline-block;
    float: left;
    width: 100px;
    padding-left: 7px;
}

#applyInsurance label {
    display: block;
    width: 95%;
}

#applyInsurance input[type="text"] {
    font-size: 13px;
    padding: 5px;
    width: 95%;
    border: 1px solid #ccc;
}

#applyInsurance input[type="submit"] {
    color: #FFFFFF;
    font-size: 18px;
    padding: 8px 15px;
}

#applyInsurance .largerText {
    font-size: 16px;
}

#applyInsurance ol.tips {
    color: #999999;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px 10px 10px 40px;
}

#faqs h4  {
    cursor:pointer;
    padding: 10px 10px 10px 0px;
}
#faqs h4.active  {
    color:#034e86;
}

#faqs div {
    margin-bottom: 20px;
}