<%= render 'shared/static_menu' %>
<% page_title t('content.link.faq') %>
<div class="col9">
  <h2><%= t('content.link.faq') %></h2>

  <h3 class="textBlack">What is Bistiper?</h3>

  <p>Travellers, who is willing to help you bring/buy stuff from other location.</p>

  <div class="divider"></div>

  <h3 class="textBlack">And Wanted Post?</h3>

  <p>Bistiper in demand by other users.</p>

  <div class="divider"></div>

  <h3 class="textBlack">How to do safe money transaction</h3>

  <p>Transaction here is no different compared to buyer and seller transaction. We recommend you to use
    <i>Escrow Account</i> service. Just Google <i>Rekening Bersama</i> (Escrow Account)
    through this
    link <%= link_to t('general.here'), 'http://www.google.co.id/search?q=rekening+bersama', :target => '_blank' %> and
    choose a provider that you can trust. (Only for Indonesian based users).
  </p>

  <div class="divider"></div>

  <h3 class="textBlack">For safety, should not you allow the travellers to open the stuff he got entrusted from
    someone?</h3>

  <p>First of all, Bistip.com just connect you who needs help and travellers who is willing to be entrusted to. We
    already thought about the safety of the travellers, check out our <%= link_to t('content.link.guide'), guide_path %>
    .
    In the Guide we mentioned that
    <b>You must make sure you know what exactly the item you entrusted to. Ask for permission to open the content of the
      package and check it thoroughly.</b></p>

  <div class="divider"></div>

  <h3 class="textBlack">How can we decide the Tip amount for the Bistiper?</h3>

  <p>We think it's not easy to set a standard for the Tip amount. For example: a small and light item might be an
    expensive item, or an item can be very important/urgent that someone is willing to pay high TIp for it.
    For now, we let the negotiation to be done amongst Bistip users. Please also read
    our <%= link_to t('content.link.guide'), guide_path %></p>

  <div class="divider"></div>

  <h3 class="textBlack">How can we avoid scam?</h3>

  <p>Check the profile of a Bistip member, also if given check out their Facebook and Twitter account. Bistip also
    provide Reputation system, you can use it to find out about a member track record.</p>

  <p><strong>Any questions not answered yet? send it us
    through <%= link_to t('contact_us.new.link.general'), new_contact_us_path %> :)</strong></p>
</div>