<%= render 'shared/guide_menu' %>
<% page_title t('content.link.guide') %>
<div class="col9">
  <h2>Panduan keamanan menggunakan Bistip.com</h2>

  <p align="center">
    <%= image_tag 'guides.png', :class => 'defaultShadow' %>
  </p>
  <br/>

  <p>
    Kami yakin pada dasarnya sifat manusia adalah baik, namun ketenangan dalam bertransaksi dengan orang yang belum
    dikenal
    sebelumnya juga diperlukan. Selain dari pengembangan fitur yang yang terus-menerus kami lakukan, kami juga
    memberikan
    beberapa tips
    yang akan meningkatkan kenyamanan anda dalam melakukan aktifitas titip-menitip di bistip.
  </p>

  <p>
    Gunakan tombol di bawah ini untuk melihat tips keamanan berdasarkan kategori pengguna:
  </p>
</div>

<div class="defaultRound col3 alignCenter">
  <h4><%= link_to t('content.link.guide_all'), guide_all_path, :class=>"btnAction" %></h4>
</div>
<div class="defaultRound col3 alignCenter">
  <h4><%= link_to t('content.link.guide_bistiper'), guide_bistiper_path, :class=>"btnAction" %></h4>
</div>
<div class="defaultRound col3 alignCenter">
  <h4><%= link_to t('content.link.guide_looker'), guide_looker_path, :class=>"btnAction" %></h4>
</div>
