<% page_title t('content.link.guide') %>
<div class="col8">
  <h3 class="textBlack">Untuk Penitip (yang mencari orang untuk dititipi)</h3>
</div>
<div class="col4">
  <p><%= image_tag 'guide/reputation.png', :class => 'tipsIcon' %><strong>Perhatikan
    reputasi</strong><br/>Bertransaksi dengan bistiper yang memiliki
    kelengkapan profil dan reputasi yang baik.
  </p>
</div>
<div class="col4">
  <p><%= image_tag 'guide/legal.png', :class => 'tipsIcon' %><strong>Barang legal</strong><br/>
    Pastikan anda menitipkan atau minta dibelikan barang yang legal.
  </p>
</div>
<div class="col4">
  <p><%= image_tag 'guide/payment.png', :class => 'tipsIcon' %><strong>Kesepakatan
    pembayaran</strong><br/>Buat juga kesepakatan yang jelas mengenai pembayaran dari komisi yang akan anda berikan.
  </p>
</div>
<div class="col4">
  <p><%= image_tag 'guide/rekber.png', :class => 'tipsIcon' %><strong>Rekening Bersama</strong><br/>
    Untuk pengaman transaksi anda bisa memakai jasa Rekening bersama.Silakan lihat
    halaman <%= link_to 'Rekening Bersama', rekber_path %>.
  </p>
</div>
<div class="col4">
  <p><%= image_tag 'guide/insurance.png', :class => 'tipsIcon' %><strong>Asuransi</strong><br/>Asuransikan barang
    titipan anda dengan bistip untuk mengurangi resiko kehilangan, untuk mengetahui lebih lanjut
    silakan lihat halaman <%= link_to 'Asuransi', insurances_path %></p>
</div>
<%= render 'shared/guide_menu' %>