<% page_title t('search_trip.index.label.heading') %>
<style type="text/css"> 
  .ui-autocomplete {
    width: 430px;
  }
  .ui-menu-item {
    padding-top: 5px;
    padding-bottom: 5px;
}
</style>
<div class="col12">
  <h2><%= t('search_trip.index.label.heading') %></h2>
  <%= render 'shared/search_menu' %>
</div>
<div class="col8 bgLightYellow defaultRound">
  <h4 class="textBlack"><%= t('search_trip.index.label.intro') %></h4>
  <div id="searchRoute">
    <p>
      <label><%= t('trip.field.label.route') %></label>
      <%= watermark_field('origin', City::ANYWHERE) %>
      <%= search_location_auto_complete_js 'origin' %>
      <%= text_field_tag 'origin', params[:origin], :size => 30, :style => "width: 220px;", :onkeyup => 'javascript:search_trip_field_key_up(event)' %>
      <span class="dashArrow">-</span>
      <%= watermark_field('destination', City::ANYWHERE) %>
      <%= search_location_auto_complete_js 'destination' %>
      <%= text_field_tag 'destination', params[:destination], :size => 30, :style => "width: 220px;", :onkeyup => 'javascript:search_trip_field_key_up(event)' %>
      <a class="btnSearch" href="javascript:buildSearchTripURL()"><%= t('button.search') %></a>
    </p>
    <%
    search_more_options_style = 'display:none'
    toggle_text = t('general.more_options')
    if params[:departure_date_predicate] or params[:departure_date] or params[:keyword]
      search_more_options_style = ''
      toggle_text = t('general.hide_options')
    end
  %>
    <div id="search-more-options" style="<%= search_more_options_style %>">
      <p>
        <label><%= t('search_trip.index.label.keyword') %></label>
        <%= text_field_tag 'keyword', params[:keyword], :size => 30, :style=>"width: 220px;", :onkeyup => 'javascript:search_trip_field_key_up(event)' %>
      </p>
      <p>
        <label><%= t('trip.field.label.departure_date') %></label>
        <%= date_picker_js 'departure_date' %>
        <%= text_field_tag 'departure_date', params[:departure_date], :size => 30, :readonly => "readonly", :style=>"width: 220px;" %>
        <br/>
        <% DatePredicate::ALL.each do |departure_date_predicate| %>
          <%= radio_button_tag 'departure_date_predicate', departure_date_predicate, params[:departure_date_predicate] == departure_date_predicate, :readonly => 'readonly' %>
          <%= t(departure_date_predicate, :scope => 'date_predicate') %>
        <% end %>
        <span style="padding-left: 75px;"><%= render_link_to_clear_a_field('departure_date') %></span>
      </p>
    </div>
    <p>
      <a href="" id="search-form-toggle"><%= toggle_text %></a>&nbsp;
      <script type="text/javascript">
        $("#search-form-toggle").click(function () {
          $("#search-more-options").toggle();
          $("#departure_date").val("");
          $("#keyword").val('');
          $('input[name=departure_date_predicate]').attr('checked', false);
          current_toggle_text = $("#search-form-toggle").text();
          more_options_text = '<%= t('general.more_options') %>';
          hide_options_text = '<%= t('general.hide_options') %>';

          if (current_toggle_text == more_options_text)
          {
            $("#search-form-toggle").text(hide_options_text);
          }
          else
          {
            $("#search-form-toggle").text(more_options_text);
          }
          return false;
        });
      </script>
    </p>
  </div>
  <div class="divider"></div>
  <div id="searchResults">
    <h4 class="textBlack">
      <% if @no_valid_parameter %>
        <%= t('search_trip.index.label.all') %>
      <% else %>
        <%= t('search_trip.index.label.result') %>&nbsp;<span class="counter"><%= @total_result %></span>
      <% end %>
      <span class="searchSort">
        <label><%= t('general.sort') %></label><%= select_tag "sort", options_for_select(TripSort.map, params[:sort]), :onchange => 'javascript:buildSearchTripURL()' %>
      </span>
    </h4>
    <div id="trips">
      <% if @trips.size > 0 %>
        <% for trip in @trips do%>
            <% if params[:keyword] %>
              <%= render 'shared/trip_summary', :locals => {:trip => trip, :keyword_specified => true} %>
            <% else %>
              <%= render 'shared/trip_summary', :locals => {:trip => trip, :item_count => TripItem::SUMMARY_COUNT} %>
            <% end %>
          <% end %>
        <% else %>
          <div class="notificationBar yellow"><%= t('search_trip.index.label.no_result') %></div>
          <h4 class="textBlack"><%= raw t('search_trip.index.label.no_result_instruction') %></h4>
          <p><%= link_to t('seek.new.link'), new_seek_path + build_params_for_new_seek, :class => 'btnAction' %></p>
        <% end %>
      </div>
      <%= get_more_will_paginate(@trips, 'trips_pagination') %>
    </div>
  </div>
  <div class="col4">
    <% unless @suggested_routes.blank? %>
      <h3><%= t('general.suggestions') %></h3>
      <% @suggested_routes.take(Trip::SEARCH_SUGGESTIONS_COUNT).each do |route| %>
        <%= render 'shared/route', :route => route %>
      <% end %>
    <% end %>
  </div>

