<div class="col3">
  <nav class="static">

    <%= render_sub_menu_link t('content.link.guide'), [{:controller => 'content', :action => "guide"}] %>

    <div class="divider"></div>

    <h4 class="textBlack"><%= t('content.menu_header.tips') %></h4><br/>
    <%= render_sub_menu_link t('content.link.guide_all'), [{:controller => 'content', :action => "guide_all"}] %>
    <%= render_sub_menu_link t('content.link.guide_bistiper'), [{:controller => 'content', :action => "guide_bistiper"}] %>
    <%= render_sub_menu_link t('content.link.guide_looker'), [{:controller => 'content', :action => "guide_looker"}] %>

    <div class="divider"></div>

    <h4 class="textBlack"><%= t('content.menu_header.feature')%></h4><br/>
    <%= render_sub_menu_link t('content.link.escrow_payment'), [{:controller => 'content', :action => "escrow_payment"}] %>
    <%= render_sub_menu_link t('content.link.insurance'), [insurances_path] %>
    
  </nav>
</div> 