<% flash.each do |key, msg| %>
  <% if msg.is_a?(Array)%>
    <div id="app_notifications">
      <% msg.each do |m| %>
        <p><%= raw(m) %></p>
      <% end %>
    </div>
  <% else %>
    <div id="app_notifications">
      <p><%= raw(msg) %></p>
    </div>
  <% end %>
<% end %>

