<% page_title t('login.label.heading') %>
<div id="login">
  <div class="col12">
    <h2><%= t('login.label.heading') %><%= render('shared/protected') %></h2>
  </div>
  <div class="col6 bgYellow defaultRound">
    <%= form_tag session_path do %>
      <p>
        <label><%=  t('login.label.email_or_username') %></label>
        <%= text_field_tag :email_or_username, nil, :class => 'defaultText' %>
      </p>
      <p>
        <label><%= t('login.label.password') %></label>
        <%= password_field_tag :password, nil, :class => 'defaultText' %>
      </p>
      <p>
        <label>&nbsp;</label><%= link_to t('password.forgot.link'), reset_password_path %>
      </p>
      <p>
        <label>&nbsp;</label>
        <%= submit_tag t('login.link'), :class => 'defaultButton' %>
      </p>
    <% end %>
  </div>
  <div class="col6">
    <h3 class="textBlack"><%= t('layout.label.social_login') %></h3>
    <p>
      <%= popup_auth("fbconnect2","/auth/facebook") %>
      <%= content_tag :button, :type=> "button", :class => 'facebook-login', :id => "fbconnect2" do %>
        <%=  image_tag "facebook_32.png", :border => 0 %>
      <% end %>
      <%= link_to "/auth/twitter" do %>
        <%= image_tag 'twitter_32.png', :border => 0 %>
      <% end %>
    </p>
    <div class="divider"></div>
    <h3 class="textBlack"><%= t('general.not_member') %></h3>
    <p>
      <%= link_to t('layout.link.register'), join_path, :class => 'btnAction largeButton' %>
    </p>
  </div>
</div>
