<% comment = comment_session(:seek_comment) %>

<div id="<%= Comment::POST_INTERNAL_ID %>">
  <h4><%= t('comment.new.label') %></h4>
  <% if logged_in? %>
    <%= form_for([@seek, @comment]) do |f| %>
      <%= f.text_area :body, :rows => 6, :cols => 50, :value => comment %>
      <%= f.submit t('button.send'), :class => 'btnAction', :disable_with => t('button.disabled') %>
    <% end %>
  <% else %>
    <p>
      <%= raw(t('comment.new.not_logged_in',
          :login => ActionController::Base.helpers.link_to(t('login.link'), login_path + "?original_uri=#{seek_path(@seek)}"),
          :register => ActionController::Base.helpers.link_to(t('user.new.link'), join_path))) %>
    </p>
  <% end %>
</div>
