<%= render 'shared/event_menu' %>
<% page_title 'Bid the trip!' %>
<div class="col9">

  <h2>Bid the trip!</h2>

  <h3 class="textBlack">Good at Planning a Budget Trip? We have a Mission for you!</h3>

  <p align="center">
    <%= image_tag 'events/bistipes.png', :class => 'defaultShadow' %>
  </p>

  <p>
    Pandai merencanakan sebuah perjalanan dengan budget terbatas? Bistip mengajak kamu untuk mengikuti tantangan kami
    untuk membawakan barang titipan dari Singapore! Propose trip kamu di sini! 5 Bistiper dengan rencana perjalanan
    terbaik akan masuk ke tahap selanjutnya dan pemenang akan kami biayai dengan misi membawakan Google Nexus!

    Tunggu apalagi? <strong>Propose your trip now!</strong>
  </p>

</div>