<% url = locals[:url] %>
<% title = locals[:title] %>
<% owner = locals[:owner] %>

<% if current_user && owner != current_user %>
  <% label = t('social_share.influencer') %>
<% else %>
  <% label = t('social_share.label') %>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    $("a.bmarks-btn").shareitBtn(); // the button function
    $(".bmarks a").shareitHover(); // the hover effect (optional)
  });
</script>

<p>
  <a href="#bmarks-10" class="bmarks-btn">
    <%= label %>
  </a>
</p>
<div id="bmarks-10" class="bmarks" style="border: solid 0px red;">
  <div class="inner bgWhite defaultRound" >
    <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="float: left; padding-bottom: 5px;">
      <a class="addthis_button_facebook" addthis:url="<%= url %>" addthis:title="<%= title %>"></a>
      <a class="addthis_button_twitter" addthis:url="<%= url %>" addthis:title="<%= title %>"></a>

      <script type="text/javascript">
        var addthis_config = {"data_track_clickback":true};
      </script>
      <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4d71069d1b32853e"></script>
      <!-- AddThis Button END -->

      <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
      <fb:send href="<%= url %>" font="arial"></fb:send>
    </div>
    <br/>
    <input type="text" name="shareLink" id="shareLink" value="<%= url %>" size="33" readonly="true"/>
  </div>
</div>