<div class="plc">
  <div class="lines">
    <div class="col3">
      <%= render 'social_tertiary' %>
    </div>
    <div class="col3">
      <h4>
        <%= image_tag 'legal-home-en.png', :alt => 'Bistipes', :class => 'defaultShadow' %>
      </h4>
    </div>

    <div class="col3">

      <h4>
        <%= link_to how_path do %>
            <%= image_tag 'how-it-works.png', :alt => 'How Bistip works', :class => 'defaultShadow' %>
        <% end %>
      </h4>

    </div>

    <div class="col3">
      <h4><%= t('home.index.tertiary.heading') %></h4>

      <p>
        <em>
          <%= t('home.index.tertiary.content') %>
        </em>
      </p>

      <p class="nomargin">
        <%= link_to insurances_path do %>
            <%= t('home.index.tertiary.more') %>
        <% end %>
      </p>
    </div>
  </div>
  <br clear="all"/>
</div>