<% page_title t('home.index.title') %>
<table width="100%" class="text-title-01">
  <tr>
    <td width="50%">
      <div class="form-border" style="padding-top: 20px; padding-bottom: 20px; width: 95%; height: 80px;">
        <div class="header01" style="text-align: center"><%= raw t('home.index.label.bistiper') %></div>
        <div class="blue-link home-action"><%= link_to t('home.index.label.bistiper_action'), new_trip_path, :class => 'large white awesome' %></div>
      </div>
    </td>
    <td width="50%">
      <div class="form-border" style="padding-top: 20px; padding-bottom: 20px; width: 95%; height: 80px;">
        <div class="header01" style="text-align: center"><%= raw t('home.index.label.wanted_bistiper') %></div>
        <div class="blue-link home-action"><%= link_to t('home.index.label.wanted_bistiper_action'), search_trip_path, :class => 'large white awesome' %></div>
      </div>
    </td>
  </tr>
  <tr>
    <td valign="top" align="left" colspan="3" class="bistiper_header">
      <%= t('mobile.home.header_bistiper') %>
    </td>
  </tr>
  <tr>
    <td valign="top" align="left" colspan="3">
      <% if @trips.size > 0 %>
        <% for trip in @trips %>
          <%= render 'shared/trip_summary', :locals => {:trip => trip} %>
        <% end %>
      <% else %>
        <div><%= t('home.index.label.no_result') %></div>
      <% end %>
    </td>
  </tr>
</table>


