<div class="col4">
  <nav class="static">
    <%= render_sub_menu_link t('dashboard.link.general'), [dashboard_path] %>
    <%= render_sub_menu_link t('user.show.link'), [dashboard_profile_path] %>
    <%= render_sub_menu_link t('user.edit.link'), [edit_profile_path] %>
    <%= render_sub_menu_link t('password.edit.link'), [edit_password_path] %>
    <%= render_sub_menu_link t('configuration.edit.link'), [edit_settings_path] %>
    <%= render_sub_menu_link t('payout_method.link'), [payout_methods_path] %>
    <%= render_sub_menu_link t('trip.index.link'), [dashboard_trips_path] %>
    <%= render_sub_menu_link t('seek.index.link'), [dashboard_seeks_path] %>
    <%= render_sub_menu_link t('dashboard.link.points'), [dashboard_points_path] %>
    <%= render_sub_menu_link t('dashboard.link.stories'), [dashboard_stories_path] %>
    <%= render_sub_menu_link t('dashboard.link.suggested_items'), [dashboard_suggested_items_path] %>
    <%= render_sub_menu_link t('user.field.label.review'), [dashboard_reviews_path] %>
    <%= render_sub_menu_link t('dashboard.link.escrows'), [dashboard_safepay_path] %>
    <%= render_sub_menu_link t('dashboard.link.recommendation'), [get_recommendation_path] %>
    <%= render_sub_menu_link t('dashboard.link.my_store'), [dashboard_my_store_path] %>
    <%= render_sub_menu_link t('dashboard.link.store_orders'), [dashboard_store_orders_path] %>
    <%= render_sub_menu_link t('dashboard.link.my_shopping'), [dashboard_my_shopping_path] %>
  </nav>
</div>