<% page_title t('dashboard.index.title') %>
<%= render 'reminder' %>
<div id="dashboard" class="col4">
  <% if WegoTravelDealsSubscription.find_by_user_id(current_user.id).blank? %>
    <div class="dashboardPlc bgLightYellow defaultRound defaultShadow wegoDeals">
      <h4 class="textBlack"><%= raw t('dashboard.label.wego_deals', :subscribe => (link_to 'Subscribe', subscribe_wego_deals_path(:user_id => current_user.id), :class => 'btnAction'), :logo => (link_to (image_tag 'wego-logo-small.png'), 'http://www.wego.co.id', :target => 'blank')) %></h4>
    </div>
    <br/>
  <% end %>
  <% if @incoming_trips.size > 0 %>
    <div class="dashboardPlc bgLightYellow defaultRound defaultShadow">
      <h4 class="textBlack"><%= "#{t('dashboard.label.incoming_bistiper')} (#{current_user.city_location})" %></h4>
      <div id="searchResults" class="dashboard">
        <%= render 'shared/incoming_trips', :locals => {:incoming_trips => @incoming_trips} %>
      </div>
    </div>
    <br/>
  <% end %>
</div>
<%= render 'menu' %>