<% page_title t('dashboard.link.my_shopping') %>
<div id="dashboard">
  <%= render 'reminder' %>
  <%= render 'menu' %>
  <div class="col9">
    <h3 class="textBlack">
      <%= t('dashboard.my_shopping.heading') %>
    </h3>
    <% if @store_orders.blank? %>
      <div class="notificationBar yellow"><%= raw t('dashboard.my_shopping.no_result', :link => (link_to t('dashboard.my_shopping.market'), market_path)) %></div>
    <% else %>
      <% @store_orders.each do |so| %>
        <%= render 'store_orders/summary', :store_order => so %>
      <% end %>
    <% end %>
  </div>
</div>