<% page_title t('dashboard.link.my_store') %>
<div id="dashboard">
  <%= render 'reminder' %>
  <%= render 'menu' %>
  <div class="col9 bgGreen">
    <h3 class="textBlack">
      <%= t('dashboard.my_store.heading') %>
    </h3>
    <% if @store_items.blank? %>
      <div class="notificationBar yellow"><%= raw t('dashboard.my_store.no_result', :link => (link_to t('store_item.new.link'), new_store_item_path)) %></div>
    <% else %>
      <% @store_items.each do |si| %>
        <div class="storeItemWrap">
          <%= render 'store_items/summary', :locals => {:item => si} %>
          <div class="tools">
            <div class="adminTools">
              <% unless si.deleted? %>
                <%= link_to t('store_item.edit.link'), edit_store_item_path(si) %>
                <%= link_to t('trip.destroy.link_short'), si, :confirm => t('general.are_you_sure'), :method => :delete, :class=> "delete" %>
              <% else %>
                <%= link_to t('store_item.undestroy.link'), undestroy_store_item_path(si) %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>