$("#trips").append("<% for trip in @trips %><%= escape_javascript(render 'trip', :locals => {:trip => trip}) %><% end %>");
$("#trips_pagination").html("<%= escape_javascript(get_more_will_paginate(@trips, 'trips_pagination')) %>");