<% escrow = locals[:escrow] %>
<% if current_user.eql?(escrow.buyer) %>
  <% form_tag buyer_received_item_escrows_path do %>
    <%= hidden_field_tag :escrow_id, escrow.id %>
    <%= submit_tag t('escrow.actions.seller_got_item.buyer_received_item') %>
  <% end %>
<% end %>