<div style="height: 300px;" class="content-middle-graphic-background transitpage blue-link"
     
    <p>
      Kamu akan kami kembalikan ke halaman utama beberapa saat lagi.
    </p>
    <p>
      Silakan klik link <%= link_to t('home.link'), root_path %> jika auto-redirect tidak bekerja.
    </p>
    <center>
        <%= image_tag 'ajax-loader1.gif' %>
      </center>
</div>

<script type="text/javascript">
  setTimeout(function() {
    window.location.href = '/';
  }, 5000);
</script>
