<% receiver = sent.receiver %>
<%= link_to(user_message_path(current_user, sent), :class => 'divlink') do %>
  <div class="inboxRow">
    <div class="avatar">
      <%= image_tag receiver.avatar.url(:thumb), :align => 'center', :class => 'photo', :width => 48, :height => 48 %>
    </div>
    <div class="message">
      <h5>
        <%= receiver.username %>
        <span class="date"><%= l(sent.created_at) %></span>
        <% if sent.has_escrow? %>
          <span class="transaction"><%= t('general.transaction') %></span>
        <% end %>
        <% if sent.has_asset? %>
          <span class="asset"><%= image_tag 'icon-attachment-16.png' %></span>
        <% end %>
      </h5>
      <h6><%= generate_label_for_related_trip_or_seek(sent.trip_id, sent.seek_id) %></h6>
      <h6><%= sent.subject_display %></h6>
      <% body = sent.body %>
      <% body = body.slice(0,100) + "..." unless body.length <= 100 %>
      <p><%= body %></p>
    </div>
  </div>
<% end %>

