<% page_title t('user.field.label.review') %>
<div id="dashboard">
  <%= render 'reminder' %>
  <div class="col4">
    <%= render 'shared/reviews_header', :user => @user %>
    <% if @reviews.size > 0 %>
      <% @reviews.each do |review| %>
        <%= render "shared/#{review.cname}", :review => review %>
      <% end %>
    <% else %>
      <div class="notificationBar yellow"><%= t('review.index.no_result') %></div>
    <% end %>
  </div>
  <%= render 'menu' %>
</div>