<% page_title t('trip.index.link') %>
<div id="dashboard">
  <%= render 'reminder' %>
  <div class="col4">
    <div class="dashboardPlc bgLightYellow defaultRound">
      <h4><%= t('trip.index.link') %></h4>
      <div id="trips">
        <% if @trips.size > 0 %>
          <% for trip in @trips %>
            <% old = trip.active? ? "" : "old" %>
            <div class="activityWrap bgWhite">
                <%= link_to trip_path(trip), :class => "infoBlockLink" do %>
                  <div class="infoBlock mid <%= old %>">
                    <% unless trip.active? %>
                      <div class="oldinfo">
                        <%= t('trip_summary.label.not_active') %>
                      </div>
                    <% end %>
                    <%= render 'shared/trip_data', :locals => {:trip => trip, :item_count => TripItem::SUMMARY_COUNT} %>
                  </div>
                <% end %>
                <% if trip.active? %>
                  <% seeks_match_count = trip.find_matching_seeks.count %>
                  <% if seeks_match_count > 0 %>
                    <%= link_to t('trip.index.table.match_count', :count => seeks_match_count), match_trip_path(trip), :class => "btnAction" %>
                  <% end %>
                  <span class="adminTools">
                    <%= link_to t('trip.edit.link_short'), edit_trip_path(trip) %>
                    <%= link_to t('trip.destroy.link_short'), trip, :confirm => 'Are you sure?', :method => :delete, :class=>"delete" %>
                  </span>                    
                <% end %>
              </div>
          <% end %>
        <% else %>
          <div class="notificationBar yellow"><%= t('trip.index.no_result') %> </div>
        <% end %>
      </div>

      <div style="text-align: center;">
        <%= get_will_paginate(@trips) %>
      </div>
    </div>
    
  </div>
  <%= render 'menu' %>
</div>
