<% page_title t('content.link.how') %>
<div class="col4, padding2point5">
<h3>See this illustration to know about how bistip works..</h3>
<%= image_tag 'instruct_mob-en.gif' %>
  <p>
    *For guide how to engage in Bistip please read our <%= link_to t('content.link.guide'), guide_path %>
  </p>
  <iframe width="280" height="175" src="http://www.youtube.com/embed/_gTEpakcmDw" frameborder="0" allowfullscreen class="padding2point5"></iframe>
  <br/>
  <br/>
  <h3>Typical transaction scenario in Bistip.com</h3>
  <ol>
    <li>
      <p>Amy is a fan of Apple product. She wants to get iPad 2.</p>
    </li>
    <li>
      <p>Amy search found Bob's trip from Singapore to Jakarta.</p>
    </li>
    <li>
      <p>Bob willing to get iPad 2 for her. Negotiation begins between Bob and Amy.</p>
    </li>
    <li>
      <p>Amy and Bob meetup later to exchange iPad 2 with the tip.</p>
    </li>
  </ol>
  <h3>Terms in Bistip.com</h3>
  <ul>
    <li>
      <p><strong>Bistiper</strong></p>
      <p>Meaning : person who want to carry your item</p>
    </li>
  </ul>
  <ul>
    <li>
      <p><strong>Wanted Post</strong></p>
      <p>Meaning : a post from a person looking for Bistiper</p>
    </li>
  </ul>
  <h3>Menu in Bistip.com</h3>
  <ul>
    <li>
      <p><strong>Post Trip</strong></p>
      <p>You want to be a Bistiper. Before you travel, don't forget to post your Trip in here and see if there is someone interested and ask for your help.</p>
    </li>
  </ul>
  <ul>
    <li>
      <p><strong>Post Wanted</strong></p>
      <p>Use this operation to submit the Trip route that you are looking for.</p>
    </li>
  </ul>
  <br/>
  <p><i>*For guide how to engage in Bistip please read our <%= link_to t('content.link.guide'), guide_path %> </i></p>
</div>
<%= render 'shared/static_menu' %>