<% page_title t('dashboard.link.points') %>
<div id="dashboard">
  <%= render 'dashboard/reminder' %>
  <div class="col9">
    <h4><%= t('dashboard.link.points')%></h4><br/>
    <%= render 'shared/point_widget' %>
    <br/>
    <h4><%= t('dashboard.points.label.breakdown') %></h4>
    <div class="pointsTable">
      <% unless @influencer_logs.blank? %>
        <div class="header"><%= t('dashboard.points.label.influencer_logs') %></div>
        <% @influencer_logs.each do |influencer_log| %>
          <div class="pointRow">
            <div class="left">
              <% trip = Trip.find(influencer_log[0]) %>
              <%= raw t('dashboard.points.label.influencer_log_title', :owner => trip.user.username, :route => link_to(trip.origin_city.name + ' - ' + trip.destination_city.name, trip_path(trip))) %>
            </div>
            <div class="right">
              <%= t('general.points_plus', :points => PointLog::INFLUENCER_LOG_POINT) %>
            </div>
          </div>
        <% end %>
      <% end %>

      <% unless @stories.blank? %>
        <div class="header"><%= t('dashboard.points.label.stories') %></div>
        <% @stories.each do |story| %>
          <div class="pointRow">
            <div class="left">
              <% title = story.title.blank? ? t('stories.general.no_title') : story.title %>
              <%= t('dashboard.points.label.story_title', :title => title) %>
            </div>
            <div class="right">
              <%= t('general.points_plus', :points => story.points) %>
            </div>
          </div>
        <% end %>
      <% end %>

      <% unless @suggested_items.blank? %>
        <div class="header"><%= t('dashboard.points.label.suggested_items') %></div>
        <% @suggested_items.each do |suggested_item| %>
          <div class="pointRow">
            <div class="left">
              <%= raw t('dashboard.points.label.suggested_item_title', :name => link_to(suggested_item.name, suggested_item_path(suggested_item))) %>
            </div>
            <div class="right">
              <%= t('general.points_plus', :points => suggested_item.points) %>
            </div>
          </div>
        <% end %>
      <% end %>

      <% unless @escrow_cashbacks.blank? %>
        <div class="header"><%= t('dashboard.points.label.escrow_cashbacks') %></div>
        <% @escrow_cashbacks.each do |escrow_cashback| %>
          <div class="pointRow">
            <div class="left">
              <% escrow = Escrow.find(escrow_cashback.data_id) %>
              <%= t('dashboard.points.label.escrow_cashback_title', :seller => escrow.seller.username, :item => escrow.item) %>
            </div>
            <div class="right">
              <%= t('general.points_minus', :points => escrow_cashback.amount) %>
            </div>
          </div>
        <% end %>
      <% end %>
        <br/>
        <div class="totalPointRow">
          <div class="left">
            <strong><%= t('dashboard.points.label.total_points') %></strong>
          </div>
          <div class="right">
            <%= t('general.points', :points => current_user.points) %>
          </div>
        </div>
    </div>
  </div>
  <%= render 'dashboard/menu'  %>
</div>