<div id="trending">
  <div class="col4">
    <h2><%= t('trending_item.show.heading') %></h2>
  </div>
  <div class="col4 defaultRound">
    <div class="itemDisplay"><%= @trending_item.item %></div>
  </div>
  <div class="col4">
    <% if @all_private_information %>
      <div class="notificationBar yellow"><%= t('trending_item.show.label.no_public', :item => @trending_item.item) %></div>
    <% else %>
      <%= render_trending_item_trips %>
      <%= render_trending_item_seeks %>
      <%= render 'comments' %>
    <% end %>
  </div>
</div>
