<% city = locals[:city] %>
<% country = city.country %>
<% city_name = city.name %>
<% city_name = city_name[0,12] + ' ..' if city_name.length > 12 and locals[:short_name] %>
<% if city.name == City::ANYWHERE %>
  <i><%= city.name %></i>
<% elsif country.code == Country::CONTINENT_CODE %>
  <strong><%= country.name %></strong>
<% else %>
  <%= city_name %>&nbsp;&nbsp;<strong>(<%= country.code.upcase %>)</strong>
<% end %>
