<% escrow = locals[:escrow] %>
<div class="details">
  <p>
    <% if current_user == escrow.buyer %>
      <%= t('escrow.widget.label.buyer', :username => escrow.buyer.username) %>
    <% else %>
      <%= t('escrow.widget.label.seller', :username => escrow.seller.username) %>
    <% end %>
  </p>
  <div class="pair">
    <div class="label"><%= t('escrow.widget.label.amount') %></div>
    <div class="value" style="font-size: 16px"><%= escrow.amount_with_currency %></div>
  </div>
  <div class="pair">
    <div class="label"><%= t('escrow.widget.label.item') %></div>
    <div class="value"><%= escrow.item %></div>
  </div>
  <div class="pair">
    <div class="label"><%= t('escrow.widget.label.state') %></div>
    <div class="value"><%= escrow.last_log.to_display_string %></div>
  </div>
  <div class="pair">
    <div class="label"><%= t('escrow.widget.label.awaiting') %></div>
    <div class="value"><%= escrow.last_log.get_awaiting_string %></div>
  </div>
  <div class="pair">
    <div class="label">&nbsp;</div>
    <div class="value">
      <% identifier = "escrow-history-" + escrow.id.to_s %>
      <%= picture_popup_js(identifier) %>
      <%= link_to t('escrow.widget.label.history_link'), history_escrows_path(:escrow_id => escrow.id), :id => identifier %>
    </div>
  </div>
</div>