<div class="col4">
  <nav class="static">
    <%= render_sub_menu_link t('content.link.safepay'), [{:controller => 'content', :action => "safepay"}] %>
    <%= render_sub_menu_link t('content.link.guide'), [{:controller => 'content', :action => "guide"}] %>
    <%= render_sub_menu_link t('content.link.faq_short'), [{:controller => 'content', :action => "faq"}] %>
    <%= render_sub_menu_link t('content.link.guide_all'), [{:controller => 'content', :action => "guide_all"}] %>
    <%= render_sub_menu_link t('content.link.guide_bistiper'), [{:controller => 'content', :action => "guide_traveler"}] %>
    <%= render_sub_menu_link t('content.link.guide_looker'), [{:controller => 'content', :action => "guide_requester"}] %>
    <%#= render_sub_menu_link t('content.link.insurance'), [insurances_path] %>
  </nav>
</div> 