<div class="col3">
  <nav class="static">
    <%= render_sub_menu_link t('content.link.safepay'), [{:controller => 'content', :action => "safepay"}] %>
    <%= render_sub_menu_link t('content.link.guide'), [{:controller => 'content', :action => "guide"}] %>
    <%= render_sub_menu_link t('content.link.faq_short'), [{:controller => 'content', :action => "faq"}] %>

    <div class="divider"></div>

    <h4 class="textBlack"><%= t('content.menu_header.tips') %></h4><br/>
    <%= render_sub_menu_link t('content.link.guide_all'), [{:controller => 'content', :action => "guide_all"}] %>
    <%= render_sub_menu_link t('content.link.guide_bistiper'), [{:controller => 'content', :action => "guide_traveler"}] %>
    <%= render_sub_menu_link t('content.link.guide_looker'), [{:controller => 'content', :action => "guide_requester"}] %>

    <div class="divider"></div>

    
  </nav>
</div> 