<% giver = review.giver %>
<% receiver = review.receiver %>
<a id="<%= review.internal_link_id %>"></a>
<div class="reviewRow">
  <div class="avatar">
    <%= render 'shared/trusted_badge', :locals => {:user => giver, :small => true} %>
    <%= image_tag giver.avatar.url, :size => "48x48", :class => "photo" %>
  </div>
  <div class="info">
    <h5>
      <%= link_to giver.username, profile_path(giver.username) %>&nbsp;
      <% if review.invitation? %>
        <span class="recommendation" title="<%= t('review.tooltip.recommendation') %>"><%= t('general.recommendation') %></span>
      <% end %>
      <% if review.verified? %>
        <span class="verified" title="<%= t('review.tooltip.verified') %>"><%= t('general.verified') %></span>
      <% end %>
      <span class="date"><%= smart_date_display(review.created_at) %></span>
    </h5>
    <div class="body">
      <% if review.from_escrow? %>
        <div class="details">
          <span class="iconUser"><%= t('review.label.role', :receiver => receiver.username) %> <strong><%= review.is_receiver_as_buyer_on_escrow? ? t('general.buyer') : t('general.seller') %></strong></span>
          <br/>
          <span class="iconShopping"><strong><%= review.item_name_from_escrow %></strong></span>
          <% message = review.get_escrow.message %>
          <% if message and message.trip_type? %>
            <% trip = message.trip %>
            <br/>
            <span class="iconLocation"><%= t('general.from') %>&nbsp;<strong><%= trip.origin_location %></strong></span>
          <% end %>
        </div>
      <% end %>
      <p><%= review.body %></p>
    </div>
  </div>
</div>