<%# user = locals[:user] %>
<%# if logged_in? %>
  <%# if user != current_user %>
    <%#= link_to new_message_path(:user => user.username) do %>
      <%#= image_tag 'icon-email-bistiper.png', :size => "22x14" %>
    <%# end %>
  <%# end %>
<%# else %>
  <%#= link_to new_message_path(:user => user.username) do %>
    <%#= image_tag 'icon-email-bistiper.png', :size => "22x14" %>
  <%# end %>
<%# end %>