<% trip = locals[:trip] %>
<% user = trip.user %>

<% if logged_in? %>
  <% if current_user.sent_messages.find_all_by_trip_id_and_item_id(trip.id, @item.id).any? %>
    <% link_to message_path(:id => current_user.sent_messages.find_all_by_trip_id_and_item_id(trip.id, @item.id).first.id), :class => "btnAction" do %>
      <%= image_tag 'icon-email-bistiper.png', :size => "22x14" %>&nbsp;
      <%= t('message.link.trip_contacted', :username => user.username) %>
    <% end %>
    <br />
  <% elsif !trip.owner?(current_user) %>
    <%= link_to new_message_path(:user => user.username, :trip_id => trip.id, :item_id => @item.id), :class => "btnAction" do %>
      <%= image_tag 'icon-email-bistiper-m.png' %>&nbsp;
      <%= t('message.link.suggested_item', :item => @item.name, :username => user.username) %>
    <% end %>
    <br/>
  <% end %>
<% else %>
  <%= link_to new_message_path(:user => user.username, :trip_id => trip.id, :item_id => @item.id), :class => "btnAction" do %>
    <%= image_tag 'icon-email-bistiper-m.png' %>&nbsp;
    <%= t('message.link.suggested_item', :item => @item.name, :username => user.username) %>
  <% end %>
  <br/>
<% end %>