<% trip = locals[:trip] %>
<% item_count = locals[:item_count]  %>
<% keyword_specified = locals[:keyword_specified] %>
<% user = trip.user %>
<%= link_to  trip_path(trip), :class => "infoBlockLink" do %>
  <div class="infoBlock defaultRound mid">
    <div class="left">
      <div class="avatar">
        <%= render 'shared/trusted_badge', :locals => {:user => user} %>
        <%= image_tag user.avatar.url(:thumb), :class => "photo" %>
        <h5><%= user.username %></h5>
        <div class="tools">
          <%= render 'shared/user_review', :locals => {:user => user} %>
        </div>
      </div>
    </div>
    <div class="right">
      <% if item_count %>
        <%= render 'shared/trip_data', :locals => {:trip => trip, :item_count => item_count} %>
      <% else %>
        <%= render 'shared/trip_data', :locals => {:trip => trip} %>
      <% end %>
      <% if keyword_specified and !string_nil_or_empty?(trip.notes) %>
        <div class="notesDisplay bgWhite">
          <p><%= highlight trip.notes_display, search_keyword_to_array(params[:keyword]) %></p>
        </div>
      <% end %>
    </div>
  </div>
<% end %>