<div class="col4">
  <div id="viewProfile">
    <div class="avatar">
      <%= image_tag @user.avatar.url, :class=>"photo", :size => "64x64" %>
      <div class="tools">
        <%= render 'shared/user_review_link', :locals => {:user => @user} %>
      </div>
      <div class="adminTools">
        <% if logged_in? and @user == current_user %>
          <%= link_to t('user.edit.link'), edit_profile_path %>
        <% end %>
      </div>
    </div>
    <div class="infoUser">
      <h4><%= @user.fullname %></h4>
      <% unless @user.gender.blank? %>
        <p>
          <%= @user.gender.name %>
        </p>
      <% end %>
      <% unless @user.birth_year.blank? %>
        <p>
          <%= t('user.field.label.age_value', :age => @user.age) %>
        </p>
      <% end %>
      <p>
        <%= @user.city_location %>
        <% unless @user.location.blank? %>
          <br/>
          <%= @user.location %>
        <% end %>
      </p>
    </div>
    <br clear="all"/>
    <div class="divider"></div>
    <div class="info">

      <%# unless @user.contact_number.blank? %>
        <%#*<p>%>
          <%#*<label><%= t('user.field.label.contact_number') %>
          <%# if (logged_in? and current_user.email_validated?) %>
            <%#= @user.contact_number %>
          <%# else %>
            <%#=  @user.contact_number.gsub(/[0123456789]/, '*') unless string_nil_or_empty?(@user.contact_number) %>
          <%# end %>
        <%#*</p>%>
      <%# end %>

      <%# unless @user.extra_contact_number.blank? %>
        <%#*<p>%>
          <%#*<label>&nbsp;</label>%>
          <%# if (logged_in? and current_user.email_validated?) %>
            <%#= @user.extra_contact_number %>
          <%# else %>
            <%#=  @user.extra_contact_number.gsub(/[0123456789]/, '*') unless string_nil_or_empty?(@user.extra_contact_number) %>
          <%# end %>
        <%#*</p>%>
      <%# end %>

      <% unless @user.web.blank? %>
        <p>
          <label><%= t('user.field.label.web') %></label>
          <%= (link_to nil, User::WEB_PREFIX + subtract_dup_from_web_url(@user.web), :target => '_blank') unless string_nil_or_empty?(@user.web) %>
        </p>
      <% end %>

      <% unless @user.facebook.blank? and @user.twitter.blank? %>
        <p>
          <label><%= t('user.field.label.social') %></label>
          <% if !string_nil_or_empty?(@user.facebook) %>
            <%= link_to User::FACEBOOK_PREFIX + subtract_dup_from_facebook_url(@user.facebook), :target => '_blank' do %>
              <%= image_tag "social-facebook-16.png", :size => "16x16" %>
            <% end %>
          <% end %>
          &nbsp;
          <% if !string_nil_or_empty?(@user.twitter) %>
            <%= link_to User::TWITTER_PREFIX + subtract_dup_from_twitter_url(@user.twitter), :target => '_blank' do %>
              <%= image_tag "social-twitter-16.png", :size => "16x16" %>
            <% end %>
          <% end %>
        </p>
      <% end %>

      <% unless @user.languages.empty? %>
        <p>
          <label><%= t('user.field.label.languages') %></label>
          <%= @user.display_languages %>
        </p>
      <% end %>

      <% unless @user.bio.blank? %>
        <div class="divider"></div>
        <p class="bio">
          <%= auto_link_in_new_tab_without_simple_format @user.bio %>
        </p>
      <% end %>

      <% if logged_in? and !(current_user == @user) %>
        <p>
          <br/>
          <%= link_to new_message_path(:user => @user.username), :class => "btnAction" do %>
            <%= image_tag 'icon-email-bistiper-m.png' %>
            <%= t('message.link.new', :username => @user.username) %>
          <% end %>
        </p>
      <% elsif !logged_in? %>
        <p>
          <br/>
          <%= link_to new_message_path(:user => @user.username), :class => "btnAction" do %>
            <%= image_tag 'icon-email-bistiper-m.png' %>
            <%= t('message.link.new',:username => @user.username) %>
          <% end %>
        </p>
      <% end %>
    </div>
  </div>
</div>
