<% user = locals[:user] %>
<div id="userProfile">
  <div class="col12">
    <h2>
      <%= user.username %><%= render 'shared/trusted_badge', :locals => {:user => user} %>
      <br/>
      <span class="memberDate"><%= t('user.member_since') %> <%= @user.member_since %></span>
    </h2>
    <nav id="tabNav">
      <%= render_sub_menu_link t('user.show.link'), [profile_path(@user.username),
        {:controller => 'users', :action => "edit"},
        {:controller => 'passwords', :action => "edit"},
        edit_settings_path,
        dashboard_points_path]%>

      <%= render_sub_menu_link t('trip.index.link'), [trips_user_path(:username => @user.username)] %>
      <%= render_sub_menu_link t('seek.index.link'), [seeks_user_path(:username => @user.username)] %>
      <%= render_sub_menu_link t('user.field.label.review'), [reviews_user_path(:username => @user.username)] %>
    </nav>
  </div>
</div>
