<% page_title t('seek.match.label.heading') %>
<div class="text-01">
  <div style="padding-bottom: 5px" class="blue-link"><%= link_to t('seek.show.link_return'), seek_path(@seek) %></div>
  <div class="page-heading"><%= t('seek.match.label.heading') %></div>
  <div class="text-01">
    <table width="100%" cellspacing="1" cellpadding="1" border="0">
      <tbody>
        <tr>
          <td><%= t('seek.field.label.origin')%></td>
          <td>:</td>
          <td><%= render 'shared/city', :locals => {:city => @seek.origin_city} %></td>
        </tr>
        <tr>
          <td><%= t('seek.field.label.destination')%></td>
          <td>:</td>
          <td><%= render 'shared/city', :locals => {:city => @seek.destination_city} %></td>
        </tr>
        <% unless @seek.departure_date.nil? %>
        <tr>
          <td valign="top"><%= t('mobile.seek.field.label.departure_date')%></td>
          <td valign="top">:</td>
          <td><i><%= t(@seek.departure_date_predicate, :scope => 'date_predicate') unless @seek.departure_date_predicate.nil? %></i> <%= l(@seek.departure_date) %></td>
        </tr>
        <% end %>
        <% unless string_nil_or_empty?(@seek.notes) %>
        <tr>
          <td valign="top"><%= t('seek.field.label.notes')%></td>
          <td valign="top">:</td>
          <td><%= auto_link_in_new_tab_without_simple_format @seek.notes %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br/>
  <div class="page-heading"><%= t('seek.match.label.result', :count => @matches.count) %></div>
  <div>
    <% for match in @matches %>
      <%= render 'shared/trip_summary', :locals => {:trip => match} %>
    <% end %>
  </div>
  <div style="padding-top: 20px" class="blue-link"><%= link_to t('seek.show.link_return'), seek_path(@seek) %></div>
</div>
