<% page_title @seek.to_s %>
<div class="text-01">
  <% user = @seek.user %>
  <div class="page-heading" style="padding-bottom: 20px"><%=  t('seek.show.label.heading') %></div>
  <%= image_tag user.avatar.url(:thumb), :align => 'center' %>
  <span class="blue-link" style="padding-left: 3px;"><%= link_to user.username, profile_path(user.username), :class => "blue-link" %>&nbsp;
    <% if logged_in? and user != current_user %>
      (<strong><%= link_to t('mobile.user_summary.new_message'), new_user_message_path(:user_id => user) %></strong>)
    <% elsif !logged_in? %>
      (<strong><%= link_to t('mobile.user_summary.new_message'), new_user_message_path(:user_id => user) %></strong>)
    <% end %>
  </span><br/>
  <div class="profile-form-table table">
    <table width="100%" cellspacing="0" cellpadding="0" border="0">
      <tbody>
        <% unless @seek.active? %>
          <tr>
            <td colspan="3"><span class="text-red-01"><%= t('seek_summary.label.not_active') %></span></td>
          </tr>
        <% end %>
        <tr>
          <td><%= t('seek.field.label.origin')%></td>
          <td>:</td>
          <td><%= render 'shared/city', :locals => {:city => @seek.origin_city} %></td>
        </tr>
        <tr>
          <td><%= t('seek.field.label.destination')%></td>
          <td>:</td>
          <td><%= render 'shared/city', :locals => {:city => @seek.destination_city} %></td>
        </tr>
        <% unless @seek.departure_date.nil? %>
          <tr>
            <td><%= t('mobile.seek.field.label.departure_date')%></td>
            <td>:</td>
            <td>
              <strong>
                <i><%= t(@seek.departure_date_predicate, :scope => 'date_predicate') unless @seek.departure_date_predicate.nil? %></i>
                <%= l(@seek.departure_date, :format=>:short_date) %>
              </strong>
            </td>
          </tr>
        <% end %>
        <% unless string_nil_or_empty?(@seek.notes) %>
          <tr>
            <td valign="top"><%= t('seek.field.label.notes')%></td>
            <td valign="top">:</td>
            <td><%=auto_link_in_new_tab_without_simple_format @seek.notes %></td>
          </tr>
        <% end %>
        <tr>
          <td><%= t('social_share.label') %></td>
          <td>:</td>
          <td>
            <%= render 'shared/social_share', :locals => {:url => seek_url(@seek), :title => @seek.to_s } %>
          </td>
        </tr>
        <% if logged_in? and @seek.owner?(current_user) and @seek.active?%>
          <tr>
            <td colspan="3">
              <% trips_match_count = @seek.find_matching_trips.count %>
              <% if trips_match_count > 0 %>
                <%= t('seek.show.label.auto_match', :count => trips_match_count) %>
                <span class="red-link"><%= link_to t('seek.show.label.auto_match_link'), match_seek_path(@seek) %></span>
              <% end %>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <span style="padding-right: 10px" class="buttonlink-grey-01">
                <%= link_to t('seek.edit.link_short'), edit_seek_path(@seek) %>
              </span>
              <span class="buttonlink-grey-01">
                <%= link_to t('seek.destroy.link_short'), @seek, :confirm => 'Are you sure?', :method => :delete %>
              </span>
            </td>
          </tr>
        <% end %>
        <tr>
          <td colspan="3">&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </div>
<div style="padding-top: 5px; padding-left: 5px;" class="heading-grey"><%= t('comment.index.heading') %> (<%= @seek.comments.count %>)</div>
<div class="line-separator-01"></div>
<% if @skcomments.size > 0 %>
  <table cellpadding="1" id="skcomments">
    <tbody>
    <% for comment in @skcomments %>
      <%= render "seek_comments/seek_comment", :locals => {:comment => comment} %>
    <% end %>
    </tbody>
  </table>
  <div style="text-align: center">
    <%= will_paginate(@skcomments) %>
  </div>
<% else %>
  <span class="text-01" style="padding-left: 10px"><i><%= t('comment.index.no_comment') %></i></span>
<% end %>
<%= render "seek_comments/seek_new_comment" %>

</div>