<div style="font: normal 14px Helvetica, Arial, sans-serif; line-height: 19px; color: #333;">
  <p><%= @seek.user.username %> just posted a request looking for traveler from <%= @seek.origin_location %> to <%= @seek.destination_location %></p>
  <% unless @seek.item.blank? %>
    <p>He/she wants to get: <b><%= @seek.item.name %></b>. Can you help?</p>
  <% end %>
  <p><b>QuickMessage!</b> click 'Reply' to this email to send a message to <%= @seek.user.username %>. You can also attach up to 3 pictures.</p>
  <p>Or view the post and send a message through the link below:</p>
  <%= auto_link(seek_url(@seek)) %>
</div>
