<p>Total User: <%= User.count %></p>
<p>Total Rute Jalan Aktif: <%= Trip.count %></p>
<p>Total Wanted Post Aktif: <%= Seek.count %></p>
<p>Total Comment: <%= Comment.count %></p>
<p>Total Message: <%= Message.count %></p>
<p>Total Attachment: <%= Asset.count %></p>
<p>Total Good Reputation: <%= PositiveReputation.count %></p>
<p>Total Bad Reputation: <%= NegativeReputation.count %></p>
<p>Total Item: <%= Item.count %></p>
<p>Total Relation: <%= Relation.count %></p>