<div class="col9">
  <h4><%= t('influencer.link')%></h4><br/>
  <%= render 'shared/point_widget' %>
  <div id="influencerPoint">
    <div class="dashboardPlc bgLightYellow defaultRound">
      <% if @data.size > 0 %>
        <% @data.each do |inf| %>
          <% trip =  Trip.unscoped.find(inf[0]) %>
          <% user = trip.user %>
          <% point = inf[1] %>
          <%= link_to trip_path(trip), :class => "infoBlockLink" do %>
            <div class="infoBlock defaultRound mid">
              <div class="left">
                <div class="avatar">
                  <%= render 'shared/trusted_badge', :locals => {:user => user} %>
                  <%= image_tag user.avatar.url, :size => "64x64", :class => "photo" %>
                  <h5><%= user.username %></h5>
                  <div class="tools">
                    <%= render 'shared/user_review', :locals => {:user => user} %>
                  </div>
                </div>
              </div>
              <div class="right defaultRound">
                <%= render 'shared/trip_data', :locals => {:trip => trip, :item_count => TripItem::SUMMARY_COUNT} %>
              </div>
              <div class="pointDisplay bgYellow defaultRound">
                <%= point %><span>&nbsp;<%= t('influencer.field.label.point') %></span>
              </div>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <div class="notificationBar yellow"><%= t('influencer.label.not_found_shared_trip') %></div>
      <% end %>
    </div>
  </div>
  <div class="alignCenter">
    <%=  will_paginate @data %>
  </div>
</div>
