<p>Terjadi error/exception, berikut detail nya:</p>

<p style="color: red">caused by: <%= @message %></p>
<div class="error">
  <ul>
    <% for e in @trace %>
      <li><%= e.to_s %></li>
    <% end %>
  </ul>
</div>
