<% page_title t('trip.index.link') %>
<div id="dashboard">
<%= render 'reminder' %>
<%= render 'menu' %>
<div class="col9">
  <div class="dashboardPlc bgLightYellow defaultRound">
    <h4><%= t('trip.index.link') %></h4>
    <div id="searchResults" class="dashboard activity">
      <div id="dashboard_activity">
        <div id="trips">
          <% if @trips.size > 0 %>
            <% for trip in @trips %>
              <%= render "trip", :locals => {:trip => trip} %>
            <% end %>
          <% else %>
            <div class="notificationBar yellow"><%= t('trip.index.no_result') %> </div>
          <% end %>
        </div>
      </div>
    </div>
    <%= get_more_will_paginate(@trips, 'trips_pagination') %>
  </div>
</div>

</div>