<% page_title @topic.title %>
<div id="post_thread" class="text-01">
  <div style="padding-top: 20px; padding-bottom: 20px;" class="header01"><%= @topic.title %></div>

  <div style="margin-bottom: 30px;">
    <%= link_to t('post.new.link'), new_forum_topic_post_path(@topic.forum, @topic), :class => 'btnAction' %>
    <div style="float: right">
      <%= will_paginate @posts %>
    </div>
  </div>

  <% @posts.each do |post| %>
    <div class="post">
      <div class="post_header">
        <span><%= t('forum.from') %><%= render 'user', :locals => {:user => post.user} %></span>
        &nbsp;-&nbsp;
        <span class="smaller-text-01">
          <i><%= l(post.created_at) %> - <%= date_age_in_words post.created_at %></i>
        </span>
      </div>
      <% if post.quote? %>
        <div class="quoted_post">
          <%= t('forum.from') %><%= post.quoted_from.username %><br/>
          <%= clean_sanitize post.quoted %>
        </div>
      <% end %>
      <div class="post_body">
        <%= clean_sanitize post.body_display %>
      </div>
      <div class="post_footer">
        <div class="smaller-text-01" style="float:left">
          <% if post.edited? %>
            <i><%= t('forum.edited') %><%= date_age_in_words post.updated_at %></i>
          <% end %>
        </div>
        <div style="float:right">
          <span class="smaller-text-01">
            <% if logged_in? and post.owner?(current_user) %>
              <%= link_to t('post.edit.link'), edit_forum_topic_post_path(@topic.forum, @topic, post) %> -
              <%= link_to t('post.delete.link'), forum_topic_post_path(@topic.forum, @topic, post), :confirm => t('general.are_you_sure'), :method => :delete %> -
            <% end %>
          </span>
          <% if logged_in? %>
            <%= link_to t('post.quote.link'), quote_forum_topic_post_path(@topic.forum, @topic, post), :class => 'btnAction' %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <div style="margin-top: 30px;">
    <%= link_to t('post.new.link'), new_forum_topic_post_path(@topic.forum, @topic), :class => 'btnAction' %>
    <div style="float: right">
      <%= will_paginate @posts %>
    </div>
  </div>

</div>
