<div style="font: normal 14px Helvetica, Arial, sans-serif; line-height: 19px; color: #333;">
  <%= @giver.username %> <%= t('notifier.reputation.content.positive') %> <%= l(@created) %>
  <blockquote>
    <strong><i>&quot;<%= @content %>&quot;</i></strong>
  </blockquote>
  <%= t('notifier.reputation.link') %>
  <br/>
  <%= auto_link(user_positive_reputations_url(@receiver)) %>
</div>