<p>Terjadi error/exception, berikut detail nya:</p>
<p style="color: red; font-weight: bold;">Suspect:
  <%if @user.empty? %>
    STRANGER
  <% else %>
    <%= link_to @user.upcase, profile_url(@user) %>
  <% end %>
</p>
<p style="color: red">User agent: <%= @agent %></p>
<p style="color: red">IP address: <%= @ip %></p>
<p style="color: red">URL path: <%= @fullpath %></p>
<p style="color: red">Page referrer: <%= @referrer %></p>
<p style="color: red">caused by: <%= @message %></p>
<fieldset style="border: thin solid blue; color: red;">
  <legend style="font-weight: bold; color: blue">GEO Information :</legend>
  <ul>
    <li>Country: <%=@country_name%></li>
    <li>City: <%=@city%></li>
    <li>Region: <%=@region_name%></li>
    <li>Zipcode: <%=@zipcode%></li>
  </ul>
</fieldset>
<div class="error">
  <ul>
    <% for e in @trace %>
      <li><%= e.to_s %></li>
    <% end %>
  </ul>
</div>
