<div style="width: 100%;">
  <div style="padding: 3px 3px 3px 3px;">
    <br/>
    <div style="margin-left: auto; margin-right: auto;" id="influencer" align="center">
      <%= render 'influencer' %>
    </div>
  </div>
  <br/><br/>
  <div class="form-border header-mid-text" align="center">
    Apa itu <font color="green">"Top Influencer"</font> ?
  </div>
  <br/><br/>
  <div style="padding: 3px 3px 3px 3px;" align="center">
    <%= image_tag 'flow-id.png', :border => 0 %></div>

</div>
