<% page_title t('user.new.label.heading') %>
<div id="registration">
  <div class="col12">
    <h2><%= t('user.new.label.heading') %>&nbsp;@&nbsp;<%= image_tag 'demoasia-2012-logo.png'%> <%= render('shared/protected') %></h2>
    <h4>Get free 100 Bistip Point!</h4>
  </div>
  <div class="col6 bgYellow defaultRound">
    <h3 class="textBlack"><%= t('user.new.label.intro') %></h3>
    <%= form_for(@user, :url => {:controller => "users", :action => 'create_demo'}, :html => { :multipart => true }) do |f| %>
      <p>
        <label><%= t('user.field.label.email') %></label>
        <%= f.text_field :email %>
      </p>
      <p>
        <label><%= t('user.field.label.username') %></label>
        <%= f.text_field :username %>
      </p>
      <p>
        <label><%= t('user.field.label.fullname') %></label>
        <%= f.text_field :fullname %>
      </p>
      <p>
        <label><%= t('user.field.label.city') %></label>
        <%= location_auto_complete_js 'user_city_location', true %>
        <%= f.text_field :city_location %>
      </p>
      <p>
        <label><%= t('user.field.label.password') %></label>
        <%= f.password_field :password %>
      </p>
      <p>
        <%= raw t('user.field.label.eula',
            :terms_of_service => link_to(t('content.link.terms_of_service'), terms_of_service_path, :target => '_blank'),
            :privacy_policy => link_to(t('content.link.privacy_policy'), privacy_policy_path, :target => '_blank')) %>
      </p>
      <p>
        <label></label>
        <%= f.submit t('button.register'), :class => 'defaultButton' %>
      </p>
    <% end %>
  </div>
  <div class="col6">
    <h3 class="textBlack"><%= t('layout.label.social_login') %></h3>
    <p>
      <%= popup_auth("fbconnect2","/auth/facebook") %>
      <%= content_tag :button, :type=> "button", :class => 'facebook-login', :id => "fbconnect2" do %>
        <%=  image_tag "facebook_32.png", :border => 0 %>
      <% end %>
      <%= link_to "/auth/twitter" do %>
        <%= image_tag 'twitter_32.png', :border => 0 %>
      <% end %>
    </p>
    <p>
      <iframe src="http://www.facebook.com/plugins/facepile.php?
              app_id=161019173951344" scrolling="no" frameborder="0" style="border:none;height:70px;width:400px" allowTransparency="true"></iframe>
    </p>
    <div class="divider"></div>
    <h3 class="textBlack"><%= t('layout.label.already_registered') %></h3>
    <p>
      <%= link_to t('login.link'), login_path, :class=>"btnAction largeButton" %>
    </p>
  </div>
</div>
