<% page_title t('reputation.index.positive.heading') %>
<%= render 'shared/user_sub_menu' %>
<div class="text-01">
  <div class="page-heading"><%= t('reputation.index.positive.heading') %></div>
  <div id="reputations">
    <% if @positives.size > 0 %>
      <% @positives.each do |reputation| %>
        <%= render 'shared/reputation', :locals => {:reputation => reputation} %>
      <% end %>
    <% else %>
      <i><%= t('reputation.index.positive.no_result') %></i>
    <% end %>
  </div>
  <div style="text-align: center; clear: both;">
    <%= will_paginate(@positives)%>
  </div>
</div>