<% page_title t('reputation.heading.positive') %>
<div id="postReputation">
  <div class="col12">
    <h2><%= t('reputation.heading.positive') %></h2>
  </div>
  <div class="col7 bgLightYellow defaultRound">
    <h4 class="textBlack"><%= t('reputation.new.label.to') %>: <%= @user.username %></h4>
    <h4>
      <%= radio_button_tag 'reputation', 'positive', true %>&nbsp;<%= image_tag 'icon-thumbs-up.png' %> <span class="textGreen"><%= t('reputation.new.label.positive') %></span>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= radio_button_tag 'reputation', 'negative', false, {:onclick => javascript_redirect(new_user_negative_reputation_path(@user))} %>&nbsp;<%= image_tag 'icon-thumbs-down.png' %> <span class="textRed"><%= t('reputation.new.label.negative') %></span>
    </h4>
    <%= render 'form', :locals => {:user_id => @user} %>
  </div>
</div>

