<div class="notificationBar yellow"><%= raw t('insurance.new.label.instruction', :link => (link_to t('content.link.insurance'), insurances_path, :target => '_blank') ) %></div>
<p><%= t('insurance.new.label.scenario_heading') %></p>
<ol class="tips bgGrey defaultRound">
  <li><p><strong><%= t('insurance.new.label.scenario_a', :buyer => current_user.username, :seller => @insurance.message.not_this_user(current_user).username) %></strong></p></li>
  <li><p><strong><%= t('insurance.new.label.scenario_b', :username => current_user.username) %></strong></p></li>
  <li><p><strong><%= t('insurance.new.label.scenario_c', :username => current_user.username) %></strong></p></li>
</ol>
<br/>
<p><%= t('insurance.new.label.form_intro') %></p>
<p>
  <label><%= t('insurance.new.label.item') %><%= render 'shared/required' %></label>
  <%= f.text_field :item %>
</p>
<p>
  <label><%= t('insurance.new.label.type') %><%= render 'shared/required' %></label>
  <%= handle_insurance_type_select_js %>
  <select id="insurance_amount" name="insurance[amount]">
    <option value="0" <%= @insurance.amount == 0 ? 'selected' : '' %>></option>
    <option value="10000" <%= @insurance.amount == 10000 ? 'selected' : '' %>><%= t('insurance.new.label.type_10000') %></option>
    <option value="-1" <%= @insurance.amount == -1 ? 'selected' : '' %>><%= t('insurance.new.label.type_custom') %></option>
  </select>
</p>
<p id="coverValuePlaceholder" style="<%= @insurance.amount == -1 ? '' : 'display: none' %>">
  <label><%= t('insurance.new.label.custom_cover_value') %></label>
  <%= text_field_tag 'coverValuePlaceInput', @insurance.cover_value, :onchange => "javascript: $('#insurance_cover_value').val($(this).val());" %>
</p>