<% item = locals[:item] %>
<% ref = locals[:ref] %>
<%= link_to item_path(item, :ref => ref), :class => "infoBlockLink storeItemRow #{'old' unless item.active?}" do %>
  <div class="infoBlock">
    <% if !item.approved?  %>
      <div class="oldinfo"><%= t('store_item.show.label.not_active_short') %></div>
    <% end %>
    <div class="left">
      <div class="avatar">
        <% if item.has_picture? %>
          <%= image_tag item.pictures.first.attachment.url, :size => "50x50", :class => "photo bgWhite" %>
        <% else %>
          <%= image_tag 'default_original_item.png', :size => "50x50", :class => "photo bgWhite" %>
        <% end %>
      </div>
    </div>
    <div class="right">
      <%= item.name %><br/>
      <%= item.price_with_unit %>
    </div>
  </div>
<% end %>