<% user = @item.user %>
<% city = @item.origin_city %>
<% label_city = city.all_cities? ? city.country.name : city.name %>
<%= page_title(raw t 'store_item.show.label.meta_desc', :item => @item.name, :location => label_city )  %>
<%= meta_description(raw t 'store_item.show.label.meta_desc', :item => @item.name, :location => label_city )  %>
<%= meta_keywords @item.name %>
<div class="col9" id="storeItem">
  <div class="avatar">
    <% if !@main_picture.blank? %>
      <%= image_tag @main_picture.attachment.url, :size => "200x200", :class => "photo bgWhite" %>
    <% else %>
      <%= image_tag 'default_original_item.png', :size => "200x200" %>
    <% end %>
    <br/>
    <% unless @item_pictures.blank? %>
      <div class="thumbnails">
        <% @item_pictures.each_with_index do |item_picture, index| %>
          <% identifier = "item_" + @item.id.to_s + "_item_picture_" + index.to_s %>
          <%= picture_popup_js(identifier) %>
          <%= link_to item_picture.attachment(:original), :id => identifier, :class => 'thumbnail' do %>
            <%= image_tag item_picture.attachment(:thumb), :class => 'photo', :size => '40x40' %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="info">
    <% unless @item.active? %>
      <div class="notificationBar yellow">
        <%= t('store_item.show.label.not_active') %>
      </div>
    <% end %>
    <h2><%= @item.name %></h2>
    <div class="locationDisplay">
      <%= t('store_item.show.label.origin') %>:&nbsp;&nbsp;<%= render 'shared/city', :locals => {:city => @item.origin_city} %>
    </div>
    <div class="divider"></div>
    <% if @item.approved? %>
      <div class="buyDisplay bgGreen defaultRound">
        <span class="priceDisplay">
          <%= t('store_item.show.label.price') %>: <span class="textGreen"><%= @item.price_with_unit %></span>
        </span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <%= link_to t('store_item.show.label.buy_it_now'), new_store_order_path(:seller => user.username, :item_id => @item.id), :class => 'btnBuy' %>
      </div>
    <% end %>
    <% unless @item.notes.blank? %>
      <p>
        <%= auto_link_in_new_tab(@item.notes) %>
      </p>
    <% end %>
    <p>
      <% url = item_url(@item) %>
      <%= render 'shared/social_share_item', :locals => {:url => url, :title => (raw t 'store_item.show.label.meta_desc', :item => @item.name, :location => label_city )} %>
    </p>
  </div>
  <br clear="all"/>  <br clear="all"/>

  <br/>
</div>
<div class="col3" id="storeItemSeller">
  <br/>
  <h4 class="textBlack"><%= t('store_item.show.label.seller_info') %></h4>
  <div class="sellerDisplay">
    <div class="avatar">
      <%= image_tag user.avatar.url(:thumb), :size => "48x48", :class => "photo" %>
    </div>
    <div class="info">
      <div class="name"><%= link_to user.username, profile_path(user.username) %></div>
      <%= render 'shared/user_review_link', :locals => {:user => user} %>
    </div>
  </div>
</div>
