<div style="font: normal 14px Helvetica, Arial, sans-serif; line-height: 19px; color: #333;">
  <p>The following is an update to the SafePay transaction between <%= @escrow.buyer.username %> and <%= @escrow.seller.username %>:</p>
  <blockquote>
    <strong><i><%= t("notifier.escrow.#{@log_state}", :buyer => @escrow.buyer.username, :seller => @escrow.seller.username, :item => @escrow.item, :amount => @escrow.amount_with_currency) %></i></strong>
  </blockquote>
  <p>The next step is:</p>
  <blockquote>
    <strong><i><%= @escrow.last_log.get_awaiting_string %></i></strong>
  </blockquote>
  <br/>
  You can view the transaction through the link below:
  <br/>
  <%= auto_link(user_message_url(@user, @escrow.message)) %>
</div>