$("#trcomments").append("<% for c in @trcomments %><%= escape_javascript(render 'trip_comments/trip_comment',:locals => {:comment => c}) %><% end %>");
$("#trcomments_pagination").html("<%= escape_javascript(will_paginate(@trcomments, :renderer => TwitterPagination::LinkRenderer, :id => 'trcomments_pagination')) %>");