<% insurance = locals[:insurance] %>
<script type="text/javascript">
  $(document).ready(function() {
    $('#linkBankTransferPopup').fancybox({
      'transitionIn' : 'none',
      'transitionOut' : 'none',
      'scrolling': 'no'
    });
  });
</script>
<% if current_user == insurance.buyer %>
  <br/>
  <p>
    <%= link_to t('insurance.widget.label.bank_transfer'), '#bankTransferPopup', :class => 'btnAction', :id => 'linkBankTransferPopup', :onclick => '$("#bankTransferPopup").toggle(); return false;' %>
  </p>
<% end %>
<div id="bankTransferPopup" style="display: none">
  <br/>
  <p class="alignCenter">
    <%= image_tag 'bca.png' %>
  </p>
  <div class="largerText">
    <%= render 'insurances/bank_transfer_widget', :locals => {:insurance => insurance} %>
  </div>
</div>
