<% seller = current_user == @message.sender ? @message.receiver : @message.sender %>
<% pay_to = @message.not_this_user(current_user) %>

<% if !@message.escrow.blank? %>
  <div class="bgLightYellow defaultRound" id="protectionWidget">
    <%= render "escrows/widget", :locals => {:escrow => @message.escrow} %>
  </div>
<% elsif !@message.insurance.blank? %>
  <div class="bgLightYellow defaultRound" id="protectionWidget">
    <%= render "insurances/widget", :locals => {:insurance => @message.insurance} %>
  </div>
<% else %>
  <div class="bgLightYellow defaultRound" id="protectionWidget">
    <h4 class="textBlack">
      <%= t('message.show.label.safepay', :pay_to => pay_to.username) %>
      &nbsp;<%= link_to t('message.show.label.pay', :pay_to => pay_to.username), new_escrow_path(:seller_id => seller, :message_id => @message.id), :class => 'btnSafepay' %>
    </h4>
  </div>
<% end %>

<%= sticky_js 'protectionWidget' %>