<% page_title t('stories.new.heading') %>
<div id="story">

  <div class="col4">
    <h2>
      <%= t('stories.general.heading') %>
    </h2>
  </div>

  <div class="col4 bgLightYellow defaultRound">
    <%= render 'form' %>
  </div>

</div>
