<% page_title t('content.link.guide') %>
<div class="col4 padding2point5">
  <h2>Panduan keamanan menggunakan Bistip.com</h2>

  <p align="center">
    <%= image_tag 'guides-m.png', :class => 'defaultShadow' %>
  </p>
  <br/>

  <p>
    Kami yakin pada dasarnya sifat manusia adalah baik, namun ketenangan dalam bertransaksi dengan orang yang belum
    dikenal
    sebelumnya juga diperlukan. Selain dari pengembangan fitur yang yang terus-menerus kami lakukan, kami juga
    memberikan
    beberapa tips
    yang akan meningkatkan kenyamanan anda dalam melakukan aktifitas titip-menitip di bistip.
  </p>

  <p>
    <h4>Lihat tips berdasarkan kategori di bawah ini:</h4><br />
  </p>

  <p>
  <h4><%= link_to t('content.link.guide_all'), guide_all_path, :class=>"btnAction" %></h4>
  </p><br/>

  <p>
  <h4><%= link_to t('content.link.guide_bistiper'), guide_traveler_path, :class=>"btnAction" %></h4>
  </p><br/>

  <p>
  <h4><%= link_to t('content.link.guide_looker'), guide_requester_path, :class=>"btnAction" %></h4>
  </p>
</div>
<%= render 'shared/guide_menu' %>
