<% page_title t('content.link.guide') %>
<div class="col4">
  <h3 class="textBlack">Untuk Traveler</h3>
</div>
<div class="col4">
  <p><%= image_tag 'guide/legal.png', :class => 'tipsIcon' %><strong>Barang legal</strong><br/>
    Tolaklah permintaan barang ilegal. Mintalah izin untuk melihat sendiri isi barang titipan.
  </p>
</div>
<div class="col4">
  <p><%= image_tag 'guide/reputation.png', :class => 'tipsIcon' %><strong>Perhatikan
    reputasi</strong><br/>Bertransaksi dengan requester yang memiliki
    kelengkapan profil dan reputasi yang baik.
  </p>
</div>
<div class="col4">
  <p><%= image_tag 'guide/limit.png', :class => 'tipsIcon' %><strong>Berikan batasan
    jelas</strong><br/>Berapa jumlah atau nilai dari barang yang anda sanggup dititipi.
  </p>
</div>
<div class="col4">
  <p><%= image_tag 'guide/payment.png', :class => 'tipsIcon' %><strong>Kesepakatan
    pembayaran</strong><br/>Buat juga kesepakatan yang jelas mengenai pembayaran dari komisi yang akan anda terima.
  </p>
</div>
<div class="col4">
  <p><%= image_tag 'guide/rekber.png', :class => 'tipsIcon' %><strong>Bistip SafePay</strong><br/>
    Untuk pengaman transaksi anda bisa menggunakan Bistip SafePay. Silakan lihat
    halaman <%= link_to t('content.link.safepay'), safepay_path %> untuk keterangan lebih lanjut.
  </p>
</div>
<div class="col4">
  <p><%= image_tag 'guide/insurance.png', :class => 'tipsIcon' %><strong>Bistip Insurance</strong><br/>Asuransikan barang
    titipan anda dengan bistip untuk mengurangi resiko kehilangan, untuk mengetahui lebih lanjut
    silakan lihat halaman <%= link_to 'Bistip Insurance', insurances_path %></p>
</div>
<%= render 'shared/guide_menu' %>