<%= render 'shared/static_menu' %>
<% page_title t('content.link.media') %>
<div class="col9">
  <h2><%= t('content.link.media') %></h2>

  <div class="StaticTable">
    <ul>
      <li><%= image_tag 'media/DS.png', :border => 0 %>
        <br/></li>
      <li><%= image_tag 'media/navinot.png', :border => 0 %>
        <br/></li>
      <li><%= image_tag 'media/detik.png', :border => 0 %>
        <br/><br/><br/></li>
      <li><%= image_tag 'media/vivanews.png', :border => 0 %>
        <br/><br/></li>
      <li><%= image_tag 'media/kompas.png', :border => 0 %>
        <br/></li>
      <li><%= image_tag 'media/okezone.png', :border => 0 %>
        <br/><br/></li>
      <li><%= image_tag 'media/Penn-Olson.png', :border => 0 %>
        <br/></li>
      <li><%= image_tag 'media/logo-indonesiakreatif.jpg', :border => 0 %>
        <br/></li>
      <li><%= image_tag 'media/jak-globe-logo.png', :border => 0 %>
        <br/></li>
      <li><%= image_tag 'media/TempoInteraktif.png', :border => 0 %>
        <br/></li>
    </ul>
    <ul>
      <li><%= link_to '> Bistip in DailySocial [multiple posts]', 'http://dailysocial.net/?s=bistip&searchsubmit=Search', :target => '_blank' %>
        <br/><br/><br/></li>
      <li><%= link_to '> Bistip', 'http://www.navinot.com/2011/03/19/bistip/', :target => '_blank' %>
        <br/><br/><br/></li>
      <li><%= link_to '> Bistip, Situs Buat Nitip dan Dapat Tip', 'http://www.detikinet.com/read/2011/04/18/123443/1619648/398/bistip-situs-buat-nitip-dan-dapat-tip', :target => '_blank' %>
        <br/><br/><br/></li>
      <li><%= link_to '> Bistip, Situs untuk Titip-Menitip Barang', 'http://teknologi.vivanews.com/news/read/213608-bistip--situs-untuk-titip-menitip-barang', :target => '_blank' %>
        <br/><br/><br/></li>
      <li><%= link_to '> Bistip.com Mudahkan Titip-menitip Barang', 'http://tekno.kompas.com/read/2011/04/04/12504553/Bistip.com.Mudahkan.Titip.menitip.Barang', :target => '_blank' %>
        <br/><br/><br/></li>
      <li><%= link_to '> Bistip.com, Komunitas Online Titip-Menitip Barang', 'http://techno.okezone.com/read/2011/04/19/90/447765/bistip-com-komunitas-online-titip-menitip-barang', :target => '_blank' %>
        <br/><br/><br/></li>
      <li><%= link_to '> BisTip: Indonesia’s Clever Peer-to-Peer Courier Service', 'http://www.penn-olson.com/2011/06/02/bistip-indonesias-peer-to-peer/', :target => '_blank' %>
        <br/><br/><br/></li>
      <li><%= link_to '> Idea Connect : #StartupLokal dan Bistip.com', 'http://komputer.indonesiakreatif.net/index.php/id/news/read/idea-connect-startuplokal-dan-bistip.com-kepercayaan-konsumen-adalah-modal-penting-', :target => '_blank' %>
        <br/><br/><br/></li>
      <li><%= link_to '> Got a Little Extra Luggage Space? Be a Courier', 'http://www.thejakartaglobe.com/consumertech/got-a-little-extra-luggage-space-be-a-courier/466343', :target => '_blank' %>
        <br/><br></li>
      <li><%= link_to '> Ini 25 Pemenang Sparx Up Awards 2011', 'www.tempointeraktif.com/hg/it/2011/10/20/brk,20111020-362473,id.html', :target => '_blank' %>
      <br/></li>
    </ul>

  </div>
</div>