<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $("#routeCloud a").tagcloud({
      size: {
        start: 16,
        end: 22,
        unit: "pt"
      },
      color: {start: '#035CA0', end: '#034E86'}
    });
  });
</script>
<h3><%= t('home.index.label.tag_cloud') %></h3>
<div id="routeCloud">
  <% cache('all_route') do %>
    <% most_active_route = Trip.active_only_without_routine.count(:group => ['origin_city_id', 'destination_city_id'], :order => 'count_all DESC', :limit => 5) %>
    <% most_active_route_random = most_active_route.sort_by{rand} %>
    <% most_active_route_random.each do |rows| %>
      <% origin = City.find_by_id(rows[0][0]) %>
      <% destination = City.find_by_id(rows[0][1]) %>
      <% link_name = origin.name + '-' + destination.name %>
      <% active_number = rows[1] %>
      <%= link_to link_name, search_trip_path(:origin => (origin.name + ", " + origin.country.name),
                                              :destination => (destination.name + ", " + destination.country.name), :ref => TrackLink.generate(request.path, TrackLink::CLOUD_REF)),
                             :rel => active_number %>
    <% end %>
    <% ActiveRecord::Base.connection.execute("select countries.continent_id, trips.destination_city_id, count(*) as count from trips LEFT OUTER JOIN cities ON trips.origin_city_id = cities.id  LEFT OUTER JOIN countries ON cities.country_id = countries.id where countries.continent_id IN (2,3,6) and (departure_date >= '#{DateTime.current.beginning_of_day}' or routine is true) and deleted = false group by countries.continent_id, trips.destination_city_id order by count DESC limit 2").each do |rows| %>
      <% origin_continent = Continent.find_by_id(rows[0]) %>
      <% destination = City.find_by_id(rows[1]) %>
      <% link_name = origin_continent.name + '-' + destination.name %>
      <% active_number = rows[2] %>
      <%= link_to link_name, search_trip_path(:origin => (City::ALL_CITIES + ", " + origin_continent.name),
                                              :destination => (destination.name + ", " + destination.country.name), :ref => TrackLink.generate(request.path, TrackLink::CLOUD_REF)),
                             :rel => active_number %>
    <% end %>
    <% ActiveRecord::Base.connection.execute("select cities.country_id, trips.destination_city_id, count(*) as count from trips LEFT OUTER JOIN cities ON trips.origin_city_id = cities.id where cities.country_id NOT IN (196, 100, 156, 94) and (departure_date >= '#{DateTime.current.beginning_of_day}' or routine is true) and deleted = false group by cities.country_id, trips.destination_city_id order by count DESC limit 3").each do |rows| %>
      <% origin_country = Country.find_by_id(rows[0]) %>
      <% destination = City.find_by_id(rows[1]) %>
      <% link_name = origin_country.name + '-' + destination.name %>
      <% active_number = rows[2] %>
      <%= link_to link_name, search_trip_path(:origin => (City::ALL_CITIES + ", " + origin_country.name),
                                              :destination => (destination.name + ", " + destination.country.name), :ref => TrackLink.generate(request.path, TrackLink::CLOUD_REF)),
                             :rel => active_number %>
    <% end %>
  <% end %>
  
</div>

